[2016-12-12 11:59] primeroz commented on #22113
My mistake in the comment (now edited) , you are right it ... i had an "half cluster" with on 5.0.x and one 5.1.0 (which was the master) when i got my first 5.1.1 and so it must have failed for the same reason is failing now.

I know that was not supposed to be available, but i mirror the repo and so the mirroring must have run when it was available.

I had 3 nodes at 5.0.1 , one died and i redepl

[2016-12-12 12:09] primeroz commented on #22113
Full cluster restart with upgrade seems to have worked fine indeed.

thanks

[2016-12-12 12:57] arosenheinrich commented on #20969
Indeed we are using the REST API here. Thanks for fixing it!

[2016-12-12 12:58] clintongormley commented on #22114
@dadoonet could you take a look please?

[2016-12-12 13:05] clintongormley commented on #22109
It looks like you downloaded the zip file into the plugins directory

[2016-12-12 13:11] clintongormley commented on #22107
After restarting a node, it has to sync up its shards.  If you're actively indexing then Elasticsearch can't use sync-flushed shards for fast recovery.  So far I'm not seeing any worrying behaviour here. I'd suggest continuing this discussion in the forums (discuss.elastic.co) and reopen this ticket if you find a bug.

[2016-12-12 13:11] #22107 closed

[2016-12-12 13:25] clintongormley commented on #22086
@chriszhangz we ask for a replication because it is usually not obvious just from a description what you are doing.  You say that highlighting doesn't work with the boost query, but try this example and you can see that it does:

[code]

If you mean, instead, that highlighting doesn't work when you boost particular fields in a query, then it may be a duplicate of this issue: https://github.com/ela

[2016-12-12 13:25] #22086 closed

[2016-12-12 13:33] clintongormley commented on #22087
@nknize could you provide some wisdom please

[2016-12-12 13:35] clintongormley commented on #22083
@jasontedor any thoughts?

[2016-12-12 13:50] s1monw opened #22116 "Only grant `connect,accept` permissions to `transport-netty4`"
Today we still grant a quite scary permission to [core](https://github.com/elastic/elasticsearch/blob/master/core/src/main/resources/org/elasticsearch/bootstrap/security.policy#L58):

[code]

But since we now have netty4 moved to a module we can potentially move this to into the modules [security policy](https://github.com/elastic/elasticsearch/blob/master/modules/transport-netty4/src/main/plugin-

[2016-12-12 13:52] jasontedor commented on #22116
+1

[2016-12-12 14:13] clintongormley commented on #21948
Hi @rhbecker

We shouldn't add syntax specifically for nested fields.  Instead, here's an issue discussing how we could combine the scores from any query (including nested queries) https://github.com/elastic/elasticsearch/issues/17116

[2016-12-12 14:13] #21948 closed

[2016-12-12 14:14] clintongormley commented on #19763
thanks @rhbecker

[2016-12-12 14:14] #19763 closed

[2016-12-12 14:14] tsg opened #22117 "Ingest Node's grok can't set the same field from two patterns"
**Elasticsearch version**: 5.0.1

**Plugins installed**: ingest-node-geoip, ingest-node-ua

**JVM version**: 1.8

**OS version**: macOS sierra

**Description of the problem including expected versus actual behavior**:

See the following Ingest node simulate API call:

[code]

There are two Grok patterns, and the provided doc should match the second one. This works fine, but the `mysql.error.messag

[2016-12-12 14:28] clintongormley commented on #21931
Please ask questions like these in the forum instead: https://discuss.elastic.co/

The github issues list is reserved for bug reports and feature requests only.

thanks

[2016-12-12 14:28] #21931 closed

[2016-12-12 14:33] clintongormley commented on #21193
No further feedback. Closing

[2016-12-12 14:33] #21193 closed

[2016-12-12 14:34] clintongormley commented on #21927
@markharwood any thoughts?

[2016-12-12 14:39] clintongormley commented on #21900
No further feedback. Closing

[2016-12-12 14:39] #21900 closed

[2016-12-12 14:41] clintongormley commented on #21898
@talevy what do you think?

[2016-12-12 14:46] clintongormley commented on #22117
@talevy any thoughts?

[2016-12-12 14:49] clintongormley commented on #22113
nothing to do here i think.  5.1.0 should not be used

[2016-12-12 14:49] #22113 closed

[2016-12-12 14:50] clintongormley commented on #22070
@DrunkenInfant like i say, i'd ask the author plugin

[2016-12-12 14:58] clintongormley commented on #21457
Closed by https://github.com/elastic/elasticsearch/pull/21493

[2016-12-12 14:58] #21457 closed

[2016-12-12 15:00] Hronom commented on #21457
@clintongormley sorry for duplicating question is ttl available in ES 5.x ?

[2016-12-12 15:03] clintongormley commented on #20479
@marshall007 it's here: https://www.elastic.co/guide/en/elasticsearch/reference/2.4/_index_templates.html

[2016-12-12 15:03] clintongormley commented on #21457
@Hronom only for bwc, not for new indices

[2016-12-12 15:06] s1monw commented on #22108
@ywelsch can we in this particular case check if the cluster state we use to get the number of master nodes in the cluster has the same value as the one we are trying to apply and then skip the check and apply? I think for this particular situation this is enough?

[2016-12-12 15:08] clintongormley commented on #21967
Please could you paste the stack trace from the Elasticsearch logs

[2016-12-12 15:23] dadoonet opened #22118 "Add support for Debug.explain in scripted aggs"
When you try to debug a painless script in scripted aggs like `"Debug.explain('foo bar');` you are getting back:

[code]

[2016-12-12 16:11] dadoonet opened #22119 "SearchTemplateRequestBuilder breaking change from 5.0 to 5.1"
**Elasticsearch version**: 5.1.1
**Description of the problem including expected versus actual behavior**:

I'm using the following Java code against a Node running elasticsearch 5.0.1:

My `pom.xml` file:

[code]

My code:

[code]

Everything works fine.

Then I upgrade the server to 5.1.1. Note that I don't upgrade the TransportClient version.

It now fails with:

[code]

It means that we change

[2016-12-12 16:15] dadoonet commented on #22119
When running a 5.1 Transport client on a 5.0 node, changing the code with:

[code]

you get:

[code]

[2016-12-12 16:20] ywelsch commented on #22108
The check is called by the settings update validator, which is called in two contexts:
1) when the user submits a settings change and master validates the setting (dryRun).
2) when the cluster service applies a cluster state update with the updated setting (that was published and validated before).

If I understand your suggestion, you would like to distinguish between those 2 situations and only

[2016-12-12 16:39] dadoonet commented on #22119
I created a mixed cluster running one 5.0 and one 5.1 nodes.
Using the REST interface, I can't reproduce the problem. So it's only when using the TransportClient apparently.

Script used:

[code]

Then

[code]

[2016-12-12 17:03] dakrone commented on #22102
Related: https://github.com/elastic/elasticsearch/issues/22091

[2016-12-12 17:03] ywelsch commented on #15798
The relocation target shard is now auto-cached by the relocation source object.

[2016-12-12 17:03] #15798 closed

[2016-12-12 17:04] blinken commented on #22043
Thanks all, I notice this has a fix going in for 5.0.3 / 5.1.2. I'll test when those versions are released and advise if we run into this again. Appreciate the quick response!

[2016-12-12 17:04] imotov opened #22120 "[CI] MinimumMasterNodesIT.testMultipleNodesShutdownNonMasterNodes sporadically fails"
The `testMultipleNodesShutdownNonMasterNodes` test in  `org.elasticsearch.cluster.MinimumMasterNodesIT` suite started to fail regularly. It failed 6 times over the weekend and once [today](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=oraclelinux/385/console). I cannot reproduce it locally.

The failure is

[code]

[2016-12-12 17:08] PhaedrusTheGreek opened #22121 "action.destructive_requires_name: true is ignored"
**Elasticsearch version**:
2.2 through current

**Steps to reproduce**:
 1.  Set `action.destructive_requires_name: true`
 2.  Do:

[code]

Error indicates acknowledgement of the feature

[code]

But `_cat/indices` shows indices deleted.

[2016-12-12 17:11] jbflowers opened #22122 "Cannot find broken indexes using log descriptions alone"
**Elasticsearch version**: 5.0.0

**Plugins installed**: [none]

**JVM version**: 1.8.0_60

**OS version**: Centos 6.7

**Description of the problem including expected versus actual behavior**:
Warning and exception log file outputs index and shard ids by name like:

[2016-12-12T11:29:46,815][WARN ][o.e.c.a.s.ShardStateAction] [TOR-DT-JFLOWERS] [logstash-2016.11.20][2] received shard failed for sh

[2016-12-12 17:17] polyfractal opened #22123 "Profiling aggregation with sort order throws 'invalid path' error"
A query from Kibana configures some aggregations, then sorts a `terms` agg with a child `cardinality` agg.  This works fine as a regular query, but when profiled throws an exception about bad sorting.

Reproduction:

[code]

Which throws:

[code]

The non-profiled version returns an empty set of results as you'd expect:

[code]

@colings86 any thoughts?  I haven't had a chance to look into this at

[2016-12-12 17:32] colings86 commented on #22123
@polyfractal I think I know whats going on here. To profile the aggregations we wrap the Aggregator in a ProfilingAggregator. This does not implement/extends the Interfaces/Classes that the terms sorting will look for so will cause the error. I haven't looked at the code to confirm this, but I'm pretty sure that's what is going on here

[2016-12-12 17:33] ywelsch commented on #22043
@blinken The fix covers the log file spamming. I don't have a good theory though for the three shards which seemed to be stuck in an endless loop trying to relocate. Please report back if anything like this occurs again.

[2016-12-12 17:43] jdconrad commented on #22118
@nik9000 Any thoughts on why this might happen?

[2016-12-12 17:51] ywelsch commented on #22121
I tried this with ES 2.3.3 and could not reproduce it.

- How did you set `action.destructive_requires_name: true`?
- Is this a single-node cluster? Any special plugins installed?
- Can you repeat the experiment with a clean ES install?

[2016-12-12 18:03] dadoonet opened #22125 "scriptedMetric mapScript is swallowing exceptions with painless"
I'm running the following test code on 5.0 and 5.1:

Working:

[code]

Failing with `we should have an exception for map`:

[code]

Working:

[code]

Working:

[code]

The exception is not sent only in the context of `mapScript`. Which might explain #22118 as I was using is `Debug.explain` in this context.

[2016-12-12 18:10] #22121 closed

[2016-12-12 18:16] rboorugu opened #22127 "using msearch with bulk API"
i generate some  tags out of the document after its indexed for which i have been making use of msearch with percolator queries - below is sample payload

 {"body":["
{"index":"search-stack"},
{"from":0,"size":1000,"query":{"percolate":{"field":"query","document_type":"all","index":"search-stack","type":"all","id":10}},"_source":false},
{"index":"search-stack"},
{"from":0
,"size":1000,"query":{"pe

[2016-12-12 18:48] javanna commented on #22120
Not sure this is happens sporadically, I saw this a couple of times today out of probably 10 runs.

[2016-12-12 19:38] chrono opened #22128 "Docs advise using deprecated ENV var ES_HEAP_SIZE / broken upgrade process"
After upgrading from 2.x we ran into issues with the heap size. It reverted to some default of around ~2G.

It seems that support for this variable was removed in 5.x

Documentation: https://www.elastic.co/guide/en/elasticsearch/guide/current/heap-sizing.html This is (despite saying "current" in the url) the documentation of 2.x.

There is no mention of it being deprecated.

During the upgrade pro

[2016-12-12 19:49] dakrone commented on #22122
@jbflowers can you help us understand why this message would require finding the path of disk? I guess I'm unsure what you intend to do with the data after it's found.

[2016-12-12 20:27] cortopy opened #22129 "Google storage plugin not found"
**Elasticsearch version**: 2.4.1

**Description of the problem including expected versus actual behavior**:

If I run `/elasticsearch/bin/plugin install repository-gcs` no plugin is found.

The terminal outputs a not found error:

[code]

I've tried to see if there's a full link in the docs, but no link is mentioned in the docs for 2.4.1. If I try with the [offline link for elasticsearch 5](https:

[2016-12-12 20:41] jbflowers commented on #22122
I'm trying to  get my ES running again?
I plan to delete the index or run Lucene's "CheckIndex -fix" on it. The point here is to fix or delete the problem index.
Is there some other solution I'm missing here? Are you saying I should just wipe my whole cluster???

[2016-12-12 21:19] jasontedor commented on #22129
There is not a repository-gcs plugin for Elasticsearch 2.4.1, only starting in Elasticsearch 5.0.0 was there a plugin that provided repository support with Google Cloud Storage on the backend.

[2016-12-12 21:19] #22129 closed

[2016-12-12 21:19] jasontedor commented on #22129
Relates #13578

[2016-12-12 21:46] dakrone commented on #22122
You should try and understand why the shard was failed before deleting it, if you delete the index from disk ES is still going to complain when you start it back up since the data is still present in the persisted cluster state information. Perhaps you have more log messages about why the shard was marked as failed prior to the message being sent?

I never said or implied that.

[2016-12-12 22:00] talevy commented on #22117
I'll take a look at this

[2016-12-12 22:48] jbflowers commented on #22122
Haha, I edited the comment _waaaaay_ before you replied. Realized I was angry and melodramatic at first :)
Not entirely sure how you even saw it, although I bet you got angry too and copy-pasted from an email. Anyhow, sorry about that.

And yeah, there's some potentially important information before that error. Thanks for the suggestion! I'll post those later but for now I want to see the rest of

[2016-12-13 01:02] talevy commented on #22117
did some digging, this was definitely a bug on my end. Opened the PR above and tested it out with your example in Console, picks it up.

<img width="1161" alt="screen shot 2016-12-12 at 5 01 55 pm" src="https://cloud.githubusercontent.com/assets/388837/21123296/b92f06ae-c08c-11e6-8b19-8f91fa3d6216.png">

[2016-12-13 04:11] animageofmine commented on #21988
Is there anyone looking at this  bug? Or are we on our own with the new versions?

[2016-12-13 08:31] makeyang opened #22133 "[code issue][discuss]should method innerJoinCluster of ZenDiscovery class loop certain times and quit rather than loop forever when join master fail?"
below is a abstract logic of innerJoinCluster:
{
    final boolean success = joinElectedMaster(masterNode);
    clusterService.submitStateUpdateTask("finalize_join (" + masterNode + ")", new ClusterStateUpdateTask(){
        public ClusterState execute(ClusterState currentState) throws Exception {
                    if (!success) {
                        // failed to join. Try again...

[2016-12-13 09:33] jpountz commented on #22091
Fixed via 20ff703

[2016-12-13 09:33] #22091 closed

[2016-12-13 10:21] javanna commented on #21988
I had a look and I don't see any particular regression in our OS stats. On my machine, I get the same values when I compare 2.4 output with 5.0 output. I think this may have to do specifically with docker, though we have to verify what changed around this with 5.0. @jasontedor do you happen to have any idea?

[2016-12-13 10:22] MaineC commented on #21260
Fixed with #22026

[2016-12-13 10:22] MaineC commented on #21258
Fixed with #22026

[2016-12-13 10:22] #21258 closed

[2016-12-13 10:22] #21260 closed

[2016-12-13 11:06] felixsanz opened #22136 "Using size parameter - Terms Aggregations on 5.x"
On 2.x versions i used to apply `size: 0` to achieve what the docs say:

And the terms aggregation gave me as many result buckets as terms i had.

But on 5.x i'm getting `size must be positive, got 0` as error. If i omit the value, i only get 10 results back. The docs says:

So it's not clear how to achieve the same and get not only 10 buckets but all instead.

How i do that? Thanks

[2016-12-13 11:09] amihaiemil opened #22137 "Is there a simple way to do autocomplete?"
I would like to implement suggestion/autocomplete for the user input.

E.g. if the user starts typing, let's say ``auth``, I would like to display options such as ``authorization``, ``authentication`` etc.
Of course, the option should yield results, so they should come from the index.

I tried going with the straightforward [Suggesters](https://www.elastic.co/guide/en/elasticsearch/reference/2.3/s

[2016-12-13 11:12] amihaiemil commented on #22137
@jpountz Maybe you or one of your colleagues can give me a hint here? :D

Many thanks,
Mihai

[2016-12-13 11:18] jimczi commented on #22136
You can check here why we decided to remove the `size:0` option:
https://github.com/elastic/elasticsearch/issues/18838

So you can just specify a size that is bigger than the cardinality of your field. If the cardinality is big you should consider other options since returning millions of terms is going to cause problem in your cluster.

Also we reserve github for bugs and feature requests so the

[2016-12-13 11:18] #22136 closed

[2016-12-13 11:18] jasontedor commented on #22133
Elastic reserves GitHub for verified bugs and feature requests. It's best to ask general questions about the code on the [forum](https://discuss.elastic.co).

[2016-12-13 11:18] #22133 closed

[2016-12-13 11:24] makeyang commented on #22133
@jasontedor  I don't think it's a questions.

[2016-12-13 11:31] hrahal opened #22138 "filtering a date of a child, breaks boost_mode on the parent level"
**Elasticsearch version**: 5.0

**Plugins installed**: []

**JVM version**:

**OS version**:  OS X 10.11.6

**Description of the problem including expected versus actual behavior**:

I'm dealing with a schema that relates, companies to branches to employees,

so I'm using a parent -> child -> grand-child approach with the following mapping:

**Steps to reproduce**:
 1. insert mapping

[code]

2. i

[2016-12-13 11:31] jimczi commented on #22137
@amihaiemil we reserve github for bugs and feature requests. You can ask general questions like this on the forum:
https://discuss.elastic.co/c/elasticsearch

As a side note I am not sure that:

is a good reason not to try. Autocompletion is not "simple" especially because it needs to be fast. Though the completion suggester documentation shows you exactly what you need to do to make it works so p

[2016-12-13 11:31] #22137 closed

[2016-12-13 11:35] amihaiemil commented on #22137
@jimczi sure, thanks for the response.

I meant ``too complicated`` because you have to prepare mappings/settings for autocomplete but on the other hand, word correction, which seems more complicated, can be done with a simple call.

So I just assumed I got it wrong, that in fact there might be such a simple way for autocomplete as well.

[2016-12-13 11:49] gogularaja commented on #11609
Hi All,

I am facing an issue while taking elasticsearch snapshot in cluster. I found it is because of different permission of elasticsearch user in one of my node.

I have 2 servers. Configured as cluster
server1: 10.0.0.0
server2: 10.0.0.1

I have changed the userid & groupid of elasticsearch user in server2. So that to keep it same across all the nodes.
But after changing it, i am unable to sta

[2016-12-13 11:52] jotaoncode commented on #22138
+1

[2016-12-13 12:15] chenryn commented on #22024
Is this meaning asynchronous replica will be published when shadow replica is totally removed?

[2016-12-13 12:39] MaineC commented on #22128
As you seem to have pinned down the exact location in the code base that is causing the issue - would you mind taking this a step further and submitting a pull request with a fix?

[2016-12-13 12:55] becjon opened #22140 "Include in term aggregation not working on integer field"
**Elasticsearch version**:5.1.1

Below are two documents of type 'book' which have the fields title, year and yearint.

[code]
Documents:

[code]

The following is a term aggregation on the field "year" (mapped as String).

[code]

Result:

[code]
As you can see the "YearsSelected" aggregation contains only the bucket, which was specified in the include ("2007"). "YearsNonSelected" aggregation con

[2016-12-13 13:38] nik9000 commented on #22118
Looks like @dadoonet's already figured it out: #22125.  I'll have a look at fixing both issues soon! It'll be a historical expidition to figure out why we caught all exceptions and did nothing - probably to do with aggs across many indices.

[2016-12-13 14:10] jimczi commented on #22140
Thanks @becjon . This is indeed a bug, I opened https://github.com/elastic/elasticsearch/issues/22141

[2016-12-13 14:48] tberne opened #22142 "Windows-friendly start/stop processes"
Feature request.
**Describe the feature**: Elasticsearh could provide a more Windows-friendly way of starting and stopping.
Let me explain.
The JVM parameters must be passed by setting `ES_JAVA_OPTS` environment variable with a variable per line. In *nix systems, it is trivial to be done. But in Windows, it may be done in a hacky way. For example:

    setlocal enableDelayedExpansion
    set NL=^

[2016-12-13 14:59] tberne commented on #22142
Just to show an example, [here's a simplified version of how I managed to start and stop Elasticsearch on Windows](https://gist.github.com/tberne/29185659f1716cd6fa33f7e18bbeed76).

[2016-12-13 15:32] #22102 closed

[2016-12-13 15:53] jasontedor commented on #22142
You didn't say the version, so I will only describe current state (since that's all we are likely to consider improvements to).

The preferred way to set JVM options is via `jvm.options`. Why aren't you using this?

We have a [Windows service](https://www.elastic.co/guide/en/elasticsearch/reference/5.1/windows.html#windows-service) that allows you to start and stop Elasticsearch. Why is this not s

[2016-12-13 16:10] tberne commented on #22142
I forgot to mention. Elasticsearch version 5.1.1.
I didn't describe the complete scenario. This is for a standalone version of product we develop here in the company I work. We have a build process that embbeds the Elasticsearch in this standalone distribution.
It is easier for us to leave config files untouched and perform all required configurations via scripting.
As it is a single-zip distribut

[2016-12-13 16:13] jasontedor commented on #22142
We are not going to support this, sorry. We support running Elasticsearch as a stand-alone server from the distributions that we provide.

[2016-12-13 16:13] #22142 closed

[2016-12-13 16:15] tberne commented on #22142
Please, reconsider this. It really affects not only me, but anyone who tries to manage Elasticsearch via scripting in Windows.

[2016-12-13 17:42] ywelsch commented on #22120
This test failure is triggered by PR #22049 which simplifies the cluster state update logic to only change the list of disco-nodes in the cluster state when said cluster state is going to be published. This means that a node cannot just locally change its cluster state and state changes always have to go through an active master.  The test failure here highlights a few issues that are not only bou

[2016-12-13 18:30] jasontedor commented on #22024
It does not mean that.

[2016-12-13 19:16] djschny opened #22147 "add `ignore_missing` property to `foreach` processor"
**Elasticsearch version**: v5.1.1

**Description of the problem including expected versus actual behavior**:

The `foreach` processor throws an error if the json element is not present in the document. Request to have it implement `ignore_missing` to resolve like what was done for other processors so that `ignore_failure` is not needed.

See https://github.com/elastic/elasticsearch/issues/19995 fo

[2016-12-13 19:45] djschny opened #22149 "add ability delete pipelines with wildcards"
**Elasticsearch version**: v5.1.1

**Describe the feature**: Bulk deletion of pipelines with wildcards

If there are multiple pipelines that one would like to delete, it currently requires the deleting them individually as opposed to be able to supplying a `*`. This can be done for `_template` but appears to not be allowed for pipelines:

[code]

[code]

[2016-12-13 19:55] jasontedor commented on #21988
Sorry, but this appears to be a Docker issue. I can reproduce it, but only inside a Docker container. Yet, it has nothing to do with Elasticsearch as the following Java code shows:

[code]

This produces the same output as Elasticsearch does running inside the container. This isn't surprising, since this is exactly the same code that we use inside of Elasticsearch to report the free memory statist

[2016-12-13 19:55] #21988 closed

[2016-12-13 20:41] animageofmine commented on #21988
@jasontedor Thanks for looking into it.

Do you mean that you were able to repro the issue when you dockerized ES 5.0.1, but if you execute the same thing on host (no container), you can't repro?

Following is the dockerfile content that matters for 5.0.1

[code]

[2016-12-13 20:49] jasontedor commented on #21988
@animageofmine That's correct, it reproduces on Dockerized 5.0.1 (and this means that I see Elasticsearch and the simple Java program I gave above reporting free memory that are in discordance with `free` inside in the Docker container), but it does not reproduce on the host.

[2016-12-13 20:53] animageofmine commented on #21988
Thanks for confirming. Let me see, if I can find something useful here. Strange to find this issue only in dockerized container.

When you ran directly on your host, is the host debian based? I am just wondering if java 1.8 has issues on debian.

[2016-12-13 21:19] #22117 closed

[2016-12-13 21:32] jasontedor commented on #21988
I agree, it's quite puzzling. I have more info for the puzzle too. I put together a trivial C program that is equivalent to the code the JVM executes when it is getting free memory from the system.

[code]

This program produces the *correct* value inside the host (correct as measured by matching `free` and `/proc/meminfo` (if you `strace` the JVM when it's getting the free memory from the system,

[2016-12-13 22:25] spinscale commented on #21988
I can only score with half baked docker knowledge, but I just remembered from some playing around time ago that the `/proc` fs is shared and thus contains the host statistics, but is not cgroup aware.

Can you start the docker instance with the `-m` parameter?

[2016-12-13 23:41] davidklebanoff opened #22153 "Shield 2.4.3 maven release is a test jar!"
I pulled the latest release of shield down from the maven repository, and it appears that it's only full of tests and no main source code!

https://maven.elasticsearch.org/releases/org/elasticsearch/plugin/shield/2.4.3

[2016-12-14 00:10] #22111 closed

[2016-12-14 05:14] henushang opened #22155 "ElasticSearch2.1 Java API Scan and scroll return empty list"
the detail see the link:
http://stackoverflow.com/questions/41114614/elasticsearch-java-scan-and-scroll-return-empty-list

[2016-12-14 06:13] ervinyang opened #22156 "ES-v5.0.1 throw java.lang.SecurityException while snapshot"
**Elasticsearch version**: 5.0.1

**Plugins installed**: `repository-hdfs`

**JVM version**:

[code]

**OS version**:

[code]

**Description of the problem including expected versus actual behavior**:
When I create repositories, ES response

[code]

but when I create snapshot of index, it throws exception:

[code]

**Steps to reproduce**:
 1.create repositories

[code]

 2.snapshot my index

[code

[2016-12-14 06:18] henushang commented on #10665
hi, I get the same question, and what's you solution?

[2016-12-14 08:35] #19614 closed

[2016-12-14 09:03] #22009 closed

[2016-12-14 09:04] jpountz commented on #20941
Addressed by #22135.

[2016-12-14 09:04] #20941 closed

[2016-12-14 09:30] jeantil commented on #9103
Is it safe to assume that this is now available in 5.1 ?

thanks

[2016-12-14 09:34] clintongormley commented on #22017
How about we solve it like this:  use a `highlight_query` that uses `all_fields` mode and `require_field_match: true` - that way we get consistent and correct highlighting, no?

Given that (a) we've never had good highlighting on the _all field and (b) we're moving towards removing it, I'd much rather not spend any time on adding workarounds.

[2016-12-14 09:53] Xylakant commented on #21943
@rjernst aptly (https://www.aptly.info/) has worked excellently for me in the past and AFAIR can maintain multiple versions of the same package in a repo. Bonus points for a solid documentation.

[2016-12-14 10:01] dadoonet opened #22158 "Explain how to use bulk processor in a test context"
When using a bulk processor in test, you might write something like:

[code]

The problem is that by default bulkProcessor defines the number of concurrent requests to 1 which is using behind the scene an Async BulkRequestHandler.
When you call `flush()` in a test, you expect it to flush all the content of the bulk so you can search for your docs.
But because of the async handling, there is a grea

[2016-12-14 10:06] clintongormley commented on #9103
yes

[2016-12-14 10:09] jeantil commented on #9103
awesome thank you !

[2016-12-14 10:10] pfctgeorge opened #22159 "change the index allocation makes the loads of cluster very high"
Hi

We have an elasticsearch cluster. The nodes with tag "hot" stores the data of recent 3 days, and nodes with tag "cold" stores the older data of recent 30 days.
At every night, we change the index settings of "index.routing.allocation.require.tag" to move the data in hot tag which before 3 days into "cold" nodes. But recently, we notice that this process makes our loads of "cold" nodes very hig

[2016-12-14 10:14] jimczi commented on #22017
yes and yes. The `all_fields` is perfect for the highlighter, query terms are correctly analyzed for each highlighted field.

[2016-12-14 10:26] clintongormley commented on #22159
Please ask questions like these in the forum instead: https://discuss.elastic.co/

The github issues list is reserved for bug reports and feature requests only.

thanks

[2016-12-14 10:27] clintongormley commented on #22156
@jbaiera could you take a look at this please?

[2016-12-14 10:27] clintongormley commented on #22155
Please ask questions like these in the forum instead: https://discuss.elastic.co/

The github issues list is reserved for bug reports and feature requests only.

thanks

[2016-12-14 10:27] #22155 closed

[2016-12-14 10:29] #8427 closed

[2016-12-14 10:37] clintongormley commented on #22017
OK - so no changes required on our side.  Kibana can use this solution instead: https://github.com/elastic/elasticsearch/issues/22017#issuecomment-266987021

[2016-12-14 10:37] #22017 closed

[2016-12-14 10:40] clintongormley commented on #22153
thanksfor reporting  @davidklebanoff  - this should be fixed now

[2016-12-14 10:40] #22153 closed

[2016-12-14 11:02] gingerwizard opened #22162 "Painless - Provide a Limited Set of Date Functions"
Discussed this with @jdconrad

Date formatting and manipulation in Painless currently relies on using native Java methods which are probably not performant.  Example - suppose i want to show dates by day (mon-sun).  This is a reasonably common usecase.  I resort to:

new SimpleDateFormat('E').format(new Date(doc['created_on'].value))

Proposal is for a simple set of date parsing functions - to and

[2016-12-14 11:18] clintongormley commented on #22128
But what is the fix here? It's not clear to me what we could change here to make it better.

There's a disconnect between the Definitive Guide and the ES Reference, where it is indeed documented under breaking changes: https://www.elastic.co/guide/en/elasticsearch/reference/5.1/breaking_50_packaging.html#_jvm_options

We need to do something with the Def Guide to make it obvious that it refers to

[2016-12-14 11:33] Hithran opened #22163 "GeoPoint returns incorrect geohash for lat 90, lon 180"
**Elasticsearch version**: 5.1.1

**JVM version**: 1.8.0_111

**Description of the problem including expected versus actual behavior**:

The .geohash method on org.elasticsearch.common.geo.GeoPoint returns geohash "000000000000" for coordinates lat 90, lon 180, Which should be "zzzzzzzzzzzz".
GeoPoint.fromGeohash("000000000000") returns lat -90, lon -180

[2016-12-14 11:37] #22140 closed

[2016-12-14 11:44] MaineC commented on #22128
I may have read @chrono incorrectly, but the way I understood the bug report what he would like to see is some some kind of warning message in the logs when upgrading from 2.x to 5.x and leaving no longer supported configuration messages in place, no?

[2016-12-14 11:55] jasontedor commented on #22128
We do error if `ES_HEAP_SIZE` (and other variables) is set. The trouble comes from the fact that we do not export those variables from the startup script. So, if you have set `ES_HEAP_SIZE`, and run the startup script, we do not export so you never see the error that `ES_HEAP_SIZE` is no longer supported and Elasticsearch starts with the default. We could conditionally (only if they are set) expor

[2016-12-14 12:17] clintongormley commented on #22138
I've reduced this to the following:

[code]

The explanation from the above starts with:

[code]

even though the function score says `boost_mode: sum, score_mode: sum`.

if you change the range query to run on `opening_date` instead of `opening_date_long`, then the explanation changes to:

[code]

which doesn't seem right either

[2016-12-14 12:18] clintongormley commented on #22138
@jimczi could you take a look at this please?

[2016-12-14 12:25] clintongormley commented on #22138
btw @hrahal - regardless of this bug, I would definitely not try to solve your problem using parent-child.  You're essentially trying to impose a relational design onto elasticsearch, and it is bound to fail. Instead, denormalise your data.

[2016-12-14 14:08] #22159 closed

[2016-12-14 14:29] kadishmal commented on #21967
@clintongormley that's the point that ES is already configured in `debug` mode, and no other logs are available.

[2016-12-14 14:52] Hithran opened #22167 "Handling of 0.0 and -0.0 in range (lt and gt) queries has changed from 2.4.3 > 5.1.1"
**Elasticsearch version**: 5.1.1

**JVM version**: 1.8.0_111

**OS version**: CentOS 6.8

**Description of the problem including expected versus actual behavior**:
When there are 2 documents, 1 with value 0.0 and the other with value -0.0, ES 5.1.1 no longer returns the documents when a range query is execute with either gt -0.0 or lt 0.0. Where as ES 2.4.3 would return the document with value 0.0

[2016-12-14 15:01] markharwood opened #22169 "Adjacency matrix aggregation"
Sometimes we want to use aggregations to understand the details of how certain entities are connected:

* When did these IP addresses talk to each other?
* How much money was sent per day between a selection of bank accounts?

Right now we can structure this with an agg tree as follows:

* query terms [A,B,C] with `min_should_match:2`
* terms agg 1 with `include: [A,B,C]`
   * terms agg 2 with `in

[2016-12-14 15:02] yeroc commented on #7574
@nknize Do you have an update on this?

[2016-12-14 15:20] seang-es opened #22170 "Locked fields during update/upsert"
It would be useful to have the ability to have certain fields 'locked' during an upsert, so if the document does not already exist the field can be written, but if it does exist, the field is untouched.  The use case for this would be something like a 'creation time' where the initial time of document creation must be maintained, even if an upsert is making modifications to other fields.

[2016-12-14 15:31] jbflowers commented on #22122
This was an issue on my part, although it would have been nice to get an idea of the index in the logs! Feel free to close

[2016-12-14 15:31] #22122 closed

[2016-12-14 15:49] markharwood commented on #22169
For examples of what visualizations this agg underpins see http://www.caleydo.org/tools/upset/

[2016-12-14 15:51] jpountz commented on #22169
Agreed with doing another agg rather than adding options to terms.

Do you always need this on the same field, or sometimes on two fields as well (if one field is a source and the other field a destination)?

[2016-12-14 15:59] markharwood commented on #22169
Multi-field is possibly a requirement and I haven't thought too deeply about that other than we might want the option to liberate terms from the fields when grouping e.g. I know `from` `to` and `cc` in email docs all contain email addresses and I just want to see when various email addresses have interacted over time.

[2016-12-14 16:08] mcxu commented on #18686
What should be the configuration for unicast? Also, is there a page with documentation for the configurations? Thanks!

[2016-12-14 16:10] jimczi commented on #22138
This one is funky. In 5.x we added a rewrite method on the query builders (like the one for Lucene query) in order to be able to optimize some queries at the ES level. In this example you have a range query on a date field and since the index contains only one document the range query builder is rewritten in a match all docs query. When the inner query of the FunctionScoreQueryBuilder is rewritten

[2016-12-14 16:18] clintongormley commented on #22170
This sounds like the typical request for a feature that would have 10 different sets of requirements from 9 different users.  This kind of thing can easily be implemented today application side (preferably using GET/PUT with versioning, rather than _update) which will give you complete control over which fields can and cannot be updated.

[2016-12-14 16:18] #22170 closed

[2016-12-14 16:26] blinken commented on #22043
@ywelsch ok, here's a similar I just noticed. logstash-na-nginx-2016.12.12 shard 6 replica has been unassigned for at least 24 hours now, and on investigation I find that in Marvel it's looping between INIT and TRANSLOG (shown).

![image](https://cloud.githubusercontent.com/assets/250444/21190340/54024f64-c219-11e6-85a7-c766f32dcb4a.png)

I note that there's a _second_ entry in Marvel for the same

[2016-12-14 16:47] nik9000 commented on #22158
Is there a way to know when the flush finishes with async handling? I guess you'd need to use `afterBulk`.

I'm not sure I'd advise folks to have empty methods for `afterBulk` because they'll lose the response which seems bad too.

[2016-12-14 17:03] ywelsch commented on #22043
that's actually ok. We allow this to happen concurrently. Once primary relocation completes, the replica fails over to the new primary to resume initialization.

It looks like an issue with primary relocation. At the end of primary relocation there is a (usually) short phase where replica recoveries are delayed (this would explain the switching back and forth of the replica from INIT to TRANSLOG).

[2016-12-14 17:28] blinken commented on #22043
No problem, I'll send via email. Unfortunately it seems dal111 (GFhQ_bRuQgyTxSDih69efw) has generated 208GB of logs since midnight UTC. I'll attach the last 100k lines unless there's specific data you would like.

[2016-12-14 17:30] clintongormley commented on #22163
@nknize thoughts?

[2016-12-14 17:31] ywelsch commented on #22043
sounds good. The logs might not reveal much (the interesting bits in this case are only logged at TRACE level, but increasing logging to that level would probably bring the cluster down). The stack traces / task lists on the other hand could reveal some interesting stuff.

[2016-12-14 17:41] blinken commented on #22043
I've sent the data through except the stack traces (which I'll follow up with tomorrow morning).

[2016-12-14 17:49] clintongormley commented on #22127
Please ask questions like these in the forum instead: https://discuss.elastic.co/

The github issues list is reserved for bug reports and feature requests only.

thanks

[2016-12-14 17:49] #22127 closed

[2016-12-14 18:01] clintongormley commented on #21967
ah right - that's all that is logged.   Try repeating the request but add the query string param `?error_trace=true`

[2016-12-14 19:12] javanna commented on #19055
We just published a blogpost on the current state of the Java clients which should answer most of the questions around the REST client and its future: https://www.elastic.co/blog/state-of-the-official-elasticsearch-java-clients .

@dhay as explained in the blog we considered different approaches but we decided to start from our own Java API and take it from there.

[2016-12-14 19:20] brusic commented on #19055
From the blog: "Benchmarks, however,  show that the performance of the HTTP client is close enough to that of the Transport client"

I do not read the results in the same way. :) Would love to see the benchmarks for multi-threaded indexing, not single-threaded. But this issue is regarding the RestClient, so I will rest my defense of the pure Java API for another time.

[2016-12-14 19:37] ThaDafinser opened #22176 "Improve ingest-user-agent"
Since the `ingest-user-agent` plugin is based on https://github.com/ua-parser/uap-core the results are quiet good, but could be better.

I created a comparison of all available user-agent-parsers (and an abstraction for them) in PHP here: http://thadafinser.github.io/UserAgentParserComparison/v5/index.html

At least some of those providers could be "easily" ported over to java, since the datasourc

[2016-12-14 19:57] kabcampbell commented on #21291
Hi @areek -  Did this make it into 5.1.1? I just noticed that my previous comment seems to somehow have unassigned this task, so I'm hoping it didn't drop off your radar.

[2016-12-14 20:03] talevy commented on #21898
maybe add a backwards compatible `add_to_root` flag.

If this is set to true, then do as suggested. This will ignore any `target_field` that is provided/defaulted.

[2016-12-14 20:22] umnick84 opened #22177 "Painless still cannot understand some overloaded methods"
**Elasticsearch version**: 5.0.1 and 5.1.1

**Plugins installed**: []

**JVM version**: 1.8.102

**OS version**: MacOS

**Description of the problem including expected versus actual behavior**:
When I write a script with code "BitSet.valueOf(some_byte_array)" I get ClassCastException with message byte[] cannot be cast to long[]. I think this happens because method valueOf is overloaded and first m

[2016-12-14 23:29] gingerwizard commented on #22162
The expressions functions are probably a good starting point - https://www.elastic.co/guide/en/elasticsearch/reference/5.0/modules-scripting-expression.html#_date_field_api

The only one i would add is the ability to possibly return strings e.g. Mon, thus avoiding common logic in user scripts.

[2016-12-14 23:42] dadoonet commented on #22158
@nik9000 Indeed. My proposal is not about the Listener but about setting `.setConcurrentRequests(0)` in the context of tests. Sorry for the confusion with the code I pasted in the issue.
You're right that it's crazy to ignore bulkresponse! :)

[2016-12-15 00:57] chrono commented on #22128
Yeah, my idea for a fix would be to pass the ENV vars to the startup script (for at least the majority of the 5.x lifecycle) so that the startup script can break if they're set.

At 6.x I'd think it would be safe to remove the export.

[2016-12-15 01:26] #21842 closed

[2016-12-15 03:44] smartcat315 commented on #17531
This problem has been bothering me for a long time.Is the problem solved?

[2016-12-15 04:41] jasontedor commented on #22128
Closed by #22183

[2016-12-15 04:41] #22128 closed

[2016-12-15 08:02] amihaiemil commented on #22137
@jimczi I asked the question on the forum. Maybe you can have a look when you catch some time :D
https://discuss.elastic.co/t/simple-way-to-implement-autocomplete-functionality/68979/3

Thanks,
Mihai

[2016-12-15 08:48] jpountz commented on #22169
I don't have any objections, se let's give it a try? One requirement I have is to make sure it has a minimal set of options, eg. no configurable sorting, only fields (not scripts), no `min_doc_count`, etc.

[2016-12-15 08:51] jpountz commented on #21952
@jimczi Can it be closed now, or are there things left to do?

[2016-12-15 08:56] jpountz commented on #21610
No feedback, closing. I suspect what happened is that the hits were sorted by something else than the score and `track_scores` was not configured. https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-sort.html#_track_scores

[2016-12-15 08:56] #21610 closed

[2016-12-15 09:00] jimczi commented on #21952
That's strange, I though that https://github.com/elastic/elasticsearch/pull/21821 would close this issue but it didn't. I am closing it now ;)

[2016-12-15 09:00] #21952 closed

[2016-12-15 09:03] jpountz commented on #21585
+1 to open a PR

[2016-12-15 09:18] chenryn commented on #21913
@clintongormley I try this on 5.0.0 with both groovy and painless, no error happen.

[2016-12-15 09:35] markharwood commented on #22169
++  ...although there is one extra option I'd like to see: _support for grouping_. Users sometimes need to organise requested terms into groups and examine the intersections between groups of terms. Grouping is a feature of Graph UI and users to want to examine intersections at this level of detail. Currently the UI uses `filters` aggs instead of `terms` aggs to achieve this but grouped or ungroup

[2016-12-15 10:02] shubham391 commented on #21172
@tademeit I had the same issue with class "NetworkPlugin". Resolved it by:

1. Specifying elasticsearch version property in pom as @Muyv said.
2. After step 1, I got the same error for logger class. Included Log4j dependency as mentioned here https://discuss.elastic.co/t/issue-with-elastic-search-5-0-0-noclassdeffounderror-org-apache-logging-log4j-logger/64262/2

[2016-12-15 10:08] #22138 closed

[2016-12-15 10:36] MarneusCalgarXP commented on #22109
@dadoonet after install:
`$ ./bin/elasticsearch-plugin list
xpack
`

@clintongormley yes in fact, I used to download the zip file into the plugins directory and tried to install it from this location (/path/to/elasticsearch-5.1.1/plugins).

[2016-12-15 11:06] stopsopa commented on #4915
+1

[2016-12-15 11:53] sinsonglew opened #22189 "elastic 5.1.1 master node always pinged time out, failed to form a cluster"
**Elasticsearch version**: 5.1.1

**Plugins installed**: [] only default

**JVM version**:  Java(TM) SE Runtime Environment (build 1.8.0_111-b14)

**OS version**: 2.6.32-504.12.2.02.el6.x86_64 #1 SMP Tue May 12 11:44:09 CST 2015 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:
if nodes greater than 3, the cluster is constantly add and remove

[2016-12-15 12:17] danielmitterdorfer commented on #19055
@brusic Can you please elaborate? I did the original benchmarks. Maybe something I did not explain something clearly enough in the blog post or I made a mistake (benchmarking is hard and even with great care something can go wrong :)).

That's one aspect that I thought about originally but I disregarded the idea because we needed to get an initial idea about the performance characteristics of REST

[2016-12-15 12:29] colings86 opened #22190 "org.elasticsearch.index.reindex.ReindexClientYamlTestSuiteIT.test {yaml=reindex/90_remote/Reindex from remote that you can't connect to} fails on Windows"
Build URL: http://build-us-00.elastic.co/job/es_core_master_windows-2012-r2/4418/consoleFull

This does not reproduce on my machine (maybe because this only reproduces on windows) and because its a YAML test unfortunately does not show any server stack trace. It seems to have been failing since 9th December.

@nik9000 would you be able to take a look?

Reproduce command:
[code]

Error:
[code]

[2016-12-15 12:43] mvmn commented on #19415
Client is not server. You can't say client is server, this is absurd, it makes no sense.
I get what you mean - it reuses some classes from server. But, when you actually spell it this way, e.g. correct way, then the fix becomes obvious - decouple shared classes from server and put it into separate library, not dependent on Log4J.

[2016-12-15 12:52] s1monw commented on #22001
@n0othing would you mind opening a PR to fix that docs issue?

[2016-12-15 12:59] s1monw commented on #21886
I think the biggest reason here is that it's very hard to remove any kind of API in a project like this so we need to make the right decisions here. I am still not convinced that such an API is used by more than 1% of the userbase and if that is the case I'd opt for the ask of a plugin. One thing we can do is to add a new `misc` plugin to elasticsearch core where we can add stuff like this. There

[2016-12-15 13:09] shaie commented on #21886
Thanks @s1monw.

Having absolute no experience with ES plugins, what does it mean? Can a plugin expose its own REST APIs? Would they then follow the same other ES APIs (e.g. `/index/type/_term_stats?...`)?

Will such a plugin be loaded by default with ES? I mean, is what you're proposing mostly concerns BWC guarantees, or it also means that whoever wants to use this plugin, will have to tell ES to

[2016-12-15 13:16] s1monw commented on #21886
yes it can do everything just like core here

correct, you have to run the plugin manager to install it. I don't even know if BWC is an issue here at this point

[2016-12-15 13:38] shaie commented on #21886
OK then what do you recommend? Are you in favor at all about adding such an API/plugin, or still need to think about it?

If you do support it, I wouldn't mind (as said above) taking a shot at it, but would appreciate a pointer to how to start develop plugins.

[2016-12-15 13:41] s1monw commented on #21886
I wonder what others think about such a misc plugin... @bleskes @jpountz @clintongormley

[2016-12-15 14:04] MaineC commented on #20440
@polyfractal After re-reading the Wikipedia article here https://en.wikipedia.org/wiki/Information_retrieval#Mean_average_precision I believe this is what we already have if you configure rank_eval to return the precision metric:

What we do internally is to compute precision_at_n for each query, then return the average over  precision values for all queries in the response.

Maybe I'm missing som

[2016-12-15 14:08] nik9000 commented on #22190
On it!

[2016-12-15 14:40] Dom-nik opened #22193 "Rename processor not accepting dots in field names"
**Elasticsearch version**: 5.0.1

**Plugins installed**: None

**JVM version**: 1.8.0_111-b15

**OS version**: CentOS 7.2.1511

**Description of the problem including expected versus actual behavior**:
The rename processor doesn't allow me to name a field using a dot, which is necessary to nest a field using the dot_expander processor. What I try to do seems to be exactly the same as the last exam

[2016-12-15 14:40] polyfractal commented on #20440
Ah, ok, I think I may just have misunderstood how the precision metric was being calculated.  Average of precision_at_n does indeed sound like MAP :)

[2016-12-15 14:44] MaineC commented on #20440
Ok, closing this one then.

[2016-12-15 14:44] #20440 closed

[2016-12-15 15:03] muteri commented on #22075
@cbuescher sorry for the delayed answer, you're right the issue was coming from "_score". With .scoreSort() everything works fine. Thanks a lot.

[2016-12-15 15:03] #22075 closed

[2016-12-15 15:30] markharwood commented on #22169
Here's a rough cut at the syntax.
I'm calling the agg `adjacency` and the unit of grouping an _entity_ . In an adjacency agg we just list a set of `entities` whose interactions we want to examine.
Each _entity_ consists of:
* A user-supplied unique key (mandatory, used in the response)
* An optional definition of what index terms (`fields` and `values`) are grouped into this entity.

If any of the

[2016-12-15 16:19] #22190 closed

[2016-12-15 16:22] clintongormley opened #22198 "Deprecate and remove `minimum_number_should_match`"
The `minimum_should_match` parameter already handles all formats (numbers, percentages, multi-options) and there is no need for the `minimum_number_should_match` parameter.

Let's deprecate immediately and remove in 6.0

[2016-12-15 16:26] Bargs commented on #20941
@jpountz I saw this was closed so I did some testing to see if we could remove our workaround in Kibana and I found that the terms agg no longer accepts boolean scripts. If I use a simplified version of the query Stacey provided above, I get an error:

Request:
[code]

Response
[code]

Is this an unintentional side effect of the PR that closed this?

[2016-12-15 16:55] jpountz commented on #20941
Let me dig into that, the issue reported an issue with the fact that the `boolean` value type was not supported, so I closed it since it was addressed, but it looks like there is something else that prevents terms aggs on boolean scripts.

[2016-12-15 16:59] loekvangool opened #22199 "[DOCS] Document more return values of Nodes Stats, Cluster State and Cluster Stats"
We document some Stat APIs return values in full, and some not. Some of the undocumented values are pretty specific to Elasticsearch, and therefore could benefit users a lot if they were explained.

The following groups of [Nodes Stats](https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-nodes-stats.html) are not documented:
- http
- breaker
- jvm
- thread_pool
- transport
- di

[2016-12-15 17:26] jpountz commented on #20941
OK, this is because aggregations expect that scripts return numbers as a representation for boolean values, like boolean fields do, so for instance that query works:

[code]

It should be fixable though.

[2016-12-15 17:51] jpountz commented on #22167
I opened an issue on the Lucene side: https://issues.apache.org/jira/browse/LUCENE-7594

[2016-12-15 18:25] brusic commented on #19055
According to the original blog post "The HTTP client has between 4% and 7% smaller bulk indexing throughput than the transport client." In my world, those numbers are not close enough. :) I want to ask my boss for a 4%-7% raise. Hey, it's close enough!

The blog continues to say that those benchmarks are under lab conditions, but the underlying problem remains. Then again, without multi-threaded b

[2016-12-15 18:27] jpountz commented on #20941
I opened a PR https://github.com/elastic/elasticsearch/pull/22201

[2016-12-15 18:31] trevorndodds opened #22202 "Bizzare 100% CPU Utilization on 5.X - Windows 2008R2"
Hi,
Elasticsearch 5.0.0 now 5.1.1
Running JVM 1.8.102 and then updated to JVM 1.8.112 - problem occurs on both.
Windows 2008 R2

I updated from 2.4.1 to 5.0 then to 5.1.1 since I've moved to 5.0 I've been having nodes drop out of the cluster. I have a 6 data nodes, each one exhibits the exact same problem but at random times. My ingest and master nodes do not exhibit this issue, but as soon as I e

[2016-12-15 19:56] ozguryalcin opened #22205 "fix sum aggregation inline script bug"
data :

        [mid] => 1
        [providers] => Array
            (
                [0] => Array
                    (
                        [pid] => 1
                        [amount] => Array
                            (
                                [price] => 4.5
                                [currency] => 1
                            )
                    )

                [1] => A

[2016-12-15 21:20] bwf93 opened #22207 "Warning Unable to install syscall filter whenever Elasticsearch starts"
**Elasticsearch version**: 5.1.1

**Plugins installed**: None

**JVM version**: 1.8.0_111

**OS version**: Windows 7

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1. Start Elasticsearch
 2. See warning

Elasticsearch still works but there is a warning about syscalls

[code]

[2016-12-15 21:31] spalger commented on #21952
@jimczi I'm not 100% sure, but I think it's because in the markdown for the description you linked to the issue, rather than using `#21952`.

[2016-12-15 21:34] n0othing commented on #22001
https://github.com/elastic/elasticsearch/pull/22208

[2016-12-15 21:42] #22001 closed

[2016-12-15 21:51] javanna commented on #19055
heya @brusic I think numbers outside of context can be misleading. Using the Java API has so many downsides at this point, like explained in the blogpost, that ~ 5% performance loss is reasonable. We will also work to make the REST client as performant as we can (and do more benchmarks like you are suggesting). That's the right trade-off. The main reason why we had the Java API in the first place

[2016-12-15 22:35] tarasrng opened #22209 "Unable to get parent type from mapping"
**Elasticsearch version**: 5.x

**Plugins installed**: []

**JVM version**: 1.8.0_101

**OS version**: Windows 10

**Description of the problem including expected versus actual behavior**:
In 2.x retrieving of the parent type from mapping was easy:
`GET authors/book/_mapping/field/_parent`
Starting from 5.x the same query returns nothing - I guess because of that:

It's strange, because the mappin

[2016-12-16 00:04] polyfractal commented on #20586
Just a quick update: I knocked together a _really awful_ proof of concept.  And it seems to work!  I'll start cleaning it up and making it fit for a PR as time allows :)

[2016-12-16 00:10] ppf2 opened #22210 "Add community-maintained note to all documented plugins that are not supported plugins"
Now that we have published the official list of [supported plugins](https://www.elastic.co/support/matrix#show_logstash_plugins), there's some cleanup needed in documentation.  Only some of the plugins that are not officially supported are currently marked as such in the plugin's own description page (eg. salesforce, zeromq, drupal_dblog, etc..).

For example, for drupal_dblog, which is not a supp

[2016-12-16 00:13] ppf2 commented on #22210
Oops sorry, landed on the wrong repro page.  Moving to LS :)

[2016-12-16 00:13] #22210 closed

[2016-12-16 00:50] ppf2 opened #22211 "Rest client doc references non-existing 5.1.0 version for dependency"
The dependency example in the [rest client documentation for 5.1 (current)](https://www.elastic.co/guide/en/elasticsearch/client/java-rest/current/_maven_repository.html) is incorrect given that 5.1.0 does not exist.  Should be 5.1.1.

![image](https://cloud.githubusercontent.com/assets/7216393/21247406/080641b2-c2e4-11e6-8159-b93d32889b98.png)

The example is getting pulled from a {version} tag,

[2016-12-16 02:14] jasontedor commented on #19415
These establish an adversarial relationship than a collaborative one. We strongly prefer the latter, and this matters to us a lot.

It can't be both "absurd" and "make no sense", and you get what he means. You left off a key sentence that elucidates exactly what he meant:

The two sentences go together.

The fix is obvious, but obvious is not the same as easy. There is a lot of entanglement. We kn

[2016-12-16 02:24] jasontedor commented on #22211
Closed by ace4a5fc68f5c8e3c30b484e50ccdf0b307bd091

[2016-12-16 02:24] #22211 closed

[2016-12-16 06:07] #4756 closed

[2016-12-16 07:04] ervinyang commented on #22156
Dear @jbaiera  @clintongormley, have you fixed the bug? Or should I provide something more for you to solve it?

[2016-12-16 07:07] ddpaimon opened #22214 "TransportClient in scala"
**Elasticsearch version**: 5.1.1

**Plugins installed**: []

**JVM version**: 1.8

**OS version**: Ubuntu 16.04

**Description of the problem including expected versus actual behavior**:
How to create transport client in scala for Elasticsearch 5.1.1.

[2016-12-16 07:24] dadoonet commented on #22214
Better chance if you ask on discuss.elastic.co or on Scala user group.

Not an issue here. Closing.

[2016-12-16 07:24] #22214 closed

[2016-12-16 07:46] tedivm opened #22216 "Fields no longer searchable or aggregatable after upgrading to 5.1"
**Elasticsearch version**: 5.1.1

**Plugins installed**: []

**JVM version**: 1.8.0_92

**OS version**: Ubuntu 16.04

**Description of the problem including expected versus actual behavior**: When upgrading to 5.1 from the latest 2.x some fields were switched to no longer being searchable or aggregatable.

**Steps to reproduce**:
 1. Upgrade to 5.1

**Provide logs (if relevant)**:

I am not the on

[2016-12-16 08:00] tolorr opened #22217 "ES Marvel Index retention doesn't work."
I have problems with Marvel Index retention.

I have the configuration "marvel.history.duration: 2d", but I have always 8 indexes like this:
[code]
I need lower retention because this indexes need a lot of disc space.

When I started this cluster for first time, I had not parameter marvel.history.duration . I added it later, I don't know if this is a problem.

Do you know why this happens?

Thank

[2016-12-16 08:00] s1monw commented on #22216
@tedivm can you provide a reproduction or an example of what doesn't work. It's nearly impossible to do anything here with a "X doesn't work anymore after upgrade" description. :(

[2016-12-16 08:18] tedivm commented on #22216
What exactly do you want? I'm restoring a backup now (it's easier than reindexing) so I can pull data from both the backup and the upgraded node pretty trivially once that's done. This is also data for a video game so there's literally nothing sensitive in it.

[2016-12-16 08:20] tedivm commented on #22216
Also, this is a bit more than "x doesn't work anymore". A field that was previously indexed no longer is. It used to be usable for kibana visualizations, but now it is not and causes errors for things that previously worked just fine.

[2016-12-16 08:24] s1monw commented on #22216
for instance, is the index you are trying to search created with 2.x or 5.x. What is the field mapping in 2.x vs. 5.x. An example query that worked in 2.x but doesn't in 5.x, a sample of your data that you are indexing, are you using dynamic mapping or you do you predefine mappings. I am really working on my yedi skills but it seems like the force is not with me today ;)

[2016-12-16 08:35] kjelle opened #22218 "Unbalanced use of multiple data paths which eventually leads to cluster outage"
**Elasticsearch version**: 2.2.0
**Plugins installed**: [marvel]
**JVM version**: 8u51
**OS version**: docker 1.10.3 (20f81dd) on centos7.2.1511

**Description of the problem including expected versus actual behavior**:
Each server have 8 SSDs (/grid/1-8) and it runs 2 ES instances. First instance uses 4 disks, /grid/1-4, last instance use the rest, /grid/5-8. The number of shards per index varies

[2016-12-16 08:40] tedivm commented on #22216
Index was created with 2.x. using dynamic mapping. The field in question is the `price` field, which is no longer aggregatable. Any query that tries to aggregate off of it fails, and the kibana index page (on the version 5 server) says the field is not aggregatable or searchable.

Data-

[code]

Mapping from 2.x

[code]

Mapping from 5.1-

[code]

[2016-12-16 08:44] s1monw commented on #22216
can you provide the query json and the rest response of the failure please.

[2016-12-16 08:45] jimczi commented on #22216
Can you also share the mappings of all your indices that match your index pattern in Kibana ?
Are you using `screeps-orders-2016_12` only or do you have an index pattern like `screeps-orders-*` ? I am saying this because fields with conflicting mapping will no longer appear as searchable/aggregatable in Kibana. So for instance if the field `price` is defined as a `double` in one index and as a `lo

[2016-12-16 08:59] tedivm commented on #22216
@jimczi is the winner- it looks like in some places it was `long` and in other places it was `double`.

[2016-12-16 09:09] jimczi commented on #22216
This check has been added in Kibana to avoid problems when running aggregations or search on this conflicting field. I also understand how it can be confusing when upgrading from 2.4.
You'll need to fix your mapping to make it work so I am closing the ticket.
Thank you for reporting @tedivm

[2016-12-16 09:09] #22216 closed

[2016-12-16 09:18] clintongormley commented on #21886
I completely agree with the above - makes sense

Would the point of this misc plugin to be able to gain some insight into how many users are using the included features, so we can figure out which features should be moved to fully supported modules?

I'm not sure what a `misc` plugin gives you over having a plugin for a specific feature.  Also, having a plugin per feature makes it easy to see how

[2016-12-16 09:19] clintongormley commented on #22109
@MarneusCalgarXP that's the cause of the problem.  the installer is trying to verify the plugins that are already there, and it comes across your zip download which shouldn't be there, so throws an exception.  move it somewhere else and everything will work.

[2016-12-16 09:19] #22109 closed

[2016-12-16 09:33] mvmn commented on #19415
Ok. Pick the one you like more.

You're picking on words instead of figuring out the meaning behind words. Speaking of adversarial - let's not pick on words and start a demagogue contest, shall we?

It would be interesting to know what kind of entanglement prevents one from simply moving shared classes into shared library. The information on the problem - not opinions of the comments on the proble

[2016-12-16 09:45] jimczi commented on #22205
We reserve github for bugs or feature request. You can ask questions like this in the forum:
https://discuss.elastic.co/c/elasticsearch

Regarding your issue, the script is useless here since you can use the `sum` aggregation directly on a field name. Though the sum will be  15.5 since the aggregation takes all the values that are contained in the document for this field regardless of the query. Y

[2016-12-16 09:45] #22205 closed

[2016-12-16 09:47] itkovian opened #22221 "Es 5.1.1: unassigned (p/r) shards and corrupt indices"
**Elasticsearch version**: 5.1.1

**Plugins installed**: []

**JVM version**: java-1.8.0-openjdk-headless-1.8.0.111-1.b15.el7_2.x86_64

[code]

**OS version**: CentOS 7.2

[code]

**Description of the problem including expected versus actual behavior**:

The status goes from green to red. We see unassigned shards appear (both primary and replica) and a bunch of errors from lucene telling its index

[2016-12-16 09:52] clintongormley commented on #19415
Well done @mvmn - way to kill a thread...

[2016-12-16 09:52] javanna commented on #16347
We have been encountering this inconsistency while writing parsing code for the High Level REST client. We could fix it as we go through all the `toXContent` methods (in separate PRs would be wise). I see that most of the objects don't open a start object, and output essentially fragments that are not valid without an ancestor. On the other hand, our `ActionResponse`s should always print out a com

[2016-12-16 09:56] javanna commented on #13157
I am digging the `AssertingToXContent` idea, but I think it is tricky unless the `ToXContent` contract is better defined. See #16347. In many cases the output of `toXContent` is not a valid object. Wrapping it into a new anonymous object would make it valid, unless it starts already its own anonymous object. In other words I don't think this is feasible at the moment. Thoughts @dakrone ?

[2016-12-16 09:56] markharwood commented on #22169
There may be some different execution models here.
If there's a small number of entities but each are composed of many grouped terms (e.g. my `webservers` and `appservers` example) then we could use a `Filters` agg approach and build a Bits structure for each entity. This would be largely localised serial access (for each term, read a list of doc IDs) versus the `terms` agg approach of looking up

[2016-12-16 10:14] javanna commented on #3889
This is related to the parsing effort we have been making for the High Level REST Client. We can definitely fix it as we go. @tlrx what do you think?

[2016-12-16 10:25] tlrx commented on #3889
I agree, would be nice to fix that.

[2016-12-16 11:13] jasontedor commented on #2902
With the upgrade to Netty 4, this is now handled correctly:

[code]

Note that if you send an `Expect: 100-continue` header informing Elasticsearch that you would like to send a request with `Content-Length` greater than `http.max_content_length`, Elasticsearch responds with a `417 Expectation Failed` as the `100 Continue` can not be granted due to the excessive `Content-Length`:

06:10:49 [jason:

[2016-12-16 11:13] #2902 closed

[2016-12-16 11:14] jasontedor commented on #2902
Closed by #19526

[2016-12-16 11:18] javanna commented on #16347
Discussed in FixItFriday, we agreed that this needs to be fixed. We are going to differentiate between the two contracts (self-contained objects and fragments) using two different interfaces.

[2016-12-16 11:28] markharwood commented on #22169
If we think Bits filters are the way to go we could actually implement this just by adding a `return_intersections` boolean param to the existing `filters` agg. It could then return additional buckets for key pairs using a separator e.g. `key1|key2`

[2016-12-16 11:28] sepehr1014 commented on #9103
Could this feature be used for EdgeNGrams with MultiMatch query? (We can't use CrossFields when using NGrams) We don't want **wanr** to show up before **want** when searching for "want".

[2016-12-16 11:35] fhopf opened #22222 "Support for kv in Ingest Node"
**Describe the feature**:

It would be very nice to have ingest node support similar to the kv filter in Logstash https://www.elastic.co/guide/en/logstash/current/plugins-filters-kv.html

It is mentioned in the original ingest node issue #14049 but implementation never seems to have happened. Are there any plans for support in the future?

[2016-12-16 11:37] clintongormley commented on #22221
Hi @itkovian

From the logs it looks like you have corrupt indices, and I'd be taking a careful look at your disks to make sure you're not going to lose more data.  From your comments you seem to think this is a bug instead of corruption.  Why is that?

[2016-12-16 11:53] clintongormley commented on #22222
@talevy any reason the kv processor was left out?

[2016-12-16 11:54] s1monw commented on #21886
a plugin per feature is only useful IMO if the feature has a 3rd party dependency. Think of an analyzer etc. If we have 20 of these features we would have 20 plugins, what a mess.... I think we can have some kind of sandbox plugin that is marked experimental etc. where we can upgrade stuff to core if we think it's needed.

really? :) If it wouldn't I'd have deleted it by now. I think we need to wo

[2016-12-16 12:02] clintongormley commented on #22217
@pickypg could you take a look please?

[2016-12-16 12:15] clintongormley commented on #22209
That's weird - if I create a field which is not indexed and not aggregatable, it still shows up in the field mappings API:

[code]

So I'm not sure why the `_parent` isn't being returned.  @martijnvg do you have any ideas?

[2016-12-16 13:07] clintongormley commented on #22202
Hiya @trevorndodds

You say:

Do you mean ingest node as in the ingest processor?  Or do you just mean the node receiving the request?  If you mean the ingest processor, do you see the same problem when you have data only nodes or ingest only nodes?  What do your ingest pipelines look like?

I assume you don't have any other processes running on the box which could produce this CPU spike?

Are you

[2016-12-16 13:10] clintongormley commented on #22199
@loekvangool how about sending a PR?

[2016-12-16 13:24] trevorndodds commented on #22202
@clintongormley my ingest nodes are not doing any processing just receiving the requests. What I meant was that if I turn a perfectly working node into a data node the stability issues occur. So the problem only seems to occur on nodes that also have the data role.

No the spike is from the elasticsearch java process only.

Nope, access to the java process as a whole is locked up. jstack isn't abl

[2016-12-16 13:25] clintongormley commented on #22193
Hi @Dom-nik

First, you don't need the `dot_expander`.  The `rename` does the job just fine:

[code]

Second, the exception says `"[group_name] is not an integer, cannot be used as an index as part of path [usergroup.group_name]"` so for some reason, it is expecting `group_name` to be an integer. perhaps you have this field mapped incorrectly?

You haven't provided enough info for us to be able to

[2016-12-16 13:25] #22193 closed

[2016-12-16 13:26] jasontedor commented on #22202
I think this duplicates #21834?

[2016-12-16 13:28] trevorndodds commented on #22202
Very possible, but I had no issues on 2.4.1

[2016-12-16 13:33] clintongormley commented on #22189
Looks like you have networking problems. I don't know if you have any customs settings, or where you're running Elasticsearch etc.  More info would be helpful.

[2016-12-16 13:53] clintongormley commented on #22177
@jdconrad any thoughts?

[2016-12-16 13:54] clintongormley commented on #22176
@talevy what do you think? It'd be worth aligning whatever we do in ES and Logstash

[2016-12-16 14:00] mr-mos opened #22228 "Epath.conf leads to exception reading jvm.options"
**Elasticsearch version**:
5.1.1

**Plugins installed**: []

**JVM version**:
8u111

**OS version**:
Windows 7

**Description of the problem including expected versus actual behavior**:
Changed the config-location with -Epath.conf=....  and renamed the config-folder in the install-directory.
"jvm.options" are read from the wrong place. Exception because file couldn't be read,

**Steps to reproduce

[2016-12-16 14:17] sinsonglew commented on #22189
@clintongormley , total 8 nodes, three of them are master eligible. we run elastic on virtual machines. It's definitely that network is fine. we tried elastic 1.x, it works very well.  elasticsearch.yml posted as follows:

# ======================== Elasticsearch Configuration =========================
#
# NOTE: Elasticsearch comes with reasonable defaults for most settings.
#       Before you set

[2016-12-16 14:29] vanthome commented on #4978
you should provide a flag to prevent this check or better do not conduct it in development mode. this currently prevents me from running tests on travis.ci.

[2016-12-16 14:43] trevorndodds commented on #22202
Defiantly somehow related to the Windows Management Instrumentation service. I started that service back up and within a few minutes the elasticsearch java process shot up.

![image](https://cloud.githubusercontent.com/assets/10899305/21266303/90a548d0-c373-11e6-82d1-fa893bf65f3c.png)

[2016-12-16 14:48] costin opened #22230 "LogLog-β algorithm for cardinality estimation"
**Describe the feature**:
A [new paper](https://arxiv.org/abs/1612.02284) released this month introduces a new cardinality estimation algorithm called LogLog-Beta/β:

Some comments about its accuracy (graphs included) can be found in [this PR](https://github.com/antirez/redis/pull/3677).

[2016-12-16 15:12] jasontedor commented on #22228
If you move `jvm.options`, you need to set the `ES_JVM_OPTIONS`environment variable to the new location (full path, including the name of the file).

[2016-12-16 15:12] #22228 closed

[2016-12-16 15:19] jpountz opened #22232 "Promote longs to doubles when merging terms agg results that contain both longs and doubles"
This won't be perfect as doubles cannot represent all long values, so this might cause a precision loss on large longs which should be documented. But I think this would be a better user-experience than today since we fail such aggregations entirely.

As a next step, we should make the field stats API still consider that fields are aggregatable if some indices map the field as a long and others as

[2016-12-16 15:28] epixa commented on #22232
Linking this up with the corresponding Kibana issue: https://github.com/elastic/kibana/issues/9430

[2016-12-16 15:30] clintongormley commented on #22189
1.x used multicast, you may well find that it was using different network cards etc than the ones configured.  It still looks to me like you have a networking issue here, or possibly different config on one of the nodes?

[2016-12-16 15:44] itkovian commented on #22221
I'm not seeing anything /var/log/messages that's indicative of failing disks. smartctl also says everything is fine. We've also not seen this occur until we moved to CentOS 7.2 (from SL6). As long as both nodes are up, things seem to stay green and there's nothing in the elasticsearch logs. Once a node goes down (as was the case during yesterday's update), we see the above or similar.

One thing t

[2016-12-16 15:53] georgecao commented on #22189
@clintongormley , I work with @sinsonglew on the same team.  Does ElasticSearch 5.1.1 require specific network cards? What's your concerns and how we check it out?  If we have 10 nodes to form one cluster, what's elasticsearch.yml should look like?  It's wired that we reduce the number of nodes from 10 to 3, then the cluster becomes stable, but increase the number of nodes from 3 to 4 or 5, it hap

[2016-12-16 16:37] markharwood commented on #21927
Generally, doing significant_terms analysis on time-based indices to find things significant about recent entries won't work.
The "foreground" query to match recent-stuff typically has no meaning on older indices. They will match nothing and without a foreground set will contribute nothing in the way of foreground or background statistics. Playing with size settings won't alter the fact that an em

[2016-12-16 16:37] #21927 closed

[2016-12-16 17:11] talevy commented on #22222
@clintongormley no super strong reason, due to where we were at the time it was punted to v2 status.

I can work on this and get it in for 5.2

[2016-12-16 17:14] talevy commented on #22176
@clintongormley I'll discuss this with the Logstash team. Test coverage here is rather minimal. Although it would be awesome to have a parser that matches more strings, it would be unfortunate if whichever source we move to results in poorer results for existing matches.

[2016-12-16 17:26] jdconrad commented on #22177
A couple of quick notes:

Do you mind showing me exactly what you added to the whitelist as we didn't really intend for things to be added externally?  Perhaps, this is something I could add on permanently if it's useful for you.  Was it the entire BitSet class?

Overloading is part of version 5.0 and later.  We decided early on in development to go with arity overloading (meaning methods with the

[2016-12-16 18:15] markharwood commented on #22169
I put together a PR based on the Filters/Bits approach : https://github.com/elastic/elasticsearch/pull/22239

[2016-12-16 18:17] #21898 closed

[2016-12-16 18:52] mi-hol commented on #3415
@clintongormley  with v2.4.2 released on Nov 16 I was wondering if this issue should be closed

[2016-12-16 20:42] bleskes commented on #22189
@georgecao I think there are a couple of things going on.

First you say you have 10 nodes, I presume you don't run dedicated master nodes. If that's the case then setting `discovery.zen.minimum_master_nodes` to `2` is dangerous as your 10 nodes can split to form 3 clusters of 3 nodes each. You should set it to `6` (a majority). That said, it's not clear to me why this explains network disconnects

[2016-12-16 20:44] nik9000 commented on #22125
I played with this a little and it is actually an instance of our APIs returning `OK` responses for partial successes. Have a look at this example:
[code]

That always passes. The shards with no data succeed and the shards with the document fail, printing the correct failure information in the for loop.

[2016-12-16 20:44] #22125 closed

[2016-12-16 20:45] nik9000 commented on #22118
Same comment as https://github.com/elastic/elasticsearch/issues/22125#issuecomment-267691599: we do throw the exception and it is in the http response, but we don't return a non-200 response code because not all the shards failed. That is how elasticsearch handles partial success, for better or for worse.

[2016-12-16 20:45] #22118 closed

[2016-12-16 20:46] PhaedrusTheGreek commented on #14763
As redundant as it might be to say - It's worth noting that it's the ` --default.config` flag that causes this on the CLI.  e.g.:

[code]

[2016-12-17 01:02] sinsonglew commented on #22189
@Boaz, at first, 10 nodes without dedicated roles settings were experimented, the minimum master nodes set up with 6, we can't get a full started cluster, so we have to decrease the total nodes to 3, it works, then 4, it failed. We have another dc, so 8 nodes with 3 master eligible got tried again, it repeated. We can't figure out where there is something wrong. Thanks!

发自我的 Windows Phone
_______

[2016-12-17 01:07] mtaylor769 commented on #21102
I am getting this error even after installing JRE8.

[2016-12-17 01:09] nik9000 commented on #21102
If you see this error elasticsearch isnt running with Java 8.

On Fri, Dec 16, 2016, 8:07 PM Mike Taylor <notifications@github.com> wrote:

[2016-12-17 01:15] mtaylor769 opened #22244 "UnsupportedClassVersionError: ... Unsupported major.minor version 52.0"
I have read this and several other articles that state that JRE8 should be installed. I am still getting this error after installing JRE8u111 from the Oracle Developer Website:
https://github.com/elastic/elasticsearch/issues/21102

**Hardware Overview:**

  Model Name:	MacBook Pro
  Model Identifier:	MacBookPro8,1
  Processor Name:	Intel Core i5
  Processor Speed:	2.4 GHz
  Number of Processors:	1

[2016-12-17 01:40] mtaylor769 commented on #21102
I JUST intstalled Java 8. Your comment is invalid.

[2016-12-17 02:04] mtaylor769 commented on #21102
So, the issue is not _THAT_ the JRE8 is installed, it's **HOW** it get's installed. On the Oracle Developer Downloads page, there are two options for OSX: '.dmg', and '.tar.gz'. I had used the .dmg to install and was getting this error.

Unlike the flippant "you need Java 8" comments that are ever-so-helpful, especially after confirming my JRE8u111 with [Installed Java Checker](https://java.com/en

[2016-12-17 04:24] keith4743 opened #22245 "-XX:ParallelGCThreads=N"
OpenJDK 64-Bit Server VM warning: If the number of processors is expected to increase from one, then you should configure the number of parallel GC threads appropriately using -XX:ParallelGCThreads=N

OS: CENTOS7.2

openjdk version "1.8.0_111"
OpenJDK Runtime Environment (build 1.8.0_111-b15)
OpenJDK 64-Bit Server VM (build 25.111-b15, mixed mode)

failed to start elasticsearch service...

[2016-12-17 05:56] dadoonet commented on #22244
Did you set JAVA_HOME?

[2016-12-17 07:32] #22158 closed

[2016-12-17 10:57] jasontedor commented on #22244
If you're running into this then it is definitely the case that your Java 8 installation is not being picked up. From the same shell, you can try `java -version` and I suspect that you'll see the bundled Java 6 that some applications on the Mac require (for example, Minecraft for a long time forced you to install Java 6). You can fix this by setting `JAVA_HOME` to point to the path of your Java 8

[2016-12-17 10:57] #22244 closed

[2016-12-17 11:02] jasontedor commented on #22245
Some OpenJDK package maintainers (the RedHat line for sure) decided to start shipping their OpenJDK packages with `-XX:+AssumeMP` enabled by default. Frankly I think that this is a mistake, but that is what leads to the message that you're seeing here. You can disable this by starting the JVM with `-XX:-AssumeMP` (either add it to `ES_JAVA_OPTS`, or add it to `jvm.options` if you're on Elasticsear

[2016-12-17 11:02] #22245 closed

[2016-12-17 11:40] bjorn-ali-goransson opened #22246 "Reenact API"
With the `_analyze` API, we can send in text for analysis using either custom parameters or index analyzers (etc).

But when troubleshooting issues such as "When doing a prefix query (for multiple fields), some documents appear only when typing a part of the query, then disappear", it would be beneficial to see a complete document as indexed by ES.

Here, it would be nice to be able to "reenact" a

[2016-12-17 11:46] bjorn-ali-goransson commented on #22246
Oh, and this would only work if the _source is still there.

[2016-12-17 12:08] singhvijayy opened #22247 "Find no. of Buckets entering an Aggregation Pipeline"
Let me explain with the help of an example -

Lets say we have a `laces` index:
[code]

All `laceindex` and `lacetimestamp` are unique, but `shoeid` and `shoetimestamp` are shared. If I want to get all laces with same `shoeid` and then do a calculation with `shoetimestamp` and `no. of buckets coming out of the terms aggr on shoeid` i.e.` laces with same shoeid`, I cannot do that!

Because when I r

[2016-12-17 12:47] s1monw commented on #21102
@mtaylor769 if you come to an open source project with statements like this nobody wants to help you anymore if you have a serious issue. The issues are happening on your side of the communication and since you just confessed that the problem was _in front of the keyboard_ this time I think it would be more appropriate to say _thank you and sorry for the time you spend helping me_. I know that won

[2016-12-17 15:06] bleskes commented on #22189
@sinsonglew everything points at network issues. Can you check the IPs of the published address?

[2016-12-17 15:45] jasontedor commented on #22207
This error code correlates to `ERROR_ACCESS_DENIED` when we invoke `AssignProcessToJobObject` when trying to assign Elasticsearch to a job object that we created to limit the ability to fork within Elasticsearch. It is a limitation that exists on Windows 7 that you can not assign a process to a job if it is already assigned to a job (this is not a limitation that exists on Windows 10).

The questi

[2016-12-17 15:45] #22207 closed

[2016-12-17 17:11] mtaylor769 commented on #21102
@s1monw I'm not going to say  "sorry and thank you" for someone wasting my time, as you felt the need to do the same with your response. Message boards are a last resort for me since I've been programming since before your you were a gleam in your father's eye, so flippant answers, and lectures about my tone are the last things I'm looking for when I'm asking for help, Junior.

[2016-12-17 20:39] bjorn-ali-goransson opened #22248 "multi_match phrase_prefix on _all?"
Hello,

I'm using ES 2.3.1.

[code]

... yields 0 results. Changing to match "lorem" or switching to searching the "name" field (instead of _all) works.

Can anyone reproduce, or provide an explanation or solution?

[2016-12-18 04:21] sinsonglew commented on #22189
@bleskes, @clintongormley, we downgrade netty4 to netty3, problem sovled, it's not network issue, please take a concern.

[2016-12-18 06:30] jbaiera commented on #22156
@ervinyang Could you provide some information about how you have HDFS set up? (distribution, version, security on/off)

Thanks!

[2016-12-18 07:08] bleskes commented on #22189
http.type=netty3 , problem sovled, it's not a network issue.

Thank you for this clue. We will investigate and get back to you as soon as possible.

[2016-12-18 09:30] ervinyang commented on #22156
* hdfs-version: 2.2.0
*  plugin-security.policy：
[code]

[2016-12-18 10:47] singaporian commented on #21118
I faced same thing while upgrading from 2.4.2 --> 2.4.3.
Couldn't find real reason but this workaround fixed:
apt-get purge elasticsearch
apt-get install elasticsearch
systemctl restart elasticsearch

[2016-12-18 14:59] jasontedor commented on #18686
@mcxu The [docs](https://www.elastic.co/guide/en/elasticsearch/reference/5.1/modules-discovery-zen.html) you're looking for cover your first question. If you have additional questions, please use the [forum](https://discuss.elastic.co); Elastic reserves GitHub for verified bug reports and feature requests.

[2016-12-18 17:06] jasontedor commented on #21902
This:

[code]

What filesystem and disks are you on?

[2016-12-18 17:21] jasontedor commented on #16781
This is covered in the [docs](https://www.elastic.co/guide/en/elasticsearch/reference/5.0/setting-system-settings.html#systemd) now.

[2016-12-18 17:21] #16781 closed

[2016-12-18 18:42] tbrooks8 commented on #22116
I've been able to make the modifications to netty necessary to move the permissions to the transport plugin and get the netty related and core tests passing (with creation of a mocksocket jar).

I've had some issues with this related to azure plugin. That plugin uses com.sun.net.httpserver.HttpsServer for running some tests. it appears to me that HttpsServer is not calling doPriviledge when accept

[2016-12-18 19:41] aleph-zero opened #22250 "ccccccfnujtecnilgukjekfvivfhkghftllerllrnhlh"
**Elasticsearch version**:

**Plugins installed**: []

**JVM version**:

**OS version**:

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1.
 2.
 3.

**Provide logs (if relevant)**:

**Describe the feature**:

[2016-12-18 19:56] #22250 closed

[2016-12-18 19:57] jasontedor commented on #22250
This was clearly opened in error.

[2016-12-18 19:59] dadoonet commented on #22250
Haha! Kids? :)

@bleskes knows I'm sure :)

[2016-12-19 06:55] tkgauri opened #22251 "Elastic search is not starting. No errors. Only warning: cannot be run as root."
**Elasticsearch version**: 5.1.1

**Plugins installed**: []

**JVM version**: java version "1.8.0_101"

**OS version**: CentOS release 6.8 (Final)

**Description of the problem including expected versus actual behavior**:
Elastic search is not starting. It gives me warning "org.elasticsearch.bootstrap.StartupException: java.lang.RuntimeException: can not run elasticsearch as root". But when I run

[2016-12-19 07:09] dadoonet commented on #22251
We can help on discuss.elastic.co.
Please ask your questions there.

Here it's not an issue. Please also read https://www.elastic.co/guide/en/elasticsearch/reference/current/setup.html

[2016-12-19 07:09] #22251 closed

[2016-12-19 08:46] jimczi commented on #22248
This is a bug on 2.3, you should upgrade to the latest 2.4 (2.4.3) which has the fix:
https://github.com/elastic/elasticsearch/pull/20471

[2016-12-19 08:46] #22248 closed

[2016-12-19 08:54] s1monw commented on #22116
@tbrooks8  amazing progress, would you mind linking the netty PRs / issues with this issue so we can track them. Also for all core changes can you make sure you open smallish PRs if possible?

that is super annoying. I am not 100% sure what we can do about this, I think first of all we gotta fix it in the JDK such that down the road we can remove whatever hack we add here.

[2016-12-19 09:00] MaineC commented on #19889
I think this can be closed now that #21598 is in.

[2016-12-19 09:00] #19889 closed

[2016-12-19 09:06] #22074 closed

[2016-12-19 09:50] danielmitterdorfer opened #22253 "Cleanup obsolete hand-coded XContent duplicate checks"
With #22073 and #22225 we enabled strict duplicate checks for XContent. Although our benchmarks only showed a negligible performance drop of 1 - 2% (see #19614), Elasticsearch 6.0 still allows to disable the strict duplicate checks with an undocumented flag. Hence, we also needed to keep the existing hand-coded duplicate checks around in case Elasticsearch is started with disabled XContent parser

[2016-12-19 10:08] naag opened #22254 "Misleading deprecation notice regarding sorting by ascending count in terms aggregation"
**Elasticsearch version**: 2.4.2

**Plugins installed**:

- kopf

**JVM version**: Oracle Java 1.8.0_111

**OS version**: Ubuntu 14.04.5 LTS

**Description of the problem including expected versus actual behavior**:

When sending a query with terms aggegration and no sorting or descending sort by `_count`, we get a deprecation log complaining that "[deprecation.search.aggregations.bucket.terms] so

[2016-12-19 10:10] ThaDafinser commented on #22176
@talevy if the current results need to stay, it would require a kind of "chain provider" like it was written here: https://github.com/ThaDafinser/UserAgentParser#chain-provider

[2016-12-19 10:11] ruflin opened #22255 "Wildcard in query_string query returns json_parse_exception"
* Elasticsearch versions:
  * 5.1.1 (official docker image)
  * master

Based on https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html#query-string-syntax it should be possible to use * in the field names if it is properly escaped. The following works as expected:

[code]

The correct results are returned. Rewriting this with only a query as below fails:

[2016-12-19 10:12] khong07 opened #22256 "[Parent-Child] Getting child document OK with id and any parent parameter"
**Elasticsearch version**: 2.4.2

**Plugins installed**: []

**JVM version**:  1.8.0_111

**OS version**: "Linux 3.12.44-52.18-default"

**Mappings**:
[code]

**Problems**:
[code]

It's correct? Do I miss something ?

[2016-12-19 10:40] jimczi commented on #22255
Since it's JSON you'll need to use double backslash. The first one is for JSON and the second one is for the query_string query.

So this:
[code]
... works.

[2016-12-19 10:40] #22255 closed

[2016-12-19 10:41] jpountz commented on #22255
I opened a PR to make it explicit in the docs https://github.com/elastic/elasticsearch/pull/22257

[2016-12-19 11:22] danielmitterdorfer commented on #16339
The Groovy scripting language was deprecated in 5.0 and removed in 6.0 with #21607 so I'd keep this ticket open at most as long as we run scheduled builds for ES 5.x.

[2016-12-19 11:31] ruflin commented on #22255
@jimczi I can confirm it works with `\\`
@jpountz Thanks for the docs fix.

[2016-12-19 11:59] aeryaguzov opened #22259 "Highlight query on multi-value field does not work on array of strings"
**Elasticsearch version**: 2.4.2

**Steps to reproduce**:

[code]
Expected:

[code]

Actual:

[code]

In docs we have array type definition (https://www.elastic.co/guide/en/elasticsearch/reference/current/array.html) in which we have a note about array of objects(array values are flattened). As I understand, array of strings (not objects) works in the same way. It is ok for search (when matching i

[2016-12-19 12:05] jimczi commented on #22254
Thanks for the report @naag. This is a bug, the deprecation logger should not be triggered in your case. Since this deprecation is controversial: https://github.com/elastic/elasticsearch/issues/17614, I'll revert the depreaction logging and add a note in the documentation but I am not sure there will be another 2.4 release.

[2016-12-19 12:06] MaineC commented on #21403
Solved with #22192

[2016-12-19 12:06] #21403 closed

[2016-12-19 12:06] MaineC commented on #21257
Resolved with #22139

[2016-12-19 12:06] #21257 closed

[2016-12-19 12:11] naag commented on #22254
If this topic is controversial anyway, we're going to ignore those deprecations for now. Thanks for your feedback!

[2016-12-19 12:11] #22254 closed

[2016-12-19 13:07] eladmena opened #22260 "Add Ability to Create Index Based on Alias Name For Index Templates"
Index templates allow specifying that alias(es) will be created once a index is dynamically created.
When adding a new document the index matching the name will be created.

As I'd prefer consumer to use the alias rather than the index, it means that the when using templates the initial document PUT should be with the index name and only then use the alias name, which beats the purpose of index te

[2016-12-19 13:36] jpountz commented on #22246
This looks similar to the term vectors API with artificial documents? https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-termvectors.html

[2016-12-19 13:57] trevorndodds commented on #22202
The problem in my case seems to be related to SCOM (System Center Operations Manager). I'm able to have the WMI service running without issues, but as soon as the SCOM healthservice starts running the elasticsearch java process shoots up. So similar to #21834 whereby SCOM is querying the WMI service a lot.

[2016-12-19 13:59] rajasekaran07 opened #22261 "Is logstash is the best tool to send logs to Elasticsearch"
Hi Team,

It is a kind question. I am just curious to know why logstash is the best tool to send logs to elasticsearch. We are running our all applications in AWS so, we are planning to use AWS Cloudwarch logs to collect and send application logs to elasticsearch. please give some suggestion for best practices.

Regards,
Raja

[2016-12-19 14:01] jasontedor commented on #22261
Elastic reserves GitHub for bug reports and feature requests but provides a [forum](https://discuss.elastic.co) for general questions.

[2016-12-19 14:01] #22261 closed

[2016-12-19 14:15] jasontedor commented on #22189
Can you share some more details:
 - node specs (especially heap size but general specs as well)
 - from your kernel version I think that you're running RHEL 6, can you confirm?
 - logs from a node and the master (there is no need to mask the IP addresses, from your configuration I see that you're in 10.0.0.0/8 which is a private IP address space; masking will just make it harder-than-necessary to

[2016-12-19 14:28] spinscale commented on #22222
@fhopf a very poor man's kv filter in between could be done using the script processor, like done [here](https://gist.github.com/spinscale/7bba10f5fcd935653617bf653577ea20), however this requires `script.painless.regex.enabled=true` and will be much cleaner/less error prone in a real processor, that does not make use of regexes, so handle with care.  Looking forward to the real thing :-)

[2016-12-19 14:31] clintongormley commented on #22246
and the term vectors API can also be used for getting back the terms of an existing document.  So I think we're covered

[2016-12-19 14:31] #22246 closed

[2016-12-19 14:40] clintongormley commented on #22260
@eladmena aliases don't exist until they are added to an index.  If you want your users to consume the alias instead of the index, then you need to create the index first and add an alias.  Later you can change the alias behind the scenes.  This is exactly what we are proposing in https://www.elastic.co/blog/managing-time-based-indices-efficiently

[2016-12-19 14:40] #22260 closed

[2016-12-19 14:43] clintongormley commented on #22254
@jimczi we will continue to do 2.4 releases until 6.0 is released

[2016-12-19 14:48] clintongormley commented on #22259
@aeryaguzov As you correctly point out, arrays of strings are flattened, so your field looks like:

    foo, bar,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,foo, bar, baz

Your query looks for any occurrence of foo and baz and it finds foo twice.

If you want your arrays to be treated as separate values then you need to put them inside a `nested` field.

[2016-12-19 14:48] #22259 closed

[2016-12-19 14:49] clintongormley commented on #22259
... or use positional queries like `match_phrase` with `slop`

[2016-12-19 14:51] youxu71 opened #22262 "Default analyzer is not picked up correctly in index time, if the default analyzer is overwrite in index setting"
Repro steps:

Create index with following setting:

[code]

Please be noticed that:

- The analyzer is not defined for Url field, so it should use default analyzer which is "standard" analyzer.
- In myindex setting, "standard" analyzer is re-written by adding "customsplit" filter in addition to "lowercase" filter
- The customsplit filter is a pattern_capture filter to split word by "." and "_", wh

[2016-12-19 14:53] clintongormley commented on #22256
@khong07 You've done something wrong.  Your two GET requests return 404 not found

[2016-12-19 14:53] #22256 closed

[2016-12-19 15:01] jasontedor commented on #16339
Can we just close it? It doesn't look it's a recurring issue, and I don't think anyone is/is going to dig into this unless it recurs frequently?

[2016-12-19 15:02] clintongormley opened #22263 "Do not allow custom analyzers to have the same names as built-in analyzers"
It is confusing when custom analyzers (or tokenizers, token filters, or char filters) have the same names as built in analyzers etc.  eg see https://github.com/elastic/elasticsearch/issues/22262

We should disallow this.

[2016-12-19 15:02] clintongormley commented on #22262
Agreed - closing in favour of https://github.com/elastic/elasticsearch/issues/22263

[2016-12-19 15:02] #22262 closed

[2016-12-19 15:12] josidiez opened #22264 "elasticsearch java client 5.1.1: JsonGenerationException[Can not write a field name, expecting a value]"
**Elasticsearch version**: 5.1.1

**Plugins installed**: []

**JVM version**: 1.8 , spring boot 1.4.1

**OS version**: Windows 7

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1. executing elasticsearch client
 2. I just code this: SuggestBuilders.completionSuggestion("field").text("s")
 3. I get error JsonGenerationException[Can not write a fi

[2016-12-19 15:18] clintongormley commented on #22247
Sorry @singhvijayy but I don't follow your question at all.  That said,
please ask questions like these in the forum instead: https://discuss.elastic.co/

The github issues list is reserved for bug reports and feature requests only.

thanks

[2016-12-19 15:18] #22247 closed

[2016-12-19 15:25] clintongormley commented on #22218
@kjelle do you have any logs that could shed some light on this?  And upload your conf.yaml and index and cluster settings just in case.

ES will not move shards between disks on the same node, but should assign to the least used disk when moving data from node to node. And the high watermark should have triggered moving a shard.

[2016-12-19 15:27] cbuescher commented on #22264
The CompletionSuggestionBuilder you get with (2.) should be fine. What do you do with it before you get the exception? The json generated for those builders is usually only valid inside larger structures, in this case it is usually used with SuggestBuilder#addSuggestion(String name, SuggestionBuilder<?> suggestion). Can you share a larger code example of what you are trying to do?

[2016-12-19 15:53] josidiez commented on #22264
I'm starting to play with this functionality so I decided to start with this basic code to see how it works:

CompletionSuggestionBuilder suggestion =  SuggestBuilders.completionSuggestion("name").text("AL");
transportClient.prepareSearch("locations").suggest(new SuggestBuilder().addSuggestion("provinces", suggestion)).get();

The result of suggestion json is:
 { "error" : "JsonGenerationException

[2016-12-19 16:11] clintongormley commented on #3415
@mi-hol no, this hasn't been done yet

[2016-12-19 16:25] cbuescher commented on #22264
How do you get the suggestion json? The transportClient()...get() should give you a SearchResponse. Is the exception already thrown or only if you try to print/access something from the response? The code you posted looks like what we use in out integration tests, so I wouldn't expect a general problem there, its probably a usage problem. Would you mind if I close issue and reopen this this discus

[2016-12-19 16:32] josidiez commented on #22264
Ok, close it. I can post something on the forum. But It's notbad usage. It's nothing about transport client because I dont even execute it. The SuggestBuilders return than json error. On my code the variable suggestion is CompletionSuggestionBuilder type and its value is { "error" : "JsonGenerationException[Can not write a field name, expecting a value]"} .
Just this line cause the error:
Completi

[2016-12-19 16:39] jpountz opened #22265 "Warn when implicit long to double promotions may be surprising"
When discussing #22232 it was noted that the implicit long to double promotions may not only be an issue with the terms aggregation, but also for instance if running an `histogram` aggregation on a `long` field with a fractional interval: only buckets that contain integer values will not be empty. This might surprising from UIs like Kibana where users do not necessarily know about the mappings bey

[2016-12-19 16:53] danielmitterdorfer commented on #16339
Sure, I'm fine with closing it; I was just conservatively adding a comment instead of closing it preliminary. :)

[2016-12-19 16:53] #16339 closed

[2016-12-19 16:57] talevy commented on #22176
thanks, good to know.

regarding the two libraries your recommended, I believe `piwik/device-detector` is out of the question due to the LGPL license.

Most of the others (including Browsecap) look useable.

@ThaDafinser, Given your testing experience, if you had to choose one to port, which would you choose to chain first?

[2016-12-19 17:10] tlrx opened #22266 "Update Jackson to 2.8.5+"
Jackson's YAML readers (and writers) have concurrency issues when two instances try to parse (or generate) some content. They basically share a same thread local buffer, and that can make the result completely wrong.

The parsing issue has been fixed in 2.8.5 (see [this commit](https://github.com/FasterXML/jackson-dataformat-yaml/commit/43210a2808705dc72c39b6b3fb1abf31a80b4911) because it is not m

[2016-12-19 19:00] #22149 closed

[2016-12-19 19:13] cbuescher commented on #22264
So it that JsonGenerationException actually thrown or do you just see this line as output when you try to print the CompletionSuggestionBuilder? That would be explainable, because all the SuggestionBuilder don't write a complete Json object, because they are nested inside other structures. So calling "toString()" on them (which also the debugger usually does) would return that line. The object is

[2016-12-19 19:33] niemyjski opened #22269 "5.1.1 DateHistogram Agg with timezone returns wrong tick count"
Please correct me if I'm wrong but If I have a date and it's always stored as UTC and I specify a timezone of +1h the tick count should be equal to `2016-12-17T01:00:00.000`. I'm seeing it be `2016-12-16T23:00:00.000`. When I do `-01:00` it returns the inverse (Should this be switched around or am I just thinking about this wrong.. dates are tuff..)

Code to reproduce:
[code]

Returns
[code]
On ht

[2016-12-19 19:35] niemyjski commented on #22269
I found this behavior in my unit tests as I'm asserting it's going to be +1 hour a head. ![screen shot 2016-12-19 at 12 34 12 pm](https://cloud.githubusercontent.com/assets/1020579/21326379/01fb7166-c5f0-11e6-84c8-dd39c735394c.png)

[2016-12-19 19:44] clintongormley commented on #22269
It's correct.  Think about it like this:

* When it is midnight at UTC+1, then it is 11pm at UTC
* The `key_as_string` is returned in UTC+1 (and represents midnight in UTC+1)
* The `key` is in millis-since-the-epoch which is in UTC (and so represents 11pm UTC)

[2016-12-19 19:44] #22269 closed

[2016-12-19 19:45] clintongormley commented on #22269
And yes, time zones are hard :)

[2016-12-19 19:53] ranguard opened #22271 "Unable to create S3 snapshot repo - no_class_def_found_error: Could not initialize class com.amazonaws.services.s3.internal.S3ErrorResponseHandler"
**Elasticsearch version**: 2.4.3

**Plugins installed**: [ 'cloud-aws' (2.4.3) and kopf ]

https://gist.github.com/ranguard/d7844dc5f6c6e31170a0b4d4f1c0a344

**JVM version**:

Whatever puppet installs ( https://github.com/metacpan/metacpan-puppet/blob/master/modules/metacpan_elasticsearch/manifests/instance.pp#L37 )...

[code]

**OS version**: Debian 7.11

**Description of the problem including ex

[2016-12-19 19:54] niemyjski commented on #22269
Gotcha that makes more sense :).

[2016-12-19 20:07] #21710 closed

[2016-12-19 20:24] tbrooks8 commented on #22116
I push the work that I have completed on the mocksocket here:

https://github.com/elastic/mocksocket

I have opened a Netty PR (netty/netty#6146)

I will start making PRs to ES as I split up the work.

[2016-12-19 20:45] dhirajnair commented on #22198
This would be my first issue in this community.
Appreciate if you have any comments \ advice.

I have attached the screenshot of fix.

![screen shot 2016-12-19 at 12 40 07 pm](https://cloud.githubusercontent.com/assets/4291826/21328407/9fcf41a4-c5e8-11e6-9018-b0147aff3f04.png)

Thanks
Dhiraj

[2016-12-19 20:50] dadoonet commented on #22271
Can you upgrade your Java version and see if it fixes your problem?

[2016-12-19 20:56] #21016 closed

[2016-12-19 21:46] josidiez commented on #22264
Thank you very much. You were right, I was missing something.

[2016-12-19 22:37] ranguard commented on #22271
Hi,

What should I upgrade it to? And is there any knock on effect for ES cluster?... this is a production env.

Many thanks

[2016-12-20 02:49] CCMBChina opened #22275 "Why completion suggester show keywords list uncompleted"
**Elasticsearch version**:
2.2
**Plugins installed**: []
head
**JVM version**:
1.7
**OS version**:
linux 2.6
**Description of the problem including expected versus actual behavior**:

related question：https://discuss.elastic.co/t/completion-suggester-strange-behavior-after-index-optimization/54240/1

when using completion suggester in production,i find a problem that when i input a character ‘o’,

[2016-12-20 03:48] makeyang opened #22276 "[feature request]provide options to disable trans log"
**Describe the feature**:
1. in some case, users can afford lose some data to trade write performance, so better to provide this options like hbase did.

[2016-12-20 07:15] eladmena commented on #22260
@clintongormley I wasn't suggesting to first create the alias then the index.
Just to add the ability to infer the index name from the alias and not the other way around.

Otherwise the templates feature is useless when aliases are involved as if I want consumers to create documents using the alias the first document should be added with the index, and if I already have different behaviour for the

[2016-12-20 07:24] ThaDafinser commented on #22176
My favorites
- WhichBrowser
- PiwikDeviceDetector

Why? They both have a pretty solid data background
- WhichBrowser with https://html5test.com/
- PiwikDeviceDetector with http://piwik.org

They both try to only give results, if they can really detect the browser. Others often return wrong positives with "cath em all" rules, so you get missleading informations.

Read more here: https://github.com/

[2016-12-20 07:45] clintongormley commented on #22271
@dadoonet I think we may be missing transitive dependencies. This seems similar to https://github.com/databricks/spark-redshift/issues/103

[2016-12-20 08:32] clintongormley commented on #22276
We already have async translog flushing, which allows the user to control how much data they are willing to lose.  The translog is central to our shard resiliency and we're not going to add a code path which allows it to be disabled.

[2016-12-20 08:32] #22276 closed

[2016-12-20 08:35] clintongormley commented on #22275
Hi @CCMBChina

First, I'm unable to replicate your problem without actual data - need a full recreation in curl.  Second, the completion suggested in 2.x has been completely rewritten in 5.0 and won't be receiving any bug fixes, so I would suggest trying it out in 5.0 before reopening this ticket.

[2016-12-20 08:35] #22275 closed

[2016-12-20 08:42] jasontedor commented on #22276
To add, the translog will take on a bigger role with features like sequence IDs.

[2016-12-20 08:46] s1monw commented on #22116
cool stuff - can you make the `https://github.com/elastic/mocksocket` repo public I don't think think there is anything private about this! :)

[2016-12-20 08:51] clintongormley commented on #22198
Hi @dhirajnair - the way to elicit feedback is by opening a PR.  Your screenshot looks like a partial fix, there will be more to do, including adding tests.

[2016-12-20 09:53] martijnvg opened #22278 "Improve test coverage for bucket and metric aggregations"
Today there is very little unit test coverage for bucket and metric aggregations. This meta issue aim is to significantly improve that. For each aggregation we should add more unit tests for the aggregator (how it interacts with the Lucene index via `org.apache.lucene.search.Collector` that each aggregation implements), the reduce logic and serialization of the aggregation results.

We should add

[2016-12-20 09:55] clintongormley commented on #22271
@ranguard could you try adding `joda-time-2.8.1.jar`  to your plugins/cloud-aws/ directory?

https://mvnrepository.com/artifact/joda-time/joda-time/2.8.1

If that doesn't work, try adding:

* `jackson-core-2.5.3.jar` https://mvnrepository.com/artifact/com.fasterxml.jackson.core/jackson-core/2.5.3
* `jackson-dataformat-cbor-2.5.3.jar` https://mvnrepository.com/artifact/com.fasterxml.jackson.datafor

[2016-12-20 11:22] bleskes commented on #22133
@makeyang I agree this is not a question but rather a valid concern - if the node permanently can't join the cluster, it will indeed go into an infinite attempt loop. This was originally set up this because 99% of the reasons why a node can't form a cluster are temporarily and you actually want it to retry. Also, even if the node will quits an external service will just start it up again in many c

[2016-12-20 11:36] cbuescher commented on #22264
@josidiez thanks for pointing this out, it looks like others might run into the same problem so I opened a PR that helps to prevent this missunderstanding.

[2016-12-20 11:36] #22264 closed

[2016-12-20 11:41] nezhazheng commented on #9669
+1

[2016-12-20 11:48] georgecao commented on #22189
In **jvm.options**, we specify the heap size and enable gc logs and log to a file by setting
[code]
and keep the other configurations as same as the default ones.

`lsb_release -a` prints **CentOS release 6.4 (Final)**

Yes, but very slow.

The cluster do nothing special. This happens just after we install the ElasticSearch 5.1.1, then we try to start the cluster, which means there are no indexing

[2016-12-20 14:25] javanna opened #22282 "Randomness.get() can make tests non repeatable"
The `Randomness` class was introduced to ease tests repeatability, especially around collections shuffling. `Randomness` works by essentially looking for randomized testing classes in our classpath. If they are found, which is always true in our test classes, the random instance is retrieved via `RandomizedContext.current().getRandom()`. This is the right thing to do in most cases (e.g. while exec

[2016-12-20 14:39] javanna commented on #22282
I didn't realize that what I thought was the node seed is actually the node id seed, so meant to be specific for the generation of the node id. I wonder why we don't have a node seed that can be used for any random event. Wondering what people think about that.

[2016-12-20 15:47] javanna commented on #22282
I also did not realize that we can use `RandomizedContext.runWithPrivateRandomness()`. Code run in that way will retrieve a private random through random(), and this way we make sure that node initialization doesn't affect other randomess in test methods. Will update #22283 accordingly, with that fix `Randomness.get()` is perfectly fine.

[2016-12-20 15:47] #22282 closed

[2016-12-20 16:52] dhirajnair commented on #22198
Thanks for the prompt response. I will look into this and submit a PR when ready

[2016-12-20 19:01] ranguard commented on #22271
https://mvnrepository.com/artifact/joda-time/joda-time/2.8.1 lead to:

[code]

Also adding `jackson-core-2.5.3.jar` and `jackson-dataformat-cbor-2.5.3.jar` also BOOM...
[code]

For reference my `cloud-aws` folder looked like this:
[code]

[2016-12-20 19:01] jpountz commented on #21886
I guess my biggest concern is about backward compatibility. For instance we changed the way numerics are stored in 5.x, and the new data structure we use cannot give you things like doc freqs in constant time. It was hard already, and if we had had this API at that time, that would have been another break to deal with. So we should be totally clear about the fact that this feature may change in un

[2016-12-20 19:31] idozorenko commented on #16838
I have made a fix to sort which has nested aggregations in path. Also you might have multi-value buckets in path (you should just specify bucket key in path like "colors.red>stats.variance").
I might create a pull request or just give a link to the commit in fork of ES 5.1.2 if anyone is interested.

[2016-12-20 19:34] RubieV commented on #16838
That would be great, or link in your fork?

Op di 20 dec. 2016 20:32 schreef idozorenko <notifications@github.com>:

[2016-12-20 20:21] jasontedor opened #22285 "Broken stats serialization"
We have a serialization bug somewhere in the stats serialization code. I've now seen ~~five~~ six independent reports ([2](https://github.com/elastic/elasticsearch/pull/21478#issuecomment-264607855), [4](https://discuss.elastic.co/t/remote-transport-exception-in-5-1-1-w-jdk-1-8-0-111/69607/3), [5](https://discuss.elastic.co/t/remote-transport-exception-in-5-1-1-w-jdk-1-8-0-111/69607/3) and ~~two~~

[2016-12-20 21:01] jakommo opened #22286 "Plugin install fails if another plugin in incompatible version is still installed"
**Elasticsearch version**: 2.4.1 upgrade to 2.4.3

**Plugins installed**: [license, marvel-agent, cloud-aws]

**JVM version**: Java 8 u111

**OS version**: Ubuntu 14.04

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1. Install ES 2.4.1, install at least two plugins
 2. Upgrade ES to e.g. 2.4.3
 3. Remove the first plugin and install it again (w

[2016-12-20 21:22] jasontedor commented on #22286
Duplicates #22084

[2016-12-20 21:22] #22286 closed

[2016-12-20 21:26] #22222 closed

[2016-12-20 21:31] dadoonet commented on #22271
I remember an old issue with very old versions of Java7 with AWS SDK.
Upgrading to latest java7 patch solved the issue.

Was related to date indeed.

So could you try to update your Java 7 version?

[2016-12-20 21:46] tbrooks8 commented on #22116
I have opened a PR to integrate mocksocket into ElasticSearch.

#22287

[2016-12-20 21:46] talevy commented on #22176
cool, thanks @ThaDafinser, since piwik is out of the question due to licensing (if I am not mistaken), then maybe it would be worthwhile to explore WhichBrowser

[2016-12-20 22:08] ranguard commented on #22271
Whats the best way to do that? - I am using the puppet module with java_install = true

Thanks

[2016-12-21 02:37] makeyang commented on #22133
@bleskes  got it. thanks for replying.

[2016-12-21 02:44] makeyang opened #22290 "[feature request]make in-memory segment mutable, therefor make ES real time"
sorry to bother, it is more or less a lucene feature.
**Describe the feature**:
make in-memory segment mutable and can be insert/update/delete/search real time. when it is fsync to disk tranform it into immutable segment just like cassandra acts.

[2016-12-21 06:43] kagrela commented on #16838
:+1:

[2016-12-21 07:36] gameldar opened #22294 "Update the foreach processor documentation to include an example using the ingest attachment processor"
As part of trying to solve an issue with using the ingest attachment processor to handle an array of attachments I found the solution to doing so based upon a discourse thread, and digging through the source of the ingest attachment processor.

However this solution isn't in the documentation, so it needs adding.

This was initiated from the following discourse thread:
https://discuss.elastic.co/t

[2016-12-21 08:06] jakommo commented on #22286
@jasontedor not sure this is a dup. https://github.com/elastic/elasticsearch/issues/22084 is about failing when the old version of the _same_ plugin is still installed, while this is about failing the plugin install if _any other_ plugin is still installed in an old version.

[2016-12-21 08:15] jpountz commented on #22290
Duplicate of https://issues.apache.org/jira/browse/LUCENE-2312.

Note that it is not as easy as it sounds since Lucene heavily relies on the fact that things are sorted, while the terms dictionary and points are typically not sorted yet when they are in the IW ram buffer.

[2016-12-21 08:15] #22290 closed

[2016-12-21 08:21] geekpete opened #22297 "cluster.routing.allocation.exclude._ip using a space after each comma only uses the first ip"
**Elasticsearch version**:
Reproducible on:
 - 5.1.1
 - 2.3.3
and I suspect all versions in between.

**Plugins installed**: []
x-pack (this issue should be reproducible without this plugin installed.)

**JVM version**:
1.8.0_111

**OS version**:
Ubuntu - Linux peter-Inspiron-7520 4.4.0-53-generic #74-Ubuntu SMP Fri Dec 2 15:59:10 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
Also tested on OSX Sierra

[2016-12-21 08:28] mrdgan commented on #22083
BigInteger ?

[2016-12-21 10:05] ranguard commented on #22271
Worked it out - some packages had been kept back, and also we didn't have debian security in the apt list on those boxes!

So although the puppet config was the same, there was a Java version difference, this version worked:

[code]

Many thanks for the assist

[2016-12-21 10:05] #22271 closed

[2016-12-21 10:08] danielmitterdorfer opened #22298 "Cleanup migration code for strict booleans"
In course of #22200, we add code to ease the migration to strict booleans.  In 7.0, we should remove the respective code again (all lenient parsing of booleans for BWC, deprecation logging, ...)

[2016-12-21 10:10] dadoonet commented on #22271
Thanks a lot for confirming @ranguard!

[2016-12-21 10:15] makeyang commented on #22290
@jpountz  thanks very much. this is exactly what I need.

[2016-12-21 10:20] Rajind opened #22299 "Link for setting page in elasticsearch.yml is outdated"
**Elasticsearch version**: 5.1.1

**https://www.elastic.co/guide/en/elasticsearch/reference/current/setup-configuration.html in elasticsearch.yml file in outdated**:

**Steps to reproduce**:
 1. Go to elasticsearch installation home directory
 2. Go to conf directory
 3. Open up elasticsearch.yml.
 4. Click the link at the top. (https://www.elastic.co/guide/en/elasticsearch/reference/current/setup

[2016-12-21 10:31] dadoonet commented on #22299
Thanks for reporting!

Fixed in master, 5.x and 5.1 branches.

[2016-12-21 11:22] dadoonet opened #22301 "repositories.hdfs.path can not be set"
Reported at: https://discuss.elastic.co/t/combine-elasticsearch-5-1-1-and-repository-hdfs/69659

If you define as described [in our docs](https://www.elastic.co/guide/en/elasticsearch/plugins/current/repository-hdfs-config.html) the following `elasticsearch.yml` settings:

[code]

It fails at startup because we don't register the global setting `repositories.hdfs.path` in `HdfsPlugin`.

We should

[2016-12-21 11:22] dadoonet commented on #22301
@jbaiera I can fix it but I'd like to know what is your point of view on the above ^^^

[2016-12-21 11:54] gingerwizard opened #22302 "Missing Keyed Response for Percentiles Bucket"
**Elasticsearch version**:
5.1

I would expect the Percentiles Bucket pipeline aggregation to support a keyed response, similar to the main percentiles agg. Attempting to do this throws the error below, indicating its not currently supported.

[code]
This introduces a few challenges - primarily the fields produced contains dots with are not accessible in templates.

[2016-12-21 12:13] jasontedor commented on #22286
It's a duplicate. It's happening for the same reason. We do a verify post-install and the verify fails because of the outdated plugin. Also, we've discussed this before and decided to leave as-is (I can't find the previous discussion).

[2016-12-21 12:46] idozorenko commented on #16838
As I'm not a contributor, I will just share my commit to ES 5.1 branch here. Please let me know if you have any questions.

https://github.com/elastic/elasticsearch/commit/8f601a3c241cb652a889870d93fd32b3d226ef41

[2016-12-21 12:48] clintongormley commented on #16838
@idozorenko feel free to submit a PR so that we can review the code - thanks

[2016-12-21 14:09] #19370 closed

[2016-12-21 14:09] #21739 closed

[2016-12-21 15:06] nicpalmer opened #22306 "Support for eu-west-2 (London) cloud-aws plugin"
**Elasticsearch version**: All

**Plugins installed**: [discovery-ec2]

**JVM version**: JDK8

**OS version**: Docker (Alpine)

**Description of the problem including expected versus actual behavior**:

It is a reasonable expectation that all AWS regions be usable with the cloud-aws plugins.

Currently the new eu-west-2 region is not supported and errors with the following:

[code]

**Steps to rep

[2016-12-21 15:12] dadoonet commented on #22306
Hey @nicpalmer! Thanks for raising this.

You are warmly welcomed to open a PR and I'll review it.

Take a look at #21961 as an example. You can modify both `repository-s3` and `discovery-ec2` plugins at the same time.

[2016-12-21 15:14] dadoonet commented on #22306
Also note that as a workaround you can set for now `cloud.aws.ec2.endpoint: ec2.eu-west-2.amazonaws.com` in your `elasticsearch.yml` file.

[2016-12-21 15:25] Koc opened #22307 "Add support of window functions from SQL"
Please add support of window functions for sorting like

product_id | company_id | is_special_odder
-------------|-----------|----
1 | 1 | 0
2 | 1 | 1
3 | 2 | 0
4 | 2 | 1
5 | 2 | 1
6 | 3 | 0
7 | 3 | 0

[code]

Result

product_id | company_id | is_special_odder
-------------|-----------|----
2 | 1 | 1
4 | 2 | 1
6 | 3 | 0
1 | 1 | 0
5 | 2 | 1
7 | 3 | 0
3 | 2 | 0

http://stackoverflow.com/questions/72

[2016-12-21 15:30] nicpalmer commented on #22306
@dadoonet thanks for your workaround, that's done the trick for me!

I'll get the PR raised and sent over hopefully by friday.

[2016-12-21 15:51] #22167 closed

[2016-12-21 16:02] dadoonet commented on #22306
Closed by #22308

[2016-12-21 16:02] #22306 closed

[2016-12-21 16:17] jpountz commented on #22290
In both cases of Lucene and Elasticsearch, the vast majority of things we are working on are already in Github, see for instance https://github.com/elastic/elasticsearch/issues/10708 if you are interested about one big thing we are working on.

[2016-12-21 16:21] yaycmyk commented on #21620
@martijnvg I'm still seeing this in 5.1.1. Is a fix landed for a later release?

[2016-12-21 16:26] clintongormley commented on #22297
Related to https://github.com/elastic/elasticsearch/pull/21790

[2016-12-21 16:53] rjernst commented on #22286
One instance of a discussion around it, albeit brief, was in #15197.

[2016-12-21 17:02] cawoodm opened #22312 "No Results Found as soon as Line Chart is Split"
ES 5.1.1 server and Kibana (Windows 7 64bit).

Not sure if this is a Kibana or an Elastic Search issue or my stupidity but I'm trying to make a split line chart and following instructions like [this](https://discuss.elastic.co/t/creating-multiple-line-charts-beginner/24920).

As soon as I try to split my line by the field `type` I get no results.

Without the split:
[code]

With the split:
[code]

[2016-12-21 17:38] jasontedor commented on #22285
This is possibly related to having indices from 2.x in the cluster.

[2016-12-21 18:02] martijnvg commented on #21620
@yaycmyk No, unfortunately not. It will land in 5.2

[2016-12-21 21:56] s1monw commented on #21886
@clintongormley I guess we can go with a plugin here, lets make sure this only works for string/keyword fields and not for numerics and get the semantic clear. @shaie do you wanna take a stab at it?

[2016-12-21 22:05] tbrooks8 commented on #22116
Based on the discussion in the status meeting today, I investigated applying permissions based on files opposed to a separate jar.

So I migrated `accept` out of the core security policy. And placed the following the in test-framework.policy:

[code]

With that change, any tests involving the `MockTCPTransport` passed. (Although the netty transport tests failed as they were not given permission.)

[2016-12-21 22:10] jasontedor commented on #22285
This was a red herring, it was far more sinister.

[2016-12-21 23:34] markwalkom commented on #22312
This doesn't look like a bug or code related issue, are you able to post on https://discuss.elastic.co so we can help? :)

[2016-12-22 03:27] kubbo opened #22318 "poor index performance when index loadVersion"
**es-version: 2.3.3**:

**plugins**: [hq,ik,kopf,licence,marvel-agent,search-guard-2,search-guard-ssl ]

**JVM version**:
1.7.0_79
**OS version**:
sata disk

**Description of the problem including expected versus actual behavior**:
Hi, I have a index(shard=60,replica=1,node=48,jvm:30G), Now total 7 billion docs,everyday  200 million  doc index(with uid ), The job is very slow and I print the stack

[2016-12-22 03:39] jasontedor commented on #22084
Closed by #22305

[2016-12-22 03:39] #22084 closed

[2016-12-22 03:45] #22318 closed

[2016-12-22 04:45] sakuradavid opened #22319 "Es can not load the plugin at run time"
ES 2.3.0 server .
I would like to load the plugin at run time, but failed, I can not get from guice node instance, guice no spring similar application context, ask, can achieve a similar solr load plugins at run time ?

[2016-12-22 04:55] jasontedor commented on #22319
No, this is not possible. Plugins must be initialized during startup.

[2016-12-22 04:55] #22319 closed

[2016-12-22 04:56] jasontedor commented on #22319
In the future, please ask questions on the [forum](https://discuss.elastic.co); Elastic reserves GitHub for verified bug reports and feature requests.

[2016-12-22 05:10] bairongdong1 commented on #11328
I also need that in my company's product.

[2016-12-22 05:31] jasontedor commented on #22189
This is very suspicious, and I suspect that if we can understand this we might be able to unlock what is going on here.

How many cores do your machines have?

Do you see anything in the GC logs?

Can you start the JVMs with these flags?

[code]

[2016-12-22 06:49] shaie commented on #21886
I certainly would like to give it a try :). Can you point me to an example plugin, preferably one that adds REST APIs, so I can get a head start? Also, FYI that I'm going to be on some PTO in the coming weeks, so it might take me some time, but would definitely want to do it. @s1monw, any guidance will be appreciated!

[2016-12-22 07:06] s1monw commented on #21886
The closes I can think of is the reindex module, [here](https://github.com/elastic/elasticsearch/blob/master/modules/reindex/src/main/java/org/elasticsearch/index/reindex/ReindexPlugin.java) is the plugin class for it. RestHandlers are registered [here](https://github.com/elastic/elasticsearch/blob/master/modules/reindex/src/main/java/org/elasticsearch/index/reindex/ReindexPlugin.java#L55). If you

[2016-12-22 07:30] mrauter commented on #22156
I'm facing the same problem. If I grant all permissions to the plugin it works. So I should happen because of missing grant permissions (for org.apache.hadoop.security.Credentials)?

[2016-12-22 07:52] unkn19wn opened #22320 "Error: Could not find or load main class Active"
Hellow After My System crashed my elasticsearch cant start and gives me some error like this :
Error: Could not find or load main class Active
im On Windows 10 and using jdk 1.8.25

**Elasticsearch version**:5.1.1

**Plugins installed**: []

**JVM version**:

**OS version**: Windows 10

**Description of the problem including expected versus actual behavior**:
Error: Could not find or load main cla

[2016-12-22 08:02] bleskes commented on #18069
BTW - this is also addressed in 5.0 with https://github.com/elastic/elasticsearch/pull/20211 and there are [more ideas on the table](https://github.com/elastic/elasticsearch/issues/19813) .

[2016-12-22 08:04] bleskes commented on #22318
If you use auto generated ids and can upgrade to 5.0, you will see great performance improvements due to #20211

[2016-12-22 08:27] dadoonet commented on #22320
Please ask on discuss.elastic.co and provide there your logs.

[2016-12-22 08:27] #22320 closed

[2016-12-22 09:48] olivere commented on #21500
Is there any chance to see the fixed Lucene versions in the next 5.x release?

[2016-12-22 10:03] Chakrygin opened #22321 "index_out_of_bounds_exception and null_pointer_exception in nested aggregates (global -> terms -> top_hits)"
**Elasticsearch version**: 5.1.1

**Plugins installed**: -

**JVM version**: jre1.8.0_111

**OS version**: Windows 7, Ubuntu 16

**Description of the problem including expected versus actual behavior**:

index_out_of_bounds_exception in nested aggregates (global -> terms -> top_hits)

**Steps to reproduce**:
 1. Test data:

[code]

 2. Search request:

[code]

 3. Error:

[code]

**Description of

[2016-12-22 10:05] spinscale opened #22322 "Clarify use of date math in index names with custom date formats"
**Elasticsearch version**: 5.1

You can run this curl command to see that date math calculation with custom formats including more than year, month and day is crippled/bogus.

[code]

The index name `logstash-2016.12.22.12.00.00` does not seem to take minutes and seconds into account and the hour seems to be wrong as well.

The docs dont mention anything, that these formats are not supported - and

[2016-12-22 10:33] umnick84 commented on #22177
Thanks for that!
Meanwhile I prepared workaround with custom java plugin implementation. It works fine. However I cannot compare its performance with native painless code. In documentation you said that painless is really fast. Not sure if I can use groovy script for that (as far as I remember it could not access BitSet class at all so I gave up after a while).

[2016-12-22 10:34] s1monw commented on #22116
++ this sounds like a plan @tbrooks8

I think that will be fine since we don't use this in distribution. Our tests will catch if something is wrong since they use the real zip / tar.gz

[2016-12-22 10:41] jakommo commented on #22286
thanks for the clarification @jasontedor @rjernst

[2016-12-22 11:30] mikemccand commented on #21500
@olivere I think that is likely; Lucene will probably soon start the 6.4.0 release process, and there are a number of improvements in that release, including this bug fix, that we want to expose for ES's next release.  But I can't promise the timing will work out!

[2016-12-22 11:47] DBARUNNER opened #22324 "Painless scripting language add value to the field not working"
I am using Elasticsearch 5.0.1 want to add value to paritial of document, I use scripting update

{
    "script" : {
        "inline": "ctx._source.tags.add(params.tag)",
         "inline": "ctx._source.type.add(params.typee)",
        "lang": "painless",
        "params" : {
            "tag" : "blue",
             "type" : "location"
        }
    }
}

but it just add type value not tags value,

[2016-12-22 12:50] cawoodm opened #22326 "403 Error when http.cors.enabled: true"
**Elasticsearch version**: 5.1.1
**Plugins installed**: none
**JVM version**: 1.8
**OS version**: Win7, 64bit

As soon as the line `http.cors.enabled: true` is added to elasticsearch.yml and the server restarted queries begin to return 403.

I added the setting as described in [elasticsearch-head](https://github.com/mobz/elasticsearch-head#running-with-built-in-server) to get the UI running.

**St

[2016-12-22 13:01] clintongormley commented on #22326
Please see the other cors settings that you need to change in the documentation: https://www.elastic.co/guide/en/elasticsearch/reference/5.1/modules-http.html

[2016-12-22 13:01] #22326 closed

[2016-12-22 13:35] #20163 closed

[2016-12-22 13:36] #1694 closed

[2016-12-22 13:58] jpountz commented on #22324
I think this issue has nothing to do with painless but with the fact that you specify the `inline` property twice, which makes the json document illegal and Elasticsearch only sees the last one. Try: `"inline": "ctx._source.tags.add(params.tag); ctx._source.type.add(params.typee)"`.

[2016-12-22 13:58] #22324 closed

[2016-12-22 14:09] #21620 closed

[2016-12-22 14:20] #21600 closed

[2016-12-22 14:22] cawoodm commented on #22312
You may be right - although the message may indeed be misleading as to what is actually happening. From a user perspective I want to see the same data I am looking at in a different way and the "system" (the Man) tells me I have no data...

[2016-12-22 14:22] #22312 closed

[2016-12-22 14:24] cawoodm commented on #22312
https://discuss.elastic.co/t/no-results-found-as-soon-as-line-chart-is-split/69808

[2016-12-22 14:30] cawoodm commented on #22326
OK, quickfix for secure settings (i.e. LAN):

[code]

[2016-12-22 15:09] khalidabuhakmeh commented on #21291
Hello @areek I am running into the same issue as @kabcampbell where I have similar documents within the same index, but only want to suggest from a subset of those documents.

I am finding that the contexts are resulting in `OR` logic which is returning irrelevant suggestions.

[2016-12-22 16:10] nik9000 opened #22328 "Reindex-from-remote should use preemptive authorization if username and password are configured"
Reported [here](https://discuss.elastic.co/t/reindex-from-remote-not-working/69625). Currently if reindex-from-remote attempts to talk to a server that doesn't send `403 forbidden` when it needs a password then it'll never try to send the password.

[2016-12-22 16:13] nik9000 opened #22329 "reindex-from-remote content type detection fallback doesn't work"
Reported [here](https://discuss.elastic.co/t/reindex-from-remote-not-working/69625). If reindex-from-remote attempts to do content detection it hits this:
[code]

Setting the logger to debug "fixes" this because it enables the tracer which replaces the stream with a stream that supports marking.

[2016-12-22 16:15] nik9000 opened #22330 "Reindex-from-remote error message when the remote returns unexpected data isn't obvious"
Reported [here](https://discuss.elastic.co/t/reindex-from-remote-not-working/69625). If reindex-from-remote gets back unexpected data the error message tends to look like:

[code]

Which looks like a parse error in the request the user sent. This should be some other error, one that makes it obvious that the remote server returned text that doesn't make sense to reindex-from-remote. It should also

[2016-12-22 16:18] jdconrad commented on #22177
Groovy has been deprecated in 5.0 and is removed in 6.0, so it's not really an option anymore just in case you were still looking into that.

On a different note, after a bit of investigation, we went with long[] for performance reasons, but this is place where having byte[] also would be good, so I'll evaluate what our options are here to see if we can give you what you need.

[2016-12-22 16:24] #21429 closed

[2016-12-22 18:03] fluggo opened #22333 "NullPointerException while retrieving stats in 5.1.1"
**Elasticsearch version**: 5.1.1

**Plugins installed**: None

**JVM version**: openjdk-8-jre-headless/jessie-backports 8u111-b14-2~bpo8+1

**OS version**: Debian 8 Jessie

**Description of the problem including expected versus actual behavior**:

Errors in logs about master nodes not contributing to the node stats. If they are supposed to contribute, then they should show up in master stats. If t

[2016-12-22 18:05] jasontedor commented on #22333
Duplicates #22058, closed by #22060

[2016-12-22 18:05] #22333 closed

[2016-12-22 18:19] dustinschultz commented on #16412
Has anyone tried enabling `client.transport.sniff=true` as a workaround? Curious if this would work around the issue.

[2016-12-23 00:46] ritsu1228 commented on #14641
I got similar situation and ES rejects timestamp as floating point values returned by json parser. `coerce` does not seem to work with `date` type either. Is there any plan to either allow floating point as `date` or add `coerce` option to `date` type?

[2016-12-23 10:03] clintongormley commented on #3861
Discussed in FixItFriday - we're good to implement this.

[2016-12-23 10:10] clintongormley commented on #4479
Given that three years have passed with no action, and we're moving away from the transport client to the rest client, I'm going to close this as won't fix

[2016-12-23 10:10] #4479 closed

[2016-12-23 10:23] clintongormley commented on #4707
Let's document and close

[2016-12-23 10:27] clintongormley commented on #11328
I'd be OK with this being added as a plugin.  Same goes for the SpanQueryParser in https://issues.apache.org/jira/browse/LUCENE-5205

[2016-12-23 10:41] clintongormley commented on #4877
This should be done in Lucene - nice easy one to adopt

[2016-12-23 10:59] clintongormley commented on #5359
Discussed in fix it friday. Closing in favour of #20367.

[2016-12-23 10:59] #5359 closed

[2016-12-23 11:11] dadoonet commented on #22294
This has been fixed by #22310. Closing.

[2016-12-23 11:11] #22294 closed

[2016-12-23 11:13] dadoonet commented on #21041
@rjernst Any opinion on this one?

[2016-12-23 11:14] dadoonet commented on #20822
No further feedback.

Closing but feel free to reopen if you have more details.

[2016-12-23 11:14] #20822 closed

[2016-12-23 11:16] dadoonet commented on #17179
No further feedback on this one.
I'm closing but feel free to reopen and/or add comments if any.

[2016-12-23 11:16] #17179 closed

[2016-12-23 11:30] dadoonet commented on #21681
Closing as per https://github.com/elastic/elasticsearch/pull/21604#issuecomment-268976920

[2016-12-23 11:30] #21681 closed

[2016-12-23 12:44] marek-obuchowicz commented on #5359
Please, let's leave it open. #20367 solves only one use case (agreed that probably most popular), but what has been discussed here has broader scope.

[2016-12-23 13:07] jimczi commented on #21833
@markharwood, @jpountz this is an early WIP but I think it's ready for a preliminary review. We've discussed some time ago regarding the feasibility of this so I wanted to give a try. I'd like to know if the direction I am taking seems justified and whether this feature should be included in the regular search or not.

[2016-12-23 13:27] clintongormley commented on #21620
Closed by https://github.com/elastic/elasticsearch/pull/21693

[2016-12-23 13:39] clintongormley commented on #22322
I think we should just document it

[2016-12-23 13:44] clintongormley commented on #22321
@martijnvg please could you take a look

[2016-12-23 14:39] jasontedor commented on #22103
It works no problem for if you grant permissions:

[code]

Sadly, Log4j 2 does not handle these permissions properly, so you have to grant the permissions to everything. We are absolutely not going to grant these permissions to everything, so us being able to support JSON out of the box will have to wait until we can contribute a patch to Log4j 2. You are free to grant these permissions at your ow

[2016-12-23 14:39] #22103 closed

[2016-12-23 14:44] #22285 closed

[2016-12-23 15:04] #22114 closed

[2016-12-23 15:21] divanikus opened #22340 "Elasticsearch 5 can't be installed in LXC"
I'm trying to install elasticsearch 5.0.2 inside a priveleged LXC container. Install process fails with
`Failed to write '262144' to '/proc/sys/vm/max_map_count': Read-only file system`

**Elasticsearch version**: 5.0.x

**JVM version**: 8u111

**OS version**: Debian 8.6

Installing using dpkg fails with mentioned error. Can't be fixed with apt-get -f install. Package manager remains in failed sta

[2016-12-23 15:32] jasontedor commented on #22340
Duplicates #21877, closed by #21899

[2016-12-23 15:32] #22340 closed

[2016-12-23 16:51] eht16 commented on #22103
Thanks a lot for the information.

[2016-12-23 16:53] jasontedor commented on #22103
You're very welcome.

[2016-12-23 19:07] mrvincenzo commented on #4847
@jpountz, is it in the 5 GA versions? 5.1.1 specifically?

[2016-12-23 19:22] mikemccand commented on #4877
+1

[2016-12-23 19:58] Robooto commented on #21291
Hi,  I recently updated from 2.x to 5.0 and am experiencing this same issue where filtering my multiple contexts is resulting in OR filtering instead of AND.

[2016-12-23 20:20] niemyjski opened #22341 "5.1.1 - DateHistogram Missing Bucket intervals on the edges"
I need to dig deeper but I'm pretty sure in 1.x there were empty buckets created for the start and end time based on your interval. Now I only get buckets created between the first and last bucket in my range. Is there an option or setting to give me this behavior? Or is this something I'm going to have to do client side (create buckets based on an interval).

[code]

[2016-12-23 20:22] niemyjski commented on #22341
I'd expect to see a bucket for every `15m` between `2016-12-22T19:00:00Z` and `2016-12-23T19:00:00Z`

[2016-12-23 20:50] rjernst commented on #21041
I don't think we should be using any credentials files. With the new key store tool, all secure settings should be in there.

[2016-12-23 21:15] dadoonet commented on #21041
I agree. Thanks for confirming.
I'll remove this from the credential chain so we won't try it.

[2016-12-23 21:59] jpountz commented on #22341
Aggregations do not know about the query, only about the matching docs, so they do not know about the bounds of the filter you used in the query part.

You can tell the date histogram to generate buckets for the whole range by passing `min_doc_count: 0` and the values of the bounds:

[code]

[2016-12-23 21:59] #22341 closed

[2016-12-25 10:05] zhaozhijun1988 commented on #22033
I also have the same issue， How to solve it;
http://stackoverflow.com/questions/41309694/elasticsearch-geo-polygon-query-work-not-correctly

[2016-12-25 22:33] evertramos opened #22346 "Highlight issue using Simple Query Search with "term_vector":"with_positions_offsets" option along with language analyzer"
**Elasticsearch version**: 5.1

**Plugins installed**: [ingest-attachment]

**JVM version**: OpenJDK version "1.8.0_102"

**OS version**: boot2docker and Ubuntu 14.0 (docker version of elasticsearch 5.0 container)

**Description of the problem including expected versus actual behavior**: When indexing a content (pdf file content) we expected to have, under the _simple_query_search_, using double q

[2016-12-25 22:49] dadoonet commented on #22346
I'd create a recreation script without ingest as I think it does not play any role here. Can you do that?

Then can you test what is the output of the _analyze API when using your analyzer? That might give some clues. BTW what is exactly your index settings when you switch to Portuguese?

[2016-12-26 00:00] #19957 closed

[2016-12-26 01:09] evertramos commented on #22346
Hello @dadoonet,

I did the test and without the ingest the results are the same. Here is the scripts:
[code]

[code]

[code]

Here is the analyzers:

1. English
[code]
Results:
[code]

2. Brazilian Portuguese:
[code]
Results:
[code]
P.S.: Somehow it takes the last letter off from the analyze, but it comes out right in the query results as of: **Paulo** and **Tarso**.

And here is my full mapping:

[2016-12-26 02:48] lovelgw opened #22347 "Elasticsearch bulk index failed"
**Elasticsearch version**: 5.1.1

**Plugins installed**:  analysis-seunjeon, elasticsearch-analysis-mecab-ko, x-pack

**JVM version**: openjdk version "1.8.0_111"

**OS version**: CentOS release 6.8 (Final)

**Description of the problem including expected versus actual behavior**:
bulk index fails

**Steps to reproduce**:
 1. curl -s -XPOST http://127.0.0.1:9200/data/_bulk --data-binary '@test.jso

[2016-12-26 04:10] aqlu commented on #22189
We upgrade 2.3.2 to 5.1.1, And encountered the same problem with @sinsonglew

[2016-12-26 06:21] uamadman commented on #22087
I'm experiencing something similar. I've created a brutish python script for showcasing this issue.
The following shows a simple python script that creates a GeoShape mapping and adds data.
This method indexes roughly 5 line-strings per second, while triggering the GC Allocation failure for the entirety of the load.

[code]

![image](https://cloud.githubusercontent.com/assets/8550796/21476619/3ac8

[2016-12-26 06:50] sakuradavid commented on #22319
Got it.Thianks

[2016-12-26 06:51] sakuradavid commented on #22319
Got it.Thanks.

[2016-12-26 06:58] sakuradavid opened #22348 "Feature request"
We want to use RAMDirectory in the ES,but failed,in the feature ,we hope use it,thanks.

[2016-12-26 08:37] makeyang commented on #22263
@clintongormley I pull a request for this issue: https://github.com/elastic/elasticsearch/pull/22349. can you help to review it? thanks

[2016-12-26 10:06] jimczi commented on #22346
@evertramos thanks for the report. This is known bug in Lucene:
https://issues.apache.org/jira/browse/LUCENE-7551
The only workaround for the time being is to remove the stop word filter from the analyzers that are used for highlighting.
We have a plan for a new highlighter called `unified` in 5.x, this highlighter does not have this issue and works with `fast_vectors` so I am going to close this

[2016-12-26 10:06] #22346 closed

[2016-12-26 10:56] jpountz commented on #22348
Lucene's RAMDirectory is only meant for testing, so we do not plan to support it.

[2016-12-26 10:56] #22348 closed

[2016-12-26 11:03] tangfl commented on #22156
@mrauter  What do you mean by "If I grant all permissions to the plugin" ? Could you paste the plugin-security.policy file?  We are hitting this too

[2016-12-26 11:08] evertramos commented on #22346
Thanks @jimczi

I will try to set it up as you said. Hope to get this UH soon, once project should be live in a few days now.

Cheers! Happy New Year!

[2016-12-26 12:58] evertramos commented on #22346
Well, maybe not the best solutions, but I got around with the below settings, only for the record:

1. Mapping the highlight with multi-field:
[code]

2. In search query I use:
[code]

So I could merge the highlight as probably how the UnifiedHighlight will do it, but a lot better. I understand that my index will be probably doble sized because of the multi-field, as I expect, but right now it sol

[2016-12-26 15:01] jimczi opened #22350 "`scaled_float` are used as longs in aggregations"
Originated from https://github.com/elastic/kibana/issues/9568

For `scaled_float` type the expectation is that aggregations works on the scaled float value. For instance for the value "6.98" with a scaling factor of 10 the bucket "6.9" should be used.
Currently the aggregations use the long value of the scaled float to compute the buckets. So instead of "6.9" the created bucket is "6".

Steps to r

[2016-12-27 03:11] aqlu commented on #22189
@sinsonglew we tried to downgrade netty from 4 to 3, but can not resolved this problem.

We found some phenomenon:
1. when the throughput is relatively low, there is no node left.
2. Master node is never left.

I tried to setting `discovery.zen.fd.ping_retries: 6`, but has no effect.

**Elasticsearch version:** 5.1.1
**Plugins installed:** [x-pack]  disabled security plugin
**JVM version:** Java(T

[2016-12-27 04:44] tbrooks8 commented on #22116
I've spiked on this [here](https://github.com/tbrooks8/elasticsearch/commit/a100ea87dd1b0eed85eb078fdc694ad1156b4815#diff-3be67d43cef62609fb9f591011401559R198).

I've been learning more about the `SecurityManager` and it seems that creating a `new Thread` inherits the permissions from where the thread was created. So giving "discovery-azure-classic" `SocketPermission` and wrapping https `start` in

[2016-12-27 07:29] xpr0ger opened #22352 "Unexpected behavior for aggregation of date type represented as epoch_second"
[code]

**Mapping**:
[code]

**Some data for test purpose**:
[code]

**Search query**:
[code]

There are two problems in the last query:
* Instead of seconds inside dt_max I've got milliseconds. Is this ok?
* But the most important what I've found out is what the dt_max is the double for inline script.

I've expected what for each of steps in the query I'll get the seconds or I'm wrong? Might it b

[2016-12-27 08:23] #22350 closed

[2016-12-27 08:55] jpountz commented on #22263
I like the idea, one minor concern I have is that it means every time we add a new built-in analyzer, we may break an existing index?

[2016-12-27 09:02] jpountz commented on #22352
There is a related discussion here https://github.com/elastic/elasticsearch/pull/22201#issuecomment-268634732. Today we use the internal representation for keys, which feels wrong to me. I'd like to fix it but this will be a breaking change.

This one is expected, #9545 has more background on this.

Closing as a dup of #9545

[2016-12-27 09:02] #22352 closed

[2016-12-27 09:42] mrauter commented on #22156
@tangfl
permission java.security.AllPermission;

[2016-12-27 09:50] makeyang commented on #22263
@jpountz  how about make build-in staff starts with underscore and don't allow users define these staff starts with underscore?

[2016-12-27 10:02] makeyang commented on #22209
@martijnvg  are you working on this? if not, I'd like give it a try.

[2016-12-27 11:58] martijnvg commented on #22209
@makeyang No, I haven't had the time to look into it...

The reason the `_parent` field isn't returned is because the field name is actually `_parent#[parent-type]`. The `_parent` key is the mapping is really a just a key, not the actual field name that we use the index and mapping. So I expect `GET authors/book/_mapping/field/_parent#author` or `GET authors/book/_mapping/field/_parent*` to return

[2016-12-27 12:09] martijnvg commented on #22209
The following does return the parent fields from the field mapping api:

[code]

Although when specifying the mapping the `_parent` name is used, there is no such field internally it is translated into `_parent#[parent-type]`. In an index there can be many _parent fields, one per parent type. Although this may look confusing, from a field level it is consistent. I think this will be clearer once t

[2016-12-27 13:15] bairongdong1 commented on #11328
I had write a test plugin for this, just implement the basic function, just to pass my test, I am neebee in ES and lucene.    [test parser](https://github.com/bairongdong1/BayParser)

[2016-12-27 13:16] bairongdong1 commented on #11328
I had write a test plugin for this, just implement the basic function, just to pass my test, I am newbee in ES and lucene. [test parser](https://github.com/bairongdong1/BayParser)

[2016-12-27 13:18] bairongdong1 commented on #11328
I had written a test plugin for this, just implement the basic function, just to pass my test, I am a newcomer to ES and lucene. [test parser](https://github.com/bairongdong1/BayParser)

[2016-12-27 13:48] martijnvg commented on #22321
@clintongormley This looks to be caused by the fact breadth first collection mode is used. Using the same query with depth first collection mode succeeds:

[code]

Looking at `BestBucketsDeferringCollector.java`, it doesn't take into account that it may be used in a global aggregation when scores are needed. For example that the main query has matches for all segments and that the saved docids are

[2016-12-27 14:56] scipilot commented on #18667
Thanks @Gramler that was indeed my problem.

[2016-12-27 16:07] yackushevas commented on #12963
Any news?

[2016-12-27 16:11] ctindel opened #22353 "Improved docs related to query order"
A prospective customer was asking about order of operations with a bool query, specifically if the filter section executed before the must/must_not sections.  We weren't able to find an answer to this in our product manual, the closest we could find was this one:

https://www.elastic.co/guide/en/elasticsearch/guide/current/_finding_exact_values.html#_internal_filter_operation

"Although not quite

[2016-12-27 16:26] ANorwell commented on #21902
I seem to be getting this as well in the java ES client with a very large ZFS installation (many disks and thousands of datasets). Preferably the ES client (nor the server) should not care about these or need to iterate over them.

[2016-12-27 16:31] niemyjski commented on #22341
@jpountz Thanks! I just wanted to point out that the marvel intellisense doesn't show extended bounds in the auto completion.

[2016-12-27 16:45] jpountz commented on #22341
Thanks, I opened https://github.com/elastic/kibana/issues/9651

[2016-12-27 18:01] ANorwell commented on #21902
To add some more detail here:

The initialization of `org.elasticsearch.env.Environment` is quadratic in the number of FileStores returned by `java.nio.file.FileSystems.getDefault.getFileStores`. For me, this can be 30k+ filestores, because the underlying file system is ZFS.

The quadratic performance comes because:
1. The static initialization of `org.elasticsearch.env.Environment` loops over all

[2016-12-27 18:24] reol-nbessette opened #22355 "percolator: null_pointer_exception when storing query with date range query using "gt" or "gte" operator"
**Elasticsearch version**: 5.1.1

**Plugins installed**:
[code]

**JVM version**: 1.8.0_111

**OS version**: Ubuntu 16.04 (Linux amd64 4.4.0-57-generic)

**Description of the problem including expected versus actual behavior**:

Attempting to index a percolate query that uses `gte` or `gt` in a range query against a field of type `date` fails with the following error:

[code]

Range queries using

[2016-12-27 20:12] martijnvg commented on #22355
@reol-nbessette Thanks for reporting, this is a bug in the now range validation for percolator queries containing range queries.

[2016-12-27 20:13] RobertTheProfessional commented on #22189
@sinsonglew @aqlu Just upgraded our 10 node cluster from 2.4.1 and suffering what seems to be similar issues.

I've downgraded the netty clients on both the transports and http clients to version 3 from 4 and adjusted the keepalive timers on the all of the hosts but my nodes are still suffering the pinging issues every few hours.

[code]

[2016-12-27 20:42] reol-nbessette commented on #22355
@martijnvg Now that's a fast debug session and commit. Thank you so much!

Should someone else stumble across this issue before the next patch release, here's a client-side workaround if you're not wanting to patch the server directly. The bug is that when a "from" date (via `gt` or `gte`) is specified, a "to" date (via `lt` or `lte`) is erroneously expected as well. We can work around by attachin

[2016-12-27 21:59] #22355 closed

[2016-12-27 22:31] sicarrots opened #22357 "Very slow completion suggester"
**Elasticsearch version**:
5.1.1
**Plugins installed**:
No plugins
**JVM version**:
java version "1.8.0_111"
Java(TM) SE Runtime Environment (build 1.8.0_111-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.111-b14, mixed mode)
**OS version**:
Debian 8
**Description of the problem including expected versus actual behavior**:
3 nodes, two data nodes and one for communication with application withou

[2016-12-28 00:13] jasontedor commented on #21824
I think this is on your end. I'm able to get this working with a proxy and using `-Dhttps.proxyHost` and `-Dhttps.proxyPort`:

[code]

Output from my proxy:

[code]

[2016-12-28 00:13] #21824 closed

[2016-12-28 01:37] sinsonglew commented on #22189
@aqlu, what's your setting for **discovery.zen.minimum_master_nodes**, you said when throughput is low, it works fine, vice versa. it is how high the throughput is that make cluster out of function. Did  cpu, memory usage are in safety line, how complex your query are ? Try optimize your query may be the first option.

[2016-12-28 01:42] sinsonglew commented on #22189
@RobertTheProfessional , you said every few hours the cluster will lose nodes. When that happened, can you provide any other info about business query frequency, lcpu load and so on.

Also try a different master node to exclude machine issue.

[2016-12-28 02:01] RobertTheProfessional commented on #22189
@sinsonglew The nodes are on an OpenStack virtualization platform. We have three master nodes at 4 vCPUs, 16GB RAM and 4GB heap locked to the ES process. There's ten data nodes are 16 vCPUs, 64GB RAM with 31GB of RAM locked to the ES process. Currently we're indexing at a rate of 5,000 documents a second and as a result the heap on a few of the nodes tend to average around 27GB before the garbage

[2016-12-28 02:34] aqlu commented on #22189
@sinsonglew here is my nodes info, 5 master and data node,  2 data only node:
[code]
We setting **discovery.zen.minimum_master_nodes ** is **3** . This ES cluster is our log cluster, usually use bulk index, query is less. And this cluster working fine at ES v2.3.2.
CPU and memory are in noraml range:
![image](https://cloud.githubusercontent.com/assets/5010463/21512300/ba95ecd6-cce6-11e6-824c-45506

[2016-12-28 02:56] RobertTheProfessional commented on #22189
@aqlu Yeah this issue cropped up immediately after upgrading to 5.1.1. Judging by both of our statistics, I'm starting to believe the garbage collection process is getting in the way of the node pinging the master node.

<img width="1697" alt="screen shot 2016-12-27 at 9 47 04 pm" src="https://cloud.githubusercontent.com/assets/1852571/21512832/3e9cc224-cc7f-11e6-96c8-9f1e029b33ac.png">

[2016-12-28 04:41] tbrooks8 commented on #22116
Updates:

1. I updated #22287 with changes to mocksocket that include wrapping the http/https servers.
2. I pushed mocksocket to MavenCentral.
3. I worked on integrating the netty snapshot based on my PR on this [branch](https://github.com/tbrooks8/elasticsearch/tree/integrate_netty_updates). With the netty snapshot + mocksocket PR, when I move the `accept` permissions out of core and to just nett

[2016-12-28 05:25] sinsonglew commented on #22189
@aqlu , how did you assign shards allocation ? what's your setting of  index **refresh_interval** ?
try to adjust **refresh_interval** bigger.

[2016-12-28 06:39] aqlu commented on #22189
@sinsonglew
here is my refresh and shards setting:
[code]
I can try to set up value of **refresh_interval**， But I think this is not root cause of the problem.

[2016-12-28 08:20] essuraj opened #22358 "context suggestion with Boolean contexts:illegal_argument_exception"
Elasticsearch version: 5.1
Plugins installed: none

illegal_argument_exception
[category] context doesn't support values of type: VALUE_BOOLEAN

[code]

elasticsearch 5+ doesn't allow context suggestion s with Boolean contexts.. what can be done about this?

[2016-12-28 08:58] rlueckl commented on #21824
But why was it working with versions < 2.4? Why does the proxy work with wget and curl?

I don't really understand Java, but when I use curl I see that the first request is a CONNECT to the proxy, and not a GET request. Maybe that's relevant?

As you can see from my example we only have an HTTP port for the proxy (Squid) on Port 3128. We don't have a separate HTTPS proxy. Maybe you have to use CON

[2016-12-28 10:22] makeyang opened #22359 "[feature request]and one more dynamic index setting parameter: traslog path"
which can be used to customrized translog path.

[2016-12-28 10:42] jpountz commented on #22359
What is the motivation for this feature request?

[2016-12-28 11:13] Tetraneon commented on #22156
Hi everyone,

Same problem :
- It works on my VM prototype (UBUNTU 16.04/elasticsearch 5.0.2 from zip) with 2 nodes and a repository on a Hubic file system (`sudo hubicfuse /mnt/hubic -o noauto_cache,sync_read,allow_other,uid=XXX,gid=XXX,nonempty`).
- But with my VPS system, it's a drama... The fisrt snapshot began : i can see but when it ends, it's impossible to consult list of snapshots, neither

[2016-12-28 11:29] makeyang commented on #22359
@jpountz while translog could be write on each write operation, in order to improve overall write performance, some users may choose write translog in SSD while write index file on spin disk.

[2016-12-28 13:07] ywelsch commented on #22347
at org.apache.lucene.util.automaton.FiniteStringsIterator.next(FiniteStringsIterator.java:121) ~[lucene-core-6.3.0.jar:6.3.0 a66a44513ee8191e25b477372094bfa846450316 - shalin - 2016-11-02 19:47:11]

Can you provide the mapping for the corresponding index? (i.e. output of `curl localhost:9200/data/_mapping/paper?pretty`)

/cc: @mikemccand

[2016-12-28 13:58] leilengma opened #22360 "OutOfMemoryException: Java Heap Space while indexing"
**Elasticsearch version**:5.0.0

**Plugins installed**: []

**JVM version**: 1.8.0_111

**OS version**: Windows 7

**Description of the problem including expected versus actual behavior**:

I am using elasticsearch to store objects which are structured as follows:

        properties: {
            date: { type: "date", format:"epoch_second"},
            id: { type: "long" },
            document

[2016-12-28 15:21] niemyjski commented on #20367
We could really use this functionality. Currently we have to have a check to create an index mapping and then insert into it, because we can't use templates.

[2016-12-28 16:03] jpountz commented on #22359
Then we'll probably reject this feature request. We used to have the ability to store shards on multiple data paths but moved away from it. See #9498 for background. Additionally I am not convinced that moving the tranlog to a faster disk while leaving the index on a slow disk would improve write performance.

[2016-12-28 16:03] #22359 closed

[2016-12-28 16:32] jpountz commented on #22360
Please share the output of `curl -XGET 'http://localhost:9200/_segments'`.

[2016-12-28 17:06] jimczi commented on #22357
Field "suggest_title" is mapped as:

How big is one document ? Considering that you use `_source_include` I suspect that your _source can be big ? One of the difference with 2.1 is that the completion suggester now returns the source of the suggested document.

[2016-12-28 17:19] clintongormley commented on #22263
Is this something we can check on index create only?

[2016-12-28 17:36] clintongormley commented on #22358
@essuraj  you need to use the new syntax in 5.0: https://www.elastic.co/guide/en/elasticsearch/reference/5.1/suggester-context.html#suggester-context

[2016-12-28 17:43] clintongormley commented on #22353
Things have changed since that para was written in the definitive guide.  It used to matter.  These days the point is: you shouldn't have to think about it, Lucene should figure out the optimum execution for itself.  Also, there's no real way to document this as the execution is dependent on many factors.

[2016-12-28 17:43] #22353 closed

[2016-12-28 18:00] ctindel commented on #22353
It doesn't matter whether someone uses a filter or a must clause in a book query?

[2016-12-28 18:11] sicarrots commented on #22357
Current index with 1.6mln docs is using 16GB disk space. One document can have from 50 up to 500 fields. Currently fields have only short values, but eventually lot of fields can store text content of scanned pages of books. In previous version of elasticsearch all objects was indexed full text fields. I was trying to use _source_include, but with no result to speed of sugester.

[2016-12-28 18:22] jimczi commented on #22357
You can try to disable the stored fields completely:
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-stored-fields.html#_disable_stored_fields_entirely
 ... or you can have a separate index for the suggestions.
I'll close the issue but feel free to reopen if disabling the stored fields doesn t help

[2016-12-28 18:37] sicarrots commented on #22357
Disabling stored fields didn't help. Anyway, it's not possible to disable stored_fileds, because it blocks using _source_include, so I wont get any metadata about document (stored previous in payload).
[code]
`"took": 62791`

Using another index may be a solution, but it didn't change that here we have very big regression comparing to 2.x.

[2016-12-28 18:39] sicarrots commented on #22357
I cannot reopen this issue @jimczi

[2016-12-28 18:47] jimczi commented on #22357
Ok so it's something else. Can you share your mapping and some example input for the completion field?

[2016-12-28 19:15] rbayliss opened #22364 "Add a way to determine the position of a result in a set or the presence of forward/backward results"
**Describe the feature**:
The new `search_after` parameter is awesome for paging through huge result sets!  I'm trying to connect ElasticSearch to a GraphQL API using the Relay connection spec, and I'm hitting a problem where I'm unable to determine whether there are additional results before or after the current set.  I can work around it for the moment by retrieving one more result than I need o

[2016-12-28 19:44] #21868 closed

[2016-12-28 20:41] sicarrots commented on #22357
Example mapping is here: https://gist.github.com/sicarrots/e28eac006a2d37b05c462a4c75a271d9
Example inputs for suggest_title is ['Plan Warszawy', 'Warszawa w słowach i obrazach', 'Wojna i pokój', 'Wars i Sawa']'

[2016-12-29 01:47] lovelgw commented on #22347
{
  "data": {
    "mappings": {
      "_default_": {
        "properties": {
          "bCategory": {
            "type": "integer",
            "store": true
          },
          "body": {
            "type": "text",
            "analyzer": "koreanIndex"
          },
          "category": {
            "type": "keyword",
            "store": true
          },
          "changeDate": {

[2016-12-29 02:22] essuraj commented on #22358
@clintongormley I have used the new syntax.. but previously i can add a boolean field too. After the update i am unable to use boolean fields

[2016-12-29 02:35] lanegg commented on #21172
@Muyv It's work!!  66
why?

[2016-12-29 06:35] windcandle opened #22365 "Has Elasticseach like mysql temporary column?"
I want to have temporary column to store result data, How can I do?

[2016-12-29 07:39] iFrankWu opened #22366 "Painless script error ： doc['last_name'].value will return number value if the value of field 'last_name' contains number chars"
**Elasticsearch version**:5.1.1

**Plugins installed**: [head,kibana]

**JVM version**:1.8.0_112

**OS version**:CentOS Linux release 7.2.1511 (Core)

**Description of the problem including expected versus actual behavior**:
When I use painless to
**Steps to reproduce**:
 1.
PUT /my_index/my_type/1?pretty
{
  "title": "Mr",
  "first_name": "Barry",
  "last_name": "White df 43"
}
 2.
GET /my_index/

[2016-12-29 08:13] jimczi commented on #22366
Please use the forum for questions like this:
https://discuss.elastic.co/c/elasticsearch

This is the first value present in the fielddata for this field. To return the string entirely you'll have to change the type of the `last_name` field to `keyword`:
https://www.elastic.co/guide/en/elasticsearch/reference/master/modules-scripting-fields.html

[2016-12-29 08:13] #22366 closed

[2016-12-29 08:19] leilengma commented on #22360
@jpountz, thanks for the reply.

Here is the output of curl -XGET 'http://localhost:9200/_segments':
{
   "_shards": {
      "total": 7,
      "successful": 6,
      "failed": 0
   },
   "indices": {
      ".kibana": {
         "shards": {
            "0": [
               {
                  "routing": {
                     "state": "STARTED",
                     "primary": true,

[2016-12-29 08:43] JESWINKNINAN commented on #4978
Hi,

Someone,  please describe the warning message that shows when starts/restarts the elasticsearch service in a docker container

root@5b69cb59e53f:/~/dockerproject# /etc/init.d/elasticsearch restart
 * Stopping ElasticSearch Server

[2016-12-29 08:54] jpountz commented on #22365
No it doesn't. Please ask such questions at discuss.elastic.co.

[2016-12-29 08:54] #22365 closed

[2016-12-29 09:16] jpountz commented on #22364
Given the way things are implemented, we could theoretically count how many documents we ignore due to the fact that the compare less than the sort values that are provided in `search_after`. However, this means updating responses to the search API to include thiss information, modifying the Lucene collectors to expose this offset and more generally propagating this information from the collector

[2016-12-29 09:31] jimczi commented on #22357
Thanks @sicarrots
From what you provided it is hard to tell what's wrong. I though it was the stored fields but it seems not. Can you capture the output of the `hot_threads` during the suggest query:
https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-nodes-hot-threads.html
Is there any difference in you deployment for 5.1 vs 2.1 ? Number of nodes, ram, data ? Can you also comp

[2016-12-29 09:45] sicarrots commented on #22357
With 2.1 there was 4 shards, currently 3. Number of nodes and hardware is the same.
Currently objects are indexed wihout text fields, so physical size on disc is lower (on 2.1 cluster with test fields it was ~1TB on each node, currently its ~20GB). Number of objects is the same.
Here is output of hot threads: https://gist.github.com/sicarrots/4c1b70fa52c2fbcc289e58a1ba8edd83

[2016-12-29 09:48] jpountz commented on #22360
You have about 1.2 billion Lucene documents (which includes the top-level documents plus those that are created implicitly due to the use of the `nested` type in the mapping) on your node and 3 levels of nesting, so I would expect about 3 * 1.2B / 8 = 429MB of memory used by the bitset filter cache (which keeps track of the hierarchy of nesting). This is consistent with what heap analysis reports.

[2016-12-29 09:48] #22360 closed

[2016-12-29 10:01] clintongormley commented on #22353
Not for execution order, only because those clauses are executed in "filter context" as described here: https://www.elastic.co/guide/en/elasticsearch/reference/current/query-filter-context.html

I'll add a link from the bool query page to this page

[2016-12-29 10:22] clintongormley commented on #22358
Ah gotcha, the snippet you provided is a query, not a mapping.

[2016-12-29 10:25] sscarduzio opened #22367 "Add ability to set response headers in REST Handlers (ActionPlugin)"
Hi, I'm writing a plugin and I've been trying to set a cookie.
It's not easy because albeit I have a RestRequest parameter in `BaseRestHandler.process`, I never have a response object!

All I see is just this `channel` (an abstraction over the socket) that is passed around and eventually some internal rest handler will write a serialized response in it.
And then it's too late for me to add any res

[2016-12-29 11:02] jimczi commented on #22357
Interesting, the query spent most of the time trying to find all the path that starts with "war". This is only the first step of the suggestion query and it should be much faster. What sort of contexts do you have in your suggestions ? Can you provide the exact input for the suggestion field that you send to elasticsearch ?

[2016-12-29 11:43] ywelsch commented on #22043
As some of the conversation went by e-mail (sharing private logs etc.), I'm going to quickly summarize our findings here.

The endless recovery loop can happen when the initial connection between recovery target and source is prematurely closed. A fix has been made in #22325 that detects this situation and correctly initiates a second recovery attempt instead of looping endlessly. The fix will be

[2016-12-29 13:07] leilengma commented on #22360
Thanks for the answer.

Just one more question. Is it normal to have  so many instances of **io.netty.util.Recycler$WeakOrderQueue$Link**  in heap?

25%-35% of the heap is filled with these instances each time when OOM occurs.

[2016-12-29 13:38] jpountz commented on #22360
That part is less clear to me since it is allocated by Netty, a dependency that we use for networking. Pinging @jasontedor in case that rings a bell to him.

[2016-12-29 14:23] JESWINKNINAN commented on #4978
I have this issue before and solved by running my docker container in privileged mode, The actual reason behind this erorr is quite simple, Elasticsearch needs to change the "vm.max_map_count" to run and changing via sysctl and denied the permission since it doesnt have the actual privelage to change even if it a root also:

Simply run the container in privelge mode and thts fix the similar type o

[2016-12-29 15:40] leilengma commented on #22360
Thanks for the feedback.

I searched a little bit in Netty community with respect to this issue.

According to issues [22360](https://github.com/elastic/elasticsearch/issues/22360),  [3166](https://github.com/netty/netty/issues/3166#issuecomment-135304391), [4147](https://github.com/netty/netty/issues/4147) and [5902](https://github.com/netty/netty/issues/4147), it is possible for recyclers in net

[2016-12-29 16:39] jpountz commented on #22360
It is 4.1.5.Final https://github.com/elastic/elasticsearch/blob/v5.0.0/modules/transport-netty4/build.gradle#L36

[2016-12-29 16:44] bdevaca opened #22369 "Mapper Attachment Plugin - error loading .xlsx attachments"
I'm receiving this error when attempting to load an excel spreadsheet into Elasticsearch as file content.

I turned on ignore errors to false and I see this error now when loading .xlsx files.

{"error":
{"root_cause":[
{"type":"mapper_parsing_exception","reason":"Failed to extract [-1] characters of text for [null] :
Could not initialize class org.apache.poi.POIXMLProperties"}],
"type":"mapper_pa

[2016-12-29 17:23] Dom-nik opened #22372 "Double backslash in Painless script strings causes a syntax error"
**Elasticsearch version**: 5.0.2

**Plugins installed**: X-Pack

**JVM version**: 1.8.0_111-b15

**OS version**: CentOS 7.2.1511

**Description of the problem including expected versus actual behavior**:
It seems that using double backslash in Painless script string values causes a syntax error. I need to perform a comparison against values with double backslashes. Is there a workaround for this,

[2016-12-29 18:24] gmoskovicz opened #22373 "Shrinking index upgraded from 2.x fails"
**Elasticsearch version**: 5.0.0

**Plugins installed**: none

**JVM version**: any

**OS version**: any

**Description of the problem including expected versus actual behavior**:

When you upgrade elasticsearch with an index using a string field with fielddata disabled from 2.x to 5.x, and you try to shrink it, it fails saying that the index has unsupported parameters:  `[fielddata : false]`.

Ba

[2016-12-29 18:27] dadoonet commented on #22369
Linking to full report at https://discuss.elastic.co/t/mapper-attachment-plugin/70160

[2016-12-29 18:49] gmoskovicz commented on #22373
I tried to use templates prior to shrink, and got the following exception:

[code]

If the mappings are always copied from the source index, then it means that there is no workaround for this issue.

[2016-12-29 19:38] bandikishores opened #22374 "Elastic Search "should" clause is not working as expected when "should", "must" and "must_not" clause are present."
**Elasticsearch version**: 5.1.1

**Plugins installed**: []

**JVM version**: 1.8.0_91

**OS version**: Ubuntu 16.04 LTS

**Description of the problem including expected versus actual behavior**:

When searching in Elastic Search using POST request.
_Expected:_
When "should", "must" and "must_not" clause are all present, then all 3 needs to be considered for selection.
_Actual:_
The "should" claus

[2016-12-29 19:42] bandikishores opened #22375 "Elastic Search Bulk is ignoring the last operation provided in the json"
**Elasticsearch version**: 5.1.1

**Plugins installed**: []

**JVM version**: 1.8.0_91

**OS version**: Ubuntu 16.04 LTS

**Description of the problem including expected versus actual behavior**:
When using the bulk upload feature of elastic search, the last operation mentioned in the JSON is being ignored.

**Steps to reproduce**:

1. Post the below request with 5 operations.
2. The response cont

[2016-12-29 20:03] irothschild commented on #17100
Has support for custom highlighters been removed in ES 5?

Here https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking_50_search_changes.html it says

[code]

[2016-12-29 20:52] ctindel commented on #22353
Sounds good!

[2016-12-29 21:04] nik9000 commented on #17100
Custom highlighters are still supported. That change is about removing the
alternative names for the built in highlighters.

On Thu, Dec 29, 2016, 3:03 PM Ivo Rothschild <notifications@github.com>
wrote:

[2016-12-29 21:28] tbrooks8 commented on #22116
I've started exploring what is involved in removing `connect` and `resolve` from core.

Here are some preliminary findings:

1. `NetworkUtils` makes the following call that requires connect:
- `NetworkInterface.getInetAddresses()`
2. `MacAddressProvider` makes the following call that requires connect:
- `NetworkInterface.getHardwareAddress()`
3. `IfConfig` uses these two calls when logging.

So ma

[2016-12-29 21:34] niemyjski commented on #13592
I'm running 5.1.1 and I couldn't get it to bind correctly unless I did `network.host: [ '10.2.0.7', '_local_' ]`.

[code]

I've never had to do this before in 1.7.5. Is this normal to bind just so you can access from localhost and `10.2.0.7` (local ip)

[2016-12-29 21:35] rjernst commented on #22367
We already have a way to add response headers. See [`ThreadContext`](https://github.com/elastic/elasticsearch/blob/66fbb0dbc21f56e074981d1cfaaa9e7cf4676336/core/src/main/java/org/elasticsearch/common/util/concurrent/ThreadContext.java).

However, it looks like we statically set the `ThreadContext` on the one current use (the deprecation logger). The impl of `RestChannel` has the `ThreadContext`, a

[2016-12-30 02:50] Muyv commented on #21172
@lanegg SpringBoot starter manages some default dependencies, which define the default version of ElasticSearch below 5.0.0, so that there is no such class. You can explicitly define the property in your own pom to override its definition.

BTW. In m2e plugin you can use "Dependency Hierarchy" view to observe dependencies'  confliction.

[2016-12-30 03:39] junjiemars commented on #19987
I don't care about what the doc or explain, just one question:
will listening on 0.0.0.0, and how to do that?

[2016-12-30 05:06] #22375 closed

[2016-12-30 05:07] #22374 closed

[2016-12-30 07:01] sshling opened #22379 "Unknown parameter [filter] in request body or parameter is of the wrong type[START_ARRAY]"
**Elasticsearch version**:2.1.2
**JVM version**:1.8
**OS version**:linux

**Description of the problem including expected versus actual behavior**:

https://www.elastic.co/guide/en/elasticsearch/reference/current/_testing_analyzers.html
[code]
When the above example is executed, an error is reported,and the Exception  as follows:
[code]

[2016-12-30 07:11] #22379 closed

[2016-12-30 07:15] makeyang commented on #21585
it's still a static way to solve hot share/hot data issue.
but the real case is that: before data is pushed into cluster, there is no way to know which part will be the hot part. so my question is: is there any plan to make ES can solve these kind of problem dynamic?
nowsdays, with reindex feature and timestamp feature powered, maybe it's time to talk about dynamic sharding?

[2016-12-30 07:58] zplzpl opened #22380 "register search template {{#keyname}}{{/keyname}} JsonParseException"
**Elasticsearch version**:v5.0.0
**Plugins installed**: [ik]

**JVM version**:java version "1.8.0_91"

**OS version**:Linux version 2.6.32-358.23.2.el6.x86_64 (mockbuild@c6b9.bsys.dev.centos.org) (gcc version 4.4.7 20120313 (Red Hat 4.4.7-3) (GCC) ) #1 SMP Wed Oct 16 18:37:12 UTC 2013

**Description of the problem including expected versus actual behavior**:

I register search template. throw Json

[2016-12-30 08:38] #22380 closed

[2016-12-30 08:48] #9410 closed

[2016-12-30 09:12] kevin-tang-rs opened #22381 "ES 5.0.1 cluster node crash. TransportService is closed stopped can't send request"
**Elasticsearch version**:
5.0.1
**Plugins installed**: [none]

**JVM version**:
openjdk version "1.8.0_91"
**OS version**:
ubuntu 14.04.1
**Description of the problem including expected versus actual behavior**:
in cluster nodes there are many error log. include
1. org.elasticsearch.transport.SendRequestTransportException: [1][172.16.2.171:20152][indices:data/read/search[phase/query]]
	at org.ela

[2016-12-30 09:45] sinsonglew opened #22382 "5.x Aggregation Performance worse than 1.7.x ?"
**Describe the feature**: We migrated from 1.7.1 to 5.1.1, and upgrade the corresponding query. we found out that **FiltersAggregation** works much slower, nearly taking 10x time than 1.7.x version.

Does anybody has similar experience, any optimization advices wil help. Thanks advance!

[2016-12-30 10:01] GlenRSmith commented on #22373
Would using the reindex API be a workaround @gmoskovicz ?

[2016-12-30 10:51] jpountz commented on #22382
1.7 used to load filters into a bit set while 5.x consumes filters on the fly. So I would expect 5.x to perform better in the case that the filter is not cached, especially if the query is selective, and 1.x to perform better if the filter was cached. What does your filters aggregation look like?

[2016-12-30 11:02] gmoskovicz commented on #22373
Reindexing *is* a workaround. But i meant that there is no workaround as previous steps to actually use the shrink API with some previous steps.

[2016-12-30 11:15] sinsonglew commented on #22382
@jpountz , we have such a need: get latest post of multi users by one request. the built query as follows:

`{
  "size": 0,
  "timeout": "3000ms",
  "aggregations": {
    "collector": {
      "filters": {
        "filters": {
          "204443405": {
            "bool": {
              "filter": [
                {
                  "bool": {
                    "must": [
                      {

[2016-12-30 11:50] AndrewBryukhov opened #22383 "Mapping problem"
es 5.1.1
[code]

[2016-12-30 11:58] jimczi opened #22384 "Terms GeoPoints may break FieldStats"
`field_stats` extracts the min/max information from the legacy GeoPoints indexed with terms. The min/max are then printed using BytesRef.utf8ToString(). These terms are not utf8 valid string and then some call to `field_stats` may produce an ArrayIndexOutOfBoundsException.

For instance this recreation fails in 2.x:

[code]

Similarly if this index is upgraded to 5.x the call to `field_stats` will

[2016-12-30 12:04] AndrewBryukhov commented on #22383
problem in ctrl+c + ctrl+v in docking toolbox

[2016-12-30 12:04] #22383 closed

[2016-12-30 13:26] Rahul-Babu-R opened #22385 "Multilevel Nested Query - RequestError Exception 400 - Failed to create query"
Hello all,

I am using Elasticsearch 5.1.1. While doing a nested query, it is returning 400 Error

My Doc will look like this

        "_index" : "test",
        "_type" : "test_five",
        "_source" : {
          "doc" : {
            "keyword_elas" : "elasticsearch",
            }
          },
          "doc_as_upsert" : true }

This is my Query Code

    "query": {
        "nested": {

[2016-12-30 13:41] jpountz commented on #22382
You can probably get faster results by moving the common bits to the query part:

[code]

I did not test it so there might be typos but hopefully this gives you the idea.

[2016-12-30 13:41] #22382 closed

[2016-12-30 14:29] nik9000 commented on #22372
I believe this to be a json encoding issue. Because the script and the error response are both encoded in json the `\\` becomes `\` on the way in and the `\` in the error message become `\\` on the way out. Can you try something like `\\\\` to get a literal `\` in a string? That'd get transformed by json parsing to `\\` and then the painless lexing should interpret that as a `\`.

Still, I think i

[2016-12-30 14:31] nik9000 commented on #22372
I just tried this locally and `\\\\` seems to work. This two layers of escaping thing is giving me nasty flashbacks to writing shell scripts....

[2016-12-30 14:39] nik9000 opened #22390 "Let's talk about HTTP testing with assertions enabled"
For better or worse Elasticsearch uses assertions to detect bugs. The vast, vast majority if users run with them disabled because that is the default and they have a performance overhead. Sometimes it is a non-trivial performance overhead. Anyway, we recently turned assertions on during out HTTP tests (#22334) and they caught a few bugs, some of them we're quite glad it caught. We think there is v

[2016-12-30 14:39] Dom-nik commented on #22372
Hi, thanks for picking this up!

I've tested `\\\\` and it works (runs without errors), but the comparison `doc['Status.keyword'].value == '\\\\Archived'` doesn't work as planned, i.e. it skips the values `'\\Archived'`.

I got a very similar problem in Logstash and actually had to modfiy a filter plugin code to make it accept and parse similar values: https://github.com/logstash-plugins/logstash-

[2016-12-30 14:40] nik9000 commented on #22372
Let me play with it some more....

[2016-12-30 15:30] nik9000 commented on #22372
Looks like a bug, yeah. I reproduced the problem you are having over REST and now in a unit test. I suspect you can work around it for now with `'\\\\Archived'.substring(1)`. I'll see about opening up a PR to fix it.

[2016-12-30 15:37] Dom-nik commented on #22372
Thanks for confirming this and taking time to check!

[2016-12-30 16:11] jakommo opened #22392 "Rollover API: Add condition to rollover on field value"
**Describe the feature**:
Currently the rollover API support two conditions. `max_docs` and `max_age` (which will be calculated based on the index creation time).

I'd like to propose an additional condition, that takes the value of a field into account.
E.g. `max_value` on the `@timestamp` field.
This could be useful when reindexing from daily indices into rollover indices, but you want the rollo

[2016-12-30 16:46] cbuescher commented on #22385
Closing since this doesn't look like a bug but very much like a usage problem. Elastic reserves GitHub for bug reports and feature requests but provides a [Discourse forum](https://discuss.elastic.co) and [IRC channels](https://www.elastic.co/community) for general questions.

[2016-12-30 16:46] #22385 closed

[2016-12-30 17:48] rpayanm opened #22394 "Dealing with red status"
**Elasticsearch version**:
5.1.1

**JVM version**:
1.7.0_111

**OS version**:
Debian 8

**Description of the problem including expected versus actual behavior**:
When I do this request:
`GET _cluster/health/i?level=shards`
I got:
[code]
You can see: `"status": "red",`

When I try index a document I got this error:
[code]

What steps should I follow to fix this error?

[2016-12-30 17:57] nik9000 commented on #22394
The [allocation explain](https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-allocation-explain.html) API was created to help debug these issues. It'll help you figure out why the shard isn't being assigned.

In general we try to keep questions like this on https://discuss.elastic.co/ because it probably isn't a bug. *Hopefully* isn't a bug.

[2016-12-30 20:24] choyuri opened #22396 "numberformat exception when using nested json field in a conditional"
**Elasticsearch version**:
Version     : 5.1.1

**Plugins installed**: []

**JVM version**:
1.8.0

**OS version**:
centos  7.3.1611
**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1.  I'm using rabbitmq input plugin  and routing some data to s3
 2.  when routing to s3 I use conditional  to check value of a nested json field [json_data][data][inte

[2016-12-31 01:45] bompus commented on #9572
This would be similar to MongoDB $bucketAuto aggregation. I would love to see something similar in ES.

[2016-12-31 02:08] rpedela commented on #21188
When you are dealing with TBs (like me), reindexing is always the last resort. It is not a good solution.

I like that idea because it still allows the use cases ```_source``` access enables, but ES can make better performance decisions.

[2016-12-31 05:05] AshisPF commented on #15465
increase the ulimit on the consumer .

Use a text editor and open the /etc/initscript file and add the following lines to the file:
ulimit -Hn 65535
ulimit -Sn 65535
eval exec "$4"

Save the file.
If you start the server as a regular process
Use a text editor and open the /etc/security/limits.conf file.
Increase the upper limit on the number of file descriptors by adding the following lines to the

[2016-12-31 13:53] jasontedor commented on #13592
Yes. Elasticsearch binds to localhost only by default, and otherwise only what you explicitly configure.

[2016-12-31 14:13] dizzzyroma commented on #14928
+1

[2016-12-31 15:55] jasontedor commented on #21824
It does do a `CONNECT`, that's part of the [proxy protocol](https://en.wikipedia.org/wiki/HTTP_tunnel#HTTP_CONNECT_tunneling) for connecting to a site using SSL through an HTTP proxy. You can see this if you `tcpdump` traffic on the proxy port (here I put a plain HTTP proxy listening on localhost port 3128):

[code]

[2017-01-01 00:41] HueyPark opened #22399 "Translation document (Korea)"
Hi,

I am a programmer working in Korea
I want to translate Elasticsearch documents, but how can I contribute?
I considering creating a docs/KR folder under this branch's docs and starting a translation

Thank you

[2017-01-01 06:43] sscarduzio commented on #22367
@rjernst I agree that DeprecationLogger.java is a curious place to initialise the context that will be used all across the framework.

I reiterate on the need to enable plugin developers to either get an instance of ThreadContext or have some methods to get/set response headers from (for example) RestChannel.

As for now, implementing `BaseRestHandler` in my plugin I cannot access ThreadContext in

[2017-01-01 10:43] mikemccand commented on #22347
Wow this is a curious exception ... can you post your `koreanIndex` analysis chain?  With that, and with the string you are trying to index into the `searchKeyword` field (which I see above), hopefully I can make a failing Lucene test case.

What's happening is the completion analyzer needs to turn the incoming tokens into an automaton and then enumerate all paths through it, but somehow a cyclic

[2017-01-01 17:23] killolol opened #22400 "Support for IPv6 address with scope ID"
ES do not supprt IPv6 addressess with scope ID like : fe80::71a3:2b00:ddd3:753f%16

[2017-01-01 22:16] mbm-rafal opened #22401 "How to build bucket after multiple nested aggregations ?"
Hi, I have problem with creating bucket after nested aggregation

[code]

I want to filter events by id, then specific role.name and in the end I need buckets from event.name

Result:
[code]

I think they are empty because the context is changed to events.role.
But how could I achieve this kind of filtering through different levels of nested field ?

[2017-01-02 00:21] lovelgw commented on #22347
koreanIndex analyzer result

**title field :  "제 1 부 몸짓 언어와 기호학 : 한국인의 언어 예절과 신체 언어 (1 . Body Language and Semiotics : Korean Language - etiquettes and Body - language)"
{
  "tokens" : [
    {
      "token" : "제",
      "start_offset" : 0,
      "end_offset" : 1,
      "type" : "XPN",
      "position" : 0
    },
    {
      "token" : "1",
      "start_offset" : 2,
      "end_offset" : 3,
      "ty

[2017-01-02 03:19] matthuhiggins commented on #18892
kaka19ace - I'm having the same pain. Scripting is not enabled, so the suggested workaround is not available. Makes it tough to use the feature on coordinate fields.

[2017-01-02 10:15] mayur-persistent commented on #22322
@spinscale @clintongormley I want to take up this issue as a first contribution. Let me know what I need to do?

[2017-01-02 12:15] mpenet opened #22402 "Accept proper/valid JSON body in _bulk request"
Right now `_bulk` accepts a body that is not a real valid JSON document but a `\n` delimited sequence of JSON fragments.
It would be more friendly, if, when passing an `application/json` content-type, the server would accept a proper JSON Array as body value.

It might incur a minimal overhead compared to the simple `\n` format but this should be negligible assuming JSON parsing is done with a lib

[2017-01-02 14:38] borissmidt opened #22404 "minimum_should_match on target"
**Describe the feature**:
ElasticSearch has a minimum_should_match which allows us to set the minimum amount of text that needs to be matched before it is counted as a match.

It might be usefull to have a minimum_should_match for the targeting document. Where you can specify how much needs to match but depending on the target, other doucment its field.

**example**

[code]
Now if i execute this q

[2017-01-02 19:44] tomsommer opened #22406 "fatal error on the network layer"
My client node is suddenly crashing with this error:

[code]

What triggers this? I'm thinking it might be due to too many concurrent connections, but the error tells me nothing?

[2017-01-02 19:57] jasontedor commented on #22406
There should be a caused by exception below this. Can you please share it here?

[2017-01-02 20:23] jasontedor commented on #22406
It would look something like:

[code]

with another exception stack trace below it.

[2017-01-02 20:53] eskibars opened #22407 "Document `detailed` parameter for task manager"
**Elasticsearch version**: 5.1.1

**Describe the feature**: Several people have asked how to use the [detailed task descriptions](https://github.com/elastic/elasticsearch/pull/21740) + [search cancellation](https://github.com/elastic/elasticsearch/pull/20405). I realized they're probably asking because we haven't updated our [task management docs](https://www.elastic.co/guide/en/elasticsearch/refe

[2017-01-02 22:33] nik9000 commented on #22407
I'll put this on my list of things to do but it might be a day or two. If someone else gets to it before I do please unassign me.

[2017-01-02 23:53] rodney757 opened #22408 "Inconsistent results with named analyzer and _analyze endpoint"
**Elasticsearch version**:
5.1.1
**Plugins installed**: []

**JVM version**:
1.8.0_60-b27
**OS version**:
osx 10.12.2
**Description of the problem including expected versus actual behavior**:
When I create a custom analyzer and then hit the _analyze endpoint using the custom analyzer, I get different results this if I pass in the tokenizer, filters, etc to the _analyze endpoint
**Steps to reproduc

[2017-01-03 00:05] rodney757 commented on #22408
I figured out the issue. You can't add an object to the filter array for a custom analyzer

ex.

    {
          "name" : "light_english",
          "type" : "stemmer"
    }

In this case, I can use kstem to get the same results:

       {
              "filter" : [
                "word_delimiter",
                "lowercase",
                "asciifolding",
                "kstem",

[2017-01-03 00:05] #22408 closed

[2017-01-03 02:31] iFrankWu commented on #22366
Thanks， its works after change the type to 'keywords'.

[2017-01-03 06:18] 8bitint opened #22409 "Partial snapshots with ArrayIndexOutOfBoundsException failure"
**Elasticsearch version**: 2.3.4

**Plugins installed**: []

**JVM version**: Oracle 1.8.0_40

**OS version**: Oracle Enterprise Linux 6.3

**Description of the problem including expected versus actual behavior**:

We are seeing partial snapshots being created with ArrayIndexOutOfBoundsExceptions after a week of successful snapshot creation. The failures we are seeing are:

[code]

Our current wor

[2017-01-03 06:48] tomsommer commented on #22406
[code]

This started happening after I increased Logstash `pipeline.workers` from 1 to 10. I can't find the counter to watch. The client is running `node.data: false` and `node.master: false`

[2017-01-03 07:58] ventayol opened #22410 "Case insensitive sorting not working"
**Elasticsearch version**: 5.1.1

**Plugins installed**: []

**JVM version**: openjdk version "1.8.0_111"

**OS version**: Using docker image elasticsearch:latest

**Description of the problem including expected versus actual behavior**:
I'm trying to get case insensitive sorting working like what's explained [here](https://www.elastic.co/guide/en/elasticsearch/guide/master/sorting-collations.html

[2017-01-03 07:59] zplzpl opened #22411 "register search templates have conditional clauses {{#keyname}}{{/keyname}} search throw exception"
**Elasticsearch version**:v5.1.1

**Plugins installed**: [ik]

**JVM version**:"1.8.0_91"

**OS version**:Linux version 2.6.32-358.23.2.el6.x86_64 (mockbuild@c6b9.bsys.dev.centos.org) (gcc version 4.4.7 20120313 (Red Hat 4.4.7-3) (GCC) ) #1 SMP Wed Oct 16 18:37:12 UTC 2013

**Description of the problem including expected versus actual behavior**:

I register search templates by storing it in the c