[2015-10-13 19:44] #14098 closed

[2015-10-13 19:44] dadoonet commented on #14098
It's because of the refresh which happens after 1s

You can force a refresh for test purpose

[2015-10-13 19:50] rodrigograca31 commented on #14098
So, between the update and the last search I should run this?
[code]
This doesn't make any sense...

[2015-10-13 20:31] rtkmhart opened #14099 "discovery-ec2 plugin needs to throttle itself if it gets a RequestLimitExceeded exception"
Occasionally when building a cluster things go into a funny state (not ES's fault) and the discovery plugin (using https://github.com/elastic/elasticsearch-cloud-aws) tries to find the master. If the master can't be found, it appears that the plugin starts spamming the EC2 API with as many lookups per second as it can, which quickly ends with EC2 throwing RequestLimitExceeded exceptions. The prope

[2015-10-13 20:38] rob-tice opened #14100 "mapping lookup order issue"
When searching across multiple types, the result of the query changes with the order the types are specified in the URL.

e.g.

the field autocomplete exists in 'type a' but not 'type b'.

index/type a,type b/_search?q=autocomplete:Xyx

 query works and returns the correct results from type a

index/type b,type a/_search?q=autocomplete:=Xyx - This fails with no hits - (looks like the query is not

[2015-10-13 21:01] Cidan commented on #14013
I can confirm this happens to me as well with RC1 -- cloud-aws gives me the same error (while installing properly with plugin install)

Ideas?

[2015-10-13 21:20] bkj opened #14101 "Trouble sorting by "bucket_script" in 2.0.0-rc1"
I'm running into some trouble trying to sort by a `bucket_script` aggregation. Attached is an example that illustrates the difficulty.

If we add these fake documents:

[code]

This works:

[code]

but this doesn't:

[code]

Is such an ordering possible at the moment?  Am I just using the wrong syntax? If this is not possible, are there any plans to make it possible in the future?

Thanks!
Ben

[2015-10-13 21:24] rmuir commented on #14013
That isn't an error, your logging configuration must be incorrect or outdated. Do you have a custom file?

https://github.com/elastic/elasticsearch/blob/master/distribution/src/main/resources/config/logging.yml#L13-L15

[2015-10-13 21:27] s1monw commented on #14098
this is how ES and all lucene based systems work. They operate on point in time snapshots of the data that makes them very very efficient for fast reads etc. It's not a relational database that makes changes visible once the _transaction_ returns. It makes a boat load of sense if you look how this stuff is used in production and on the technical level. I hope this helps you to understand this.

[2015-10-13 23:42] dblado commented on #14034
@clintongormley Odd -- I don't recall changing my JAVA_HOME but apparently I had...thanks!

[2015-10-13 23:51] dblado commented on #14012
@jpountz thanks for the feedback. I find it odd that the same query works when the reviews_length field is set to a different data type (short vs long).

I do have other types in the same index, but the search is to /index/type/_search...doesn't that mean it shouldn't matter if other types don't have that field defined?

[2015-10-14 01:16] #14090 closed

[2015-10-14 02:33] jasontedor commented on #14045
@ozlevka I setup a CentOS installation with a bonded interface and Elasticsearch 1.4.4, and I'm not able to reproduce into the issue that you describe.

    [vagrant@localhost ~]$ ifconfig bond0
    bond0     Link encap:Ethernet  HWaddr 08:00:27:6B:E2:E2
              inet addr:192.168.33.12  Bcast:192.168.33.255  Mask:255.255.255.0
              inet6 addr: fe80::a00:27ff:feff:1c2a/64 Scope:Link

[2015-10-14 02:39] markwalkom opened #14102 "_close?ignore_unavailable=true doesn't seem to work"
[Here](https://www.elastic.co/guide/en/elasticsearch/reference/1.7/indices-open-close.html) mentions you can use `ignore_unavailable=true` to ignore any index that may not exist when closing an index. But if I have a cluster that doesn't have the `test` index and I try `POST /test/_close?ignore_unavailable=true` I get;
[code]
Which makes no sense. Not sure if it's the code or the docs that are wro

[2015-10-14 02:42] JamesBromberger opened #14103 "cloud-aws plugin: Option to explicitly set x-amz-acl: Private"
While ACL Private is a default, it would be nice to permit ElasticSearch nodes to explicitly set the desired ACL for the snapshots they create. This can then be validated by an S3 Bucket Policy, which can reject clients that try to upload objects to S3 that aren't set as Private.

http://docs.aws.amazon.com/AmazonS3/latest/dev/acl-overview.html
http://docs.aws.amazon.com/AmazonS3/latest/dev/using-

[2015-10-14 02:46] djurikom84 commented on #14080
Yes, I have Norton Security Suite. Is there something I can do now?
If it is of any help, I encountered this issue on ES 1.5.0 and 1.7.2. Once I moved to 1.4.5 it worked OK.

[2015-10-14 03:36] NicolasTr commented on #13673
Thanks for creating this @GlenRSmith

I'll port the code as soon as I can. Hopefully this month, more realistically somewhere in November.

Did the structure of the project change when the cloud aws plugin was moved to elasticsearch?

@dadoonet

[2015-10-14 05:15] xuzha commented on #13673
@NicolasTr  we split the cloud-aws plugin into two plugins : repository-s3 and discovery-ec2. I think this PR is only related to Repository-s3.

[2015-10-14 07:01] xpepermint commented on #2230
+1

[2015-10-14 07:34] s1monw commented on #14102
did you try this with 2.0 / latest master it seems like an old version of ES?

[2015-10-14 07:39] clintongormley commented on #14023
Closed by https://github.com/elastic/elasticsearch/pull/14060

[2015-10-14 07:39] #14023 closed

[2015-10-14 08:05] ankrugold opened #14106 "Spurious File Not Found Exception"
Hi ,
We have deployed ES 1.4 on AWS using EBS as storage, we recently started seeing some issues with index in which index remains unassigned , we see a FileNotFoundException in the logs .the file is a lucene file ,  we deleted the shard folder and restarted cluster after which we start getting FIleNotFoundExceptions again while Recovering , so we clean up the whole data path folder and expect tha

[2015-10-14 08:15] clintongormley commented on #14100
@rob-tice I can't replicate your exact issue in 1.7.2, but it sounds like you're running into some of the issues with ambiguous mappings that exist in 1.x.  These problems have been solved in 2.0 but it is not possible to backport the changes.

To work around it, you can try prefixing the field with the type name: `?q=type_a.autocomplete:Xyx`

[2015-10-14 08:15] #14100 closed

[2015-10-14 08:22] clintongormley commented on #14101
@colings86 could you comment on this please?

[2015-10-14 08:25] rob-tice commented on #14100
Thanks for the reply.  That is what I have done. Roll on 2.0!

Cheers

Rob
On 14 Oct 2015 9:16 am, "Clinton Gormley" <notifications@github.com> wrote:

[2015-10-14 08:28] clintongormley commented on #14012
it's a whole lot more complex than that.  lucene has no concept of types, it just sees a list of fields (which may or may not be in your type).  queries and filters do not necessarily operate on just the subset of documents that other query/filter clauses have included, but may well hit unrelated documents.

This all gets a whole lot neater and cleaner in 2.0

[2015-10-14 08:33] clintongormley commented on #14103
@dadoonet thoughts?

[2015-10-14 08:43] clintongormley commented on #14102
The situation is a bit complicated.  For instance:

    PUT test1
    {}

    # this throws an exception because no matching index was found
    POST test2/_close?ignore_unavailable

    # this succeeds, because it ignores test2 and still finds test1
    POST test1,test2/_close?ignore_unavailable

    # repeating the above command now fails, because test2 doesn't exist and test1 is closed
    # so

[2015-10-14 08:43] #14102 closed

[2015-10-14 08:43] clintongormley commented on #9438
See #14102

[2015-10-14 08:46] clintongormley commented on #14106
hiya

so much has changed since 1.4 was released, especially around recovery and snapshot/restore.  please upgrade.

[2015-10-14 08:46] #14106 closed

[2015-10-14 09:07] dadoonet commented on #14103
It makes sense to me to support such an option.

[2015-10-14 09:10] clintongormley commented on #14103
@JamesBromberger fancy sending a PR?

[2015-10-14 09:45] sDaniel commented on #2230
Please stop to +vote spamming and let github know we need a voting feature.
https://github.com/isaacs/github/issues/9

[2015-10-14 10:09] cbuescher commented on #13884
I had a look and saw that `simple_query_string` iterates over all fields for each token in the query string and combines them all in boolean query `should` clauses, and we apply the `minimum_should_match` on the whole result.

@clintongormley As far as I understand you, we should parse parse the query string for each field separately, apply the `minimum_should_match` there and then combine the res

[2015-10-14 10:22] kweima commented on #4915
+10086

[2015-10-14 10:45] dweiss opened #14109 "tests.rest.load_packaged defaults to true in IDEs, loads all default ES REST tests instead of plugin's tests"
Something is wrong with this. A REST IT test case in a project runs against all (or at least a lot) of ES tests, not the project's REST YAMLs.

The examples in ES repository have this:
[code]
but for any IDE this has to be passed manually. The problem seems to be here, the origin codebase is hardcoded to FileUtils?

https://github.com/elastic/elasticsearch/blob/master/core/src/test/java/org/elasti

[2015-10-14 10:47] colings86 commented on #14101
In order to be able to use an aggregation for sorting the terms aggregation it must currently be a numeric metric aggregation. Pipeline Aggregations are a different family of aggregations than the Metric Aggregations and cannot be used for sorting. You couldn't sort using a Pipeline aggregation because they are only executed in the reduce phase on the coordinating node and so you do not have the i

[2015-10-14 11:31] gmoskovicz commented on #14099
Does elastic/elasticsearch-cloud-aws#231 fixes this?

[2015-10-14 11:31] clintongormley commented on #13884
@cbuescher the `query_string` query takes the same approach as your first output, ie:

    ((f1:test title:test f2:test) (f1:document title:document f2:document))~1

I think the bug is maybe a bit more subtle.  A query across 3 fields for two terms with min should match 80% results in:

    bool:
        min_should_match: 80% (==1)
        should:
          bool:
            should: [ f1:term1, f2

[2015-10-14 11:34] Mpdreamz opened #14110 "Cluster get settings does not return settings set in elasticsearch.yml"
If I put the following in my `elasticsearch.yaml`

[code]

Start my 1 node cluster and do a `GET /_cluster/settings` i'm seeing:

[code]

Is this by design? Only if i `PUT /_cluster/settings` these values do they get returned by the get cluster settings.

[2015-10-14 11:45] clintongormley commented on #14110
@Mpdreamz settings in the config file are per node (and may be different on different nodes).  The cluster settings API today only returns settings set via the API.

We'd like to fix this in #6732

[2015-10-14 11:45] #14110 closed

[2015-10-14 12:03] cbuescher commented on #13884
@clintongormley Yes, I think thats what I meant. I'm working on a PR that applies the `minimum_should_match` to sub-queries that only target one field. That way your examples above would change to something like

[code]
and for one term

[code]
In the later case we already additionally simplify one-term bool queries to TermQueries.

[2015-10-14 12:07] clintongormley commented on #4405
These docs have subsequently been improved. Closing

[2015-10-14 12:07] #4405 closed

[2015-10-14 12:11] clintongormley commented on #4562
No longer relevant with the new geo fields coming in 2.1

[2015-10-14 12:11] #4562 closed

[2015-10-14 12:16] clintongormley commented on #4031
Closing for now.  Can reopen if there is any interest

[2015-10-14 12:16] #4031 closed

[2015-10-14 12:19] clintongormley commented on #4639
almost all of these exceptions are due to a change in serialization between java versions.  we no longer rely on java serialization.  also, stack traces are now trimmed of their guice content (see https://github.com/elastic/elasticsearch/pull/13782)

I think this is resolved in 2.0

[2015-10-14 12:19] #4639 closed

[2015-10-14 12:22] clintongormley commented on #4360
Just discussed this with the people who have been working on the query refactoring, who are of the opinion that we shouldn't be passing JSON in the Java API. They're also considering removing wrapperQuery, so I'm going to close this one.

[2015-10-14 12:22] #4360 closed

[2015-10-14 12:40] bkj commented on #14101
Thanks for the answer -- that's sortof what I was guessing.  Do you think it's possible to order the results by using something else?  Like the `scripted_metric` aggregation that allows user defined `map`, `combine`, and `reduce` scripts?

[2015-10-14 12:50] hudsonb commented on #4360
So there would be no way to go from JSON to QueryBuilder? I rely heavily on this currently.

I have a thick client which generates the queries in JSON, these JSON queries are sent through a web service which then uses the wrapperQuery to combine the query (using bool query) with some other clauses that are added by the server.

[2015-10-14 12:54] jpountz commented on #3495
It is not fixable, unless the missing query can detect it is being used within a nested query, which I would like to avoid at all costs. We don't index missing fields in documents, only existing fields, so the `missing` query is internally implemented as the negation of an `exists` query. This raises problems as described here given that putting the `not` inside of the `nested` query has a totally

[2015-10-14 12:56] maxcom commented on #10829
Highlight on mlt query works with fast vector highlighter (you need to index term positions and offsets to use it).

[2015-10-14 12:59] javanna commented on #4360
I think it would make more sense to send a json request through REST rather than using the java api for that. The idea is that the java api uses the transport layer (binary protocol), so you should be specifying java objects and no parsing should be involved. On the other hand the REST layer does parse queries into java objects. Makes sense?

[2015-10-14 12:59] clintongormley commented on #3511
Probably related to https://issues.apache.org/jira/browse/LUCENE-6595

[2015-10-14 13:15] clintongormley opened #14112 "Deprecate the `missing` query in favour of a negated `exists` query"
The `missing` query is implemented as a negation of the `exists` query, but it is trappy when used with nested documents:

It can detect docs with nested docs which are missing a field, but cannot detect docs which have no nested docs. Instead, by using an exists filter inside the nested block and placing the negation outside it, things work as expected. (See #3495 for a full example)

To avoid th

[2015-10-14 13:16] clintongormley commented on #3495
@jpountz ++ makes sense.

Closing in favour of #14112

[2015-10-14 13:16] #3495 closed

[2015-10-14 13:21] clintongormley commented on #3517
Closed by #14003

[2015-10-14 13:21] #3517 closed

[2015-10-14 13:22] svola commented on #10829
@maxcom Ok, so I need to change the mapping of the fields, right? Thanks! I will try that...

[2015-10-14 13:31] clintongormley commented on #3511
This actually works correctly now for the plain highlighter case, which returns:

    "eins, <em>fünf</em>, sechs"

The FVH works *almost* correctly, it returns:

    "eins, <em>fünf,</em> sechs"

[2015-10-14 13:37] clintongormley commented on #4672
In memory fielddata is going to be removed for all fields that support doc values.  I think we can close this one.

[2015-10-14 13:37] #4672 closed

[2015-10-14 13:40] jpountz opened #14113 "Remove in-memory fielddata support"
Now that doc values have become the default fielddata implementation, we should progressively deprecate in-memory fielddata so that doc values would be the only way to sort or aggregate on fields.

* [x] #14082 Numerics, dates and booleans
* [x] #16589 Not-analyzed strings
* [x] Geo-points (need to add doc values by default first)

[2015-10-14 13:44] clintongormley commented on #4709
The same goes for `stem_exclusion` in the language analyzers

[2015-10-14 13:44] maxcom opened #14114 "Max doc frequency percentage in More Like This query"
More Like This Query has max_doc_freq settings that can be used to remove high-frequency words from search. It is not a frequency but an absolute value. The problem that actual value for index depends on number of documents in the index - larger indexes requires larger values to filter out domain specific stop words.

I found that XMoreLikeThis actually has `setMaxDocFreqPct(int maxPercentage)` me

[2015-10-14 13:46] maxcom commented on #10829
Yes, you need to change mapping and reindex your data. Note that storing term positions significantly increases index size and may have an impact on search performance.

[2015-10-14 13:46] hudsonb commented on #4360
From the client since we couldn't because we don't expose elasticsearch directly.

From the service we could, but we make heavy use of the Java API there - the query is just one piece that happens to be JSON since its generated by the client and sent to the service as JSON.

For example as part of one service call we do something like this:
[code]

The only use of straight JSON is in the wrapperFi

[2015-10-14 13:50] rmuir commented on #14109
Its just a typical IDE test issue. There is no jenkins job running tests from these IDEs or anything, yet they are essentially alternative build systems.

The general problem is here: https://github.com/elastic/elasticsearch/issues/13914

One possible solution is to avoid system properties for this kind of thing entirely (instead, generate a resource file, as that can then work everywhere).

[2015-10-14 13:52] svola commented on #10829
Ok, but it's good to know that it's possible! Thanks!

[2015-10-14 13:55] dweiss commented on #14109
I understand the problem in general, but this property is replicated across example plugins as well (it's set to false) and I think the only reason why it's set to false in every one of these plugins is because it wouldn't work otherwise (read: it wouldn't be testing the plugin's REST YAML tests).

[2015-10-14 14:09] clintongormley commented on #5065
The returned address is now the publish host. Closing

[2015-10-14 14:09] #5065 closed

[2015-10-14 14:12] javanna commented on #11016
Implemented via #14017 , #14048 and  #14088

[2015-10-14 14:12] #11016 closed

[2015-10-14 14:22] clintongormley commented on #5138
Our current package naming now allows for packages to be sorted correctly, without requiring a package version.  Closing

[2015-10-14 14:22] #5138 closed

[2015-10-14 14:23] clintongormley commented on #5153
Transport client no longer loads the config file at all.  Closing

[2015-10-14 14:23] #5153 closed

[2015-10-14 14:24] clintongormley commented on #5154
Transport client no longer loads the config file at all. Closing

[2015-10-14 14:24] #5154 closed

[2015-10-14 14:31] JamesBromberger commented on #14103
Sorry, I'm not a Java dev, so I have no faith that any Java I would try would even compile. But a rough draft as a patch, totally untested, uncompiled, and unsure if this helps:
https://www.james.rcpt.to/misc/elasticsearch-repo-s3-cannedACL.diff

[2015-10-14 14:49] clintongormley commented on #5249
Given the discussion above, I'm going to close this issue as won't fix

[2015-10-14 14:49] #5249 closed

[2015-10-14 14:52] nickminutello commented on #5249
Fine by me

[2015-10-14 14:58] clintongormley commented on #5341
As a workaround, percent encoding the plus sign will work.

[2015-10-14 15:07] clintongormley commented on #5373
Elasticsearch is a very different beast. This syntax is targeted at stream processing of raw data, while Elasticsearch gains its speed advantage by indexing everything up front.  While I could imagine somebody building something like this into a plugin or application based on elasticsearch, I don't think the syntax is right for inclusion in core.

[2015-10-14 15:07] #5373 closed

[2015-10-14 15:07] javanna opened #14115 "DedicatedClusterSnapshotRestoreIT.restoreIndexWithMissingShards rarely fails"
DedicatedClusterSnapshotRestoreIT.restoreIndexWithMissingShards failed twice in the last 10 days with the following error:
[code]

I didn't manage to reproduce the failure. Seems like after a restore not all expected documents can be found in the index using the count api:

http://build-us-00.elastic.co/job/es_core_master_centos/8019

[2015-10-14 15:12] clintongormley commented on #5399
Rethinking this..  The `has_parent` query does the right thing.  I think we should deprecate the use of the `_parent` field for search, unless something has changed in the new parent-child functionality in 2.0? /cc @martijnvg

[2015-10-14 15:14] clintongormley commented on #5415
A potential problem here is what to do when merging cluster states with conflicts.

[2015-10-14 15:20] clintongormley commented on #5536
Closed by https://github.com/elastic/elasticsearch/pull/13971

[2015-10-14 15:20] #5536 closed

[2015-10-14 15:32] jdconrad commented on #4707
Taking a look.

[2015-10-14 15:50] clintongormley commented on #5682
I think this is expected.  The analysis chain is only for the input.  The output is supposed to be provided in the format that you want to display.  Your example basically translates to a single input with multiple outputs.

[2015-10-14 15:50] #5682 closed

[2015-10-14 15:56] clintongormley opened #14116 "Size/from limits should be per-request not per-index"
The change in https://github.com/elastic/elasticsearch/pull/13188 added a per-index setting to limit the maximum number of search results that can be requested.  However, it would still be possible to request too many results by querying multiple indices.

Instead, this should be a dynamic cluster-level setting which applies to each search request, regardless of the number of indices involved.

[2015-10-14 15:57] clintongormley commented on #5774
Closing in favour of https://github.com/elastic/elasticsearch/issues/14116

[2015-10-14 15:57] #5774 closed

[2015-10-14 16:07] clintongormley commented on #5832
@s1monw you still want to do this?

[2015-10-14 16:13] clintongormley commented on #5925
closed by #11464

[2015-10-14 16:13] #5925 closed

[2015-10-14 16:19] clintongormley commented on #5956
File-based index templates are no longer supported https://github.com/elastic/elasticsearch/pull/11052

[2015-10-14 16:19] #5956 closed

[2015-10-14 16:25] clintongormley commented on #6105
This appears to be fixed.  Please reopen if you see the same issues with 2.0 or later.

[2015-10-14 16:25] #6105 closed

[2015-10-14 16:32] clintongormley commented on #6172
This is still broken in 2.0

[2015-10-14 16:33] clintongormley commented on #6220
Closing as won't fix

[2015-10-14 16:33] #6220 closed

[2015-10-14 16:33] #6224 closed

[2015-10-14 16:34] clintongormley commented on #6265
thanks @bleskes

Closing

[2015-10-14 16:34] #6265 closed

[2015-10-14 16:35] clintongormley commented on #6289
Closing as nobody has shown the interest to pick this up

[2015-10-14 16:35] #6289 closed

[2015-10-14 16:36] nickminutello opened #14117 "NotSerializableException java.util.Collections$UnmodifiableList when starting new node in cluster"
We get this stacktrace on the starting node.

[code]

It appears that we get two instances of the same Package object (java.util) so the logic here fails:

[code]

The PKG_WHITELIST.contains() relies on the equals implementation for Package - which is based on identity. The same is true for the CLASS_WHITELIST .... Perhaps we should be using the class or package names (ie list of String) ?

[2015-10-14 16:39] clintongormley commented on #6340
With the new query parsing coming in 3.0, it should be possible to handle dates correctly.

@martijnvg there's nothing to do before 3.0, is there?

[2015-10-14 16:40] clintongormley commented on #6351
I believe these scripts have been sync'ed up now, closing

[2015-10-14 16:40] #6351 closed

[2015-10-14 16:41] clintongormley commented on #6372
@ywelsch do you know if there are still improvements to make here?

[2015-10-14 16:44] nik9000 commented on #14117
@nickminutello can you tell us which version this is?

[2015-10-14 16:45] jasontedor commented on #14117
@nik9000 It's visible in `elasticsearch-1.7.1.jar:na` in the stack trace.

[2015-10-14 16:54] jdconrad commented on #4707
This is working as expected as @dakrone has inferred.  The SimpleQueryParser should be thought of as only using AND and OR as operators.  There is no concept of SHOULD and MUST other than internally to create the AND and OR queries.  So when doing the query "+this -removed" the AND (+) is actually ignored as it is not thought of as a MUST.  Using SimpleQueryParser this will always be the case wher

[2015-10-14 17:22] zackehh opened #14118 "Java API _timeout + _msearch returns no aggregations"
It appears that when I add a timeout to an `_msearch` request in the Java client, all my aggregations are ignored and the filtering doesn't take place.

### Without Timeout

**request**

[code]

**response**

[code]

### With Timeout

**request**

[code]

**response**

[code]

As far as I know, this should work and I can confirm there is no difference in the query being sent (this is in a unit tes

[2015-10-14 18:57] rjernst commented on #5832
This already works? You can pass -Dtests.cluster=x.x.x.x (this is how REST tests are run for release). It works for any integration tests (ie tests that require a cluster).

[2015-10-14 18:58] lquerel commented on #8486
+1

[2015-10-14 20:22] jpountz commented on #14116
Do you mean you want to limit `${size} x ${number of shards involved in the search request}` instead of just the value of `${size}`?

[2015-10-14 20:23] jpountz commented on #14112
+1

[2015-10-14 21:22] #13621 closed

[2015-10-14 21:27] ppf2 opened #14122 "Support numeric/max values for force awareness settings"
For some environments (like Azure), force awareness is desirable to handle fault domains and update domains.  The fault and update domain specifications in Azure are in the form of numbers (eg. 0, 1, 2, 3, etc..):

Currently, using force awareness, we will have to specify:

[code]

It will be helpful to provide a way for the force awareness settings to handle numeric values.   In this case, it wil

[2015-10-14 21:28] ppf2 opened #14123 "List primary copy of each shard first in output of routing table"
The routing table returned from our apis (like _status) seem to list the copies of a single shard sorted by the node_id.  So the primary copy can appear anywhere in the list, sometimes as the first copy in the list, sometimes as the last copy in the list.  This causes some issues in monitoring scripts I have seen out there where they are expecting the first copy of the shard listed to be the prima

[2015-10-14 22:36] nknize commented on #14083
Thanks for the catch @cbuescher! @javanna you're absolutely right, the methods diverged when cutting over to the Lucene Geo encoding which required the tolerance. I'll open a PR to resync the hashCode method.

[2015-10-14 22:47] nickminutello commented on #14117
Sorry. Yes 1.7.1

[2015-10-15 05:20] markwalkom opened #14125 "Document _cluster/health?local"
[Here](https://www.elastic.co/guide/en/elasticsearch/reference/1.7/cluster-health.html) we make no mention of the `?local` flag, but it seems that [in the code](https://github.com/elastic/elasticsearch/blob/v1.7.2/src/main/java/org/elasticsearch/rest/action/admin/cluster/health/RestClusterHealthAction.java#L52) and also [in the API spec](https://github.com/elastic/elasticsearch/blob/v1.7.2/rest-ap

[2015-10-15 06:08] rmuir opened #14127 "ghosts of discovery-ec2 in 2.x branches"
Looks like a test that should be in cloud-aws instead?

https://github.com/elastic/elasticsearch/tree/2.0/plugins/discovery-ec2/src/test/java/org/elasticsearch/discovery/ec2

[2015-10-15 06:41] colings86 commented on #14101
Copied from a similar conversation on the Discuss forums here: https://discuss.elastic.co/t/ordering-terms-aggregation-based-on-pipeline-metric/31839/2

The Scripted Metric Aggregation is part of the Metric Aggregation family but is not a Numeric Metric Aggregation since it returns an arbitrary object. However, there is an issue open in the Elasticsearch repo to add the ability to sort by an attri

[2015-10-15 06:59] dadoonet commented on #14127
Argh! Indeed! That's what happens when you cherry pick from a branch which have been refactored! :p

Will fix. Thanks for catching it!

[2015-10-15 07:09] PandiyanCool opened #14128 "Aggregation counts mismatch"
Hi Team,

I'm seeing something different in the aggregation functionality.

I have done a search as follows

    POST myindex/mytype/_search
    {
      "size": 0,
      "aggs": {
        "my_agg": {
          "terms": {
            "field": "myfield.mysubfield",
            "size": 200
          }
        }
      }
    }

I have got the following count in the result set

    {
           "key": "

[2015-10-15 07:21] dadoonet commented on #14128
Yes. Read this: https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-terms-aggregation.html?q=terms%20aggrega#search-aggregations-bucket-terms-aggregation-approximate-counts

[2015-10-15 07:21] #14128 closed

[2015-10-15 08:12] ozlevka commented on #14045
I'll ask system team when I can process upgrade. I think we can wait to GA
version of 2.0

Thank you

On Tue, Oct 13, 2015 at 10:43 AM, Clinton Gormley <notifications@github.com>
wrote:

--
Best regards
Ozeryansky Lev

[2015-10-15 08:14] ozlevka commented on #14045
Thank you Jason
About: "get on _nodes returning a primary_interface of eth2 on your box,
ignore that". This is exactly what we do.
I hope it's will be fixed in 2.0 GA version.

Thank you

On Wed, Oct 14, 2015 at 5:34 AM, Jason Tedor <notifications@github.com>
wrote:

--
Best regards
Ozeryansky Lev

[2015-10-15 08:42] makeyang opened #14129 "feature request"
please add a disable option for cluster.routing.allocation.allow_rebalance for some usecase.

[2015-10-15 09:09] svola commented on #10829
@maxcom you made my day! Super happy about it...

[2015-10-15 09:09] #10829 closed

[2015-10-15 09:59] makeyang commented on #14129
usecase:
disable rebalance and then move all shard from one node to another now, and then shutdown the old one

[2015-10-15 10:52] neerajgoyal12 opened #14130 "[Geo] Geo point distance calculations are wrong"
Function Score query for geo point location and distance giving wrong calculations.
"location": {
                "origin": "22.242074, 75.936335",
                "scale": "20km",
                "offset": "20km",
                "decay": 0.5
              }
is returning a score of one on co-ordinates 21.360972, 74.855748

[2015-10-15 11:22] clintongormley commented on #13884
@cbuescher I think that is incorrect.  The simple query string query (like the query string query) is term-centric rather than field-centric.  In other words, min should match should be applied to the number of terms (regardless of which field the term is in).

I'm guessing that there is an "optimization" for the one term case where the field-level bool clause is not wrapped in an outer bool claus

[2015-10-15 11:25] ARPLink opened #14131 "Logstash parse issues"
Hello,

We have the following usercase. I have a log containing fields enclosed in "" and separated by ;

The grok filter is set like this:

"%{DATA:1}";"%{DATA:2}";"%{DATA:3}";"%{DATA:4}";"%{DATA:5}";"%{DATA:6}";"%{DATA:7}";"%{DATA:8}";"%{DATA:9}";"%{DATA:10}";"%{DATA:11}";"%{DATA:12}";"%{DATA:13}";"%{DATA:14}";"%{DATA:15}";"%{DATA:16}";"%{DATA:17}";"%{DATA:18}";"%{DATA:19}";"%{DATA:20}";"%{DATA:

[2015-10-15 11:51] clintongormley commented on #4707
While it may be working as designed, I'd argue that the syntax is surprising to most users.  For example:

    POST t/t/_bulk
    {"index":{"_id":1}}
    {"foo":"one"}
    {"index":{"_id":2}}
    {"foo":"two"}
    {"index":{"_id":3}}
    {"foo":"one two"}
    {"index":{"_id":4}}
    {"foo":"three"}

I would expect the following:

* `"one"`:  Return docs 1 & 3 (works)
* `"-two"`: Return docs 1 & 3

[2015-10-15 12:01] clintongormley commented on #14118
Hi @zackehh

Your call to `setTimeout()` is wiping out the source set by `setSource()`.  Move `setSource()` to the end and it will work.  This annoying behaviour will be fixed by a big search refactoring that is going into 3.0.

[2015-10-15 12:01] #14118 closed

[2015-10-15 12:05] javanna commented on #14118
I am not sure inverting the order of the `setSource` and `setTimeout` helps. The main problem here is that you are specifying the search request as a string. After that you set the timeout, which is under the hood creating a new SearchSourceBuilder which wins against the one provided as a string. You should rather use the SearchSourceBuilder only, to set the timeout, and avoid providing the reques

[2015-10-15 12:05] clintongormley commented on #5832
great, thanks @rjernst.  Closing

[2015-10-15 12:05] #5832 closed

[2015-10-15 12:16] brwe commented on #14130
Can you add the full query here? I cannot reproduce this.

[2015-10-15 12:17] nik9000 opened #14133 "Elasticsearch should bundle TestShardRouting in its test jar"
`TestShardRouting` is a test utility for building `ShardRouting`, part of the routing state and plugins want to use it to run their tests.

[2015-10-15 12:49] cbuescher commented on #13884
That guess seems right, there is an optimization in lucenes
SimpleQueryParser for boolean queries with 0 or 1 clauses that seems to be
the problem. I think we can overwrite that.

On Thu, Oct 15, 2015 at 1:23 PM, Clinton Gormley <notifications@github.com>
wrote:

--
Christoph Büscher

[2015-10-15 12:51] clintongormley commented on #14116
OK - appears I misunderstood the current implementation.  I thought that a limit of 10,000 per index when searching 100 indices could result in 1,000,000 hits being returned.  Actually, it will return a max of 10,000.  Closing this issue

[2015-10-15 12:51] #14116 closed

[2015-10-15 13:14] clintongormley commented on #14123
Seems reasonable - I assume this wouldn't be too expensive?

[2015-10-15 13:18] clintongormley commented on #14117
@nickminutello Is this with a custom plugin that uses its own exceptions?

[2015-10-15 13:23] clintongormley commented on #14101
Closing in favour of #8486

[2015-10-15 13:23] #14101 closed

[2015-10-15 13:29] clintongormley commented on #14129
you can use shard allocation filtering to do that. see https://www.elastic.co/guide/en/elasticsearch/reference/2.0/allocation-filtering.html

[2015-10-15 13:29] #14129 closed

[2015-10-15 13:32] bkj commented on #8486
+1

[2015-10-15 13:36] jasontedor commented on #14123
I would think for monitoring it would be better to be using `_cat/shards` which is much more amenable to sorting. For example:

    curl -sS -XGET localhost:9200/_cat/shards?h=index,shard,prirep,state,id | sort -k3

The problem is that the routing table is backed by a specialized hash map where iteration isn't amenable to sorting.

[2015-10-15 13:37] nik9000 commented on #14117
Thanks! Sorry. I should have seen it in the stack trace. I'll try and remember to look there next time. Thanks for filing the whole stack trace, btw.

I don't think so - if I had to guess I'd say its just an exception we didn't test well. IIRC in 2.0 exception passing is done differently so the unserializable exception is probably exclusive to 1.7.

Im' not 100% sure on the root cause. I guess it

[2015-10-15 13:42] javanna commented on #12383
I would expect this to be fixed in master after the query refactoring changes. That said it is hard to test given that queries and filters got merged. Also and and or queries have been removed. Anyways we did find different cases where queries would convert to null and that could cause NPEs which we have lots of tests for at the moment. Closing.

[2015-10-15 13:42] #12383 closed

[2015-10-15 14:16] tlrx commented on #13251
@seang-es Are you starting elasticsearch as a service with PowerShell using the  ̀Start-Service` cmdlet?

[2015-10-15 14:24] imotov commented on #4707
@clintongormley that's because google (as well as most other search engines in 21st century) is using `AND` instead of `OR` as a default operator, which should be the default behavior for elasticsearch as well IMO. Having `OR` as a default operator is causing all sort of confusion for many new users.

[2015-10-15 14:32] rmuir commented on #4707
Not really. if you query https://www.google.com/?gws_rd=ssl#q=elasticsearch+reference+query+dsl+oracle it gladly returns high ranking hits and just tells you: Missing: oracle

Switching to AND breaks many analysis chains such as n-grams. With a good ranking algo its also not necessary, its just that DefaultSimilarity is really weak here.

[2015-10-15 14:36] nknize commented on #13912
Closing for now as a non-issue.

[2015-10-15 14:36] #13912 closed

[2015-10-15 14:57] clintongormley commented on #14131
Hi @ARPLink

I suggest you ask this question in the forums: https://discuss.elastic.co/

[2015-10-15 14:57] #14131 closed

[2015-10-15 15:04] clintongormley commented on #13884
If this is in Lucene, perhaps it should be fixed there?

@jdconrad what do you think?

[2015-10-15 15:11] zackehh commented on #14118
Hey @clintongormley thanks for the reply - I'll try this out today.

@javanna unfortunately I can't do that at the moment because everything we have focuses on building the Strings, so it'd be a nightmare to strip out just for this. I'll get back to you on whether the inverting works.

[2015-10-15 15:15] cbuescher commented on #13884
@clintongormley I don't think SimpleQueryParser#simplify() is at the root of this anymore. The problem seems to be that SimpleQueryParser parses term by term-centric, but only starts wrapping the resulting queries when combining more than two of them. For one search term and two fields I get a Boolean query with two TermQuery clauses (without enclosing Boolean query), for two terms and one field I

[2015-10-15 15:22] javanna commented on #14118
I think what might work instead then, as a temporary solution, is using the `setExtraSource` for your string request. That one won't be overridden I believe. Keep in mind that all this is going away in 3.0 though.

[2015-10-15 15:41] zackehh commented on #14118
Ok @clintongormley reversing didn't help, but @javanna's tip of `setExtraSource` did work.

What exactly is the different between `setSource` and `setExtraSource`? I've never seen the latter used anywhere.

I'll keep in mind that this is going in 3.0 (that's pretty far off though, right?), so I'll set it in motion to move to not using Strings. Thanks for your help guys.

[2015-10-15 15:46] jdconrad commented on #4707
I agree that this syntax is ugly -- "one three +-two" ; however, I am reluctant to special case the not operator because right now you have one OR three OR NOT two which while may be unexpected is predictable, but if I change this it becomes one OR three AND NOT two, because it ignores the default operator and it loses its consistency.  It is also very difficult to predict proper sub queries outsi

[2015-10-15 15:51] imotov commented on #4707
What google does, is some weird "fuzzy" AND (or something like `should` with large minimum should match) search that google turns on a long tail queries with a large number of terms. But the basic behavior with 2-3 term queries resembles AND more than OR, would you agree?

n-grams is an advanced feature, I think if a user can figure out how to enable n-gram (or configure any other custom analysis

[2015-10-15 16:00] jdconrad commented on #4707
I should explain further what happens right now, each time an AND is switched to an OR or vice versa a new boolean query branch is created.  So if you have a b c  +d +e  f the tree ends up looking like

bq( bq( bq( should a should b should c ) must d must e ) should f)

so changing the not operator to always use must will have an inconsistent change in boolean query branches since operator precede

[2015-10-15 16:13] imotov commented on #4707
Yes, and this is where it breaks my expectation. To me order of elements in the query shouldn't make any difference because "+" and "-" feel like unary operators but they behave in strange ways.

[2015-10-15 16:38] javanna commented on #14118
Glad you found a solution! extra source is something that we use internally for stuff that can come from both the request body and query_string parameters (e.g. the `query`, `size` etc.). It effectively allows to add additional parameters without touching the original source, handy given that the original source might be a bytes array that would require parsing to be modified.

The reason why this

[2015-10-15 16:44] javanna commented on #13278
sorry it took me a while to get to this, I confirm it's a bug, we don't look at the state of the aliases although we should after #9057. Need to dig deeper to see if this is a regression or just something that we never really covered.

[2015-10-15 16:48] bradvido commented on #13278
Nice, thanks for the confirmation

[2015-10-15 16:59] OTTERPUP333 commented on #14099
easy to reproduce: (discovered by accident)
in your yaml config, set ec2-discovery for some tag (any non-existent tag) and watch es thrash your EC2 console into non-responsiveness

[2015-10-15 17:02] clintongormley commented on #14122
Hi @ppf2

I'm not sure I see the benefit of what you're suggesting here.  The `values` always have to be explicitly listed.  If values are missing then we assume there are nodes missing and take the appropriate action, so there is no auto-adjustment if nodes come and go.

So then it comes down to having an alternate syntax for a short list of values that happen to be numeric.  This is so easy to h

[2015-10-15 17:02] #14122 closed

[2015-10-15 17:06] javanna commented on #6371
With #13859 we made a big step towards parsing the search request on the coordinating node. Effectively if you use the java api you can't specify a string or bytes array or map anymore when building a search request, as you need a structured java object instead, which is now natively streamable for communication between the nodes. This is why we removed all of the set methods that accepted string,

[2015-10-15 17:06] #6371 closed

[2015-10-15 17:12] javanna commented on #6565
If this is about adding the missing getters for each instance member in our query builder objects, this has been done as part of the query-refactoring which is now in the master branch. @shadow000fire can you please confirm that is what you meant?

[2015-10-15 17:15] javanna commented on #6496
This has been discussed and fixed in #11744 as part of the query-refactoring effort which is now in the master branch (future 3.0 release).

[2015-10-15 17:15] #6496 closed

[2015-10-15 17:18] zackehh commented on #14118
@javanna sweet! Since it's internal, I guess I shouldn't abuse it too much?

Thank you for the extra info, and for your help with getting me going :)

[2015-10-15 17:18] ppf2 commented on #14123
Thanks @jasontedor .  In this case, the user is on Windows and using powershell's convert-to-json functionality which makes it easy to iterate the json output and has a pretty complete set of monitoring scripts based on the non-cat apis.  It's certainly easy to update those scripts to workaround this behavior though.  So this is just to gauge the level of effort for us to display the primary copy

[2015-10-15 17:21] javanna commented on #8155
I wonder if this becomes obsolete given that we now parse queries on the coordinating node. Is it still something that we want to consider doing @martijnvg ?

[2015-10-15 17:31] tianon opened #14142 "2.0.0~rc1 not available in the relevant APT repo"
When using `deb http://packages.elasticsearch.org/elasticsearch/2.0/debian stable main`, the latest available version is still `2.0.0~beta2` -- did something change in the deployment scripts for `rc1`?

[2015-10-15 17:36] clintongormley commented on #14142
Yes, the repo is now `2.x` instead of `2.0`.  See https://www.elastic.co/guide/en/elasticsearch/reference/2.0/setup-repositories.html

[2015-10-15 17:36] #14142 closed

[2015-10-15 17:38] tianon commented on #14142
Ahhhh, thanks @clintongormley; sorry for the bother!

[2015-10-15 17:56] bleskes commented on #14123
@jasontedor I quickly glanced at things - so I might be missing something but isn't this a question of sorting the shard list in the IndexShardRoutingTable constructor/builder: https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/cluster/routing/IndexShardRoutingTable.java#L77

This list is super short, so the overhead should be negligible....

[2015-10-15 20:08] jdconrad commented on #4707
@imotov What you're saying makes sense to me from the point of view of someone that regularly deals with search, but for someone less technical I think and/or make more sense.  Honestly, the default to OR is a bit odd to me too because if someone, say my mother, types "dog food" into the google she expects it to be anded together there at least through decent scoring.  I think making a new parser

[2015-10-15 21:53] jdconrad commented on #4707
All right after a bit more thought and discussion, I've come to agree with everyone in this issue that this behavior is unexpected for everyone.  I'll work on making a Lucene patch for the SimpleQueryParser using the behavior describe by @imotov and @rmuir where the structure will be a single bq per subquery.

[2015-10-15 22:09] dakrone commented on #14065
Okay, I see the request breaker is very large for this node:

[code]

Has this node experienced any OutOfMemoryErrors? I'm surprised to see it tripped almost 2k times with a limit of ~18gb.

[2015-10-15 23:10] ruria opened #14148 "How to switch default HttpServerTransport?"
Hi, I´m migrating a plugin from 1.5 to 2.0, it switch default NettyHttpServerTransport to add some sort of securiity, but I confused, since 40f119d85a4eaa39d0a6e594e46f70de725557f0 it seems to me that "http.type" parm doesn´t work (see HttpServerTransport.java)

I´m right? Is there any other way to do that? How is supossed I can call setHttpServerTransport?

[2015-10-15 23:45] davidvgalbraith opened #14149 "Unassigned shards during cluster start since upgrading to 1.7.1"
Hey! I have a two-node Elasticsearch cluster that I upgraded to version 1.7.1 from 1.5.2. All my indexes have 2 shards and no replicas. Whenever I start Elasticsearch now, I get red cluster health with unassigned shards:
[code]
I tried to use the reroute API to assign them or figure out what's wrong, and this happened:
[code]
I tried adding `"allow_primary": true` to the reassign command, and it a

[2015-10-16 04:00] jeffsteinmetz opened #14151 "Add hint for Array mappings (simple and complex types)"
It seems like a "hint" would be helpful to projects like elasticsearch-hadoop / spark if the mappings exposed when a json **array** is expected.
https://github.com/elastic/elasticsearch-hadoop/issues/484
https://github.com/elastic/elasticsearch-hadoop/issues/482

It may also be useful for tools like Kibana.
A hint such as `"array": true`

* (side note, this hint is unrelated to nested object mappi

[2015-10-16 07:09] zlosim commented on #14065
yes, actually there was one:

[code]

as for the memory usage, I`m looking into those queries right now

[2015-10-16 07:39] neerajgoyal12 commented on #14130
#### Create Index with Mappings

[code]

#### Add Document 1 to Index

[code]

#### Add Document 2 to Index

[code]
#### Query 1

[code]
#### Query 2
[code]
#### Answer

[code]

The score for the above query is 2.0 which i think is wrong.

[2015-10-16 08:38] clintongormley commented on #14130
This is working correctly.  Here's a simpler version of your example:

    DELETE test

    PUT /test
    {
        "mappings" : {
          "user_profiles" : {
            "properties" : {
              "location" : {
                "type" : "geo_point",
                "fielddata" : {
                  "format" : "compressed",
                  "precision" : "1km"
                }

[2015-10-16 08:38] #14130 closed

[2015-10-16 08:42] jhberges opened #14152 "DateFieldMapper fails storing JSON-LD when property name contains `Date`?"
Storing the following fragment as part of a document cause `DateFieldMapper` to throw `IllegalArgumentException` with default setup.
Workaround is to disable "smart mapping" of date/time.

    ...
    "ccdm:publicationEndDateTime" : {
      "@type" : "xml:dateTime",
      "@value" : "2015-01-02T11:45:00Z"
    },
    "ccdm:publicationStartDateTime" : {
      "@type" : "xml:dateTime",
      "@value"

[2015-10-16 08:50] clintongormley commented on #14148
@rjernst any ideas?

[2015-10-16 08:57] clintongormley commented on #14149
`CLUSTER_RECOVERED` means that the shard was marked as unassigned when you started your cluster.  All shards start off like this.

You can use the `explain` parameter to a reroute command to get explanations of why your shards are unassigned.  In this case, you have disabled allocation.

Check your cluster settings.  You need to reenable allocation.

[2015-10-16 08:57] #14149 closed

[2015-10-16 09:12] jasontedor commented on #14123
We discussed this during fix-it-Friday and have come to the conclusion to not favor any one particular sort order over any other. Since it is not difficult to sort externally (especially with the `_cat/shards` API), we will close this issue as won't-fix.

[2015-10-16 09:12] #14123 closed

[2015-10-16 09:13] clintongormley commented on #14095
What would these APIs look like?

[2015-10-16 09:17] clintongormley commented on #14094
FixItFriday agrees with you :)

[2015-10-16 09:19] clintongormley commented on #14057
Investigation required

[2015-10-16 09:23] clintongormley commented on #13985
A few things to investigate:

* Don't change precision if breadth first set
* Automatic use of breadth first when appropriate
* Aggs spilling to disk

[2015-10-16 09:30] jpountz commented on #14095
For indexed fields, Lucene stores metadata about how many documents have a given field (`Terms.getDocCount()`). One issue however is that this metric is optional, some codecs might not store it. And also it wouldn't work if a field is mapped with doc values only.

Alternatively, monitoring tools could iterate over fields in the mapping and count how many documents contain this field using the `exi

[2015-10-16 09:39] clintongormley commented on #12542
We've just discussed this in FixItFriday and agree that logging across the network is a really bad idea for a busy Elasticsearch server, and not a configuration that we want to support.

There are plenty of tools available which can tail log files and ship them to a central server, including Logstash and [Filebeat](https://github.com/elastic/filebeat)

[2015-10-16 09:39] #12542 closed

[2015-10-16 09:40] clintongormley commented on #12869
We've just discussed this in FixItFriday and agree that logging across the network is a really bad idea for a busy Elasticsearch server, and not a configuration that we want to support.

There are plenty of tools available which can tail log files and ship them to a central server, including Logstash and [Filebeat](https://github.com/elastic/filebeat)

[2015-10-16 09:40] #12869 closed

[2015-10-16 09:56] jpountz commented on #13951
We just discussed this issue in FixitFriday: we like specifying types using byte,short,int,long better than min and max values.

And given that doc values compute dynamically how many bits per value are required, space requirements would be pretty similar between an unsigned int field and a long, so implementing support for unsigned numeric types would not help.

[2015-10-16 09:56] #13951 closed

[2015-10-16 09:58] clintongormley commented on #13928
The `_count` API can be replaced easily by `_search?size=0`.  Removing it from the REST layer would remove some comvenient simple sugar, but removing it from the Java API really doesn't impact convenience.

Let's remove from the Java API and leave the REST endpoint in place, and keep the response the same as today.

[2015-10-16 10:00] clintongormley commented on #13917
I think we should keep the `available_processors` key as it is today, but that we should include an `allocated_processors` key which shows actual number of processors that we are using.

[2015-10-16 10:03] robertsmarty commented on #14013
This works fine for me with rc1. Got a feeling it was not available for beta2.

[2015-10-16 10:06] clintongormley commented on #13895
Hi @tad9ab

We've discussed this in FixItFriday and we're not keen to add these hooks.  This feels like it should be handled in a query pre-processing phase before sending the query to Elasticsearch.

For the concrete example of converting the CIDR to a range, there is this issue that has been open for a while https://github.com/elastic/elasticsearch/issues/7464. Nobody has implemented it yet, but

[2015-10-16 10:06] #13895 closed

[2015-10-16 10:21] robertsmarty opened #14154 "Elasticsearch 2.0.0-rc1 displaying strange data"
I have logstash 2.0.0-beta2 sending AWS detailed billing data into elasticsearch 2.0.0-rc1 so I can test my setup. I've setup a template so all fields are doc_values.

Logstash rubydebug output looks great. Data is as expected. Elasticsearch dynamic mappings look great. Data types look great. Fields are not analysed. All good.

Then I look at the data. Weird, here's a small sample. Hopefully it'll

[2015-10-16 10:34] clintongormley commented on #14151
Hi @jeffsteinmetz

Any field in Elasticsearch can be an array or a single value, so I don't like adding the `array` parameter as a hint.  However, this kind of application specific extra mapping info can be stored in the mapping in the [_meta field](https://www.elastic.co/guide/en/elasticsearch/reference/master/mapping-meta-field.html).

[2015-10-16 10:34] #14151 closed

[2015-10-16 10:41] kuseman opened #14156 "Parent/child reference "cache" cleared when deleting mapping"
Hi,

A small disaster "happend" yesterday when I removed some non used mappings which had parent type set on their mappings. What happend was that all queries that made use of **has_child** with the same parent type as the mapping that was removed returned zero result.

Example
[code]
Queries are made:
[code]
And a delete request is made to **DELETE host:port/*/child2** and suddenly the query abov

[2015-10-16 10:51] clintongormley commented on #14152
Indexing just the values that you provided work just fine.  The `@value` field is added as type date.  The problem comes when you try to index a value that isn't a valid date later on.

We can't tell if you intended these values to be indexed or not, so we're not going to silently swallow this exception.  However, you can add a dynamic mapping rule which maps any `@value` field as type:string, or

[2015-10-16 10:51] #14152 closed

[2015-10-16 10:51] CliveJL commented on #12500
I have been successfully archiving ES Snapshots to Glacier using an S3 Bucket Lifecycle policy for some time now. This Lifecycle policy archives the S3 objects in the **"indices/" path only**. This covers all the large snapshot data files. The much smaller snapshot metadata files, in the "root" of the Bucket, **always remains in S3's Standard storage class**, so they can be read immediately withou

[2015-10-16 10:56] clintongormley commented on #14154
This isn't an Elasticsearch issue. Moving to Logstash

[2015-10-16 10:56] clintongormley commented on #14154
This issue was moved to elastic/logstash#4048

[2015-10-16 10:56] #14154 closed

[2015-10-16 11:05] clintongormley commented on #14156
Hi @kuseman

Yes it looks like a bug, but one we won't fix as you can no longer delete mappings in 2.0, which should stop this bug from being triggered.

From my testing you can recover from this situation by clearing the caches:

    curl -XPOST "http://localhost:9200/_cache/clear"

[2015-10-16 11:05] #14156 closed

[2015-10-16 11:13] wsw70 opened #14157 "Error building repository-s3 plugin (tests fail)"
I am trying to build the latest (master) `repository-s3` plugin on a Debian (to use it with ES 2.x). It fail with the error:

[code]

Skipping the tests (`-DskipTests=true`) leads to a successful build.

[2015-10-16 13:36] brwe opened #14158 "Cluster state and versions - when should we increment which version and how often?"
While reviewing https://github.com/elastic/elasticsearch/pull/14062 I found it somewhat difficult to reason about which version is incremented when in the cluster state. I open this issue to summarize how I think versions work right now and to maybe get some feedback on how this can be handled in a more easy to understand way.

This is the version numbers we maintain:
- cluster state version:
  -

[2015-10-16 13:50] nik9000 commented on #1063
Replying to my own comment:

Right now, and as far as I can tell any non-ancient version of Elasticsearch, this exists in the non-realtime version of the [get](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-get.html) api. The "timeout" is always 0. Which isn't convenient but it gets the job done and its how I'd advise folks to implement this if they had lots of this kind of t

[2015-10-16 14:08] clintongormley commented on #1063
@nik9000 ++

Thinking that we should add this to the docs.

[2015-10-16 14:09] rmuir commented on #14109
Right, but there are bigger issues here:

* rest tests from the IDE do not work in core or plugins at all right now. I believe this was broken sometime when moving stuff to test-resources
* rest resources are applied in an inconsistent way: you get a test-resource folder named `target/dev-tools/rest-api-spec` which means resources are rooted under `/api` and `/test`
* on the other hand plugin rest

[2015-10-16 14:16] javanna commented on #8175
I wonder it this is still relevant at this point or we need to take some action. @dakrone ?

[2015-10-16 14:22] clintongormley commented on #9776
No feedback. Closing

[2015-10-16 14:22] #9776 closed

[2015-10-16 14:24] nik9000 commented on #1063
Totally. Is it enough to close the issue, do you think? I get the sense we could make this easier, maybe even adding an es-side timeout.

[2015-10-16 14:37] konradkonrad opened #14160 "Inconsistency between get template and get mapping"
I was trying to programmatically test, that my template creating code is doing the right thing. Unfortunately I failed, since the get template API and the get mappings API don't agree on the formatting of `dynamic: false`.

The get-mappings returns false as a string (`"false"`), whilst get-template returns a boolean.
[code]
now the template looks like this:
[code]
and the mapping like this :(
[cod

[2015-10-16 14:38] dakrone commented on #14065
Okay, once an `OutOfMemoryError` has occurred, all bets are off for memory management, even if the node "appears" to have recovered, it can exhibit strange unexplainable behavior later on down the road. I recommend that you restart the node as soon as you can.

[2015-10-16 14:41] zlosim commented on #14065
thanks, was keeping it alive to debug this issue so its time to restart it :)

[2015-10-16 14:41] #14065 closed

[2015-10-16 14:41] dadoonet commented on #14157
May be you can paste which test is in failure and why?

[2015-10-16 14:42] cwithers opened #14161 "no buckets returned by terms aggregation on raw field"
Hi,

I'm getting strange behaviour with a terms aggregation. In the example below, the terms aggregation based on the "fruit" field returns 3 buckets but the aggregation on the "fruit.raw" field returns 0 buckets. I've also tried "fruit.fruit.raw", which returns 3 buckets, as expected.

Am I doing something subtly wrong?

Many Thanks,
Chris

Here is my mapping:

[code]

Here is my data:

[code]

H

[2015-10-16 14:47] dadoonet commented on #14161
Please ask user questions on discuss.elastic.co. We can better help you there.
May be you did not reindex your data after applying your mapping changes?

[2015-10-16 14:56] nik9000 commented on #1063
I'll add this to docs, btw.

[2015-10-16 15:05] nharraud commented on #1063
I had proposed a similar solution some months ago but using `realtime==true` to detect deletions.

http://stackoverflow.com/questions/28111805/elasticsearch-block-until-refresh-wait-for-doc-to-be-searchable-alternatives

[2015-10-16 15:14] FestivalBobcats commented on #13917
Definitely agree with that approach.

[2015-10-16 15:18] Funbit commented on #1063
@nik9000 How does the proposed solution can be used with bulk update? Obviously we can't check document version because there are many documents having their own version, updated asynchronously..?

[2015-10-16 15:33] pickypg opened #14163 "RPM init.d exits with 0 when JVM fails to start due to not enough memory"
When running the RPM installation of Elasticsearch 1.7.3 (and checking the newer versions of it, likely any release), if you try to give it too much memory, then it claims to succeed to start and it also returns a `0` exit code:

[code]

As noted by @inqueue, if you pass in `-x` to the init.d script, then you will find that the daemon starter appears to be to blame, which "succeeds".

[2015-10-16 15:35] clintongormley commented on #14160
Hi @konradkonrad

The mapping response is generated from actual Java objects. The template, however, is basically just a string that gets parsed only when an index is created.  Currently  you can put what you like in there and the first time it will throw an exception is when you try to create an index with it.

Even after #2415 is implemented, I'm not sure whether we'll store the original string

[2015-10-16 15:35] #14160 closed

[2015-10-16 15:36] clintongormley commented on #2415
@johtani An idea from #14160: When checking the provided index template for validity, store the template as the JSON generated from the real mappings, instead of storing the original string.

[2015-10-16 15:43] clintongormley commented on #14161
@cwithers The type name in your mappings is `incident`, the type name in your docs is `fruit`, so you don't have any `.raw` fields for your data

[2015-10-16 15:43] #14161 closed

[2015-10-16 15:47] inqueue commented on #14163
FWIW, systemd behaves correctly:

[code]

[2015-10-16 15:59] cwithers commented on #14161
re: dadoonet, I definitely created the index before populating it so that's not it, unfortunately.

re: clintongormley, I've tried to change the example here to something non customer data specific and missed one of the uses of "incident".

[2015-10-16 16:03] cwithers commented on #14161
Can this be re-opened? it is a real issue that I can reproduce on a clean 1.7.2 Elasticsearch install.

It looks like having a field name (fruit) that matches the name of the type (fruit) can confuse Elasticsearch in certain cases.

[2015-10-16 16:03] dadoonet commented on #14161
Can you share your full script which helps to reproduce it?

[2015-10-16 16:05] nik9000 commented on #1063
Nice! I don't know if the realtime=true is required in the update case because if the document isn't found at all then its been deleted. In the create case that makes sense though.

I wonder how this works in the presence of replicas too - all this does is validate that the document is visible on one the replica you hit with the request. Replicas are refreshed asynchronously so I don't know that t

[2015-10-16 16:07] cwithers commented on #14161
I create the mapping using curl, then load the data using curl, then make the request using curl:

curl -XPOST http://elasticsearch:9200/fruit -d @C:\src\Curl\fruit-type.json
curl -XPOST http://elasticsearch:9200/fruit/_bulk --data-binary @C:\src\Curl\fruit-data.json
curl -XPOST http://elasticsearch:9200/fruit/_search?pretty -d @C:\src\Curl\ESsearchRequest.json > C:\src\Curl\ESsearchResponse.json

[2015-10-16 16:09] dadoonet commented on #14161
As Clint said, your example is incorrect. Can you send a full correct script that you run on your end and which reproduces the issue?

[2015-10-16 16:25] javanna commented on #8862
Given that #11600 is in, does this need to stay open? Is there anything left to do?

[2015-10-16 16:36] javanna commented on #9266
We do support `gt`/`gte` and `lt`/`lte` in `RangeQueryBuilder` (filters have been merged with queries to RangeFilterBuilder doesn't exist anymore), as well as `from` and `to`. Does this mean we should remove support for setting `from` and `to`?

[2015-10-16 16:41] cwithers commented on #14161
The full script is embedded in a lot of Java code, which uses the Elasticsearch REST API to create templates, containg document type metadata and properties, and from the templates timestamped indices. The code also uses the REST API to bulk index the data and to perform searches with lots of aggregations.

I can successfully reproduce the strange behaviour with the above curl command to perform t

[2015-10-16 16:41] javanna opened #14167 "Bool query: apply minimumShouldMatch when explicitly set regardless of existing clauses"
We internally adjust the minimum should match value depending on how many optional clauses we have. That works well in many cases, but we end up overriding an explicitly set value for instance if we have less optional clauses than the current value (see https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/common/lucene/search/Queries.java#L175). Let's say for e

[2015-10-16 16:42] clintongormley commented on #14161
Yes it can.  This is a known issue which is fixed in 2.0

[2015-10-16 16:44] clintongormley commented on #14161
See https://github.com/elastic/elasticsearch/issues/8870

[2015-10-16 16:56] dakrone commented on #8175
@javanna it's still a "nice-to-do" even with Groovy as a plugin.

[2015-10-16 16:59] cwithers commented on #14161
I was aware of that 2.0 change after it being mentioned at Elastic{on} but didn't realise the issue could manifest in this way when there is only one type in an index.

Thanks for all your help 😊

[2015-10-16 17:02] clintongormley commented on #14161
np :)

[2015-10-16 17:02] nharraud commented on #1063
@nik9000 Yes it was for a creation scenario. You might be right for the replicas. My project is in prototype stage with quite a good network and hardware so It is always querying the same es node without any load balancing.

My use case is quite simple. I have a page where I display a filtered list of people applying or being invited to a project. I want the list of invitations to be updated when

[2015-10-16 17:54] rmuir commented on #8175
Strong +1 to fix this: security manager will not allow it to do this (https://github.com/groovy/groovy-core/blob/master/subprojects/groovy-json/src/main/java/groovy/json/internal/FastStringUtils.java#L43-L57), but its a big reliability risk if someone disables security manager.

This particular optimization uses Unsafe to change *final fields* of String, which is pretty scary. It has JVM-specific

[2015-10-16 18:19] dakrone commented on #8175
+1

[2015-10-16 18:26] uschindler commented on #8175
Nuke that. I don't want to know how many buggy code tries to deoptimize strings and crush! :(

[2015-10-16 18:36] s1monw commented on #8175
++ I think we are sold! @dakrone feel free to open a PR please

[2015-10-16 18:37] davidvgalbraith commented on #14149
That's a brave little theory, but it doesn't seem to be accurate. I did
[code]
I then restarted Elasticsearch on both nodes, and the health stayed the same. Did I run the wrong command to enable allocation? Is there another possible cause of these unassigned shards?

[2015-10-16 18:46] nik9000 commented on #1063
OK! I think I have a nice solution. Its mostly @clintongormley's idea.

1. Whenever we serve an index request we return the current elapsed time (not wall clock time, it can go backwards).
2. We collect those times into a map when on the response response.
3. We allow the client to throw the map back at us. If they do then we'll check that the last refresh for the shard included that time. If it d

[2015-10-16 18:51] s1monw commented on #14149
can you run `GET /_cluster/reroute?explain=true` and paste the output? Can you actually tell if the shards that are not allocated exist on disk? like you have 2 nodes, do the nodes have a copy of that shard in their data dir? Can you also for the time being set logging level for `gateway` to `trace`?

[2015-10-16 18:57] davidvgalbraith commented on #14149
[code]
Doesn't seem like GET on _cluster/reroute is a real API, I did a POST there in OP and pasted a relevant section of the 2.5 MB of output I got.

[2015-10-16 18:59] dweiss commented on #14109
Hmm... these tests do work for me out of the box on 2.0.0.rc1. I followed an example from plugins/jvm-* (something, can't remember).

But I agree with you that it's inconsistent and hard to understand -- I spent a good while trying to figure out what's exactly happening and why (and eventually I gave up on trying to understand it).

This isn't a priority for me anyway as I couldn't figure out the

[2015-10-16 19:17] davidvgalbraith commented on #14149
The shards are in fact missing from my data dir! What happened to my data?

[2015-10-16 19:19] s1monw commented on #14149
ok so lemme ask you some more questions? Did you delete those indices by any chance and some shards didn't get deleted so we "re-imported" it on the restart? do you use multiple data paths by any chance? can you see some mentions of dangling indices in the logs?

[2015-10-16 19:25] alexbrasetvik opened #14168 "Disable close index feature"
Closed indices are currently out of scope for snapshots and shard migration, and can cause issues in managed environments – where closing an index does not necessarily make sense, as it still consumes the managed environment's storage quota.

Making it possible to disable closing of indices node- or cluster wide would be useful.

[2015-10-16 19:26] davidvgalbraith commented on #14149
Ok so I have an index per day and a retention policy to keep the last 90 days, so the only time I delete indices is after their 90 days are up. Accordingly my indices go back to July 18, and I have the shards from July 18-30, then from July 31 to August 6 I'm missing shards, and from August 7 to today I have the shards again. There's no scenario in my application where I'd delete intermediate indi

[2015-10-16 19:33] s1monw commented on #1063
@nik9000 idea made me think if this could be done in a more contained way that doesn't require user interaction and can sustain high indexing load etc. and I think I have a good plain:

 1. when we index we either do it in bulk or as a single indexing request. Both are first done on the primary and then on the replica. Once replicas respond we respond to the user.
 2. on indexing we can store the

[2015-10-16 19:37] s1monw commented on #14149
very hard to tell what's going on here.. do you have anything else in the logs that can help me to figure this out?

[2015-10-16 19:37] nik9000 commented on #1063
Right. This is much better than the time.

I wasn't as happy with the whole do it at index time thing at first but I think it'll work out fine with the kind of limits you've outlined.

[2015-10-16 20:07] bleskes commented on #14094
Agreed this is not nice - but just to make sure I get the scope - the shard will be delete with the next cluster state update, right?

[2015-10-16 20:14] davidvgalbraith commented on #14149
I turned on TRACE level logging for gateway and shard recovery. Here's what I find when I search for an index name whose shards got assigned successfully:
[code]
And here's what I find when I search for one whose shards did not get assigned:
[code]
i.e. nothing! So the gateway recovery never even thinks about my index whose shards didn't get assigned. Maybe that's something to go on?

[2015-10-16 20:17] s1monw commented on #14149
man I don't know where your indices went.. I will talk to others if they can think of a bug that could have caused that...

[2015-10-16 21:11] jasontedor commented on #14163
With an RPM built and installed from #14170, we now see the following behavior on a Centos 6.7 system:

    $ cat /etc/redhat-release
    CentOS release 6.7 (Final)
    $ sudo service elasticsearch start
    Starting elasticsearch: Java HotSpot(TM) 64-Bit Server VM warning: INFO: os::commit_memory(0x00007fda5a660000, 85724889088, 0) failed; error='Cannot allocate memory' (errno=12)
    #
    # The

[2015-10-16 21:59] giles-t commented on #9442
Out of curiosity, are there any further updates on this issue?

[2015-10-16 23:51] pickypg commented on #9726
@pmaury If you're getting this error, then please create a new issue with the way to reproduce it. Specifically, please detail how you are getting and setting the scroll ID for each request.

[2015-10-17 14:11] Funbit commented on #1063
@nik9000 Sure. Our use case is pretty common. We have an SQL database containing file system information (folders & files) and we use Elasticsearch for searching. Since file system data changes pretty frequently we use a queue based approach to synchronize this file system with the Elasticsearch index. To guarantee the consistency the queue is processed synchronously and sequentially by a single s

[2015-10-17 22:26] synhershko opened #14174 "Invalid LinearRing found on geo_shapes taken from real tweets"
Trying to index twitter data using logstash with `full_tweet => true` I get the following exception. Since this happens quite frequently, and using fresh Twitter data, I assume the Elasticsearch implementation to either be buggy or too strict.

[code]

I have the following defined in my template:

[code]

Here is a sample tweet:

[code]

[2015-10-18 05:55] yellow1912 opened #14175 "Setup cluster for multiple subscriptions [Azure]"
I currently have machines in more than 1 subscriptions connecting via VirtualNetwork.
As of now this plugin seems to support only 1 single subscription so it would be nice if it does allow a collection of subscription instead

Issue from old plugin repo:
https://github.com/elastic/elasticsearch-cloud-azure/issues/106

[2015-10-18 08:25] andrejserafim opened #14177 "Getting document by ID with '/' slash in the id"
Trying to insert or get a document with path "/twitter/tweet/a%2Fe" results in a "No handler found for uri [/twitter/tweet/a%2Fe] and method [GET]" response. Response code 400.

It seems it's a regression of previous behaviour unless I'm missing something.

This is running against es-2.0.0-rc1.

[2015-10-18 14:06] sunchanras opened #14179 "Search with specific index type is 3 time slower than no index type specified"
Version 2.0rc1
Hardware; Core I5 ,8GB of Ram and SSD
________________________________________________________________________________
Here I have index:user and type:test with 40m documents index.
query1: /user/test/_search?q=title:how to install window10
take around 2300ms to 2500ms

query2: /user/_search?q=title:how to install window10
take around 700ms to 800ms
_________________________________

[2015-10-18 15:42] feifeiiiiiiiiiii opened #14180 "About compiler source in IntelliJ IDEA"
When compiler source failed, as follow:

[code]
How to solve it?

[2015-10-18 16:49] dadoonet commented on #14180
I manually updated the JDK configuration and removed `ant-javafx.jar` for example.
You have to do it for all conflicting libs.

[2015-10-18 19:31] evilezh commented on #9526
Just an idea ....
do like cron job ...
define at what time to refresh (which should give exact time ranges e.g. every 10th second of minute.. every minute of hour etc.).
That would produce exact time ranges. if we run over last 7 days .. and we have per day index ... then for 6 previous days query should match ...
So .. if kibana can produce it .. then we should get cache hits i guess.

[2015-10-18 19:38] jasontedor commented on #14180
The only JDK jars needed on the classpath are the ones listed in this [comment](https://github.com/elastic/elasticsearch/pull/13465#issuecomment-142124441).

[2015-10-18 19:38] #14180 closed

[2015-10-18 20:48] s1monw commented on #13580
this is caused by a stats bug fixed in #13801

[2015-10-18 21:17] markwalkom opened #14181 "Envelope causes OOM with GeoHashPrefixTree"
This looks like a bug, can someone check/confirm please :)

[code]

The logs from my attempt are pretty big so you can see them [here](https://gist.github.com/markwalkom/34a73229d888892fe005).

Reported initially [here](https://discuss.elastic.co/t/indexing-geo-shape-in-2-0-0-rc1-bug/32447).

[2015-10-19 01:56] feifeiiiiiiiiiii commented on #14180
@jakommo @dadoonet tks

[2015-10-19 02:09] nizsheanez commented on #9266
Then ok, probably i didn't find it. Let's close it then.

[2015-10-19 02:33] sverhagen commented on #13245
It would be great if it were possible to suppress the stack trace, though. It's a red flag to see stack traces, even during integration tests, or wherever we would be running Elasticsearch where we don't have these native libraries available. The way it is set up now, there is no way to reconfigure *just* that log statement, or to extend `Natives` in a way that let's us override this behavior (I h

[2015-10-19 05:40] ryanrozich opened #14182 "extended_stats aggregations returning the same value for max and avg"
running 2.0-rc1

queries return several extended_stats aggregations on various numeric fields. All of the aggregations returned have the same value for max and avg on every extended_stats aggregation returned. This is true when running both top-level aggregations and nested aggregations.

I assume max=avg is only mathematically possible if all values are the same; however, max != min and stdev has

[2015-10-19 05:53] ryanrozich commented on #14182
closing this issue. It was a bug in my code not in the response from the server

[2015-10-19 05:53] #14182 closed

[2015-10-19 08:24] ErickSkrauch opened #14185 "Wrong geo_distance filter behavior"
I'm working on map search service. On Google Map defined some objects and i need to draw some areas, in whith they can bounds. ```geo_shape``` search work OK, but with ```geo_distance``` (e.g. circle search) i have trouble.

![](http://dl2.joxi.net/drive/0004/2001/325585/151016/4854042dd0.png)
If i move my circle above or below these strips, objects will be found. But if I move circle right or lef

[2015-10-19 08:42] #13957 closed

[2015-10-19 08:58] cbuescher commented on #13884
Althought it would be nice if Lucene SimpleQueryParse would output a Boolquery with one should-clause and three nested Boolqueries for the 1-term/multi-field case, I think we can detect this case and do the wrapping in the additional Boolquery in the SimpleQueryStringBuilder. I just opened a PR.

[2015-10-19 09:33] davidjwaugh opened #14187 "Unable to get apache-flume-1.6.0 to work with ElasticSearch 2.0 beta 2 - Works with Elasticsearch 1.7.3"
Hello
I am unable to get apache-flume-1.6.0 to work with ElasticSearch 2.0 beta 2.
The same configuration works fine with Elasticsearch 1.7.3

My flume-en.sh contains
# Give Flume more memory and pre-allocate, enable remote monitoring via JMX
export JAVA_OPTS="-Xms100m -Xmx2000m -Dcom.sun.management.jmxremote"
# Note that the Flume conf directory is always included in the classpath.
FLUME_CLASSPAT

[2015-10-19 09:48] #13386 closed

[2015-10-19 09:48] alexandrenavarro opened #14188 "ElasticSearch shutdown randowmly after a while when RejectedExecutionException occured"
ElasticSearch shutdown randowmly after a while.

This is the log of the elasticsearch (1.7.2) set in debug. Tell me if you want to active more specific logs. I don't try to shutdown the elasticsearch at this moment.

[2015-10-19 10:36:30,024][DEBUG][index.merge.scheduler    ] [Baphomet] [logstash-2015.10.19][3] merge segment [_6dd] done: took [27.5s], [285.6 MB], [644,636 docs]
[2015-10-19 10:45:5

[2015-10-19 09:49] s1monw commented on #13580
fixed by #13801

[2015-10-19 09:49] #13580 closed

[2015-10-19 10:28] javanna opened #14190 "Java api: revise SearchRequest and SearchRequestBuilder object structure"
Once we are done with the search refactoring, we should revise the `SearchRequest` object structure, since it has a few problems:
- there are multiple ways to do the same thing e.g. `client.prepareSearch().addSort(sort)` and `client.prepareSearch().setSource(new SearchSourceBuilder().sort(sort)`. Some arguments can be provided directly to the builder, but they become part of the inner source objec

[2015-10-19 10:31] javanna commented on #13564
I can't think of anything that is left to do here, @cbuescher what do you think?

[2015-10-19 10:32] #13421 closed

[2015-10-19 10:34] javanna commented on #10974
@cbuescher did you have anything in mind around this? Would you want to pick it up?

[2015-10-19 10:41] javanna opened #14191 "Document breaking changes introduced with #13752"
With #13752 we introduced quite some breaking changes to the java api. We should review what we did and properly document those breaking changes in the migration guide for 3.0. Also, we should consider deprecating in 2.x some the methods that we have removed from `SearchRequest` and `SearchRequestBuilder` etc.

[2015-10-19 10:50] clintongormley commented on #13949
Fixed in Lucene 5.4

[2015-10-19 10:50] #13949 closed

[2015-10-19 10:55] javanna opened #14192 "Rename QueryBuilder objects as they are not builders"
With the query refactoring we refactored all of our query objects. As a result, they are not builders anymore although we kept the `Builder` suffix to avoid making too many changes at the same time and dealing with merge conflicts. Now that all queries are refactored and everything is in master, it is time to settle on new naming and rename them all. One tricky aspect could be that removing the `B

[2015-10-19 11:07] #14188 closed

[2015-10-19 11:52] s1monw commented on #14192
oooh fun! I am all for it but what are we doing with things like `TermQuery` it will have name clashes? I know it's a pain but I already spend a lot of time on this without a good solution so lets see if other can come up with something good?

[2015-10-19 11:53] s1monw commented on #14192
We can come up with better names ie `KeywordQuery` ?

[2015-10-19 12:04] javanna commented on #14192
Quick question, given that the package names would differ, what would be the actual problems if we have name clashes with lucene in practice?

[2015-10-19 12:07] cbuescher commented on #10974
@javanna I think there are a few general checks we could do (like missing brackets, adding brackets) but I doubt that there are any other tests that are general enough for BaseQueryTestCase that produce predictable errors across all query parsers. Relabeled it and so this is not an issue that's concerning Query Refactoring, if thats okay.

[2015-10-19 12:09] cbuescher commented on #13564
@javanna I think can remove code duplications now that we merged with master as we go along and re-open more specific issues for that.

[2015-10-19 12:15] #13564 closed

[2015-10-19 12:25] #13758 closed

[2015-10-19 12:46] #13928 closed

[2015-10-19 13:29] #14163 closed

[2015-10-19 13:33] skearns64 opened #14194 "Low Disk Watermark Logging Oddness"
Using a 2.0.0-snapshot build, I see odd logging behavior for the low disk watermark.

The free-disk calculation is working fine, but the logging for this is quite odd. After starting a single-node cluster with 5 shards (each with 1 shard, and 1 unassigned replica), I see several log messages about low disk watermark all at once. 30 seconds later, I see another group of low disk watermark messages,

[2015-10-19 13:36] Crassirostris opened #14195 "Cat API uses Content-Type to determine response type"
Right now _cat API uses Content-Type header to determine response type, instead of Accept header. Therefore GET request should contain Content-Type, but it cannot contain any content, because, well, it's GET request =) I think using Accept header would be much more consistent with http standard.

Example:

[code]

but

[code]

[2015-10-19 14:00] #14133 closed

[2015-10-19 14:36] joshusre opened #14196 "Elasticsearch 502s when"
I was able to complete this tutorial successfully: https://www.digitalocean.com/community/tutorials/how-to-install-elasticsearch-logstash-and-kibana-4-on-centos-71 which let me set up an ELK stack on one box. Now, I'm trying to set up ES / Kibana / nginx on one box and ES / Logstash on another.

On server A, with minimal config (naming the ES cluster, making the ES network.host the server IP, and

[2015-10-19 14:54] brwe commented on #14094
Indeed, the description was misleading. The shard content is deleted with next cluster state update but the index directory and the metadata is not. It stays until the whole index is deleted.

[2015-10-19 15:08] #12839 closed

[2015-10-19 15:13] bleskes commented on #14158
Thanks @brwe for the great write up. The way I see it the version are primarily used to allow to check for equality (with one big exception, see further). For example, this is used when updating cluster states on the nodes after receiving a new one from the master where we want to reuse local objects when the didn't change. Longer term I tend to say we should go with implementing `equals` methods

[2015-10-19 17:15] jdconrad commented on #13884
The SQP wasn't really designed around multi-field terms, but needed to have it added afterwards for use as a default field which is why the min-should-match never gets applied down at that the level.  I don't know if the correct behavior is to make it work on multi-fields.  I'll have to give that some thought given that it really is as @cbuescher described as term-centric, and it sort of supposed

[2015-10-19 17:30] jeffsteinmetz commented on #4847
There is actually a typo in that last merge btw `themsevles`

[2015-10-19 17:41] #13460 closed

[2015-10-19 17:44] jdconrad commented on #13084
Quick update:

@rmuir has added ES plugin logic for the prototype language.  This week will be about adding tests and fixing bugs as they arise.  Not much else to add for now.

[2015-10-19 18:16] lifo888 opened #14198 "Elasticsearch return same score for documents with different freq count"
In the result of one of my searches, Elasticsearch gave two documents the same score, even though one doc has the word appear 3 times vs 12 times in the other doc.  I understand term frequency is only one part of the score calculation, but i don't understand how two docs with such different term frequency got identical score.  I know scores are only relative to the query, for my search, i'm hittin

[2015-10-19 18:59] ppf2 commented on #12394
+1

[2015-10-19 19:53] #14083 closed

[2015-10-19 21:24] malinir123 opened #14199 "Partial update of an index in Elasticsearch"
I have the following mapping with category as an array.

curl -XPUT http://localhost:9200/cstest/ -d '
{
    "mappings": {
	    "csproducts" : {
	        "properties" : {

	        	  "productid":{
	        	   	"type" : "String"
	        	  },
	        	  "productnumber":{
	        	   	"type" : "String"
	        	  },
	        	  "category":{
	        		"type": "string",
			    	"null_value" : "

[2015-10-19 22:44] ppf2 commented on #9106
+1 Use case:  Indexing a ton of data via Logstash *hourly* indices and seeing red every hour ..

[2015-10-20 05:18] markwalkom commented on #14196
Please join us in #elasticsearch on Freenode or at https://discuss.elastic.co/ for troubleshooting help or general questions.

We reserve Github for confirmed bugs and feature requests :)

[2015-10-20 05:18] #14196 closed

[2015-10-20 07:40] nickminutello commented on #14117
No. No custom plugins.
Not sure of the root cause of the issue either.
A possibility is perhaps two different cluster members running on different version jvms?

But a static analysis of the code would suggest its not going to work as expected? (or am I missing something).

[2015-10-20 08:37] bleskes commented on #14115
This fails because of the change in https://github.com/elastic/elasticsearch/pull/13766/files#diff-e3d064cfd24df0c1f53af98e6f9bc66dR675  . I'll work on a fix but need to get some other things done first.  If anyone interested in picking this up first , please ping me :)

[2015-10-20 08:49] MaineC commented on #14192
Simple things first: big +1 on removing the builder suffix - no matter what the final names will look like, these classes aren't builders anymore so they shouldn't be named builders.

As for final names (aka here are my bikeshedding arguments): Just dropping the suffix means that users who are already familiar with our Java API have an easier time switching. Also current names being close to the o

[2015-10-20 08:56] #13800 closed

[2015-10-20 09:10] cbuescher commented on #13884
@jdconrad thanks for explaining, in the meantime I opened #14186 which basically tries to distinguish the one vs. multi-field cases and tries wraps the resulting query one more time to get a correct min-should-match. Please leave comment there if my current approach will colide the plans regarding #4707.

[2015-10-20 09:13] jpountz commented on #14198
This is expected: doc 1 has a factor of 1.7320508 thanks to its doc freq and 0.0078125 because of its length, and doc 2 has a contribution of 3.4641016 for the freq and 0.00390625 for its length. When you multiply contributions, you get 0.0135 in both cases.

So in short, doc 2 is not more relevant because it's longer than doc 1 and gets penalized because of that.

[2015-10-20 09:13] #14198 closed

[2015-10-20 09:51] cbuescher commented on #13761
So are we good with deprecating the complete `not` query from 2.x on and delete in 3.0 like with `and` and `or`? I can start with that.

[2015-10-20 10:30] javanna commented on #13761
+1

[2015-10-20 10:48] cbuescher commented on #13761
@jpountz @javanna opened PR against 2.1 for deprecation, mind to take a look if this needs additional changes in the docs? Otherwise I'll also do PR for deletion on master.

[2015-10-20 10:50] clintongormley commented on #8862
@javanna that change was reverted, so yes this still needs to be done.

[2015-10-20 11:01] clintongormley commented on #14174
See https://github.com/elastic/elasticsearch/pull/11161

[2015-10-20 11:01] #14174 closed

[2015-10-20 11:03] joshusre commented on #14196
I'll pass.  Good talk, bro :\

On Tue, Oct 20, 2015 at 12:19 AM, markwalkom <notifications@github.com>
wrote:

[2015-10-20 11:11] clintongormley commented on #14179
@sunchanras your first query also has to do a filter on `_type:test`.  Did you run this several times before comparing times? The filter should end up being cached (and fast).

[2015-10-20 11:17] clintongormley commented on #14181
1cm resolution for half the world?  Not surprising it OOMs :)

@nknize what can we do here?

[2015-10-20 11:18] #9266 closed

[2015-10-20 11:31] clintongormley commented on #14185
Hi @ErickSkrauch

I'm afraid I don't understand what the problem is.  Could you provide a full recreation which demonstrates the data you have, the queries you are running, and what doesn't work as you expect?

[2015-10-20 11:42] clintongormley commented on #14187
Looks like it is due to this change https://www.elastic.co/guide/en/elasticsearch/reference/2.0/_java_api_changes.html#_inetsockettransportaddress_removed

You should open an issue on the Flume list

[2015-10-20 11:42] #14187 closed

[2015-10-20 11:43] davidjwaugh commented on #14187
Thanks very much for your help

[2015-10-20 11:44] mmaracic1 commented on #8486
+1

[2015-10-20 11:52] clintongormley commented on #14194
@dakrone could you take a look at this please?

[2015-10-20 12:03] clintongormley commented on #14195
I had absolutely no idea that this worked!  And I agree that it should be an Accept header instead of Content-Type.

Btw, you can also just add '?format=json'  to achieve the same thing.

[2015-10-20 12:38] dakrone commented on #14194
@skearns64 When I try to reproduce this, I am getting only a single logging message (extra spacing added by me):

[code]

You mentioned using a 2.0.0-snapshot build, what SHA are you building? I am building from the 2.0 branch, e1a7cc2.

[2015-10-20 12:42] skearns64 opened #14205 "Plugin Installation No Longer Checks for Already Installed Plugin"
When installing a plugin in ES 1.7, there is a check to verify that the plugin doesn't already exist, and the plugin installation aborts if it does:

[code]

In 2.0, this check no longer appears to take place, and the plugin installation appears to be attempted and fails:

[code]

[2015-10-20 12:42] clintongormley commented on #14199
Hi @malinir123

Please ask questions like these in the forum http://discuss.elastic.co/

If `category` is a string, the `+` operator is going to perform an append operation.  You'd need to make `category` an array in the original document, or detect this case in your script.

[2015-10-20 12:42] #14199 closed

[2015-10-20 12:53] rmuir commented on #14205
Its actually not really trying to install the plugin again, its just that the jar hell check happens before the "already installed check". Thanks @skearns64

[2015-10-20 13:07] bleskes commented on #8057
@jh12z when ever a node receives a multi cast ping, it tries to connect the source of the ping and respond. This is done on a background thread. Something seems to be blocking connections (but not rejecting them) causing these thread to accumulate. Any idea what it can be? Do you have only one node in your cluster (you mention mac os x)? can you check your host and publish addresses ?  Es logs the

[2015-10-20 13:14] rmuir commented on #14205
The issue is unique to this license plugin: it hits this problem because it uses the deprecated `isolated=false`. This kind of thing is not really surprising, its why we deprecated it...

[2015-10-20 13:36] sunchanras commented on #14179
@clintongormley  Yes, I run it several times.I have just tested with version 1.7 with 200 millions docs, the same result. For single index and single type;search with specific type is much slower than not specified type. I did not do filter on _type:test, I will test on that and will update result.

[2015-10-20 13:44] nknize commented on #14181
With that high of resolution this uncovered an issue in Lucene's GeoHashPrefixTree that I had fixed in PackedQuadTree. I'd suggest cutting over to QuadTree with the following mappings:
[code]
This will give 1.11 cm accuracy but with shapes the size of the one posted I would ultimately suggest lowering that resolution, or at very least, breaking it down into smaller shapes.

[2015-10-20 13:53] ErickSkrauch commented on #14185
I can show it to you using TeamViewer on my dev computer.
Can you add me to Skype or Telegram by nickname ErickSkrauch?

[2015-10-20 13:59] #14205 closed

[2015-10-20 14:00] clintongormley commented on #14179
@jpountz any ideas here?

[2015-10-20 14:02] clintongormley commented on #14185
No @ErickSkrauch we can't :)

[2015-10-20 14:04] sunchanras commented on #14179
I did filter query with type "test"
{
  "query": {
    "filtered": {
      "query": {
        "term": {
          "title": "title:how to install window10"
        }
      },
      "filter": {
        "type": {
          "value": "test"
        }
      }
    }
  }
}
Same result.
200million docs, single index "user", single type "test"

[2015-10-20 14:19] ErickSkrauch commented on #14185
Well, just that it would be the easiest way.

What exactly you not understand?
If I move the circle to the left or right (changing longitude), the objects will be filtered, but it does not affect the latitude.

![](http://dl2.joxi.net/drive/0004/2001/325585/151020/93d0c97e8b.png)
![](http://dl2.joxi.net/drive/0004/2001/325585/151020/65b16d8724.png)
![](http://dl2.joxi.net/drive/0004/2001/325585/15

[2015-10-20 14:20] clintongormley commented on #14185
I repeat: Could you provide a full recreation (ie show the curl requests that get sent to Elasticsearch, and the responses) which demonstrates the data you have, the queries you are running, and what doesn't work as you expect?

[2015-10-20 14:24] ErickSkrauch commented on #14185
Ok, I will prepere full recreation.

[2015-10-20 14:29] timini commented on #14049
Very interesting feature would use this

[2015-10-20 14:35] jpountz commented on #14179
@sunchanras can you let us know about the following:
 - how many types do you have?
 - how many hits do both queries match?
 - what does the [validate API}(https://www.elastic.co/guide/en/elasticsearch/guide/current/_validating_queries.html) return when `explain` is turned on? (once with the type and once without please)

[2015-10-20 14:44] sunchanras commented on #14179
@jpountz
 *  only 1 type "test"
 *  hit with specific type and non-specific type 6708012
 *  I did not turn 'explain' on ( I will try again and will update later)
 *  mapping is default dynamic mapping

[2015-10-20 14:51] OrangeDog opened #14211 "rpm uses non-portable `--system` flag to `useradd`"
If it used the equivalent `-r` flag instead then it would work on older systems, in particular el5.
Otherwise, the `useradd` fails but the install continues, resulting in a broken installation where everything is owned by root.

[2015-10-20 14:56] sunchanras commented on #14179
@jpountz
query body:
[code]
response:
[code]
query validation false but no explanation.
Thank

[2015-10-20 15:03] jpountz commented on #14179
Sorry I was not clear, what I would like to see is the output of:

[code]
and
[code]

It looks like the optimization for disjunction we have when they are used at the top-level (usually referred to as BS1) makes things slower than the regular scorer (usually referred to as BS2), which is quite surprising given how BS1 is usually much faster than BS2.

[2015-10-20 15:11] sunchanras commented on #14179
[code]

[code]
Thank

[2015-10-20 15:18] sunchanras commented on #14179
@jpountz
Here the captured image from Kopf
1.with specific type
![e1](https://cloud.githubusercontent.com/assets/6205717/10611856/4af2f316-7778-11e5-998e-7955aa041f0e.jpg)

2. without specific type
![e2](https://cloud.githubusercontent.com/assets/6205717/10611860/504bdc9c-7778-11e5-90de-4c5a5d3bf33c.jpg)

Thanks

[2015-10-20 15:25] jpountz commented on #14179
@sunchanras Any chance that you can capture [hot threads](https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-nodes-hot-threads.html) while the slow query (the index-level one) is running? This could help figure out the bottleneck. Please put the content in a gist and link it here.

[2015-10-20 15:26] jpountz commented on #14179
Also out of curiosity, how many [segments](https://www.elastic.co/guide/en/elasticsearch/reference/1.7/indices-segments.html) does your shard have?

[2015-10-20 15:30] sunchanras commented on #14179
@jpountz
For segments
[code]
Thank

[2015-10-20 15:39] sunchanras commented on #14179
@jpountz
For hot thread
https://gist.github.com/sunchanras/e0d2107b62aa884ce561
Sorry I am not sure what "the index-level one" is.
Thank

[2015-10-20 15:46] jpountz commented on #14179
Hmm, the hot threads are empty, are you sure you generated them while the query was running? By index-level, I meant the query where the type is not specified.

[2015-10-20 15:48] jpountz commented on #14179
It might help to run the query in a loop and capture the hot threads several times to get a better idea of what is happening.

[2015-10-20 15:49] sunchanras commented on #14179
OK, thank. I will run with loop and will update again.

[2015-10-20 15:52] sunchanras commented on #14179
@jpountz I have just updated the gist, and you view the gist again, please?
https://gist.github.com/sunchanras/e0d2107b62aa884ce561
Thank.

[2015-10-20 15:52] #14045 closed

[2015-10-20 16:00] sunchanras commented on #14179
@jpountz
Here hot-thread for specific type query
[code]

https://gist.github.com/sunchanras/7c2ee8b994ed4981f5d7

Thank

[2015-10-20 16:16] jpountz commented on #14179
Thank you, this is very helpful. So it looks like in your case BS2 is actually faster than BS1, which is quite unusual. Can you please run the following queries to see how many documents contain each individual term?

[code]

[code]

[code]

[code]

[2015-10-20 16:36] sunchanras commented on #14179
hit:0 doc
[code]

hit:30758725 docs
[code]

hit:0 docs
[code]

hit:0 docs
[code]

Thank

[2015-10-20 16:40] sunchanras commented on #14179
@jpountz
I created a function to generate arbitrary title from wiki docs randomly to index.
[code]
Thank

[2015-10-20 16:45] sunchanras commented on #14179
@jpountz
You can setup a test with single index and single type, 40 million docs.
You will see big different between query with or without specific type.

Thank.

[2015-10-20 16:49] sunchanras commented on #14179
@jpountz
I am new to ES, thought. I just moved from SOLR.
ES is great in nearly every aspect for distributed search.

[2015-10-20 17:20] jpountz commented on #14179
Thank you for helping me understand what is happening here. When filtering by a type, Lucene manages to understand that it really only has to run a single term query since there is a single clause that matches documents. However when the query is not filtered, it still tries to apply the logic that we use for disjunctions, which adds unnecessary overhead. I opened an issue against Lucene: https://

[2015-10-20 17:20] #14179 closed

[2015-10-20 17:34] mikemccand commented on #9106
+1, the cluster should never go red unless data loss has occurred ... this is a nasty bug in our cluster health.

It's like the smoke alarms that go off in my house when it's too dusty or we are cooking something "unusual".

#9126 seems very much related.

[2015-10-20 17:36] djschny commented on #10746
I have some concerns over performance with the change to remove the `payload` functionality. Let me try to elaborate and please let me know if I stated anything incorrectly.

With the current 1.X completion suggester, the entire FST (including payloads) is held on heap (but persisted to disk). By leveraging payloads we were able to strive extreme performance as we never had to do a FETCH of the as

[2015-10-20 17:44] #13761 closed

[2015-10-20 17:52] jaimemarijke commented on #2917
@martijnvg - Do you have an idea on when this might be implemented? I am curious because this is a blocking issue for me for using parent/child relationships, which I would otherwise much prefer over nested documents.

[2015-10-20 18:27] bleskes commented on #9106
@mikemccand it is related though slightly different. Even if we hold back the create index response until the index is green/yellow etc an independent monitoring of cluster health will report it's status.

I'm +100 on solving this but I couldn't come up - to date - with a proper solution. When we create an index we add unassigned primaries + replicas to the routing table. We try to assign the prim

[2015-10-20 19:06] nik9000 commented on #9106
I had this trouble to - every time I did an online mapping change I had to rebuild the index and stream one index to another - and I had 1600 indexes to do. Icinga generally thought Elasticsearch was flapping at that time because it was.

Maybe ignore indexes less than 60 seconds old in overall cluster state. The index itself should be red, but maybe not the whole cluster.

Any solution to this is

[2015-10-20 19:26] pmaury commented on #9726
ok... I found the source of my problem. It turns out the bug is in my code... sorry.

As mentioned earlier in this thread, and in the documentation:
"The initial search request and each subsequent scroll request returns a new _scroll_id — only the most recent _scroll_id should be used"

I failed to notice the problem because from the client perspective, everything is working fine: no exception, no

[2015-10-20 20:02] javanna commented on #13665
Hi @sirdavidhuang we had initially treated this as a bug and fixed it, but afterwards we found out that the fix introduced a regression (#14177), which made us take a step back. Any slash that should not be used as a path separator in a uri should be properly escaped, and it is wrong to try and make distinctions between the different slashes on the server side depending on what surrounds them, tha

[2015-10-20 22:00] joshuajonah commented on #4978
This is insane. I guess I'm going to change over to a KVM VPS.

[2015-10-20 22:14] TomArrow commented on #4978
You may want to try to execute the command from the init script. To me, it revealed that it really was all just a problem with the wrong JDK version. The vm.max_map_count error was basically just a demonic distraction from the true problem.

[2015-10-20 22:33] markwalkom commented on #14181
/faceplam

I totally missed that and yes, makes sense

[2015-10-20 22:33] #14028 closed

[2015-10-20 22:35] jpountz opened #14218 "Reject children documents that don't have a parent"
Some of our search code assumes that all children documents have a parent, yet we don't enforce this at index time. This assumption looks sane to me (otherwise why would you put a document in a child type at all?) so we should fix our indexing to reject child documents that don't have a parent?

See https://discuss.elastic.co/t/elasticsearch-2-0-bool-query-with-inner-hits-and-parent-query/31706 fo

[2015-10-21 00:57] nik9000 commented on #1063
Nah. Its fine. I don't know that this is the right way to accomplish the right kind of backpressure that you are looking for but it'll help anyway.

I've been working on this in between some other things that are pretty time consuming. It coming along, but its lots of code I'm not yet familiar with so its taking longer than it sounds like it should.

[2015-10-21 01:28] nknize commented on #14181
No worries Mark! It actually raised some good issues re: max precision. 1.  We throw a healthy IAE when ```precision``` is explicitly set beyond the max tree level but not when its set using "human readable" form (e.g., "1mm" happily self destructs w/ OOM). 2. GeoHashPrefixTree needs the same surgery procedure as applied to QuadPrefixTree

[2015-10-21 01:39] nik9000 commented on #13930
And now that I'm finally done with `@Test` I can think of helping again! Hurray!

[2015-10-21 04:40] michel-kraemer commented on #14181
I agree that the resolution is too high. I initially used a smaller bounding box and got the same error. For the minimum working example to reproduce the bug I just copied the snippet from the docs. Sorry for the confusion.

So do I understand you correctly that there actually is a bug? Because the minimum example works quite well under 1.7. It's done within a couple of milliseconds even with the

[2015-10-21 04:44] michel-kraemer commented on #14181
OK. I see. I just tried it again with a smaller bounding box and it's working OK. It seems my application code produced too large bounding boxes and I didn't notice that. I will check my code. Thanks for the pointers.

[2015-10-21 04:44] dadoonet commented on #14218
Just wondering what would happen if you have indexed a parent, some children and then you delete the parent...

I did not test it but I guess the DELETE operation will be successful, so what will happen to the search parts you mentioned earlier?

[2015-10-21 07:25] jdconrad commented on #13084
I have removed all shortcuts for now to reduce the amount of debugging necessary for a first iteration.  Shortcuts add a huge amount of complication and ambiguity to the language at this point in time.  A second iteration somewhere down the road will have the goal of shortcuts, plus dynamic method calls, and inferred casting.  The main goal of this project at this time is a simple language that ca

[2015-10-21 07:44] denghp opened #14219 "install marvel error"
[code]

[2015-10-21 07:55] dadoonet commented on #14219
Not available yet. You need to wait for 2.0.0 GA

[2015-10-21 07:55] #14219 closed

[2015-10-21 10:15] BrickXu commented on #6914
+1

[2015-10-21 10:17] #14177 closed

[2015-10-21 10:19] jpountz commented on #14218
I agree this can be an issue as well, but a different one? It is different to not have a value for the `_parent` field and to have a value that points to a document that does not exist.

[2015-10-21 10:42] javanna commented on #14177
Hi @andrejserafim thanks a lot for reporting this, it was as you said a regression in 2.0.0-rc1 which will be fixed in 2.0.0 GA.

[2015-10-21 11:44] markharwood opened #14223 "Terms query ignores minimum_should_match when used in must_not clauses"
A `terms` query inside a `bool` query's `must` clause will respect the `minimum_should_match` setting, however, when the same terms clause is embedded inside a `must_not` clause the setting is silently ignored.

[Example GIST with a graph-walking scenario ](https://gist.github.com/markharwood/44aadd21cde319234f90)

The bug is because internally the must_not clauses are rewritten to filters and the

[2015-10-21 12:14] jasontedor commented on #4978
@ccfontes @joshuajonah There is a possible workaround for this issue. As discovered in #9582, it appears the issue is due to memory corruption from the Sigar library causing issues with OpenVZ. Relevant here is hyperic/sigar#57. See also [OVZ-6231](https://bugs.openvz.org/browse/OVZ-6231). As of #11293 which is integrated into Elasticsearch 1.6, you can disable Sigar by setting [`bootstrap.sigar`

[2015-10-21 12:43] gmoskovicz opened #14224 "Add priority to the threadpool"
When a bulk request is sent to elasticsearch, if there are other bulk operations simultaneously being sent there is no way to control how they will be handle, hence the requests will be handled randomly/automatically.

My proposal/question is about adding a priority parameter, which will be useful to set at the top of the queue/priority list those bulk (or any other requests) that are more importa

[2015-10-21 13:42] jpountz commented on #14224
Using a priority queue could help have some entries be taken out of the queue before others, but in the case that the problem is that the threadpool is already full with long-running bulk requests, this would not help as we would still have to wait for these long-running bulk requests to finish before being able to take a new one.

An alternative would be to have several threadpools but I don't li

[2015-10-21 13:57] jpountz commented on #14223
This inconsistency comes from 1.x where the terms query would generate a bool query and the terms filter would generate a terms filter. Now that we merged both, we have to accept the `minimum_should_match` parameter in all cases and I think the bug is that we don't fail when `min_should_match` is set while we are in a `filter` context.

`minimum_should_match` is currently deprecated so that we can

[2015-10-21 14:11] jpountz commented on #14167
I think we should remove this leniency.

[2015-10-21 14:50] luigibertolucci commented on #9891
Hey @dadoonet , @cooniur .
I just ran into this same issue. Is there any workaround/solution?

Cheers!

[2015-10-21 15:39] #13682 closed

[2015-10-21 15:53] jasontedor commented on #14117
Unfortunately, it is possible for different versions of the JVM to cause serialization issues in the transport layer (addressed in #11910). The most common cause that we've seen is due to changes in 6u45 and 7u21 for the serialization of [`java.net.InetAddress`](https://bugzilla.redhat.com/show_bug.cgi?id=952657). I see that the machine this exception occurred on was running 7u65; are you running

[2015-10-21 16:42] andrejserafim commented on #14177
Thanks!

[2015-10-21 16:48] javanna commented on #13094
We decided to remove the search exists api in #13682. It is now deprecated in 2.1 and 2.x branches and removed from master. We can close this as won't fix then.

[2015-10-21 16:48] #13094 closed

[2015-10-21 16:52] javanna commented on #11391
Seems like there is not much to discuss here, thanks Jay for raising it, it's a good point. I originally used the PathMatcher because I thought it was ok, didn't see all those issues coming to be honest and I didn't want to write my own path matcher at the time. Marking adoptme.

[2015-10-21 17:02] javanna commented on #11204
I marked this back for discussion. The search/exists api has been removed from master and deprecated in 2.1. We can now discuss whether we want `_search` to work with HEAD or not. It currently doesn't. Seems like a different endpoint than `_search` would still be required for the reasons stated by @HonzaKral above though. And it would be the first api that responds to HEAD but accepts a body, whic

[2015-10-21 17:15] bdharrington7 commented on #8652
Hi, what happened to this? is this still going to be merged? I'm running 1.7.1 on CentOS and still having this issue where elasticsearch will fail silently, and no logs pick anything up.

[2015-10-21 17:17] mrsolo commented on #13930
I would add 'ability to do third party license analysis' as part of release requirement.
currently 3rd party uses [license maven plugin](http://www.mojohaus.org/license-maven-plugin/)
with 'mvn -P license site' call

gradle seems to have [one](https://github.com/hierynomus/license-gradle-plugin)

[2015-10-21 17:39] clexmond opened #14229 "Including inner hits drastically slows down query results"
Running the following query takes > 30 sec with ~13 million property records:

[code]

Removing the `"inner_hits": {}` drops the execution time to < 1 sec. Is this expected just by including inner hits?

[2015-10-21 17:50] l15k4 commented on #11425
@clintongormley I did, I'm disabling refresh interval, setting throttling to none and optimizing indices after bulk indexing, so that next bulk indexing starts on merged segments, see :

15:05:25,915][INFO ][indices.store ] [es-884a70a1805147db95b8a28e776cd59a] updating indices.store.throttle.type from [merge] to [none]
15:05:25,966][INFO ][index.shard ] [es-884a70a1805147db95b8a28e776cd59a] [mi_2

[2015-10-21 18:14] clexmond commented on #14229
Updating `"size": 1` with inner_hits on takes roughly the same amount of time as without inner_hits altogether. Increasing the size of the return set increases the query time linearly by roughly 200ms per inner hit.

[2015-10-21 18:23] jdconrad opened #14230 "Test testThatDefaultProfilePortOverridesGeneralConfiguration fails"
This test is failing testThatDefaultProfilePortOverridesGeneralConfiguration with the following error
[code]

Last failure: http://build-us-00.elastic.co/job/es_core_2x_suse/422/testReport/junit/org.elasticsearch.transport.netty/NettyTransportMultiPortTests/testThatDefaultProfilePortOverridesGeneralConfiguration/

[2015-10-21 18:26] rjernst commented on #13930
@mrsolo afaik, we only use the maven license plugin to check files have a license header?

[2015-10-21 18:41] mrsolo commented on #13930
we use http://code.mycila.com/license-maven-plugin/ to check the license header which is a different license plug in

we use depends on maven license plugin to do  third party library license auditing

[2015-10-21 18:54] jdconrad opened #14231 "Test testKatakanaStemFilter hangs"
The following test is hanging org.elasticsearch.index.analysis.KuromojiAnalysisTests.testKatakanaStemFilter
[code]

The failure: http://build-us-00.elastic.co/job/elasticsearch-20-strong/777/testReport/junit/org.elasticsearch.index.analysis/KuromojiAnalysisTests/testKatakanaStemFilter/

I was unable to reproduce the failure locally.

[2015-10-21 19:03] jdconrad opened #14233 "Test testIndexRollingUpgrade fails"
It appears records are both being added and deleted during rolling upgrades in 1.X builds

[code]

The build failure is http://build-us-00.elastic.co/job/es_bwc_17/2180/CHECK_BRANCH=tags%2Fv1.2.4,jdk=JDK7,label=bwc/testReport/junit/org.elasticsearch.bwcompat/BasicBackwardsCompatibilityTest/testIndexRollingUpgrade/

[2015-10-21 19:17] jdconrad opened #14235 "Test testNotAnalyzedFields fails"
The stack trace:

[code]

The build failure: https://internal-build.elastic.co/job/es_xplugins_2x_medium/1251/

[2015-10-21 19:20] dakrone commented on #14235
@jdconrad this is a failure in the x-plugins project, it should be opened there instead.

[2015-10-21 19:20] #14235 closed

[2015-10-21 19:53] dakrone commented on #14194
More info on this. The multiple logging lines is caused by `DiskThresholdDecider` not being bound as a singleton. Usually this wouldn't cause any side effects for Elasticsearch, however, Marvel injects the DTD into its `NodesStatsCollecter` with a `Provider<...>`, which was creating a new instance of `DiskThresholdDecider` every time it collected the stats. The additional instances were then loggi

[2015-10-21 20:12] #13259 closed

[2015-10-21 20:14] dabit commented on #4756
Has this been addressed? Please don't tell me this has not been fixed. Just bumped into it in production.

[2015-10-21 20:36] mrsolo commented on #13930
Since 2.x, the licenses are managed in https://github.com/elastic/elasticsearch/tree/2.1/distribution/licenses and some if not all libraries are not shaded, this pretty much invalidate pre 2.x auditing workflo, gradle 3rd party dependencies therefore is nice to have but not necessary.

Auditing will be
1) Cross check content of distribution *.zip against information under distribution/licenses
2)

[2015-10-21 20:41] rjernst commented on #13930
#1 is already done in the port of the license checker (perl script on master). Not sure what you mean by #2

[2015-10-21 20:45] mrsolo commented on #13930
#2 basically mean generation of google spreadsheet, currently not automated

[2015-10-21 20:47] Bkahler opened #14236 "dynamic:strict mapping, not validating fields if value of field is null."
It appears that this issue was brought up here [here](https://github.com/elastic/elasticsearch/issues/9444), and closed, however I am still seeing the same behavior in 1.7.3.
As mentioned in the issue from the link, after creating an index with a mapping that includes `"dynamic":"strict"`, Elasticsearch will reject fields not specified in the mapping, only if the fields have a value. Passing a fie

[2015-10-21 20:58] #14194 closed

[2015-10-21 21:45] msimos commented on #11781
+1 this message should be always logged when deciding to assign replicas.

[2015-10-22 01:26] dakrone commented on #13483
This one is still failing, see: http://build-us-00.elastic.co/job/es_core_2x_metal/343/consoleText

@rjernst I believe you added the verbose segments API? Can you take a look?

[2015-10-22 04:47] cooniur commented on #9891
@luigibertolucci
Hey, the solution is add this dependency to your project (assuming you were using Maven):

    <dependency>
        <groupId>com.vividsolutions</groupId>
        <artifactId>jts</artifactId>
        <version>1.13</version>
    </dependency>

[2015-10-22 06:40] tkaiser opened #14246 "Java API: Index templates not getting applied correctly"
Occurs in ES 1.7.2, 1.7.3.

I have created two perfectly equivalent mappings, once through the Java API and once through curl/Marvel Sense. Only the mapping created via curl is applied to new indexes.

* Start with no indexes and no defined index templates.
* Create a simple index template with one field type not analyzed through curl/Sense.

[code]

[2015-10-22 09:14] ilmerovingio opened #14248 "Acknowledged: false for successful index settings operation"
In a cluster of ~25 nodes running ES 1.7.1, ~900 indices, ~20k shards and ~1TB of data, when I run some "expensive" API call involving all indexes (example: set index allocation delay) I get `{ "acknowledged" : false }` even though the setting is applied properly.

This API inconsistency block me to orchestrate automated operations without implementing some hack like splitting the calls to subset

[2015-10-22 09:22] bleskes commented on #14248
if your operation is expensive and takes longer than the default ack timeout of 30s, you should increase it using the `timeout` parameter to whatever makes sense. I'm closing this for now, please reopen if you have any more issues.

[2015-10-22 09:22] #14248 closed

[2015-10-22 09:37] ilmerovingio commented on #14248
Hi @bleskes thanks for the suggestion but unfortunately I still see it as a workaround.

I think that ES should provide API consistency.

[2015-10-22 09:39] bleskes commented on #14248
I'm afraid I don't follow you. What do you mean exactly with consistency? can you give a concrete example?

[2015-10-22 09:45] ilmerovingio commented on #14248
For consistency I mean:

* if an operation fails API should return '{ "acknowledged" : false }'
* if an operation doesn't fail API should return '{ "acknowledged" : true }'

Right now the operation doesn't fail and the API returns fail.

Do you suggest something like use a timeout parameters to an infinite number? In that case you'll probably wait forever but the response should be consistent, rig

[2015-10-22 09:49] bleskes commented on #14248
I see. We communicate failures using http status codes and an error indication. The acknowledgement indicates a time out - it means the master have done the requested operation (updated index settings) but waiting on the nodes timed out (because one of the nodes took too long to respond).

[2015-10-22 09:58] tkaiser commented on #14246
Update: Apparently I used a malformed JSON object for the mapping part of the PutIndexTemplateRequestBuilder.
Still, two index templates that are indistinguishable from the REST interface are applied differently to new indexes.
I have forked the project at branch 1.7 and will investigate further.

[2015-10-22 10:55] ilmerovingio commented on #14248
What about having a 'wait_for' flag similar than what we have for the cluster api?

Example:
[code]
This could be a useful improvement. What do you think about it?

[2015-10-22 11:24] bevans88 commented on #14218
In a very simple Use Case that somewhat mirrors my current applications use of Parent/Child functionality:

- 'Book' Type that is a Child of 'Author' Type.
- 'Book' may, or may not have an Author. For instance we may have a 'Book' that we don't know the   author of .

 If it is enforced that all Child documents must have a Parent set then this becomes invalid.

As far as I'm aware having Child doc

[2015-10-22 13:02] galkinsergeyv commented on #10804
Hi @colings86!
You said that the fix should be available from version 1.5.3, but it only available in master. I didn't find it in 1.5.3.

[2015-10-22 14:09] clintongormley commented on #14218
This puts a burden on users to index parents then children in that order.  If you are (eg) taking a dump from a database then you may get documents in some random order.  This would also mean doing a real-time check for the existence of a parent any time we index a child doc.  Costly, no?

Also the point of deleting parent docs without also deleting child docs is a valid one.  Either we have to sp

[2015-10-22 14:15] clintongormley commented on #14218
I think I may have misunderstood this - it's not about the existence of the parent document, but about whether the child has a parent specified...  in which case I agree, we should enforce this.

In your example, you can simply have an UnknownAuthor parent document.

[2015-10-22 14:24] jpountz commented on #14218
Exactly, this is what I meant.

[2015-10-22 14:32] jasontedor opened #14252 "Wait on shard failures"
Currently when executing an action (e.g., bulk, delete, or indexing operations) on all shards, if an exception occurs while executing the action on a replica shard we send a shard failure message to the master. However, we do not wait for the master to acknowledge this message and do not handle failures in sending this message to the master. This is problematic because it means that we will acknow

[2015-10-22 15:13] Rylon opened #14254 "Recommended Heap - Documentation Error?"
Hi,

Just a quick one, I was reviewing the notes on recommended maximum heap sizes, but noticed one document states 32GB where another states 30.5GB. I assume it's 30.5GB since that is the latest recommendation from Oracle?

https://www.elastic.co/guide/en/elasticsearch/guide/current/heap-sizing.html
https://www.elastic.co/guide/en/elasticsearch/guide/current/_limiting_memory_usage.html

Thanks!

[2015-10-22 16:05] ywelsch commented on #14057
I can confirm the issue. The root cause is that rebalancing constraints are not taken into consideration when shards that can no longer remain on a node need to be moved. AFAICS, it affects the following options:

- cluster.routing.allocation.cluster_concurrent_rebalance
- cluster.routing.allocation.allow_rebalance
- cluster.routing.rebalance.enable
- index.routing.rebalance.enable
- rebalance_onl

[2015-10-22 17:17] pickypg commented on #9891
@dadoonet Sorry, I was on vacation two weeks ago. :)

I believe that this is just Groovy being naive about its usage MetaClass generation. My only real recommendation is to try to use the invokedynamic version of Groovy, which will be faster, and hopefully bypass the naive generation.

Perhaps even better, maybe you can switch over to using the equivalent Elasticsearch Groovy (http://github.com/el

[2015-10-22 17:25] pickypg commented on #6372
@ywelsch-t ^

[2015-10-22 18:09] #14168 closed

[2015-10-22 23:56] konradkonrad commented on #8483
possible duplicate #11237 ?

[2015-10-23 00:28] konradkonrad opened #14256 "`_default_`-mapping needs to allow for negation of `_parent`"
I might be missing something here (hopefully), but I am at a loss, how to achieve the generic definition of an index, where **all other types except the type "parent" are children of the type "parent"**?

I thought, I could achieve this with index templates + the `_default_` mapping.

The docs for [default mapping](https://www.elastic.co/guide/en/elasticsearch/guide/current/default-mapping.html#de

[2015-10-23 01:33] evanphx opened #14257 "No documentation of response from a bulk index request"
The docs simply say that the response is JSON and don't include any examples or schema.

[2015-10-23 02:05] dadoonet commented on #14257
Did you see this? https://www.elastic.co/guide/en/elasticsearch/guide/current/bulk.html?q=Bulk

[2015-10-23 03:35] polyfractal commented on #14257
This was my doing (twitter convo with @evanphx, I prompted him to submit a ticket). :)

I agree that we should add an example response to the reference docs similar to what we have in the guide, just so it's clear.

(Amusingly, I forgot we had an example in the Guide.  We could probably even steal the same example to put in the ref docs)

[2015-10-23 03:38] markwalkom opened #14258 "Update facets reference to aggs"
[Here](https://www.elastic.co/guide/en/elasticsearch/reference/1.7//query-dsl.html) we point to facets, we should update it to aggs, I guess [this page](https://www.elastic.co/guide/en/elasticsearch/reference/1.7//search-aggregations.html)?

[2015-10-23 06:05] dadoonet commented on #14257
Yes or cross-link?

[2015-10-23 07:24] s1monw commented on #8640
this hasn't failed in a long time.... closing

[2015-10-23 07:24] #8640 closed

[2015-10-23 07:24] s1monw commented on #8699
this hasn't failed in a long time.... closing

[2015-10-23 07:24] #8699 closed

[2015-10-23 07:24] s1monw commented on #8700
this hasn't failed in a long time.... closing

[2015-10-23 07:24] #8700 closed

[2015-10-23 07:24] s1monw commented on #8718
this hasn't failed in a long time.... closing

[2015-10-23 07:24] #8718 closed

[2015-10-23 07:25] s1monw commented on #8994
this hasn't failed in a long time.... closing

[2015-10-23 07:25] #8994 closed

[2015-10-23 07:25] s1monw commented on #9624
this hasn't failed in a long time.... closing

[2015-10-23 07:25] #9624 closed

[2015-10-23 07:25] s1monw commented on #9626
this hasn't failed in a long time.... closing

[2015-10-23 07:25] #9626 closed

[2015-10-23 07:25] s1monw commented on #9646
this hasn't failed in a long time.... closing

[2015-10-23 07:25] #9646 closed

[2015-10-23 07:25] s1monw commented on #9953
this hasn't failed in a long time.... closing

[2015-10-23 07:25] #9953 closed

[2015-10-23 07:26] s1monw commented on #13267
this has been fixed a while ago

[2015-10-23 07:26] #13267 closed

[2015-10-23 07:27] s1monw commented on #14115
@bleskes what's the reason for this failure can you comment with more details?

[2015-10-23 09:52] damienbod opened #14260 "Delete document type in index with routing in 2.0.0"
How can you delete a document type from a index which uses routing in version 2.0.0 or later. I can delete a single document or the whole index, but not the type, when routing (or parent) is used.

Greetings Damien

[2015-10-23 10:08] dadoonet commented on #14260
Was removed. See https://www.elastic.co/guide/en/elasticsearch/reference/2.0/_mapping_changes.html#_types_may_no_longer_be_deleted

Please ask questions on discuss.elastic.co

[2015-10-23 10:08] #14260 closed

[2015-10-23 10:12] ketan22584 commented on #13926
Hi can anyone give me any inputs on the above issue

[2015-10-23 10:18] dadoonet commented on #13926
Not really an answer but you could skip the tests if your goal is just to build a version.

[2015-10-23 10:24] dottilotti commented on #14260
Thanks

[2015-10-23 10:26] ketan22584 commented on #13926
Thanks for the reply .. yes on skipping test my build is sucess but i need to get the test cases passing .
I see that some of you have been able to get it passing .. i just want to know is there something that i have been missed to get this test cases passed?

[2015-10-23 10:33] javanna commented on #13926
I've seen this `index/10_with_id/Index with ID` failure before, it was due to the characters that are used as part of the index name. I think the fix was to export encoding related environment variables: `LANG=en_US.UTF-8` and `LC_ALL=en_US.UTF-8`. Have also a look at this similar issue: #8548 .

[2015-10-23 11:07] Ard-Jan opened #14261 "min_doc_freq missing suggester"
I have an index(1 shard 0 replica's) with the following 6 documents:

<pre>
<code>
POST /test_suggest/type
{
  "word": "laptop"
}
POST /test_suggest/type
{
  "word": "laptop"
}
POST /test_suggest/type
{
  "word": "laptop"
}
POST /test_suggest/type
{
  "word": "laptup"
}
POST /test_suggest/type
{
  "word": "laptup"
}
POST /test_suggest/type
{
  "word": "laptip"
}
</code>
</pre>

When i do the follo

[2015-10-23 12:09] jappievw opened #14262 "NullPointerException when combining field and script in aggregation"
Using a script in the percentile aggregation in Kibana 4, this results in an Elasticsearch NullPointerException. [Example](https://www.dropbox.com/s/op3kzha6qwjlbpe/Screenshot%202015-10-23%2014.08.17.png?dl=0). This seems to be caused by Kibana including both the field and script property. It is not possible to exclude the field property from Kibana.

For the sake of simplicity I narrowed this dow

[2015-10-23 12:41] johtani commented on #2415
@clint I see. Just now I don't change storing logic. I will try it.

[2015-10-23 13:03] rmuir opened #14263 "DuelScrollIT is flaky"
[code]

[2015-10-23 13:03] klimchuk commented on #9442
We're also interested in resolving this issue

[2015-10-23 14:30] jappievw commented on #14262
PS; this is what is included in the Elasticsearch log file:
[code]

[2015-10-23 14:32] bleskes commented on #14252
+1

[2015-10-23 15:09] javanna opened #14266 "Java api: move to ordinary getters and setters"
We've been talking for some time about whether we should start using ordinary getters and setters like any other java project rather than our current methods that don't use the `get` and `set` prefix. We have also been moving to ordinary getters and setters as we go, but for the java api it would be beneficial to move over all of the objects at this point, otherwise we just introduce or keep incon

[2015-10-23 15:21] gingerwizard opened #14267 "Support Aggregation for Bucketing on Value Change"
A recent requirement to solve the gaps and island problem using Elasticsearch.

https://www.simple-talk.com/sql/t-sql-programming/the-sql-of-gaps-and-islands-in-sequences

Currently, this is being solved with an inefficient aggregation script.

This ticket proposes we support the ability to create buckets when the value for a field changes.  This assumes data is sorted appropriately prior to the a

[2015-10-23 15:22] gingerwizard commented on #14267
@markharwood @polyfractal Please comment.

[2015-10-23 15:53] evanphx commented on #14257
Nope, I did not see the guide page since they're not linked to from the docs at all.

[2015-10-23 16:11] otisg opened #14268 "Security Manager breaks JConsole and VisualVM"
Hi,

Short version: with security manager enabled one cannot connect to ES with JConsole or VisualVM - permission denied.  I'm assuming this is not a known issue because it seems like a pretty significant problem.

See https://discuss.elastic.co/t/security-policy-in-2-0-breaks-jconsole-and-visualvm/32861

[2015-10-23 16:16] rmuir commented on #14268
Looks like JConsole/VisualVM are the broken ones, not the other way around.

`attempt to add a Permission to a readonly Permissions object` in that stack indicates bugs in their code, not ours. See javadocs for Policy:

`Applications are discouraged from calling this method since this operation may not be supported by all policy implementations. Applications should solely rely on the implies metho

[2015-10-23 16:16] #14268 closed

[2015-10-23 17:32] clintongormley commented on #14224
If your bulk queue is full, then having a priority just indicates which indexing requests you want to throw away first/last.  This doesn't make much sense to me.

[2015-10-23 17:45] clintongormley commented on #11204
If it is going to be part of the Elasticearch API, then it needs to be part of the REST tests, which means that all clients should be able to support it.  This makes me lean towards: if you want to add a shortcut to a particular client then go for it, but it shouldn't be part of the official API.

[2015-10-23 17:57] clintongormley commented on #14229
It sounds like this query is being rerun for each hit.  I wonder if this could be improved?

@martijnvg what do you think?

[2015-10-23 18:01] gingerwizard commented on #14267
Correction: The proposal is to do this as a pipeline aggregation.  The above syntax above is therefore incorrect. The issue discussing @HonzaKral is that to make this useful its unlikely people will want to "sample" buckets and will want to inspect each value - and thus lots of buckets, which will be expensive.

[2015-10-23 18:03] clintongormley commented on #14236
It ignores fields with value `null`, because essentially they contain no values.  Not sure if we can do any more here, so marking this as "discuss"

[2015-10-23 18:14] clintongormley commented on #14254
This issue was moved to elastic/elasticsearch-definitive-guide#426

[2015-10-23 18:14] #14254 closed

[2015-10-23 18:14] clintongormley commented on #14254
It depends on the JVM - some cut over to uncompressed pointers at different heap sizes.  30.5GB is likely to be safe

[2015-10-23 18:20] clintongormley commented on #8483
Agreed - closing in favor of #11237

[2015-10-23 18:20] #8483 closed

[2015-10-23 18:24] markharwood commented on #14267
Trying to understand the motivation more.
Is it possible that these pre-collapsed buckets would have child aggs? Would this bucket-collapsing exercise be expected to fuse their results?

[2015-10-23 18:26] clintongormley commented on #14258
Already fixed in 2.0

[2015-10-23 18:26] #14258 closed

[2015-10-23 18:39] polyfractal commented on #14267
Hmm, I think I misunderstood the problem originally.  I didn't realize it needed to be sorted in the context of one field (e.g. an `id`) but checking for gaps in another field.  I think that is going to make it tricky to do as a regular aggregation.

IIRC, aggregations can only evaluate a single ValueSource currently, so they can only inspect the values of one field.  I'm also not sure how sorting

[2015-10-23 18:40] clintongormley commented on #14262
Note: this script works correctly with Groovy

[2015-10-23 18:52] nik9000 commented on #13522
There are a few things `@AwaitsFix`ed on this issue. Also we suppress any `index.data_path` set on the indexes during the BWC tests and we _probably_ shouldn't have to do that. We should figure that out as part of this issue as well.

[2015-10-23 19:08] lakshmithyagarajan opened #14271 "Geo Location Context suggester misses entities within the precision distance"
Hi,

We use the Completion/context suggester with geo hashes to power our autocomplete experience. ES client and server version is 1.3.4. We use 3 precisions: 4, 5 and 6. Neighbours are also enabled.

However we noticed that some entities within the precision distance are not returned by the suggester.

Eg: Precision 5 is approx. 3 miles x 3 miles.
We make a suggestion request from this lat/lng: 3

[2015-10-23 19:20] splittingfield commented on #4756
+1 as we have just hit this surprising behavior in production as well.

[2015-10-23 19:56] s1monw commented on #14268
I agree with this observation we can't and shouldn't do anything on our side to compensate for problems like these in 3rd party applications. It's just not maintainable and sacrificing security for problems like this is not an option given all the history along those lines. I really think this should be communicated to the folks that maintain these apps. @otisg do you wanna help here communicating

[2015-10-23 20:01] s1monw commented on #14266
hell yeah!!!

[2015-10-23 20:03] s1monw commented on #14252
sounds good to me too

[2015-10-23 22:09] reflection opened #14273 "Groovy script in aggregation not working in 2.0"
Here's the aggregation expressed in elasticsearch-dsl-py (which works fine in 1.x):
[code]
In 2.0 we get this error:
[code]
If we can no longer use groovy.time.TimeCategory, is there an alternative way to get hour buckets coalesced across multiple days from timestamps?  Thanks in advance!

[2015-10-23 22:27] pickypg commented on #14273
Can you check the log of the node for the cause of the `Could not initialize class org.codehaus.groovy.vmplugin.v7.IndyInterface` error? That's not the root error, rather something else failed to let that happen.

[2015-10-23 22:38] reflection commented on #14273
This is the full error from a recent run: https://gist.github.com/reflection/a62d981f9f1e499e7c8e

[2015-10-23 22:53] Rylon commented on #14254
Yeah, that makes sense. I just thought it was worth raising so that the docs are consistent.

[2015-10-23 23:59] rmuir commented on #14268
There is already a bug report for it: https://bugs.openjdk.java.net/browse/JDK-8014008

[2015-10-24 01:12] pickypg commented on #14273
Hi @reflection, can you try to find the original run of the script? Once that kind of error happens, it repeats? _If_ you can restart the node, then run it to find the first occurrence (if it's difficult without restarting), then that would be good.

[2015-10-24 02:53] rmuir commented on #14273
I think its a legit bug: see http://www.groovy-lang.org/indy.html

Even though we have not enabled indy (https://github.com/elastic/elasticsearch/pull/8201), we ship an indy jar in 2.0, hence it still will be used for core groovy classes.

To fix this for 2.0, we'd need to either backport that change completely, or at least backport policy file changes from that PR. And of course a test that is li

[2015-10-24 04:06] #13592 closed

[2015-10-24 04:49] yaccob commented on #14267
I think that the **sorting criteria needs to be evident** to enable sorting the resulting buckets. I'm trying to demonstrate this with a practical use case.

## Simple Use Case

Below you can see a use case that demonstrates why awareness of the sorting criteria may be important.
In this use case the user wants to see an aggregated view of his transactions per account and the **chronological balan

[2015-10-24 08:34] clintongormley commented on #14271
Hi @lakshmithyagarajan

Could you give us some concrete data points, ie some docs to index, and the completion requests that aren't working correctly?

thanks

[2015-10-24 08:43] clintongormley commented on #14254
@Rylon Agreed - I just moved the issue to the right repository

[2015-10-24 08:47] clintongormley commented on #14273
Would a workaround be to delete the indy jar for now?

[2015-10-24 11:47] Rylon commented on #14254
Thanks! :)

[2015-10-24 12:38] rmuir commented on #14273
no clue. first things first, we need a failing unit test.

[2015-10-24 12:41] rmuir commented on #14273
i also don't think we should encourage users to manually mess with jars like that. we should just fix the bug....

[2015-10-24 15:56] pickypg commented on #14273
Yeah, that's why I was trying to find the core error. Curious if it's a security manager error that trips up the `IndyInterface` (as we found with #8201) or if it's something else.

[2015-10-24 16:35] rmuir commented on #14273
I'm sure its probably that. You probably get NoClassDefFound because there was an earlier security exception before when trying to do the static init, as the indy stuff will not work.

So I think we just need to have a test that uses standard groovy function to ensure invokeDynamic is working.

[2015-10-24 17:19] pickypg commented on #14273
I just tried this in a script field in 2.0 RC1 and it did not fail:

[code]

This generated the `ExceptionInInitializerError`:

[code]

Core caused by:

[code]

[2015-10-24 17:21] pickypg commented on #14273
Related to https://github.com/apache/incubator-groovy/pull/119

[2015-10-24 17:27] rmuir commented on #14273
To me the safest option for a 2.0.x fix would be:
* add test to GroovySecurityIT
* backport https://github.com/elastic/elasticsearch/pull/8201 in its entirety but just change default to false. it can be enabled in 2.1

[2015-10-24 22:51] yaccob commented on #14267
+1

[2015-10-25 15:14] HonzaKral commented on #14267
The idea is to use something like a (date) histogram with another nested aggregation (let's say `terms` with limit of 1 or `avg`) and then essentially grouping date intervals (days, months, minutes, ...) together based on continuous values of the inner aggregations (== days where XYZ is the most popular brand, hours when we are selling opposed to byuing, ....).

The problem is that people might be

[2015-10-25 16:31] bleskes commented on #14115
@s1monw see #14276

[2015-10-25 22:13] abierbaum commented on #10005
:+1: for solving this.  It is causing major issues for us now in our logging infrastructure.

[2015-10-26 05:16] martijnvg commented on #14218
@clintongormley @jpountz the index time check is insufficient. We only check if a routing value has been specified. When the parent id is specified at index we also set the routing value, so that passes the check. If no parent id is specified we fail, but if only a routing value is specified (like was reported in the forum) then we don't fail while we should.

[2015-10-26 05:25] martijnvg commented on #6340
This has been fixed some time ago, I think I just forgot to close this issue:
https://github.com/elastic/elasticsearch/commit/7cc2bc8a145456297e7e33a2c22f5ea4b778e04e

If `now` is used in range queries we resolve that at lucene query rewrite time. In case of the percolator that happens at percolate time and the current time should therefor not be stale any more.

[2015-10-26 05:25] #6340 closed

[2015-10-26 05:34] martijnvg commented on #8155
@javanna yes, the issue can be closed. Looking up field mappings and other things that are type specific  happens when we build the lucene query and at that time the type is already known, because the query has already been parsed on the coordination node.

[2015-10-26 05:34] #8155 closed

[2015-10-26 05:35] martijnvg commented on #8154
Can be closed as it is no longer needed for the same reason as in: https://github.com/elastic/elasticsearch/issues/8155#issuecomment-151028678

[2015-10-26 05:35] #8154 closed

[2015-10-26 05:42] martijnvg commented on #14229
@clintongormley Yes, we run a small search for inner hits (local on the shard during the fetch phase) for each hit we return to include the inner hits per hit. This is okay if only 10 hits (default) are returned, but if the `size` gets increased more time needs to be spent on executing this mini searches to gather the top inner hits per hit.

This can be improved. In theory we can execute one sear

[2015-10-26 05:46] martijnvg commented on #2917
@jaimemarijke No, there is no effort being done yet to get this feature in.

[2015-10-26 08:27] #14057 closed

[2015-10-26 09:10] dadoonet opened #14277 "Add timeout settings (default to 5 minutes)"
When using azure repository, we should set default timeout to 5 minutes. Retry default is 3 times.

[code]

See original commit: https://github.com/craigwi/elasticsearch-cloud-azure/commit/69261347ce69d1a3a05e0d672aa962bbe0904811

[2015-10-26 10:42] clintongormley commented on #10005
@pfennema @abierbaum What problems are you having that can't be solved with the two-field solution?

[2015-10-26 11:46] pfennema commented on #10005
What we like to have is that we have a timescale in the display (Kibana) where we can zoom in on the individual measurements which have a timestamp with nanosecond resolution. A record in our case has multiple fields (NICTimestamp, TransactionTimestamp, etc) which we like to correlate with each other on an individual basis hence not aggregated. We need to see where spikes occur to optimize our env

[2015-10-26 12:04] s1monw commented on #14273
@reflection can you tell me what what JVM you are using?

[2015-10-26 12:27] abierbaum commented on #10005
@clintongormley Our use case is using ELK to analyze logs from the backend processes in our application.  The place we noticed it was postgresql logs.  With the current ELK code base, even though the logs coming from the database server have the commands in order, once they end up elastic search and are visualized in kibana the order of items happening on the same millisecond are lost.  We can add

[2015-10-26 14:10] s1monw commented on #14273
this is fixed by #14283 for `2.0.1` the first time the class is accessed we get a security excepiton and all subsequent tries get a shadowing `NoClassDefFoundError`.

[2015-10-26 14:10] #14273 closed

[2015-10-26 17:27] eskibars commented on #13084
I see "+=", what about ".="?

[2015-10-26 17:33] rjernst commented on #14148
I think we should add `http.type` back (as a parallel to `transport.type`), and remove `setHttpServerTransport`. I'll try to get that done, not sure when I will get to it though.

[2015-10-26 17:40] #13919 closed

[2015-10-26 17:47] jdconrad commented on #13084
@eskibars To be clear is .= for string concatenation?  If so, we have decided to use ..= as the (.) operator may end up overloaded with an alternative shortcut for reading through maps/lists at a later time and will be needed for that.  We do not want to use += because that creates some possible ambiguities of it's own and is a math operator.  (While this works in Java, some of the assumptions tha

[2015-10-26 17:57] untergeek opened #14287 "bin/plugin tells you to use --list when plugin not found"
[code]

But when you try to use `bin/plugin --list`:

[code]

It should show `Run plugin list to get list of installed plugins`, or something of that nature.

[2015-10-26 18:05] untergeek commented on #14287
Beat me by 60 seconds :smile:

[2015-10-26 18:08] #14287 closed

[2015-10-26 18:42] rjernst commented on #14256
@konradkonrad Can you try using 2 templates, where the first has a higher priority, and creates the parent mapping? I have seen issues with precedence before due to serialization/deserialization. The mappings are added one by one, even when multiple are passed at creation time, and unfortunately it isn't always in the same order they are originally parsed in.

[2015-10-26 18:58] pickypg opened #14289 "Disk Based Allocation by Node/Node Tag"
Currently today, we have disk based allocation that supports a cluster wide setting. This works great for most deployments where heterogeneous hardware is common, but it often fails when you have a hot/cold deployment with vastly different hardware for the two segments.

For example, if you have hot nodes with 3 TB of super fast storage and cold nodes with 20 TB of slower storage, then you may wan

[2015-10-26 19:20] stephencelis commented on #11432
Any chance we can at the very least get an error when this is attempted? Spent more time than I would have liked trying to set up an arbitrary tree data structure, confused when I kept getting empty results for queries that should have worked.

[2015-10-26 19:30] ruria commented on #14148
maybe I can help with this.

Sent with AquaMail for Android
http://www.aqua-mail.com

On October 26, 2015 6:35:11 PM Ryan Ernst <notifications@github.com> wrote:

[2015-10-26 20:16] s1monw opened #14290 "simple lang-groovy test fails presumably due to classloader issues"
this is a 2.2 upwards issue which is likely due to classloader problems. The issue occurs upon cherry-picking a test like this `git cherry-pick d752d69ad1a5d1c5eaec1c3291b97b17360bb1e3`  which basically adds a simple test using a closure:

[code]

it causes this exception:

[code]

for better readability also apply this:

[code]

[2015-10-26 20:28] clexmond commented on #14229
@martijnvg It sounds like moving in that direction might also allow us to limit the total number of inner hits returned rather than just on a per hit basis. Is that correct?

[2015-10-26 20:50] eskibars commented on #13084
@jdconrad yes, I was referring to string concatenation

[2015-10-26 21:20] ywelsch opened #14292 "Parallel snapshot deletes fail"
Executing parallel snapshot deletes on a repository can lead to failures.

Flaky test:

[code]

Output:

[code]

[2015-10-27 01:11] ppf2 opened #14294 "Remove threadpool type cached setting from documentation?"
We don't recommend changing the size of the thread pools, and certainly not recommend setting them to unbounded.  Seems like documenting the configuration to modify our thread pools to [cached](https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-threadpool.html#_literal_cache_literal) without sufficient warnings will do more harm than good.

[2015-10-27 01:16] JamesBromberger commented on #14103
Would be useful to also permit admins to set an "x-amz-acl" header of "bucket-owner-full-control" to enable sending snapshots to an S3 bucket owned by another account for escrow/compliance purposes and letting that separate account own the objects deposited there.

http://docs.aws.amazon.com/AmazonS3/latest/dev/example-walkthroughs-managing-access-example3.html

[2015-10-27 03:35] martijnvg commented on #14229
@clexmond I think that would require an additional setting too in the query dsl? The number of inner hits being returned is based on: `size *  number_of_inner_hits_definition * size_in_inner_hits`. A global limit can be added and would just stop adding inner hits to search hits in the response if more than the specified time is time or more then the specified inner hits have been added.

But the i

[2015-10-27 07:16] xuanyuanking opened #14298 "Use NFS as FsRepository for snapshot meet java.nio.file.NoSuchFileException"
My ES version is 1.5.2.
When I use NFS as FsRepo for snapshot, while different shards of same index in different host and username(or even same username but in diffrent uid\gid),
I got the partial error:

java.nio.file.NoSuchFileException below in ES log:

Should we need a write permission for other users to free user set the NFS user id mapping or make sure both client and server has same usernam

[2015-10-27 07:33] dadoonet commented on #14298
Unless you set the repository to read only, then you need a permission to access it in write mode on every node.

[2015-10-27 07:33] #14298 closed

[2015-10-27 07:45] xuanyuanking commented on #14298
default permission of ${index_name}/${shard_num} is 775, should we add a attr param in FsBlobStore createDirectories?

[2015-10-27 07:54] yiguolei opened #14299 "usage quota on every data path"
Currently, cluster.routing.allocation.disk.watermark.low and cluster.routing.allocation.disk.watermark.high , these two parameters control the disk allocation. But both of them calculate the usage and free space of the whole disk not the specified path. It works only when there is only one elasticsearch instance running on the disk and it will not work when there are two or more instances running

[2015-10-27 08:57] dadoonet commented on #14298
I don't think so. May be we should document that in https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-snapshots.html?

@imotov WDYT?

[2015-10-27 09:22] jpountz opened #14300 "function_score's min_score option does not play well with caching"
`function_score` has a `min_score` option that allows to reject documents whose score is not above a given threshold. The problem is that the produced scores depend on the query norm/boost so scores might be different depending on where the `function_score` query is in the query tree, which makes it impossible to cache.

Here are the options I can think of:
 - only allow to use `min_score` in comb

[2015-10-27 10:59] pjcard opened #14301 "Field stats query"
Currently, I use a pattern based indices in order to segregate my data. I use one per day per data set, and when searching supply the set of indices I want either as an index query (as a filter) or on the URL. This can be a little unwieldy with large non-month-aligned ranges due to the simple nature of the pattern matching available.

The fields API would allow me to index based on something other

[2015-10-27 13:21] montyhall opened #14305 "Java API: aggregations are not supported with search_type=scan"
Hi

I am getting an

`elasticsearchIllegalArgumentException aggregations are not supported with search_type=scan`

error when using the java API.

[code]
I understand this is a feature that is coming in release 2. In the meantime, is there an interim solution someone can recommend? The number of docs I need to process are in order of 50MM and growing at rate of 1MM/day. The solution I can think of

[2015-10-27 13:54] Eightyplus opened #14307 "Stopwords are ignored in aggregation"
Hi,
I have setup my index with the following setting and afterwards aggreations on the index. But the settings seems to be ignored, is that how it should be?

[code]

[2015-10-27 14:15] #13326 closed

[2015-10-27 14:23] javanna opened #14308 "Remove query_binary, filter_binary & aggs_binary"
We support `query_binary`, `filter_binary` and `aggs_binary` so a query, filter (post_filter actually) or aggregations can be provided in binary base64 format as part of the search request (plus other apis that support those sections).

This feature is undocumented and untested, at the point that we partially ended up removing it as part of the search refactoring (we currently don't parse query_bi

[2015-10-27 14:31] dakrone commented on #14308
+1 to remove (I also haven't ever seen it and this is first time I've ever heard of it as well)

[2015-10-27 14:40] jpountz commented on #14308
+1

[2015-10-27 15:00] Eightyplus commented on #14307
Added with dynamic templates

[code]

[2015-10-27 15:14] javanna commented on #7295
Fixed via #11258 . Closing

[2015-10-27 15:14] #7295 closed

[2015-10-27 15:39] s1monw opened #14310 "Registering Streams for SignificantTerms and MovAvg is broken for plugins"
this is a spin-off from #14306 Registering streams requires modifying a static map which is broken for instance if we start/stop a node that loads a plugin that tries to register the same stream then multiple times. We really need to clean up this API or close it down to build-in only.

[2015-10-27 16:01] ywelsch commented on #6141
This is fixed now by #14259

[2015-10-27 16:01] #6141 closed

[2015-10-27 16:07] raphaele81 opened #14312 "Out of memory error with elasticsearch-2.0.0-rc1 on windows server 2012"
I'm currently evaluating ELK for my company. I played successfully with logstash-2.0.0-betaX and elasticsearch-2.0.0-betaX and upgraded to elasticsearch-2.0.0-rc1 a few days ago.

Since then, I get a "java.lang.OutOfMemoryError: GC overhead limit exceeded" after a few minutes of elasticsearch running.

Here is my setup:
* ELK running on windows server 2012 with 8GB Ram
* logstash-2.0.0-beta3 index

[2015-10-27 16:14] rmuir commented on #14312
Hi, thanks for testing. this is an issue with that RC with filterreaders not evicting properly, fixed by:
* https://github.com/elastic/elasticsearch/pull/14070
* https://github.com/elastic/elasticsearch/pull/14071
* https://github.com/elastic/elasticsearch/pull/14084

[2015-10-27 16:14] #14312 closed

[2015-10-27 16:31] smayzak opened #14313 "Upgrade to 2.0 on Found from 1.7.3 fails"
I tried to upgrade from 1.7.3 yesterday with Alex help and there was a problem even though my cluster passed the migration assistant with all greens except for a not red issue with a boolean.

Here is the exception.

 [2015-10-26 22:40:44,272][ERROR][bootstrap                ] Guice Exception: java.lang.IllegalStateException: unable to upgrade the mappings for the index [sa_tps_reports], reason: [

[2015-10-27 21:17] msimos opened #14319 "Shards out of sync when setting refresh_interval & number_of_replicas at the same time"
If you create an index number_of_replicas to 0 and refresh_interval to -1 (using one API call) & add some documents. Then set number_number_of_replicas to 1 and refresh_interval to "1s" and add some more documents. The primary and replicas are out of sync, it looks like the replica doesn't have the new documents. See this gist for a repro:

https://gist.github.com/msimos/869292265208852fbee4

If y

[2015-10-27 21:58] ane18s opened #14322 "Strange limits when using Java API (array of objects) (SOLVED)"
It seems that there is some kind of limit in ES when creating an array of objects.

I created a small example which you can easily try. Just don't forget to set the correct cluster name.

import org.elasticsearch.ElasticsearchException;
import org.elasticsearch.action.admin.indices.create.CreateIndexRequest;
import org.elasticsearch.action.admin.indices.delete.DeleteIndexRequest;
import org.elasti

[2015-10-27 23:27] ewgRa opened #14323 "Server not started on Ubuntu after upgrade to 2.0.0-rc1"
Exception

[code]

After create directory and add path.repo: ["/tmp/backups"] to elasticsearch.yml it start working, but in logs have similar messages about another directories: /tmp/test_repository, /tmp/test_register

Also interesting in logs:

[2015-10-28 00:24:47,331][INFO ][cluster.routing.allocation.decider] [Paige Guthrie] low disk watermark [85%] exceeded on [8qeuTUZdQ0SuYLZTspuvjw][Paige

[2015-10-27 23:31] talevy opened #14324 "[Ingest] Add support for array/list access in path"
The ingest plugin's [Data](https://github.com/elastic/elasticsearch/blob/feature/ingest/plugins/ingest/src/main/java/org/elasticsearch/ingest/Data.java#L46-L53) class currently supports retrieval of a value using a path to a field specified in dot-notation (e.g. `foo.bar`). For more complex insertions, updates, and retrievals of nested fields within the document, it would be useful to be able to a

[2015-10-28 00:32] ppf2 opened #14325 "Circuit breaker to manage native script plugin memory usage"
Not sure if this goes into #11070 or not.
Users can pretty do anything in native script plugins (for various reasons), eg. building large arraylists, using java's regex pattern matcher, etc.. that can end up using a ton of memory.  It will be difficult for the request circuit breaker to estimate the amount of memory the native plugin will use and prevent it from running.  So it can be useful to pr

[2015-10-28 01:43] dadoonet commented on #14323
I guess you upgraded from a version < 1.6?

See https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking-changes-1.6.html

[2015-10-28 01:43] #14323 closed

[2015-10-28 01:44] dadoonet commented on #14323
Add all your repo dir to path.repo

[2015-10-28 02:35] #9904 closed

[2015-10-28 03:34] rmuir opened #14328 "elasticsearch depends on spatial test jar"
[code]

and make a .zip distribution and you see this tests jar in lib/

it should not be there...

[2015-10-28 05:05] xuzha commented on #13363
Looks like no need to do any change, closing this issue.

[2015-10-28 05:05] #13363 closed

[2015-10-28 05:54] piyushGoyal2 opened #14330 "SearchContextMissingException: No search context found | Node Shutting down"
I know this issue has been raised lot many times. Referring  to issue #9726 where in @clintongormley mentioned that if one of the shard takes a longer time to respond, the search context gets expired on other shards which results in this exception. The reason for slower shard could be gc running on that particular node.

Firstly ours is not a scan and scroll request and this is a normal search req

[2015-10-28 08:20] s1monw commented on #14330
we are talking about 5 minutes here I don't think this is what's happening here....

does the exception happen when the node is shutting down? Why is your node shutting down at all? Which version are you using and are you using the shutdown API anywhere? Is it possible that you are shutting down the cluster via the _shutdown API due to some developer using it locally?

[2015-10-28 08:44] Eightyplus commented on #14307
I tried adding a stopword filter to my "aggs" query and it that didn't work either.

A way to obtain what I want, but certainly not optimal:
("content" has to be replace with the field I'm doing aggs on)

´´´JSON
       "query": {
			"filtered": {
				"query": {
					"match_all": {}
				},
				"filter": {
					"bool": {
						"must_not": [
							{ "term": { "content": "a"}},
							{ "term": { "c

[2015-10-28 08:48] s1monw commented on #14328
I think this is a lucene issue see the difference between 5.x and 5.3
`http://svn.apache.org/repos/asf/lucene/dev/branches/branch_5x/lucene/spatial/ivy.xml` vs. `http://svn.apache.org/repos/asf/lucene/dev/branches/lucene_solr_5_3/lucene/spatial/ivy.xml` I will open a lucene issue I think it's caused by this revision: http://svn.apache.org/viewvc?view=revision&revision=1704760 / https://issues.apac

[2015-10-28 08:51] s1monw commented on #14328
I opened this https://issues.apache.org/jira/browse/LUCENE-6860

[2015-10-28 09:19] omriiluz commented on #12880
+1

[2015-10-28 09:24] piyushGoyal2 commented on #14330
If it's not the above stated issue, then what could be the cause of the Exception. My Java client asks for lot of documents from a single query. And this query is fired after approximately 10 seconds each with different parameters. All I can see in my logs are these exceptions for different ID's that ES is trying to locate at the very same instance of time.
For the other questions of yours
does th

[2015-10-28 09:29] s1monw commented on #14330
I strongly recommend to upgrade there are millions of bugs fixed since they. Please report back if the issue still exists on the latest release

[2015-10-28 09:35] piyushGoyal2 commented on #14330
We are waiting for the stable release of 2.0. I guess it would be better for me to reopen the defect if it still persist on the newer version of ES. Thanks for the help @s1monw meanwhile . :)

[2015-10-28 10:18] #8862 closed

[2015-10-28 13:06] mbonaci commented on #2661
Very nice, this is really overdue.
Have you thought about returning only the failed docs in the response? Or even just ordinal numbers of failed docs. I assume people often want to further treat unsuccessful docs in some way, e.g. retry after modifications, store unstructured, ...

Also, instead of returning `200` or `201`, there are perhaps more suitable response codes in this situation, which wo

[2015-10-28 14:14] jpountz opened #14335 "Optimize query parsing based on how a query will be used"
Today if you ask the `terms` query parser to generate a query, it will create a `TermsQuery`. However a `DocValuesTermsQuery` would match exactly the same documents, and would perform worse when used for iterating over matches, but better when used to check whether some documents match. We could make the parser a bit smarter and sometimes generate a `DocValuesTermsQuery` instead of a `TermsQuery`.

[2015-10-28 14:21] jasontedor commented on #14294
I think that we should go further than merely removing it from the documentation, but actually forbidding any thread pool other than the generic thread pool of being of type "cached". The generic thread pool should remain as "cached" because operations that are submitted to this thread pool can not block nor be rejected; we remain very careful about which operations are submitted to this thread po

[2015-10-28 14:23] rmuir commented on #14335
I'm concerned about this optimization because i think it can easily open a can of worms where things start to look like they used to.

I also think it only really applies for more rare / abuse type cases: its *extraordinarily* risky and in the worst case acts like a DBMS full table scan.

So, I don't think we should do it.

[2015-10-28 14:25] cbuescher commented on #14322
Hi @ane18s,
sorry but I cannot reproduce this. Assuming you use ES 1.7, I can reliably create large arrays of objects with large fields (just tried it with 10000 array entries, 10000 chars), although Sense for me freezes on such large documents, but curl works just fine. I think there are two problems with the test code:
* just calling `execute()` on the IndexRequestBuilder will return a Future, b

[2015-10-28 14:31] bleskes commented on #14294
I wonder if we should allow to configure the cache types at all these days. Might be the simplest to just remove the option and fix the defaults we have now.

On 28 okt. 2015 3:22 PM +0100, Jason Tedor<notifications@github.com>, wrote:

[2015-10-28 14:34] briner opened #14337 "unable to start elasticsearch on btrfs subvolume"
Hello,

When I start elasticsearch, the logs give:
[code]

It says that it cannot find the mountpoint. I was wondering if this was not related to the fact that:
 * / is mounted as a btrfs
 * /srv/elasticsarch is a subvolume of /
[code]
[code]

[2015-10-28 14:38] jasontedor commented on #14294
I've added the [discuss label](https://github.com/elastic/elasticsearch/labels/discuss) to open up if we want to take this further than merely banning the `cached` thread pool type and actually banning changing any thread pool type.

[2015-10-28 16:01] nihilson opened #14338 "marking and sending shard failed due to [failed recovery]"
Getting the following exception after startup in a 2 node cluster using version elasticsearch-1.7.2. Can someone help me understand what these messages really mean and how to resolve it ?

    [10/28/15 11:31:57:364 EDT] 00000056 org.elasticsearch.indices.cluster                            W [NODE2] [[xtttenantmaster][0]] marking and sending shard failed due to [failed recovery]
    org.elasticsea

[2015-10-28 16:50] pickypg opened #14340 "Voting Only Master Node"
The current ideal setup for master nodes is to have 3 master nodes, thus giving high availability (HA) with a quorum of 2 master nodes at any given time.

However, in some cloud regions (and more frequently in internal data centers), this creates a problem because there may only be two available zones to place your nodes. In these scenarios, you do not want to give up HA just to maintain 3 master

[2015-10-28 17:05] bleskes commented on #14340
This is definitely on our horizon. We need to do some infra work before we get there though... on it :)

[2015-10-28 17:05] jmaynier opened #14341 "Create custom datatype in mappings"
I haven't found a way to create a custom datatype to reuse in mapping definition.

I would like to have a way to define custom_datatype in the mapping like that :

[code]

For now I have to duplicate for every field :

[code]

It could also be used in dynamic mappings:

[code]

For the dynamic_templates part, the value set in the mapping should override equivalent field defined in the custom datat

[2015-10-28 17:48] rjernst commented on #14341
There is indeed a way to achieve this. What you want is to create a plugin that registers your custom data type. Currently this means creating a plugin that registers your custom field type.

See an example from the tests [here](https://github.com/elastic/elasticsearch/blob/148265bd164cd5a614cd020fb480d5974f523d81/core/src/test/java/org/elasticsearch/index/mapper/externalvalues/ExternalMapperPlugi

[2015-10-28 17:48] #14341 closed

[2015-10-28 17:56] jmaynier commented on #14341
Using the plugin to create a completely different datatype like geopoint or ip, for which you need to create custom method to handle range search, etc. make sense.
But I don't thing having to create a plugin each time you want to reuse a set of definition for a type is the way to go.

[2015-10-28 18:03] #13610 closed

[2015-10-28 18:06] javanna commented on #14308
I did some more digging and I think this binary thing is only used internally for situations where we don't parse on the coordinating node and the request source is streamed as a bytes array. This is all going away with the search refactoring so we can safely remove. The query and filter part is already almost obsolete (last usage is in validate query but I am working on it), the aggs_binary will

[2015-10-28 19:38] allthedrones opened #14343 "High warmer time and threads reported when no warmers exist"
This is happening on an elasticsearch cluster with a relatively large number of indices (~2500), where **zero** indices have warmers defined. I most recently noticed that on a node that had only been running for 4 hours, its node stats reported 3.8h of processing time spent on warmers. Is there some other operation other than true index warmers that are being reported in this category? On this sam

[2015-10-28 19:59] bigterminal opened #14344 "+ in delimiter not working"
Trying to index and find the token "c++" in text.
In settings I've tried escaping the +, using unicode, and doing a double ++. Its still returning everything that has a "C" in it as a matching results, as if the + was not considered an alphanum.

See my settings below:

    settings: {
      analysis: {
        filter: {
          symbol_filter: {
            type: "word_delimiter",
            ty

[2015-10-28 20:02] dakrone commented on #11145
@colings86 I'm curious if this has changed any with the new query refactoring work? Is is still something that could only happen in the `RestSearchAction`?

[2015-10-28 20:25] dakrone commented on #14046
If anyone is curious about this, I'm working on a branch with it here: https://github.com/elastic/elasticsearch/compare/master...dakrone:bucket-circuit-breaker

[2015-10-28 20:38] dakrone commented on #14325
@ppf2 I'm not sure this is feasible right now, with the way the circuit breakers work there is a requirement that requests for additional memory are funneled through a single point (where we can track usage and freeing), we already have this for fielddata and requests (ie BigArrays), but for native scripts, they are allocating memory directly on the JVM heap, so I don't think there is a hook we ca

[2015-10-28 20:46] amontalenti commented on #9156
+1

[2015-10-28 21:46] andrewvc opened #14346 "XContent Builder doesn't check for null keys in maps. It should raise an exception"
There should be a null check in https://github.com/elastic/elasticsearch/blob/148265bd164cd5a614cd020fb480d5974f523d81/core/src/main/java/org/elasticsearch/common/xcontent/XContentBuilder.java#L1237

It should probably raise a unique exception in this event. We encountered this in Logstash with some users running custom plugins.

Jackson also does not perform a null check, leading to a confusing N

[2015-10-28 21:57] jasontedor commented on #14343
This is likely from the top warmer. If you want to verify, you enable trace logging for `index.warmer` and look for `top warming` in the logs.

Have you verified that this is harming your performance in any meaningful way? If you have, you can disable this by setting `index.warmer.enabled` to `false`.You can set this cluster wide, or on an individual index (it sounds like you want this cluster wid

[2015-10-28 21:57] #14343 closed

[2015-10-28 22:27] ane18s commented on #14322
THANK YOU!!! The "execute().actionGet()" solved the problem. Again, THANK YOU!

[2015-10-28 22:27] #14322 closed

[2015-10-28 23:16] projx opened #14347 "Elasticsearch 2.0 fails to start after install Marvel 2.0"
Hi

I've got an odd issue, I'm running a vanilla install on Elasticsearch 2.0 pulled from the deb repository, it start after the initial installation, but then I installed Marvel and now seeing the following

[2015-10-28 23:11:13,025][INFO ][bootstrap                ] es.default.config is no longer supported. elasticsearch.yml must be placed in the config directory and cannot be renamed.

The only

[2015-10-29 00:06] jpountz commented on #14294
+1 to not allow to configure threadpool types at all

[2015-10-29 01:48] robinst opened #14348 "jar hell in test classpath when running with JDK 1.8.0_66 on OS X (ant-javafx.jar, packager.jar)"
Trying to run a test that extends `ESIntegTestCase` with Elasticsearch 2.0.0, getting this:

[code]

Not sure I can do much about that.

[2015-10-29 01:53] rmuir commented on #14348
You have to fix your IDE config: https://github.com/elastic/elasticsearch/pull/13465

[2015-10-29 01:53] #14348 closed

[2015-10-29 01:55] speedplane commented on #9825
It would be fantastic if the `breadth_first` / `depth_first` choice could be handled on the ES side.

Short of that, it would be nice to have some insight into whether one should be using `breadth_first` instead of `depth_first`. Right now, it's hard to know which one you should use other than testing them both and seeing which is faster. For example, if a counter returned how many temporary bucke

[2015-10-29 03:38] zhaozhiming opened #14349 "Marvel 2.0 install error, FileNotFound"
Hi,
I follow the [Marvel guide page](https://www.elastic.co/downloads/marvel) to install Marvel 2.0. when I run the command: `bin/plugin install marvel-agent`, I got the error as follow:

[code]

Please help. Thanks.

[2015-10-29 04:36] johtani commented on #14349
Hi,
We didn't release Marvel for ES 2.0.0-rc1. You should upgrade elasticsearch 2.0.0.

[2015-10-29 04:36] #14349 closed

[2015-10-29 05:51] jdkcn commented on #4978
the Elasticsearch 2.0 has the same problem.

but the server started up.

[code]

[2015-10-29 07:02] robinst commented on #14348
Thanks. I removed "ant-javafx.jar" from the configured JRE classpath, works now.

By the way, I wouldn't be surprised if you guys got more bug reports about this, because that's really weird (and the first time a library forced me to do that).

[2015-10-29 08:43] tlrx commented on #14347
I can't reproduce the issue on Ubuntu 14.04, can you please tell us which OS you use?

Also, this message indicates that a deprecated setting `es.default.config` has been configured but elasticsearch 2.0 does not use it anymore and will refuse to start. Maybe a `grep` on your configuration files (/etc/elasticsearch/elasticsearch.yml /etc/default/elasticsearch)may help to locate where this setting

[2015-10-29 09:03] s1monw commented on #14294
+1

[2015-10-29 09:32] raphz opened #14350 "Bad git tag for version 2.0.0"
it seems that the git tag for the v2.0.0 release is bad. After a git clone and checkout, the pom.xml indicates 2.0.0-SNAPSHOT as you can see in https://github.com/elastic/elasticsearch/blob/v2.0.0/pom.xml

Is the root directory has changed in this version ? This is bad because I have a build system using directly the sources from github.

[2015-10-29 10:29] vandinhchuong commented on #14347
Hi, I have also the same issue, I use Ubuntu 15.04 and elasticsearch 2.0.
Another question: I don't see node.master & node.data in config/elasticsearch.yml, Can I use them in elasticsearch 2.0?

[2015-10-29 10:43] jasontedor commented on #4978
@jdkcn This is unexpected given that the underlying issue appears to be due to the Sigar library which has been removed in Elasticsearch 2.0. Do you still have Sigar on the Elasticsearch 2.0 classpath?

[2015-10-29 10:54] bleskes opened #14352 "Rename the `allow_primary` param of the _reroute API"
The allocate command of the [_reroute API](https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-reroute.html?q=rero#cluster-reroute) takes an `allow_primary` parameter, which allows to force assign a primary shard. Using this parameter is dangerous as it will always result in data loss and the new shard will be created empty. This is well documented, but I still see people use i

[2015-10-29 11:01] #14115 closed

[2015-10-29 11:17] spinscale commented on #4978
This has nothing to do with sigar. It is just the init script trying to access a file in the proc filesystem... And falling due to not being able to access it
On Oct 29, 2015 11:44, Jason Tedor <notifications@github.com> wrote:
the Elasticsearch 2.0 has the same problem.

@jdkcn This is unexpected given that the underlying issue appears to be due to the Sigar library which has been removed in Elas

[2015-10-29 11:27] rborer commented on #14313
I had the same issue, on a single node with kibana 4.1.2.

I found the following exception in ES logs:

[code]

[2015-10-29 12:22] nik9000 commented on #14348
Yeah, I suspect we will. Jarhell checks are too useful to give up though.
They detect all kinds of "fun" ways we've seen things broken.

I could see some extra help on these checks because they are much more
likely to be hit by new contributors, exactly the people who we want to
encourage and the people who are going to have the hardest time figuring
out the issue on their own.
On Oct 29, 2015 3:0

[2015-10-29 12:25] clintongormley commented on #11844
Hi @orweinberger

As of 2.0, index templates can now only be specified via the API, not in config files.

[2015-10-29 12:25] #11844 closed

[2015-10-29 14:29] allthedrones commented on #14343
Thanks for the clarification. We've noticed some *correlation* between high warmer activity and very high (~90%) heap, with virtually all of the heap usage promoted up to the "old" pool. Obviously this doesn't necessarily imply a causal link. Is there any documentation on what the top warmer does? That might lead us to some *other* behavior or activity which might be a more likely culprit in the h

[2015-10-29 14:32] grepwood commented on #4978
Since this is exclusively a problem with OpenVZ, shouldn't Elasticsearch not attempt to access that file if OpenVZ is detected?

[2015-10-29 14:40] cbuescher commented on #14344
Hi @bigterminal,
Filters, like the `word_delimiter` in your example, are working on a stream of tokens from the tokenizer. Since you are using the standard tokenizer, this will already remove most punctuation, including the `+` character. The whitespace tokenizer should help. Please ask questions about usage in the forums at https://discuss.elastic.co/ in the future.

[2015-10-29 14:40] #14344 closed

[2015-10-29 14:44] athompson-r7 commented on #6732
+1

[2015-10-29 14:52] rmuir commented on #14348
Everyone loves intellij, but nobody submits bugs to them for their clearly broken configuration.

So I think its good if it confuses people, at some point it will encourage someone to fix the damn thing. I don't care about intellij, so it will not be me :)

[2015-10-29 15:24] ningjun commented on #14224
I like the idea of having several bulk thread pools. This way user can set a dedicated thread pool to handle high priority bulk request.
This is a very useful feature and I think many customers would like to have this feature.

[2015-10-29 15:53] johtani commented on #8878
#14355 and #8961 are related to this

[2015-10-29 16:51] jariza commented on #14267
+1

[2015-10-29 16:55] rvrignaud opened #14357 "Elasticsearch 2.0.0 don't start if marvel-agent is set in plugin.mandatory"
Running elasticsearch 2.0.0 on ubuntu 14.04, marvel-agent is installed:
[code]
However if I set marvel-agent in the list of mandatory plugins in elasticsearch.yml I get the following Exception:
[code]

If I don't set marvel-agent in plugin.mandatory, elasticsearch start correctly and list marvel-agent as installed.

[2015-10-29 17:22] futurekill opened #14359 "Can't start ES after upgrading from 1.7.1 to 2.0"
I'm getting the following in our test cluster when I try to start up:

`Exception in thread "main" java.lang.IllegalStateException: unable to upgrade the mappings for the index [dev-note-index], reason: [Field name [listing.requestAmount] cannot contain '.']`

Any ideas?

[2015-10-29 17:40] futurekill commented on #14359
I upgraded using the ES yum repo...here's what's installed now:

Name        : elasticsearch
Version     : 2.0.0
Release     : 1
Architecture: noarch
Install Date: Thu 29 Oct 2015 05:08:13 PM UTC
Group       : Application/Internet
Size        : 31905528
License     : (c) 2009
Signature   : RSA/SHA1, Thu 22 Oct 2015 08:41:40 AM UTC, Key ID d27d666cd88e42b4
Source RPM  : elasticsearch-2.0.0-1.src.rp

[2015-10-29 18:51] clintongormley commented on #14359
It's in the breaking changes docs: https://www.elastic.co/guide/en/elasticsearch/reference/current/_mapping_changes.html#_field_names_may_not_contain_dots

We recommend using the migration plugin to detect these issues before upgrading: https://github.com/elastic/elasticsearch-migration/

[2015-10-29 18:51] #14359 closed

[2015-10-29 19:01] clintongormley commented on #14256
@rjernst that won't work either... I believe the templates are merged before trying to create the mappings, so you end up with the same mappings as if you use just one template.  The problem is that you can't specify a `parent` setting that says "I have no parent settings"

[2015-10-29 19:14] clintongormley commented on #14289
And using percentages isn't sufficient?

[2015-10-29 19:17] rmuir opened #14361 "elasticsearch integration tests are not run in gradle"
cd distribution
gradle check

does nothing... we need to get the rest tests going ASAP or the risk of breaking ES via refactorings in such a way we cannot recover is very high.

plugin integ tests are working already, i will take a look at distribution/zip and see if i can figure out how to fix it as a first step. any help is appreciated.

[2015-10-29 19:20] #14103 closed

[2015-10-29 19:20] clintongormley commented on #11432
@stephencelis In 2.0 you now get this:

    The [_parent.type] option can't point to the same type

[2015-10-29 19:30] pickypg commented on #14289
Any percentage on 3 TB versus 20 TB is going to be a massive difference in absolute terms, when generally you can get by with a smaller percentage on such large drives.

[2015-10-29 19:31] clintongormley commented on #14299
@yiguolei I don't understand why would you want to run two instances on the same disks?  You're splitting the I/O between two instances.

Also, a path doesn't have a max amount of space.  Only the disk has that.

[2015-10-29 19:31] #14299 closed

[2015-10-29 19:34] clintongormley commented on #14300
@jpountz just to give some context: imagine your query is a has_child query which is using this technique to score parents https://github.com/elastic/elasticsearch/issues/2917, you can use `min_score` to exclude parents that don't have a high enough score.

[2015-10-29 19:37] clintongormley commented on #14301
Hi @pjcard

Elasticsearch would need to perform two requests, just like the client does today.  In fact, this is what Kibana does as well.  The field stats request is very fast, so I believe that Kibana doesn't cache the results but issues a fresh call before each search request (I may be mistaken here though).

Sorry, but i don't want to further complicate the already complicated search API by ad

[2015-10-29 19:37] #14301 closed

[2015-10-29 19:38] rmuir opened #14363 "recent forbidden apis changes are lost in gradle"
Stuff like this is missing:
[code]

We should review any of these files moved around/changed in the commit and make sure we did not lose any other recent changes.

[2015-10-29 19:41] rmuir opened #14364 ".gitignore needs to be updated for gradle"
running gradle check dirties up my checkout with tons of stuff.

[2015-10-29 19:43] rmuir commented on #14364
I think we should just backport the gradle changes to all 2.x branches, whether or not they are using gradle. And the ignores used by maven need to be in master too (even though master does not use maven).

Otherwise, changing git branches is a disaster.

[2015-10-29 19:43] clintongormley commented on #14305
Aggs are not supported with scan in 2.0.  In 1.x, they were supported, but were recalculated for each subsequent request and returned incorrect values.  Aggs results are calculated over ALL hits, not just the hits that are returned in a single request.

Why are you wanting to use aggs with scanning?  I suggest you make two requests: one with size zero for the aggs, and another with scroll/scan to

[2015-10-29 19:43] #14305 closed

[2015-10-29 19:45] clintongormley commented on #14307
Hi @Eightyplus

Please join us in the forums instead: http://discuss.elastic.co/.  This issues list is for bug reports and feature requests.

[2015-10-29 19:45] #14307 closed

[2015-10-29 19:50] rmuir opened #14365 "gradle loses ALL JAR METADATA"
we have empty manifests now (e.g. unzip elasticsearch.zip and you will see the elasticsearch jar file in it has nothing).

maven populates these jars with important metadata that we verify at runtime to detect incompatibilities.

[2015-10-29 20:00] clintongormley commented on #14319
Hi @msimos

Thanks for the report and the nice clear recreation.  It is not that the shards are out of sync, but that the shard holding the first doc thinks that it doesn't need to refresh.

This is fixed in 2.0 already

[2015-10-29 20:07] nik9000 commented on #14364
++++

[2015-10-29 20:12] clintongormley commented on #14330
@piyushGoyal2 you're in luck! https://www.elastic.co/downloads/past-releases/elasticsearch-2-0-0 :)

I'm going to close this for now, but please feel free to reopen if you see the same thing in 2.0

[2015-10-29 20:12] #14330 closed

[2015-10-29 20:26] clintongormley commented on #14338
@bleskes any ideas here?

[2015-10-29 21:06] #14365 closed

[2015-10-29 21:14] jasontedor commented on #14294
I've closed #14336 in favor of #14367 which takes the original pull request further by forbidding the changing of the thread pool type for any thread pool.

[2015-10-29 21:21] anojan981 commented on #4915
+1

[2015-10-29 22:12] alexgarel commented on #4978
This is not only true for OpenVZ, this is also true for LXC or Docker, every time you have a read only access to /sys or /proc.
But in some way, this is a warning, not a show stopper.
What we need here is pedagogy. If the script can't write on /sys, just explain this could degrade performance. In the case of a container, the user knows if he sets the /sys parameter to its right value on the host.

[2015-10-29 22:56] #14363 closed

[2015-10-29 23:57] ppf2 opened #14370 "StackOverflowError when parsing deeply nested mappings"
Have a scenario where ES is throwing a StackOverflowError when the data node receives a cluster state published by the master.  It is failing when parsing the mappings.

[code]

In this particular case, there is an explosion in mapped fields due to dynamically created fields where a single field ends up having many many levels of nesting (recursion).  As a result, StackOverflowError shows up whene

[2015-10-30 01:17] #14364 closed

[2015-10-30 01:48] harpreetsb commented on #13811
has this been fixed
We upgraded to the ES2.0 and tried restarting it and
[code]

[2015-10-30 02:37] rmuir opened #14372 "startup scripts should pass jvm -Djava.io.tmpdir=$ES_HOME/tmp"
Today we use the system tempdir, but this can cause several problems (e.g. https://discuss.elastic.co/t/elasticsearch-2-0-warning-jna-is-not-available/33320/1). It would also just be better in general as far as isolating the elasticsearch process.

Instead we should just set our own: scripts should also create it, if it does not exist. It should not and cannot be configurable: it needs to be passe

[2015-10-30 03:08] robertsmarty opened #14373 "bin/plugin install [url] unable to validate cert path for local https repos"
Hi,

Our deployment automation has an internal repo for all elasticsearch related artifacts. I'm currently receiving a "unable to find valid certification path to requested target" when accessing this internal repo over https.

Is there any way to configure a trust store for plugin downloads?

[2015-10-30 03:09] robertsmarty commented on #14373
I'm using elasticsearch 2.0.0

[2015-10-30 03:23] dadoonet commented on #13811
Did you create the descriptor file? https://www.elastic.co/guide/en/elasticsearch/plugins/current/plugin-authors.html#_plugin_descriptor_file

[2015-10-30 03:42] harpreetsb commented on #13811
No nothing, but i already had few plugins

[2015-10-30 03:45] harpreetsb commented on #13811
Weird that things work fine on my local machine,
But on my local machine  when i do
`sudo service elasticsearch status`
I get
`elasticsearch is not running`
 BUT
'http://localhost:9200/' return
[code]

[2015-10-30 07:15] adichad commented on #12674
@rjernst confirms over at #13657 that transformed have not been removed in 2.x and will only be deprecated.

request to reinstate the related documentation for example at

https://www.elastic.co/guide/en/elasticsearch/reference/1.7/mapping-transform.html
https://www.elastic.co/guide/en/elasticsearch/reference/1.7/_get_transformed.html

to also work at

https://www.elastic.co/guide/en/elasticsearch

[2015-10-30 07:45] markwalkom opened #14376 "Add repo updates to breaking changes"
We've moved from having repos for each major+minor version to a major only.

Need to update the docs.

[2015-10-30 08:07] marcoc610 commented on #12018
I have experienced the same problem on Linux (so no jails, no chroot) when the path.data is in a BTRFS subvolume.
Actually I think that it is more a java issue, but I wonder if there is any workaround for btrfs subvolumes too...

[2015-10-30 08:09] dadoonet commented on #13811
I don't understand. You wrote elasticsearch 2.0 but here it's 1.4.4.

Feel free to ask your questions on discuss.elastic.co.

[2015-10-30 08:13] benoitdechateauvieux commented on #12721
@clintongormley we use the transport-wares plugin to start our embedded ES instance when our application starts.
Is there another way to do it ? If not, could you plan to release a version of this plugin for ES 2.0 ?

[2015-10-30 09:37] pjcard commented on #14301
Hi @clintongormley,

Thanks for your reply. On reading about it, it was a slight surprise to me that the implication of it was that the default way to use elasticsearch has changed to making two RESTful calls, instead of one; or to put it another way, that the only part of the process of searching that has to be performed separately is the initial step of ascertaining which indices should be queri

[2015-10-30 09:41] clintongormley commented on #14346
@javanna could you look at this one please

[2015-10-30 09:46] clintongormley commented on #14347
@vandinhchuong @projx It sounds like you have some legacy configuration files lying around.

Yes.  We just reduced the config file to show only the most important bits.

[2015-10-30 09:46] #14347 closed

[2015-10-30 09:53] jpountz commented on #14300
Right, I understand that this can be useful. I'm just concerned that if you use this feature in a sub-tree of the query that doesn't need scores (ie. either a filter or the top-level query if you don't sort on the score) then you will hit bugs.

[2015-10-30 10:15] clintongormley commented on #14352
A suggestion made in FixItFriday was to remove the parameter entirely.  Essentially, you have lost a shard, and the only thing to do is to reindex.

Looking for opinions on this: when is it useful to assign an empty primary shard?

[2015-10-30 10:46] harpreetsb commented on #13811
oh well i had to delete all previous node data to get the new version running..
I wil post here later onces i configure mine and see if our online server does not give same error.

[2015-10-30 10:54] tdesrochers opened #14379 "Redis input plugin host as an array"
Is there a reason the redis output can use an array but the redis input cannot.

I would like to use my domain name (a DNS entry for many IP's with the same domain name) in the redis input so that I can spin up new nodes as needed without changing any of my configurations. If I understand the current setup correctly I need to have an input statement that includes each redis nodes IP address on eac

[2015-10-30 10:55] jagdish-nasit commented on #14112
+1

[2015-10-30 10:59] j0hnsmith opened #14380 "_cat/indices: JSON output"
The `_cat/indices` api seems to only output plain text, JSON output would be nice, eg instead of

[code]
it would be nice to get
[code]

[2015-10-30 11:09] johnament opened #14381 "Cluster doesn't scale beyond ~400 requests/sec"
I raised a question on the forums, didn't get much input, so raising an issue to see if it catches any input from others.

I have a 3 node cluster, 8gb each.  It maxes out at ~400 requests per second, regardless of what query we give it. We add a 4th node, still it maxes out in the same area (I think we get an extra 20 req/s tops).

Is this normal? Any settings we can look at to tweak this further

[2015-10-30 11:15] ywelsch commented on #14380
Try adding `?format=json` , for example `_cat/indices?format=json`.

@clintongormley This should probably be documented.

[2015-10-30 11:24] j0hnsmith commented on #14380
Hmm, `?format=json` works (thanks for letting me know).

My original request was made with with `Accept: application/json`, this returns `Content-Type: text/plain; charset=UTF-8`, is there a reason why the `Accept` header is ignored?

[2015-10-30 11:27] bleskes commented on #14352
If people find themselves in the unhappy place where a shard is red, they can't index into that index any more because of the missing shard. Even if you don't need to index into that index any more, the cluster status is red which means you have to disable monitoring of it until the index is deleted. The allow primary flag allows you to accept your loss and go back to normal. I see it used frequen

[2015-10-30 11:28] ywelsch commented on #14380
Yes, the Accept header is currently ignored, which is a bug.
There is an open issue for that (#14195).

[2015-10-30 11:28] #14380 closed

[2015-10-30 12:13] kiryam opened #14382 "High heap memory consumption"
Need help with memory consumption.

This is our cluster:
![2015-10-30 17-00-36 kopf elasticsearch](https://cloud.githubusercontent.com/assets/146705/10845214/c656fa96-7f27-11e5-834f-65e440a94415.png)

On start (about 3 or more hours) we have green line (heap memory usage). After two or more houre we can see red line (heap memory usage)
![2015-10-30 17-02-58](https://cloud.githubusercontent.com/ass

[2015-10-30 12:32] clintongormley opened #14383 "Upgrading fields with only `search_analyzer` specified"
When upgrading from 1.x to 2.0, a field that has only a `search_analyzer` specified will throw an exception and prevent the node from starting.  Really, the field does have an `index_analyzer`, set to `default`.  We should be able to migrate this mapping to a 2.0 compatible version.

Relates to #14313

[2015-10-30 12:33] clintongormley commented on #14313
@rborer This is a different error.  Please could you upload your mapping for the kibana index?  I think this might be an old index.

[2015-10-30 12:35] clintongormley commented on #14313
@smayzak I've changed the migration tool to report this mapping as a "red" error, and I've opened #14383 to make it possible to upgrade with this mapping

[2015-10-30 12:39] rborer commented on #14313
@clintongormley Thanks, here is my current Kibana mapping:

[code]

[2015-10-30 12:44] clintongormley commented on #14357
As a workaround, specify `plugin.mandatory: marvel`

[2015-10-30 12:57] clintongormley commented on #14313
Thanks @rborer.  That index is from kibana3, which won't work with kibana4 anyway, so you can go ahead and delete it.

[2015-10-30 12:57] #14313 closed

[2015-10-30 13:00] rborer commented on #14313
@clintongormley fool me, I completely forgot about that kibana3 index! Thanks a lot, I'll get rid of it asap.

[2015-10-30 13:19] clintongormley commented on #4978
the startup script now has this:

    if [ -n "$MAX_MAP_COUNT" -a -f /proc/sys/vm/max_map_count ]; then

should we change that to check if `/proc/sys/vm/max_map_count` is writable instead of just `-f`?

[2015-10-30 13:19] polyfractal commented on #7299
Closing this, resolved by #11414.  If you attempt to index a "double" JSON object, ES throws an exception up-front now instead of silently accepting it:

[code]

[2015-10-30 13:19] #7299 closed

[2015-10-30 13:26] clintongormley commented on #14376
Closed by #14377

[2015-10-30 13:26] #14376 closed

[2015-10-30 13:38] alexgarel commented on #4978
yes this checking its writable is a good idea. Maybe emitting a warning if it exists but is not writable.

[2015-10-30 13:40] clintongormley commented on #14379
This issue was moved to elastic/logstash#4121

[2015-10-30 13:40] #14379 closed

[2015-10-30 13:42] clintongormley commented on #14381
Hi @johnament

This is definitely a question for the forums.  Please continue the conversation there, perhaps by providing more info.

[2015-10-30 13:42] #14381 closed

[2015-10-30 13:45] clintongormley commented on #14382
Hi @kiryam

Please ask questions like these on the forum https://discuss.elastic.co/

I'd start with removing this from your config.  What you have set here is abusive to Elasticsearch:

    index.query.bool.max_clause_count: 100000
    threadpool.bulk.queue_size: 300
    http.max_content_length: 500mb
    index.load_fixed_bitset_filters_eagerly: false

[2015-10-30 13:45] #14382 closed

[2015-10-30 13:59] johnament commented on #14381
Please do let me know what more info I could provide, as best as we can tell with a default install this issue is happening: https://discuss.elastic.co/t/query-not-scaling/33032

[2015-10-30 14:52] PhaedrusTheGreek opened #14387 "Shards relocating during rolling restarts"
This behaviour is reproducible in v1.6.0 through 2.0.0.

Expected during rolling restarts that no shard relocations will occur, however there is shard movement occurring while the cluster is in a yellow health state.

Steps to reproduce:
 1. Create a cluster with at least 3 nodes, 1 index with 2 shards + 1 replica (4 shards total), and index some data.
 2. Stop all indexing
 3. Set allocation: non

[2015-10-30 14:54] mikemccand commented on #14319
A forced refresh (``/index2/_refresh``) resolves the issue, so somehow the replica is failing to refresh after 1s (but did in fact index the 2nd document).

Curiously, if I pass ``"number_of_shards": 1`` when creating the index, the bug doesn't happen, but with 2 shards, it does.  Hmm.

[2015-10-30 15:34] mikemccand commented on #14319
OK I think I see what's happening:

The new replica is created (because of ``"number_of_replicas": 1``), but because this is async change, the additional ``"refresh_interval": "1s"`` in the same request is never applied to the newly created replica shards since they have not yet set up listeners (``IndexShard.ApplyRefreshSettings``) for settings changes.

So the replica shards still have the old `

[2015-10-30 15:36] s1monw commented on #14319
@mikemccand can you try and verify if that still happens on master / 3.0?

[2015-10-30 15:46] mikemccand commented on #14319
@s1monw I'll test master.  @clintongormley already checked that 2.0 fixes it (I'm not sure why/how!) ...