[2017-01-20 16:08] jasontedor commented on #19415
@kjussakov Would you please open a topic on the [forum](https://discuss.elastic.co) and link to it from here? However, when you open that topic, please provide a stack trace, I can not help you without a stack trace. Before you do that though, would you please look at my [example](https://github.com/elastic/elasticsearch/issues/22671#issuecomment-273498813) on #22671 and see if it helps you solve

[2017-01-20 16:18] glmrenard commented on #17467
Hello, I also encounteer this issue, but the folder does not even exist ...
Any help appreciated.

Thanks :)

[2017-01-20 16:21] mvmn commented on #19415
Try this in your pom.xml
[code]

[2017-01-20 16:21] jasontedor commented on #20899
Awesome, thank you for reporting back, it's appreciated.

[2017-01-20 16:51] jasontedor commented on #22671
Please provide a stack trace.

[2017-01-20 17:02] jasontedor commented on #22720
To be fair, when developers hear that two languages are similar, they do not have an expectation that they can paste code from one language into another. For example, developers freely admit that C# and Java are similar (in fact, very similar), but no developer comfortable with one of those languages expects they can paste language from one language into the other (sometimes you can paste a snippe

[2017-01-20 17:20] clintongormley commented on #22719
Sorry I have no idea about Kubernetes, but that stack trace is showing a problem with the disk.  Either there is a hardware problem or the fileystem is not suitable for use with Lucene, or something to do with Kubernetes. Either way, this is not an Elasticsearch bug.

[2017-01-20 17:20] #22719 closed

[2017-01-20 17:26] markharwood commented on #22169
Pushed to master https://github.com/elastic/elasticsearch/commit/f01784205f4512a989ed85382d02cd645bf2f667
and 5.x https://github.com/elastic/elasticsearch/commit/190bd7dbf3df35667bd401c6e5573876f39745e1

[2017-01-20 17:27] Gordiychuk commented on #22671
@jasontedor

[code]

[2017-01-20 17:32] jdconrad commented on #22720
Agree 100% the documentation needs improvements.  I'm currently working on making some, but there's a lot to cover and it's going to take some time to get there.  I also see how comparing this language to Groovy could be confusing given the lack of documentation here.

[2017-01-20 17:35] jasontedor commented on #22671
You're not providing enough information here, what are you binding the logging to?

[2017-01-20 17:37] jasontedor commented on #22671
Again, you either have to pull in the optional Log4j 2 dependencies, or use the SLF4J bridge like I showed. So, what I'm looking for from you is a problem where you pulled in the dependencies and it didn't work, or you pulled in the bridge and it didn't work. But if you're not pulling in either then of course you're going to have problems.

[2017-01-20 17:41] nik9000 commented on #22720
I'm still working on prerequisites for an API reference.... I think I have one review left before I can revive my work on the reference. That'll help. Some.

[2017-01-20 17:47] nomoa opened #22722 "max_determinized_states in query_string is no longer supported"
We're upgrading client to elastic 5.1.2 and we noticed that the `max_determinized_states` is no longer accepted by the `query_string` query.

The following query is accepted by elastic 2.x:
[code]

But will fail on elastic 5.1.2 with:
[code]

I don't think it's intentional because this option is still referenced in the documentation (and actually very useful).

[2017-01-20 17:48] nik9000 commented on #22722
I can have a look in a bit.

[2017-01-20 17:49] nomoa commented on #22722
Thanks!

[2017-01-20 17:56] Gordiychuk commented on #22671
As i sad before, client not working without additional dependency. Adding dependency to log4j or bridge solve it proble, but it's looks like WA. Because for example if my problem use only sl4j and I want use transport client i get exception about until not add bridge or log4j-api.

[2017-01-20 18:08] jasontedor commented on #22671
I'm so sorry, but I do not understand "WA"? Can you elaborate what you mean here?

We document this though, the dependency is optional, you [have to use it], or [use the bridge](https://www.elastic.co/guide/en/elasticsearch/client/java-api/current/_using_another_logger.html).

[2017-01-20 18:33] trejkaz commented on #22705
Clinton, do engage at least one brain cell before making any further comments. Even an idiot would realise the logical problem with your suggestion.

As for which classes... I don't know. I remember hitting a lot of places where the class docs were just an empty Javadoc comment, but not any particular class. I could probably list them as I find them, but turning the warning on might do just as wel

[2017-01-20 18:47] marshall007 opened #22723 "Ability to skip version checks during `update_by_query`"
We're attempting to perform a series of `update_by_query` requests in parallel, several of which will attempt to update the same document. As you would expect, we get a `Conflict` error when this happens.

These partial document updates we're attempting to perform do not conflict with or depend on each other in any way. So the issue is two-fold:

1. `update_by_query` is lacking in convenience feat

[2017-01-20 18:48] clintongormley commented on #22705
@trejkaz Do engage a few brain cells to read the code, write some java docs, and become an actual contributor to this open source project that you're using.

[2017-01-20 18:50] #21483 closed

[2017-01-20 18:54] jasontedor commented on #22705
This is completely unacceptable.

We will happily listen to and carefully consider constructive criticism. By choosing to act confrontationally like this, you establish yourself as an adversary rather than a collaborator, it's an ineffective way to make a point, and contributes to furthering the poor reputation you've established for yourself on past issues.

I say this hoping that it will have a

[2017-01-20 18:58] trejkaz commented on #22705
@clintongormley naturally I have been doing so.

I don't think my comment was unacceptable. Being told to contribute docs for something you don't know even know how it works, when if you knew how it worked you wouldn't need docs? _That_ is unacceptable.

[2017-01-20 19:11] maddin2016 commented on #22670
Hi @clintongormley

Do you mean

- lte: now/d+2h rounds down to midnight, adds two hours, then adds **24** hour minus 1 ms

[2017-01-20 19:21] jasontedor commented on #22705
As @javanna mentioned, we are working on this. It's something that happens iteratively, slowly, over time. These days, when we review PRs, we consistently ask for Javadocs for contributors. You will also see contributors adding Javadocs when they refactor methods.

If you have specific areas on the client APIs that need improvement, we would be happy to take a look.

This is not going to happen. T

[2017-01-20 19:22] nik9000 commented on #22723
`_update_by_query` doesn't have a retry feature because it'd be fiddly to implement. I don't think it'd be impossible just time consuming to get right.

Skipping the version check on update by query would amount to always overwriting. I don't think that is what you want. I think better would be to catch the version conflict and refetch the document and recheck the condition and rerun the update. B

[2017-01-20 19:51] jasontedor commented on #22707
In order of stability:
 - the REST API
 - the transport client API
 - the plugins API

The REST API is sacred, we are careful about deprecating, providing warning headers and logging, and removing only when appropriate.

The transport client API is fairly stable these days, but we do reserve the right to break it in minor releases (this happens rarely). This API will eventually be deprecated and c

[2017-01-20 19:51] #22707 closed

[2017-01-20 21:38] rjernst commented on #22520
That is just an extra level of obfuscation with an additional setting that adds no benefit.

[2017-01-20 22:38] HonzaKral commented on #15674
Closed via #17382

My apologies for taking so long, it completely slipped. My bad and thanks @MaineC !

[2017-01-20 22:38] #15674 closed

[2017-01-20 23:18] jasontedor commented on #18935
Sorry, this has to be reopened, IntelliJ is unhappy with the change.

[2017-01-20 23:33] rjernst opened #22728 "Backoff and retry instead of failing on throttling from azure"
Part of the motivation for #22709 was the azure repository plugin's snapshot failure when a throttling event occurs.  If we receive a throttling response, we should backoff and retry (and this may apply to our cloud code for other plugins as well).

[2017-01-21 02:04] dadoonet commented on #22728
I wonder if this should be done in core instead so no need to implement that for each plugin?

[2017-01-21 02:09] lf- commented on #22493
It isn't. That is `systemd --user`. My bug is reported at https://bugzilla.redhat.com/show_bug.cgi?id=1415045. For now, I'll just set it to permissive and be sad.

[2017-01-21 03:16] rjernst commented on #22728
I think it is only needed for cloud services. If there is an error from the filesystem, we should fail. Cloud systems are designed with this type of throttling in mind, but filesystems are not.

[2017-01-21 08:15] sangeethakp commented on #21978
Hai! Can I kindly take up this issue and submit a PR?

[2017-01-21 09:02] dadoonet commented on #22728
Yes you're absolutely right and I actually checked our code and I can see that Google Storage and AWS S3 sdks already provide this out of the box.
I did not check Azure SDK yet but if not provided in the SDK itself then we can implement our own version.

So quoting myself:

No. :)

[2017-01-21 18:38] thigg commented on #21000
@sikron Could you post your solution?

[2017-01-21 20:45] Ankiewicz commented on #8932
If you find you have two, how do you kill them?

`ls -al /usr/local/var/elasticsearch/elasticsearch_Jonathan
total 0
drwxr-xr-x  2 Jonathan  admin   68 Jan 20 23:32 .
drwxr-xr-x  4 Jonathan  admin  136 Jan 20 23:32 ..
Karries-iMac:simpleFi_Main Jonathan$

`

[2017-01-21 21:02] Ankiewicz opened #22730 "New Computer - Elasticsearch setup"
[code]

[2017-01-21 21:14] jasontedor commented on #22730
Something does not look right here, we do not use the cluster name as part of the data path anymore. Please remove Elasticsearch:

[code]

and start again:

[code]

Lastly, since this looks like an environment problem, I'm going to close this issue. We reserve GitHub for verified bug reports and feature requests. If you have additional questions, please open a topic on the [forum](https://discuss.

[2017-01-21 21:14] #22730 closed

[2017-01-22 09:10] hanan-levy-sp opened #22732 "Return Span Position information from span queries"
**Describe the feature**:
I'd like to be able to access the Position Information of matched terms in spans queries.
 There's a way through accessing the "getSpans" method in Lucene( and Lucene .Net.),  however, the data is not exposed through ElasticSearch, and is not retrieved in the Hits or Explains sections of Span Query responses.

Having the position information will allow accessing the actua

[2017-01-22 12:11] gr8Adakron commented on #19968
After installing elastic search and kibana. And after starting both the service elasticsearch and kibana. when I am trying to get to the localhost:5601 that is kibana. I was getting this page.
![elastic](https://cloud.githubusercontent.com/assets/16715364/22182367/e8def1ea-e0c9-11e6-90b9-6b19c24e2182.png)
**Help! Urgent**

[2017-01-22 15:34] maddin2016 commented on #22670
Hi @clintongormley, do you handle this issue internally or is there a chance to open a PR?

[2017-01-23 01:21] cwurm opened #22734 "Set LimitMEMLOCK in systemd service file"
https://www.elastic.co/guide/en/elasticsearch/reference/current/setup-configuration-memory.html#mlockall documents how to lock the memory on different systems. For systemd, it's setting `LimitMEMLOCK=infinity` in an override file for the systemd service file (`/etc/systemd/system/elasticsearch.service.d/elasticsearch.conf` as documented on https://www.elastic.co/guide/en/elasticsearch/reference/cu

[2017-01-23 02:09] jasontedor commented on #22734
I don't think that we should do that.

First, memory locking should be the least preferred option to preventing the JVM heap from landing on disk. It's an option for users for which completely disabling swap or setting minimizing swappiness are not options.

Second, additional configuration is required anyway for enabling memory locking: setting `bootstrap.memory_lock`. If a user enables this but

[2017-01-23 02:09] #22734 closed

[2017-01-23 02:51] makeyang commented on #22672
@ywelsch
after dig more: i setup a cluster with one dedicated master and one dedicated data node. and below test will throw exception too:
curl -XPUT /my_index2 -d'
{	"settings" : { "index" : {  "number_of_shards" : 1,"number_of_replicas" : 0  }}}
'

curl -XPUT /my_index2/_mapping/type1 -d '
{
  "properties": {
    "account": {
      "type": "string"
    }
  }
}
'

curl -XPUT /my_index2/_mapping/t

[2017-01-23 02:52] #22672 closed

[2017-01-23 03:02] makeyang opened #22736 "[feature request]reject clients' read/write requests when cluster avalanche effects happens(may call this the safe mode of cluster)"
**Describe the feature**:
**1. cluster deployment:**
    1. usually I deploy cluster this way: with some dedicated master nodes(usually 3) with some dedicated data noeds and with some dedicated gateway nodes.
    2. close sniff or I customerized client logic that will filter out no dedicated gateway nodes.
**2. problem met:**
    1. when there are some traffic spike, some data nodes will long GC a

[2017-01-23 03:12] makeyang opened #22737 "[feature request]shard group"
**Describe the feature**:
1. with this issue: https://github.com/elastic/elasticsearch/issues/21585#event-927040461
can patially fix this situation:
Users occasionally have a surge in write traffic that a single shard cannot process fast enough

but think one extremely situation that we may meet:
one shard is almost unavaiable due to  write traffic even with above instrument. the most quick fix wa

[2017-01-23 06:16] aravindputrevu commented on #22630
Can someone help me in doing the setup ?

[2017-01-23 08:06] imod commented on #19415
@kjussakov can you please add a comment with the link to the new topic?

[2017-01-23 08:06] sikron commented on #21000
Hi @thigg,
please find a working example here:
- [java-test](https://github.com/sikron/elasticsearch-examples/blob/master/pocs/ngram/src/test/java/com/skronawi/elasticsearch/examples/poc/ngram/NgramTokenizerMinShouldMatchScenario.java) showing a few use-cases and effects of the ngram tokenizer
- [index-definition](https://github.com/sikron/elasticsearch-examples/blob/master/pocs/ngram/src/test/res

[2017-01-23 08:13] metacret commented on #11401
Can somebody take a look at https://gist.github.com/metacret/3528a918f06c7847b2973a0f85e20afa?

[2017-01-23 08:54] guybarnea opened #22738 "ElasticsearchUncaughtExceptionHandler] [] fatal error in thread [main], exiting java.lang.NoClassDefFoundError: org/elasticsearch/index/analysis/AnalysisModule$AnalysisBinderProcessor"
thanks.
our plugin workes fine in version 2.3.5.
we have to make changes in plugin's jar file , in order to succeeded install it in v5.1.1.
when we try to run the elasticsearch , we get this error.
do you have any idea?

[2017-01-23 09:00] tlrx commented on #22566
@gmoskovicz Sorry for the late reply. I dug into the discovery-ec2 code and the AWS documentation and it looks like the proposed solution can be a suitable workaround when all of these conditions are met: a) using private hosted zone with b) custom DNS names and c) when using custom certificate authority is not possible because of autoscaling. Am I right?

If so, then I guess we can implement this

[2017-01-23 09:29] kjussakov commented on #19415
Hi all,
Thanks for your prompt reply! I will start with making a minimal possible example which has the issue I described and then open a new topic in the forum. I already started with a simple maven project with the dependencies I mentioned above. This also follows the official 5.* [doc](https://www.elastic.co/guide/en/elasticsearch/client/java-api/current/_using_another_logger.html)

Without any

[2017-01-23 09:33] alkesh26 opened #22740 "type[tw] missing [type=type_missing_exception]"
**Elasticsearch version**: 5.1.0

**Description of the problem including expected versus actual behavior**:
I have disabled dynamic mapping and facing this exception while creating an index like

`abc-latest-tw/tw/<id>` and getting the error

`elastic: Error 404 (Not Found): type[tw] missing [type=type_missing_exception]`

**Steps to reproduce**:
 1. Installed elasticsearch 5.1.0.
 2. Called the f

[2017-01-23 09:53] jpountz commented on #22630
@aravindputrevu I dn't know about intellij, but running `gradle idea` should create configuration files that Intellij can understand. Regarding the modules directory, I think there might be a misunderstanding as building them is not optional. This folder should really be regarded as another source folder.

[2017-01-23 10:00] bleskes commented on #22736
Thx @makeyang - I fully agreed that it will be great if we can detect the issues that may cause avalanches as you call them. These are issues that are not inherit to the node but rather to the data and query on the node and thus retrying on other nodes will only cause them to have trouble too.

The problem is that these are *extremely* hard to identify. We are chasing them one by one and adding pr

[2017-01-23 10:00] #22736 closed

[2017-01-23 10:12] makeyang commented on #22736
@bleskes  sorry for misunderstanding.
actually what I expect here is to add the ability to reject clients' read/write requests with dynamic APIs or dynamic settings

[2017-01-23 10:18] bleskes commented on #22736
I see. This is currently possible using an index settings (on an index by index basis). See https://www.elastic.co/guide/en/elasticsearch/reference/5.1/index-modules.html#index-modules-settings . Does this cover you needs?

[2017-01-23 10:22] xzer commented on #15876
I got a workaround for this case:

[code]

Some comments:

1.  inline script must be true in config file or use filed script.
1.  if the "cntTargetId" is a string rather than a number, it is not necessary to plus 'u' to the id, which is just tell the script engine that our key is a map key rather than an array index.
1. unfortunately ES does not support ordering by scripted sub aggregation, you ne

[2017-01-23 10:41] makeyang commented on #22736
this is good. I'll adopt it into my practices. thanks.

[2017-01-23 10:52] hhakkala opened #22742 "Possible memory leak in IndicesQueryCache / LRUQueryCache"
**Elasticsearch version**:
2.4.2

**Plugins installed**: [ cloud-aws, license, marvel-agent ]

**JVM version**:
java version "1.7.0_121"
OpenJDK Runtime Environment (amzn-2.6.8.1.69.amzn1-x86_64 u121-b00)
OpenJDK 64-Bit Server VM (build 24.121-b00, mixed mode)

**OS version**:
4.4.35-33.55.amzn1.x86_64 #1 SMP Tue Dec 6 20:30:04 UTC 2016 GNU/Linux

**Description of the problem including expected ve

[2017-01-23 10:53] jasontedor commented on #22738
I'm not sure what you mean when you say you made changes to the plugin's JAR; I'm reading it as you extracted the contents of the JAR, modified the plugin-descriptor.properties file to change the version and put the JAR back together again. That is emphatically not going to work, the plugin API between 2.x and 5.x is different, classes that existed in 2.x are not necessarily still going to be pres

[2017-01-23 10:53] #22738 closed

[2017-01-23 11:02] jasontedor commented on #22740
You've disabled automatic type creation (that's what [`index.mapper.dynamic` does](https://www.elastic.co/guide/en/elasticsearch/reference/5.1/dynamic-mapping.html)), so you have to explicitly create the type first either when you [create the index](https://www.elastic.co/guide/en/elasticsearch/reference/5.1/indices-create-index.html) or via the [put mapping API](https://www.elastic.co/guide/en/el

[2017-01-23 11:02] #22740 closed

[2017-01-23 11:09] alkesh26 commented on #22740
Hey @jasontedor thanks for the answer.

What if I want to store the data without any mapping? Just dumping the data.

[2017-01-23 11:50] jasontedor commented on #22740
You have to have a mapping. If you have additional questions, please open a topic on the [forum](https://discuss.elastic.co).

[2017-01-23 13:23] vsizov opened #22744 "[Documentation] Clarify that jvm.options should be preserved during an update 2.4->5.x"
https://www.elastic.co/guide/en/elasticsearch/reference/current/rolling-upgrades.html#rolling-upgrades

The doc says `Either copy the files in the config directory from your old installation to your new installation, or use the -E path.conf= option on the command line to point to an external config directory.`  The problem is that ES 5.x contains a `jvm.options` file that should be preserved other

[2017-01-23 13:56] jeantil opened #22745 "Fuzzy query ranks misspellings over exact for repeated "close" tokens"
**Elasticsearch version**: 5.1.2

**Plugins installed**: [] (no plugins installed)

**JVM version** :OpenJDK 64-Bit Server VM/1.8.0_111/25.111-b14

**OS version**: MacOS sierra 10.12.2 (16C67)

**Description of the problem including expected versus actual behavior**:
Despite #9103, match/multimatch ranks misspellings over exact matches in some fairly precise conditions.

**Steps to reproduce**:
[c

[2017-01-23 14:02] polliard-jmfe commented on #22566
​That aligns with our usecase.​

On Mon, Jan 23, 2017 at 4:00 AM, Tanguy Leroux <notifications@github.com>
wrote:

--
Thomas J Polliard
Technology Engineer

JMFE
185 Jim Moran Blvd
Deerfield, FL 33442
p: 954-363-5453
c: 804-402-1203

<http://www.jmfamily.com/>

--
--------------------------------------------------
This e-mail transmission contains information intended only for the use of
the recip

[2017-01-23 14:18] clintongormley commented on #22670
No, I do mean one hour.  Because we've introduced the hour unit into the date maths, we should round at the hour precision, not the day precision.

Given the fact that we probably need a significant rewrite of the date math parser, I'd say that this is not low hanging fruit and would probably be better handled internally.  thanks anyway

[2017-01-23 15:08] markharwood opened #22746 "Add //CONSOLE tests to Sampler and Diversified-Sampler agg docs"
`sampler` and `diversified-sampler` aggregations currently lack "//CONSOLE" examples that are runnable as part of automated tests.

Relates https://github.com/elastic/elasticsearch/issues/22278
Relates #18160

[2017-01-23 15:27] clintongormley commented on #22745
Fuzziness is behaving correctly here.  The idea is that words will be spelled correctly most of the time, with a few misspellings, so with fuzziness we give a slight edge to terms that appear more frequently, as this is more likely to be the correct spelling.

If your correct spelling is the only occurrence in the document collection, then it's going to rank more poorly

[2017-01-23 15:33] #21833 closed

[2017-01-23 15:39] #22744 closed

[2017-01-23 15:47] jasontedor commented on #22744
Thanks for reporting @vsizov.

[2017-01-23 15:48] jpountz commented on #22742
The cache assumes that queries are not worth taking into account for memory usage since they should be small. However here you seem to have 887 term queries that use 22GB of memory. This is almost 26GB per query. I am curious whether you happen to run queries on gigantic terms?

[2017-01-23 16:12] areek commented on #22357
@sicarrots As @clintongormley pointed out, slow performance in completion is due to enabling contexts in your completion mappings. When you don't specify a context with completion query, the query gets resolved to matching all contexts for the query prefix, which can slow down the completion query if you have high cardinality context values.

You should use context enabled completion mappings only

[2017-01-23 16:18] clintongormley commented on #11401
@metacret rather open a pull request where people can review it properly

[2017-01-23 16:20] jeantil commented on #22745
Let me rephrase so I am sure I understand :
You are saying the reason why `abb` gets score for `fuzzy aab` _and_ `exact abb` while `aae` gets score only for `exact aae` and not for fuzzy on `aab` is to give the  edge to the term appearing most frequently event if it is a fuzzy match ?

This is effectively overriding an exact match with a fuzzy match which runs counter to what both #9105 ( match/mu

[2017-01-23 16:21] clintongormley commented on #22737
@makeyang you can do that today by increasing the number of replicas (a dynamic setting).  Of course, creating the second shard puts load onto servers while it copies all the data across, but there's no getting away from that

[2017-01-23 16:21] #22737 closed

[2017-01-23 16:36] clintongormley commented on #22732
Hi @hanan-levy-sp

Could you expand more about your use case and practically how you would use this feature?

[2017-01-23 16:44] clintongormley opened #22748 "Clear-cache should accept `request` parameter"
The indices-clear-cache action accepts `filter` (with `filter_cache` deprecated) but accepts `request_cache` (although it is documented to accept `request`

We should make `request` the preferred parameter and deprecate `request_cache`.

[2017-01-23 16:57] #22722 closed

[2017-01-23 17:14] nik9000 commented on #22722
Done @nomoa. If you want to work around it you can use `max_determined_states`. In 5.3 that'll emit a warning header telling you to use `max_determinized_states` instead. In 6.0 only `max_determinized_states` will be supported.

[2017-01-23 17:18] hhakkala commented on #22742
Thanks for the quick response! I turned on query logging and found out that's exactly what a client application is doing:
[code]

Is there a way to prevent these queries from getting cached? Would it make a difference if the query used a terms filter instead?

[2017-01-23 17:39] metacret commented on #11401
@clintongormley it was edited on v1.7.5 branch which is the version we're using. This is the urgent hot fix to prevent our tribe nodes from being crashed by long GC pause or OOM error. I just wanted to ask you to verify how feasibly my idea will work before setting up the official PR because making PR will need huge amount of work including writing all unit tests.

My summarized idea is TransportR

[2017-01-23 17:39] jpountz commented on #22742
I am not convinced this one is the problem since it should either create a Lucene `TermsQuery` or many small `TermQuery` objects (notice the `s` at the end of `Term`). But here we have a couple hundred `TermQuery` objects that are very large. Can your heap analysis tool tell us more about what makes these `TermQuery` objects so large?

[2017-01-23 17:42] jdconrad commented on #22162
I think we should definitely provide an easier API to deal with here for some basic things like the example pointed out.  I think @nik9000 may have some more thoughts on this as well.

[2017-01-23 17:45] metacret commented on #11401
I couldn't find easy solution to Install the circuit breaker in handleResponse because it was very hard for me find out how to release everything.

[2017-01-23 18:06] marshall007 commented on #22723
@nik9000 that makes sense. I wasn't sure if internally you guys were reindexing the entire document or just the fields that were modified in the update. In #20135 I suggested implementing partial static updates in `update_by_query`. It would be awesome if we could harness that to be smarter about what constitutes a conflicting update.

[2017-01-23 18:07] hhakkala commented on #22742
Here's the `uniqueQueries` field of `LRUQueryCache` expanded:

![image](https://cloud.githubusercontent.com/assets/719560/22216108/682294e8-e1a6-11e6-820b-416142717499.png)

Most of the entries are small but there are some very big ones amongst them, all of which seem to have `perReaderTermState` field retaining quite a bit of memory.

[2017-01-23 18:15] jeantil commented on #22745
The more I think about this the worse it sounds :
"A correctly spelled but rarer term is less relevant than a misspelled but more frequent term ? " that's one hell of a confirmation bias ... you would never see rarer results shadowed by a more frequent spelling. ( in my specific car example I have over 40 `911 type 991` results before the first correctly spelled case this would mean page 4 on goog

[2017-01-23 18:25] jpountz commented on #22742
Thanks, I think I see the problem, queries in the cache are still referencing old segments. I'll work on a fix.

[2017-01-23 18:26] clintongormley commented on #22745
@jeantil it doesn't work like that.  What it should do is say:

* which terms are within edit distance 1/2 of `xxx`
* find the min IDF of all the fuzzy terms
* use that IDF for all terms (with a tiny boost for the current term)

So this is working correctly.  However, I think there is a different bug: the more fuzzy terms that match, the higher the score.

With explain, the score for the first two

[2017-01-23 18:31] clintongormley commented on #21978
Thanks for showing interest in contributing to Elasticsearch.

Here's a guide to how to go about it: https://github.com/elastic/elasticsearch/blob/master/CONTRIBUTING.md

[2017-01-23 18:33] FishkinsDC opened #22750 "Index-Level Default Operator Configuration"
**Describe the feature**:
I'd like all the query strings against my index to use AND as the default operator. It's possible to configure a default operator for a specific query, but not for all queries against an index. I'd like to be able to set a default operator for a whole index, analogous to ```<solrQueryParser defaultOperator="AND"/>``` in Solr.

[2017-01-23 18:37] clintongormley commented on #22750
Hi @FishkinsDC

No this isn't something we support and it's not something we plan on supporting either.

[2017-01-23 18:37] #22750 closed

[2017-01-23 18:44] hanan-levy-sp commented on #22732
Sure.

Assume you're indexing large amounts of data, in very big documents - so you won't be able to store the actual data, and would also like to exclude it from the _source field.

Let say you wish to find a sequence of 4 terms, that match particular regular expression.
for instance - a master card number sequence.
You could create 4 span multi queries - with an underlying regex query - and join

[2017-01-23 18:45] jaymode opened #22751 "Remove support for plain text request bodies"
As a followup from #22691, I think we should consider removing support for the plain text bodies in the scroll APIs. Right now there is the option to use a request parameter, a json/yaml body, and a plain text body to specify the scroll id. These are the only APIs that support plain text and I do not think that it really buys us much to continue support for this.

[2017-01-23 18:47] clintongormley commented on #22751
The analyze API also accepts plain text - this feature can be deprecated and removed.

[2017-01-23 18:58] hhakkala commented on #22742
Thanks a lot! In the meantime, is there a way to e.g. disable the query cache altogether? Currently we need to manually restart each node in the cluster daily to avoid meltdown due to OOM errors 😄

[2017-01-23 19:05] jpountz commented on #22742
On a 2.x setting, you should be able to do that by using the undocumented `index.queries.cache.type` index setting. You will need to close your index, set this setting to `none` and finally open the index again for it to be taken into account.

[2017-01-23 19:10] hhakkala commented on #22742
Great, I'll give it a go. Thanks again!

[2017-01-23 19:10] clintongormley commented on #22745
Oh I'm stupid - `abb` is matching both terms (`aab` and `abb`), that's why it is being summed.

Not a bug.  Closing

[2017-01-23 19:10] #22745 closed

[2017-01-23 19:28] jimczi commented on #22745
Right the query matches the fuzzy terms twice. It's more obvious with the `validate` API:

[code]
The boost is computed based on the distance with the exact string.

[2017-01-23 20:08] JeffreyZZ commented on #22728
The current exception handling and its retry logical in Azure plugin is already able to handle the exceptions thrown when writing the data into Azure Storage account, it includes the throttling exception. What’s more, we also introduced ExponentialRetry to enhance the retry logic to make sure that it has enough retries when the exceptions happened in my PR#22709. But based on our investigation, th

[2017-01-23 20:22] jeantil commented on #22745
While I understand the current logic, I still argue that it effectively ends up ranking an exact match below a fuzzy match because it matches the *same* input token twice again different document tokens even when one of the document token has an exact match with a differnt input token.

here abb in the input is an exact match for abb in the document, yet aab is fuzzy matched with both aae and abb

[2017-01-23 21:03] hanan-levy-sp commented on #22732
In the last line:
" the Start and End position of each" matched  **span **   within the document - of course.

[2017-01-23 22:32] benjsmi opened #22755 "Cannot update index template using REST on s390x Docker Container"
**Elasticsearch version**: 5.1.1

**Plugins installed**: none

**JVM version**:
[code]

**OS version**:
[code]

**uname**
[code]

**Description of the problem including expected versus actual behavior**:
I stood up elasticsearch v5.1.1 in a Docker container running on System Z with the JNA libraries built for JNA support for ES.  I then pointed a logstash v5.1.1 container at this elasticsearch wit

[2017-01-23 22:36] nomoa commented on #22722
Thank you Nik, this is perfect.

[2017-01-23 22:40] nik9000 commented on #22162
Yeah! This is on my list to look at more closely soonish. I have one higher priority thing in front of it but after that this is next on my list.

[2017-01-23 22:49] GlenRSmith commented on #12902
👍

[2017-01-23 22:57] jasontedor commented on #22755
I'm sorry, we do not support s390x. If you can reproduce the issue on an OS that we do support, we will take a look.

[2017-01-23 22:57] #22755 closed

[2017-01-23 22:58] jasontedor commented on #22755
By the way, the syscall filter indeed has nothing to do with the problem, that's expected on your OS.

[2017-01-23 23:24] talevy commented on #21050
Since ES doesn't allow any one of these metadata fields in the source:

[code]

I am inclined to add validators on the IngestDocument constructor / setters to complain up-front and say you cannot do this. Does anyone see a problem with this? One big reason why I dislike this approach is that I am re-implementing the same checks that the mapping validator does when one *actually* indexes these docu

[2017-01-24 05:43] rjernst opened #22758 "Remove either endpoint or region setting in aws cloud plugins"
We have two different settings, `endpoint` and `region`, which determine the endpoint that is set on the aws client (and both of these appear unnecessary by default, as neither are required, and the s3 client appears to automatically find the region for a given bucket).  My understanding is that it is useful to have an explicit setting to allow connecting to new regions without needing a new relea

[2017-01-24 05:59] navaneesh007 opened #22759 "Error when i run ElasticSearch ES 5.1.2"
wget Elasticsearch 5.1.2 from online .

Cent OS 6.7
JDK 1.8

then Error when we run it
as " ./elasticsearch"

2017-01-24 00:54:32,726 main ERROR Could not register mbeans java.security.AccessControlException: access denied ("javax.management.MBeanTrustPermission" "register")
        at java.security.AccessControlContext.checkPermission(AccessControlContext.java:472)
        at java.lang.SecurityMa

[2017-01-24 06:42] SKumarMN opened #22760 "Support for Machine Learning Features is ELK Stack"
Hi,

This is not a bug, however wanted to bring your attention. Are there any plans of introducing features that aids machine learning using Elasticsearch(ELK stack). Like some sort of classification/regression for log analysis etc

[2017-01-24 07:23] rjernst opened #22761 "Remove auto creation of bucket for s3 repository"
Creating a bucket is a management operation which a user should have already done, and only needs to do once. We should remove auto bucket creation and error if the configured bucket does not exist.

[2017-01-24 07:41] dadoonet commented on #22761
I agree.

[2017-01-24 07:54] dadoonet commented on #22758
I understand the goal of your proposal as it would remove some lines of code.
From a user point of view, I think it's easier to have that kind of feature where someone simply says:

[code]

Instead of

[code]

That said it's not really something you are doing all the time so I guess that we can just link [from our documentation](https://www.elastic.co/guide/en/elasticsearch/plugins/current/reposit

[2017-01-24 07:55] jimczi commented on #22745
@jeantil the validate query uses `top_terms_blended_freqs_10` which is the default rewrite method (except that we keep the top 50 by default). If you want to have exact match always first, you can add the same `match` query without the fuzziness and with the operator set to `AND` and boost that query with a ridiculous number. Though your example is really an edge case, if your language produces on

[2017-01-24 08:26] dadoonet opened #22763 "Azure repository: Move to named configurations as we do for S3 repository"
We should have the same behavior for Azure repositories as we have for S3 (see #22762).

Instead of:

[code]

Support something like:

[code]

Then instead of:

[code]

Use:

[code]

If someone uses:

[code]

It will use the `default` azure repository settings.

And mark as deprecated old settings.

[2017-01-24 08:33] jeantil commented on #22745
yet I did provide a very real world example of why this issue is important to me. We have a search for cars from all manufacturers. You probably heard of the Porshe 911 in the real world. Except that's a fairly old line of cards so porsche created multiple versions of the Porsche 911 :
* 911 type 911
* 911 type 930
* 911 type 964
* 911 type 991
* 911 type 993
* 911 type 996
* 911 type 997

Accordi

[2017-01-24 08:42] amazinganshul commented on #16756
With this issue are we resolving whether tribe nodes in the federation cluster should connect to each other or not? We have a federation cluster with two tribe nodes, but no api output shows that tribe nodes have connected to each other. Is this an expected behaviour? Also is there any documentation on scaling tribe nodes?

[2017-01-24 09:00] jimczi commented on #22745
Sorry my wording was not clear enough. You should not try to apply fuzziness to a three letter word. If people search for `911 997` you can maybe make the words optional but applying fuzziness to this query is problematic for scoring even when the max distance is 1.
I can see how the "rank exact match first" can be useful but it would require a special query for this purpose. Currently each clause

[2017-01-24 09:49] jeantil commented on #22745
Thanks for taking the time. I fail to understand how I can "remove the problematic words" since they convey 100% of the information I am trying to retrieve. I have created a topic on the forum to continue this disussion:
https://discuss.elastic.co/t/fuzzy-query-ranks-misspellings-over-exact-for-repeated-close-tokens/72605

Thanks again for your help.

[2017-01-24 09:54] jpountz commented on #22742
I opened https://issues.apache.org/jira/browse/LUCENE-7657.

[2017-01-24 11:46] jomarl opened #22766 "Combining template queries with aggregations do not work as expected"
**Elasticsearch version**:
5.1.2

**Plugins installed**: [Phonetic Analysis, X-Pack]

**JVM version**:
1.8.0_101-b13

**OS version**:
Linux Mint 17

**Description of the problem including expected versus actual behavior**:

Aggregations added to a SearchRequest are ignored when used in combination with SearchTemplateRequestBuilder. The same go for any size/from parameters.

We use a lot of templat

[2017-01-24 13:04] ywelsch commented on #18935
Pushed a fix for IntelliJ.

[2017-01-24 13:04] #18935 closed

[2017-01-24 14:45] AndrewBryukhov opened #22767 "5.1.1 to 5.1.2 possible regression"
I'm using logstash to move data into es from psql.

After updating from logstash 5.1.1 to 5.1.2 (also elastic) i see those messages (for same configuration):

Also i was change number of cpu for docker from 1 to 2.

5.1.2 is  is a clean installation (elastic + logstash) to new clean docker instance.
Configuration is old. For example:

[2017-01-24 14:56] javanna opened #22768 "Improve "Fielddata is disabled on text fields by default" message"
Whenever you try to aggregate on a text field, you get back the following message:

[code]

That makes sense, but given that we now by default have the raw version of the field, shall we print out some suggestion like "use [field.keyword] instead"? Otherwise people may go and enable loading of fielddata instead.

[2017-01-24 15:12] #17593 closed

[2017-01-24 15:22] bleskes commented on #22767
you are using the update action that can lead to version conflict rejects if there are concurrent modification to the same document. That I'm not sure you want to use the `action => "update"`  option when getting data from an SQL database. I'm going to close this as it is not a bug. If you need more information please ask on our forum on discuss.elastic.co . We try to keep github for issues and fe

[2017-01-24 15:22] #22767 closed

[2017-01-24 15:31] jaymode opened #22769 "Use charset from Content-Type header"
In https://github.com/elastic/elasticsearch/pull/22691#discussion_r96935452, I added a comment which points out that our code currently ignores the `charset` parameter of the `Content-Type` header and that this is something we should look into. Looking at the javadocs of `JsonFactory` to see how different charsets are handled:

[code]

Unfortunately not all clients adhere to the unicode only encod

[2017-01-24 15:47] kjussakov commented on #19415
And here is the link to the new [topic](https://discuss.elastic.co/t/migrate-elasticsearch-java-api-to-version-5-in-spring-io-platform-application/72661?u=kjussakov)

I describe the workaround which I found to resolve the log4j dependency when running our tests with embedded Elasticsearch node.

[2017-01-24 15:48] benjsmi commented on #22755
s390x is not an operating system, it's an architecture.  I am using Ubuntu on this s390x machine.  Are you saying that this _architecture_ is not supported?

[2017-01-24 15:52] jasontedor commented on #22755
As I said:

[2017-01-24 16:06] jasontedor commented on #22755
Oh, I see why you responded this way. It's because I said:

Sorry, I meant to say system there, that was just a typo.

[2017-01-24 17:41] jasontedor commented on #22759
It looks like you don't have filesystem permissions to read your configuration directory. This leads to the elasticsearch.yml being unreadable, and it leads to the jvm.config being unreadable. This explains both exception messages that you're seeing. If you have additional question, please open a topic on the [forum](https://discuss.elastic.co); Elastic reserves GitHub for verified bug reports and

[2017-01-24 17:41] #22759 closed

[2017-01-24 17:46] srgclr opened #22770 "Child document without parent causes a NullPointerException"
Posting a child document without a parent causes a search exception.

**Elasticsearch version**: 5.1.2
**Plugins installed**: []
**JVM version**: 1.8.0_45
**OS version**: Windows Server 2012

**Steps to reproduce**:
 1.
[code]

 2.
[code]

 3.
`GET my_index/my_child/_search`

Results:
[code]

**Provide logs (if relevant)**:
[code]

[2017-01-24 17:53] jdconrad opened #22771 "Add Rolling Upgrade Tests for All Minor Versions"
Right now rolling upgrade tests are only applicable for testing 5.X --> 6.0 in master.  It would be very useful to have these for minor upgrades as well including the following:

5.0 -> 5.1
5.0 -> 5.2
5.1 -> 5.2
5.0 -> 5.3
5.1 -> 5.2
5.2 -> 5.3

and on and on to ensure that each version has a place to test both XContent changes and wire protocol changes.

[2017-01-24 17:56] jasontedor commented on #22771
I think it would suffice to just randomize the version upgrading from amongst all released versions.

[2017-01-24 17:59] jdconrad commented on #22771
I'm not a big fan of the randomization there simply because I want to know on the first pass through if one of the versions has a bug.  I think it's quite difficult to debug if I only happen to get lucky and actually hit the failing test.

[2017-01-24 18:07] thigg commented on #21000
I used your examples to fix the example from the documentation:
This works with Elasticsearch 2.3.3
[code]

[2017-01-24 18:07] jasontedor commented on #22771
I think that running them all would be entirely too time consuming. We use randomization for upgrades in the packaging tests, I think it's a safe strategy with sufficiently many CI runs.

[2017-01-24 18:10] jasontedor commented on #22771
And there is a way to run with a specific version if you really do want to test all combinations locally.

[2017-01-24 18:12] jdconrad commented on #22771
With sufficient runs I agree it's safe, it's just a bummer to have all tests pass locally through a single run and then end up breaking something in master.  But given that we don't do very many bwc changes I'm happy to concede to randomization here to save time.  The tests in general are already slow enough :)

[2017-01-24 18:20] abeyad commented on #22771
A current run on my macbook pro takes about 25 seconds (just the tests themselves).  It could add up quite a bit if there are many minor versions of the same major version.  So randomization is probably the right way to go here.

[2017-01-24 18:20] jasontedor commented on #22771
With randomized tests and the matrix of configurations that we test, there's really no avoiding this. All we can do is gain more confidence with each CI run that our changes are safe.

Yeah, that's what I want to avoid, adding even more time to them. :smile:

[2017-01-24 18:28] hhakkala commented on #22742
Based on the first 6 hours of monitoring, it seems like the workaround of setting `index.query.cache.type` to `none` has helped and the heap is no longer constantly growing.

[2017-01-24 18:48] rjernst opened #22773 "Move shared settings from aws (ec2 and s3 plugins) to plugin specific settings"
We currently share configuration settings for `discovery-ec2` and `repository-s3`, like access and secret keys. I don't this gains that much in less configuration for a user, and it was suggested in https://github.com/elastic/elasticsearch/pull/22762#discussion_r97491487 that we move these shared settings to plugin specific.

[2017-01-24 19:03] laxika commented on #19415
@kjussakov Add
`compile group: 'org.apache.logging.log4j', name: 'log4j-to-slf4j', version: '2.7'`

It works for me with Spring Boot 1.4.2.

[2017-01-24 19:22] rjernst commented on #22771
I don't think this would be adding too much time, vs the pain that is caused when backcompat breaks (builds breaking for hours or days while someone figures out why it started breaking).  And the total number of variations is not as large as the initial comment suggested.  In 5.x (ie, 5.3 right now), there is no reason to test 5.0 -> 5.1 or 5.1 -> 5.2. For a given branch, we should be testing roll

[2017-01-24 19:50] jasontedor commented on #22771
I don't think this is sufficient. For every branch, I think that we should be testing upgrades from all releases below that branch (so on 5.2.0, we'd test 5.0.0, 5.0.1, 5.0.2, 5.1.1, 5.1.2 all to 5.2.0).

[2017-01-24 19:52] rjernst commented on #22771
We could randomize within a minor. But the important part of my statement before is we need a place for tests which cannot work in rolling upgrades from any version.

[2017-01-24 19:53] abeyad commented on #22771
Don't we use the skip sections for this?

[2017-01-24 19:59] rjernst commented on #22771
We could. But I prefer explicit. This is why the static index bwc tests exist (and are always run) for every version. No surprises.

[2017-01-24 20:47] fix2015 opened #22774 "script for search rank (script_score)"
hey guys, i have pb, i have field
rank = {
0: 'js',
1: php
...
}
i need order so i decide use script_score and write this code
script_score{
 script = ` (1 + (doc['rank'].size() > 0 ? doc['rank'].values.find{it =="js"} ?  1 : 0 : 0))`;
}
but its not help can you help me how find value in arrys in elasticsearch???

[2017-01-24 22:15] djschny opened #22776 "search time `match` coercing behaves differently than index time coercing"
**Elasticsearch version**: 5.1.1

**Plugins installed**: []

**JVM version**: 1.8.0_92-b14

**OS version**: Mac 10.12.2

**Description of the problem including expected versus actual behavior**: When performing a search time `match` the coercing of a float behaves differently than index time coercing.

**Steps to reproduce**:

[code]

After doing the above notice that the second index request is s

[2017-01-24 22:22] ppf2 opened #22777 "Handle snapshot restore failure on missing synonym and analysis modules better"
5.1.1

Currently, if you restore a snapshot to a cluster that does not have the synonym files set up or the analysis modules installed matching the cluster with the source index, the restore process will fail with these exceptions:

[code]

And for missing modules:

[code]

Current behaviors

* When this happens, it fails the shard and ends up creating a red index that has nothing in it
* There sn

[2017-01-25 04:41] mellieA commented on #11083
Did this functionality ever make it to any release? I have another request for this enhancement.

[2017-01-25 06:10] bernielomax opened #22779 "Extra host discovery functionality for SSL hostname matching."
Hi,

This is a feature request for the discovery-ec2 plugin. Recently I have been trying out Shield in an AWS environment. Since this is an elastic environment I was hoping to use our own wildcard SSL certificates as nodes were likely to come and go. During implementation I discovered that the only available settings for `network.host` are for AWS public/private hostnames/IPS which will never matc

[2017-01-25 06:21] dadoonet commented on #22779
I think that this #22743 should help you.

[2017-01-25 09:06] cyrilleverrier commented on #21135
I am very interested in this feature.

Use case: considering many sensors that send a numeric metric (@timestamp + key/value pair)
I want to get a sorted list of the top 10 sensors based on their latest value by @timestamp

I can do the following query:

aggregate by term "sensorID" => get buckets of metrics per sensor
         sub aggregate by term @timestamp sorted and limit to 1 => get the late

[2017-01-25 09:51] makeyang opened #22780 "[code issue][discuss]create a Annotation to mark method/fields for test purpose"
* ONLY EXPOSED FOR TESTS!
// NOTE: this class is not part of guice and was added so the provider lookup's key can be accessible for tests
// public for tests
// for tests
// only settable for tests

somthings like these scatter all around code. so better create a Annotation to tell.

[2017-01-25 10:07] centic9 commented on #13819
I also would love to be able to throttle this, we have a number of small clusters, so we do not have separate nodes for old data. As there is also no way to see/cancel ongoing merges, we are pretty blind here. Start off an optimize and hope it will not kill search/index operations...

I know it is documented this way, but it still is not ideal as we also have older indices that we would like to fo

[2017-01-25 10:08] jlecour opened #22782 "Nagios Grok pattern matching seems to be broken in Ingest node processor"
**Elasticsearch version**: 5.1.2

**Plugins installed**: []

**JVM version**: 1.8.0_102

**OS version**: Debian 8.7.1

**Description of the problem including expected versus actual behavior**:

I'm trying to move my logstash basic pipelines to a more direct Ingest node setup.

The `NAGIOSLOGLINE` is a core pattern provided by Elasticsearch in the Ingest node family of processors.

In the first exa

[2017-01-25 10:48] clintongormley commented on #22776
Index time coercion has two purposes:

* Converting eg `2.0` to `2`  (eg javascript treats all numbers as floats)
* Converting float -> integer for analytics

If you search for `2.1` and we coerce it to `2`, then you're going to get results which actually match `2.4`, `2.12345` etc, which WOULD be surprising.  You can ignore this error by setting `lenient: true`.

That said, if you search for `2.0

[2017-01-25 10:50] clintongormley commented on #22774
Please ask questions like these in the forum instead: https://discuss.elastic.co/

The github issues list is reserved for bug reports and feature requests only.

thanks

[2017-01-25 10:50] #22774 closed

[2017-01-25 11:12] colings86 opened #22784 "org.elasticsearch.transport.local.SimpleLocalTransportTests.testSendRandomRequests fails on 5.x"
example failure:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.x+java9-periodic/1503/
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.x+multijob-intake/642

reproduce command (reproduces consistently):
[code]

Stack trace:
[code]

[2017-01-25 12:55] tomasfalt opened #22785 "Keyword in ES 5.1.1 consume twice as much space comparing to String in ES 2.4.1"
**Elasticsearch version**:
5.1.1 and 2.4.1
**Plugins installed**:
X-pack for 5.1.1, DeleteByQuery for 2.4.1
**JVM version**:
1.8.0_111
**OS version**:
Windows Server 2012 R2

**Description of the problem including expected versus actual behavior**:
Keyword in ES 5 seems to consume twice as much space comparing to String in ES 2
**Steps to reproduce**:
 1. Create an simple index with following mapp

[2017-01-25 13:30] clintongormley commented on #22785
i tested this with one shard for each index and force-merging after indexing, and both indices were 43M.

Not sure what's different about your environment but something is wrong with your test

[2017-01-25 13:30] #22785 closed

[2017-01-25 13:50] clintongormley commented on #22755
Whether the system is supported or not, you are right in saying that elasticsearch is not identifying the content type as JSON. I'd inspect what is actually being sent - the answer is probably pretty obvious

[2017-01-25 13:53] clintongormley commented on #22768
There's no guarantee that there is a `.keyword` field - I'd only show this message if we're sure there is one.  Also, recent versions of Kibana only show fields that are aggregatable, so this message is seen much less frequently.

[2017-01-25 13:54] peterneubauer opened #22786 "Polygon with holes giving ArrayOutOfBounds exceptions when indexing"
**Elasticsearch version**: 2.4, 5.2

**Plugins installed**: []

**JVM version**: 1.8

**OS version**: OSX

**Description of the problem including expected versus actual behavior**:

I'm trying to insert https://github.com/whosonfirst-data/whosonfirst-data/blob/master/data/101/752/293/101752293.geojson into a 2.4 document with mapping

[code]

Debugging the source it seems that the last 2 holes are

[2017-01-25 14:01] clintongormley commented on #22760
We will be releasing an anomaly detection feature which uses ML as part of X-Pack (see https://www.elastic.co/blog/ai-dreams-ml-promises-ba-how-elastic-and-prelert-fit-together) and we will probably add other features which use ML in the future.

Typically, we'd prefer to add features which use ML under the covers, rather than exposing ML tools directly.

[2017-01-25 14:01] #22760 closed

[2017-01-25 14:44] javanna commented on #22768
I see, maybe just give the two options then? It would be nice to mention keyword fields at least, just not to make people enable fielddata by mistake.

[2017-01-25 15:21] humbapa opened #22788 "java invoked oom-killer"
**Elasticsearch version**: 5.1.2 (and 2.4.4)

**Plugins installed**: []

**JVM version**: Oracle JDK 1.8.0_121 (and OpenJDK 1.8.0_111)

**OS version**: Ubuntu 16.04

**Description of the problem including expected versus actual behavior**:
On 2.4.1 the cluster was running without a problem. After upgrading to 2.4.4 I started to see "out of memory" errors. this happens randomly on all 8 data-nodes,

[2017-01-25 15:25] vivekyaji commented on #14075
Does this apply for 2.x and 5.x versions? I'm running into issues trying to connect tribe node (2.x) to cluster nodes running on 5.x (Received message from unsupported version: [2.0.0] minimal compatible version is: [5.0.0])
Also tried vise-versa 5.x tribe and 2.x cluster only to get transport error.
I guess there is no compatibility for tribe nodes between major versions.

[2017-01-25 15:27] vivekyaji commented on #14075
Does this apply for 2.x and 5.x versions? I'm running into issues trying to connect tribe node (2.x) to cluster nodes running on 5.x (Received message from unsupported version: [2.0.0] minimal compatible version is: [5.0.0])
Also tried vise-versa 5.x tribe node and 2.x cluster nodes only to get transport error.
I guess there is no compatibility for tribe nodes between major versions.

[2017-01-25 15:29] jasontedor commented on #14075
There is none.

[2017-01-25 15:33] maddin2016 commented on #22686
Hi @clintongormley, i assume that `index.store.preload` is a module setting and is created when the first node is up. See [here](https://github.com/elastic/elasticsearch/blob/5.0/core/src/main/java/org/elasticsearch/index/IndexModule.java#L82). But [here](https://github.com/elastic/elasticsearch/blob/5.0/core/src/main/java/org/elasticsearch/common/settings/AbstractScopedSettings.java#L74) this set

[2017-01-25 15:35] colings86 opened #22789 "Request cache should not cache timed out searches"
The request cache currently does not check to see whether the search timed out on the shard before it adds the result to the cache. We should check `QueryShardResult.searchTimedOut()` and only cache the result if the search did not time out.

[2017-01-25 15:40] munkrig opened #22790 "The addition assignment operator seems to be broken in Painless scripts"
**Elasticsearch version**: 5.1.2

**Plugins installed**: []

**JVM version**: 1.8.0_111

**OS version**: I am using the latest official Docker image (`elasticsearch:5.1.2`) on CoreOS 1235.6.0

**Description of the problem including expected versus actual behavior**:
When I perform a script update via the `_update` endpoint it seems that the addition assignment operator (`+=`) will downcast double

[2017-01-25 16:08] s1monw commented on #22789
sounds good

[2017-01-25 16:21] #22770 closed

[2017-01-25 16:52] jdconrad commented on #22790
I will take a look into this.  At the very least I would assume that the behavior for x += y should result in the same answer as x = x + y.

[2017-01-25 17:08] dadoonet commented on #21520
As per discussion in #21604, we are not going to support it. I forgot to close this one.

[2017-01-25 17:08] #21520 closed

[2017-01-25 17:34] jdconrad commented on #22790
So my previous assumption was actually incorrect and what is happening is indeed the expected behavior in Painless.

Take the case where you have the following:

``` int x = 5; x += 5.0; ```

This results in an int value of 10.  We decided to make the behavior of the def type be consistent with the behavior of the other compound assignment types meaning that for numeric values, the result will be

[2017-01-25 17:44] pickypg commented on #22776
@clintongormley

I don't think either of us disagree that it would be surprising, but it's similarly surprising that we _do_ provide the coercion on the ingest side. The same coercion _should_ happen in both directions to at least get a consistent "surprise" in my opinion.

[2017-01-25 18:05] talevy commented on #22782
After looking at the nagios grok field matching, I believe those fields are being consumed due to the first pattern in a string of `|`(or) matches fails to match. Might be related to this: https://github.com/elastic/elasticsearch/pull/22131.

I will try this out on the ES 5.2 candidate that will be released soon

[2017-01-25 18:15] talevy commented on #22782
Just tried it out with 5.2,

I get back this response from the simulate request with the distributed `NAGIOSLOGLINE` grok pattern.

[code]

@jlecour, looks like it was fixed in the next release. Mind verifying once Elasticsearch 5.2 is out so we can close the loop on this?

thanks!

[2017-01-25 18:21] jdconrad commented on #22790
I'm strongly leaning towards leaving the existing behavior.  Take a look at the following examples:

``` short x = 1; x = (short)(x + 1); ```
versus
``` short x = 1; x += 1; ```

With compound assignment the user has no ability to create a cast that would make that second statement valid without the cast being implicit.  This same logic applies to def.  The user would have no ability to cast to th

[2017-01-25 19:08] nicbaz commented on #11328
@clintongormley we're currently working to implement LUCENE-5205 in 2.x, 1.x as well as 5.x after that.

1) we're mimicking org/apache/lucene/queryparser/classic/MapperQueryParser but maybe the logic could be reimplemented to work with both classic and SpanQueryParser ?
2) should we aim for this be added as a core plugin ? or should we maintain it as a third-party ?

[2017-01-25 19:25] msimos opened #22791 "Slow query when using groovy.time.TimeCategory in groovy script"
**Elasticsearch version**:

2.4.4

**JVM version**:

1.8

**OS version**:

Linux

**Description of the problem including expected versus actual behavior**:

In Elasticsearch 2.4.4 it seems that use(groovy.time.TimeCategory) { is causing slow query performance. If I remove this statement and the operation of specialPriceEndDate + 1.days - 1.seconds, the query returns in 100 ms otherwise it takes 2

[2017-01-25 19:41] jlecour commented on #22782
Hi and thank you for having looked into this quickly.

Is there an easy way to install the 5.2 candaidate ? If so, I could try on my exact setup and verify that it's fixed.

Thanks

[2017-01-25 19:47] robinjha commented on #12366
+1

[2017-01-25 20:24] nik9000 commented on #22720
The API reference I was talking about: https://github.com/elastic/elasticsearch/pull/22775

[2017-01-25 20:38] djschny opened #22792 "inconsistency between source filtering names in query parameter vs request body"
**Elasticsearch version**: 5.1.1

**Plugins installed**: []

**JVM version**: 1.8.0_92-b14

**OS version**: Mac 10.12.2

**Description of the problem including expected versus actual behavior**:
In regards to source filtering and using include/exclude it appears @pickypg and I observed two discrepancies:

* `_source_include` in singular or plural form when used as a query parameter works fine, how

[2017-01-25 21:58] talevy commented on #22782
@jlecour

here is a snapshot: https://snapshots.elastic.co/downloads/elasticsearch/elasticsearch-5.2.0-SNAPSHOT.tar.gz

Also, 5.2 should be released really soon!

[2017-01-25 23:09] #22547 closed

[2017-01-25 23:10] dakrone opened #22794 "Reject fields that start with or end with a `.`"
When dynamically updating mappings, these fields can cause the document parser to throw an NPE since the parent mapper doesn't exist for the line:

[code]

Causing this exception:

[code]

Which can be reproduced with:

[code]

[2017-01-25 23:15] rjernst commented on #22794
This should be all fields, not just dynamic fields.

[2017-01-25 23:17] dakrone commented on #22794
Thanks @rjernst, I updated the title

[2017-01-26 03:46] jbaiera commented on #22301
@dadoonet I think that registering the configurations would be the more sensible course of action.  I'm happy to open a PR for it soon.

[2017-01-26 08:17] dadoonet opened #22800 "Get rid of `repositories.impl` settings totally"
Today we have multiple ways to define settings when a user needs to create a repository:

* in `elasticsearch.yml` file using `repositories.xxx` prefix where `xxx` is the implementation name like `s3`, `hdfs`...
* when creating the repository itself with `PUT _snaphot/repo`

Based on discussion we have on #22762 and on #22301 and also internally, I think we should reduce the overall complexity and

[2017-01-26 08:17] dadoonet commented on #22301
@jbaiera actually I think that based on discussion we had with @rjernst about s3 plugin I think we should better get rid of `repositories.impl` settings totally (see #22800). It makes the code a way too much complex for a very little gain.

I'm going to open a PR about removing that from the documentation instead and we can discuss about it there (or here).

[2017-01-26 08:57] jlecour commented on #22782
@talevy

It's fixed in 5.2 \o/

[2017-01-26 08:57] #22782 closed

[2017-01-26 09:36] clintongormley commented on #22782
thanks for letting us know @jlecour

[2017-01-26 09:40] clintongormley commented on #22800
The URL and filesystem repos require whitelisting in the config file before they can be used.  Are we happy with not requiring whitelisting for these repos?

[2017-01-26 09:45] munkrig commented on #22790
After considering your argument and checking how Java handles these cases, I tend to agree with you. Retaining the current behavior might indeed be the better alternative.

The only thing I would like to add is that I had explicitly declared my variable as a double in the type mapping. It seems that painless does not take the mapping into account during type inference. Instead it sees the initial

[2017-01-26 09:57] cbuescher opened #22803 "[Tests] Occasional failures because of "still open connections" in MockTransportService.doClose"
On teardown of the MockTransportService used in unit tests we check that all connections that were opened are closed correctly again. This seems to fail occasionally with errors that look like:

[code]
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/1516/console

Unfortunately I cannot reproduce with the given seed, so just opening this to track this or similar build

[2017-01-26 10:01] dadoonet commented on #22800
Indeed. I should be more precise.

We should support settings either in config file or at the API level but not both.

[2017-01-26 10:07] s1monw commented on #22803
I think I know what the issue is. there is a very very small race that is not relevant in production but the tests require more strickness. I will try to improve the code to make sure these failures won't happen anymore

[2017-01-26 10:45] clintongormley commented on #11328
@nicbaz Why not submit it as a WIP PR as a core plugin, and we can make a decision once we see the code?

[2017-01-26 10:49] clintongormley commented on #22776
I don't think the surprise is similar.  I gave two valid reasons for supporting coercion at ingest time: javascript treating all numbers as doubles, and rounding for analytics purposes.  I see no valid reason for supporting this coercion at search time.

[2017-01-26 12:58] #22803 closed

[2017-01-26 13:44] cbuescher commented on #22784
There is another one here today: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.x+dockeralpine-periodic/716

Reproduces on 5d48757db0b9d301869198fcd9dc3178a607a4a5 with the following
[code]

[2017-01-26 13:55] cbuescher opened #22808 "[Tests] ShardSearchTransportRequestTests.testSerialization fails on 5.x"
This fails reproducibly on 5.x (5d48757) as seen here:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.x+multijob-unix-compatibility/os=debian/474/consoleFull

Reproduce line:

[code]

[2017-01-26 14:02] cbuescher commented on #22808
Also failing on master (f128b7a7fe87486f633e235e125170c83dbd52b6):

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=centos/557/consoleFull

[code]

[2017-01-26 14:30] nik9000 commented on #22790
Yeah! We've talked about a few times. The reason it works the way it does is that Elasticsearch's scripting APIs were designed around MVEL and Groovy, neither of which could do anything with the type information. We're (slowly, carefully) in the process of reworking the scripting APIs so we can send more interesting information to Painless.

[2017-01-26 14:38] imotov commented on #11083
@mellieA no, it wasn't implemented yet.

[2017-01-26 15:27] javanna opened #22811 "Do we still want to support 4 different content types?"
As part of #22691 we are removing content type auto-detection for incoming requests, in favour of reading the `Content-Type` header. Elasticsearch supports 4 different formats: json, yaml, smile and cbor. All 4 are supported with few exceptions: bulk, msearch and friends only support json or smile (actually multi line json or smile composed of one valid object per line, the whole request is never

[2017-01-26 15:39] karmi commented on #22811
I vote for trimming down the number of supported formats, with the exception of YAML -- seems like some people do use that, eg. for mappings/etc, where they take an advantage of comment support.

[2017-01-26 15:40] cbuescher commented on #22808
I traced this down to a different cacheKey in the deserialized ShardSearchTransportRequest. The reason seems to be that for the cacheKey computation we use ShardSearchLocalRequest#innerWriteTo which in turn deserialized the SearchSourceBuilder. While debugging I saw differences in the cacheKey bytes array where the source was rendered. Looking closer at the SearchSourceBuilder for this seed I foun

[2017-01-26 15:45] #22789 closed

[2017-01-26 16:02] javanna commented on #22811
@karmi we convert all the mappings to json before storing them in the cluster state, so once converted the comments are gone. They are not returned e.g. by the get mapping api. Is this what you'd expect?

[2017-01-26 16:10] vsizov opened #22813 "[Docs] "Query and filter context" doc is confusing."
https://www.elastic.co/guide/en/elasticsearch/reference/current/query-filter-context.html

I find this doc confusing for new users.
`This query will match documents where all of the following conditions are met`and goes list of 4 conditions. And then we see the text: `two match clauses are used in query context, which means that they are used to score how well each document matches.`. The last one

[2017-01-26 16:12] drewr commented on #22811
I find myself using YAML quite a bit as well.  I don't care about how it's serialized internally, the utility is on the user's end.  And while I haven't used Smile and CBOR nearly as much, it seems like it would be a shame to limit the options just to clean the code up.

I'm +1000 on getting rid of the silly heuristics (like the `---\n` for YAML) in favor of `Content-Type` though.  Seems like that

[2017-01-26 16:16] karmi commented on #22811
@javanna I think the fact that the payload is converted to JSON after it's received doesn't matter here -- people probably have their configuration in some kind of repository (scrips, configuration management code, application code), and _that_ is the place where they care about the comments (and other things).

[2017-01-26 16:18] PhaedrusTheGreek opened #22814 "resource.reload.interval not configurable"
**Elasticsearch version**:
5.1.1

In order to speed up the reloading of scripts, it seems that it's possible to do this:

[code]

Which works great - but there are no clear docs on how to use these settings, in particular:
- How to change the default interval from medium
- What is the purpose of the `resource.reload.interval` setting.

Start ES with:

[code]

Results in:

[code]

[2017-01-26 16:19] pickypg commented on #22814
I believe this is because the `resource.reload.interval` is not given `NodeScope`, unlike the other settings.

[2017-01-26 16:31] javanna commented on #22811
preventing future or fixing existing bugs is another way to say it which makes it sound much better :)

[2017-01-26 16:36] #22566 closed

[2017-01-26 16:55] jasontedor commented on #22811
Our JSON parser violates specification and allows comments anyway. So if the argument is comments, there's no need to keep YAML for that reason.

[2017-01-26 17:04] seang-es opened #22817 "Added filtering/querying on top_hits aggregation results"
In some cases it is useful to further filter top_hits results based on their content.  For example:

Here's an example of the scenario.

Term aggregation By 'x' returns 3 documents.
1.	D1 { x: '5', fx: 'A', date: '2017-01-01T00:00:00' }
2.	D2 { x: '5', fx: 'B', date: '2017-01-05T00:00:00' }
3.	D3 { x: '5', fx: 'C', date: '2017-01-11T00:00:00' }
What we've now aggregating by 'x' is
•	Count:
o	3
•	F

[2017-01-26 17:12] jdconrad commented on #22790
I definitely understand the frustration around not being able to take into account mappings.  To add a bit more explanation to what Nik has already said -- we compile scripts in a way that allow them to run across all indexes, unfortunately this means we can't assume a mapping for a specific index at compile time since fields with the same name could actually be different types in different indexe

[2017-01-26 17:18] cbuescher opened #22818 "[Tests] TopHitsAggregatorTests#testInsideTerms fails reproducibly"
This one fails reproducibly on master (2abe948cd7b492f583cae066f59904c0f4253d20):

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.x+multijob-unix-compatibility/os=ubuntu/475

'''
gradle :core:test -Dtests.seed=E1AB0588265D530F -Dtests.class=org.elasticsearch.search.aggregations.metrics.tophits.TopHitsAggregatorTests -Dtests.method="testInsideTerms" -Dtests.security.manager=true -D

[2017-01-26 17:19] cbuescher commented on #22818
@nik9000 would you mind taking a look since you recently introduced that test?

[2017-01-26 17:19] tbrooks8 commented on #22116
I opened the PR #22622  that should removed `connect`.

[2017-01-26 17:23] nik9000 commented on #22818
Sure!

[2017-01-26 17:29] mrmiroslav commented on #22671
This is all great, I have been trying in a variety of ways now, including adding "log4j-to-slf4j".

However I am getting stuck on:

[code]

[2017-01-26 17:56] varunmehta commented on #22794
Another use case;

[code]

**Error Message**

[code]

[2017-01-26 17:58] munkrig commented on #22790
Thanks for the explanation!

As far as I’m concerned, the issue can be closed then. Assignments of the kind `x = x + 1.5` work even if the initial value was an integer and can easily be used in place of `x += 1.5`.

It might make sense to document the behavior though, as it may save other developers some head-scratching.

[2017-01-26 18:00] varunmehta commented on #22794
Another use case;

[code]

`{"error":{"root_cause":[{"type":"remote_transport_exception","reason":"[localhost][127.0.0.1:9300][indices:data/write/index]"}],"type":"illegal_argument_exception","reason":"mapper [top. .foo] of different type, current_type [text], merged_type [ObjectMapper]"},"status":400}`

[2017-01-26 18:00] jdconrad commented on #22790
@munkrig You're very welcome for the explanation, and I agree 100% with this needing to be documented.  Documentation is something we're in process of making large improvements too.
Closing now.

[2017-01-26 18:00] #22790 closed

[2017-01-26 18:01] amazinganshul commented on #21568
Will the changes be merged in 1.7.4 branch as well? We recently faced the same issue. Master nodes had heap configured at 8GB.

[2017-01-26 18:03] jasontedor commented on #21568
No. The 1.7 series has reached end-of-life and we not see any more changes.

[2017-01-26 18:35] ppf2 opened #22821 "Add default logging for allocate_*_primary reroute commands"
5.1.1

For commands that can lead to data loss (ok-ed by the end user) like allocate_*_primary, it will be helpful to log some messages at the INFO level so that there is a record of when such command was executed for historical troubleshooting purposes.  Currently, it only logs exceptions if the command actually fails, but not when it is successful.

[2017-01-26 19:09] #22818 closed

[2017-01-26 19:09] nik9000 commented on #22818
I fixed it by being careful about getting the reader. The same fix that the `TermsAggregatorTests` uses.

master: 1baa884ab784c4bd78b719d1ea3b4f7fc42dc3bf
5.x:

[2017-01-26 19:42] Mpdreamz opened #22823 "IcuFoldingTokenFilter still accepts camelCase parameter"
https://github.com/elastic/elasticsearch/blob/master/plugins/analysis-icu/src/main/java/org/elasticsearch/index/analysis/IcuFoldingTokenFilterFactory.java#L48

https://www.elastic.co/guide/en/elasticsearch/plugins/current/analysis-icu-folding.html

[2017-01-26 19:51] bleskes commented on #22821
I would suggest WARN for the for allocate primary one..

[2017-01-26 20:10] s1monw commented on #22784
closed by 1ce8c01

[2017-01-26 20:10] #22784 closed

[2017-01-26 20:19] Mpdreamz commented on #22823
Same is true for the expert settings under https://www.elastic.co/guide/en/elasticsearch/plugins/current/analysis-icu-collation.html

Should we document these as snake case and deprecate the camelCase variants?

[2017-01-26 20:25] Mpdreamz opened #22824 "ICU Collation Token Filter missing documentation on rules"
The code mentions it either takes a `rules` or `language`/`country`/`variant` combination

https://github.com/elastic/elasticsearch/blob/master/plugins/analysis-icu/src/main/java/org/elasticsearch/index/analysis/IcuCollationTokenFilterFactory.java#L54

But the documentation does not mention these rules, are they deprecated?

[2017-01-26 20:45] anderssynstad opened #22825 "Inconsistent results with ingest pipeline _simulate"
**Elasticsearch version**: 5.1.1

**Plugins installed**: [none]

**JVM version**: openjdk-8-jre-headless:amd64 8u121-b13-0ubuntu1.16.04.2

**OS version**: Ubuntu 16.04.1

**Description of the problem including expected versus actual behavior**: Ingest pipeline appears to give inconsistent results given the following datasets:

SET 1:
[code]

SET 2:
[code]

Running SET 1 & 2 gives the expected resu

[2017-01-26 22:48] jaymode commented on #12792
+1 to remove the option of disabling HTTP (I was just about to open a new issue for this). With our continued work on making a REST client be the official Java client, I think this is the way to go.

[2017-01-27 01:02] ahuff44 commented on #16035
+1; I just spent an hour debugging before I realized that `client.bulk` was never calling my error callback and was instead returning error info in the response

[2017-01-27 02:21] PhaedrusTheGreek opened #22827 "line number in painless compile error is incorrect"
Given some script with a compile problem:

[code]

Only the following is included compile error - which doesn't have a correct line number:

[code]

[2017-01-27 02:57] MiLk commented on #22788
Same issue here.

It's probably related to the kernel.
See https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1647400

We are reverting to 4.4.0-57-generic.

[2017-01-27 04:28] bernielomax commented on #22779
@dadoonet thanks for the reply. The linked issue should do the trick. Do you know when it will likely be released? I see it was merged into master only a few hours ago.

[2017-01-27 05:53] dadoonet commented on #22779
I'm waiting for a review for branch 5.x.
I'm unsure yet which version will contain this. My bet is that you will have to wait for 5.3.0 but again I'm unsure ATM.

Closing your issue then as it will address your needs.

[2017-01-27 05:53] #22779 closed

[2017-01-27 06:28] bernielomax commented on #22779
Great. Thanks @dadoonet ! :+1:

[2017-01-27 07:09] humbapa commented on #22788
Thanks for the hint  :-)

I'm also going back to 4.4.0-57 from 4.4.0-59 and report on Monday whether I still see those OOM issues.

[2017-01-27 09:52] s1monw commented on #12792
I am +1 on this too. If somebody doesn't wanna expose stuff to the outer world they can just bind to localhost and they are good?

[2017-01-27 10:11] clintongormley commented on #22825
@anderssynstad thanks for reporting and for providing such a clear recreation

[2017-01-27 10:14] clintongormley commented on #22825
@talevy the syntax in SET 1 & 3 are incorrect, as `split` and `foreach` are in the same object - our parsing is not strict here and should complain

[2017-01-27 10:16] clintongormley commented on #22824
no they aren't deprecated, just not documented

[2017-01-27 10:17] bleskes opened #22829 "Make `ctx._version` immutable in update scripts"
Update script can access the current version of the document in question via `ctx._version`. I guess it's handy to expose it for debugging purposes and for completeness' sake.

That said the current logic allows to update it which leads to weird scenarios. For example:

[code]

Will totally ignore the version change and the doc version will be set to 2 (assuming first command created it).

With re

[2017-01-27 11:03] clintongormley commented on #22811
I agree with keeping YAML  - for some reasons, sysadmins seem to prefer it to JSON

The one I'm torn about is CBOR.  It's just one datapoint but (eg) the Perl CBOR module (written by the same author as the fastest JSON module) says that encoding CBOR is twice as fast as JSON, and decoding about 15-30% as fast. CBOR encoding is about 20% smaller than JSON.

This could have a significant impact on b

[2017-01-27 11:26] clintongormley commented on #22813
Hi @vsizov

Thanks for the issue, but I disagree with the conclusion:

The purpose of this page is to explain the difference between query and filter context only, not how scoring algorithms work, which is explained elsewhere.  This page is already long enough; adding more detail here will just make it harder to parse.

[2017-01-27 11:26] #22813 closed

[2017-01-27 11:46] javanna commented on #22811
I do not think it buys us much to remove just CBOR if we keep around yaml and SMILE. With the abstractions we have in place, once we introduce tests for Smile we can easily do the same for CBOR. Maybe keeping only Yaml could simplify things a bit as that would leave us without binary content types, yet the XContent abstraction would still be needed.

[2017-01-27 12:04] dadoonet commented on #22811
Is there a way to generate a Json, Smile, CBOR, Yaml whatever content from our REST test suite so we can choose randomly with which implementation we want to tun our integration tests?

Would that make sense to make sure we cover always all our APIs without needing to duplicate the scenarios?

[2017-01-27 12:45] javanna commented on #22811
Yes that is one of the options I had in mind. We would need to transparently convert requests before they get sent, and responses right after they get returned. That wouldn't cover 100% of what we need, but already a lot. We also have methods in our java api that allow to provide any content, which then gets converted to json internally, those would need to be tested separately.

[2017-01-27 12:53] clintongormley commented on #22811
btw re CBOR - I don't know how much difference it would make in the real world - I'd love to mock up a solution for #8481 and see if the difference is significant. If not, then we can can it.

[2017-01-27 12:59] bleskes opened #22831 "Grok Processor should complain about patterns it doesn't understand"
The following command (note the `UNKNOWN` pattern name):

[code]

results in the following error:

[code]

Note that the actual failure is nowhere to be found.  It also seems it gets all the way to evaluating the field values. IMO it should fail early and hard.

PS. This is on 5.1

[2017-01-27 13:17] janko-m commented on #13288
I would also like to add that we've experienced a significant slowdown in our test suite when migrating from 1.4 to 2.4, and setting `index.translog.durability=async` sped up the tests ~3x. So perhaps this setting should be recommended for running tests.

[2017-01-27 13:21] nik9000 commented on #22829
I think we should make version immutable for `_update` because I think messing with the version doesn't make much sense relative to itself. Because there is only one index you are dealing with.

For reindex this is by design. At the time I could think of several use cases. All of them only made sense when `dest`'s `version_type` is `external`. Say you are building an index that drops a bunch of fi

[2017-01-27 13:22] jpountz commented on #22817
We just discussed it in Fixit Friday and confirm this is not possible.

We wonder that there might be ways to find the relevant information in a different way but the abstract example makes it difficult to reason about potential alternatives. Could you provide a concrete example?

[2017-01-27 13:35] nik9000 commented on #22162
OK! I think I'm getting close to ready to be able to work on this. Are we ok with making sure we exposing the same API we expose to expressions to painless?

[2017-01-27 13:42] jpountz commented on #22776
We had a similar discussion with range queries at https://github.com/elastic/elasticsearch/pull/21972.

What we ended up doing was converting ranges on decimal values to equivalent ranges on integer types, for instance `{3.5 TO *]` would internally be converted to `[4 TO 8]` on a `long` field. I think we should do the same with exact matches, ie. converting to a long/integer when a lossless conver

[2017-01-27 13:43] dadoonet commented on #22800
Discussed during fix-it friday session, the initial reason we were supporting settings in both places was to run test and passing credentials in a specific `elasticsearch.yml` CI settings file which can contain the credentials for given platforms. But we are not using that actually so we can remove that support of settings on both places.

We just need to decide what are the settings which needs t

[2017-01-27 13:54] bleskes commented on #22829
On the other side, if I understand you correctly. You can only do it once. So if you want to do again you can't. IMO reindexing from the source index to remove a field when the target index was already built before should be done by dropping the target index and building it from scratch. Mucking with versioning leads to complex setups where people need to remember what the current version delta is

[2017-01-27 13:54] jaymode commented on #22769
Discussed in Fix it Friday, the plan forward is to:

1. Add deprecation logging for 5.x with non unicode encoding with a strict mode defaulted to off
2. Enable a strict mode in 6.0 by default and deprecate non-strict mode
3. Strict only for 7.0

Ultimately this plan allows us to provide notice to users, hopefully learn the encodings that are being used other than unicode, and allow users a way to

[2017-01-27 13:57] javanna commented on #22768
Discussed in FixItFriday, we decided to rephrase the error message and mention the two options: either enable fielddata or aggregate on a field of type keyword.

[2017-01-27 14:01] dadoonet commented on #22761
Discussed on FixIt friday session. We agreed that we should remove auto creation of S3 bucket and fails if it not exists.

[2017-01-27 14:02] jaymode commented on #22751
Will deprecate these in 5.x and remove support in 6.0. Looks like the analyze api's support for plain text has already been removed in 6.0

[2017-01-27 14:02] dadoonet commented on #22758
Discussed on fix it friday: let's remove the `region` setting and keep only the `endpoint` which is much more flexible.

[2017-01-27 14:20] javanna commented on #22811
Discussed in FixItFriday, we would like to remove support for CBOR, Smile and Yaml in the future, but we don't want to make this breaking change at the moment. We may reconsider deprecation in 6.x and removal in 7.0. We will investigate other ways to have better performance for `_bulk`, potentially a different endpoint accepting a different format that can be even faster than CBOR.

[2017-01-27 16:45] dadoonet commented on #22779
@bernielomax FYI Merged in 5.x branch with https://github.com/elastic/elasticsearch/pull/22819

[2017-01-27 16:49] martijnvg opened #22833 "Assertion tripping in InternalEngine#canOptimizeAddDocument(...)"
The assertion seems only to be tripping for index request without an id and when an index request is being retried:

[code]

I'm not sure how the version type gets set to external for primary operations, but it should end up in this state. On the application side the version type doesn't get set, but even it was set to EXTERNAL then  `IndexRequest#validate(...)` should have failed.

[2017-01-27 17:12] jdconrad commented on #22162
@nik9000 Not sure on the API exactly.  Expressions is limited because it can only handle double values, so that may not be the correct set of additional methods to provide.

[2017-01-27 17:20] jdconrad commented on #22827
We actually made the decision to make it character rather than line since that information is more helpful for most scripts since they are typically single lines.  I thought this was documented, but it's not, so I'll add it to the list of things that need documentation.

[2017-01-27 17:26] eskibars commented on #22162
I don't think we're in any obligation to reproduce the Expressions API, since the transition targets we've been focusing on are easing users migration from Groovy->Painless, not Expressions->Painless.  I've always found the Expressions date functions to be verbose and don't seem like the best fir for the string case, as @jdconrad points out.  I think we should focus on a few goals like being able

[2017-01-27 17:54] tdoman opened #22836 "Paging w/ multi_match on edge ngram produces duplicate docs"
As I fully described here:
https://discuss.elastic.co/t/paging-w-multi-match-on-edge-ngram-produces-duplicate-docs/71778

[2017-01-27 18:42] #22520 closed

[2017-01-27 19:51] jaymode opened #22840 "remove DocumentMapper#parse that is only used by tests"
While working on #22691, I noticed that there is a version of DocumentMapper#parse that is only ever used by tests, but is present in our main source code.

[code]

It seems like this method should be removed so we have a single parse method or moved to test code.

[2017-01-27 21:09] #22616 closed

[2017-01-27 21:28] talevy opened #22841 "GREP_OPTIONS='--color=always' breaks bin/elasticsearch"
**Elasticsearch version**: 5.1.1

**Plugins installed**: []

**JVM version**: 1.8.0_45

**OS version**: Mac OS Sierra

**Description of the problem including expected versus actual behavior**:

Some users place grep coloring options in their bash profiles to color matches in
grep responses. Elasticsearch relies on grep to help construct command-line arguments
for the java command that is executed

[2017-01-27 22:04] cjcenizal opened #22844 "Unhelpful grok error when grok pattern contains spaces around colons"
**Elasticsearch version**: 5.1.1

**Description of the problem including expected versus actual behavior**: A grok pattern with spaces around the colon delimiters causes an error, but the error doesn't explain what caused the problem.

To clarify, I added the spaces around the colons to make the pattern easier for me to read. I'm not arguing this should be allowed, just suggesting that the error s

[2017-01-27 22:52] rjernst commented on #22841
Isn't GREP_OPTIONS deprecated?

[2017-01-27 23:04] talevy commented on #22841
@rjernst that is what I found in the interwebs as well, but still operational in many systems today.

[2017-01-27 23:07] talevy commented on #22841
I understand if this is a noop since it is a very particular scenario for someone's custom bash hacks. It was an interesting enough debugging session I just experienced, that I thought it would help to at least document this potential situation somewhere

[2017-01-27 23:08] jasontedor commented on #22841
Duplicates #18644

[2017-01-27 23:08] #22841 closed

[2017-01-27 23:12] talevy commented on #22841
ah, thanks @jasontedor. didn't find that one before posting this. looks like that is settled.

[2017-01-27 23:37] rjernst opened #22845 "Investigate removing retries from s3 blob store"
The s3 client has a maxRetries setting, which is uses internally for retrying throttled requests. The setting is also read by the s3 blob store, and a while{try/catch} is used along with retries (but without backoff). It appears this outer retry mechanism may have existed for throttling before the sdk client did that, or also for eventual consistency. For the latter, this should no longer be a pro

[2017-01-28 03:05] abeyad commented on #22845
+1

Correct

[2017-01-28 12:34] konradr25 opened #22847 "Play Framework and java.lang.NoClassDefFoundError: org/jboss/netty/channel/ReceiveBufferSizePredictorFactory"
**Elasticsearch version**:

elasticsearch-5.1.2

**Plugins installed**: []

**JVM version**:
1.8
**OS version**:
Windows 10
**Description of the problem including expected versus actual behavior**:
I struggle with integration of Transport Client, version 5.1.2 and Play Framework (2.5.4). I get an exception when I want to create an instance of TransportClient.

**Steps to reproduce**:
 1. new PreBu

[2017-01-28 13:13] dadoonet commented on #22847
May be Play comes with another version of netty than the one expected here?

[2017-01-28 19:13] #22761 closed

[2017-01-28 19:54] rjernst opened #22849 "Add deprecations page to docs"
When adding the deprecated property to `Setting`s, we get automatic deprecation logging when the setting is used. The message states:

[code]

However, the breaking changes are not added until the feature is actually removed in the next major release, so a user seeing this message in 5.3 would have nowhere to see information about what should be used in place of the deprecated setting in that rele

[2017-01-29 09:30] javanna commented on #22811
Closing for now. We will reconsider this in the future.

[2017-01-29 17:03] SKumarMN opened #22852 "MLT Query Unlike clause issue"
**Elasticsearch version**: 5.0.2

**Plugins installed**: [ None]

**JVM version**: 1.8

**OS version**: Windows 7

**Description of the problem including expected versus actual behavior**:
The text/ document in "unlike" query is not influencing the MLT query

Data :

{ "index":  { "_index": "library", "_type": "book","_id":1 }}
{"title":"Magic Of Thinking Big", "description":"Millions of people th

[2017-01-29 22:34] trejkaz opened #22854 "FieldStatsResponse.getIndicesMergedFieldStatus returns unchecked FieldStats"
**Elasticsearch version**:

2.4.1, 5.1.2

**Plugins installed**: []

n/a

**JVM version**:

n/a

**OS version**:

n/a

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Have some code referencing FieldStatsResponse. e.g.:

            FieldStatsResponse response = getClient().prepareFieldStats()

[2017-01-30 05:30] ScionOfBytes commented on #11709
What's the status on this? I believe we've faced the same issue.

[2017-01-30 06:55] humbapa commented on #22788
With Ubuntu-Kernel 4.4.0-57 I no longer have those "Out of memory" issues.

Thanks for your help

[2017-01-30 06:55] #22788 closed

[2017-01-30 08:50] dadoonet commented on #22845
I agree. I'd just like to double-check with @tlrx as he introduced this feature with https://github.com/elastic/elasticsearch-cloud-aws/commit/cbe82d269f3af1cacb9360784e0772586dae7b5e

[2017-01-30 09:28] benaudiolock commented on #21283
We would certainly make use of it as well.

[2017-01-30 09:36] dadoonet commented on #22849
Big +1. I'm working ATM on deprecating `repositories.azure.*` global settings and I'm missing that part of the documentation.
I will add it as part of my PR.

[2017-01-30 09:42] jimczi commented on #22854
Thanks for the report @trejkaz
You are right, we should always return `FieldStats<?>`.

This is not possible, the returned object is a view per index of all field stats. The cast to `Long` is not permitted at this point so instead you could maybe just check the object returned by these functions?:
[code]

[2017-01-30 09:44] trejkaz commented on #22854
Ah... in the case of our example, we know it's a Long, because we'd only asked for one field which we know the type of. But `FieldStats<?>` would probably be fine too, at least we could remove the warning without funny tricks.

[2017-01-30 09:52] hanan-levy-sp commented on #22732
Any Thoughts?

[2017-01-30 11:08] janko-m commented on #14641
Just wanted to mention that I'm also having problems with this when upgrading from Elasticsearch 1.x to 2.x. Elasticsearch 1.x accepted floats with the `date_time` format, but now 2.x doesn't do that anymore, and I tried specifying `date_time||epoch_seconds`, but it still doesn't parse floats (where the part after decimal point represents milliseconds).

[2017-01-30 12:28] clintongormley commented on #22849
We do have a deprecations section per minor release, in the release notes, eg:  https://www.elastic.co/guide/en/elasticsearch/reference/5.2/release-notes-5.2.0.html#deprecation-5.2.0

So perhaps we should just change the wording to "See the release notes in the documentation for details"

[2017-01-30 12:41] clintongormley commented on #22852
The `unlike` parameter is used to ensure that any of the words listed are not used as `like` terms.  It doesn't exclude documents that contain those terms.

Also, in this example you are running MLT with far too few docs.  If you examine the query that is actually being run, you will see that it is only searching for `and` and `by`:

[code]

returns explanation:

    "(description:and description

[2017-01-30 12:41] #22852 closed

[2017-01-30 13:02] clintongormley commented on #22836
Hi @tdoman

This doesn't sound like a bug to me.  I think what you're seeing is "bouncing results" - documents in different shards are stored in different segments, which means that the scores are slightly different. If you use ?preference=$session_id or something similar to ensure that the same user always hits the same shard copy, this behaviour should disappear.

[2017-01-30 13:13] clintongormley opened #22860 "Centralise URL whitelisting"
Today we have URL whitelists for reindex and for URL repositories, we don't have them for S3, Azure, HDFS etc.

Instead, we should provide a centralised URL whitelist which can be used by all of these services.

[2017-01-30 13:14] clintongormley commented on #22800
I've opened an issue to create a centralised URL whitelist https://github.com/elastic/elasticsearch/issues/22860

[2017-01-30 13:35] danielmitterdorfer opened #22861 "Wrong config directory is picked up"
The packaging tests fail with:

[code]

The config directory is in `/etc/elasticsearch` but Elasticsearch picks up `/usr/share/elasticsearch/config`.

The problem has been introduced in https://github.com/elastic/elasticsearch/commit/aad51d44ab7363e53da773afa4707e0165eebda0#diff-192de7116527350709fbca18fe4d2087

Example build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+pa

[2017-01-30 14:18] anderssynstad commented on #22825
Worth noticing is that the training documentation and examples for "Advanced Elasticsearch: Data Modeling" should be updated as well. Around page 75 if I remember correct.

[2017-01-30 14:46] rjernst commented on #22849
@clintongormley Those are generated based on the `deprecation` label in github right?  IMO that is error prone. If we don't correctly label things, and we release, then there is nowhere to update/correct the missing deprecation documentation.  It is also harder for a user to have to click through PRs and read through possibly long comments there to figure out the proposed alternative.

[2017-01-30 15:15] danielmitterdorfer commented on #22861
@rjernst Could you please have a look?

[2017-01-30 15:22] tdoman commented on #22836
Indeed, I had thought the same thing as I had employed the "preference" setting for bouncing results before.  However, I was able to reproduce this problem on a single node system which is why I entered the issue.  Sorry, I forgot to add that detail.

[2017-01-30 15:46] jaymode opened #22863 "Store XContentType of source in translog and index"
As part of https://github.com/elastic/elasticsearch/pull/22691#discussion_r98413049, more automated content type detection places were discovered and one of these is in the Translog. When we store an Index operation in the translog, we only store the bytes and do not store the xcontent type so we rely on content type detection for replaying the translog.

We can modify the translog format to store

[2017-01-30 15:53] jaymode opened #22864 "Should reindex serialize partial index and search requests"
As part of https://github.com/elastic/elasticsearch/pull/22691#discussion_r98434085, we noticed some behavior that deviates from the normal assumptions of serializing requests when using reindex. @javanna said:

Based on that statement (valid means validate passes), the way reindex serializes a search request and index request violates the assumption. Should we consider removing the use of these p

[2017-01-30 16:16] droberts195 commented on #22438
Coming up with some sort of solution to this (though not necessarily what the title of the issue says) is very important for the user experience of the machine learning UI.

The problem for ml is that when you create a new job we're in the situation of knowing there are going to be certain fields in the results eventually, but not having any results at the instant the job is created.  We'd like to

[2017-01-30 16:24] nik9000 commented on #22864
I'm fine with this. I'm kind of burnt out on reindex so I'd prefer someone else do it, but I'm happy to review. Rather than copy and pasting all the data that reindex needs maybe we should make superclasses for IndexRequest and SearchRequest that reindex can share?

[2017-01-30 16:30] nik9000 opened #22866 "Should task descriptions be generated only when read?"
Right now most `Task`s generate their descriptions when the tasks are created. A few tasks generate the descriptions on the fly because the descriptions are large, but sometimes we don't catch all the large ones (see #22832). Maybe it'd be cleaner if *all* tasks always generated their descriptions on the fly. This would probably save a few allocations, especially given that most of the time the de

[2017-01-30 16:30] nik9000 commented on #22866
@imotov, what do you think?

[2017-01-30 16:37] apidruchny commented on #12461
Looks like include_in_parent and include_in_root are undocumented settings starting from v2.0. Should we add them back to the documentation? Is it a deliberate decision to not document them?

[2017-01-30 16:39] pnjc opened #22867 "Queries with Enums throws java.io.IOException: can not write type [Enum]"
**Elasticsearch version**: 5.1.2

**Plugins installed**: [no]

**JVM version**:1.8

**OS version**:Linux

**Description of the problem including expected versus actual behavior**:
I'm not sure if it is a bug,but at least under ES 2.3.5 Java client,it was able to write something like this

`public enum ExampleEnum
{
TEST1,TEST2
}`

`BoolQueryBuilder qb;
qb = boolQuery().must(matchQuery("enumFieldin

[2017-01-30 16:44] jpountz opened #22868 "Collapse aggregation packages"
The fact that every aggregation has its own package requires to make too many classes public. We should look into collapsing packages and making as many classes package-private as possible. Ideally we'd do this close to the 6.0 release to keep backporting easy.

[2017-01-30 16:48] imotov commented on #22866
@nik9000 This is a tough one. I was going back on forth on it for quite a while. Generating descriptions on the fly will force all tasks to keep pointers to their requests for the entire life of a task. I am not sure we want that for some very large requests (bulk api request on coordinating node for example) either.

[2017-01-30 16:53] #22301 closed

[2017-01-30 17:07] nik9000 commented on #22866
Yeah, we don't want to keep a reference to the request for the lifetimes if we can help it. But I think we should avoid allocating strings for the description unless we can help it too.... Hard indeed.

[2017-01-30 17:07] talevy commented on #22831
as of now, I believe if it doesn't match the correct format, it assumes it is just plain-old regex. what if  you wanted to match `{%UKNOWN:field}`, literally?

[2017-01-30 17:49] nik9000 commented on #22162
Ok. I'm finally starting to have a look. The first thing I notice is that something like this should work already:
[code]
[Here](https://www.elastic.co/guide/en/elasticsearch/reference/5.x/painless-api-reference.html#painless-api-reference-org-joda-time-ReadableDateTime) is a list of methods you can call on that `date`. Note that there is no `dates`. If you have a multi-valued field you are curren

[2017-01-30 18:05] #22521 closed

[2017-01-30 18:28] #22808 closed

[2017-01-30 18:30] n0othing opened #22870 "Document ability to reset index settings"
5.x offers the ability to reset both Cluster and Index settings (see https://github.com/elastic/elasticsearch/issues/6732) by submitting a `null` value for w/e setting.

We document this new behavior for [Cluster Update Settings](https://www.elastic.co/guide/en/elasticsearch/reference/5.1/cluster-update-settings.html) but we should also do this for [Update Indices Settings](https://www.elastic.co/

[2017-01-30 19:33] rjernst commented on #22863
Do you mean `_source`? Isn't this always json? Or, it should be?

[2017-01-30 19:57] javanna commented on #22863
I was not sure either, but as far as I can see, and I hope I am wrong, we simply store the bytes array of the incoming document, whatever content type that is. the conversion from a type to another happens when returning the source.

[2017-01-30 19:58] jaymode commented on #22863
Correct `_source`. I just traced through the code to be sure and we take the bytes from the user and store them in the source field without modification; if the source is filtered we still convert it back to the original type.

I think that's tricky since the idea of `_source` is to store the original document so it can retrieved later on. From our docs:

Maybe we intended it to always be `JSON` a

[2017-01-30 20:08] rjernst commented on #22863
The debate about whether `_source` should be the exact original bytes has been discussed in many issues. One in particular would allow us to remove the `stored` feature of mappings, and possibly compress better: #9034. I only bring this up because any solutions here seem complex (eg having an additional field `_source_content_type`..what happens if it is not correctly updated? What happens with re

[2017-01-30 21:28] jbaiera commented on #22301
@dadoonet I'm fine with this course of action. I think it makes sense if the general consensus is to move away from the pattern. Thanks much!

[2017-01-30 22:42] #22861 closed

[2017-01-31 09:23] tlrx commented on #22845
+1 too, I think we can remove the discuss label.

[2017-01-31 09:44] bleskes commented on #22831
@talevy sorry, I'm not following what you say. Also for my surprise ` %{\d+:field}` didn't seem to work, with no failure messages either.

[2017-01-31 09:45] #22746 closed

[2017-01-31 09:48] cbuescher commented on #22867
@pnjc thanks for reporting this. The reason that using Enums directly in ES 2.x java client worked was that requests were internally converted from the java to the representation on the Rest layer. This implicitly converted enums to their String representation, so the search was actually performed on that. Now (version >5) we send search requests from the transport client via the internal transpor

[2017-01-31 10:07] javanna commented on #22867
-1 on doing magic. I think we should only support registered types. The fact that enums previously worked was more a side-effect of how queries were parsed later. If we have to do something, I think we should rather fail when these non supported types are set rather than only when serializing them, which is a bit too late.

[2017-01-31 10:16] maddin2016 commented on #22860
Something like `node/cluster.whitelist` which is initialized at startup?

[2017-01-31 10:48] hecrogu opened #22880 "lt and gt with floats does not work."
**Elasticsearch version**: 5.1.2

**Plugins installed**: []

**JVM version**: 1.8.0_111"

**OS version**: Debian GNU/Linux 8

**Description of the problem including expected versus actual behavior**:
Range query does not work properly. I have an index with a float field, I called it 'analysis_time'.
I create a query to search between 2 values, using gte and lt. Here is my query:

[code]
I establis

[2017-01-31 10:50] damienalexandre opened #22881 "Range aggregation with no ranges throw a NullPointerException"
**Elasticsearch version**:  5.1.1

**Plugins installed**: [analysis-icu]

**JVM version**: Oracle Corporation/OpenJDK 64-Bit Server VM/1.8.0_111-internal/25.111-b14

**OS version**: Linux/4.8.0-34-generic/amd64

**Description of the problem including expected versus actual behavior**:

A NullPointerException is displayed to the user when the Range aggregation is malformed:

[code]

**Steps to repr

[2017-01-31 11:07] jimczi commented on #22880
We reserve github for bugs and feature request. You should ask your question in the forum directly:
https://discuss.elastic.co/c/elasticsearch

Regarding your issue 'lt' stands for "lesser than" so if you have `lt: 1485851711.686809` documents with that value are not returned. If you change `lt` to `lte` then the two documents should show up. Though you're not creating the documents correctly. Doi

[2017-01-31 11:07] #22880 closed

[2017-01-31 11:10] clintongormley commented on #22849
What would be nice is to have a single page in the docs for ALL deprecations in a major version, so that the user doesn't need to page through minor versions.

[2017-01-31 11:13] hecrogu commented on #22880
My bad writing the steps to reproduce, but i create rigth both documents, I edit the post. This is a bug @jimczi, try to reproduce.

[2017-01-31 11:28] hecrogu opened #22882 "Range query with floats fields does not work"
**Elasticsearch version**: 5.1.2

**Plugins installed**: []

**JVM version**: 1.8.0_111"

**OS version**: Debian GNU/Linux 8

**Description of the problem including expected versus actual behavior**:
Range query does not work properly. I have an index with a float field, I called it 'analysis_time'.
I create a query to search between 2 values, using gte and lt. Here is my query:

[code]
I establis

[2017-01-31 11:31] clintongormley commented on #22860
It'd be settings in the conf.yaml (like the whitelists today)

[2017-01-31 11:37] clintongormley commented on #22831
I think @talevy is saying that the correct format for grok patterns is `%{\w+:\w+}`, so `{%UNKNOWN:field}` doesn't match that pattern and is just treated as an ordinary regex.  Similarly `%{\d+:field}` doesn't match the pattern either.

[2017-01-31 11:41] maddin2016 commented on #22860
So there should be 3 tasks

1. Create this Setting

1. Change existing services to use this  setting

1. Make it available for Plugins (S3, Azure, ...)

What about the naming of this setting `node[or]cluster.whitelist`?

[2017-01-31 11:41] tlrx commented on #22766
@jomarl Thanks for reporting. I looked at what you describe and I'm surprised it even worked in previous versions of elasticsearch.

Search templates are designed to be self sufficient, ie you only provide some parameters and the whole query can be built out of them; but they are not designed to be kind of completed or altered using the Java API. In 5.x, many things were improved in search templat

[2017-01-31 11:42] jimczi commented on #22880
@hecrogu it's just that you should index your values with `double`s not `float`s, your numbers are not accurately encoded when translated to a float value.
For instance the value `1485851710.686809` is mapped to the float value: `1485851648` which explain why your query does not return the expected hits.

[2017-01-31 11:45] dadoonet commented on #22849
@clintongormley Agreed. Wondering if after all the same should apply to breaking changes. Like 5.3 BC contains also 5.2, 5.1 and 5.0 BC in a single page? I mean that it should not be difficult to include that.

I can rework this https://github.com/elastic/elasticsearch/pull/22856/files#diff-d36a4cd7a0ae09762fe9163c590a1cdc and make your suggestion about deprecation happen like what I proposed abov

[2017-01-31 11:48] clintongormley commented on #22882
Floating point numbers create dynamic fields of type `float`.  Your numbers are too big to fit into a float while retaining their precision, so they are rounded.  If you change your field type to `double`, then it works.

[2017-01-31 11:48] #22882 closed

[2017-01-31 12:14] clintongormley commented on #22836
Could you add a full recreation please?  What you're describing doesn't make sense given how doc collection works, so I'd like to see exactly what you're doing

[2017-01-31 12:17] clintongormley commented on #22825
/cc @pmusa @djschny

[2017-01-31 12:39] moghimire opened #22884 "Elasticsearch nested mapping query not working- JAVA?"
I've set my one field to nested type. I followed as per this documentation https://www.elastic.co/guide/en/elasticsearch/client/java-api/current/java-joining-queries.html#java-query-dsl-nested-query

Below is the snippet

[code]
While performing query

[code]
I get **[nested] nested object under path [price] is not of nested type.**

I'm using Elasticsearch 5.1.2

[2017-01-31 12:44] cbuescher commented on #22884
Elastic reserves GitHub for bug reports and feature requests but provides a [Discourse forum](https://discuss.elastic.co) and [IRC channels](https://www.elastic.co/community) for general questions. Since you already opened the same [thread there](https://discuss.elastic.co/t/elasticsearch-nested-mapping-query-not-working-java/73345), can we keep the discussion in one place please?

[2017-01-31 12:44] #22884 closed

[2017-01-31 12:44] djschny commented on #22825
The `ignore_failure` is a workaround until `ignore_missing` is available on the foreach process. See https://github.com/elastic/elasticsearch/issues/22147

[2017-01-31 12:46] moghimire opened #22885 "Elastic search query doesnt support enum?"
I've enum QFields like this:

[code]

And when i query like this
```QueryBuilders.boolQuery().must(QueryBuilders.multiMatchQuery("hello there", QFields.TITLE.toString(), QFields.DESCRIPTION.toString()));```

Instead of lowercase title, description it does query on Uppercase.

I'm using Elasticsearch 5.1.2

Thanks

[2017-01-31 12:52] javanna commented on #22885
This is not an Elasticsearch problem the default implementation of `toString` for enums is to return what `name()` returns, which is uppercase. I would add a `fieldName` getter to your enum or change its `toString` to return `fieldName` rather than `name()`

[2017-01-31 12:52] #22885 closed

[2017-01-31 13:05] clintongormley commented on #22825
@djschny this issue is about bad syntax, not about `ignore_failure` - @anderssynstad thinks that the training slides include that bad syntax.

[2017-01-31 13:22] djschny commented on #22825
I understand that @clintongormley. I was adding info as to why the `ignore_failure` is in there hiding the problem as @anderssynstad called out.

The training slides will be updated regardless.

[2017-01-31 13:25] nik9000 commented on #22860
I'm not sure about the name. One other task is to pull the whitelist
checking code to a common spot. I think we want the checking in reindex
applied to all the places where you can configure a URL over the API.

On Tue, Jan 31, 2017, 6:41 AM Martin Scholz <notifications@github.com>
wrote:

[2017-01-31 13:27] dam0vm3nt commented on #9571
Hello any news on this ? workaround ?

My use case is that I'm counting on documents aggregated by a nested field that can be missing, but  I need to know also how many of them miss that field.

[2017-01-31 13:27] nik9000 commented on #22746
Thanks!

On Tue, Jan 31, 2017, 4:45 AM markharwood <notifications@github.com> wrote:

[2017-01-31 13:54] dadoonet commented on #22860
I'm unsure about whitelisting in a global place for all the plugins TBH.

Let say I need to access:

* `http://foo.com` URL repo
* `/path/to` Shared FS
* `foo.bar` S3 bucket
* `foo.bar/container` Azure container
* `/hdfsservice/foo/bar` HDFS repo

What would the whitelist look like? Something like:

[code]

I'm afraid we can mix settings which does not express the same kind of "url".
Like what wil

[2017-01-31 14:35] nik9000 commented on #22860
I was thinking just URL whitelisting. I think we have enough URLs around to make that a thing.

Are the other settings all things we configure over the API? I guess they are.

[2017-01-31 14:41] jpountz opened #22886 "Make it possible to configure the number of mantissa bits on half floats, floats, doubles"
Say you want to store latencies in a field. Typical values are small but there are also some outliers. You have 3 choices:
 - `half_float`, but the fact that it has a very limited range of values (max value is 65504) means that outliers might be converted to `POSITIVE_INFINITY`,
 - `scaled_float`, but the outliers will unfortunately raise the number of bits for everyone in doc values due to how do

[2017-01-31 15:05] bleskes commented on #22833
I researched this and it seems it is cause by a concurrent index deletion and indexing. There is a short window (between successful indexing and translog sync) where index deletion (or shard close) can trigger a retry after the request has been prepared for replication. We are working on making the index request immutable which will fix this. Also, this is not really an issue (but it should be fix

[2017-01-31 16:09] dam0vm3nt commented on #9571
I've resolved by indexing an extra field used only for aggregation that is not nested and using the normal "missing". In case this may help.

[2017-01-31 16:13] jdconrad opened #22887 "Update Stored Scripts to Only Support the New Namespace"
As a follow up to #22206, the lang parameter should be completely removed from version 6.0 in places it was deprecated in 5.3 to support the new stored script namespace.

[2017-01-31 16:15] Mpdreamz opened #22888 "Windows 10 Insider build blocks on boot"
**NOTE** this is on the latest Windows 10 Insider build (1607 build 1519.1000) and JDK:

[code]

The latest Windows 10 stable version is **NOT AFFECTED** so no blocker for release.

Starting elasticsearch gets blocked on calling:

`getLoadAndScaleToPercent:29, Probes (org.elasticsearch.monitor)`

And more specifically invoking the `getSystemCpuLoad` method. This thread never completes.

This affec

[2017-01-31 16:33] talevy commented on #22831
@clintongormley, thanks for the clarification. That is exactly what I meant

[2017-01-31 17:08] mrec commented on #21703
I appreciate that the fix is tricky, but would it be possible to at least update the [documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html#_reserved_characters) to make it clear that these characters currently can't be escaped?

I lost a lot of time and hair to headscratching when I [first ran into this](https://discuss.elastic.co/t/surpr

[2017-01-31 17:10] nik9000 commented on #21703
Yes. I'll do that now. I hit the same problem many years ago as well. I remember writing a very perplexed comment about it.

[2017-01-31 17:28] nik9000 commented on #21703
I added a note to the docs. Hopefully this will help some. The docs should be updated in about 30 minutes.

[2017-01-31 17:34] PhaedrusTheGreek commented on #22827
Character number is fantastic.

[2017-01-31 17:39] mrec commented on #21703
@nik9000 - thanks!

BTW, the downsides of the quoting workaround @jpountz mentions are:

1. Where the term gets analyzed to multiple tokens it imposes a phrase ordering the caller didn't ask for, and
2. It disables any *other* special features (e.g. wildcards etc) in the term

If you're only using `standard`-ish analyzers (i.e. `<` and `>` are always nontoken chars) and you know you *never* want t

[2017-01-31 17:45] benavid commented on #19036
Do you know if this issue continue happens with elasticseach 2.4.1?, when I try to start elasticsearch I receive this error: Starting elasticsearch: Exception in thread "main" java.nio.file.FileAlreadyExistsException: /data/elasticsearch/marta/nodes/0/__es__.tmp

[2017-01-31 18:06] #21376 closed

[2017-01-31 18:08] PhaedrusTheGreek commented on #22720
My findings from working with painless a bit:

- You can't declare global scope variables in painless, like you can in groovy.  If you need to share variables, pass them in functions.  (not documented)
- All functions must be declared at the top of the script (documented)
- In compile errors, Character number is thrown, not Line number.  In vim you can do `:goto <character>` (not documented)
- in

[2017-01-31 18:10] jdconrad commented on #22720
@PhaedrusTheGreek Thank you for the feedback here!  Appreciate it.

[2017-01-31 18:15] dakrone commented on #22720
I wouldn't want Emacs to be left out, so:

[code]
(requires `groovy-mode` to already be installed of course)

[2017-01-31 18:28] rjernst commented on #22720
I would not do this. If we want syntax highlighting, then we should create our own filetype plugins for vim/emacs. Otherwise you will think eg a closure is valid, because of syntax highlighting, but painless does not have closures. Likewise, it would not properly format lambdas, since groovy does not support them.

[2017-01-31 18:29] nik9000 commented on #22720
I believe you can do it java style like `list.stream.forEach(e -> {code})`. Painless doesn't support groovy's funky rules around parameters.

[2017-01-31 18:37] clintongormley commented on #22888
@Mpdreamz when is this likely to be released?  we should mark this issue as a blocker for the appropriate time so that we don't forget to check the status of this issue

[2017-01-31 18:39] dakrone commented on #22720
Sure, I'll add this to my TODO list

[2017-01-31 19:06] clintongormley commented on #22438
@jimczi is working on a new field-capabilities API which will rely only on mapping, not on stats (or which docs are indexed). It will return field type and `is_aggregatable` and `is_searchable` only, with fields merged by type, index, or cluster.

[2017-01-31 19:39] PhaedrusTheGreek opened #22893 ""didn't store _source" when reindexing into ES 5.2"
- Occurs when reindexing from ES 1.7.5 -> 5.2
 - Does not occur with ES 1.7.5 -> 5.1.1

Steps to reproduce:

1. Index data into 1.7.5:
[code]

2. Spin up 5.2.0  and run reindex:

[code]

[code]

Results in:

[code]

[2017-01-31 19:57] Mpdreamz commented on #22888
Most likely with the "Creators Update" scheduled in April, I switched to Ubuntu for a while and will keep updating on the insider builds.

Will try and get an isolated reproduction going next week it may need to be reported to Oracle and/or Microsoft

[2017-01-31 20:06] bleskes commented on #22831
thx for clarifying @clintongormley . Sadly that was a typo on my end when I made the issue. `%{UKNOWN:field}` gives exactly the same behavior.

re `%{\d+:field}` -  I expected `%{.*}` to always be matched and it's content analyzed. In that sense I expected grok patterns to be a templating strings for regular expressions. Reading the logstash docs, I see it is not and people can used named matches

[2017-01-31 20:21] talevy commented on #22831
@bleskes makes sense, I'll make it do a better job during parsing

[2017-01-31 20:41] nik9000 commented on #22866
We talked a bit over on https://github.com/elastic/elasticsearch/pull/22832 and decided to make `Task#getDescription` abstract to force all implementers to think about it what the description should be and how long it will get and whether or not to make it on the fly.

[2017-01-31 20:49] jimczi commented on #22893
It's a side effect of a bug fix #22507, reindex does not explicitly request `_source` in the remote index (automatically add `_source:true` in the source like in 5.1). Though for cluster older than 2.0.0 we automatically add metadata stored fields (`ttl`, `parent`, ...) to retrieve. The combo makes a request that filters _source from the response.
The workaround is to add `"_source":true` in `sour

[2017-01-31 20:52] nik9000 commented on #22893
I'm happy to put together a fix sometime in the next few days. I'll have to dig up my old versions of elasticsearch and have a look.

[2017-01-31 21:23] jdconrad commented on #22720
@dakrone If/when you find the time to do this, maybe you can just pull from the existing grammar files to know what valid syntax is.

[2017-01-31 22:04] hailima opened #22896 "ElasticSearch 5.1.1 Cluster is slow and timeout"
**Elasticsearch version**:5.1.1

**Plugins installed**: [None]

**JVM version**:1.8

**OS version**: 101-Ubuntu SMP Tue Jul 15 17:58:37 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behavior**:

Hi,

I installed two-node ES 5.1.1 cluster, use Java client to create index, update its mapping and indexing sample data. From time to time, I got t

[2017-01-31 22:24] OmarDarwish commented on #22285
So what was the solution? We are seeing a simliar error message that is temporary removing our data nodes from our cluster:

[code]

[2017-01-31 22:41] bernielomax commented on #22779
Thanks @dadoonet I cant wait for it to be released. Im currently in a catch 22 between this issue and  https://github.com/logstash-plugins/logstash-output-http/issues/21 as logstash does not seem to be adhere to ssl_certificate_verification = false.

[2017-01-31 22:45] nik9000 commented on #22285
Upgrade to [5.1.2](https://www.elastic.co/downloads/past-releases/elasticsearch-5-1-2) or [5.2.0](https://www.elastic.co/downloads/past-releases/elasticsearch-5-2-0) which both have the fix.

[2017-02-01 08:25] clintongormley commented on #22896
Hi @hailima

Please ask questions like these in the forum instead: https://discuss.elastic.co/

The github issues list is reserved for bug reports and feature requests only.

thanks

[2017-02-01 08:25] #22896 closed

[2017-02-01 08:28] clintongormley commented on #22888
thanks @Mpdreamz

[2017-02-01 08:33] maddin2016 commented on #22860
I found that idea from @dadoonet nice to prefix each setting. This makes it a lot easier to separate and filter them. Is it ok to put this all into one PR?

[2017-02-01 09:25] sabi0 opened #22898 "Build tries to run Java 8+ 'jjs' command before checking the Java version"
Gradle itself was run on Java 8, but JAVA_HOME was pointing to Java 7.
The build failed with "Cannot run program "C:\applications\jdk1.7.0\bin\jjs" (in directory "C:\development\Projects\elasticsearch\benchmarks"): CreateProcess error=2, The system cannot find the file specified"

There is a check for minimal Java version with proper error message - see lines 130 and further in `BuildPlugin.groovy

[2017-02-01 09:55] sabi0 commented on #22898
I also think `findJavaHome()` in `BuildPlugin.groovy` should make use of `org.gradle.java.home` property. Rather than rely solely on JAVA_HOME environment variable.

This would allow more flexibility in specifying which JDK to use for building.
(via `gradle.properties` or with `-Dorg.gradle.java.home=/JDK_PATH` on the command line)

[2017-02-01 10:03] tomsommer opened #22899 "SecComp fails on CentOS 6"
CentoOS 6 does not (as far as I can research) support SecComp, but ES tries to use it anyway, and fails to start due to `bootstrap.system_call_filter: true`.

The only workaround currently is to disable `bootstrap.system_call_filter`

ES 5.2.0

[code]

[code]

[2017-02-01 10:05] tomsommer commented on #22406
#22452 did not fix it, I'm trying with `-Dio.netty.allocator.type=unpooled` now

[2017-02-01 10:41] cbuescher opened #22901 "Should we improve the way we compute ShardSearchLocalRequest#cacheKey"
This is a follow up issue to track a discussion I had with @javanna about how we currently generate the cache key for shard level search results.
The cache key currently consists of a complete deserialized bytes array of most of the ShardSearchLocalRequest members, including a deserialized version of the SearchSourceBuilder. This has led to some issues where seemingly "equal" objects didn't have t

[2017-02-01 11:46] cyrilcyril70 commented on #14607
Worked on my AWS Linux Machine

cluster.name: myES_Cluster
node.name: ESNODE_CYR
node.master: true
node.data: true
transport.host: localhost
transport.tcp.port: 9300
http.port: 9200
network.host: 0.0.0.0
discovery.zen.minimum_master_nodes: 2

I have tried with this on the elasticsearch.yml (key:value) and worked fine for me. But it takes 2 days to fix it :wink: :slight_smile: , going on with ES Do

[2017-02-01 11:55] cyrilcyril70 commented on #20723
Worked on my AWS Linux Machine

cluster.name: myES_Cluster
node.name: ESNODE_CYR
node.master: true
node.data: true
transport.host: localhost
transport.tcp.port: 9300
http.port: 9200
network.host: 0.0.0.0
discovery.zen.minimum_master_nodes: 2

I have tried with this on the elasticsearch.yml (key:value) and worked fine for me. But it takes 2 days to fix it :wink: :slight_smile: , going on with ES Do

[2017-02-01 12:06] cyrilcyril70 commented on #19868
Worked on my AWS Linux Machine

cluster.name: myES_Cluster
node.name: ESNODE_CYR
node.master: true
node.data: true
transport.host: localhost
transport.tcp.port: 9300
http.port: 9200
network.host: 0.0.0.0
discovery.zen.minimum_master_nodes: 2

I have tried with this on the elasticsearch.yml (key:value) and worked fine for me. But it takes 2 days to fix it :wink: :slight_smile: , going on with ES Do

[2017-02-01 12:06] cyrilcyril70 commented on #19987
Worked on my AWS Linux Machine

cluster.name: myES_Cluster
node.name: ESNODE_CYR
node.master: true
node.data: true
transport.host: localhost
transport.tcp.port: 9300
http.port: 9200
network.host: 0.0.0.0
discovery.zen.minimum_master_nodes: 2

I have tried with this on the elasticsearch.yml (key:value) and worked fine for me. But it takes 2 days to fix it :wink: :slight_smile: , going on with ES Do

[2017-02-01 12:10] dadoonet commented on #19868
@cyrilcyril70: You added this comment on discuss and at least on 4 issues.

What is your intention ?

[2017-02-01 12:42] jasontedor commented on #22899
This is operating as designed, and is [documented](https://www.elastic.co/guide/en/elasticsearch/reference/5.x/breaking-changes-5.2.html#_system_call_bootstrap_check). Your kernel does not support seccomp. Elasticsearch attempts to utilize seccomp by default (via the setting `bootstrap.system_call_filter`). Starting in 5.2.0, if you're in production mode, `bootstrap.system_call_filter` is enabled,

[2017-02-01 12:42] #22899 closed

[2017-02-01 12:56] gerson721 commented on #11432
+1, our project has a tree structure of products. Think of a finished product which is made of components/ingredients which are products themselves. We want to also recursively search products (finished products) of a certain type which have some sort of a tick of approval from a governing body.

[2017-02-01 12:58] jasontedor commented on #22847
I think that you have classpath problems. If you have additional questions, please ask on the [forum](https://discuss.elastic.co); Elastic reserves GitHub for verified bug reports and feature requests.

[2017-02-01 12:58] #22847 closed

[2017-02-01 13:43] sabi0 commented on #22866
@nik9000 In #22832 it was mentioned that `ReplicationRequest#getDescription` should be made abstract, not `Task#getDescription`. Which one is it then?

P.S. Even though `SearchRequest` generates task description lazily, the task keeps the reference for a (potentially) large `source` (and the original request). Shouldn't that be changed in a way similar to #22832 ?
(as far as I can tell this is the

[2017-02-01 14:23] PhaedrusTheGreek opened #22905 "slowlog settings should be dynamically updatable at the cluster level"
Currently there is no simple way to enable and disable slow logging for all indices.

If using the following cluster level settings settings in `elasticsearch.yml`, nodes must be restarted:

[code]

If setting dynamically at the index level, then templates and code must also be adjusted to have the new settings, which doesn't usually make sense:

[code]

Ideally, it would be great if we could do:

[2017-02-01 14:45] jjshoe commented on #21943
@rjernst if your apt repo is in an s3 bucket, and I believe it is, you should use deb-s3. It's awesome, and easy to use.

[2017-02-01 14:51] giorgosp commented on #22881
Hello @clintongormley @jpountz, I am looking for my first elasticsearch contribution!

However, I cannot reproduce this bug on my fresh elasticsearch build.
This is the response for `GET /`:
[code]

and this is what I get for the issue's request:
[code]
[code]
My `java -version` on `OS X 10.11.6`
[code]

I understand that my build is 1 version later, should I build the 5.1.1 version and check the

[2017-02-01 14:51] tomsommer commented on #22899
Fair enough, https://www.elastic.co/support/matrix might need an update then.

[2017-02-01 14:56] jasontedor commented on #22899
No, it doesn't. You can still run Elasticsearch on Centos 6, and we still support it on Centos 6.

[2017-02-01 15:00] jimczi commented on #22905
I don't fully understand what you're asking. These settings are per index so if you want to update the settings for all indices you can just do:

[code]

These settings are at the index level and since 5.x you cannot set index level settings in elasticsearch.yml.
So the best way to define values for all indices is to create a default template that contains these settings. Then when you want to upd

[2017-02-01 16:39] #22794 closed

[2017-02-01 16:42] maddin2016 commented on #22886
Hi @jpountz, do you mean something like this. For example we pass a param precision of 3, 4, 5, ...
[code]

[2017-02-01 16:43] jpountz commented on #22886
@maddin2016 I think you meant 6 digits on the last line, but that is the idea indeed.

[2017-02-01 16:47] jacktuck commented on #21291
Hi @areek Any updates? Had this made it into a minor release yet?

Thanks

[2017-02-01 16:51] jpountz commented on #22881
Did you test on master or the 5.x branch? If it does not reproduce on 5.x, then then 5.1 branch is indeed what I would look at next.

[2017-02-01 16:54] maddin2016 commented on #22886
Yeap, 6 digits :+1: . I would prefer to create an optional setting for types `float, double, half_float`, lets say `precision`.

[2017-02-01 16:55] nik9000 opened #22908 "Painless code generation error when returning nothing from a Function"
This blows up on the `Debug.explain`.

[code]

[2017-02-01 16:56] nik9000 commented on #22908
I mean, it should blow up, but it blows up with a verify error:
[code]

[2017-02-01 17:10] rjernst commented on #22898
Gradle uses JAVA_HOME, so it would have been running in java 7. If you have org.gradle.java.home set, then it will briefly start on that java from JAVA_HOME, and fork to the java that was specified.  This is how we test with java 9 (gradle running on java 8, JAVA_HOME set to java 9, which is what the compile/tests use, and why findJavaHome uses only JAVA_HOME, by design).

There isn't much we can

[2017-02-01 17:19] sabi0 commented on #22898
Fair enough.
But there _is_ logic to check the minimal Java version. But if the version is < than minimal that code will never be executed. Because the plugin will fail earlier while trying to _retrieve Java version_ (using `jjs` command).

In my case I was running Gradle from IDEA. And there is a separate 'Gradle JDK' setting there. So Gradle was running with Java 8 while JAVA_HOME was still poin

[2017-02-01 17:22] rjernst commented on #22898
This cannot work. JAVA_HOME must point to java 8 or later, because, regardless of which version of java gradle uses via org.gradle.java.home (which still must be java 8, if set), the java pointed to by JAVA_HOME is used to compile and test ES.

[2017-02-01 17:29] unassassinable opened #22909 "If I set discovery.zen.ping.multicast.enabled: False, elasticsearch fails to listen on 9200 & 9300 when starting."
node info:
[code]
**Problem:**
I currently only have 1 node in the cluster (still setting up).

Here is my elasticsearch.yml (with the offending lines commented):

[code]
If I start ES, netstat confirms java is listening on 9200 and 9300:
[code]
and curl results:
[code]
If I uncomment the 2 lines in my elasticsearch.yml file, and restart elasticsearch, the server never starts listening on 9200 or

[2017-02-01 17:30] sabi0 commented on #22898
You obviously know it better.
My point was that minimal Java version checking code does not make much sense since it needs that very same minimal version to just determine the version number for comparison.

[2017-02-01 17:34] rjernst commented on #22898
@sabi0 Let me see if I can do a preliminary check using gradle's builtin java version detection.

[2017-02-01 17:41] jasontedor commented on #22909
The setting `discovery.zen.ping.multicast.enabled` is not valid in Elasticsearch 5.x, multicast was relegated to a plugin in the 2.x series where it was deprecated, and then removed as a plugin in 5.x. Without this plugin, the setting doesn't exist and Elasticsearch will refuse to start if you try to use a setting that does not exist. If you check your Elasticsearch logs, you should see:

[code]

[2017-02-01 17:41] #22909 closed

[2017-02-01 17:46] unassassinable commented on #22909
I see.  How do 5.x clusters form without multicast being enabled?  In other words, is there a replacement setting?

[2017-02-01 17:51] jasontedor commented on #22909
They use [unicast discovery](https://www.elastic.co/guide/en/elasticsearch/reference/5.2/modules-discovery-zen.html).

[2017-02-01 18:00] unassassinable commented on #22909
Ah, OK, I I keep the line:
[code]
and only remove
[code]

Thanks!

[2017-02-01 18:02] jasontedor commented on #22909
You're welcome.

[2017-02-01 19:16] hailima commented on #22896
Thanks and will do. But, i am not sure that it's not a bug since I can constantly reproduce the issue.

[2017-02-01 19:53] rjernst commented on #22898
@sabi0 Using gradle's java version isn't possible, but I at least improved the error you see: #22911

[2017-02-01 20:51] seme1 opened #22912 "Autocomplete suggestion no longer removes duplicate entries as in ES 2.3 !!"
I relied on the autocomplete suggester in 2.3 to remove duplicate entries and provide unique suggestions of words/phrases. After upgrading to ES 5, I realized that the suggester is now document-oriented.  This changes the logic of the how it can be used with already-built systems. Also, it seems to me that a *feature* was removed from ES 2.3. In other words, this is not the upgrade I was expecting

[2017-02-01 20:53] seme1 commented on #22912
The "Duplicate filtering" feature outlined in the following article is no more in ES 5
http://rea.tech/implementing-autosuggest-in-elasticsearch/

I'll stick with ES 2.3 till a resolution for this missing feature is found.

[2017-02-01 20:59] huawangpp opened #22913 "Support for remote path in reindex api"
**Elasticsearch version**: 5.x

**Plugins installed**: []

**JVM version**:

**OS version**:

**Describe the feature**:
In the 5.x reindex api, support for remote is added, e.g,
POST _reindex
{
  "source": {
    "remote": {
      "host": "http://otherhost:9200",
      "username": "user",
      "password": "pass"
    },
...

However the host property is strictly enforced to three parts, scheme, hos

[2017-02-01 21:10] jdconrad commented on #22908
I think this may be the same issue that @polyfractal had at some point when he was working with Painless for a different project.  I'll have to check back through our conversations to see if I can find when he mentioned it.

[2017-02-01 21:37] nknize opened #22914 "Deprecate and remove distance_type parameter from geo_distance query DSL"
This is a follow up to #19846 for deprecating (5.x) and removing (6.0) the `distance_type` parameter from the `geo_distance` query dsl. The idea is to provide a single implementation that is consistent with how Lucene's `LatLonPoint` computes distances.

[2017-02-01 21:44] nknize commented on #20486
I'm coming back to address these loose ends. I have some in-flight tasks/PRs open that aim to clean up this whole distance mess. Once those are merged this will be fixed.

[2017-02-01 22:07] polyfractal commented on #22908
I was actually getting something slightly different.  I can't seem to find the full stack trace, but from our chat it was:

[code]

I'll see if I can recreate it for a proper bug-report, but I think it was something unrelated

[2017-02-01 23:18] giorgosp commented on #22881
Yes I was testing on master. I just checked 5.x, 5.1, 5.2 and it does reproduce on 5.1 only.
So I guess no further action is needed since it is ok on master and 5.x?

[2017-02-01 23:37] ndimiduk opened #22916 "ES + Spark: setting es.scroll.limit non-negative sometimes causes NPE"
**Elasticsearch version**: 2.3.3 (218bdf10790eef486ff2c41a3df5cfa32dadcfde)
**Elasticsearch Hadoop version**: elasticsearch-spark_2.10 2.3.3
**Spark version**: Apache Spark 1.6.3-bin-hadoop2.6

**Plugins installed**: [ kopf 2.0.1 ]

**JVM version**:
[code]
**OS version**: Ubuntu 14.04

**Description of the problem including expected versus actual behavior**:

Setting a non-negative value for `es.s

[2017-02-02 00:01] jasontedor commented on #22916
Please reopen this on the Elasticsearch Hadoop repository.

[2017-02-02 00:01] #22916 closed

[2017-02-02 00:09] sherry-ger opened #22917 "Z values support to geo_point and geo_shape"
**Describe the feature**:

Add the ability to store and retrieve z values with geo_points and geo_shapes, not necessarily for the analytics portion of things. Similarly, add the ability to store and retrieve M (measure) and W (weight) values with point and shape vertices.  The values are needed (stored and retrieved) when rendering in 3D and performing 3D analytics on the client side after the es

[2017-02-02 00:09] kapitanluffy commented on #22899
I also encountered this error. I have 2 vms both using centos6.  vm1 has elasticsearch, kibana and xpack. vm2 only has elasticsearch and kibana. vm2 has the errors while vm1 doesn't. I uninstalled x-pack and it still doesn't show the error in vm2. note that I cloned it from the same base vm.

[2017-02-02 00:18] ndimiduk commented on #22916
Okay, opened https://github.com/elastic/elasticsearch-hadoop/issues/925

[2017-02-02 00:27] jpountz commented on #22881
Good to know that issue is already fixed in 5.2! Thank you for investigating @giorgosp, we appreciate! I will close this issue now.

[2017-02-02 01:09] nik9000 opened #22919 "Remove `ScriptDocValues#getValues`"
I expect `ScriptDocValues#getValues` was added for backwards compatibility a long time ago but at this point I don't think we need it. At this point everything every script that does `doc.foo.values.something` can do `doc.foo.something` instead.

Should we drop `ScriptDocValues#getValues` in 6.0?

[2017-02-02 02:07] nik9000 opened #22920 "Should reindex-from-remote allow indexing lots of indices into local indexes with the same name?"
Right now reindex-from-remote only indexes into a single destination index by default. You can use [this](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-reindex.html#_reindex_daily_indices) technique to make it write into indices with a different name, but you *can't* get it to write into exactly the same index name. The script doesn't support that. Should we do *something* t

[2017-02-02 02:09] nik9000 commented on #22920
Personally I wouldn't want to use this feature. If I had many indices that I wanted to reindex-from-remote I'd write a bash script to reindex them one by one. That way I could see progress and parallelize them or whatever. I've been known to write some pretty fancy (still horrible) bash scripts for this kind of thing....

[2017-02-02 02:32] nik9000 commented on #22899
Maybe we should suppress the stack trace here, leaving the warning. Maybe even explaining that elasticsearch will still run just fine but doesn't have the extra fork protection.

[2017-02-02 02:35] nik9000 commented on #22908
That error *shouldn't* escape the node. It is supposed to be an implementation detail of `Debug.explain`. Uncatchable, invisible, and final. I was using it a bunch today and, other than this issue it was working pretty well.

[2017-02-02 02:38] nik9000 commented on #22913
Is everything in elasticsearch prefixed with some path? Like `curl -XGET proxy/elasticsearch` gets root url and `curl -XPOST proxy/elasticsearch/test/_search` is how you'd do a search? If so, path prefix wouldn't be too hard to add.

[2017-02-02 02:57] #22162 closed

[2017-02-02 03:26] jasontedor commented on #22899
I don't think we should suppress the stack trace (there's a few different ways this can fail). We say this in the tail of the logs:

[code]

And the [bootstrap check docs](https://www.elastic.co/guide/en/elasticsearch/reference/5.2/system-call-filter-check.html) say this:

[2017-02-02 08:22] tomsommer commented on #22899
Well, 'at your own risk' makes you go looking for a way to make system call filters work on CentOS 6, which it can't.

You will have _all_ CentOS 6 users setting `bootstrap.system_call_filter` to false now, and forgetting to unset it when they upgrade to CentOS 7+.

Just my two cents :)

[2017-02-02 09:03] sabi0 commented on #22898
By the way `jrunscript -f es-gradle-tmp.js` works the same as `jjs es-gradle-tmp.js` and is available even on Java 6.

[2017-02-02 09:06] sabi0 commented on #22898
Moreover, you could do even this:
`jrunscript -e 'print(java.lang.System.getProperty("java.specification.version"));'`
and don't bother with creating / deleting temporary files.

[2017-02-02 09:37] loekvangool opened #22922 "elasticsearch-plugin remove without plugin name fails ungracefully"
**Elasticsearch version**: 5.2.0

**Plugins installed**: [x-pack]

**JVM version**: java version "1.8.0_73"

**OS version**: OSX

**Description of the problem including expected versus actual behavior**:
`elasticsearch-plugin remove` does not fail gracefully, because it does not check for the presence of a `plugin-id`.

[code]

Meanwhile, these use cases all fail with a good error message:
`elasti

[2017-02-02 09:54] jimczi commented on #22881
@giorgosp I don't think it's resolved in 5.x nor master. The only difference with 5.1 is that you need to have at least one document with the range field to fail the query. The following recreation for instance fails in 5.1, 5.2, 5.x and master:

[code]

[2017-02-02 09:57] clintongormley opened #22923 "Don't allow `include_in_all` in new indices"
You can no longer create the `_all` field in new indices in 6.0, so we should no longer accept the `include_in_all` mapping parameter, either at the field level or at mapping level.

These parameters should be deprecated in 5.x

[2017-02-02 09:57] clintongormley commented on #22923
@dakrone please could you take a look

[2017-02-02 10:14] olivere commented on #21500
Hmm... wasn't this fixed in Lucene 6.4.0 (which v5.2.0 is using)? Is it correct this has been relabeled to v5.2.1?

[2017-02-02 10:18] clintongormley commented on #21500
thanks @olivere - relabelled and closing as fixed by https://github.com/elastic/elasticsearch/pull/22724

[2017-02-02 10:18] #21500 closed

[2017-02-02 10:49] maddin2016 commented on #22886
Hi @jpountz, one question i have. We can't make a `float` smaller as `4 byte` or a double smaller as `8 byte`, right? If i understand you correctly we just round up/down and lucene take care of storing it as small as possible.
For example `1.4` is storing internaly as `1.399999976158142`.
So we rounded to `1.390000000000000`?? Or do we search search for the nearest float with trailing zeros which

[2017-02-02 10:50] clintongormley commented on #22913
a path prefix is supported by most of the REST clients too (including the Java REST client)

[2017-02-02 10:53] clintongormley commented on #22920
I like the ease of use of reindexing all indices to  a new cluster, but I think i'm persuaded by your argument:

[2017-02-02 10:54] clintongormley commented on #22919
+1 (with appropriate deprecation logging)

[2017-02-02 10:56] clintongormley commented on #22917
@nknize what are your thoughts about this one?

[2017-02-02 11:02] sabi0 commented on #22898
Here
[code]

But you'd then have to 'double-escape' the double quotes in the scripts:
`String versionScript = 'print(java.lang.System.getProperty(\\"java.version\\"));'`

[2017-02-02 11:03] clintongormley commented on #22912
@seme1 this change was a requested feature.  The design of the new completion suggester is significantly different to what existed before - a suggestion maps to a single document now. This isn't going to change.

I'm afraid your only option is to remain on 2.3 until you've had time to rework your application.

[2017-02-02 11:09] clintongormley commented on #22905
Agreed - we don't want to make these settings cluster level

[2017-02-02 11:09] #22905 closed

[2017-02-02 11:19] Nysosis opened #22925 "Range types causing `GetFieldMappingsIndexRequest` to fail due to `NullPointerException` in `RangeFieldMapper.doXContentBody` when `include_defaults=true` is on the query string"
**Elasticsearch version**:
[code]

**Plugins installed**:
None (Unless Kibana is considered a plugin, in which case Kibana v5.2.0)

**JVM version**:
[code]

**OS version**:
Vagrant VM running the `hashicorp/precise64` image - `A standard Ubuntu 12.04 LTS 64-bit box.`

**Description of the problem including expected versus actual behavior**:
When trying to match indices in kibana, my index is not r

[2017-02-02 12:09] sabi0 commented on #22898
By the way, the 'Java 1.8 or above is required ...' error message could mention JAVA_HOME.

Otherwise it might be not so clear where the the wrong version comes from.
E.g. when running Gradle from IDEA (with Java 8) it only shows the exception message, not the 'Elasticsearch Build Hamster' output before it.

[2017-02-02 12:16] jakommo opened #22926 "5.x apt repository does only offer the latest package version"
**Elasticsearch version**: 5.x

**Plugins installed**: -

**JVM version**: -

**OS version**: Tested on Ubuntu 16.04, but should apply to all Debian based distros.

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1. Add the [apt repository](https://www.elastic.co/guide/en/elasticsearch/reference/5.2/deb.html)
 2. Try to install a version that is

[2017-02-02 12:19] jasontedor commented on #22926
Duplicates #21943

[2017-02-02 12:19] #22926 closed

[2017-02-02 12:45] ahr12 opened #22927 "Not enable to use Java API for create a Graph"
ElasticSearch - 5.1.2
Kibana - 5.1.2
Java 1.8 oracle
OS- Ubuntu 14.04
Hello,
I am new in ElasticSearch. I am trying to create the graph of my data file and I already make a graph using the Kibana but edges do not connect properly.Can you tell me the query for making a graph in ElasticSearch and it will be good if I get some examples?

[2017-02-02 13:19] dadoonet commented on #22927
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2017-02-02 13:19] #22927 closed

[2017-02-02 13:41] tlrx opened #22928 "Improve ElasticsearchException metadata rendering and parsing"
When rendered as `ToXContent`, ElasticsearchException can print out additional metadata using the `metadataToXContent(XContentBuilder builder, Params params)` method. For example, this is used by parsing exceptions to report the line & column of violations or by circuit breaker exceptions to report an exceeded limit. Other exceptions like `SearchPhaseExecutionException` also prints out complex obj

[2017-02-02 13:47] XANi opened #22929 "[deb] Unable to install previous package version when using artifacts.elastic.co"
Current repo ( ```https://artifacts.elastic.co/packages/5.x/apt stable main```) contains only latest version of package which means anyone that is on older version (either on purpose, or waiting for maintenance window to upgrade) won't be able to install new node or reinstall existing one. IMO `5.x` repo should contain all released 5.x version, just like the download page

[2017-02-02 13:52] jasontedor commented on #22929
Duplicates #21943

[2017-02-02 13:52] #22929 closed

[2017-02-02 13:57] jforest commented on #21943
Is there any chance this will be fixed soon? 5.2.0 just came out and removed my ability to install 5.1.2 :(

[2017-02-02 14:12] jasontedor commented on #21943
You can download the deb [manually](https://www.elastic.co/downloads/past-releases/elasticsearch-5-1-2).

[2017-02-02 14:15] jforest commented on #21943
Yes, but that breaks my automation

[2017-02-02 14:19] jasontedor commented on #21943
Sure, but you can automate downloading and installing it. 😇

Do not take this to mean that we are not going to fix the problem. We are going to fix the problem. I'm just offering you solutions for the problem that exists today in the meantime.

[2017-02-02 14:20] jjshoe commented on #21943
@jasontedor I think the frustration for me is that it only takes five minutes to fix what is a relatively painful issue.

[2017-02-02 14:21] Mpdreamz commented on #22888
w00t, it automagically fixed itself today `15025` no longer exhibits this issue.

[2017-02-02 14:21] #22888 closed

[2017-02-02 14:24] jasontedor commented on #21943
I know that this issue is very frustrating, I'd be frustrated by it too if I were on your side. However:

This assumption is incorrect.

[2017-02-02 14:27] Xylakant commented on #21943
as a workaround, hosting a private mirror of the repo should be relatively straightforward.

[2017-02-02 14:29] jforest commented on #21943
Yes, that is as well, I was just surprised you aren't keeping old versions around.  I didn't' want to create my own private mirror for dependencies at this stage, but clearly I have to

[2017-02-02 14:30] jjshoe commented on #21943
@Xylakant yeah, it took me five minutes to set up a mirror, that's how I know it's not that difficult to fix.

[2017-02-02 14:31] jjshoe commented on #21943
1) Create a new bucket in s3
2) Have CI fetch the deb file
3) Have CI use deb-s3 to upload it
4)...
5) Profit.

Settings up deb-s3 on CI is simple, install ruby, gem install deb-s3.
Done.

[2017-02-02 14:32] nik9000 commented on #21943
Hey! So I'm going to work on this soon-ish. Like, when I finish my queue of things. Probably Monday-ish. I'll have a look at the options people have suggested. If anyone has any other suggestions please post them.

[2017-02-02 14:33] Xylakant commented on #21943
you're talking to the wrong person here - I'm just another user that's trying to be helpful.

[2017-02-02 14:38] jforest commented on #21943
Sorry @Xylakant   I don't know who the players are here :)  I am glad to see this is getting some traction though, and yes, I will be creating my own local repository of our dependencies as well

[2017-02-02 14:41] Xylakant commented on #21943
@jforest The ones helpfully marked with "member" or "contributor", though I must admit that github could make that more obvious ;)

[2017-02-02 14:44] jforest commented on #21943
@Xylakant ah yes, I see that light gray tag now.  Missed it before. Thanks!

[2017-02-02 14:47] jasontedor commented on #21943
We appreciate the suggestion but that is not how we are going to fix this. The production of the repository is built into the unified release process that we have for all products across the stack. To be clear, all products are affected by this right now. Fixing this involves changing our unified release process which requires a fair amount of testing.

[2017-02-02 14:53] XANi commented on #21943
Have you looked into https://www.aptly.info/ ? It has pretty comprehensive repository management, we use it for both mirroring external repos and for our own private packages. S3 is also supported, altho I haven't used that particular feature

[2017-02-02 14:56] jasontedor commented on #22899
Okay, but at least they are aware of the problem whereas they weren't before since we silently failed.

[2017-02-02 14:58] fabiankessler opened #22932 "Javadoc: invalid code sample in XContentParser"
https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/common/xcontent/XContentParser.java

Says:

     XContentType xContentType = XContentType.JSON;
     XContentParser parser = xContentType.xContent().createParser("{\"key\" : \"value\"}");

But this does not compile.
This works:

    XContentType.JSON.xContent().createParser(NamedXContentRegistry.EMPTY, "myjso

[2017-02-02 15:02] nik9000 commented on #22932
You shouldn't need `getBytes`.... I'll fix the javadoc and comment on the SO question.

[2017-02-02 15:30] epixa opened #22933 "Include and exclude patterns in visualizations throw an error"
**Elasticsearch version**: 5.2.0

As of 5.2.0, using an object syntax for `exclude` in a terms aggregation will result in a 400 `illegal_argument_exception` error.  The exact same query works in 5.1.2.

Example _msearch request body (taken directly from Kibana):
[code]

Response body:
[code]

This was originally filed against Kibana: https://github.com/elastic/kibana/issues/10153

@javanna believe

[2017-02-02 15:54] jpountz commented on #22933
Good catch. It seems that this `exclude/pattern` syntax has been undocumented since 2.0, causing it to not be tested, but in the meantime we did not deprecate it either. I think we should add it back to 5.x to not break users in a minor release with a deprecation notice recommending to just do `exclude: apollo` instead.

[2017-02-02 15:56] epixa commented on #22933
++

[2017-02-02 16:06] nik9000 commented on #22888
Nice!

On Thu, Feb 2, 2017 at 9:21 AM Martijn Laarman <notifications@github.com>
wrote:

[2017-02-02 16:46] #22893 closed

[2017-02-02 17:24] Tobion commented on #21312
I can confirm @vincentfretin. Source filtering on inner hits is bugged:

- Using the short source filtering syntax creates an error
- Using `"_source": { "includes":["uid"] }` returns an empty _source even when the field exists
- Using "_source": { "includes":["uid"], "exludes":["foo"] }` returns the full _source and ignores the excluded field.

Tested with version 5.0.2 and 5.1.2

[2017-02-02 18:06] PhaedrusTheGreek opened #22937 ""Failed to clear scroll" when reindexing from 1.x to 5.2.0"
**Environment**:
Reindexing from ES 1.7.5 -> ES 5.2.0

**Description**:

This error message is output repeatedly during reindex.  The reindex can complete successfully, but perhaps not efficiently.

[code]

**Notable**:
- Problem does not happen with 1.x -> 5.1.x
- Problem does not happen with 2.x -> 5.2.0

[2017-02-02 18:13] nik9000 commented on #22937
I saw it today. This comes from a fix we did in 5.2 where we were more careful to actually clear the scroll, I think. I'll investigate, but I believe it can safely be ignored.

[2017-02-02 18:35] imotov opened #22938 "UpdateByQueryWhileModifyingTests.testUpdateWhileReindexing test failure"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.x+multijob-unix-compatibility/os=sles/495/console

[code]

[2017-02-02 19:05] pkbelidha opened #22941 "Elasticsearch cluster status RED and not responding"
and here is the status I can see
{
  "cluster_name" : "elasticsearch-major-qa",
  "status" : "red",
  "timed_out" : false,
  "number_of_nodes" : 9,
  "number_of_data_nodes" : 5,
  "active_primary_shards" : 14718,
  "active_shards" : 29436,
  "relocating_shards" : 0,
  "initializing_shards" : 0,
  "unassigned_shards" : 8220,
  "delayed_unassigned_shards" : 0,
  "number_of_pending_tasks" : 0,
  "num

[2017-02-02 19:07] pkbelidha commented on #22941
Hi friends,

My Elastic search cluster is not responding and status is RED from last few days. It is not able to allocate the shards which are unassigned. This issue started when I first restart the primary instance and I am also not able to delete the shards which are unassigned. Can you please help

[2017-02-02 19:29] #22932 closed

[2017-02-02 19:56] jasontedor commented on #22941
Please open a topic on the [forum](https://discuss.elastic.co); Elastic reserves GitHub for verified bug reports and feature requests and provides the forum for general help.

[2017-02-02 19:56] #22941 closed

[2017-02-02 20:42] spalger opened #22943 "Support Line-delimited JSON Content Type"
Looks like I procrastinated weighing in on #22691 for too long.

The elasticsearch-js client has been sending the `Content-Type` header forever, but users started to complain about sending invalid JSON with the JSON content type (see https://github.com/elastic/elasticsearch-js/issues/296) a couple years ago. Because of this we started using the `application/x-ldjson` content type for line delimite

[2017-02-02 20:54] jaymode commented on #22943
To be clear, `elasticsearch-js` would send `application/x-ldjson` allowed for requests like bulk, mget, msearch. For regular requests with content like search, it sends `application/json`. Is that correct?

[2017-02-02 21:06] pickypg commented on #22943
(just so you don't get heads-down, `_mget` is actually valid JSON)

[2017-02-02 21:19] bra-fsn opened #22944 "Layered aliases"
To help reindexing data in elasticsearch without a downtime it would be good to have layered aliases.
This alias could have an index in the upper layer, which means if there is data in the upper layer, it always wins over the lower layer.

If index A is the lower layer and index B is the upper:
- issuing a get to the alias would first check the doc in B -returning it if it's present- and if nothin

[2017-02-02 22:53] #22925 closed

[2017-02-02 22:58] giorgosp commented on #22881
Ok, I am checking it

[2017-02-02 23:50] huawangpp commented on #22913
@nik9000, the url is like http://host:port/path for us. There is no additional elasticsearch needed in the url, e.g,  curl -XPOST proxy/test/_search

[2017-02-03 00:39] #22922 closed

[2017-02-03 01:14] jaymode commented on #22943
@spalger I opened #22947. I did want to note that the latest spec uses `application/x-ndjson` instead of `application/ld-json`, which was the proposed value in draft 1 of the spec. The comments in the code in the PR have links to this.

[2017-02-03 01:41] giorgosp commented on #22881
Ok, it fails  if the range aggregation query is invalid and the "field" value is an existing field inside the document (changing "field": "number" to "field": "number1123" doesn't reproduce the issue).

I will keep working on it in my spare time but since I am also trying to familiarize myself with the codebase, if someone else wants to fix it faster than me then it is ok.

[2017-02-03 02:24] pav-1 commented on #22792
Hello,  I'm looking for my first contribution to elasticsearch. I'll take it up.

I'm familiarizing myself with the code base.
So, hope it doesn't stop anyone else from coming up with a fix before I do!

[2017-02-03 02:29] bifenghui commented on #21932
what answer   about this question ？

[2017-02-03 06:33] rjernst commented on #22898
@sabi0 Thank you! I had never heard of `jrunscript`. I like that much better.

[2017-02-03 06:39] ahr12 opened #22951 "Graph Java API not working"
I use graph Java API. but I am getting the NullPointerException Errors.

import java.net.InetAddress;
import java.util.Collection;

import org.elasticsearch.client.transport.TransportClient;
import org.elasticsearch.common.settings.Settings;
import org.elasticsearch.common.transport.InetSocketTransportAddress;
import org.elasticsearch.graph.action.GraphExploreAction;
import org.elasticsearch.graph

[2017-02-03 06:58] #22898 closed

[2017-02-03 07:59] seme1 commented on #22912
How to "rework my application" ? I am relying on elasticsearch to give users suggestions on what terms/phrases to type when they search. I don't want the auto complete suggestion to give results pointing to individual documents, but rather to the most common/important terms/phrases.

[2017-02-03 08:16] clintongormley commented on #22912
This was never the intention of the completion suggester - it has never favoured the most common words etc.  It is a prefix suggester: it looks at the prefix you've typed in and finds completions from a finite list of strings with exactly that prefix.

If you want to use the suggester to suggest search terms which may be duplicated across documents, then you need to index those search terms in a s

[2017-02-03 08:18] clintongormley commented on #22951
@markharwood could you take a look please?

[2017-02-03 08:27] clintongormley commented on #22943
@elastic/es-clients - heads up about using `application/x-ndjson` for bulk and msearch APIs

[2017-02-03 08:34] sabi0 commented on #22898
FYI: When I was trying `jrunscript` approach on Windows (with Gradle 2.13) I discovered that quotes in the arguments weren't escaped. So build would try to run the following command:
`bin/jrunscript -e "print(java.lang.System.getProperty("java.version"));"`
And it would fail with exit code 10.

To fix this I had to double-escape the quotes myself (as one escaping level is removed by Groovy):
[code

[2017-02-03 08:42] karmi commented on #22943
@clintongormley I can't change headers on the fly for a specific API when the client has been already initialized. Can we also support `application/json` there?

[2017-02-03 08:44] clintongormley commented on #22943
@karmi it is still supported.  but eg @HonzaKral wanted a correct content-type header for bulk, so now he can

[2017-02-03 08:49] karmi commented on #22943
@clintongormley Great, thank you!

[2017-02-03 09:01] clintongormley commented on #22944
Hi @bra-fsn

Thanks for the suggestion but we've had similar proposals in the past and decided against all of them.  The model you propose is very use-case specific and is prone to race conditions and lots of hidden bugs.  We are not going to complicate aliases like this.

Instead, you should keep using your original index during reindexing and make multiple passes to ensure that all changes are c

[2017-02-03 09:01] #22944 closed

[2017-02-03 09:03] maxcom opened #22952 "Deadlock on aggregation in 2.x"
**Elasticsearch version**: 2.3.4 and 2.4.3

**Plugins installed**: None

**JVM version**: OpenJDK 1.8.0.101-3.b13

**OS version**: CentOS 6.8

**Description of the problem including expected versus actual behavior**:
Search threads became completely locked up sometimes. All search threads have the same track trace. No progress is made until we restart Elasticsearch.

We seen this problem on 2.3.4

[2017-02-03 09:12] clintongormley commented on #22952
@maxcom could you provide us with the aggregations that you are running please?

[2017-02-03 09:22] walleiptXX opened #22953 "gradle compile elasticsearch code is fail"
**Elasticsearch version**: v5.2.0

**Plugins installed**: None

**JVM version**: OpenJDK 1.8.0_121

**OS version**:centos 7

**Description of the problem including expected versus actual behavior**:
gradle compile elasticsearch code is fail, code branch is master 。

**Steps to reproduce**: gradle build --stacktrace

**Provide logs (if relevant)**:
`
[root]# gradle build --stacktrace
:buildSrc:comp

[2017-02-03 09:24] maxcom commented on #22952
I can't find exact query that causes the problem. I'll add more logging to our application and wait for next reproduction.

[2017-02-03 09:29] jpountz commented on #22952
The state of the thread is runnable, so I suspect this is not really a deadlock, but rather a memory pressure issue: so much time is spent doing garbage collection that the application does not seem to make any progress. Do you have some monitoring data of garbage collection activity / memory usage of the JVM?

[2017-02-03 09:33] maxcom commented on #22952
I do not think that it is a memory issue. CPU is not busy at all; we see no GC activity in our logs. And no progress is made until we restart Elasticsearch (for ~30 minutes).

[2017-02-03 09:36] bra-fsn commented on #22944
Hi,

I'm sad to hear that. This way, it's impossible to really reindex without downtime, even with the changes api.
But of course I agree that this is a hard task.

Thanks for the reply.

[2017-02-03 09:38] maxcom commented on #22952
I dig into sources of Elasticsearch and I think that is can be some kind of class initialization deadlock. Similar problem is described here: https://ternarysearch.blogspot.ru/2013/07/static-initialization-deadlock.html

[2017-02-03 09:40] maxcom commented on #22952
One more stack trace (from Elasticsearch 2.4.3):

{code}
2017-02-02 16:09:32.129209500 "elasticsearch[main][search][T#6]" #71 daemon prio=5 os_prio=0 tid=0x00007f5a24083000 nid=0x2e51 in Object.wait() [0x00007f59ef6d2000]
2017-02-02 16:09:32.129220500    java.lang.Thread.State: RUNNABLE
2017-02-02 16:09:32.130068500   at org.elasticsearch.search.aggregations.support.ValuesSource$Bytes.<clinit>(Val

[2017-02-03 09:49] jpountz commented on #22952
So this might be a class initialization deadlock actually. Can you provide us with the entire jstack output?

[2017-02-03 10:05] jpountz commented on #22952
I think moving the `EMPTY` constant to the `WithOrdinals` class rather than its `Bytes` parent class would fix the problem as the `Bytes` class would no longer depend on initializing its `WithOrdinals` subclass.

[2017-02-03 10:27] maxcom commented on #22952
Sure, here is full thread dumps from 2.4.3: https://gist.github.com/maxcom/69d54d58284a7b5eea42db363bac5f6a

[2017-02-03 10:46] ywelsch commented on #22953
Have a look at this: http://stackoverflow.com/questions/38967991/why-are-my-gradle-builds-dying-with-exit-code-137

[2017-02-03 10:46] #22953 closed

[2017-02-03 11:01] Nysosis commented on #22925
Wow, speedy resolution! Nice one :)

[2017-02-03 11:13] jpountz commented on #22886
What you say is correct except that it would work on the binary representation of those numbers rather than their decimal representation.

You are right that floats cannot represent `1.4` accurately, and its actual value is `1.399999976158142`, which is stored internally as: `00111111101100110011001100110011`. The idea of this change would be to clear X trailing zeros. For instance if X is 16 (50%

[2017-02-03 11:14] markharwood commented on #22951
I've tried this on the latest 5.2 download and tried providing missing index names and field names in the test client and was unable to reproduce the same failure you see here.

[This gist](https://gist.github.com/markharwood/f9e955f52908129ef364446cfec0a65e) provides a demo of the data setup and a REST and Java client query for the given example that works OK here.

Can you confirm if you can run

[2017-02-03 12:17] ahr12 commented on #22951
Hello Sir,
I use ElasticSearch 5.1.2 add I already install the x-pack. I use following maven dependencies-
<dependency>
		<groupId>org.elasticsearch</groupId>
		<artifactId>elasticsearch</artifactId>
		<version>5.1.2</version>
	</dependency>
  	<dependency>
    <groupId>org.elasticsearch.client</groupId>
    <artifactId>transport</artifactId>
    <version>5.1.2</version>
</dependency>
<dependency>

[2017-02-03 12:40] bsideup opened #22957 "Bucket Selector and params"
Hi.

I would like to request a feature - allow Bucket Selector script to accept the whole bucket as a parameter.

We analyze our data and filter out some of it with a script. Some of the analysis based on percentiles.

Right now we use a hack to pass all percentile buckets like so:
[code]

But it's awful and hard to support. Would be good if we could do:

[code]

Thanks!

[2017-02-03 12:56] dadoonet opened #22958 "Replace tika-files.zip by a tika-files dir"
We are maintaining a ZIP file which contains a subset of [tika project test files](https://github.com/apache/tika/tree/master/tika-parsers/src/test/resources/test-documents).

https://github.com/elastic/elasticsearch/blob/master/plugins/ingest-attachment/src/test/resources/org/elasticsearch/ingest/attachment/test/tika-files.zip

It would be easier for debugging/testing to have actually a directory

[2017-02-03 12:59] markharwood commented on #22951
That looks like an unusual mix of dependencies.
I have only this in my pom.xml:

	<dependencies>

	  <dependency>
		 <groupId>org.elasticsearch.client</groupId>
		 <artifactId>x-pack-transport</artifactId>
		 <version>5.2.0</version>
	  </dependency>
	</dependencies>

[2017-02-03 13:06] amazoyer commented on #18680
I have the same concern with the caching policy. It would be great if we Caching policy was pluggable.
@jfenc91 : did you find a work around for your problem?

[2017-02-03 13:09] dadoonet commented on #22958
Discussed in fix it friday. We want to do it.
May be try to compress individual files one by one to see if can reduce needed space.

[2017-02-03 13:29] nik9000 commented on #22919
Talked among a small group - we're fine with removing. I'll put together a change to deprecate in 5.x and remove in 6.0.

[2017-02-03 13:30] jimczi commented on #22732
However, if you wanted to know the actual sequence that matched the SpanNearQuery. For example, if you want to verify that the matched terms actually constitute a valid credit card number (let's say you're monitoring sensitive information for security, classification and remediation purposes) you would have to run a verification algorithm, on the actual terms. You'd have to join the 4 consecutive

[2017-02-03 13:30] #22732 closed

[2017-02-03 13:46] jpountz commented on #22901
Discussed in FixitFriday: Using a contiguous byte[] array as a key has interesting virtues:
 - memory accounting is easy
 - it puts less pressure on garbage collection

Also we are on the fence about using a hash of the request as a cache key because of potential collisions. Even if they would rarely happen, they would be terrible bugs as they would return responses for the wrong requests.

Agreem

[2017-02-03 13:51] bleskes commented on #22863
we discussed this on fix it friday and as before this boils down to knowing how much performance boost (if at all) alternative/binary JSON formats (most notably Smile) gives us. This will help motivate keeping the current accept all methodology or give us the data we need to remove it and settle on, probably, textual JSON. I will talk to @danielmitterdorfer  to see when we can make this happen.

[2017-02-03 14:08] ywelsch commented on #22860
We discussed this on Fixit Friday and had a concern: Having a centralised whitelist would provide less control over what each plugin can do. For example, you might want to allow reindexing from a remote address (i.e. only receive data from that remote address), but might not like to send your data there as part of a snapshot.

[2017-02-03 14:08] #22860 closed

[2017-02-03 14:15] markharwood commented on #22951
Closing this issue due to invalid classpath settings.

For the record, to run the example Java client code above you also need classes for a logging framework. That whole area can get into complex configuration but here are my minimal dependencies for running that example Java class:

	<dependencies>

		<dependency>
		   <groupId>org.elasticsearch.client</groupId>
		   <artifactId>x-pack-transport

[2017-02-03 14:15] #22951 closed

[2017-02-03 14:19] cbuescher commented on #22901
Okay, closing this then.

[2017-02-03 14:19] #22901 closed

[2017-02-03 14:43] #22938 closed

[2017-02-03 14:56] nik9000 commented on #22938
I pushed fixes for this test bug to 5.2, 5.x, and master.

[2017-02-03 14:58] nik9000 commented on #22920
Talked with a small group - I'll update the docs with the bash script I'd write.

[2017-02-03 15:08] #22937 closed

[2017-02-03 15:12] #22958 closed

[2017-02-03 15:41] yandooo opened #22962 "class_not_found_exception: org.tartarus.snowball.ext.Minimal_polishStemmer"
**Elasticsearch version**:
[code]

**Plugins installed**:
- analysis-icu
- analysis-kuromoji
- analysis-stempel
- analysis-ukrainian
- analysis-smartcn
- ingest-attachment
- mapper-attachments
- mapper-size
- analysis-phonetic

**JVM version**: OpenJDK v8

**OS version**: Linux ip-10-20-0-14 2.6.32-573.18.1.el6.x86_64 #1 SMP Tue Feb 9 22:46:17 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

**Description

[2017-02-03 15:43] dadoonet commented on #22962
Can you share your mapping please?

[2017-02-03 15:44] yandooo commented on #22962
@dadoonet going to do this. It's quite big enough.

[2017-02-03 15:46] dadoonet commented on #22962
Sorry. I meant you index settings. Where you defined your analyzers actually.

[2017-02-03 15:48] yandooo commented on #22962
[code]

[2017-02-03 15:56] dadoonet commented on #22962
Where did you find this?

[code]

I don't see it in our docs:

* https://www.elastic.co/guide/en/elasticsearch/reference/5.2/analysis-stemmer-tokenfilter.html
* https://www.elastic.co/guide/en/elasticsearch/plugins/current/analysis-stempel.html

[2017-02-03 16:05] yandooo commented on #22962
@dadoonet hm...don't remember really - surprized how it worked in general. Should index creation fail at creation time?

Thanks for the documentation. I'll update index definition and will try again..

[2017-02-03 16:09] dadoonet commented on #22962
@yandooo I believe it would be better to fail early. @jpountz WDYT?

[2017-02-03 16:16] yandooo commented on #22962
@dadoonet also did some quick review of the docs and found another mistmatch in the index mapping:

[code]

but should be `light_finnish` and ES still allows to create new index.

[2017-02-03 17:12] yandooo commented on #22962
@dadoonet so I tried `polish_stem` and I still get same error.

[2017-02-03 17:18] yandooo commented on #22962
I decided to change to plugin provided analyzer `polish` and it works.
It should be ok for the time being.

[2017-02-03 17:42] dadoonet commented on #22962
AFAIK `polish_stem` is a [Token Filter](https://github.com/elastic/elasticsearch/blob/master/plugins/analysis-stempel/src/main/java/org/elasticsearch/plugin/analysis/stempel/AnalysisStempelPlugin.java#L37-L39). Not a stemmer.

So you can define it in your analyzer filters but not as a stemmer option. I believe it's included in the `polish` analyzer.

[2017-02-03 18:08] jfenc91 commented on #18680
@amazoyer I'm still on 1.7.3. The best option I have come across is indexing the query result with a query id. Although ES is ridiculously fast and doesn't need caching for the typical use case.

[2017-02-03 19:42] gmoskovicz opened #22968 "False IOException: Allocation decider fails 5 times, but showing a wrong root cause"
When performing a restart, if the allocation fails after `index.allocation.max_retries` it will be shown in the allocation explanation:

[code]

In this example you can see why the decision was NO. Other decision makers where YES. In this case we had two reasons:

1. The awareness couldn't be satisfied based on the current number of nodes.
2. It tried 5 times and didn't succeed.

So far, the main

[2017-02-03 20:03] nik9000 commented on #22908
I've tracked this down a bit further. The following painless script is broken:
[code]

I've almost found the right place to fix.

[2017-02-03 20:10] godiedelrio commented on #19055
If the request / response objects are meant to be reused in the Java Rest Client, care should be taken to not impose java 8 on the client side, IMHO. That way many codebases that can't easly upgrade to Java 8 can still continue to use Elasticsearch 5 through the Java Rest Client.

[2017-02-03 21:38] #22908 closed

[2017-02-04 01:04] gregeinfrank opened #22973 "SnapshotRestoreException when attempting a restore from s3 repository"
**Elasticsearch version**:
1.5

**Plugins installed**: [AWS Cloud plugin]

**JVM version**:
? (using aws elasticsearch service)
**OS version**:
? (using aws elasticsearch service)

**Description of the problem including expected versus actual behavior**:
{"error":"SnapshotRestoreException[[repository_name:snapshot-name] indices [my_index] and [my_index] are renamed into the same index [my_index]]"

[2017-02-04 02:37] dadoonet commented on #22973
1.x series is now EOL'ed.
Can you upgrade to 2.4 or better to 5.2 and test again?

BTW you didn't provide the command you ran.

[2017-02-04 03:08] gregeinfrank commented on #22973
@dadoonet thanks for replying - and sorry for the false alarm here - I finally just figured out the problem. Documenting for anyone in the future that does the same thing.

I had code that was generating the list of indices to restore, but did not realize that the list of indices contained duplicates for whatever reason.

[code]

After I realized that the list of indices had duplicates, that error

[2017-02-04 03:08] #22973 closed

[2017-02-04 09:44] javanna commented on #22863
Double checking (as remove was mentioned above) that this issue is not about removing support for any currently supported format. I'd expect the outcome of this issue to be about whether it is necessary to store in the translog and in the lucene index exactly the same bytes that were received, in any supported content type, rather than settling on a format and handling conversions internally.

[2017-02-04 11:03] ywelsch commented on #22968
You're confusing two things:
- the reason why the shard became unassigned. This is reflected in unassigned_info, as explained in the [docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-allocation-explain.html).
- the reason why the shard is still unassigned at this very moment. This is shown by the node decisions.

Reading the output correctly, this means that the shard

[2017-02-04 12:42] datayjz commented on #22899
Where is this configuration? elasticsearch.yml

[2017-02-04 16:33] nezda commented on #22177
I got tripped up by `Integer.valueOf(String)` not working (seems only the `int` form works so I used `Integer.parsInt(String)`) - was trying to support input from either ints or string sorta like JavaScript.  Guess I can `Integer.valueOf(arg.toString())`...

[2017-02-04 16:53] nezda commented on #21859
In my 5.1.1 inline painless [script for terms agg values](https://www.elastic.co/guide/en/elasticsearch/reference/5.1/search-aggregations-bucket-terms-aggregation.html#search-aggregations-bucket-terms-aggregation-script) I had to use `params._source` (was hoping for `_source` (`'Variable [_source] is not defined.'`) and docs seemed to indicate `ctx._source` (`'null_pointer_exception'` at `ctx.`) (

[2017-02-04 18:54] bleskes commented on #22968
Looking at [MaxRetryAllocationDecider](https://github.com/elastic/elasticsearch/blob/5.2/core/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/MaxRetryAllocationDecider.java#L71), I see we already output the unassigned info there:

[code]

so, I'm not sure that output above is complete. That said, I think an explicit "last failure: [%s]" prefix for the unassigned info will nice.

[2017-02-05 05:11] abeyad commented on #22968
I think this is the best and simplest way to provide clarity.

The output above does indeed have the unassigned info in the explanation for the max retry decider.

[2017-02-05 05:20] billnbell opened #22980 "Add ability to reference parent to do aggregations with copy_to"
I would like to define: copy_to: {parentname}_all. Today I can only use {name} which does not allow the object of the parent to be referenced. I want to take fields and aggregate all children into a terms search. Kinda like _all but at the object level.

Here is an example: Note this is kinda useless, since I want to use {parentname}.

[code]

[2017-02-05 07:53] 564064202 opened #22981 "so sorry to interupt you,how to search multi types just like db's compound query"
so sorry to interupt you,how to search multi types just like db's compound query

[2017-02-05 10:49] dadoonet commented on #22981
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2017-02-05 10:49] #22981 closed

[2017-02-05 12:39] ahr12 commented on #22951
My eclipse didn't find the x-pack-transport maven dependency which you provide.Can you check it again

[2017-02-05 12:56] john16 opened #22982 "Unable to set date format in Ingest node's date processor"
**Elasticsearch version**: 5.1.2

**Plugins installed**: []

**JVM version**: OpenJDK

**OS version**: Ubuntu 16.04

**Description of the problem including expected versus actual behavior**:
curl -XPUT 'localhost:9200/_ingest/pipeline/test-pipeline?pretty' -H 'Content
-Type: application/json' -d'
{
  "description" : "Test Log",
  "processors" : [
    {
      "grok" : {
        "field": "message",

[2017-02-05 16:15] clintongormley commented on #22982
This is because ingest is not using the same date format as specified here https://www.elastic.co/guide/en/elasticsearch/reference/5.2/mapping-date-format.html

@talevy is ingest using joda?  Could we support the standard date formats available in ES?

[2017-02-05 16:24] john16 commented on #22982
"formats": [ "yyyy-MM-dd'T'HH:mm:ss" ]  also throws an exception because of 'T' in the middle.

[2017-02-05 16:41] clintongormley commented on #22962
+1

[2017-02-05 17:19] hanan-levy-sp commented on #22732
Hi Jim,
I'm not sure i'm following.
will not exposing the Spans information of a Lucene Span query return the position info of each term in every document that matched the query?

If so, you could just parse it as part of the response and return a list of positions for each matched document. subject to restriction of how many results you need to return ("size").

The credit card example is just on

[2017-02-05 19:24] XiaonuoGantan opened #22985 "[Bug] Large text fields cannot be indexed"
In ElasticSearch 5.x, the fielddata of text fields are disabled by default. And there are two solutions:

1. Use the keyword-sub-type as in {"article": {"type":"text", {"fields": {"keyword":{"type": "keyword"}}}}} and then use "title.keyword" in sort, aggregations and queries

2. Enable fielddata

Solution 1 imposes a maximum size limit of 32766 terms on the field "article" and solution 2 incurs a

[2017-02-05 20:31] Mpdreamz opened #22986 "Should Deprecation HTTP headers normalize comma in messages"
Not entirely sure what the HTTP spec status of response headers is but with request headers

[code]

is equivalent to:

[code]

Quite a few deprecation messages contain a comma which causes an ambiguity when I get to actually parse these (from .NET BCL in this case.

e.g:

[code]

Yields:

![image](https://cloud.githubusercontent.com/assets/245275/22629641/178e5de8-ebea-11e6-8420-c6c2914536cb.png)

[2017-02-05 20:50] nik9000 commented on #22986
Bleh. Looks like we shouldn't use comma, yeah. [This](http://stackoverflow.com/questions/3096888/standard-for-adding-multiple-values-of-a-single-http-header-to-a-request-or-resp) SO question has some fun discussion about it. It looks like a lot of standard headers contain `,` and can't be merged, but well behaved headers don't contain `,`. It links to [this](https://github.com/bnoordhuis/mozilla-c

[2017-02-05 21:02] jpountz commented on #22985
Both options do not have the same effect either, in the first case terms aggregations would return whole strings as terms while in the second case it would return single tokens.

[2017-02-05 21:32] XiaonuoGantan commented on #22985
Yes. I misunderstood what the keyword sub type should do. No problem here

[2017-02-05 21:32] #22985 closed

[2017-02-06 05:42] dadoonet commented on #22951
You need to follow this guide: https://www.elastic.co/guide/en/x-pack/current/java-clients.html

Don't forget the repository

[2017-02-06 07:20] mweibel opened #22989 "Wildcard search with special characters: Differences between ES 2.x and 5.x"
I'm in the process of upgrading a project from ES 1.7 to ES 5.1 and noticed an integration test failing. After testing I made sure that the actual change happens between 2.x and 5.x.
Below is a minimal repro case.

When searching using a wildcard search for "brö" I get in both versions the same result. When searching using "brö{\"/)?" which gets escaped as "brö\{\\\\"\/\)", I get 2 results in ES 2

[2017-02-06 07:49] wyzssw commented on #21172
same issue with spring boot but without spring data

[2017-02-06 08:02] maddin2016 commented on #22886
Nice 👍. One thing i would discuss is the precision. If we say we store 3 digits, but have a value of `123.45` it is not better to define the scale and not the precision.

[2017-02-06 08:19] ImdotnetJunkie commented on #9323
We are also getting the same error:

[2017-02-05 02:00:47,371][DEBUG][action.admin.indices.create] [Nuke - Squadron Supreme Member] [flowtrader-middletier-2017.02.05] failed to create
org.elasticsearch.cluster.metadata.ProcessClusterEventTimeoutException: failed to process cluster event (acquire index lock) within 1m
            at org.elasticsearch.cluster.metadata.MetaDataCreateIndexService$1.do

[2017-02-06 08:35] clintongormley commented on #9323
@ImdotnetJunkie 1.7.5 is no longer supported.  Time to upgrade - so much has changed and been improved

[2017-02-06 09:07] jpountz commented on #22742
This will be fixed in the upcoming Elasticsearch 5.2.1 and 5.3.0 releases. We're still looking into whether/when we can get 2.x patched as well.

[2017-02-06 09:07] #22742 closed

[2017-02-06 09:24] markharwood commented on #22951
My [original gist](https://gist.github.com/markharwood/f9e955f52908129ef364446cfec0a65e) includes the full pom.xml

[2017-02-06 09:38] jimczi commented on #22732
will not exposing the Spans information of a Lucene Span query return the position info of each term in every document that matched the query?

No, not every document just the top documents. If you want to filter documents based on the matched positions then you should not work at the response level but rather at the index level. This is why I advised you to create a custom span query that fits yo

[2017-02-06 09:57] jfwm2 opened #22990 "Cancellation of Search with the Task Management API"
**Describe the feature**: Currently Search does not currently support cancellation. Apparently the only tasks supporting cancellation at the moment are Reindex and Delete-By-Query. We would need to have cancellable search and we may contribute to integrate the task management API to the Search tasks in order to cancel searchs.

[2017-02-06 10:05] jimczi commented on #22990
@jfwm2 this feature is now available in 5.x (starting in 5.1):
https://www.elastic.co/guide/en/elasticsearch/reference/5.2/search.html#global-search-cancellation

[2017-02-06 10:05] #22990 closed

[2017-02-06 10:07] cp2587 commented on #21121
Hello,
I also encounter a lot of painful problem when trying to work with datetime in painless... For instance, i wanted to apply a TZ to two dates and get the difference but cannot find a way to do it in painless...

In groovy, i could do something like:
`(doc['t1'].date.setZone(org.joda.time.DateTimeZone.forID(tz)) - doc['t2'].date.setZone(org.joda.time.DateTimeZone.forID(tz))).days`

Do you pla

[2017-02-06 10:11] bleskes commented on #22863
@javanna Indeed this is issue is about explicitly storing the content type of a document alongside wherever we store the original documents bytes (translog and lucene). This is needed if we are going to remove the automatic content detection but are going to keep supporting multiple formats. However, if end up removing supporting multiple formats (or converting convenience formats like YAML to JSO

[2017-02-06 10:48] peteharverson opened #22991 "Fatal org.elasticsearch.bootstrap.JNAKernel32Library error starting Elasticsearch 5.3.0 snapshot on Windows 10"
I am getting a fatal error when attempting to start elasticsearch on Windows 10. See console output below.

This is with the snapshot dated Sun Feb 05 21:59:58 GMT

C:\Tools\elasticsearch-5.3.0-SNAPSHOT\bin>elasticsearch.bat
[2017-02-06T10:41:39,870][ERROR][o.e.b.ElasticsearchUncaughtExceptionHandler] [] fatal error in thread [main], exiting
java.lang.ExceptionInInitializerError: null
        at o

[2017-02-06 10:52] jfwm2 commented on #22990
Thanks @jimczi !

[2017-02-06 10:57] ahr12 commented on #22951
I am getting the following errors when I run this program

Exception in thread "main" java.lang.BootstrapMethodError: java.lang.NoClassDefFoundError: org/elasticsearch/cluster/AbstractNamedDiffable
	at org.elasticsearch.xpack.watcher.Watcher.getNamedWriteables(Watcher.java:165)
	at org.elasticsearch.xpack.XPackPlugin.getNamedWriteables(XPackPlugin.java:429)
	at org.elasticsearch.client.transport.T

[2017-02-06 11:05] nellicus opened #22992 "cluster.routing.allocation.same_shard.host is not a dynamic setting (?)"
**Elasticsearch version**:
2.4

Documentation

https://www.elastic.co/guide/en/elasticsearch/reference/2.3/shards-allocation.html#_shard_allocation_settings

[code]

VS

https://github.com/elastic/elasticsearch/issues/17693#issuecomment-209121270

[code]

not sure if the story applies to v5.x too.

also on a slightly different note it'd be great to clarify explicitly on which node types should thi

[2017-02-06 11:06] javanna commented on #22863
Things are clear on my end, yet I think I should clarify that we should not discuss again if we want to remove support for multiple formats at REST, cause that won't happen anytime soon, see #22811 . The two options here are 1) we add the type to translog and index 2) we settle on one internal format and internally convert all of the others (for bw comp we will still need some auto-detection).

[2017-02-06 11:14] dshopov opened #22993 "auto_expand_replicas with closed indices"
**Elasticsearch version**: 5.2.0
**Description of the problem including expected versus actual behavior**:
Setting auto_expand_replicas works as expected when you add a node, however if you have a closed index with the setting ES will not update the number_of_replicas on any index when stopping a node.

I guess this is connected to the error you get when trying to set number_of_replicas on a close

[2017-02-06 11:30] clintongormley commented on #22991
@Mpdreamz any ideas here?

[2017-02-06 11:31] clintongormley commented on #21121
@cp2587 see https://github.com/elastic/elasticsearch/pull/22875 and https://github.com/elastic/elasticsearch/pull/22948

[2017-02-06 11:31] martijnvg commented on #22991
@clintongormley I think this is introduce by: 9a0b216c36e3debb9d48374ced1e58d6568429bd

The fix should be simple, we should make the constructor of org.elasticsearch.bootstrap.JNAKernel32Library$SizeT public again.

[2017-02-06 11:32] ywelsch commented on #22993
This is indeed a bug. Two things come to my mind here:
1) The system should probably not automatically adjust the number of replicas on a closed index.
2) The reason why `index.number_of_replicas` cannot be updated on a closed index - leaving the index in an unopenable state, is not true anymore since ES v5.0.0 as we are now using allocation IDs (https://github.com/elastic/elasticsearch/issues/147

[2017-02-06 12:51] jpountz commented on #22952
Closing as this bug does not exist in 5.x anymore and will be fixed in the upcoming 2.4 release (for which we have no ETA at the moment). Thanks @maxcom for the detailed bug report and being so reactive helping us understand what was happening.

[2017-02-06 12:51] #22952 closed

[2017-02-06 13:22] oleg-andreyev opened #22997 "In some cases FVH returns StringIndexOutOfBoundsException"
**Elasticsearch version**: 2.4.1

**Lucena version**: 5.5.2

**Plugins installed**: delete-by-query, head

**JVM version**: 1.8.0_60

**OS version**: centos-release-6-8.el6.centos.12.3.x86_64

**Steps to reproduce**:
<details>

[code]
</details>

**Provide logs (if relevant)**:
<details>

[code]

</details>

Exception: `Failed to highlight field [clean_description]`, but if I remove:

[code]
no ex

[2017-02-06 14:17] #22991 closed

[2017-02-06 14:21] bra-fsn opened #22998 "Compact on-disk representation of documents"
AFAIK, elasticsearch stores "whole" JSON documents on disk, meaning an integer will be represented by its string value and every field name will take space on every stored document.
Other databases use more compact storage formats and do various other tricks. For an example, see ArangoDB:
https://www.arangodb.com/2012/07/collection-disk-usage-arangodb/
"ArangoDB separates the document structure an

[2017-02-06 14:39] abeyad commented on #22992
I don't see a reason that this setting should not be dynamic.  I think we should fix the docs and fix the issue to make it a dynamic setting.

[2017-02-06 15:16] nik9000 commented on #22866
`Task#getDescription`, I think. @imotov, what do you think?

You are right about search holding on to a reference. Personally I'm ok with holding on to a reference here but I'm willing to be convinced it isn't a good idea.

[2017-02-06 15:27] jpountz commented on #22998
Agreed. I think one reasonable way to implement it would be to keey using a `_source` stored field, but organize it in such a way that the first bytes describe the document structure. Since we happen to compress documents into 16KB blocks (there can be multiple docs in a single block), we would only pay the price for the document structure once per block if all documents have the same structure.

[2017-02-06 15:38] nik9000 commented on #21121
I don't think a lot of these are whitelisted. I'm not sure why, but right now most of java's time API is whitelisted and joda isn't.... I expect something like this should work:

[code]

[2017-02-06 15:40] nik9000 commented on #22998
I'd played around with doing something like this a while ago! I never finished it but it was a fun thing to look at.

[2017-02-06 15:45] clintongormley commented on #22997
This is still broken with the FVH in 5.x, but (good news), the new [unified highlighter](https://github.com/elastic/elasticsearch/pull/21621) handles this properly.

[2017-02-06 15:49] imotov commented on #22866
@nik9000 if we want to make it lazily evaluated, that's the way to do it. Unfortunately, it will mean that we will have to override createTask for every single request and override getDescription in there. That's a lot of changes, but they should be pretty simple, it will also simplify the structure, a bit since we can remove `Request#getDescription` completely then.

[2017-02-06 16:03] sabi0 commented on #22866
Sorry, I am not sure I followed you correctly - what is the intended benefit of this refactoring?
Saving some memory on never used Strings? But wouldn't keeping a reference to the whole request undermine this intention? (I am not familiar with `Request` / `Task` lifecycles)
Or did you mean to save some CPU cycles on Strings concatenation?

[2017-02-06 16:04] hanan-levy-sp commented on #22732
Hi Jim,
Thanks for the elaborate response.
Can you please refer me to such a custom query plugin?

thanks very much
Hanan.

[2017-02-06 16:43] cp2587 commented on #21121
Thank you very much @nik9000, it works well !!

[2017-02-06 17:06] nik9000 commented on #21121
And now I'm torn! Painless supports java's time api well because we expected to port Elasticsearch to java's time api and drop joda time at some point. But we haven't yet. Either we should push the migration through in 6.0 or fix up joda's date support in painless or both....

[2017-02-06 17:16] rjernst commented on #21121
I don't think we should do that. The java 8 time api in painless works fine.

[2017-02-06 17:18] nik9000 commented on #21121
Yeah. I'm fairly sure the right thing to do is to complete the port. For the time being things like date aggregations can work if you return millis-since-epoch from the script.

[2017-02-06 17:19] jdconrad commented on #21121
I'm also against adding support for Joda.  Dates are already challenging to use, but having two libraries would really step up the difficulty level.

[2017-02-06 17:25] jasontedor commented on #21121
Removing Joda is an eventuality.

[2017-02-06 17:32] clintongormley commented on #21121
I agree with not adding support for joda to painless. We should (at some stage) start working on https://github.com/elastic/elasticsearch/issues/12829 to replace joda with java time instead

[2017-02-06 17:44] niemyjski commented on #21121
@rjernst I wouldn't say it works fine, but it works.. It's been a PITA working with dates in elastic...

[2017-02-06 17:52] Tomket commented on #17584
C:\elasticsearch-5.2.0\bin>elasticsearch.bat
Exception in thread "main" java.lang.UnsupportedClassVersionError: org/elasticsearch/bootstrap/Elasticsearch : Unsupported major.minor version 52.0
        at java.lang.ClassLoader.defineClass1(Native Method)
        at java.lang.ClassLoader.defineClass(ClassLoader.java:800)
        at java.security.SecureClassLoader.defineClass(SecureClassLoader.java:1