[2017-09-11 23:06] wilofice commented on #13214
Thanks @dakrone. Fortunately, I didn't start yet. I will check other issues where I can contribute.

[2017-09-11 23:09] #25424 closed

[2017-09-11 23:14] dakrone commented on #26525
The `CardinalityAggregator` directly uses `BigArrays` which has its own circuit breaking accounting, it should not need to be adjusted.

I believe this particular issue has to do with top-level histogram aggregations (of course I could be mistaken)

[2017-09-12 05:23] andrewhine commented on #5359
+1

[2017-09-12 05:36] hienchu commented on #9876
Is there any plan to do "Agg for building a sliding_histogram" ?
I am keen to get this feature to calc document appearance frequency, which is
1. count per bucket
2. histogram on count of each bucket.

I am happy to contribute to this work, any consolidated doc / example will help.

[2017-09-12 05:54] danielmitterdorfer commented on #26339
As far as I can see from the most recent flight recordings, the reason is that `LocalCheckpointTracker` is not the bottleneck. Although there is measurable contention in the current implementation, making it lock-free just increases contention in `TranslogWriter`.

IMHO, Elasticsearch's approach to scalability is to scale horizontally rather than vertically (i.e. many small nodes instead of a few

[2017-09-12 06:11] jimczi commented on #26571
Thanks for reporting @hienchu
The ability to use `_parent` directly in aggregations and scripts has been broken in 5.5. The workaround is to use the full name for the field as you already did (`_parent#[parent_type]`). At this point and considering that the `_parent` field will soon disappear (in favor of the `join` field) I am not sure it is worth fixing. We chatted with @martijnvg and said that

[2017-09-12 06:19] s1monw commented on #26339
I had multiple attempts to this in the past that didn't yield massive speed improvements compared to the complexity it added. Lets say you'd use a ringbuffer to do this you'd need to copy the payload for every document which in-turn adds a reasonable complexity in terms of memory consumption and GC. Today the impl is basically writing to a buffered stream which is reusing it's buffer so we only pa

[2017-09-12 06:36] aclowkey commented on #26296
I think it's a great idea.  Sometimes users want care about the request, and sometimes about the response, and sometimes both.

I'm not too familiar with asciidocs, is there a way to have a side-by-side view of sources? or tabbed view for 'response' and 'request' ?  or do we have to put them one after the other ?

[2017-09-12 07:55] bounddog opened #26594 "JNA support for IBM power platform"
I installed the elasticsearch v5.4.2 on IBM power 64 platform, and found errors in elasticsearch log:

[2017-09-11T05:15:46,883][WARN ][o.e.b.Natives            ] unable to load JNA native support library, native methods will be disabled.
java.lang.UnsatisfiedLinkError: Native library (com/sun/jna/linux-ppc64le/libjnidispatch.so) not found in resource path ([
....
])
        at com.sun.jna.Native.

[2017-09-12 08:07] jpountz commented on #26587
Would you be able to share a heap dump of the node upon OOME? Or if that is too sensitive, screenshots of a heap analysis tool showing the top consumers?

[2017-09-12 08:21] tlrx commented on #26594
Since #24081 we switched to our own build of JNA, mostly because in version 4.4.0 the library is linked against a version of glibc that is not available on all supported platforms . The issue #23640 gives more context.

We don't really _simplified the JAR_, but instead we made sure that the JNA library used by Elasticsearch is linked to the right glibc version on all the platforms we support and t

[2017-09-12 08:21] #26594 closed

[2017-09-12 08:34] #23039 closed

[2017-09-12 08:37] tlrx commented on #26585
I think this is related to the way Suggestion are deserialized. In `Suggest.readFrom()` method, custom suggestion are instanciated back as `Suggestion`, while suggestion created on the same node remain `CustomSuggestion`. I think we should fix that.

[2017-09-12 08:37] tlrx commented on #26585
@updixit Just to be sure, did you reproduce it on a recent version like 5.6 or 6.0 betas?

[2017-09-12 08:45] tlrx commented on #26570
From where this `day of week` comes from? Can you please provide a sample of documents, aggregation and output you'd like? That would help to understand your request. Thanks

[2017-09-12 09:08] colings86 commented on #9876
@hienchu my original intention for a sliding_histogram is a bit different I think. I had intended it to be a histogram with an interval and a window such that the output would be buckets whose bounds range is the window period and the change in the buckets bounds from one bucket to the next is the interval. For example you might have an interval of 1 hour and a window of one day. In this case the

[2017-09-12 09:18] hexian55 opened #26596 "transportclient BulkProcessor lost header !!! threadPool().getThreadContext().getHeader"
**Describe the feature**:

BulkProcessor lost threadPool().getThreadContext().getHeader
**Elasticsearch version** (`bin/elasticsearch --version`):
5.5x
**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):
linux macos
**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *m

[2017-09-12 09:22] colings86 commented on #26525
Adding `global_ordinals_hash` to the request will only prevent the OOME in the cases where the query restricts the number of terms buckets created to a small number compared with the total number of terms int he field (i.e. the sparse terms case). If the query matches a lot of terms then it still has the potential to cause problems. I think we should try to find out if this is the case here.

@hex

[2017-09-12 09:34] matarrese commented on #25623
Hello, I don't know if @Hogusong is still working on this issue, so I decided to bring it up and send you a pull request. It is not intended to be ready to be tested, as it is failing some tests. I am just asking if it's possible to have a review and understand if it goes in the right direction. If other people working on this, please feel free to close it.

[2017-09-12 10:11] jimczi commented on #26525
I don't think this is related to https://github.com/elastic/elasticsearch/issues/26012.
At least I don't think the solution proposed in #26012 could catch this better than the circuit breaker.

The circuit breaker for requests (`indices.breaker.request.limit`) defaults to 60% of the heap.
What size of heap are you using in your nodes ? 60% is quite high so there is a chance that you hit an OOME be

[2017-09-12 10:26] natelapp commented on #26587
Unfortunately, being an ES federal user, I don't have any way of getting the heap dump or screenshots to you.  I will continue working it on my end to see if I can narrow it down further.

[2017-09-12 10:35] jimczi commented on #26525
The default value for the `precision_threshold` is `3000` and not `30000` so the cardinality agg would need `3.8GB` and not `38GB` like said in the previous comment. Although it's still big and accounts for a single query so I guess that you have a small heap size or a lot of concurrent requests ?

[2017-09-12 11:51] tlrx commented on #26576
The Snapshot/Restore feature had many changes between 5.2.2 and 5.5.2 but I don't see anything "obvious" that would explain the timeouts (I have #24403 but it's fixed for 5.5.2). Maybe @ywelsch or @imotov have an idea?

[2017-09-12 11:52] tlrx commented on #26576
@davekonopka Also, do you have some stacktraces in logs that would help to diagnose this issue? Thanks

[2017-09-12 12:05] jpountz commented on #26587
Your description of the issue suggests that memory is actually used by one of the cache, but in a way that the cache is not aware of, otherwise it would have evicted entries in order to keep a bounded size. It would be nice to find out which cache has the bug, and why.

Your bug description reminds me of https://issues.apache.org/jira/browse/LUCENE-7657 but this bug is expected to be fixed in 5.5.

[2017-09-12 12:11] rodgermoore commented on #26162
Ran into the same problem. Workaround in https://github.com/elastic/kibana/issues/13950 fixed my Kibana index. Thanks again @jakommo .

[2017-09-12 12:15] quilin opened #26601 "Whitespace tokenizer splits at 255 characters by default"
Elasticsearch Version: 5.4.0, Build: 780f8c4/2017-04-28T17:43:27.229Z, JVM: 1.8.0_131

java version "1.8.0_131"
Java(TM) SE Runtime Environment (build 1.8.0_131-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.131-b11, mixed mode)

OS Name	Microsoft Windows 10 Enterprise
Version	10.0.14393 Build 14393
But the issue seems to reporoduce on some Linux machine (in AWS) as well

**Description of the pr

[2017-09-12 12:29] jasontedor commented on #17435
The output format of `tree` is not the same as the first time that you ran the command because you ran it from a different directory than previously. To get the same output you have to modify the command:

[code]

You still have indices on disk that are not in your cluster state (the second column). You can examine these, and ultimately remove them from disk if you do not need them. This will remo

[2017-09-12 12:29] natelapp commented on #26587
Sure.  We're happy to work to track it down.

So, we're absolutely doing some things that are less than ideal in our design that likely fall outside of the norm.   We're currently using parent/child/grandchild.  This particular OOM issue occurs when attempting to create the grandchild records for existing documents that don't have any grandchildren.   The basic flow is:

- Query for children recor

[2017-09-12 13:06] JagathJayasinghe commented on #25603
The issue has happened again.
So we ran our query with 2 preferences:

Preference 2904 works and correctly returns "total": 1
**Query**:
POST my_index/my_type%2Cmy_other_type/_search?preference=2904&explain=true
{ "query": { "ids": { "values": [111637091] }}}
**Response**: [Response.txt](https://github.com/elastic/elasticsearch/files/1296016/Response.txt)

The source has 43 nested documents or 1 t

[2017-09-12 13:14] agolomoodysaada commented on #17435
@jasontedor thanks again for your great input.
I do not have node.master set to false on other nodes. However, I do have `discovery.zen.minimum_master_nodes` set to 1. I agree that this could be the cause of my troubles!

[2017-09-12 13:23] elasticmachine opened #30088 "[ML] Jobs do not recover if the cluster state is deleted"
*Original comment by @sophiec20:*

There are "rare" occasions when the cluster state may be manually deleted. For example, if a new trial license is wanted, or if the cluster state is red and cannot be recovered. This is not a recommended way to recover, but might be the last ditch option to try in some circumstances.

If the cluster state is removed `rm -rf _state` then upon an elasticsearch rest

[2017-09-12 13:42] cbuescher commented on #26601
@quilin thanks for raising this, indeed looks weired. I was able to reproduce on 5.4.3, not sure if it is a bug yet but two things to note:

* I initially thought the nesting of the `{"bool":{"must":[{"bool":{"should":[{"match":{"ricName.ricName": ....` in your reproduction was part of the problem, but it turns out a simple `must` clause also exhibits the problem
* when I run this simplified query

[2017-09-12 13:46] jasontedor commented on #17435
With three nodes that are master eligible this should be set to 2.

[2017-09-12 14:00] riemannzeta1191 commented on #22912
I'm having a problem with Completion Suggester i.e - i have normally indexed all my necessary fields using https://www.elastic.co/guide/en/elasticsearch/reference/current/search-suggesters-completion.html .So i created an index called autoidx and had to manually update all my id's with
the indexing pattern given in the docs of 5.5 .So first every item got indexed(autoidx) then how can we index the

[2017-09-12 14:03] cbuescher commented on #26601
Okay, seems like the `whitespace` tokenizer has a maximum token length of 255 after which it starts a new token. This is what the `_analysis` output of your query string looks like:

[code]

This seems to be the default behaviour for many tokenizers and is e.g. documented for the [Standard tokenizer](https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-standard-tokenizer.html)

[2017-09-12 14:25] jbaiera commented on #26513
@risdenk Thanks for all the work toward distilling the issue down to a few simple steps. This is incredibly helpful information. I'll start working toward getting a failing test built and then we'll know where to go from there.

[2017-09-12 15:01] quilin commented on #26601
That totally makes sense now. Thanks a lot!

[2017-09-12 15:15] gmoskovicz opened #26604 "Repository S3 compatibility"
@rjernst @dadoonet

I have seen that there are many deprecated features (see https://github.com/elastic/elasticsearch/issues/22800, https://github.com/elastic/elasticsearch/issues/25619 as examples) where now for Elasticsearch 6.0 you can't just set some of the `repository-s3` configurations.

This was useful for compatible s3 services, however it seems to be that for this version we are only allo

[2017-09-12 15:22] natelapp commented on #26587
The problem appears to be in `org.elasticsearch.indices.IndicesQueryCache$ElasticsearchLRUQueryCache`.  That's consuming almost all of the memory.

We're using the Eclipse Memory Analyzer, but aren't sure what type of information would be helpful to you in figuring out the cause.   Are there any other pieces of data from the analysis that we should pass along?

[2017-09-12 15:38] rjernst commented on #26604
I'm not sure where such a warning should go. It is also not exactly true, it is just we no longer support untested settings which allowed working with older s3 compatible apis (namely ones that used legacy url formats and signing methods).

This is already there, in the `Global repositories settings have been removed` bullet.

[2017-09-12 15:44] gmoskovicz commented on #26604
@rjernst thanks for the quick answer ! :)

So i saw there that we mention that global settings have been removed. But then we also state that: `Instead, these settings should be set directly in the settings per repository. See S3 Repository settings.`.

This means that one should be able to set some of this using S3 repository settings, per repository. Which isn't true. As for example `path_style_

[2017-09-12 15:49] risdenk commented on #26513
@jbaiera - Glad the information is helpful.

I finally got the `gradle integTestSecure` working and even after editing the `secure_hdfs_repository` REST test yaml files I wasn't able to reproduce the problem. I can logically see how the code path I'm hitting in my environment is hit but seem to have a hard time producing the issue in the test suite.

I ran into a few problems with Vagrant 2.0 and

[2017-09-12 16:01] hexinw commented on #26525
@colings86 Yes there are more than 500 distinct nodes in the indices.

The output to the node cardinality aggregation query:

{
  "took": 2,
  "timed_out": false,
  "_shards": {
    "total": 10,
    "successful": 10,
    "failed": 0
  },
  "hits": {
    "total": 237294,
    "max_score": 0,
    "hits": []
  },
  "aggregations": {
    "node_uuid_cardinality": {
      "value": 512
    }
  }
}

[2017-09-12 16:01] jdconrad commented on #23777
Update: No real progress as script contexts have taken priority.  @talevy has kindly volunteered to help with some of the script context example documentation when he has a bit of time.

[2017-09-12 16:04] agolomoodysaada commented on #17435
Ok. Thanks! Could you please explain your reasoning?

[2017-09-12 16:05] trevan opened #26606 "Allow using _exists_ on fields whose data is not indexed"
I have indexes that have thousands of fields (especially when you include the ".raw" or ".keyword" version of the fields).  Most of the fields don't need to be queryable or aggregatable, but searching based on the existence of the fields is extremely useful.  As far as I can tell, none of the possible mapping options allow me to disable the indexing of the field values while still allowing me to q

[2017-09-12 16:06] hexinw commented on #26525
@jimczi Yes I have a pretty small elastic search single node cluster with small memory footprint (8G memory and 4G heap for ES), just for experiment on the date histogram and cardinality aggregation stuff. Not for production yet. Just a bit unprepared to realize that the system can consume a large memory consumption by the aggregations.

Sorry for the typo, with 3000 precision, 24KB per bucket con

[2017-09-12 16:24] jpountz commented on #26587
Good. Most likely the cache itself is not the issue, but rather some of the queries in the cache are larger than they should be. Can you check that most memory does indeed go into `org.elasticsearch.indices.IndicesQueryCache$ElasticsearchLRUQueryCache.uniqueQueries`, and see what are the largest queries this `uniqueQueries` map stores?

[2017-09-12 16:38] hexinw commented on #26525
I changed indices.breaker.request.limit to 30% and it triggered the circuit break.

{
  "error": {
    "root_cause": [
      {
        "type": "circuit_breaking_exception",
        "reason": "[request] Data too large, data for [<reused_arrays>] would be [2556064832/2.3gb], which is larger than the limit of [2556061286/2.3gb]",
        "bytes_wanted": 2556064832,
        "bytes_limit": 2556061286

[2017-09-12 16:48] scottsom commented on #26589
Maybe I am missing something but an instance of `KeyStoreWrapper` is created during the bootstrap and then this same instance appears to be passed around (i.e. it is effectively a singleton). If this instance refreshed itself internally then new settings would be made visible on future reads.

Is there a particular reason the setting values are read at construction time into member variables rathe

[2017-09-12 16:54] jasontedor commented on #17435
If you have three master-eligible nodes yet minimum master nodes is not set (acts as if it is set to 1) or set to 1, then any of the master-eligible nodes can elect themselves master at any time that they can not find an active master (for example, in the face of a network partition, during startup, etc.). This means there is no safety that there are not multiple masters making changes to the clus

[2017-09-12 17:02] jdconrad opened #26607 "CI Failure: Netty3ClientYamlTestSuiteIT"
@rjernst Sorry I didn't know who to give this to.  Feel free to re-assign this, you were the last one to touch the Netty3ClientYamlTestSuiteIT, and the tests seem to have been touched by multiple people last.

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+intake/149/console

REPRODUCE WITH: gradle :modules:transport-netty3:integTestRunner \
  -Dtests.seed=BE3EC5524585831D \
  -

[2017-09-12 17:05] dadoonet commented on #19570
I think we can close this very old one.

[2017-09-12 17:05] #19570 closed

[2017-09-12 17:07] dadoonet commented on #22800
I think we are all set now. So time to close this meta issue.

[2017-09-12 17:07] #22800 closed

[2017-09-12 17:21] jasontedor commented on #26607
The remote node was killed by the OS OOM killer. From the logs for the node:

[code]

From `dmesg`:

[code]

This is a CI infrastructure problem that we are tracking internally.

[2017-09-12 17:21] #26607 closed

[2017-09-12 17:55] akashmpatel91 opened #26608 "Return parent document field only if none of the nested document is matching the given range"
We have a use case where we have a document and it has a nested document based on the dates (A document will have max 365 nested document since we are keeping data for a year). User is giving toDate and fromDate in the input and we are querying the nested document (date field is present in the nested document). But we have a use case where we need to return a field of outer document if none of the

[2017-09-12 18:01] cbuescher commented on #26601
@quilin out of curiosity: is this something you ran into in a "real" scenario or did this happen just playing around? I'm asking because I'd like to understand in which use cases tokens of this length might appear. I haven't seen this very often so far.

[2017-09-12 18:03] cbuescher commented on #26601
I think the current behaviour should be added to out documentation. Even if such long tokens are edge cases, we should allow overriding the "max_token_length" for the whitespace tokenizer like we do for several other tokenizers.

[2017-09-12 18:50] arunagar commented on #26555
I will start on this and send a PR, i may take some time to get accustomed to the code, but i will work on this.

[2017-09-12 19:41] kinandwair opened #26609 "search in multi analyzer"
I have index contains field with multi analyzer synonyms and phonetic and snowball
the problem appear when I try to search for this field some query for phonetic and other query work for synonyms is there away to search in both

[2017-09-12 19:41] hexinw commented on #18230
Hi,

Can you guys comment if this is a similar instance of OOM exception gets swallowed cases? I have a nested date histogram + cardinality aggregation that would explode the elasticsearch node heap memory. On 5.4.2 ES, I am seeing the OOM exception stack trace thrown properly. I didn't see the OOM stack trace when I upgrade to ES 5.6. Instead Netty exception log is what I see.

[2017-09-12T11:47:

[2017-09-12 20:00] lruslan opened #26610 "Possible memory issue on the master nodes in 5.5.1 with the large amount of idexes/shards"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.5.1, build[19c13d0/2017-07-18T20:44:24.823Z]

**Plugins installed**: [prometheus-exporter]

**JVM version** (`java -version`): OpenJDK Runtime Environment (build 1.8.0_131-8u131-b11-2ubuntu1.16.04.3-b11)

**OS version** (`uname -a` if on a Unix-like system): Linux 4.4.0-78-generic #99-Ubuntu SMP Thu Apr 27 15:29:09 UTC 2017 x86_64 x86_64

[2017-09-12 20:25] distroid commented on #22882
I have a same problem. I'm trying to filter from 6.5 to 6.5
[code]
and i got in results records with 6, 6.6, 6.8 and etc. How fix it? @clintongormley

[2017-09-12 20:49] quilin commented on #26601
It was found by an accident. Like somebody fell on a keyboard and then found the result.
I agree that the "max_token_length" should be available for overriding, but it's my fault that I did not read the documentation thoroughly.

[2017-09-12 21:27] jbaiera commented on #26513
@risdenk I wanted to check in and share what I've got on this: I also was running into issues with reproducing this via the rest integration test tooling. I decided to try and reproduce by standing up the local hdfs fixture with a local elasticsearch instance and re-tracing your provided steps. This did indeed reproduce the error you've described.

This raises the question why it doesn't cleanly r

[2017-09-12 21:40] sherry-ger opened #26611 "NPE when using expression script aggregation in multi level aggregations"
**Elasticsearch version** (`bin/elasticsearch --version`):
5.5.3

**Plugins installed**: []
x-pack

**Steps to reproduce**:

1.  Create an index using the following mappings.

[code]

2.  Insert an document.

[code]

3.  Perform the following aggregation query.

[code]

4.  Observe the NPE error

[code]
Note:  If the script type were painless, the aggregation works fine.

**Provide logs (if releva

[2017-09-12 22:17] tiangolo commented on #24383
@paulohss That last comment ended up being quite helpful for what I'm needing... :smile:

I think you can get a week of the year by taking the day of the year and dividing it by 7 (7 days a week). I'm doing something similar to get 15 minute buckets of the day.

I think something like this could work for that (I just tried it):

[code]

[2017-09-12 22:28] cexmmaqsood opened #26612 "Highlight Field Order"
**Elasticsearch version**: 1.7

**Plugins installed**: Mapper Attachments

**OS version**: Sierra

**Description of the problem including expected versus actual behaviour**:
In https://www.elastic.co/guide/en/elasticsearch/reference/1.7/search-request-highlighting.html, it states that by setting ```order:score```, my highlight results will be ordered in terms of relevancy (score). But how is that

[2017-09-12 23:44] paulohss commented on #24383
Cool!

Thanks

On Wed, Sep 13, 2017 at 8:18 AM, Sebastián Ramírez <notifications@github.com

--

Abraços,
Paulo Henrique

[2017-09-13 00:54] jateenjoshi commented on #19780
Got it - thanks @colings86

[2017-09-13 00:57] jateenjoshi commented on #19780
One thing we are doing is increasing the number of shards in our indexes. It sounds like the dominating factor is the cardinality of the field in a single shard, so would increasing the number of shards with more nodes help bring down the latencies?

[2017-09-13 00:58] ajoliveira opened #26615 "Cross Cluster Search fails for AWS regions using DNS or public IPs."
**Elasticsearch version** (`bin/elasticsearch --version`): 5.5.2

**Plugins installed**: discovery-ec2

**JVM version** (`java -version`): openjdk version "1.8.0_141"

**OS version** (`uname -a` if on a Unix-like system): Amazon Linux - Linux east1 4.9.43-17.38.amzn1.x86_64 #1 SMP Thu Aug 17 00:20:39 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus ac

[2017-09-13 01:24] imotov commented on #26576
@tlrx cannot really think of any significant changes that would lead to something like this. Could it be a coincidence? How are the nodes doing in terms of CPU and memory during snapshots?

[2017-09-13 01:55] rjernst commented on #26609
There is no discernible bug report here, as there is no reproduction information. Please ask questions on [our forum](https://discuss.elastic.co/c/elasticsearch). We use github for feature requests and confirmed bug reports. After asking for help on the forums, if the issue is indeed a bug, please fill out the information in the issue template when creating an issue. This information can help us m

[2017-09-13 01:55] #26609 closed

[2017-09-13 02:47] liketic commented on #26575
Hi @jpountz Seems like this is fixed in #26552  What need to do to fix this? Thanks.

[2017-09-13 06:41] tomsommer commented on #26162
This will be a bug that keeps coming back, until 5.6.1 is released. Any chance of doing this ASAP?

[2017-09-13 07:18] jpountz commented on #26575
@liketic I don't think it is fixed. Documentation states that the relation can be of of `intersects`, `contains` and `within` (https://www.elastic.co/guide/en/elasticsearch/reference/current/range.html) so we need to fix `RangeQueryBuilder` to reject other values.

[2017-09-13 07:54] ywelsch commented on #26576
I wonder if it could have to do with https://github.com/elastic/elasticsearch/pull/23952 where we now rely on the s3 client retry mechanism instead of our own retry mechanism.

Searching for the error on the internet turns up a few interesting GH issues, indicating some issues with the S3 client and the retry mechanism:

https://github.com/aws/aws-sdk-java/issues/1101
https://github.com/aws/aws-sd

[2017-09-13 08:00] colings86 commented on #26596
@javanna are you able to have a look at this?

[2017-09-13 08:02] colings86 commented on #26608
@martijnvg are you able to take a look at this?

[2017-09-13 08:05] varundbest commented on #26570
Lets say we have a bunch of alerts :-
`PUT /dailyalerts/server/_bulk
{ "index" : {  "_id" : 1 } }
{ "alertLevel" : "1", "dayOfWeek" : "Monday" }
{ "index" : {  "_id" : 2 } }
{ "alertLevel" : "7", "dayOfWeek" : "Friday" }
{ "index" : {  "_id" : 3 } }
{ "alertLevel" : "2", "dayOfWeek" : "Wednesday" }
{ "index" : {  "_id" : 4 } }
{ "alertLevel" : "3", "dayOfWeek" : "Tuesday" }
{ "index" : {  "_id" :

[2017-09-13 08:06] colings86 commented on #26612
@nik9000 could you take a look at this?

[2017-09-13 08:07] ywelsch commented on #26610
- Is this something you're newly experiencing with 5.5.1 but worked fine in earlier ES versions?
- how many total shards you have?
- what's the size of your cluster state?
- are you experiencing the same issues when the `prometheus-exporter` plugin is not installed?
- Can you provide a heap dump that's taken on OOM?

[2017-09-13 08:11] ywelsch commented on #26544
Note that the same issue applies when force-allocating an empty / stale primary using the reroute commands.

[2017-09-13 08:20] colings86 commented on #26610
8,000 shards across 20 data nodes is quite excessive, you should consider reducing the number of shards per index as it is likely you are adversely affecting the performance of your cluster with this. Also what was the reason for moving form weekly to hourly indices? What is the average size on disk for your shards with hourly indices? Each shard has an overhead both on the node that it is allocat

[2017-09-13 08:35] colings86 commented on #25539
No further feedback. If you are able to recreate this issue using @jpountz's recreation script above then please comment and we can reopen this issue.

[2017-09-13 08:35] #25539 closed

[2017-09-13 08:43] jianwei2 opened #26619 "about script in java"
`Map<String, Object> params = new HashMap<String, Object>();
params.put("message2", "22345678dddd91");

updateRequest.script(new Script(Script.DEFAULT_SCRIPT_TYPE, Script.DEFAULT_SCRIPT_LANG, "def message2 =''; ctx._source.message2 = message2;",params));`

the result is   "message2 =''"。

[2017-09-13 08:45] colings86 commented on #26596
Could you explain a bit more about what you are trying to do? Why are you trying to set Authorization headers in this way? If you are trying to authenticate with the XPack Security plugin then this can be done by following the steps in https://www.elastic.co/guide/en/x-pack/current/java-clients.html. The threadpool is almost certainly not going to be the right place to be setting these headers.

[2017-09-13 08:45] tlrx commented on #26570
For now I think that the easiest solution would be to index the day of week as a number with Monday=0, Tuesday=1 etc.

For search results one can use [Script Based Sorting](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-sort.html#_script_based_sorting).

For aggregation results I think we can open a discussion on this.

[2017-09-13 08:45] jimczi commented on #22912
@riemannzeta1191 could you please ask your question on the [discuss forum](https://discuss.elastic.co/c/). This issue is closed and should not be used to answer general questions about the completion suggester.

[2017-09-13 09:02] cbuescher commented on #26619
Sorry, there is no discernible bug report here. For general questions, please use [our forum](https://discuss.elastic.co/c/elasticsearch). We use github for feature requests and confirmed bug reports. After asking for help on the forums, if the issue is indeed a bug, please fill out the information in the issue template when creating an issue. This information can help us more quickly identify and

[2017-09-13 09:02] #26619 closed

[2017-09-13 09:03] jianwei2 commented on #26619
ctx._source.message2 = params.message2

[2017-09-13 09:04] hexian55 commented on #26596
I have found a way to fix it.
I use myself authority plugin.
Add authentication in transportt client header and http header.
but in BulkProcessor, when add request, eg:  bulkProcessor.add(request),

 private synchronized void internalAdd(DocWriteRequest request, @Nullable Object payload) {
        ensureOpen();
        bulkRequest.add(request, payload);
        executeIfNeeded();
    }
if executeI

[2017-09-13 09:16] lruslan commented on #26610
@ywelsch

- Is this something you're newly experiencing with 5.5.1 but worked fine in earlier ES versions?
No. Before we were mostly using 1.7.* with considerably smaller amount of data nodes/indexes. And it's only in 5.5.1 we changed cluster setup to use 20 datanodes  and hourly index.
- how many total shards you have?
9087 shards ( 31 nodes in cluster, 20 data nodes, 490 indexes, 20 shards per i

[2017-09-13 09:46] lruslan commented on #26610
@colings86 thanks for the suggestions,
- it is likely you are adversely affecting the performance of your cluster with this
With current setup our performance is actually very good (I tried number of different setups) it's only masters expose this memory issue (btw CPU usage on all the servers is really low). I think we may even go up to 30G of RAM on masters, maybe memory usage will settle somewh

[2017-09-13 09:51] ywelsch commented on #26610
https://drive.google.com/a/travix.com/file/d/0B40JaBxFEd3ET3FMRDhmY0FzbkE/view?usp=sharing

I can't access the heap dump. Can you give permission to `yannick _AT_ elastic.co`?

[2017-09-13 09:51] #23506 closed

[2017-09-13 09:58] colings86 commented on #26596
Glad you have found a fix but do note that this is not a supported way of adding headers so this could well break in subsequent versions

[2017-09-13 10:01] colings86 commented on #19780
Only if you have the resources to handle the extra shards. Increasing shards has other affects on performance as well so you may find it helps but you may find it doesn't, you'd have to test in your use case to find out. Also if you increase the shards but they are shared over the same nodes then you will be loading double the number of global ordinals (one for each shard) every time you refresh s

[2017-09-13 10:03] #26273 closed

[2017-09-13 10:07] hexian55 commented on #26596
I want to fix this code, can reopen this issues?
but if well break in subsequent versions, Can there be other ways to replace it?
Or now i have other better way to do it？

[2017-09-13 10:10] hexian55 commented on #26596
@Override
        public void execute(BulkRequest bulkRequest, long executionId, Map<String, String> headers) {
            if (client.threadPool().getThreadContext().getHeaders() == null && headers != null) {
                client.threadPool().getThreadContext().putHeader(headers);
            }....
I want to add header para in this method.
it's will fix this bug, Do you have a better suggestion

[2017-09-13 10:13] hexian55 commented on #26596
@colings86

[2017-09-13 10:16] #26198 closed

[2017-09-13 10:27] jimczi commented on #26486
Thanks @fbaligand
I am not a big fan of using a single field to index different forms. The multi-fields approach is more flexible because you can boost each form (stemmed, phonetic, ...) differently. Are you concerned about performance when using the multi fields approach ? Since terms are different, the cost should be the same if you index the phonetic and the original form in two fields.

[2017-09-13 10:28] colings86 commented on #26596
I took this as you had solved your problem and your issue was fixed which is why I closed the issue. However, we do reserve this Github issue list only for bug reports and feature requests. It is clear now that this is not a bug in Elasticsearch but rather a question about a bug in your application code. Questions like this should normally be asked in the [Elasticsearch forum](https://discuss.elas

[2017-09-13 10:34] hexian55 commented on #26596
but I think this is es bug, because this header lost in org.elasticsearch.action.bulk.BulkProcessor.

[2017-09-13 10:40] colings86 commented on #26596
@jaymode @javanna is the ThreadContext supposed to be used in this manner to set and get headers and therefore not being able to get the header from the thread context is a bug?

[2017-09-13 10:41] hexian55 commented on #26596
please see org.elasticsearch.action.bulk.BulkProcessor,
BulkProcessor(Client client, BackoffPolicy backoffPolicy, Listener listener, @Nullable String name, int concurrentRequests, int bulkActions, ByteSizeValue bulkSize, @Nullable TimeValue flushInterval) {
        this.bulkActions = bulkActions;
        this.bulkSize = bulkSize.getBytes();

        this.bulkRequest = new BulkRequest();
        th

[2017-09-13 11:25] jpountz commented on #26606
You could potentially look into doing it yourself by adding a new field to your documents that contains the list of fields that they contain. This way you would have full control over what fields are taken into account.

[2017-09-13 12:05] liketic commented on #26335
From what I understand, we only need to keep the two preference `_prefer_nodes` and `_only_nodes` and remove all others? Thanks!

[2017-09-13 13:05] mahesh1104 commented on #22768
Fielddata is disabled on text fields by default. Set fielddata=true on [endpoints_data.uri] in order to load fielddata in memory by uninverting the inverted index. Note that this can however use significant memory. Alternatively use a keyword field instead.
i am getting this error in grafana, how to achive this one

[2017-09-13 13:26] #26443 closed

[2017-09-13 13:30] jpountz commented on #26608
This looks like a question, not a bug report. Please share this question at discuss.elastic.co, we strive to use Github only for confirmed bugs and feature requests.

[2017-09-13 13:30] #26608 closed

[2017-09-13 13:46] ywelsch commented on #26610
The heapdump contains mostly garbage (waiting to be collected), 400MB out of 6,7GB are actually reachable objects. Only a heapdump on OOM can explain what's going on here.

[2017-09-13 13:59] natelapp commented on #26587
I've done a bit more digging.  I'm not very familiar with the MAT application, so forgive me if this is a bit painful in trying to interpret what I'm seeing.

- It does indeed look like it's `uniqueQueries`.  The `cache` usage is below the default 10% of heap.
- Most of the rest of the top consumers within `ElasticsearchLRUQueryCache` are `BooleanQuery` objects, with the largest consumer within th

[2017-09-13 14:09] #26590 closed

[2017-09-13 14:12] lruslan commented on #26610
@ywelsch thanks. I've enabled HeapDumpOnOutOfMemoryError and gc logging , will let you know once I have a heapdump on OOM.
I also can see heap garbage being properly collected once in a while with 10G heap limit, jvm allows heap grow up to  7G and then collection happens. It looks I rushed to post an issue which is not real problem.
<img width="1239" alt="screen shot 2017-09-13 at 15 59 39" src="h

[2017-09-13 14:14] jimczi commented on #26590
Thanks @aleph-zero

[2017-09-13 14:16] nik9000 commented on #26612
Highlighting doesn't have an option to sort the fields returned in any way.

The `"sort": "score"` option allows you to sort the fragments returned in each field. This only comes into play when you set `number_of_fragments` to something more than 1.

Sorry we don't have the thing you want! We certainly could *make* something like that but we aren't really doing a ton of work on highlighters and co

[2017-09-13 14:16] #26612 closed

[2017-09-13 14:20] ywelsch commented on #26610
ok, I'll close this issue for now. Feel free to reopen once there is new information.

[2017-09-13 14:20] #26610 closed

[2017-09-13 14:30] lizhongz commented on #12366
enabled=false works for me.

[2017-09-13 14:47] trevan commented on #26606
@jpountz, I'm planning on doing that but I thought that ES might be doing some special stuff for the field list that I wouldn't be able to duplicate.  I know that I can't use the exists on it, which is a bummer.  But are there optimizations that ES does as well that I wouldn't be able to duplicate?  Or is it really just a separate field that has special handling for exists?

[2017-09-13 14:53] risdenk commented on #26513
@jbaiera Glad I'm not crazy it doesn't reproduce in the integration test but it does if you stand up a cluster. Last night I was able to get it to reproduce once in the rest integration test framework. I'm working on putting up my branch for this

[2017-09-13 14:54] dakrone commented on #26335
@liketic there are others that should still be kept, I believe the consensus was just to remove `_primary` and `_replica`

[2017-09-13 14:58] bleskes commented on #26335
@dakrone Do we have a valid use case for `(_primary|_replica)_first`?

[2017-09-13 14:58] jpountz commented on #26606
This is actually the way `exists`is implemented. We collect all field names at parsing time and index them under `_field_names` which is later used by `exists` queries.

[2017-09-13 15:00] risdenk commented on #26513
From that branch I was able to recreate the `access denied` with `gradle integTestSecure` from the `plugins/repository-hdfs` directory.

[2017-09-13 15:01] arunagar commented on #26555
Hey i was looking at the query_string test for range, there is already existing test in here for range
https://github.com/elastic/elasticsearch/blob/c709b8d6ac7ef50a42c3f69f07132d2b0515f385/core/src/test/java/org/elasticsearch/index/query/QueryStringQueryBuilderTests.java#L918

Is the intention to write a unit test with query_string, which makes sure that the relation is intersect ?

[2017-09-13 15:03] dakrone commented on #26335
@bleskes other than them being nicer than having to determine the nodes themselves? I'm not sure. The only thing I could think would be a very script-heavy update where you wanted to use `_replica` so that you avoided load on the primaries that were doing the fetch-run-script-and-update.

[2017-09-13 15:05] bleskes commented on #26335
The question is why would you like to do that?  I would op to remove those. It just confuses people to think that primaries are special (and we should remove cases where they are..)

[2017-09-13 15:17] dakrone commented on #26335
That (the update scenario) was the only scenario I could think of

Sure, if you think the scenario I mentioned isn't valid

I'm not sure if we're going to be able to move away from update scripts running on the primary shard? At least definitely not on the short term

[2017-09-13 15:18] willard-kali opened #26629 "custom analyzer error for upgrade from es 2.4 to 5.5"
**Describe the feature**:
I am working on upgrading ES from 2.4.0 to 5.5.0. The issue come when our custom analyzer for existing data in 2.4.0 can't work with ES 5.5.0

**Elasticsearch version** (`bin/elasticsearch --version`):
5.5.0
**Plugins installed**: []
no
**JVM version** (`java -version`):
1.8.0
**OS version** (`uname -a` if on a Unix-like system):
suse
**Description of the problem includin

[2017-09-13 15:25] trevan commented on #26606
So no special handling other than the `exists` queries?  Good to know.

Can I update `_field_names` myself?  I would like to be able to use the `exists` queries since it doesn't require my users to have to remember that `exists` works for some fieldnames but not for all.

[2017-09-13 15:26] jpountz commented on #26606
No, you can't update `field_names`. It is totally internal.

[2017-09-13 15:29] trevan commented on #26606
Is there a way to tell `exists` to use my new field?

Going back to the original request, can ES be changed so that I can add fields to `field_names` that aren't mapped to be indexed?

[2017-09-13 15:33] depelteau opened #26631 "Exception making http rest request when generating password"
**Elasticsearch version**
Version: 6.0.0-beta2, Build: 23ffa4f/2017-08-29T01:53:03.739Z, JVM: 1.8.0_144

**Plugins installed**
X-Pack for Elasticsearch

**JVM version**
java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)

**OS version**
Windows 2016 Server Standard 64bit

**Description of the problem includ

[2017-09-13 15:45] jasontedor commented on #26631
This repository is for open source Elasticsearch only. We do not handle closed X-Pack issues here. Instead, for that, we ask that you report through the [forum](https://discuss.elastic.co).

[2017-09-13 15:45] #26631 closed

[2017-09-13 16:25] cbuescher commented on #26390
Fixed by #26574 and #26598

[2017-09-13 16:25] #26390 closed

[2017-09-13 16:51] andy-elastic commented on #25686
Seeing this now in SimpleNetty4TransportTests on 5.6, I'll backport this fix there

* https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+oracle-periodic/567/console
* https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+java9-periodic/603/console
* https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+multijob-unix-compatibility/os=debian/155/console

[2017-09-13 17:22] jaymode commented on #26596
I think that this should be considered a issue. We shouldn't lose headers when switching threads as this is the only way for users to provide headers with requests.

[2017-09-13 17:32] natelapp commented on #26587
There aren't any obvious problems with the queries from what I can see.  The process is as I indicated above:

- From within a filter, do a `must` on a _type and a single term and a `must_not` of `has_child` (match_all).   Basically, find all docs of a given _type that don't have any children.   In my process there are a few million results that come back.
- With those 100 results in memory in our

[2017-09-13 17:49] andy-elastic commented on #26480
Another one https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.0+multijob-unix-compatibility/os=centos/156

[2017-09-13 19:47] jimczi commented on #26555
@arunagar this test is on a keyword field, what's missing is a query on a range field:
https://www.elastic.co/guide/en/elasticsearch/reference/current/range.html

[2017-09-13 21:43] hoffoo opened #26636 "GCS repository snapshot fails intermittently on some shards "Failed to check if blob exists" java.io.IOException: insufficient data written"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.5.1

**Plugins installed**: [repository-gcs discovery-gce]

**JVM version** (`java -version`): 1.8.0_131

**OS version** (`uname -a` if on a Unix-like system): Linux XXX 4.10.0-27-generic #30~16.04.2-Ubuntu SMP Thu Jun 29 16:07:46 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

**Description of the problem including expected versus actual behav

[2017-09-13 23:20] jasontedor commented on #18230
@hexinw The OOM did not get swallowed. Your node stopped and restarted, as expected:

[code]

[2017-09-14 00:35] andy-elastic commented on #26241
Another one from today https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.5+multijob-unix-compatibility/os=centos/124/console

Here's the stack trace for future reference

[code]

[2017-09-14 01:37] hexian55 commented on #26596
if I fix to

 org.elasticsearch.action.bulk.BulkProcessor

    BulkProcessor(Client client, BackoffPolicy backoffPolicy, Listener listener, @Nullable String name, int concurrentRequests, int bulkActions, ByteSizeValue bulkSize, @Nullable TimeValue flushInterval) {
        this.bulkActions = bulkActions;
        this.bulkSize = bulkSize.getBytes();

        this.bulkRequest = new BulkRequest();

[2017-09-14 01:49] hexinw commented on #18230
So the java.lang.OutOfMemoryError stack trace is not getting logged in time due to node restart? On 5.4.2, I've been able to consistently seeing the stack trace when OOM happens.

[2017-09-14 02:49] liketic commented on #26335
So it's OK to remove `_primary` and `_replica` now? Thanks. 😄

[2017-09-14 04:11] imotov commented on #26636
@tlrx this looks very GCE-specific and I am traveling until the end of the week. Could you take a look?

[2017-09-14 04:52] bleskes commented on #26335
@dakrone OK. I'll add a discuss label to this so it will be picked up in fix it friday and we make a final decision. I tend to say remove them all (we can fix the update issue by making it read from any replica, but I agree that's not happening soon)

@liketic can you hold off for a few days? I appreciate the willing to contribute.

[2017-09-14 05:47] chunji08 commented on #18406
Do we have a solution to this issue. I am using ES ( version 5.6)  now and I have hit the same issue.  Same platform, if I was using my previous installed ES ( version 2.4), I don't have this problem. Thanks.

[2017-09-14 07:27] jimczi commented on #26629
I tried to reproduce but the upgrade worked for me. Can you share your 2.4.0 templates and mappings as well as the logs of the upgraded node ?

[2017-09-14 07:31] liuzhen88 opened #26638 "How to sort by aggregations result"
hello everyone

this is my code
response = xx.search query:{},aggs:{
   group_by_store:{
       terms:{
		field:'store_id',
		order:{
			"how to sort by  in_doo/total ?????????"
		},
		size:10
	},
	aggs:{
		total:{
			sum:{
				field:'value'
			}
		},
		in_door:{
			sum:{
				field:'into_door'
			}
		}
}

I want to sort by (in_door/total)  .   How to do ?

Thank you all for your answers

[2017-09-14 07:36] jimczi commented on #26638
Please ask questions like this in our forum at https://discuss.elastic.co/ . We reserve github issues for verified bugs and feature requests.

[2017-09-14 07:36] #26638 closed

[2017-09-14 08:43] jpountz commented on #26587
OK I think your issue is caused by those GlobalOrdinalsQuery objects. They have to reference global ordinals instances in order to be able to work, however those global ords are not taken into account while they can take significant memory (3.6MB in your case). Multiplied by the number of cached queries, this can be an issue.

I can't think of a straightforward way to fix it, however you should be

[2017-09-14 08:47] emmanuelGuiton opened #26639 "LimitMEMLOCK disappeared in Elasticsearch 5.6 deb package"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.6

**Plugins installed**: none

**JVM version** (`java -version`): 1.8.0_144

**OS version** (`uname -a` if on a Unix-like system): Debian 4.9.30-2+deb9u3

**Description of the problem including expected versus actual behavior**:
When upgrading from Elasticsearch 5.5.x to 5.6 using the deb repository, I noticed that limitMEMLOCK setting

[2017-09-14 09:18] jasontedor commented on #26639
It was only ever commented out but we removed it. See #25979 for context. You should add a unit file instead of editing the service file which is one reason that we removed it.

[2017-09-14 09:18] #26639 closed

[2017-09-14 09:32] cbuescher opened #26641 "[Docs] Clarify Whitespace tokenizer behaviour with tokens longer than 255 characters"
Currently the Whitespace tokenizer splits tokens longer than 255 characters into separate tokens by default. This is suprising to some users (see #26601 for an example why this can be confusing). We should document this better (other tokenizers like the Standard tokenizer have some explanation for this in the docs where we talk about the `max_token_length` parameter). Maybe we should also check th

[2017-09-14 09:36] kirubasankars opened #26642 "_cat/aliases throws when no indices has alias"
**Elasticsearch version** (`bin/elasticsearch --version`):
5.5.2

**Description of the problem including expected versus actual behavior**:
   GET  _cat/aliases throws when no indices has alias. suppose to has gentle response

**Steps to reproduce**:
   start a fresh elasticsearch instance and do "GET  _cat/aliases". since it has no indices/aliases

[2017-09-14 09:39] cbuescher opened #26643 "The Whitespace tokenizer should support the `max_token_length` parameter"
Other tokenizers (like Standard) support overriding the `max_token_length` parameter, but it seems Whitespace doesn't, while the underlying Lucene WhitespaceTokenizer seems to support this parameter. We should probably enable setting this parameter in Elasticsearch as well.

[2017-09-14 09:41] cbuescher commented on #26641
Very long tokens like in #26601 might be an edge case that is rare and not necessary to support, but having a shorter `max_token_length`  than the default 255 might be useful sometimes.

[2017-09-14 09:45] cbuescher commented on #26601
I'll have to add that to my set bug-hunting techniques. Root cause analysis: "My cat slept on the keyboard".
Thanks again for raising this, I opened two follow up issues about documenting this better (#26641) and maybe enable the `max_token_length` parameter for Whitespace tokenizer (#26643) so I'm going to close this.

[2017-09-14 09:45] #26601 closed

[2017-09-14 09:56] jasontedor commented on #26642
This does not reproduce. Please provide reliable steps to reproduce, and the error messages that you see in the response and in the logs.

[2017-09-14 10:13] natelapp commented on #26587
That all makes sense.  Is `globalOrds` so large because of our use of parent/child?  And will the size of `globalOrds` increase with an increase in data?  This issue is present in our development system which contains much less data than our production environment.  I want to set `indices.queries.cache.count` to something that can support our prod data set.

I want to make sure I understand everyt

[2017-09-14 10:29] cbuescher commented on #25603
@JagathJayasinghe can you share how many shards and replicas are configured for the index in question? Apologies if this is already somewhere in the ticket, I couldn't find anything.

[2017-09-14 10:51] JagathJayasinghe commented on #25603
There are 6 shards and 2 replicas.

[2017-09-14 11:10] LoadingZhang opened #26645 "Add conditions to Remove Ingest Processor"
**Describe the feature**: I want to remove some fields when it equal to some conditions, such as:
In my nginx log, the value of request_time may be "-",because nginx will automatically fill with "-" if this value is empty, if there have one value is "-", the mapping of this field only should be keyword not number,and I can't do calculate in Kibana or somewhere else.
I don't want this happen, so I

[2017-09-14 11:14] jpountz commented on #26587
You wouldn't need this GlobalOrdinalsQuery if you were not using parent/child. The size will indeed increase if you add more data, so you can try a more conservative size of the cache.

Correct, the cache has 2 levels: on the first level we have queries, and on the second level we have segments. Conceptually the cache acts like a `Map<Query, Map<Segment, DocIdSet>>` where `DocIdSet` is a set of ma

[2017-09-14 11:24] jimczi commented on #26645
Please ask questions like this in the [forum](https://discuss.elastic.co/). We reserve github for verified bugs and feature requests.
Regarding your issue you can use the [`script` processor](https://www.elastic.co/guide/en/elasticsearch/reference/current/script-processor.html)  to remove/rewrite the field or set [`ignore_malformed`](https://www.elastic.co/guide/en/elasticsearch/reference/current/

[2017-09-14 11:24] #26645 closed

[2017-09-14 13:24] natelapp commented on #26587
Thank you for the explanation.  I think the safest thing short-term is to try disabling query cache completely and hope that performance isn't _too_ bad.  We were already planning on moving away from parent/child, which seems to be our best bet long-term.

Thanks again for helping us figure out what was causing this.

[2017-09-14 13:36] jpountz commented on #26587
We used to rely a lot on the cache for performance to be good (especially pre-2.0) but this is something that we worked on fixing in recent versions, so things shouldn't be too bad with a disabled query cache.

Thanks for reporting this bug, it can definitely be problematic in some cases and we need to find a way to fix/avoid it.

[2017-09-14 14:41] pweerd opened #26647 "Upgrade from 5.4.0 to 5.6.0 failed with indexes using custom similarity."
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):

**Plugins installed**: [my custom similarity plugin]

**JVM version** (`java -version`): 1.8.0_111-b14

**OS version** (`uname -a` if on a Unix-like system): Windows 10

**Description of the problem including expected versus actual behavior**:
Elasticsearch will not start when there are existing indexes with a c

[2017-09-14 14:44] jasontedor commented on #26647
Duplicates #25350

[2017-09-14 14:44] #26647 closed

[2017-09-14 15:07] jpountz commented on #26643
+1 but then we'd need a limit so that users don't set it to something that is unreasonable.

[2017-09-14 15:14] cbuescher commented on #25603
Thanks, lets take a step back here.
I didn't focus on the fact that you querying across two types so far, can you elaborate on this a bit more? This might come into play with the nested docs probably.
As far as I see in this issue, you have one index (here "my_index", probably different name in prod) and two types ("my_type", "my_other_type"). The mapping you provided in https://github.com/elastic

[2017-09-14 15:22] pweerd commented on #25350
In general, I would advocate a settings that allows an index with a problematic custom similarity to be loaded anyway (with kind of a no-op similarity). This enables us to manipulate the index-definition afterwards.

[2017-09-14 15:40] cbuescher commented on #26643
The existing restriction in Standard tokenizer allows `max_token_length` to be up to 1024 * 1024 characters (https://lucene.apache.org/core/6_6_0/core/org/apache/lucene/analysis/standard/StandardTokenizer.html#setMaxTokenLength-int-). Maybe this should also be lower? But hard to pick a number, so should we just leave it to the user to pick a good maximum length? The default should work most of the

[2017-09-14 15:42] jaymode commented on #26596
I would look at org.elasticsearch.common.util.concurrent.ThreadContext#preserveContext. We could just use that to wrap the Flush runnable

[2017-09-14 16:45] elasticmachine opened #30090 "[Watcher] Support icon_emoji"
*Original comment by @sherry-ger:*

The slack API supports icon_emoji. Please support icon_emoji from watcher actions not just icon as it is available now.

[2017-09-14 17:56] qwerty4030 opened #26649 "post filter not applied to field collapsing inner hits?"
**Elasticsearch version**: 5.3.3

**Plugins installed**: [discovery-ec2, repository-s3, x-pack]

**JVM version** : 1.8.0_131 Java HotSpot(TM) 64-Bit Server VM

**OS version** : 3.13.0-121-generic AWS Ubuntu 14.04 LTS

**Description of the problem including expected versus actual behavior**: I recently started using the new [field collapsing](https://www.elastic.co/guide/en/elasticsearch/reference/

[2017-09-14 18:03] champtar opened #26650 "dynamic_templates are not always applied in order"
**Elasticsearch version** (`bin/elasticsearch --version`):
5.6.0

**Plugins installed**: []
None

**JVM version** (`java -version`):
[code]

**OS version** (`uname -a` if on a Unix-like system):
[code]

**Description of the problem including expected versus actual behavior**:
```dynamic_templates``` are not always applied in order contrary to what says the documentation
https://www.elastic.co/guid

[2017-09-14 18:34] hexinw commented on #26525
I enabled the trace log to understand how the request circuit breaker is doing the heap usage estimation. I noticed that the OOM seems to happen way after the heap usage estimation going down to 0gb.

Noticed the heap estimation by circuit breaker reaches peak 3.9gb around 10:49:11. It goes down to
0 around 10:49:21,922. But OOM happens in 10:50:42.

Does it mean some other circuit breaker logic i

[2017-09-14 19:04] sherry-ger opened #26651 "Unable to set script.allowed_contexts in elasticsearch.yml"
**Elasticsearch version** (`bin/elasticsearch --version`):
5.5.3

**Plugins installed**: []
x-pack

**JVM version** (`java -version`):
1.8.0_60

**Description of the problem including expected versus actual behavior**:

This is similar to the issue reported [here](https://github.com/elastic/elasticsearch/issues/24830).

**Steps to reproduce**:

 1.  Add the following setting to elasticsearch.yml f

[2017-09-14 19:05] sshling opened #26652 "IntelliJ IDEA 2017.2.3 x64 run testCase fail"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.4.3

**Plugins installed**: none

**JVM version** (`java -version`): 1.8.144

**OS version** (`uname -a` if on a Unix-like system):  windows 7

**Description of the problem including expected versus actual behavior**:

- just clone from github
- run  "gradle idea"
- import to idea
- just test `org.elasticsearch.cluster.ClusterInfoService

[2017-09-14 19:12] mikeholczer commented on #3791
@clintongormley did supporting indexing an array of suggestions for a document actually get in the product? I don't see it in the documentation for 2.1 nor 5.5. Also the classes in NEST nuget package don't seem to support it.

[2017-09-14 19:13] jasontedor commented on #26652
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-09-14 19:13] #26652 closed

[2017-09-14 19:27] mikeholczer commented on #3791
Sorry, I do now see it in the documentation. When using NEST, I guess I would define the suggestion property of the class representing the document to be an Array of CompletionField?

[2017-09-14 19:53] jimczi commented on #26525
Aggregations are performed in two phases. The first phase runs the aggregation on all shards and the second phase reduces the shard responses to a single result. The circuit breaker checks the memory during the first phase but it is not used for the reduce phase in the coordinating node. In your example the node ran out of memory during the reduce phase where memory is not checked.
All shards were

[2017-09-14 20:30] jrots opened #26653 "Getting java.net.NetPermission with xpack.monitoring.exporters (elasticsearch-6.0.0-beta2)"
When I add
[code]
to my elastic config, I get a `java.net.NetPermission` error..
`xpack.security.enabled: false` is disabled on the server where I setup the config
and on the receiving elastic search servers (also running elasticsearch-6.0.0-beta2) ..

Could it be that I need to enable / disable something to avoid these security errors?
Couldn't not find anything related on google that could pinpo

[2017-09-14 20:36] jasontedor commented on #26653
This repository is for open source Elasticsearch only. We do not handle closed source X-Pack issues here. For that, please use the [forum](https://discuss.elastic.co).

[2017-09-14 20:36] #26653 closed

[2017-09-14 20:40] jordansissel commented on #25604
@ppf2 To clarify, just certificates, right? Not keys?

[2017-09-14 20:45] ppf2 commented on #25604
For this use case, yes, for specifying ca cert bundle.

[2017-09-14 20:53] rjernst commented on #26604
Again, we do not "only" support AWS S3. We just use the official s3 client, and no longer expose any "special" settings. Instead of having our code support multiple styles of accessing the bucket (one of which was untested before), we are trying to consolidate and make sure we have exactly one access pattern. In the case of path style access, it is a little tricky because it depends on the endpoin

[2017-09-14 22:43] mickeystroller commented on #19359
Hi all,

I want to make sure my understanding is correct. In ES 5.4.0, the only way to access index statistics in scripts is to write a custom ScriptEngine which can only be written in Java. If that is the case, I want to further ask whether there is a way to force the usage of Groovy in ES 5.4.0 assuming it has not been completely deleted.

Thanks.

[2017-09-15 02:49] hanabi1224 opened #26655 "EndpointSuffix support in azure repository plugin"
Azure storage has customized domain in certain regions, e,g.  EndpointSuffix=core.chinacloudapi.cn in Azure China. It will be great to support EndpointSuffix part from Azure storage connection string setting

Refer to: [doc](https://docs.microsoft.com/en-us/dotnet/api/microsoft.windowsazure.storage.cloudstorageaccount.-ctor?redirectedfrom=MSDN&view=azurestorage-8.1.3#Microsoft_WindowsAzure_Storage

[2017-09-15 04:32] moznion opened #26656 "Feature Request: Support `RestStatus#isSuccess()` method"
Motivation
--

I would like to check whether the request succeeded or failed via for each RestStatus enum instance.

e.g.

[code]

I have a patch so if this proposal looks good, I can send a pull request.
[https://github.com/elastic/elasticsearch/compare/master...moznion:rest_status_util_is_success](https://github.com/elastic/elasticsearch/compare/master...moznion:rest_status_util_is_success)

Mis

[2017-09-15 07:08] martijnvg commented on #26651
@jdconrad It looks like the `ScriptModes.TYPES_ALLOWED_SETTING` and `ScriptModes.CONTEXTS_ALLOWED_SETTING` Setting instances aren't registered in `ClusterSettings.java`?

[2017-09-15 07:10] jpountz commented on #26643
Lucene does not support terms that are more than 32766 bytes, and Java chars can be at most 3 bytes so maybe a limit around 10000 would be a good start.

[2017-09-15 07:22] martijnvg commented on #26649
@jimczi I think the reason why this happens is because the collapse collector is executed before the filtered collector in `QueryPhase#execute(...)`? (line 259 `collectors.addFirst(topDocsFactory);` )

[2017-09-15 07:28] martijnvg commented on #26656
@javanna Do you think such an addition to `RestStatus` in the context of the high level client makes sense?

[2017-09-15 07:31] jimczi commented on #26649
@martijnvg the collector chain is reversed when it is built from the factories so the filtered collector is **before** the top docs collector and works fine on the collapsed hits. This issue is about applying the `post_filter` to the expand phase (the `inner_hits` retrieval), currently it is just ignored.
I agree that it should be applied so it can be considered as a bug.

Yes, the field collapsin

[2017-09-15 07:33] martijnvg commented on #26649
@jimczi Ah I forgot that the chain is reversed. Thx for the explanation.

[2017-09-15 07:44] martijnvg commented on #26655
Duplicate of #26432

[2017-09-15 07:44] #26655 closed

[2017-09-15 08:11] jagginarendra commented on #23331
@dadoonet when I am using the below dependency, I am getting error in pom.xml

 <dependency>
            <groupId>org.elasticsearch.client</groupId>
            <artifactId>elasticsearch-rest-client</artifactId>
            <version>5.6.0-SNAPSHOT</version>
        </dependency>
        <dependency>
            <groupId>org.elasticsearch.client</groupId>
            <artifactId>elasticsearch-rest-

[2017-09-15 08:46] dadoonet commented on #23331
5.6.0 has been released. Remove the SNAPSHOT part

[2017-09-15 08:51] hexian55 commented on #26596
hi
@jaymode
I do not know how to use this approach to fix.
Is there a plan to fix this problem in the next version?

[2017-09-15 08:53] hexian55 commented on #26596
hi jaymode

Can you think this is a bug?

[2017-09-15 09:16] colings86 commented on #16838
@mattweber sorry its taken a while to reply to this. @martijnvg and I spoke about whether the `reverse_nested` would suffer from the same out of order problem and we noted that the reason the `nested` aggregator has this issue is because it uses an iterator rather than a bit-set for the child filter in `NestedAggregator`. `ReverseNestedAggregator` uses a bit-set for its parent filter so can cope w

[2017-09-15 10:25] #26519 closed

[2017-09-15 10:25] ntwobike commented on #15366
I'm getting this when i try to update, any thoughts?

[code]

[2017-09-15 12:01] #26575 closed

[2017-09-15 12:49] franekrichardson opened #26660 "discovery-file plugin does not use provided config directory"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.0.0-rc1

**Plugins installed**: [discovery-file, found-elasticsearch, repository-s3, x-pack]

**JVM version** (`java -version`): 1.8.0_144

**OS version** (`uname -a` if on a Unix-like system): Alpine

**Description of the problem including expected versus actual behavior**: discovery-file plugin does not use the provided config director

[2017-09-15 12:54] franekrichardson opened #26661 "Discovery-file plugin always issues a deprecation warning for discovery.type"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.0.0-rc2

**Plugins installed**: [discovery-file, found-elasticsearch, repository-s3, x-pack]

**JVM version** (`java -version`): 1.8.0_144

**OS version** (`uname -a` if on a Unix-like system): Alpine Linux

**Description of the problem including expected versus actual behavior**:
The discovery-file plugin always emits the deprecation wa

[2017-09-15 12:57] s1monw commented on #26615
I have been thinking about this and from my perspective there needs to be a secure channel between these clusters to communicate otherwise we can't support this. I wonder if a VPN would be the right option here? I mean if you allow a certain profile to be exposed via _ec2:publicIpv4_ it's as good as just using the plublic IP everywhere? There needs to be some way of protecting the exposed services

[2017-09-15 13:04] jpountz commented on #26606
No.

[2017-09-15 13:22] colings86 commented on #26606
We discussed this in FixItFriday and decided that this is not something we would want to implement as it would add complexity to the mappers for what seems to be a rare use case. This can be implemented by indexing the field names in your document as a custom `my_field_names` field and then use a Term query to determine the documents where the field exists

[2017-09-15 13:22] #26606 closed

[2017-09-15 13:48] s1monw commented on #26533
the issues here is that we don't have a timeout on the connection for bulk which I think it ok for bulk to not timeout. if you want to make sure your bulk requests do actually time out you can do that by adding a plugin to the `TransportClient`. The plugin must implement `NetworkPlugin` and there you can wrap an async sender that is basically an interceptor of the request before it gets executed.

[2017-09-15 13:48] #26533 closed

[2017-09-15 14:31] robin13 opened #26665 "Bootstrap test for ability to write OOM heap dump"
Currently it is possible for elasticsearch users to have `-XX:+HeapDumpOnOutOfMemoryError` enabled (it is enabled by default), but in many installations (rpm/deb) the default location (`$ES_HOME` which is usually `/var/share/elasticsearch`) is not writable.
Alternatively the location can be explicitly defined with -XX:HeapDumpPath=<heap dump path> but this location may not be writable... so if an

[2017-09-15 15:42] mattweber commented on #16838
Thank you @colings86!

Would it be possible for NestedAggregator to use a bit-set so we can remove this limitation?  If no, can you give an example aggregation that relies on doc order?

For my use case, I need to calculate a metric against a nested field and then sort a terms aggregation by it.  It does not rely on a specific order.  I have simply forked the nested aggregation into a plugin and r

[2017-09-15 16:13] rjernst commented on #26661
Thanks for trying out the 6.0 beta! This is a warning that is no longer relevant. I've opened a PR to remove this fallback/warning and marked this issue for the Pioneer Program.

[2017-09-15 16:37] Daniel314 opened #26669 "ES 5.4.3 unexpectedly removes indexes"
ES: Version: 5.4.3, Build: eed30a8/2017-06-22T00:34:03.743Z, JVM: 1.8.0_144
Plugins: none
Java: 1.8.0_144
OS: Linux es-archival1 3.13.0-129-generic #178-Ubuntu SMP Fri Aug 11 12:48:20 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

I have experienced an issue with two versions of ElasticSearch (5.4.3 and 2.4.1), where ElasticSearch deletes indicies that it should not delete.  My environment is a multi-mo

[2017-09-15 16:39] jayannah commented on #20927
Hi, still see the 5.6 documentation has the same settings.. and I'm getting the same error

https://www.elastic.co/guide/en/elasticsearch/reference/5.6/index-modules-slowlog.html

[2017-09-15T16:18:53,965][WARN ][o.e.b.ElasticsearchUncaughtExceptionHandler] [] uncaught exception in thread [main]
org.elasticsearch.bootstrap.StartupException: java.lang.IllegalArgumentException: node settings must no

[2017-09-15 16:39] PhaedrusTheGreek opened #26670 "Specify https scheme in RestClient encrypted communication example"
The example for [Encrypted Communication with the Rest Client](https://www.elastic.co/guide/en/elasticsearch/client/java-rest/current/_encrypted_communication.html) isn't working.  Seems like the main problem was that the "HttpHost" object needed a 3rd "https" scheme parameter.  Tested the following on 5.3.1 and 5.6.0

[code]

[2017-09-15 16:41] jayannah opened #26671 "Slowlog settings not working as per documentation"
Referring the same issue https://github.com/elastic/elasticsearch/issues/20927 which is closed ..

Hi, still see the 5.6 documentation has the same settings.. and I'm getting the same error in ES 5.6 aswell..

https://www.elastic.co/guide/en/elasticsearch/reference/5.6/index-modules-slowlog.html

[code]

What is t he right configuration? why such important settings are not documented corrected?

[2017-09-15 16:44] colings86 commented on #16838
@mattweber Any nested aggregation which is a sub-aggregation to a terms aggregation which is working on a multi-value field could exhibit this out of order problem because we would process all the nested docs for the first terms before we then reprocess the nested documents for the second term on the document with multiple values for this field.

As an example imagine an index with 1 root docs whi

[2017-09-15 16:44] dadoonet commented on #26671
Documentation says:

Which means that you can't set that in `elasticsearch.yml` but using update index settings API.

Better to ask this question on discuss.elastic.co where we can give a better support.
As this space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

I'm closing if you don't mind.

[2017-09-15 16:44] #26671 closed

[2017-09-15 16:50] hexinw commented on #26525
What is the reason that we don't put circuit breaker in the reduced phase?

[2017-09-15 17:18] colings86 commented on #16838
Just for clarity as it might have gotten lost in the wall of text above, the problem with out of order docs would occur if you next a nested aggregation under a multi-bucket aggregation which is working on a multi-value field (a field where at least one doc has multiple values for the field). Noted that if you have removed `asMultiBucketAggregator` this could cause problems in any multi-bucket agg

[2017-09-15 17:33] jayannah commented on #26671
Appreciated if there are any examples in the documentation or provide the links.. Thanks for the response.

[2017-09-15 17:44] dakrone commented on #26669
Do you have any logs from this attempt/timeout/failure (stacktraces would be great to see where it timed out)

This sounds suspiciously like something like `curator` is running in a cron job that might be deleting all indices older than a certain date. Can you confirm whether you have a process like that in your environment?

Any other relevant logs would be much appreciated, there should be logs

[2017-09-15 17:45] rjernst commented on #26670
Maybe this is a case where we should have the code in a qa test, and do extraction into the docs, like we do in eg the advanced scripting example.

[2017-09-15 18:06] rjernst commented on #19359
@mickeystroller
Please ask questions on [our forum](https://discuss.elastic.co/c/elasticsearch). We use github for feature requests and confirmed bug reports. Commenting on closed issues often results in missed messages. It is best to open a new discussion on the forum for a question such as this.

[2017-09-15 18:44] rjernst commented on #26589
It is more complicated than that. The keystore is _closed_ after the node is initialized. We keep this stuff in memory for as little time as possible. The contract is plugins/services must read their secure settings during initialization.  S3 repository iterates over all the named clients, pulling creds/settings together, and then stores those in its own internal map of client settings, then looks

[2017-09-15 18:51] scottsom commented on #26589
Got it, thanks for the explanation.

[2017-09-15 19:20] imotov opened #26673 "TemplateUpgradeService get stuck in repeatedly upgrading templates after upgrade to 5.6.0"
It manifests itself by the following messages that might linger in the log files for a while after upgrade if x-pack is installed.

[code]

The problem is occurring because during application of templates the order of elements in the template mapping can get shuffled causing the follow-up check if update is need to fail. I am working on the fix.

[2017-09-15 19:22] Daniel314 commented on #26669
Lee,

Aside from one log that was a report of a failure to forcemerge (and a bunch of indicies disappearing right after that), I have no logs with anything interesting in them that I've seen that correlate with the disappearance of indexes.  I _think_ the first time I observed this issue (with the silent index deletion) was on Aug 23rd (filesystem timestamps indicate the directories were removed a

[2017-09-15 19:50] rjernst commented on #26611
@sherry-ger This does not reproduce for me. I have tried with and without example, using your example requests, on 5.5, 5.6 and master.  Is there something else about your setup that may be relevant?

[2017-09-15 20:01] elasticmachine opened #30092 "Minor inconsistency related to index counts"
*Original comment by @joegallo:*

<img width="721" alt="screen shot 2017-09-15 at 3 59 41 pm" src="https://user-images.githubusercontent.com/187034/30501096-0a6bcf9e-9a2f-11e7-8a3d-0cf485740303.png">

<img width="1015" alt="screen shot 2017-09-15 at 3 59 51 pm" src="https://user-images.githubusercontent.com/187034/30501097-0c522344-9a2f-11e7-9125-fffe33ff6529.png">

<img width="1200" alt="screen s

[2017-09-15 21:03] travisp opened #26674 "scaled_float does not work in dynamic templates across multiple types"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.4 through 5.6

**Description of the problem including expected versus actual behavior**:

When creating a default dynamic template that uses `scaled_float` and setting a `scaling_factor`, the mapping will be successfully applied to the first type that Elasticsearch encounters. When encountering a second type, with field names of the same

[2017-09-15 21:42] jbaiera commented on #26513
Checking in again on this since it's been the parent of a few real brain teasers:

I was able to get the rest test framework to reproduce the error, but only when the test case that reproduces it is run relatively early in the suite. This is a problem since our testing suite has no real sense of ordering (The test spec names with the leading numbers are a bit misleading). I found that one of the r

[2017-09-16 02:35] tanner-bruce opened #26676 "Auto expand config settings from environment variables"
When running in a docker/kubernetes environment it would be very useful to be able to set environment variables such as:
[code]

where those variables would then be transferred automatically to the config. It would have to be semi smart to deal with the fact that underscores are already used in the config, however that's definitely not a blocker. This is pretty common across many systems nowadays

[2017-09-16 02:46] rjernst commented on #26676
Elasticsearch already provides the ability to use environment variables in config. You can name them whatever you want, and expand them as the value for settings in elasticsearch.yml. See https://www.elastic.co/guide/en/elasticsearch/reference/current/settings.html#_environment_variable_substitution.

[2017-09-16 02:46] #26676 closed

[2017-09-16 04:46] jeacott1 opened #26677 "Is there any intention to retrofit the Java DSL with the http(s) transport?"
Is there any intention to retrofit the Java DSL with the http(s) transport so that devs dont have to write miles of horrid json and http(s) client stuff, nor wrap everything in custom dsl?

I had assumed when ES said they were ditching the custom transport in favour of http(s) they weren't also intending to ditch the java client along with it, but that doesn't appear to be the case.

Have I missed

[2017-09-16 04:50] jasontedor commented on #26677
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-09-16 04:50] #26677 closed

[2017-09-16 06:13] liketic commented on #21499
@jasontedor Seems like this is not a issue now.

[2017-09-16 07:18] hexinw commented on #26525
Do you guys see any issue for the following code change to catch the OOM in the reduce phase?

diff --git a/core/src/main/java/org/elasticsearch/action/search/FetchSearchPhase.java b/core/src/main/java/org/elasticsearch/action/search/FetchSearchPhase.java
index 25231ef..d91f5d3 100644
--- a/core/src/main/java/org/elasticsearch/action/search/FetchSearchPhase.java
+++ b/core/src/main/java/org/elasti

[2017-09-16 10:42] jasontedor commented on #26525
We are not going to catch OOM, we worked hard to remove catching errors that can be recovered from: #19231. Dying when the node hits such an error is intentional, the JVM is suspect at that point: #19272.

[2017-09-16 11:07] bc1000 opened #26679 "elasticsearch.log fillup disk"
**Elasticsearch version** (`bin/elasticsearch --version`): elasticsearch-5.6.0-1.noarch

**Plugins installed**: []

**JVM version** (`java -version`): "1.8.0_144"

**OS version** (`uname -a` if on a Unix-like system): CentOS Linux release 7.4.1708 (Core)

**Description of the problem including expected versus actual behavior**:
elasticsearch.log file was rapid growing and filling up disk.

**Steps

[2017-09-16 11:15] jasontedor commented on #26679
Closed by #25660

[2017-09-16 11:15] #26679 closed

[2017-09-16 11:17] jasontedor commented on #26679
Starting in 6.0.0, Elasticsearch will ship with a default configuration that limits the on-disk size of logs. In 5.6, you can apply this configuration yourself.

[2017-09-16 15:00] #26660 closed

[2017-09-16 15:09] risdenk commented on #26513
Ah that explains a lot! I couldn't figure out why the integration tests passed when I explicitly set the order with the leading numbers.

Do the tests run in parallel as well? If each test setup and tore down the repository there shouldn't be any overlap since the HDFS client is per repository.

[2017-09-16 16:28] hexinw commented on #26525
Sorry I am late to this. Can you elaborate the JVM statement? Do you mean that GC is slow in recycling the memory? Coming from C/C++ world, I'd think it normal for application to handle memory malloc failure. Is there any doc or discussion thread that talk about elastic search memory management model in general?

Just to recap, I run into two OOM problems in my test.
1) OOM is hit in per shard sea

[2017-09-16 18:28] tanner-bruce commented on #26676
@rjernst the whole point of this feature request is that you should not need to set them in the elasticsearch.yml as well as in the environment, elasticsearch should be smart about the existing environment variables. See my link to confluent.

[2017-09-16 18:32] jasontedor commented on #26676
@tanner-Bruce See elastic/elasticsearch-docker#33. For now we are not planning to make any changes in core Elasticsearch along the lines that you are suggesting.

[2017-09-16 21:51] BaranOrnarli commented on #16280
@clintongormley is there no way to transfer a local zipped folder (generated via _snapshot "fs") to ES Master node, then distribute it across the ES cluster without "shared drives"? I was looking for a way to simply point to a "local filesystem repo" and have the Master ES node distribute it into the cluster or _snapshot-restore it by reading the local filesystem (read-only). The "Type: 'fs'" ES-r

[2017-09-16 22:23] jeacott1 commented on #26677
this doesn't seem like a discussion query, just a straight up does the roadmap include a java dsl?
its also not a general question. its very specific and relates directly to both the elastic roadmap and code in this repo.

[2017-09-16 22:40] jeacott1 commented on #25847
it would be nice if the transport client  just used rest under the covers and nobody really cared about the mechanics.

[2017-09-16 23:13] jasontedor commented on #26677
Please take a look at the [high-level REST client]( https://www.elastic.co/blog/the-elasticsearch-java-high-level-rest-client-is-out).

If you have additional questions please use the forum. We only track bugs and feature requests here and answer questions on the forum.

[2017-09-17 02:34] travisp commented on #26674
I don't know the internals of Elasticsearch well, but it looks like the problem is that because mappings actually have to be the same between types, the code fails to apply the scaling_factor to the second type after the first was created in `org.elasticsearch.index.mapper.DocumentParser.createBuilderFromFieldType`

The example failing test passes if the method is updated to include the following

[2017-09-17 06:40] jshah111 commented on #20952
Is this now available as of 5.x?

https://www.elastic.co/guide/en/elasticsearch/reference/current/split-processor.html

[2017-09-17 11:57] carlosvega opened #26681 "Median Absolute Deviation"
Feature request:

In order to have more [robust estimators](https://en.wikipedia.org/wiki/Robust_statistics#Examples) it would be great that, as we are able to calculate the median, which is a robust estimator, we could also as well calculate **the [Median Absolute Deviation (MAD)](https://en.wikipedia.org/wiki/Median_absolute_deviation).**

These robust estimators are aimed to avoid individual ou

[2017-09-17 13:53] jasontedor commented on #26525
An out of memory exception can be thrown on any thread, whether executing:
 - JDK code
 - Elasticsearch server code
 - code in a third-party dependency

We have zero guarantees that a thread suffering an out of memory exception can gracefully cleanup any shared data structures it was in the middle of manipulating, there might not even be enough memory to gracefully carry out such cleanup. With no

[2017-09-17 19:31] theflakes commented on #17614
As others have noted sorting in ascending order is critical for exploratory data analysis and simple cyber security hunting for LFO events.

I'm probably going to expose my ignorance of ES under the hood cause I am ignorant there.  Could a recursive comparison of the aggregate, possibly with sub-query of certain results in question to specific shards, of all shard results help bring more confidenc

[2017-09-17 23:32] jasontedor commented on #26665
As I mentioned in another channel, this is not going to work as a bootstrap check. The location could be a location that we do not grant security manager file permissions for, but the Elasticsearch user could have filesystem permissions for and therefore the JVM will have no trouble writing the heap dump from this perspective should it exit on out of memory exception. Trying to check if we have fi

[2017-09-18 07:37] martijnvg opened #26684 "[CI] ElasticsearchHostsSnifferTests#testSniffNodes test failure"
Unfortunately this failure didn't print a reproduce line. Also I'm not able to reproduce it locally by re-running this test many times.

[code]

Build url: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.0+multijob-unix-compatibility/os=centos/172/consoleText

[2017-09-18 07:44] JagathJayasinghe commented on #25603
Thank you for the response. Please see explanations below in turn,

Yes, the mapping for both types is exactly the same.
The document Ids should be unique across both types.

So there are 43 nested documents of nestedType and 9 of otherNestedType

Yes, there is 1 parent document with id “111637091” in this case it is of type my_other_type.
It has 2 properties of nested documents:
“nestedTypeProp”:

[2017-09-18 07:51] martijnvg opened #26685 "[CI] DocsClientYamlTestSuiteIT {yaml=reference/cat/allocation/line_8} test failure"
Reproduce line: `gradle :docs:integTestRunner -Dtests.seed=7285D296C382174B -Dtests.class=org.elasticsearch.smoketest.DocsClientYamlTestSuiteIT -Dtests.method="test {yaml=reference/cat/allocation/line_8}" -Dtests.security.manager=true -Dtests.locale=ar-SA -Dtests.timezone=Europe/Minsk`

However this does not reproduce.

Actual failure:

[code]

Build url: https://elasticsearch-ci.elastic.co/job/el

[2017-09-18 07:57] danielmitterdorfer commented on #26650
I tried to reproduce the issue with the following statements:

[code]

For both indices I get:

[code]

So I think there is something missing in your original description.

What do you mean by the following question?

If you update the mapping of an index by e.g. adding a new field then dynamic templates will not apply to that field (because it already exists then). So there are certainly differen

[2017-09-18 07:57] martijnvg commented on #26685
Other instances of this failure:
* https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+periodic/27/console
* https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+oracle-periodic/630/console

[2017-09-18 08:07] danielmitterdorfer commented on #26681
@colings86, @polyfractal do have any thoughts on that?

[2017-09-18 08:18] danielmitterdorfer commented on #26674
@travisp thanks for the detailed report and reproduction scenario! @jpountz could you please have a look at this one?

[2017-09-18 08:19] colings86 commented on #26681
This is an interesting idea and looks like a good candidate for a new aggregation. However we would need to investigate methods for calculating (or estimating) this in a streaming one-pass fashion. The basic way to calculate this involves first iterating over the values to find the median and then iterating over the values again to calculate the deviation of each value from that median. In the agg

[2017-09-18 08:33] martijnvg commented on #26684
Another instance: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.0+java9-periodic/637/console

[2017-09-18 08:34] carlosvega commented on #26681
There are [some methods](https://hackage.haskell.org/package/tdigest-0.1/docs/Data-TDigest.html) available with [a bit of literature about it](https://github.com/tdunning/t-digest/blob/master/docs/t-digest-paper/histo.pdf). It might be some inaccuracies[[1](https://stackoverflow.com/questions/3903538/online-algorithm-for-calculating-absolute-deviation)][[2](https://stats.stackexchange.com/question

[2017-09-18 08:35] colings86 commented on #26681
One way to make this algorithm streaming might be to use a binning approach to estimate the median based on the median of previous 'bins' of values so you update the median at the end of every bin and use that value for the deviation of values from the median for the next bin (described for mean absolute deviation in https://stats.stackexchange.com/a/3378). I think this relies on an assumption tha

[2017-09-18 08:38] carlosvega commented on #26681
I think this method would be great. Also, the median should not change that quick, at least, if the bin is relatively small. The median would need 50% of their values to be different in order to change from the previous value.

Couldn't the size of the bin be the size of, for example, the data histogram bin?

[2017-09-18 08:47] tlrx commented on #26685
Closed by c16c653c3e9ad07ddd90d2d78ef8337cc5294750

[2017-09-18 08:47] #26685 closed

[2017-09-18 08:48] colings86 commented on #26681
Actually I think there is also an assumption that the median does not change significantly over the whole dataset, since the estimates for the median at the start of the stream don't know what the median will be at the end of the stream, so if for example the median value was 10 after 1 million values but 10 million after 5 million values the estimates of the deviation of the median would be quite

[2017-09-18 09:02] martijnvg opened #26686 "[CI] MixedClusterClientYamlTestSuiteIT#{p0=indices.get/10_basic/Should return an exception when querying invalid indices} test failure"
Reproduce line: `gradle :qa:mixed-cluster:v5.6.1-SNAPSHOT#mixedClusterTestRunner -Dtests.seed=3CEAE6E119461AC2 -Dtests.class=org.elasticsearch.backwards.MixedClusterClientYamlTestSuiteIT -Dtests.method="test {p0=indices.get/10_basic/Should return an exception when querying invalid indices}" -Dtests.security.manager=true -Dtests.locale=sr -Dtests.timezone=America/Rainy_River` (doesn't reproduce)

[

[2017-09-18 09:16] jasontedor commented on #26684
Closed by 0814ea3200d6af6c142ad7d2fa16bce5acfa9665

[2017-09-18 09:16] #26684 closed

[2017-09-18 10:06] da091314 opened #26687 "how to know the result was hit by the one condition"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem, including
(e.g.) index cre

[2017-09-18 10:24] jasontedor commented on #26687
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-09-18 10:24] #26687 closed

[2017-09-18 10:34] zjzhiqian opened #26688 "unassigned shards"
[code]

[2017-09-18 10:39] danielmitterdorfer commented on #26688
Hi @zjzhiqian, we reserve Github for bug reports and feature requests only. Please ask questions like these in the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch) instead. Thank you!

[2017-09-18 10:39] #26688 closed

[2017-09-18 10:44] martijnvg opened #26689 "[CI] UpgradeClusterClientYamlTestSuiteIT warning header missing"
[code]

This test failure does reproduce.

Build urls:
* https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+bwc-tests/167/consoleText
* https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+bwc-tests/166/console

[2017-09-18 10:47] jasontedor commented on #26686
Closed by 5dd476feb5cd9f96f7f517dd50ce5bac6df101cb

[2017-09-18 10:47] #26686 closed

[2017-09-18 11:00] jrots commented on #23792
Semi related but seeing very slow bulk API update requests on 6.0... openend a topic here :
https://discuss.elastic.co/t/slow-bulk-api-requests-es-6-0-beta2/100859
but really getting ridiculously slow update speeds..

ES is constantly busy with "warmer" requests when looking at `hot_threads`.. this is a blocking thing to use it in production for me.

[2017-09-18 12:10] javanna commented on #26656
I am not sure that this applies to the high-level client. @moznion are you using the transport client or the high-level REST client? With the latter, if you get an error back an exception is thrown, there is no reason to check whether you got back a success response. If you didn't, you would have gotten an exception instead. The only case where this does not currently apply is the Get API where 40

[2017-09-18 13:40] Daniel314 commented on #26669
Okay, egg on my face on this issue: my test environment had a cron script to trim indicies, and after an IP shuffle it was sending commands to the production system instead of itself.
Sorry for the noise and time wasted on this!

	- Daniel

[2017-09-18 13:58] javanna commented on #25847
hi @jeacott1 that would be great for users, for sure. But it would imply that we need to have implemented all of the methods going through REST, meaning a lot more work needed before we can  even start having users go through http. Also, it would mean legacy methods that are already 5+ years old and we want to get rid of would need to be implemented. We decided to start a new client that's as clos

[2017-09-18 14:05] polyfractal commented on #26681
So amusingly enough, I have some old code that implemented MAD in an aggregation.  Trying to track down the branch that had the agg, but the algo was essentially:

1. Set `approxMedian` equal to the first point `currentValue`
2. For each point:
   1. Add the point's value to a T-Digest sketch (`values`)
   2. Calculate the deviation as `Math.abs(approxMedian - currentValue)`, add to a secondary T-

[2017-09-18 14:10] #26669 closed

[2017-09-18 14:13] mattweber commented on #16838
Yes it does @colings86, thank you for the explanation.  I see #26683, thank you and @martijnvg for moving forward on this!

[2017-09-18 14:18] elasticmachine opened #30094 "[CI] HttpSecretsIntegrationTests#testWebhookAction test failure"
*Original comment by @martijnvg:*

Build url LINK REDACTED

Does not reproduce

[code]

[2017-09-18 14:21] hub-cap commented on #26686
@jasontedor @martijnvg thanks, sorry about this.

[2017-09-18 14:27] martijnvg opened #26693 "[CI] IntegTestZipClientYamlTestSuiteIT#{p0=search.aggregation/190_percentiles_hdr_metric/Non-keyed test} test failure"
Build url: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+aggressive-opts/273/consoleText

Does not reproduce.

[code]

[2017-09-18 14:27] carlosvega commented on #26681
It would be great, being able to have some index stats and use warmers to recalculate them for this kind of stuff. Like, "each day, recalc some statistics (like the median) over my previous X days of data and store it in order to be used with these aggregations". That could boost some kind of visualizations and aggregations. Your stuff sounds great. Thanks for the answers.

[2017-09-18 14:48] colings86 commented on #26693
@polyfractal Could you look at this since I think you have been adding the YAML tests for aggregations recently?

[2017-09-18 14:51] martijnvg opened #26695 "[CI] Interesting refresh errors"
The test in question (`ParentChildClientYamlTestSuiteIT#{yaml=/20_parent_join/Test parent_id query}`) seems to be unrelated to the refresh error that occurred:

[code]

Actual NPE on the server side:

[code]

Build url: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.0+periodic/31/

[Console.txt](https://github.com/elastic/elasticsearch/files/1311064/Console.txt)

[2017-09-18 15:06] polyfractal commented on #26693
:+1: on it!

[2017-09-18 15:51] champtar commented on #26650
Hi @danielmitterdorfer

I'm not able to reproduce it, but it did happen ...

My question was maybe there is a difference if first document is
[code]
rather than
[code]
ie if we update the properties list (new field in second document) instead of having the full list at index creation (in the first document)
If this change anything, my hll_* fields are big  (~12k)

[2017-09-18 15:53] jrots opened #26696 "Bulk update requests in ES 6.0 beta 2 slow down significantly after x requests because of "warmer" threads?"
**Elasticsearch version** (`bin/elasticsearch --version`):
[code]
**Plugins installed**: []

**JVM version** (`java -version`):
java version "1.8.0_131"

**OS version** (`uname -a` if on a Unix-like system):
ubuntu trusty

**Description of the problem including expected versus actual behavior**:

If I do bulk update requests (in one thread) with only 50 requests in one batch at the time,
elastic s

[2017-09-18 16:19] jbaiera commented on #26513
The overlap in this scenario comes from all the tests executing on the same JVM and class instances. By the time the reproducing test case runs, previous test cases in the suite have already set the methods in question to be accessible from privileged callsites. When the reproducing test case attempts to run, the methods that it would normally try to set accessible are already accessible. The code

[2017-09-18 16:22] hexinw commented on #26525
@jasontedor I agreed with you on the OOM decision. Is there any improvement in the talk to pre-estimate memory consumption (I understand it is still a best effort) and fail the query request rather than letting OOM kick in to bring down the ES node?

Also with respect to the circuit breaker setting, do you guys see any value in making the static limit a dynamic setting so the limit is dynamically

[2017-09-18 17:26] s1monw commented on #26695
this looks like a JVM bug that we hit a lot of times on 8_111 I will make sure infra goes to a newer version

[2017-09-18 17:26] #26695 closed

[2017-09-18 17:54] martijnvg commented on #26695
This NPE occurred on a closing bracket. Very likely due to an old jvm version.

[2017-09-18 17:55] martijnvg commented on #26695
arg... I should've refreshed the browser! But good that we came to the same conclusion.

[2017-09-18 18:52] cexmmaqsood commented on #26612
@nik9000 Thanks so much for the response! Do you think it's a good idea to make the documentation a bit more clear on what the sorting means and results in? Just to prevent further misunderstandings like this.

[2017-09-18 20:04] nik9000 commented on #26612
Sure! Are you interested in fixing it or should I add this to my TODO list?

[2017-09-18 21:19] nonokh opened #26699 "Exception in thread "main" org.elasticsearch.bootstrap.BootstrapException: java.nio.file.NoSuchFileException: /usr/share/elasticsearch/config"
Elasticsearch version (`bin/elasticsearch --version`):
Version: 5.6.1, Build: 667b497/2017-09-14T19:22:05.189Z, JVM: 9

Plugins installed:

JVM version(`java -version`):
java version "9"

OS version** (`uname -a` if on a Unix-like system):
Linux nono-Inspiron-3542 4.10.0-32-generic #36~16.04.1-Ubuntu SMP Wed Aug 9 09:19:02 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

Description of the problem includi

[2017-09-18 21:29] jasontedor commented on #26699
I think that you installed Elasticsearch from the Debian package but you're trying to start Elasticsearch via bin/elasticsearch rather than via `systemd`. When installed from the package, the configuration files are placed in `/etc/elasticsearch` and the `systemd` service is configured to use this location. When you try to run `/bin/elasticsearch`, it defaults to using `$ES_HOME/config` as the loc

[2017-09-18 21:29] #26699 closed

[2017-09-18 21:42] nik9000 opened #26700 "RemoveClusterServiceTests fails on unexpected exception"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/4334/consoleFull

[code]

Looks like there is a race condition between shutting down the connection and the test. This path makes it look like the connection is still in place but doesn't have any nodes connected. I'm not sure if the code should be changed to call the listener or the test should be changed to catch the e

[2017-09-18 21:44] jasontedor commented on #26699
One other note: I see that you're running on JDK 9 here. While we test on JDK 9, we do not yet formally support running on JDK 9.

[2017-09-18 21:53] nik9000 opened #26701 "org.elasticsearch.discovery.zen.UnicastZenPingTests testSimplePings failure"
Doesn't reproduce locally but here is what CI said:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=ubuntu/1531/consoleFull
[code]

The failure in CI has tons of other logging around the failure but that logging looks similar to what I get locally when I run the test.

[2017-09-18 22:25] nik9000 opened #26702 "Release build fails to find BWC branches"
[This](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.0+release-tests/31/consoleFull) release build failed to find the bwc build:
[code]

Here is what *does* exist:
[code]

I expect the trouble is that we pass the release flag down to the bwc snapshot builds. Either we shouldn't do that or we should look without the `-SNAPSHOT` suffix in release build tests.

Fun times.

[2017-09-18 23:16] jdconrad commented on #26651
Guessing this got lost in the backport accidentally since the settings moved from the removed ScriptModes to ScriptService.

[2017-09-19 02:24] rjernst commented on #26651
Closed by #26703

[2017-09-19 02:24] #26651 closed

[2017-09-19 02:28] moznion commented on #26656
I’m using high-level REST client.

Does that mean, we don’t have to check the response status? Should we catch the exception to check whether the request is succeeded or not?

Anyway, is this policy documented?

[2017-09-19 02:38] rjernst commented on #26702
We don't do it intentionally, it is just how gradle works, unfortunately. We use a `GradleBuild` task to build the bwc projects. That is like loading another gradle build inline within the current build, so it is not forked, and thus operates with the exact same sysprops.  I think we should look for this sysprop, and if it we are in a non-snapshot build, we setup the bwc build task with Exec inste

[2017-09-19 06:05] nonokh commented on #26699
Hey , thanks for the clarification. But when i ran the service as instructed. i am getting errors.
when i run : GET /
I get this instead:

<HEAD>
<TITLE>Directory /</TITLE>
<BASE HREF="file:/">
</HEAD>
<BODY>
<H1>Directory listing of /</H1>
<UL>
<LI><A HREF="./">./</A>
<LI><A HREF="../">../</A>
<LI><A HREF=".VolumeIcon.icns">.VolumeIcon.icns</A>
<LI><A HREF=".VolumeIcon.png">.VolumeIcon.png</A>
<L

[2017-09-19 06:11] tvernum commented on #26699
Please ask these question on our [discuss forum](https://discuss.elastic.co/) where we can provide better support.

Elastic uses GitHub issues for tracking bugs and feature requests. Since this is not a bug, we aren't able to support you here, but would be happy to discuss this on the forums.

Thanks.

[2017-09-19 07:52] danielmitterdorfer commented on #26650
Oh, I am not questioning at all that it did happen. It's just that I could not come up with a scenario to reproduce it. I could see this happen with an explicit mapping update right after creating an index, i.e.:

1. Create an index including the dynamic template definition (as the [examples in the docs](https://www.elastic.co/guide/en/elasticsearch/reference/5.6/dynamic-templates.html) show)
2. I

[2017-09-19 07:52] #26650 closed

[2017-09-19 08:09] jrots commented on #26696
"fixed" my problem now by running manually:
[code]
should be looked after why this locks everything though ..
going from a mere 50 index req/s to 3000 req/s after this change

https://www.dropbox.com/s/e24e1klza07ysnv/Screenshot%202017-09-19%2010.08.55.png?dl=0

[2017-09-19 08:15] jrots commented on #26696
Saw this behavior especially when updating time fields if it is of any help..
maybe a lot of similar terms are generated for dates that are semi the same and one is locking each other
[code]
[code]

[2017-09-19 08:19] javanna commented on #26656
Hi @moznion this behaviour is documented [here](https://www.elastic.co/guide/en/elasticsearch/client/java-rest/current/java-rest-low-usage-responses.html). That's in the low-level client docs, but given that the high-level client uses it, same applies to the high-level client too. The type of exception that's returned by the high-level client is an `ElasticsearchException` though (as opposed to a

[2017-09-19 08:22] ywelsch commented on #26702
According to the [Gradle docs](https://docs.gradle.org/current/dsl/org.gradle.api.tasks.GradleBuild.html#org.gradle.api.tasks.GradleBuild:startParameter), the system properties of the GradleBuild can be influenced using the `startParameter.setSystemPropertiesArgs(...)` method.

[2017-09-19 08:26] moznion commented on #26656
@javanna
I understood. In this case, this feature request looks like not necessary.
Thank you!

[2017-09-19 08:26] #26656 closed

[2017-09-19 08:42] MorrieAtElastic commented on #8786
Customers continue to request an out-of-the-box option for JSON-formatted elasticsearch logs. Is this something that will definitely be provided? If so, when?  Thanks

[2017-09-19 08:48] elasticmachine opened #30095 "Table 14. REST authentication_success Attributes lists wrong attributes"
*Original comment by @jakommo:*

On https://www.elastic.co/guide/en/x-pack/5.6/auditing.html#audit-event-attributes under "Table 14. REST authentication_success Attributes" we list:

![selection_283](https://user-images.githubusercontent.com/6436143/30583642-de05e4ac-9d27-11e7-952f-3e6432711903.jpg)

But the logs lines look like:
[code]

It seems to use `principal` rather than `user`.

[2017-09-19 08:51] faxm0dem commented on #8786
https://twitter.com/aphyr/status/454802547291615232

[2017-09-19 09:00] jimczi commented on #26696
Can you share your mapping ? It seems that you are using a `parent_join` field with a lot of relations, `parent_join` by default uses the warmer to load global ordinals. Global ordinals are needed for `parent/child` queries so they are built eagerly when a new searcher is built.
You can change the `refresh_interval` of your index (defaults to 1s), otherwise global ordinals are built from scratch e

[2017-09-19 09:18] #25315 closed

[2017-09-19 09:42] elasticmachine opened #30096 "Migration upgrade does not cleanup when fails"
*Original comment by @alexsapran:*

For cloud when we upgrade from 5.6 to 6 we call the `/_xpack/migration/assistance` and then for each of the indices there we call `/_xpack/migration/upgrade/<index>` in order to upgrade it to version 6.

The problem is that if we create a cluster (5.6) with all scripts disabled then the last call mentioned above `/_xpack/migration/upgrade/<index>` will fail with

[2017-09-19 09:43] s1monw commented on #26118
@acristu sorry for coming back to this so late. I took a closer look at it and my current plan is to allow you to set a setting `search.remote.$clustername.ignore_disconnected` that defaults to `false` and that allows you to set this per cluster you are connecting to. such that the default behavior is still unchanged but it allows you to basically skip clusters entirely if they are optional. This

[2017-09-19 10:02] #26083 closed

[2017-09-19 10:10] anhzhi commented on #8486
@colings86

Is there any plan that will fulfill this feature?
Is there any plan that will remove the restriction about  numeric-metric-aggregation ?
Is there any plan that will support pipeline-aggregation-metric on node or shard?

In my opinion, these aggregations, relevant to calculation like sum/min/max/avg/count etc, are all metrics event the result is not in numeric format.  For example:
`
{

[2017-09-19 10:22] bpolaszek commented on #8486
I'm currently moving back my analytics to an SQL platform because of this.
Simple and frequent use case: compute progressions between aggregated metrics (i.e CTR : +15%) and sort by progression. Impossible to do with ES without storing progression first.

[2017-09-19 10:23] acristu commented on #26118
@s1monw thank you, sounds good, this new setting hopefully will allow:

- Elasticsearch process to start even if the remote cluster is unreachable
- Queries to return data from the local cluster and the reachable remote clusters
- Have a way to check if the query results contain data from the "optional" remote clusters
    * Don't know yet what would be a straight forward way to do this. The _inde

[2017-09-19 10:30] anhzhi commented on #8486
@colings86

Currently, I will try to translate different kinds of  bucket-script-metric into the forms of map-reduce-script in a general method, then ordering-phase about these metrics can be supported.
I think it needs large-mount or repeated calculation, which will lead to performance destroying and relatively-low efficiency.
Another solution is that the client sides execute the ordering-phase.

[2017-09-19 10:33] bpolaszek commented on #8486
This requires the knowledge of how much values the aggregation will return. You can not ask ES to "return all buckets" on an aggregation and you have to specify an arbitrary limit number, which is completely nonsense and performance-killing.

[2017-09-19 11:32] jrots commented on #26696
Hmm it seems that `eager_global_ordinals` is set to true.

Will check to put it to false again, impact is quite massive of this if it's that.. 60 times as slow indexing is not nothing :).
In the latest update version I left the `{"join_field":{"name":"user"},` away from the updates when changing something to the parent.. but didn't have an impact.

So best way is to enable the warmer again and dis

[2017-09-19 11:41] jimczi commented on #26696
No, you should first check the `refresh_interval` of your index. If you use the default value of `1s` this means that global ordinals needs a rebuild every second. As I said global ordinals are needed for `parent/child` queries so they are eagerly loaded when a new searcher is built in order to not impact user queries. If you disable the loading, user queries are going to be slow.
I hope you don't

[2017-09-19 11:56] jrots commented on #26696
Ok thx, will do.  I will bump the refresh_interval to 1 minute as a fix. Still think something's fundamentally wrong in the way ordinals are built than, even bug like status if defaults have such an impact on indexing and are constantly competing/ utilizing up all cpu.. using a less strict refresh_interval for as the default or a specific config for reloading ordinals would help I think.

[2017-09-19 12:06] s1monw commented on #26696
@jimczi why is this impacting indexing so much, I mean if run into slow refreshes find I buy that but why is indexing blocked so much. It might be good it get a thread dump when it's hanging @jrots I am with you this is weird why indexing perf is hit so much. Can you provide a stack dump when it's hanging as well as a sample batch request?

[2017-09-19 12:33] javanna commented on #26118
@s1monw ++ I like the idea

[2017-09-19 12:41] s1monw commented on #26696
ok let me clarify why this is happening. @jimczi pointed out that you are using `upsert` which explains what you are seeing. When you use an upsert we use a `_get` internally to fetch the latest document. this requires us to open a new searcher internally that will cause caches to be load. Elasticsearch is not made for things like counters that change very very frequently. The extra cost of global

[2017-09-19 12:41] #26696 closed

[2017-09-19 12:43] tomsommer commented on #26162
5.6.1 is out, so I guess this is a non-issue now?

[2017-09-19 13:14] s1monw commented on #26118
I think we can do something about it. For instance we can maybe even make this default and add a `_cluster` part to the response ie.:

[code]

this way we can simply let the user decide what they want to do and it's consistent with the `_shards`. @javanna WDYT?

[2017-09-19 13:15] jasontedor commented on #26162
Closed by #26602

[2017-09-19 13:15] #26162 closed

[2017-09-19 13:41] redlus commented on #22576
Hi @clintongormley,

I was looking for a similar query to get all the mapping fields an index holds. As we index documents whose structure we don't control (customers' data), we don't know in advance which fields we are going to need.

Is there any way for getting all the fields of an index in a single query?

What I currently use is this:
`http://{ES_IP_ADDRESS}:9200/{INDEX_NAME}/{DOCUMENT_TYPE}/

[2017-09-19 13:48] colings86 commented on #8486
@anhzhi I'm having trouble finding the text that you quoted for context (sorry if I've missed it in the comments above), could you paste the link to the comment or documentation you saw this in? The statement is however very true.

If you are talking about being able to sort the terms aggregation by a pipeline aggregation then I don't see how this would be possible to implement. The terms aggregat

[2017-09-19 13:48] nik9000 opened #26707 "Suite timeout in org.elasticsearch.discovery.ClusterDisruptionIT on Windows CI (might be java.lang.AssertionError: global checkpoint [-1] for primary mode allocation ID)"
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.0+multijob-windows-compatibility/174/consoleFull

The log is fairly huge but this is the first thing I see that look incriminating:
[code]

OTOH, the test intentionally does all kinds of incriminating stuff so I dunno if this is intentional.

[2017-09-19 13:49] nik9000 commented on #26707
On second thought, given the location of the assertion I doubt this is intentional. We don't tend to catch assertions in production code in the tests.

[2017-09-19 13:51] nik9000 commented on #26707
Another: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.0+multijob-unix-compatibility/os=centos/174/console

[2017-09-19 13:58] #26544 closed

[2017-09-19 14:13] nik9000 commented on #26707
Another:  https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.0+periodic/38/consoleFull

[code]

[2017-09-19 14:34] AlexKolpa opened #26709 "Broken mapper-murmur3 java plugin for local nodes"
Bug report:

**Elasticsearch version**: 5.3.3

**Plugins installed**: [analysis-icu, x-pack, mapper-murmur3]

**JVM version**: 1.8.0_144

**OS version**: 4.12.8-2-ARCH

**Description of the problem including expected versus actual behavior**:

Since 5.2.0, the signature of `FieldMapper.parseCreateField` has changed from using `Field` to `IndexableField` (see 1792f1bb2b58aa6502466b3a06a9fb138e61b44

[2017-09-19 14:34] nik9000 opened #26710 "TranslogWriter.assertNoSeqNumberConflict failure"
I got this locally when trying to reproduce with https://github.com/elastic/elasticsearch/issues/26707. I got it with:
[code]

I'll try again and see if it reproduces but even if it does I'm not sure shipping my laptop to @bleskes is an option.

[code]

https://gist.github.com/nik9000/64a24a1ee19855658c967681c67cb155

[2017-09-19 14:48] s1monw commented on #26709
we [don't support embedded](https://www.elastic.co/blog/elasticsearch-the-server) nodes anymore. That's also why we don't publish these artifacts anymore.

[2017-09-19 14:48] #26709 closed

[2017-09-19 14:52] nik9000 commented on #23739
Another: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+oracle-periodic/642/console

[code]

[2017-09-19 14:52] AlexKolpa commented on #26709
Ah, I wasn't aware of that. Thanks for the update!

[2017-09-19 15:12] sergii-sakharov commented on #26639
For those like me who don't know what a "unit file" is, exact file is mentioned in here:

https://www.elastic.co/guide/en/elasticsearch/reference/current/setting-system-settings.html#systemd

[2017-09-19 15:25] jasontedor commented on #26639
Thanks for linking to that @sergii-sakharov, I should have done that in the first place. I did edit your link inline from current to 5.6 because current changes with time and could end up being a broken link in the future but 5.6 is a fixed reference to the published docs.

[2017-09-19 15:42] bleskes opened #26712 "Force a new history uuid when force allocating a stale primary"
This is a follow up to #26694 which didn't cover that edge case. The rationale is similar - it's unsafe to do ops based recoveries from those primaries

[2017-09-19 15:54] elasticmachine opened #30097 "CI org.elasticsearch.xpack.restart.FullClusterRestartIT failures waiting for cluster state update to finish"
*Original comment by @nik9000:*

REDACTED LINK

The rest tests wait for the cluster state updates to finish before moving on to the next test. The idea is that if the cluster state is in motion between tests there is likely a leak from one test to the next. This test fails during such a wait.

[2017-09-19 16:01] nik9000 commented on #26707
Another: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.0+aggressive-opts/233/consoleFull

[2017-09-19 16:19] elasticmachine opened #30098 "CI org.elasticsearch.xpack.security.authz.ReadActionsTests testEmptyAuthorizedIndicesSearchForWildcard fails"
*Original comment by @nik9000:*

This ReadActionsTests failure doesn't reproduce for me locally.

[code]

[code]

[2017-09-19 17:17] imotov commented on #26436
@jasontedor and I discussed this issue, and it seems that this issues might be related to #26544. The test basically creates a few indices, makes snapshots, deletes some records from some of the indices, closes the indices and restores them from the snapshot. The test fails because one record is missing in one of the indices. It is possible that some lingering deletes in replicas might have messed

[2017-09-19 17:17] #26436 closed

[2017-09-19 17:23] jbaiera commented on #26513
After getting the requisite vagrant testing support commits backported to the 5.x branches and shoring up the last of the changes needed, I've opened #26714 for this.

[2017-09-19 18:04] risdenk commented on #26513
Thanks @jbaiera!

[2017-09-19 18:38] nik9000 commented on #26707
More: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+intake/351/consoleFull

[code]

[2017-09-19 18:50] bencrouse opened #26715 "Collate queries in phrase suggester not matching correctly"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.2.0

**Plugins installed**: []

**JVM version** (`java -version`): 1.8.0_112

**OS version** (`uname -a` if on a Unix-like system): Darwin Bens-MacBook-Pro.local 16.7.0 Darwin Kernel Version 16.7.0: Thu Jun 15 17:36:27 PDT 2017; root:xnu-3789.70.16~2/RELEASE_X86_64 x86_64

**Description of the problem including expected versus actual beh

[2017-09-19 19:13] imotov commented on #26636
According to google/google-http-java-client#333 the error message `insufficient data written` that we are seeing hides the real issue. It seems the situation was improved in google-http-java-client v1.24. We are still on 1.20.0, which is almost 2 years old. @tlrx, should we upgrade the plugin to the latest?

[2017-09-19 19:21] UD1412 commented on #26585
I didn't have an opportunity to test this with ES5.6.
However, looking at the implementation of 'Suggest' in ES5.6, the logic of Suggest.readFrom() seems to be the same as in ES1.7, so it's very likely to repro in the latest versions as well.

[2017-09-19 19:22] updixit commented on #26585
I didn't have an opportunity to test this with ES5.6.
However, looking at the implementation of 'Suggest' in ES5.6, the logic of Suggest.readFrom() seems to be the same as in ES1.7, so it's very likely to repro in the latest versions as well.

[2017-09-19 20:32] #26673 closed

[2017-09-19 20:43] jasontedor commented on #26710
I can definitively say that this is caused solely by #26707.

[2017-09-19 20:43] #26710 closed

[2017-09-19 21:55] jasontedor commented on #26707
Closed by 581a873124422bcbbb3cb630ca971df22550593c

[2017-09-19 21:55] #26707 closed

[2017-09-19 23:32] #26661 closed

[2017-09-20 00:41] #26702 closed

[2017-09-20 01:17] elasticmachine opened #30099 "[Monitoring] Longer Collection Interval for `_xpack/usage`"
*Original comment by @skearns64:*

We currently collect and store info from `/_xpack/usage` every 10 seconds, with the rest of the monitoring metrics. As we add heavier information to that call, like we're proposing to do in LINK REDACTED , we should look into recording this information less frequently, as it doesn't change very often.

There are a few approaches that we've discussed for this sort

[2017-09-20 05:46] #16838 closed

[2017-09-20 08:20] coderplay commented on #26339
### Configurations

* Load driver machine: i3.16xlarge, Amazon Linux
* Target machine: i3.16xlarge, Amazon Linux,  128GB heap configured for ES, G1 GC, MaxGCPauseMillis=1000,  indexing buffer size of 50%, data.path spread across 8 disks, 32 netty workers,  64 bulk workers.

Challenge settings:
[code]

### Results
Version | Min Indexing Throughput | Median Indexing Throughput | Max Indexing Through

[2017-09-20 08:49] tlrx commented on #26636
@imotov Sorry, I didn't manage to find the time to look at this. I think it makes sense to upgrade the dependency but we'll have to wait for 1.24 to be released.

[2017-09-20 09:05] anhzhi commented on #8486
@colings86  The quoted text is from
 [https://github.com/elastic/elasticsearch/issues/14101](url)  or
 [https://discuss.elastic.co/t/ordering-terms-aggregation-based-on-pipeline-metric/31839/7](url)
I am refering to both aspects you mentioned:
a  sorting the terms aggregation by a pipeline aggregation， such like bucket_script
b  sorting the terms aggregation by the scripted_metric aggregations
exa

[2017-09-20 09:36] #26455 closed

[2017-09-20 10:00] telendt commented on #8961
It would be really helpful if search analyzers could be modified dynamically (to solve e.g. query time synonyms change problem -- and no, custom plugin is not an universal solution as it's no go for many people using Cloud managed ES).

I understand the risk of modifying index time analyzers. That's why I think ES should have more knowledge about context in which a given analyzer is used -- if it'

[2017-09-20 10:08] jimczi commented on #26715
This is not how the `collate` option works. The doc says that `collate` checks each suggestion against the specified query to prune suggestions for which no matching docs exist in the index:
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-suggesters-phrase.html
In your example one document matches the query so `collate_match` is set to true.
The `phrase_suggester` is not doc

[2017-09-20 10:08] #26715 closed

[2017-09-20 11:38] de-robat commented on #21101
+1  to add another real world usecase: we have a tracing implementation that persists to elasticsearch. it keeps track of the time-stamps in microseconds instead of milliseconds. adding an additional field that does the conversion while indexing would be extremely helpful. There is no chance to control the trace collectors PUT requests to ES and therefore no chance to configure a pipeline via quer

[2017-09-20 13:14] liketic commented on #24086
@jpountz Can I take this? Seems like this interface is used in a lot of code. Could you provide some help? Thanks in advance.

[2017-09-20 13:16] liketic commented on #25359
I've made some investigation, seems like the default value of `ignore_unavailable ` is `true`. Need more effort to figure it out. @abeyad I'm new to es, could you please some hints? Thanks in advance. 😄

[2017-09-20 14:04] bencrouse commented on #26715
Thanks for your reply @jimczi - that solution sounds good to me.

I'm still confused by what the intent of the collate feature is then. I read that yesterday and thought this would be what's intended there because of "Checks each suggestion against the specified query to prune suggestions for which no matching docs exist in the index". I took this to mean that for each suggestion, the query provid

[2017-09-20 14:13] AndreKR commented on #23250
@imotov I'm not from that company but I also have a use case for this. :)
We are rendering images from Elasticsearch data and show them in the browser. Rendering an image, depending on the query parameters, can involve quite a few aggregations and it can take half a minute or so to gather the data.
When the user resizes the window or navigates to a different page, the browser cancels the HTTP requ

[2017-09-20 14:41] cexmmaqsood commented on #26612
@nik9000 I'd be glad to do it. A few more questions though, I don't see in the documentation anywhere if it states that `sort`:`score` is the only option, so I'm wondering if it is. As well, is the default fragment sorting by score? Because that is the behaviour I'm getting.

[2017-09-20 14:43] s1monw commented on #26715
@bencrouse this feature is really there to ensure that you don't provide a _spellchecked_ suggestion to your users that would then return 0 documents. Lets say you have a search box on a website and somebody types in a query. this query string would be turned into an elasticsearch query and executed. With the collate option we try to mimic this behavior to ensure you only get a suggestion back if

[2017-09-20 15:53] #26700 closed

[2017-09-20 16:19] #26596 closed

[2017-09-20 16:20] imotov commented on #26636
You are right, for some reason I thought they are already did, but it looks we will have to wait quite a bit.

[2017-09-20 16:35] nik9000 commented on #26612
I don't believe it is the default. At least it wasn't the default when I last used it which was a few years ago. I think the default is the order that the fragments appear in the document.

[2017-09-20 17:37] bencrouse commented on #26715
ok, I get it now, I totally misunderstood. I can use it for exactly what I need! thanks for your time and patience @jimczi and @s1monw

[2017-09-20 21:04] tdoman opened #26728 "Some Japanese characters changed or missing in aggregations"
Elasticsearch version: 1.7.5
NEST: 1.9.2

Before the "keyword" type, we created our own analyzer to accomplish the same purpose (we called it "tag_analyzer").  As far as I can tell, we're doing everything we should be doing to support languages such as Japanese and yet our aggregations on that field lose or modify some of the characters.  Below I'll include all the pertinent mappings etc. to repro

[2017-09-20 21:56] rjernst commented on #26611
I was finally able to reproduce this, and it is due to a null Scorer being passed into painless from aggregations. @jpountz Can you or someone that knows aggs take a look? Also note this does not reproduce on 6.0 or master.

[2017-09-21 00:32] jasontedor commented on #26642
No further feedback, closing.

[2017-09-21 00:32] #26642 closed

[2017-09-21 00:35] geekpete commented on #26665
How about if it's an rpm/deb install that we put this check in the service manager script?
This way before the elasticsearch process is kicked off, the script can test this location is writable.
Probably a bit hacky as the script needs to read configs and check if the setting is writable by the configured elastic user, but it's also specific to those users who might have the common packaging issue

[2017-09-21 00:36] edudar opened #26729 "Allow icu_collation as keyword normalizer filter"
While #13148 is in backlog and might be there for quite a while, would it be possible to at least allow `icu_collation` filter to be used in keyword normalization? Documentation does not specify what requirements filter should meet to become eligible for normalizer so it looks more like a bug at the moment, rather than feature.

[code]

[2017-09-21 00:40] jasontedor commented on #26665
Sorry, parsing the JVM options file from the startup scripts is not something that I would be willing to add as it's too messy.

[2017-09-21 00:52] mattweber commented on #26729
Have you seen https://www.elastic.co/guide/en/elasticsearch/plugins/current/analysis-icu-collation-keyword-field.html?  Introduced in 5.5.0 with a bug fix for multi-value fields in 5.6.0.

[2017-09-21 01:13] edudar commented on #26729
No, I haven't (...migrating from 1.7 so tons of changes...). A little more cumbersome but more powerful, I can use it instead, I guess. Doesn't it actually close #13148 then?

[2017-09-21 02:14] ppf2 opened #26730 "Delete snapshot api complains that there is no space left on device"
Reproducible on 5.5.

- Create a node with a file system repository path pointed to a mount for a small volume.
- Create a snapshot repository to this mount path.
- Create a few snapshots.
- Then use dd or other means to generate a large file in that volume that causes it to use all space.
- Use the delete snapshot api to delete the snapshot.  The api call will fail complaining that there is no sp

[2017-09-21 02:52] jdimeo commented on #15731
I'm interested from the perspective of downsampling old documents. If, for example, I'm dropping 99 out of 100 documents > 1 year old, 9 out of 10 > 6 months old, and all documents < 6 months old, I would love it if I could configure aggregations (including but not limited to average) to appropriately weight the old documents x100 or x10 so that I can re-create the original counts with some margin

[2017-09-21 05:26] #26432 closed

[2017-09-21 06:55] bounddog commented on #17435
@jasontedor I hit the same issue these days with a ES cluster v5.4.2 which has kept running for 15 days and has 10k shards inside.
The ES cluster was designed as:
There 5 servers in total: host1, host2, host3, host4, host5

There are 2 ES instances running on host1, host2, host3, host4:
  one as data node (started with option -Enode.master=false -Enode.data=true)
  and another as client node (star

[2017-09-21 07:17] martijnvg commented on #26611
Thanks @rjernst for digging into this. I'll work on a fix.

[2017-09-21 07:28] ywelsch commented on #26730
The reason it is ordered like this (I think) is that the "latest" index file represents the source of truth for all snapshot operations. This means that if another cluster connected to the same repository issues a concurrent `GET snapshot` operation while the deletion of said snapshot is happening, it will check the updated index file and won't try to restore files that are concurrently being dele

[2017-09-21 08:11] martijnvg commented on #26611
This issue occurs only when terms aggs are executed in `breath_first` mode (which is default here). With `depth_first` no error occurs.

`BestBucketsDeferringCollector` does not create and delegate a scorer if the aggs are not using scores (`BestBucketsDeferringCollector.java` line 156 (5.6 branch)), which makes sense in this case. The problem is that in `AggregatorFactory.java` line 133, it just

[2017-09-21 08:44] liketic commented on #23824
@talevy Can I work on this? Thanks. 😄

[2017-09-21 08:56] colings86 commented on #26611
@martijnvg I agree with all your points, we should not be trying to pass down a scorer if no scorer has been set. I also agree that the fix should be applied to 6.0 6.x and master branches too.

[2017-09-21 09:06] martijnvg commented on #26611
Thanks @colings86. I'll open a PR.

[2017-09-21 09:53] jiyuan312986471 commented on #21288
Hi everyone,

I've got the same error.

`elasticsearch.exceptions.RequestError: TransportError(400, 'search_phase_execution_exception', 'Failed to parse query [NOTRE DAME D OR]')`

Here's my `query_string`:
[code]

I'm using Elasticsearch 5.4.0 btw.

[2017-09-21 10:40] droberts195 opened #26732 "[CI] Failure in MixedClusterClientYamlTestSuiteIT test {p0=indices.stats/13_fields/Fielddata fields - one metric}"
The failure was in this build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.5+multijob-unix-compatibility/os=debian/146/console

The error is:

[code]

The REPRO command is:

[code]

This did not reproduce locally for me.

[2017-09-21 11:00] droberts195 opened #26733 "[CI] Failure of CoreFullClusterRestartIT testRecovery"
This failed in https://internal-ci.elastic.co/job/elastic+x-pack-elasticsearch+6.0+intake/49/console

The error is:

[code]

This reproduces locally for me with:

[code]

[2017-09-21 11:05] jasontedor commented on #26733
This is an X-Pack test so should not be in this repository.

[2017-09-21 11:05] #26733 closed

[2017-09-21 11:49] liketic commented on #18416
@dadoonet Seems like the latest s3 plugin has removed those apis?

[2017-09-21 12:10] s1monw commented on #25603
`Preference 2906 fails and returns "total": 595
Query:
POST my_index/my_type%2Cmy_other_type/_search?preference=2906&explain=true
{"query": { "ids": {"values": [111637091] } }}`

would you be able to run the query without the type filter  ie.:
`POST my_index/_search?preference=2906&explain=true`

and share the result?

[2017-09-21 12:24] imotov commented on #26730
I think @ywelsch explained it really well. It is something that would be really tricky to fix without the fix causing other issues in other situations. I am not sure if we will be able to deal with this in the current framework without dramatically changing the structure and introducing enforceable limitations on concurrent repository access.

[2017-09-21 12:28] elasticmachine opened #30101 "[CI] Failure in monitoring/bulk/*"
*Original comment by @droberts195:*

This test failed in LINK REDACTED

The error was:

[code]

The REPRO command was:

[code]

This did not reproduce locally for me on the 6.x branch.

[2017-09-21 12:50] dannymurphygfk commented on #25603
Problem is this issue is not occurring at the moment on our production cluster but it just so happens that today I noticed we were experiencing the same issue on our Dev cluster so I have been playing with the various APIs to see if I can find out anything new.
Again querying for a single Id.

Running the query with the &explain=true only gives us the explanation of the node that successfully retu

[2017-09-21 12:52] elasticmachine opened #30102 "CCR Rest API design"
*Original comment by @bleskes:*

## Top Level Overview

This is a meta issue to capture all the initial thoguhts and design of the REST API for the LINK REDACTED. We currently see the need for the following API, each described in more details below:

- Creates a new index to follow a remote index
- Convert an existing index to a following index
- Disconnect a following index
- Monitoring, most spe

[2017-09-21 13:17] cbuescher commented on #25603
@dannymurphygfk, just to make sure, because @JagathJayasinghe  was talking about 6 shards and 2 replicas before, I assume this was production. Hows the situation on the dec cluster that you mentioned now? How many of those 9 shards are primaries, how is their distribution on the nodes?

[2017-09-21 13:21] droberts195 opened #26736 "[CI] Failure in PercolateQueryBuilderTests testToQuery"
This test failed in the following build https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+oracle-periodic/668/console

The error is:

[code]

The REPRO command is:

[code]

This reproduces locally for me.

[2017-09-21 13:24] dannymurphygfk commented on #25603
@cbuescher Yes Jagath was talking about the Production Cluster.
Our Dev cluster has 9 shards 0 replicas, 3 shards on each node.

[2017-09-21 13:32] jrots commented on #26696
I understand why it was slow a bit better.  I'm updating around +/- 1500 user records per minute to have a better/ accurate sorting value (lastlogindate) in this case for user records.  Wouldn't say that this is a "crazy" use case at all or that I'm slamming elastic with counter upserts in any way.
Whenever you do anything search related that needs some kind of "freshness" to records will have the

[2017-09-21 13:36] cbuescher commented on #25603
One thing I haven't asked at all so far is how you index your documents. Do you use any costumized `routing` by any chance? How about updates to parent documents, e.g. when nested documents are deleted or added?

[2017-09-21 13:57] dannymurphygfk commented on #25603
@cbuescher We use the Bulk indexing API to index and no we don't use any customized routing.

When nested documents are added/updated/deleted the entire parent document is involved ?
We are using the nested model NOT the parent-child relationship.

I think we might have confused you maybe by previously calling our nested documents 'types' or something ?

[2017-09-21 14:15] cbuescher commented on #25603
Yes, understood. I just wanted to exclude the chance of weird custom routing issues from the list of possible causes.

[2017-09-21 15:15] droberts195 commented on #26480
The same test failed today for both 6.0 and 6.x because it stalled.

In https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+periodic/68/consoleFull we have:

[code]

Then the suite gets killed after it's been running for 20 minutes.

In https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.0+oracle-periodic/668/consoleFull we have:

[code]

The REPRO commands are:

[code]

[2017-09-21 15:20] martijnvg opened #26738 "[CI] TopHitsIT#testTopHitsInNestedSimple failure"
Reproduce line: `gradle :core:integTest -Dtests.seed=F4BA8811B299D761 -Dtests.class=org.elasticsearch.search.aggregations.metrics.TopHitsIT -Dtests.method="testTopHitsInNestedSimple" -Dtests.security.manager=true -Dtests.locale=sk-SK -Dtests.timezone=Pacific/Pago_Pago`

Doesn't reproduce consistently.

Actual error:

[code]

Is related to this change: #26683
If `top_hits` aggregation gets wrapped

[2017-09-21 15:23] cbuescher commented on #26736
@martijnvg I'm looking into it, its a weird field name as far as I can see. Will have a PR soon.

[2017-09-21 15:25] martijnvg commented on #26738
Muted this test for now in master (fda8f8b827ab474c9664b59f56a583b89e434e5b) and 6.x (369a89985210c99f3d27f43649611f4e105b2e80).

[2017-09-21 15:31] cbuescher commented on #26736
The is an offending field name is a whitespace (more specifically a "MEDIUM MATHEMATICAL SPACE", but I guess any whitespace would trigger this). I'll exclude this from the set of options when creating the test document source.

[2017-09-21 15:37] cbuescher commented on #26736
@martijnvg you already seem to have fixed this with 99d79d5a0f9191cba81ee1288c3fa10de688ba84 on master, I will just cherry-pick this back to 5.6.

[2017-09-21 15:39] droberts195 commented on #25335
The same problem happened on a different test in the same suite today: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+g1gc/4361/consoleFull

The test this time was `testAutoExpandNumberReplicas2`.  The failure was:

[code]

So the assertion that's failing is in the core code rather than the test code, and it's the same as the one that failed when this issue was first raised.

[2017-09-21 15:44] dadoonet commented on #18416
@liketic Yes. I don't think we will support that in the short term but I think that @rjernst has some ideas for the future for "hot reload" or addition of credentials like this.

[2017-09-21 15:58] wirtsi commented on #16838
Not sure about the branching model here, would this merge be in v5.6.2?

[2017-09-21 15:59] jbaiera commented on #26513
I have merged #26714 and backported to the 5.5.x branch. This should make it into a release soon.

[2017-09-21 15:59] #26513 closed

[2017-09-21 16:55] mattweber commented on #13148
Please close.

Closed via #24126.

[2017-09-21 16:59] mattweber commented on #26729
Yes, it should be closed and I have asked that they do so.  You should close this and ask future questions in the [elasticsearch forums](https://discuss.elastic.co/c/elasticsearch) as it will get much more attention there.

[2017-09-21 17:04] andyb-elastic opened #26741 "windows packaging tests"
Add windows to the set of platforms we verify packaging correctness on.

[The BATS tests](https://github.com/elastic/elasticsearch/tree/c760eec0541a8fc564da997014baddfc6ea6baed/qa/vagrant/src/test/resources/packaging/tests) will be rewritten in java/groovy so they'll be portable on all test platforms. We'd like to build these tests into a jar on the host and then execute the jar in the vm. Dependi

[2017-09-21 17:10] talevy commented on #23824
yeah @liketic!

If you look at my comment here: https://github.com/elastic/elasticsearch/pull/24410#pullrequestreview-42156108, that is what I had in mind for a possible solution.

[2017-09-21 17:22] jaymode opened #26742 "[CI] UpgradeClusterClientYamlTestSuiteIT fails due to delayed unassigned shards"
The UpgradeClusterClientYamlTestSuiteIT failed due a timeout waiting for green with a delayed unassigned shard. Most likely we need to increase the amount of time we wait for green to account for delayed shards.

Reproduce line (did not reproduce for me):

[code]

[code]

[2017-09-21 17:38] jasontedor commented on #15339
Closed by #23194

[2017-09-21 17:38] #15339 closed

[2017-09-21 17:39] jasontedor commented on #26741
Supersedes #18475

[2017-09-21 17:39] jasontedor commented on #18475
Superseded by #18475

[2017-09-21 17:39] #18475 closed

[2017-09-21 18:17] ppf2 commented on #26730
Thanks for the details, as part of the future effort to handle this use case, perhaps we can also add a safeguard in place to fail a snapshot (and return an intuitive exception message to the caller) if we detect that there is not sufficient space in the repository path.

[2017-09-21 18:21] edudar commented on #26729
Thank you. This ticket is here because of opened #13148 and because I have not found a good reason why this filter can't be used in normalizer. Also, my experience with using forum was completely opposite so far, unfortunately.

[2017-09-21 18:21] #26729 closed

[2017-09-21 19:34] #26573 closed

[2017-09-21 19:36] pedrocalais opened #26743 "more like this query: allow informing source and target fields separately."
In a [more like this](https://www.elastic.co/guide/en/elasticsearch/reference/5.5/query-dsl-mlt-query.html) query we can specific input documents like below:

[code]

However,  if we want to target this MLT query to an index which is not `imbd`, then we have a problem,
because `fields` is applied for both input documents _and_ documents which will be subject to the query. I guess we need to be abl

[2017-09-21 20:30] jaymode opened #26745 "[CI] RejectionActionIT#testSimulatedSearchRejectionLoad failure"
The RejectionActionIT#testSimulatedSearchRejectionLoad failed in CI on the 5.6 branch. Looking back this test seems to have failed intermittently but has different failures. The latest is caused by an uncaught exception from an assertion.

Build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.6+java9-periodic/694/console

[code]

Reproduce line (did not reproduce):

[code]

@s1mon

[2017-09-22 04:13] skearns64 opened #26746 "Online plugin Installation looks for sha1, we now only produce sha512"
In 6.0.0 RC1 BC1, when installing a plugin that gets downloaded, the plugin itself downloads fine, but the plugin installer fails to retrieve the plugin's .sha1 file. This appears to be because we switched to producing sha512 in the build system.

[code]

[2017-09-22 07:22] #26611 closed

[2017-09-22 07:59] ywelsch commented on #26480
@droberts195 The root cause for the failures that you have observed is that the following assertion tripped (it's always good to first grep for "AssertionError" in the logs):

[code]

This in return killed the cluster state applier thread on that node, leading to the suite timeout as the node could not make meaningful progress anymore.

[2017-09-22 08:20] ywelsch commented on #26480
The reason for this failure is that `IndexShardSnapshotStatus` is not consistently updated.

For example, we have code that does
[code]
i.e. these two are separate actions, not atomic.
Another thread comes along (the one that trips the assertion above) and reads the stage, sees it as failed, and expects there to be a failure message. That one might not be set yet, however (Also note that the failu

[2017-09-22 08:52] gdubicki commented on #8595
Can you please reopen and change the error message?

Passing empty data to ES API seems to be a pretty common mistake...

(especially as `curl` makes is it easy to make this mistake - btw: I am switching to https://github.com/jakubroztocil/httpie to hitting such issues in the future)

[2017-09-22 09:15] #20937 closed

[2017-09-22 09:26] #26746 closed

[2017-09-22 10:07] cbuescher commented on #17684
@colings86 I think we can close this, it's not really necessary to randomize everything in SearchSourceBuilderTests and we have ranomization for aggregation trees elsewhere I think. We already removed the commend linked here I think. Wdyt?

[2017-09-22 10:16] colings86 commented on #17684
Agreed.

[2017-09-22 10:16] #17684 closed

[2017-09-22 10:17] cbuescher commented on #26736
Closed by https://github.com/elastic/elasticsearch/pull/26740

[2017-09-22 10:17] #26736 closed

[2017-09-22 11:35] cbuescher commented on #23449
Removing the `discuss` label since we already have an open PR adressing this.

[2017-09-22 12:48] davekonopka commented on #26576
I've seen the following failure a few times in snapshots since originally reporting this:

[code]

It has happened a few times but usually only for one index. Most snapshots show no failures.

[2017-09-22 13:22] s1monw commented on #26743
I don't necessarily understand what you are trying to do. as far as I understand you want to use documents to build MLT but then query a different field names on the target index? Is this conceptually correct or did you just model your data differently but they are semantically the same?

[2017-09-22 14:01] #26738 closed

[2017-09-22 14:14] martijnvg commented on #25278
Closed in favour of #25445

[2017-09-22 14:14] #25278 closed

[2017-09-22 14:14] martijnvg commented on #25308
Closed in favour of #25445

[2017-09-22 14:14] #25308 closed

[2017-09-22 14:36] liketic commented on #23824
@talevy Thanks for your help. Seems like this issue is much complexer than I thought. We read the processor configs as `List<Map<String, Map<String, Object>>>`, and in all methods, we assume the value of each key in a `Map` is a `Map`, however, `script` allows the value to be a `String`. That's the problem. So I think we can resolve this through:
1) Read processor configs as  `List<Map<String, Obj

[2017-09-22 14:38] colings86 commented on #26681
We discussed this in FixItFriday and decide that we would like to add this as a pipeline aggregation. It would use the T-digest produced by a percentiles aggregator to get the median and then use the centroids of the t-digest as an approximation of the data as an input to a new t-digest for the deviations from the median.

[2017-09-22 14:43] javanna commented on #26453
@imotov would you have a chance to have a look at this please?

[2017-09-22 14:48] javanna commented on #26414
There seems to be nothing to do here. Closing. Feel free to reopen without further info / ideas.

[2017-09-22 14:48] #26414 closed

[2017-09-22 14:49] javanna commented on #26406
@PhaedrusTheGreek can you answer Adrien's question above please?

[2017-09-22 14:51] javanna commented on #26296
hi @aclowkey I don't think there is a way to have request and response side by side, rather one after the other like we already have in our current docs. Looking forward to your contributions on this.

[2017-09-22 14:55] javanna commented on #25844
@nknize can this be closed or is there anything left to do?

[2017-09-22 15:13] #25683 closed

[2017-09-22 15:13] PhaedrusTheGreek commented on #26406
Validate could work, the info is there, but its in epoch format so it's not convenient for casual testing.

[code]

[2017-09-22 15:15] javanna commented on #25339
Seems like there isn't much to do here. I am closing. Do send a PR if you have ideas on how to improve our docs.

[2017-09-22 15:15] #25339 closed

[2017-09-22 15:33] #23609 closed

[2017-09-22 15:47] javanna commented on #17695
I would close this now that shadow replicas have been removed. I do not think we will go back to old branches and fix this problem.

[2017-09-22 15:47] #17695 closed

[2017-09-22 16:02] javanna commented on #17110
This is related to groovy scripts, which were removed, so I think we can close this issue. agreed @jpountz ?

[2017-09-22 16:02] #17110 closed

[2017-09-22 16:07] javanna commented on #15472
Given that the high-level REST client will replace the transport client, I think that #26727 relates to this proposal, and may actually end up closing it.

[2017-09-22 16:11] javanna commented on #14865
This is a pretty old issue, from the description I am not sure what we should change in the range query docs. Maybe that docs page already improved over time since this issue was opened. I am closing this, feel free to open a PR to address the initial concerns if you have ideas on it.

[2017-09-22 16:11] #14865 closed

[2017-09-22 17:17] dliappis commented on #26746
@skearns64 I am hitting this when trying to build Docker images with 5.6.2-BC1:

[code]

I guess the PRs to move to sha512 haven't been backported to 5.6/5.5; does this warrant a new issue or just re-opening this, as I don't see a version label.

[2017-09-22 17:19] jasontedor commented on #26746
@dliappis I will backport the change to 5.6.

[2017-09-22 18:18] jasontedor commented on #26746
@dliappis I have backported this to 5.6.

[2017-09-22 18:22] #26665 closed

[2017-09-22 18:24] drewr commented on #26746
Thanks all for catching and working on this. I should have seen it coming when creating elastic/release-manager#153 and raised some downstream visibility. ⛵️

[2017-09-22 18:52] digitalrinaldo opened #26757 "Kibana in Chrome doesn't degrade gracefully when there is an issue with returned data"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):

Version: 5.6.0, Build: 781a835/2017-09-07T03:09:58.087Z, JVM: 1.8.0_144

**Plugins installed**: []

None

**JVM version** (`java -version`):

java version "1.8.0_144"

**OS version** (`uname -a` if on a Unix-like system):

4.4.0-1013-aws #22-Ubuntu SMP

**Description of the problem including expected versus actu

[2017-09-22 18:54] jasontedor commented on #26757
This repository is for open source Elasticsearch. For Kibana, you can use the Kibana [repository](https://gitub.com/elastic/kibana).

[2017-09-22 18:54] #26757 closed

[2017-09-22 18:55] andyb-elastic opened #26758 "[CI] org.elasticsearch.index.reindex.CancelTests"
It looks like the reindex response times out because some slice tasks don't complete in time (though they do appear to all acknowledge the cancellation). I couldn't find a cause. Neither of these reproduce, and they fail very rarely.

1.

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.5+multijob-unix-compatibility/os=fedora/141

[code]

[code]

[build-141-CancelTests.txt](https://

[2017-09-22 18:56] digitalrinaldo commented on #26757
Sorry thanks.

[2017-09-22 19:19] szalapski opened #26759 "Simple substring query seems to be impossible with Elasticsearch/Lucene--please add it."
**Describe the feature**:

In Elasticsearch, it seems impossible to search for an arbitrary substring, perhaps including spaces. (Searching for part of a word isn't quite enough; I want to search any substring of an entire field.)

Suppose I have only a few thousand documents in my Elasticsearch index, and I try:

  "query": {
         "wildcard" : { "description" : "*plan*" }
  }
That works as ex

[2017-09-22 19:37] Bargs opened #26760 "Painless filter returns error "Variable [doc] is not defined.""
**Elasticsearch version** (`bin/elasticsearch --version`): master
**JVM version** (`java -version`): 1.8.0_131
**OS version** (`uname -a` if on a Unix-like system): macOS Sierra 10.12.6

**Description of the problem including expected versus actual behavior**:

In Kibana, when a user interacts with the UI to create a filter on a scripted field, we create a script filter that looks like this:

[cod

[2017-09-22 20:00] jbaiera commented on #26759
@jimczi Thoughts on this?

[2017-09-22 20:16] s1monw commented on #26759
This is a pretty standard usecase for ngrams. Yet, we don't do thinks like `IndexOf` that is linear to the number of terms in the term dictionary. In order to match efficiently you gotta index your stuff in accordingly. Take a look at https://www.elastic.co/guide/en/elasticsearch/reference/5.6/analysis-ngram-tokenizer.html and please ask your questions in our discuss forums http://discuss.elastic.

[2017-09-22 20:16] #26759 closed

[2017-09-22 20:18] szalapski commented on #26759
ngrams is too complicated and peculiar for this simple case.  Wildcard could be extended to support this.

[2017-09-22 20:53] s1monw commented on #26759
I am sorry but scanning terms is not going to fly for us. We are committed to make our software scale, full scans don't scale at all and the majority of users have a large amount of data. It might be that elasticsearch is not the right tool for you then. I don't necessarily understand why you can't user ngrams and a simple match query.

[2017-09-22 20:59] s1monw commented on #26759
also if you store your values as docvalues you can just use a script query and do whatever you want with it if you feel like this is how you wanna use elasticsearch. it won't scale and is very slow

[2017-09-22 21:54] rfraposa opened #26761 "_update_by_query's default size accidentally changed to 1000"
**Describe the feature**:  `scroll_size` seems to be ignored in my request

**Elasticsearch version** (`bin/elasticsearch --version`):  6.0.0-beta2

**Plugins installed**: []

**JVM version** (`java -version`): JDK 8

**OS version** (`uname -a` if on a Unix-like system): Ubuntu

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

No matter what value

[2017-09-22 23:49] sahibdes opened #26762 "Logger Failure with High Level Rest Client BulkProcessor API"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`):5.6.0

**Plugins installed**: []

**JVM version** (`java -version`):1.8

**OS version** (`uname -a` if on a Unix-like system):Mac OS Sierra

**Description of the problem including expected versus actual behavior**:
While using the BulkProcessor API, on creating the threadpool i get this error:
Exception in thread

[2017-09-22 23:54] jasontedor commented on #26762
Please check the Log4j 2 dependency that you have on the classpath. For 5.6.0 you need Log4j 2.9.0 (api and core). I think you have another version on your classpath and JAR hell is causing this method to not be found. We are working on removing the thread pool dependency from core so that problems like this do not arise so much in the future.

[2017-09-22 23:54] #26762 closed

[2017-09-22 23:55] jasontedor commented on #26762
Relates #26727

[2017-09-23 01:03] rjernst commented on #26760
I spent some time debugging this with Jack and we have a test case that reproduces the issue. It looks like it will only affect filter scripts on 6.1/7.0. We should have a fix in plenty of time before 6.1 is cut.

[2017-09-23 11:05] osthus-co opened #26763 "Illegal combination of [copy_to] and [nested] mappings in elasticsearch-6.0.0-beta2"
**Elasticsearch version**:  6.0.0-beta2, Build: 23ffa4f/2017-08-29T01:53:03.739Z, JVM: 1.8.0_131

**Plugins installed**: none

**JVM version**: 1.8.0_131-b11

**OS version**: Windows 7 64 bit

**Description of the problem including expected versus actual behavior**:

Version six no longer supports [copy_to] and [nested], see mapping below. This worked in version 5.

**Steps to reproduce**:

{
	"ma

[2017-09-23 12:39] pozhidaevak commented on #24898
Hi,
I want to make this issue my first contribution to the project. Has anyone started work on this issue? Is it ok if I start working on it? It will probably take some time for me to understand the issue and familiarise myself with the code.

[2017-09-23 13:14] liketic commented on #22423
I can take this.

[2017-09-23 15:32] dliappis commented on #26746
@jasontedor Confirming that the latest `5.6.2-0836ee74` pulls plugins correctly and uses the right sha512 digests.

[2017-09-24 00:45] rfraposa commented on #26553
I am having the same issue. When I restart Elasticsearch 6.0.0-beta2 with X-Pack installed, I get a handful of `Too many dynamic script compilations within one minute` exceptions, from both Security and Watcher scripts.

[2017-09-24 00:53] jasontedor commented on #26553
This is fixed by #26399 and will appear in a future pre-release. Also, please do not report X-Pack issues here. This repository is for open source Elasticsearch only.

[2017-09-24 00:53] #26553 closed

[2017-09-24 06:56] original-brownbear commented on #26701
@nik9000 fixed this in #26764 I think. Reproducing this locally is easiest by simply running the test in a loop and it will fail after ~1k iterations (run two forks in parallel and it's a matter of seconds for this exact failure to occur, see PR for why parallel runs make this more likely).

[2017-09-24 09:35] lailaiququ opened #26765 "JsonGenerationException: Can not write a field name, expecting a value"
MaxAggregationBuilder maxBuilder = AggregationBuilders.max("maxInfo");
search:"{ }" maxBuilder:"{"error" : JsonGenerationException: Can not write a field name, expecting a value}"

elasticsearch version 5.4.2
jdk 1.8+

[2017-09-24 11:36] newbei opened #26766 "failed to put mappings on indices crash the elasticsearch"
1 we have the some index like ics_pcs_2017.06.06
2 we delete the some old index use jave code:
	getClient.admin().indices().prepareDelete(indexname).execute().actionGet()

	I think the index ics_pcs_2017.06.06 will have 60G+ and 100,000,000 documents in it.

3 we make a new logstash to receive old logs,and we found in the ES log:
	ES logs info

	create index for ics_pcs_2017.06.06(didn't get the d

[2017-09-24 23:08] holygost opened #26767 "Wrong version of elasticsearch been imported to project automatically"
I use  gradle to build my project and I import the following dependencies:

        compile ("org.elasticsearch:elasticsearch:5.5.0") {
            exclude group:'org.apache.logging.log4j'
        }

        compile ("org.elasticsearch.client:transport:5.5.0"){
            exclude group:'org.apache.logging.log4j'
        }
        compile ("org.elasticsearch.client:x-pack-transport:5.5.0"){

[2017-09-24 23:27] jasontedor commented on #26767
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-09-24 23:27] #26767 closed

[2017-09-25 02:17] da091314 commented on #26765
you can ingore this error reason，and the response is right

[2017-09-25 02:37] lailaiququ commented on #26765
Thank You !

[2017-09-25 02:37] #26765 closed

[2017-09-25 06:54] jpountz commented on #26339
Fixed via #26744

[2017-09-25 06:54] #26339 closed

[2017-09-25 08:02] pithyless commented on #16838
@martijnvg Thanks for moving ahead with a fix. For people who are hitting this issue now, could you clarify what merging to master means? Will this be backported to `5.x` or `6.x`? Just having a quick look at the ES branches, and it looks like `master`, `5.x` and `6.x` are all diverged. Not sure if I can just run a build from `master` (I'm assuming `7.x` is not fully baked?), if I can try to merge

[2017-09-25 08:06] colings86 opened #26769 "[TEST] org.elasticsearch.upgrades.RecoveryIT fails intermittently on 6.x"
Build URL: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.x+periodic/112/console

Reproduce command (doesn't not seem to reproduce locally):
[code]

Failure stack trace:
[code]

Its possible, given that this doesn't seem to reproduce locally) that this was a transient failure with compatibility between 6.x and 5.6.2-SNAPSHOT but opening this issue so that can be determined

[2017-09-25 08:33] tlrx commented on #26766
Hi @newbei, we reserve Github for bug reports and feature requests only. Please ask questions like these in the [Elastic forums](https://discuss.elastic.co/) instead. Thank you!

[2017-09-25 08:33] #26766 closed

[2017-09-25 08:45] bra-fsn commented on #26293
I've tried 5.6.1 with netty4 and at least our problem still persists with it.

[2017-09-25 09:00] tlrx commented on #26763
@jpountz Do you have an opinion regarding this issue and you change in #25983?

[2017-09-25 09:01] javanna commented on #25319
Hi @igorbunova thanks for opening this issue and sorry it took us so long to get back to you.

I did some digging and the relevant PR is #20315 . Seems like in 5.x the geohash_cell query can only be executed against previously existing indices, but not against old indices. That is why it is still available in the java api, also why we removed it in 6.x.

I am afraid that we did miss to list this c

[2017-09-25 09:06] javanna commented on #25210
@eskibars can you comment on this please? Does it make sense to make the proposed change to the docs?

[2017-09-25 09:07] jpountz opened #26770 "Make the ability to create `exists` queries work on a per-field basis"
Today, our approach to handling `exists`queries is to index the names of all indexed/doc-valued fields under the `_field_names` field and later use that field in order to execute `exists` queries.

However, now that doc values have good iterators, we could use them in order to execute `exists`queries. So I'm considering adding a new `MappedFieldType#existsQuery` API and changing mapping parsing lo

[2017-09-25 09:10] javanna commented on #25713
hi @joshua2ua thanks a lot for opening this issue, I am going to push a docs fix for it.

[2017-09-25 09:12] #25713 closed

[2017-09-25 09:19] javanna commented on #23740
I looked again at our docs but honestly I didn't find a way to improve them as for explaining partitioning of terms aggs. I am closing this issue then. Feel free to open a PR if you have ideas on how to clarify this docs section.

[2017-09-25 09:19] #23740 closed

[2017-09-25 09:45] tlrx commented on #26728
@tdoman I'm pretty sure this is because your terms aggregation works on the tags.raw field, which uses icu_normalizer and icu_folding token filters that change some Japanese signs.

In recent version of Elasticsearch, the ` tags.raw` field could be mapped to a `type: keyword` and no `normalizer` (normalizer are analyzer but for keyword typed fields) and you should get the behavior you're expecting

[2017-09-25 09:45] #26728 closed

[2017-09-25 09:53] javanna commented on #25737
The test is run, but the java yaml test runner doesn't check whether required parameters are specified or not. That unfortunately allows for writing tests that may not work when run from other runners. Marking adoptme.

[2017-09-25 10:08] javanna commented on #6606
This seems well covered in the "Designing for scale" chapter of the definitive guide: https://www.elastic.co/guide/en/elasticsearch/guide/2.x/scale.html .

[2017-09-25 10:08] #6606 closed

[2017-09-25 11:00] bkazez opened #26771 "Beider_morse phonetic encoder silently fails when languageset not specified"
**Elasticsearch version**: `Version: 5.6.0, Build: 781a835/2017-09-07T03:09:58.087Z, JVM: 1.8.0_144`

**Plugins installed**: `["analysis-phonetic"]`

**JVM version**: `java version "1.8.0_144"`

**OS version** : `16.7.0 Darwin Kernel Version 16.7.0 (OS X 10.12.6)`

**Description of the problem including expected versus actual behavior**: Beider-Morse encoding fails silently (returns original strin

[2017-09-25 11:11] feiyuewuyue opened #26772 "all new index can't allocate the shard"
set "cluster.routing.allocation.exclude._ip" : "ipname" after set the parameter and the shard move all, I stop the node, when I start the same node and set "cluster.routing.allocation.include._ip" : "pre ipname",all new index can't allocate the shard

[2017-09-25 11:24] jasontedor commented on #26772
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-09-25 11:24] #26772 closed

[2017-09-25 11:42] feiyuewuyue commented on #26772
my version is 5.2.0,the "cluster.routing.allocation.exclude._ip" : "ipname" take effect,but when I restart the node and set "cluster.routing.allocation.include._ip" : "pre ipname",all index can't relocate,new index shard can't locate

[2017-09-25 12:05] s1monw opened #26773 "[TEST] org.elasticsearch.index.store.CorruptedFileIT failure on 6.0"
Build URL: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+6.0+aggressive-opts/251/console

Reproduce command (does not seem to reproduce locally):
[code]

Looks like the checksums pass even though the test creates a file corruption.

Failure:
[code]

this ultimately hits an assertion error on the global checkpoint service:

[code]

[2017-09-25 12:18] eskibars commented on #25210
The change makes sense.  It was partially done in https://github.com/elastic/x-pack-elasticsearch/pull/1688 .  I just realized that didn't include changes for dedicated data nodes & dedicated master nodes, which it should

[2017-09-25 12:38] jpountz commented on #26763
@osthus-co Thanks for testing out beta2! There is indeed a bug in the validation since we should accept copying between two fields that are under the same nested object. However your mapping has another problem which is that it copies to a multi-field, which is not necessary since multi-fields are already populated with the value of their parent field. I'll fix the issue and improve the error mess

[2017-09-25 12:59] jpountz opened #26775 "ScriptFieldsFetchSubPhase should create search scripts once per segment"
Today, `ScriptFieldsFetchSubPhase` creates one `SearchScript` instance per field and per top hit. It should be refactored to do it once per segment similarly to what we did for doc values fields in #25644.

[2017-09-25 13:00] jpountz commented on #17110
This issue is not really specific to Groovy and still exists. I opened #26775 to replace this one.

[2017-09-25 13:07] osthus-co commented on #26763
Thank you for the explanation and the fix.

[2017-09-25 13:07] #26763 closed

[2017-09-25 13:40] jpountz commented on #26406
Actually, we parse date math expressions directly into milliseconds so I'm afraid there is no intermediate representation of the date that we could try to expose with some API. So anything more would be significant work and maintenance.

[2017-09-25 14:13] sumanthrao commented on #26500
I would like to contribute to this project, how do I go ahead?

[2017-09-25 14:32] jpountz commented on #26674
This is "interesting" since we recently moved some mappers including `scaled_float` to a module in order to avoid introducing dependencies between the mapping API and specific implementations while this bug would require such a dependency to be fixed.

For the record, this bug only exists in multi-type setups so it can't affect 6.0+ indices, which disallow the use of multiple types.

Maybe we coul

[2017-09-25 14:36] jpountz commented on #26611
Thanks @martijnvg !

[2017-09-25 14:50] jpountz commented on #15731
I think it's becoming obvious that there is traction for this feature, so let's give it a try? Let's just make sure that the documentation is clear as to how the weight is computed in case of missing values or multiple values.

[2017-09-25 14:55] jpountz commented on #15731
As far as I'm concerned, I'd like it to be a new aggregation rather than adding options to the `avg` aggregation, as well as clearly separating options that applies to values from those that apply to the weight, eg.

[code]

[2017-09-25 15:01] #26500 closed

[2017-09-25 15:04] jpountz commented on #24086
@liketic Sure. Basically you'd need to remove that interface and convert existing implementations to `SortingNumericDoubleValues`.

[2017-09-25 15:07] nik9000 commented on #26761
It looks like you have 1000 documents and a scroll size of 4000. This all looks correct. What is wrong?

[2017-09-25 15:14] rfraposa commented on #26761
It's the other way around. I have over 4,000 documents that match that query, so I set scroll_size to 4000 so I could update them all in one request. But only 1,000 get updated at a time. I have the run the `_update_by_query` four times to get all documents updated, which is not what I expected.

[2017-09-25 15:16] dadoonet opened #26777 "Azure snapshots can not be restored anymore"
While working on #26751 and doing some manual integration testing I found that this #22858 removed an important line of our code:

`AzureRepository` overrides default `initializeSnapshot` method which creates metadata files and do other stuff.

But with PR #22858, I wrote:

[code]

instead of

[code]

As we never call `super.initializeSnapshot(...)` files are not created and we can't restore what

[2017-09-25 15:21] #26643 closed

[2017-09-25 15:26] javanna commented on #26406
Agreed, I would close this issue. Users will have to parse the time from epoch and make sense of the date themselves.

[2017-09-25 15:26] #26406 closed

[2017-09-25 15:27] javanna commented on #17110
thanks a lot Adrien.

[2017-09-25 15:29] inqueue opened #26779 "Add documentation for disabling _field_names meta-field"
The `_field_names` meta-field can be disabled just like `_all`. For example:

[code]

Could documentation be provided for disabling `_field_names` along with the implications?

https://www.elastic.co/guide/en/elasticsearch/reference/5.6/mapping-field-names-field.html

@jpountz

[2017-09-25 15:30] javanna commented on #25210
@eskibars thanks for the quick feedback. Do you have time to take this and send a PR?

[2017-09-25 15:38] nik9000 commented on #26761
I've reproduced this locally. The `size` parameter is getting set to the scroll size accidentally.

[2017-09-25 15:49] nik9000 commented on #26761
@rfraposa I've renamed this to the actual issue.

[2017-09-25 15:49] nik9000 commented on #26761
Note: this doesn't effect 5.6. I've not tracked down the patch that changed it but I'll put together a fix.

[2017-09-25 15:56] nik9000 commented on #26761
This is the script I used to reproduce it:
[code]

That last one *should* return `4000` documents updated but it returns `1000`.

[2017-09-25 15:58] javanna commented on #8595
@gdubicki the error messages were improved for all the relevant APIs with #23497 (went out with 5.5).

[2017-09-25 15:59] dnhatn commented on #26335
@jasontedor, I just want to make sure that I understand the requirement correctly. We will deprecate the preference "_primary*" and "_replica*" in 6.x and remove them in 7.x. Thank you.

[2017-09-25 15:59] nik9000 commented on #26761
Better reproduction:
[code]

Shows that this effects `_update_by_query` and `_delete_by_query` but not `_reindex`.

[2017-09-25 16:03] #26670 closed

[2017-09-25 16:36] jaymode commented on #10950
This was done by @rjernst in #22335

[2017-09-25 16:36] #10950 closed

[2017-09-25 16:59] tdoman commented on #26728
@tlrx Thanks, is there a way to emulate the "keyword" type in 1.7.x?  That's essentially what we were trying to do long before the "keyword" type was introduced.

[2017-09-25 17:09] tlrx commented on #26728
In 1.7 there's the Keyword Analyzer (https://www.elastic.co/guide/en/elasticsearch/reference/1.7/analysis-keyword-analyzer.html). If you still need to filter some chars you can combine the keyword tokenizer (https://www.elastic.co/guide/en/elasticsearch/reference/1.7/analysis-keyword-tokenizer.html) with char_filter.

[2017-09-25 17:20] rcrezende opened #26780 "allow date math on 'now' with || operator and add recursive '||' processing"
Because of only this 'else', there are two ways to do date math. If you use 'now' you can't use '||' operator. If you don't use 'now' you have to use '||' operators. See it here:

https://github.com/elastic/elasticsearch/blob/ee802ad63c0f21d697a5095dd05dc6f94626ee4d/core/src/main/java/org/elasticsearch/common/joda/DateMathParser.java#L63

This special case adds unnecessary complexity when generati

[2017-09-25 17:30] jasontedor commented on #26335
@dnhatn Yes.

[2017-09-25 18:01] jasontedor commented on #26773
Closed by #26776

[2017-09-25 18:01] #26773 closed

[2017-09-25 18:12] nguyenlp opened #26782 "Add documentation to call out that the search templates need explicit script support."
**Describe the feature**:

[2017-09-25 18:15] stembi opened #26783 "Fuzzy query with fuziness set to AUTO fails on short keywords"
**Elasticsearch version** (`bin/elasticsearch --version`):5.1.1

**Plugins installed**: [none]

**JVM version** (`java -version`):java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)

**OS version** (`uname -a` if on a Unix-like system):Windows 7 Professional 64bit

**Description of the problem including exp

[2017-09-25 18:26] nik9000 commented on #26761
I dropped the `blocker` label because we're ok with having this be a "known issue". I have opened up a PR to fix it though.

[2017-09-25 18:35] #26777 closed

[2017-09-25 18:39] #26742 closed

[2017-09-25 19:07] stembi commented on #26783
It seems the **problem is with case sensitivity**:
ES is passing the indexed documents to the lowercase filter, which stores all the keyword in lowercase.
On the other side, the query itself is doing no analysis of searched text (in our case the "Al"),and because fuzziness is set to 0 (exact match), no match is found. It seems I just misunderstood the ES concept of Fuzzy query - this behaviour is

[2017-09-25 19:38] Bargs commented on #26760
Awesome, thank you!

[2017-09-25 19:43] s1monw commented on #26783
the fuzzy query doesn't apply tokenization / normalization to the terms you pass in. You should use match query instead like this:

[code]

[2017-09-25 19:43] #26783 closed

[2017-09-25 20:24] elasticmachine opened #30107 "Certgen CSR generation should set extended key usage"
*Original comment by @jaymode:*

A user posted a question on discuss about why we do not automatically set the extended key usage field to server and client auth in the CSR generated by certgen. https://discuss.elastic.co/t/certgen-and-the-extended-key-usage-field/100536

We can easily add this, but I do not want to overcomplicate certgen with flags; if we did this we would just add the field by d

[2017-09-25 20:25] #26761 closed

[2017-09-25 20:27] imotov commented on #26636
@tlrx can you think of any way to move this thing forward besides waiting for 1.24 release? The patch was merged almost a year ago and it still didn't make it into any releases.

[2017-09-25 21:09] imotov commented on #26453
Indeed, the behavior is currently described in the documentation as

And this was how it worked until 5.0.0 when #15278 changed it to fail the restore if at least one setting cannot be applied to the current cluster state instead of ignoring it. @s1monw, do you remember if this was a conscious decision and we just forgot to update the docs or it is a bug and we need to revert it to just ignore the

[2017-09-25 21:16] elasticmachine opened #30108 "Watcher index action modifies input in-place"
*Original comment by @HonzaKral:*

Index action will remove the `_id` field from the document modifying it in place, if the data needs to be available for additional actions/scripts it will be lost. This is unexpected behavior that is hard to debug.

In this example the data is correctly indexed into index `i` but will have auto-generated `_id` for index `i2`.

[code]

[2017-09-25 21:21] YashMangla opened #26786 "elasticsearch-5.6.1 is giving me such error 'Exception in thread "main" java.nio.file.AccessDeniedException:' when i'm trying to install any plugin on ubuntu machine"
-> Downloading ingest-geoip from elastic
[=================================================] 100%  
Exception in thread "main" java.nio.file.AccessDeniedException: /usr/share/elasticsearch/plugins/.installing-8466668133179145445
        at sun.nio.fs.UnixException.translateToIOException(UnixException.java:84)
        at sun.nio.fs.UnixException.rethrowAsIOException(UnixException.java:102)

[2017-09-25 21:30] jasontedor commented on #26786
You do not have permissions to create the file, probably because you did not run as `sudo`. This is not a bug. Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't

[2017-09-25 21:30] #26786 closed

[2017-09-25 21:43] #21475 closed

[2017-09-26 00:11] dnhatn commented on #26335
@jasontedor I am not sure if the recommendation to use `preference=_primary` for `read-then-update` is still valid. We document it at [https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-index_.html#index-versioning](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-index_.html#index-versioning)

[2017-09-26 01:36] thomas11 opened #26787 "Histogram aggregation fails on NaN"
**Elasticsearch version** (`bin/elasticsearch --version`):

Version: 5.6.1, Build: 667b497/2017-09-14T19:22:05.189Z, JVM: 1.8.0_141

**Plugins installed**: none

**JVM version** (`java -version`):

openjdk version "1.8.0_92"
OpenJDK Runtime Environment (Zulu 8.15.0.1-win64) (build 1.8.0_92-b15)
OpenJDK 64-Bit Server VM (Zulu 8.15.0.1-win64) (build 25.92-b15, mixed mode)

**OS version** (`uname -a`

[2017-09-26 02:47] jasontedor commented on #26335
@dnhatn Not reading from the primary is okay in the case of optimistic concurrency control; if the read is from a stale value, the dependent write will be rejected anyway and the read will simply have to be retried. This is okay for a workflow using optimistic concurrency control. Therefore, I think we can simply remove this recommendation from the documentation.

[2017-09-26 03:02] tstsogoo opened #26788 "UseConcMarkSweepGC"
`Java HotSpot(TM) 64-Bit Server VM warning: Option UseConcMarkSweepGC was deprecated in version 9.0 and will likely be removed in a future release.`
elasticsearch-5.5.0, windows x64

[2017-09-26 03:43] tvernum commented on #26788
Hi @tstsogoo

Thanks for reporting this, however we do not consider this to be a bug because:

- Elasticsearch 5.5 [does not support Java 9](https://www.elastic.co/support/matrix#matrix_jvm)
- Despite CMS being deprecated, it is still [the best GC method](https://www.elastic.co/guide/en/elasticsearch/guide/current/_don_8217_t_touch_these_settings.html#_garbage_collector) for Elasticsearch at this

[2017-09-26 03:43] #26788 closed

[2017-09-26 05:59] saurabhdhingra89 opened #26789 "Not able to perform remote reindex with X-Pack Elastic Search"
**Describe the feature**:

**Elasticsearch version** (`bin/elasticsearch --version`): 5.6.1

**Plugins installed**: [X-Pack]

**JVM version** (`java -version`): 1.8.0_121

**OS version** (`uname -a` if on a Unix-like system): Windows 7

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Facing issue when doing reindexing remotely with X-Pack enabled

[2017-09-26 06:04] tvernum commented on #26789
Hi @saurabhdhingra89,

This repository is specifically for bugs and feature tracking for open source elasticsearch.
Since this is an X-Pack issue, we'd ask that you raise it on our [discuss forum](https://discuss.elastic.co/) instead.

Before you do, however you might want to check on the [reindex from remote docs](https://www.elastic.co/guide/en/elasticsearch/reference/5.6/docs-reindex.html#reind

[2017-09-26 06:04] #26789 closed

[2017-09-26 06:13] saurabhdhingra89 commented on #26789
Thanks @tvernum

[2017-09-26 08:04] tlrx commented on #26636
@imotov They recently updated the development version of the lib so I asked [here](https://github.com/google/google-http-java-client/pull/369#issuecomment-332118856) if they will release 1.23 soon. Let's wait a bit for an answer, ok?

[2017-09-26 09:37] #26408 closed

[2017-09-26 11:07] #25607 closed

[2017-09-26 11:48] colings86 commented on #26787
This should be fixed in 6.0 by https://github.com/elastic/elasticsearch/pull/25826 which ensures that out of range, infinite and NaN values are rejected at index time.

[2017-09-26 12:53] ersoyvatansever opened #26790 "[Node-107] disconnected from Loadbalancer due to explicit disconnect call"
Using v1.7.4 on 1 cluster 3 data node, 1 master and 1 loadbalancer.
This issue fires from a week.  I dont know what happend and start to fire this issue.
Can any one

LOG1 :
[2017-09-26 15:24:06,545][DEBUG][transport.netty          ] [Node-107] disconnecting from [[Loadbalancer][aiZsZddTTG6qK_suRpZlyQ][PENTAv3ELSM16][inet[/xxx:9300]]{data=false, master=false}] due to explicit disconnect call
[2017

[2017-09-26 13:28] dadoonet commented on #26790
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

BTW 1.7 is not maintained anymore.

[2017-09-26 13:28] #26790 closed

[2017-09-26 13:30] ersoyvatansever commented on #26790
@dadoonet  Thanks for your help.

[2017-09-26 15:31] dannymurphygfk commented on #25603
We are not restarting the nodes on our Dev cluster as we are hoping it can help us troubleshoot the problem.
Don't know it it will help much, but we noticed that we can create a new index, with the default settings for shards etc.. and if we query the index even before adding any documents we get bogus hit totals ?

# PUT my_index
{
  "acknowledged": true,
  "shards_acknowledged": true
}

# POST m

[2017-09-26 16:04] thomas11 commented on #26787
And what about the invalid values that are already indexed? The fix for this can't be to re-index all data.

[2017-09-26 16:43] cbuescher commented on #25603
Thanks, its great if you can keep the dev cluster in the "problematic" state, and the fact that this reproduced without any data points to a different direction than my previous suspision about nested document I think, although that behaviour on a completely emty index is super strange as well. So just to sum up and double check, correct me if I'm wrong:

* You have 3 nodes in the dev setup, this

[2017-09-26 16:49] #23755 closed

[2017-09-26 18:58] dnhatn commented on #26493
Hi @jasontedor, I am thinking to work on this. What do you think? Thank you.

[2017-09-26 19:27] jasontedor commented on #26493
@dnhatn I think we can get there, but let’s work our ways towards it.

[2017-09-26 19:59] original-brownbear commented on #26701
Fixed in https://github.com/elastic/elasticsearch/pull/26764 :)

[2017-09-26 20:49] dakrone commented on #26525
We're definitely always interested in improving the pre-estimation of memory consumption, and adding more circuit breakers as needed.

I think this would be too hard to debug since it would vary widely whether the node could handle the request. It's also impossible to know whether a heap at 79% usage could easily be GC'd to 20% usage, or whether all the objects are live and cannot be GC'd. I'm in

[2017-09-26 20:49] worthwhileindustries commented on #21655
@jasontedor this works to bypass the bootstrap checks

[code]
@jasontedor this DOES NOT work to bypass the bootstrap checks
[code]
As soon as I try to add a build directory and use this Dockerfile to add on to it... I would think I'd be able to set this to false but, it only accepts true

es.enable.bootstrap.checks

Is there something i'm missing. This is my Dockerfile
[code]

I want to install so

[2017-09-26 21:12] hexinw commented on #26525
Thanks @dakrone What was the reason we don't have circuit breaker in reduced phase currently? Actually why is reducing phase taking more memory?

[2017-09-26 21:36] dakrone commented on #26525
It simply hasn't been added, I don't think there's a reason anyone purposely didn't add one there.

The reducing phase usually does not take more memory, this is likely the reason why a circuit breaker hasn't been proposed for this prior to this. I haven't seen any other instances where a node was getting an OOME during the reduction phase.

[2017-09-27 02:11] brunosdiniz commented on #17895
+1 for this enhancement.

For the use case of ingest attachment pipelines, how are people currently dealing with updates to documents that have been previously indexed based on binary files?

In the scenario I´m exploring the document has an array of attachments, and having to fetch entire documents to be able to change a single attribute (via index api) doesn´t really seem like something one woul

[2017-09-27 03:53] smithyj opened #26796 "On the document multi-field search slow problem"
## Description
A document in the organization's index that contains all the department collections for this organization, such as
[code]
But the document contains 41666 departments, because too many departments lead to search is very slow, search results time `43s`, please provide the idea to solve the problem, thank your!

## OS Configuration

[2017-09-27 04:04] tvernum commented on #26796
Hi @smithyj

Elastic uses GitHub issues for tracking confirmed bugs and feature requests.

Since you are asking for advice on how to configure and use Elasticsearch, this is not the correct place for your question. Instead of asking here, please make a post on our [discuss forum](https://discuss.elastic.co/) where we can provide better support.

Thank you.

[2017-09-27 04:04] #26796 closed

[2017-09-27 06:05] githubmui opened #26797 "RPM install problem"
RPM install of Elasticsearch 5.6.2 on SLES11-SP3 failed with following error:
   elasticsearch-5.6.2.rpm: headerRead failed: Header sanity check: OK

FYI: But RPM install of Logstash 5.6.2 and Kibana 5.6.2 on SLES11-SP3 succeeded.

[2017-09-27 06:09] tvernum commented on #26797
Hi @githubmui

I'm afraid we don't support RPM installs on SLES 11, as SLES uses a very old version of RPM.
Unfortunately, you will need to install from zip/tgz.

See the `**` footnote on https://www.elastic.co/support/matrix#matrix_os and https://github.com/elastic/elasticsearch/issues/17470#issuecomment-213418616

[2017-09-27 06:09] #26797 closed

[2017-09-27 06:16] lilizhaolilizhao commented on #26271
@tlrx
If the dynamic template does not explicit the specified type, a double type variable is identified as the float type in the mapping. Is this a bug? That's what I've found at the project.

[2017-09-27 06:46] smithyj commented on #26796
## Query DSL
[code]

[2017-09-27 06:47] smithyj commented on #26796
## Whole Mapping
[code]

[2017-09-27 07:04] tvernum commented on #26796
@smithyj Please take this to http://discus.elastic.co/ instead.

[2017-09-27 07:05] dannymurphygfk commented on #25603
* We have 3 nodes in the Dev cluster
* The new index defaulted to 5 shards and 1 replica
* Yes, we are performing an empty search and yes we see total hits coming back.

* Yes I ran 2 searches because I was seeing 2 different counts coming back alternately. (this morning this search is alternating between totals **199 and 398**)

Running the search with preference=_shards I get
# POST my_index/_se

[2017-09-27 07:07] smithyj commented on #26796
@tvernum Thank you, Yet send to discuss

[2017-09-27 08:02] dadoonet commented on #17895
@brunosdiniz I'm pretty sure it will happen at some point in LS. LS is moving some part of the code to Java so integrating ingest-attachment as a codec or a filter should be "easy" in the future.

See https://github.com/elastic/logstash/issues/3815. I started an implementation of this 3 years ago but never went farer than the POC.

One thing you can may be use is my open source project named [FSCr

[2017-09-27 09:09] akefirad opened #26799 "Why the response status of the error "Result window is too large" is 500?"
I encountered the following error:
[code]
My question is why the status is 500? It's more of client's fault, isn't it? Shouldn't it be 4XX?

[2017-09-27 09:48] DaveCTurner commented on #26493
Just registering my interest in this too @dnhatn. Please ping me if you're discussing this.

[2017-09-27 10:37] changsijay opened #26801 "query_string failed to search non empty string with single asterisk"
Hi, I am using elasticsarch `5.6.1`, I am trying to query the documents which `tag` is not empty by

[code]

it return all documents including those which tag is empty.

howerver, before I migrated from `2.4` to `5.6.1`, this query worked fine on `2.4`.
It only return documents which tag is not empty.

Is there any default setting changed caused this query failed?

In the same time I tried below q

[2017-09-27 10:53] jakommo commented on #26551
I talked to a user and they still experienced the above kernel bug after disabling THP, a lot less frequent though.
What seems to have solved it for them now is to also disable NUMA, so maybe we can add this as well (if there are no objections from dev side).

[2017-09-27 11:32] javanna commented on #26799
I would agree on this, thanks for pointing it out. I think the status code is un unwanted side effect of the exception used for this error message, and the exception that it inherits from.

[2017-09-27 12:03] liketic commented on #26799
@javanna Can we just response a bad request status for `QueryPhaseExecutionException` ? thanks.

[2017-09-27 12:04] liketic commented on #24086
Thanks! 😄

[2017-09-27 12:06] javanna commented on #26799
@liketic yes that would be a better thing to do.

[2017-09-27 12:07] javanna commented on #26799
Not sure though if 4xx should be associated with `QueryPhaseExecutionException` which can also be a server side problem. The solution may also be to use a different exception for these cases where we validate user input.

[2017-09-27 12:43] liketic commented on #26799
Some possible options:
1) Bind 4xx status to `QueryPhaseExecutionException `
2) Replace `QueryPhaseExecutionException` in those cases with `IllegalArgumentException`
3) Create a new exception extends `QueryPhaseExecutionException`
4) find a another existing exception to replace `QueryPhaseExecutionException` in those places and response 4xx.

Do you prefer which one? Thanks!

[2017-09-27 13:28] imotov commented on #26116
No feedback for more than a month, so I am assuming that this is indeed a duplicate of #25696.

[2017-09-27 13:28] #26116 closed

[2017-09-27 14:17] akefirad commented on #26799
I'd not associate 4xx to all `QueryPhaseExecutionException` either. IMHO the best is option 3, but 2 is also works.

[2017-09-27 14:54] imotov opened #26802 "Possible Bulk Update Optimizations"
We had several reports of slow bulk updates in 5.0 and above. Some of them are summarized in #23792. The main issue that led to significant slow down seems to the refresh that is now performed before each update operation. Basically, in order to perform a bulk requests with 1000 updates on the same record we will have to perform refresh 1000 times. This problem can be avoided if we could combine a

[2017-09-27 16:05] cbuescher commented on #25603
To check index shards for corruption you can use a command line tool build into Lucene and run it on the Lucene index that contains the files for that shard. For that, go to the affected node, change to the ES home directory (depending on your installation). There should be a `lib` folder that contains the lucene-core-6.4.2.jar (the version might be different, this is for 5.3.3). Next you need to

[2017-09-27 18:42] martijnvg commented on #16838
@pithyless The change to nested aggregation has been back ported to the 6.x branch and will be available in ES 6.1. As this change is not a simple fix, it is not be backported to the 6.0 branch (due to feature freeze) and 5.6 branch (only bug fixes).

[2017-09-27 19:07] dnhatn commented on #26493
@DaveCTurner Sure.

[2017-09-27 19:43] evanyeatts commented on #17006
I'm working with a use case where I have an index containing revisions of a piece of news content. Revisions are part of exactly one story, and the output of any query should only be the most recent revision within any given story group. It is simple enough to run queries against this index under the constraints, given that I can aggregate stories by their group id and return the most recently pub

[2017-09-27 20:29] thomas11 commented on #26787
Seems like changing from `==` to `Double.compare(double a, double b) == 0` would do the trick.

[2017-09-28 04:45] grappler2 commented on #21932
Thanks!

[2017-09-28 07:16] martijnvg commented on #23290
+1 I think we should have such an option that builds on top of `QueryShardContext#setAllowUnmappedFields(...)` infrastructure that already exists.

[2017-09-28 07:58] jpountz commented on #26802
@imotov in `it currently translates into`, I think we would not refresh before getting `B` since it is necessarily in the index already due to the refresh that we did for `A`?

[2017-09-28 08:59] markharwood commented on #23290
@jpountz was +1 for removing that feature - it is currently configured as part of _index_ settings which are undocumented.
The validation requirement we settled for is a per-query choice (because queries can span many indices. We allow individual indices to fail but only fail if **all** targeted indices were reporting a field as unmapped. This validation relies on shards returning sets of unmapped

[2017-09-28 09:22] martijnvg commented on #23290
@markharwood That makes sense. Thx for explaining.

[2017-09-28 09:46] elasticmachine opened #29809 "[ML] Make max open jobs setting a dynamic cluster-wide setting"
*Original comment by @droberts195:*

I discussed this with @bleskes this morning.

Currently we have the following interrelated problems/limitations:

* `xpack.ml.max_open_jobs` is a node setting rather than a cluster setting
* `xpack.ml.max_open_jobs` cannot be dynamically changed
* We copy the value of `xpack.ml.max_open_jobs` to a node attribute called `ml.max_open_jobs` so that the value for e

[2017-09-28 10:23] #26775 closed

[2017-09-28 10:36] jpountz commented on #26801
Am I correct that your `tag` field is mapped as `text`? I think this is because we now rewrite pure wildcards to `exists` queries for efficiency. But it might indeed perform differently on `text` fields.

@jimczi What do you think?

[2017-09-28 10:49] jpountz commented on #26787
This is unfortunate that we had this leniency in the past indeed. I'm afraid this histogram issue is only one of the issues you could hit with NaNs in your index. Using a `range` query with both bounds open should work in order to filter out nans in case you need it.

I see the switch to `Double.compare` as a good move regardless of this issue. Would you like to open a PR?

[2017-09-28 11:09] jpountz commented on #26780
Can you give a concrete example of some date math expressions that do not work today and that you would like to make work? For instance I believe `now||-1d/d` could be stated as `now-1d/d` and your second example `now||-1d/d||-1d||-1d` looks made up?

[2017-09-28 11:17] jpountz commented on #26771
The problem seems to be because of `this.languageset = settings.getAsArray("languageset");` in `PhoneticTokenFilterFactory` which returns an empty array rather than null when no languageset is defined. Would you like to work on a fix?

[2017-09-28 11:39] changsijay commented on #26801
@jpountz , yes, the `tag` field is `text`

[2017-09-28 11:55] jimczi commented on #26801
Yes this is a change in behavior compared to 2.x. Note that the field is empty and not null, the following document would match `tag:*`:
[code]
and this one would **not**:
[code]

This is true for `keyword` and `text`field.

Can you reindex your data with null values instead of empty ?
`?*` works as expected but is also horribly costly if you have a lot of distinct terms.
I'll add a note in the do

[2017-09-28 12:37] hendrikmuhs opened #26812 "[CI] org.elasticsearch.repositories.azure.AzureSnapshotRestoreTests fails"
Reproduce: gradle :plugins:repository-azure:test

Blame: https://github.com/elastic/elasticsearch/commit/1ccb497c0d80313bbb09528bec79d856cea98c61

Log:
[code]

[2017-09-28 13:03] tlrx commented on #26271
When no mapping is defined, float are used by default instead of double because it is more space efficient. That's explicitly defined [here](https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java#L757-L759) in the code so it's not a bug.

Yes, it's been changed in #15319 and documented in the [breaking changes for 5.0](https://www

[2017-09-28 13:08] imotov commented on #26802
@jpountz you are right, thanks a lot for the clarification. I have updated the issue.

[2017-09-28 13:35] dipak84patel opened #26816 "Bucket Script not working for division of counts of two queries"
I am very new to bucket script and trying to resolve this since few days now. I am trying perform division operation on counts of two queries and having hard time resolving this. What i am trying to do is `count(query1)/count(query2)` and both of these queries are in `message `field. Below is what i have done so far -

[code]

Also i would like to know once this is in place whether it would be pos

[2017-09-28 15:02] bleskes commented on #26816
@dipak84patel thanks for the question. We keep github for bugs and feature requests. For questions and more general discussions we use our forums on http://discuss.elastic.co . Do you mind asking there? I'm going to close this. If it turns out that there is some bug that prevents you from doing what you want we can always reopen.

[2017-09-28 15:02] #26816 closed

[2017-09-28 15:03] KnechtionsCoding opened #26818 "Saved Search Failing in Dashboard vs Discover"
**Elasticsearch version** (`bin/elasticsearch --version`): 5.6.1 Build 667b497/2017-09-14T19.22.05.189Z

**Plugins installed**: [None]

**JVM version** (`java -version`): 1.8.0_144

**OS version** (`uname -a` if on a Unix-like system): Centos 7.4.1708

**Description of the problem including expected versus actual behavior**: When creating a particular dashboard, which includes a saved search, the