[2020-07-07 10:43] elasticmachine commented on #59132
Pinging @elastic/es-core-features (:Core/Features/Watcher)

[2020-07-07 11:03] cbuescher opened #59133 "[CI] GoogleCloudStorageBlobStoreRepositoryTests.testSnapshotAndRestore failure on 7.8"
**Build scan**:
https://gradle-enterprise.elastic.co/s/mfsebuhbp5lls

**Repro line**:

./gradlew ':plugins:repository-gcs:test' --tests "org.elasticsearch.repositories.gcs.GoogleCloudStorageBlobStoreRepositoryTests.testSnapshotAndRestore" \
  -Dtests.seed=F1A04B3D849276C5 \
  -Dtests.security.manager=true \
  -Dtests.locale=en-AU \
  -Dtests.timezone=Europe/Zaporozhye \
  -Druntime.java=11

**Repr

[2020-07-07 11:03] elasticmachine commented on #59133
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-07-07 11:15] przemekwitek commented on #59130
Thanks for the idea, I'll take a look.

[2020-07-07 11:35] jpountz opened #59135 "Introduce an enum field"
`keyword` fields are effectively enums internally, and there is likely not much that can be improved at the shard level by introducing an enum field. However, an `enum` field could help improve searching across many indices by efficiently skipping indices that cannot match because the queried value doesn't exist in the index during the `can_match` phase.

[code]

Open questions:
 - We should have

[2020-07-07 11:35] elasticmachine commented on #59135
Pinging @elastic/es-search (:Search/Mapping)

[2020-07-07 11:41] hydrogen666 commented on #52616
We are facing similar issue... We have a monitoring plugin collecting stats of every indices periodically by calling `GET /_stats` api, but one data node response `indices:monitor/stats[n]` very slow due to disk issue and network connection is OK. It causes our leader master OOM.

It's hard to say whether we will encounter similar issues not caused by disk problems in the future. I think we can ha

[2020-07-07 11:52] jpountz opened #59137 "Add an API for field value suggestions?"
Kibana currently powers field value suggestions with aggregations, by enforcing strict timeouts in order to make sure to get suggestions in a timely fashion. Unfortunately, despite great care to make these suggestions cheap, this has been a source of performance/load issues in the past. Upcoming features like searchable snapshots and schema on read are going to make this worse.

With the introduct

[2020-07-07 11:52] elasticmachine commented on #59137
Pinging @elastic/es-search (:Search/Search)

[2020-07-07 12:09] nik9000 commented on #59131
Sounds like it is my bug.

[2020-07-07 12:33] cbuescher opened #59140 "[CI] SLMSnapshotBlockingIntegTests.testSnapshotInProgress failure on 7.8"
**Build scan**:

https://gradle-enterprise.elastic.co/s/a7updrlkekkgk

**Repro line**:

[code]

**Reproduces locally?**:

Not after a couple of runs.

**Applicable branches**:

7.8

**Failure history**:

https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-90d,mode:quick,to:now))&_a=(columns:!(test.failed-testcases),filters:!(('$state':(store:ap

[2020-07-07 12:33] elasticmachine commented on #59140
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-07-07 12:52] jrodewig commented on #59071
Hi @UkrZilla,

The `search.check_buckets_step_size` setting was not merged. [That section of the release highlights][0] was later revised in #57306. I hope that clears up the confusion.

I'll also add a redirect for the 7.7 release highlights.

[0]: https://www.elastic.co/guide/en/elastic-stack/7.7/elasticsearch-highlights.html#_finer_memory_control_for_bucket_aggregations

[2020-07-07 12:56] UkrZilla commented on #59071
Thanks, James

[2020-07-07 12:57] cbuescher opened #59143 "[CI] XPackRestIT.test {p0=ml/delete_expired_data/Test delete expired data with unknown job id} failure master"
Test times out.

**Build scan**:

https://gradle-enterprise.elastic.co/s/nuarmaeswwers

**Repro line**:

[code]

**Reproduces locally?**:

No

**Applicable branches**:

master

**Failure history**:

**Failure excerpt**:

[code]

<details><summary>jstack</summary>
<p>
[code]

</p>
</details>

[2020-07-07 12:57] elasticmachine commented on #59143
Pinging @elastic/ml-core (:ml)

[2020-07-07 13:06] cbuescher opened #59144 "[CI] Vagrant problems in opensuse-42 distroTests"
Various instances of what looks like startup issues of vagrant to me.
Not sure if this is limited to the opensuse-42 distroTests, but here are some samples from
resent history:

https://gradle-enterprise.elastic.co/s/2vego3qd5mzk6/console-log#L1157
https://gradle-enterprise.elastic.co/s/bv4ax5o77vp22/console-log#L9901
https://gradle-enterprise.elastic.co/s/j6r6r3hn7vzky/console-log?anchor=800

I'm

[2020-07-07 13:06] elasticmachine commented on #59144
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-07-07 13:12] cbuescher opened #59145 "[CI] :qa:os:destructiveBatsTest.upgrade failures"
Several instances of failures in `:qa:os:destructiveBatsTest.upgrade`

e.g.
https://gradle-enterprise.elastic.co/s/mudcssujz53gq
https://gradle-enterprise.elastic.co/s/jzzokkmwp4vzk

Excerpt:
[code]

[2020-07-07 13:12] elasticmachine commented on #59145
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-07-07 13:13] droberts195 commented on #59143
This is the problem of too much parallelism on macOS workers that cannot handle it.  The test that timed out only ran for 0.576 seconds, so it wasn't to blame.  The problem of parallel test suites on macOS is covered by #58286.

[2020-07-07 13:13] #59143 closed

[2020-07-07 13:14] cbuescher commented on #59140
Another instance on 7.x: https://gradle-enterprise.elastic.co/s/jqc4u3encwa76

[2020-07-07 13:23] cbuescher opened #59147 "[CI] Windows distroTest tests failing"
https://gradle-enterprise.elastic.co/s/jrnwaxnocahvc

Failed Task:
`:qa:os:windows-2012r2:distroTest.default-windows-archive-no-jdk`

Excerpt:
[code]

[2020-07-07 13:23] elasticmachine commented on #59147
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-07-07 13:24] cbuescher commented on #59147
This is an earlier one, looks similar https://gradle-enterprise.elastic.co/s/ylnewp2hi3wea/console-log?task=:qa:os:windows-2016:distroTest.default-windows-archive-no-jdk#L792

[2020-07-07 13:34] jrodewig commented on #59071
https://www.elastic.co/guide/en/elasticsearch/reference/7.7/release-highlights-7.7.0.html now redirects to page that links to https://www.elastic.co/guide/en/elasticsearch/reference/7.7/release-highlights.html.

Closing this issue. Thanks again.

[2020-07-07 13:34] #59071 closed

[2020-07-07 13:34] cbuescher commented on #58807
I think this failure from today looks related: https://gradle-enterprise.elastic.co/s/7nqywhqy2fu7s

[2020-07-07 13:46] delvedor opened #59148 "`_ml/data_frame/analytics/{id}/_update` is not present in rest-api-spec"
Hello team!
While the API `_ml/data_frame/analytics/{id}/_update` is documented in the [docs](https://www.elastic.co/guide/en/elasticsearch/reference/master/update-dfanalytics.html), it appears not to be present in the [rest-api-spec](https://github.com/elastic/elasticsearch/tree/master/x-pack/plugin/src/test/resources/rest-api-spec/api) (both `master` and `7.x`), is there a reason for this?
Thank

[2020-07-07 13:46] elasticmachine commented on #59148
Pinging @elastic/ml-core (:ml)

[2020-07-07 13:46] elasticmachine commented on #59148
Pinging @elastic/es-core-infra (:Core/Infra/REST API)

[2020-07-07 13:56] cbuescher opened #59149 "[CI] ApiKeyIntegTests testAuthenticationReturns429WhenThreadPoolIsSaturated timout issues"
This increased after https://github.com/elastic/elasticsearch/pull/59077 got merged to master and 7.x, so most likely related

**Build scan**:

https://gradle-enterprise.elastic.co/s/6mul5twr5cqmq

**Repro line**:

./gradlew ':x-pack:plugin:security:test' --tests "org.elasticsearch.xpack.security.authc.ApiKeyIntegTests.testAuthenticationReturns429WhenThreadPoolIsSaturated" \
  -Dtests.seed=DF87DD5

[2020-07-07 13:56] elasticmachine commented on #59149
Pinging @elastic/es-security (:Security/Security)

[2020-07-07 13:56] cbuescher commented on #59149
Will mute this since its failing much more often now.

[2020-07-07 13:57] vishnugt commented on #58275
I suspect the PR I submitted for this issue was somehow missed, so commenting here, just in case.

[2020-07-07 14:03] cbuescher commented on #59149
Muted with 743220b382300c3f86fbaad8f73c6d9ebffb794b and  7c64a1bd7bfb2b3239fc2c7d870b7d63894d7dd0.

[2020-07-07 14:11] original-brownbear commented on #59149
@ywangd I believe you were looking into this one already right?

[2020-07-07 14:28] nik9000 commented on #58926
@polyfractal what do you think of handling the null value by looking at the gap policy? Do you know off hand what we do in other place?

[2020-07-07 14:28] ywangd commented on #59149
Thanks @cbuescher
@original-brownbear This is a new failure after my fix, which fixed the old issue but led to this new one and seems to happen even more often now.

Btw, the exception excerpt is not relevant. Those were there even before my original change. It is a timeout issue. The relevant one is:
[code]

[2020-07-07 14:28] sebelga opened #59152 "[Composable template] Simulate error when index pattern matches existing template"
If we create a composable index template like this one

[code]

And then we do a simulation, using a matching index pattern

[code]

we get the following error

[code]

Which we should not receive as this is a simulation of the final composition.

[2020-07-07 14:53] dgrahn commented on #42326
@mayya-sharipova Is there an estimate on when these implementations will be available?

[2020-07-07 14:53] cbuescher opened #59157 "[CI] yaml=reference/licensing/get-license/line_47 failure"
**Build scan**:

https://gradle-enterprise.elastic.co/s/iqhh2uk2ya54o

**Repro line**:

[code]

**Reproduces locally?**:

No

**Failure history**:

Seems to happen irregularly over the last 60 days, haven't checked earlier.

https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-60d,mode:quick,to:now))&_a=(columns:!(_source),index:b646ed00-7efc-11

[2020-07-07 14:53] elasticmachine commented on #59157
Pinging @elastic/es-security (:Security/License)

[2020-07-07 15:05] original-brownbear commented on #59140
The initial issue reported here seems to be the result of a `SnapshotLifecycleStats` instance that is part of the current cluster state being mutated and thus failing the CS consistency checks.
The fix here is to make `SnapshotLifecycleStats` immutable as it is part of the cluster state. I don't really have time to handle this right away (don't know the SLM codebase well enough to quickly pull thi

[2020-07-07 15:08] cbuescher opened #59161 "[CI] Mixed cluster test failure in {p0=search.aggregation/70_adjacency_matrix/Filters intersections}"
**Build scan**:

https://gradle-enterprise.elastic.co/s/xak7n4chrigrw

**Repro line**:

[code]

**Reproduces locally?**:

Yes

**Applicable branches**:

Reproduces on 7.x, not sure which other branches are affected

**Failure excerpt**:

[code]

[2020-07-07 15:08] elasticmachine commented on #59161
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-07-07 15:13] polyfractal commented on #59161
@nik9000 think this might be a side-effect of https://github.com/elastic/elasticsearch/pull/59099 ?

[2020-07-07 15:15] original-brownbear commented on #59133
This is another instance of `WindowsFS` slowness causing waiting for green to time out. I'll open a PR to disable `WindowsFS` in these tests.

[2020-07-07 15:21] nik9000 commented on #57964
I wonder about ipv4 vs ipv6. One way to do it is to make folks specify the subnet mask in ipv6 cidr:

[code]

Then the response looks like:
[code]

But I think lots of folk still think in terms of `/24` getting you `192.0.2.128/24`.

[2020-07-07 15:33] polyfractal commented on #58926
So the gap policy stuff will be handled by the pipeline agg, depending on the value returned by the metric aggregator.  E.g. if a metric returns NaN (either because it's an "empty" metric and that's the placeholder, or because the value really was NaN), the pipeline infra will replace that with the selected gap_policy

We might need to make some changes though, since today I believe pipelines only

[2020-07-07 15:48] cbuescher commented on #55292
@tbrooks8 just saw something similar again today on 7.x, seeing that the PR is still "backport pending", just wanted to check if we should reopen this issue in the meantime or if the backport is imminent?

Failure: https://gradle-enterprise.elastic.co/s/p6pk2kwrvdztu
https://gradle-enterprise.elastic.co/s/p6pk2kwrvdztu/console-log?task=:server:test#L2881

[2020-07-07 15:51] tbrooks8 commented on #55292
I will back port it today. Thanks for the reminder.

[2020-07-07 16:08] martijnvg commented on #57968
We discussed this issue with a broader audience and think that the re-execution logic of pipeline should be limited:

* When a final pipeline is executed, it always should be the last pipeline being executed. Also the fact that a final pipeline can change the `_index` key during ingest is a bug, which needs to be addressed.
* If the request pipeline changes the `_index` then this changes the defau

[2020-07-07 16:18] nik9000 commented on #59161
Fixed by b99b2f1a08bd7e36072dd1186e3507300ee46089

[2020-07-07 16:18] #59161 closed

[2020-07-07 16:20] nik9000 commented on #58275
Yup, it did. I've marked it for review on our side. I'll see about reviewing it in a bit if no one else gets to it first.

[2020-07-07 16:24] P1llus opened #59169 "Empty error for specific if condition in ingest pipeline"
**Elasticsearch version** (`bin/elasticsearch --version`):

**Plugins installed**: []

**JVM version** (`java -version`):

**OS version** (`uname -a` if on a Unix-like system):

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

Please include a *minimal* but *complete* recreation of the problem,
including (e.g.) index creation, mappings, settings,

[2020-07-07 16:25] hmnichols commented on #58087
Security had earlier decided upon the term "exceptions" and "exception lists". The reason is it is misleading to users to tell them we are actually "allowing" something. For example, if we get a Palo Alto FireWall alert into the Security app and the user wants to "ignore" these, they may see "add to allow list" and think we are actually orchestrating the FireWall to unblock the IP address/URL. Wha

[2020-07-07 16:27] zuketo opened #59171 "[DOCS] Move bi-directional CCR blog to documentation"
The architecture described in [Bi-directional replication with Elasticsearch cross-cluster replication (CCR)](https://www.elastic.co/blog/bi-directional-replication-with-elasticsearch-cross-cluster-replication-ccr) is becoming a common CCR architecture.

To ensure the content is properly maintained, updates are made to the guide with new versions of Elasticsearch, and to improve discoverability of

[2020-07-07 16:27] elasticmachine commented on #59171
Pinging @elastic/es-docs (>docs)

[2020-07-07 16:27] elasticmachine commented on #59171
Pinging @elastic/es-distributed (:Distributed/CCR)

[2020-07-07 16:28] cbuescher opened #59172 "[CI] FollowersCheckerTests#testFailsNodeThatIsUnhealthy fails on master"
**Build scan**:
https://gradle-enterprise.elastic.co/s/uwmxo33dnzojo

**Repro line**:
[code]

**Reproduces locally?**:

Yes

**Failure excerpt**:

[code]

[2020-07-07 16:28] elasticmachine commented on #59172
Pinging @elastic/es-distributed (:Distributed/CCR)

[2020-07-07 16:32] P1llus opened #59173 "Drop event from Script Processor in Ingest Pipeline"
This issue is to track an ongoing discussion on allowing Script Processors to drop events similar to the Drop Processor by returning null.

This allows anyone to create complex validation on ingest, without having to rely on a second processor afterwards to drop the event.

[2020-07-07 16:34] elasticmachine commented on #59173
Pinging @elastic/es-core-infra (:Core/Infra/Scripting)

[2020-07-07 16:35] cbuescher opened #59174 "[CI] ClusterStatsNodesTests.testIngestStats failure on master"
**Build scan**:
https://gradle-enterprise.elastic.co/s/3rljbxcxeddxq

**Repro line**:
[code]

**Reproduces locally?**:

Yes

**Failure excerpt**:
[code]

[2020-07-07 16:35] elasticmachine commented on #59174
Pinging @elastic/es-core-features (:Core/Features/Stats)

[2020-07-07 16:36] cbuescher commented on #58627
Another one on 7.x: https://gradle-enterprise.elastic.co/s/ffu4hqpmethdw

[2020-07-07 16:42] rjernst commented on #59173
The drop processor implementation was made with scripting in mind, but unfortunately we lost track of the final change necessary to allow dropping a doc from a script. Internally, a processor takes in a document, and returns a document. If the return value is `null`, the document is dropped.

Currently, the IngestScript signature has a `void` return, so returning `null` is not possible. We need to

[2020-07-07 16:57] nik9000 commented on #29731
The rest api spec now says you can't leave this blank which looks correct.

[2020-07-07 16:57] #29731 closed

[2020-07-07 16:57] dnhatn commented on #39585
I think this is a bug in Lucene where we do not properly [close](https://github.com/apache/lucene-solr/blob/d3f4b21deb0056098e9e888a6b9d72e0bf2d0834/lucene/core/src/java/org/apache/lucene/store/NIOFSDirectory.java#L81-L82) a FileChannel if we failed to create an NIOFSIndexInput. I will work on a fix for this on Lucene.

[2020-07-07 17:24] dakrone commented on #58990
I opened a PR to fix this

[2020-07-07 17:36] elasticmachine commented on #58647
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-07-07 17:36] elasticmachine commented on #58647
Pinging @elastic/es-core-infra (:Core/Infra/Circuit Breakers)

[2020-07-07 18:04] nik9000 commented on #58647
I wonder if we should consolidate how we grab bytes from the breaker. Or if we should grab a big chunk whenever we grab any and then only come back when we need more. Sort of like a TLAB. For the most part `BigArrays` is designed to oversize its allocations so for big requests they amortize to happening infrequently. But for many small requests we grab breaker byte very frequently.

[2020-07-07 18:13] nik9000 commented on #58647
@hackerwin7 could you try running this against master or 7.x? Could you share the search and reproduction?

It looks like the search is a `terms` which contains another `terms` which contains a `sum`. I've cut down on the number of aggregator allocations in 7.x and master over at #56487. It may not help if the cardinality of the `sum` agg has is ultimately pretty low. The flame graph shows that th

[2020-07-07 18:32] rjernst commented on #59144
We've seen these problems before, and they seem squarely in the realm of infrastructure related. One possibility is our vagrant images being so out of date: https://github.com/aidanns/vagrant-reload/issues/4. Note that we have already removed support for opensuse-42 in master, but it would be good to get these stable since 7.x will live for quite a while longer. But I don't think there is anything

[2020-07-07 19:02] jaymode opened #59190 "Add Boolean#parseBoolean to forbidden-apis"
In #22200, existing boolean parsing was made strict so that:

However, usages of `Boolean.parseBoolean` have made their way into the codebase since then and the implementation of the JDKs boolean parsing logic is anything but strict as a string that is a case-insensitive match to `true` will be true and everything else will be false.

I think we should remove these usages of `Boolean.parseBoolean`

[2020-07-07 19:02] elasticmachine commented on #59190
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-07-07 19:33] #59131 closed

[2020-07-07 19:40] benwtrent commented on #37987
Another idea on this enhancement.

Sometimes it is necessary to "clone" a job on the same cluster, but KEEP The state. The scenario is:

- The cluster is aggressively cleaning up old data so relearning from scratch on old data is not possible.
- Something occurs on the current job that gets it to lockup or stop processing appropriately (some bug on our part)
- User needs to create a new job, but d

[2020-07-07 19:54] mayya-sharipova commented on #42326
@dgrahn  Thanks for checking it.  Since the development of ann search was moved to Open Source Lucene, there will not be any estimates. You can subscribe to watch the Lucene issues I mentioned above, and if there is some progress on them, you will be notified.

I am closing this issue on elasticsearch side.

[2020-07-07 20:37] dnhatn commented on #39585
I've opened https://github.com/apache/lucene-solr/pull/1658 to propose a fix in Lucene.

[2020-07-07 20:49] jrodewig opened #59194 "[Data streams] Get data stream API responds with placeholder template text"
**Elasticsearch version** (`bin/elasticsearch --version`): Latest `elasticsearch-8.0.0-SNAPSHOT-darwin-x86_64.tar.gz`

**Plugins installed**: []

**JVM version** (`java -version`):
openjdk version "14" 2020-03-17
OpenJDK Runtime Environment AdoptOpenJDK (build 14+36)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 14+36, mixed mode, sharing)

**OS version** (`uname -a` if on a Unix-like system):
Darw

[2020-07-07 20:49] elasticmachine commented on #59194
Pinging @elastic/es-core-features (:Core/Features/Data streams)

[2020-07-07 20:50] jrodewig commented on #59194
🤦  Testing error on my part. Closing.

[2020-07-07 20:50] #59194 closed

[2020-07-07 21:07] cjcenizal opened #59195 "Support custom metadata on Data Streams"
The intention behind this feature is to enable the UI to identify the data streams created by Ingest Manager. We'll need to implement a solution that allows index templates to define the metadata that is applied to the data streams that they create.

[2020-07-07 21:07] elasticmachine commented on #59195
Pinging @elastic/es-core-features (:Core/Features/Data streams)

[2020-07-07 21:25] rjernst commented on #59190
It is unfortunate we let this lapse; a lot of work went into removing uses of lenient boolean parsing. It looks like most of the uses added are in tests, although there appear to be a couple that are user facing. +1 to adding the method to forbidden apis to stop the bleeding.

[2020-07-07 21:45] tbrooks8 commented on #58627
Fixed by #59187.

[2020-07-07 21:45] #58627 closed

[2020-07-07 22:25] rjernst commented on #58756
@breskeby I agree it looks like Gradle flakiness. Going through a couple failures, I saw first this:

[code]

And then a separate failure of the same test:
[code]

Are testkit tests generally flaky? Is there a way they we can instruct them to "reuse" the outer build's dependency resolution to limit network flakiness based failures like the latter?

[2020-07-07 22:44] pierrecdn commented on #57964
Indeed, maybe an `ip_family` field has to be supported to disambiguate, because a mask alone doesn't make sense.

You probably mean 192.0.2.0/24, right?

[2020-07-07 23:02] jtibshirani commented on #55363
@javanna I was indeed wondering if we could make the behavior configurable, but don't have immediate plans to do so. It's always nice to avoid configuration options and have strong defaults.

I have also been on the fence about this, I can see arguments both ways. I suggest that we move forward with normalizing the values for now. I'm going to ask the teams planning to use this feature (SQL, ML, K

[2020-07-08 02:29] dnhatn commented on #59172
Another instance https://gradle-enterprise.elastic.co/s/6mksdzenq77hc/tests/:server:test/org.elasticsearch.cluster.coordination.FollowersCheckerTests/testFailsNodeThatIsUnhealthy#1

[2020-07-08 02:38] tvernum commented on #57968
Just to check: In the current proposal, if a default pipeline redirects to another index then the default pipeline on that new destination index would not be executed. Is that correct?

I do wonder whether that works for Ingest Manager - My understanding is that they use both default and final pipelines, and would want to rely on both being executed after routing to a new index.
Perhaps they could

[2020-07-08 03:16] hackerwin7 commented on #58647
@nik9000 Thanks for your reply.

we test it at 7.6.2, it seems that a high QPS of complicated of aggregations search (which maybe build many aggregators), the main cost is create Aggregator and the BigArrays.adjustBreaker(), in the end call ChildMemoryCircuitBreaker.limit().

reduce aggregator allocations maybe a way of reduce the race condition of `limit()` (loop set atomic value), I will test th

[2020-07-08 03:32] dnhatn commented on #53225
Fixed in https://github.com/elastic/elasticsearch/pull/59036.

[2020-07-08 03:32] #53225 closed

[2020-07-08 04:13] breskeby commented on #58756
I wouldn’t say TestKit Tests are generally flaky, but if they rely on third party dependencies resolved from External sources there’s a natural generell higher risk that Those get flaky. One thing we did at gradle where we had thousands of testkit based tests was to use a local cached folder as repository in those tests. That a) makes those tests more resiliiant against network issues and b) makes

[2020-07-08 05:26] DeeeFOX commented on #44556
This happened because of the enabled the Retry behavior or your Re-index actions defined in failure handler

[2020-07-08 05:27] Guruhbk opened #59207 "admin/shards/search_shard "disconnected""
**Elasticsearch version** (`bin/elasticsearch --version`):5.6.0

**Plugins installed**: []

**JVM version** (`java -version`):11

**OS version** (`uname -a` if on a Unix-like system): windows 12 server

**Description of the problem including expected versus actual behavior**:
I'm trying to hit the kibana URL in the browser. While doing that I'm getting **admin/shards/search_shard "disconnected"**

[2020-07-08 05:42] #59149 closed

[2020-07-08 07:02] danielmitterdorfer commented on #58647
I agree that the right approach is to reduce the number of calls to the circuit breaker instead of optimizing the circuit breaker's `#limit()` method which appears to be the bottleneck because of the high number of calls to it (2.6 million calls in the flame graph that you present).

I also think that the issue title mentioning a "[race condition](https://en.wikipedia.org/wiki/Race_condition#Softw

[2020-07-08 07:41] #58583 closed

[2020-07-08 07:41] #58956 closed

[2020-07-08 08:05] ypid-geberit commented on #34814
Is there any GitHub issue I can "watch" for current progress?

Compared to fully-featured monitoring systems, the watches fall short. Something like max_check_attempts is used for decades to control notification volume.

It seems not deterministic at which second the watch is scheduled. Is this correct? At least I checked two clusters and one schedules the watch "X-Pack Monitoring: Cluster Status"

[2020-07-08 08:13] martijnvg commented on #57968
Yes, that is the idea.

@ruflin Can you comment on whether the proposal works for ingest manager?

[2020-07-08 08:28] hendrikmuhs commented on #59061
Thanks for the issue,

I changed the title a bit to reflect that this is a performance issue.

The issue relates to #54254, which introduced an optimization for `data_histogram`. This optimization is only applied if time fields for `date_histogram` and `sync` are the same. It wasn't possible to generalize #54254 for different time fields.

The refactoring in PR #58744 however makes this possible,

[2020-07-08 08:57] sophiec20 commented on #37987
I can't easily think of a scenario where the reasons for the current job getting locked up would not also apply to the export/imported version.

Although I agree that we should explore other reasons for staying in the same cluster, such as moving from a shared results index to dedicated perhaps.

Also, I think we do need to be careful that this would not be (ab)used as a way to bootstrap a job - b

[2020-07-08 10:22] sqren opened #59211 "[ML] Enable performance tuning for `_ml/anomaly_detectors/<job_id>`"
APM is using the endpoint `GET _ml/anomaly_detectors/<job_id>` to determine if any job of a specific kind exists. We do that by matching on the job id:
[code]

Since we don't need the actual jobs, (we only need to know if any or none exists) it would be great to omit the results from being returned. Elasticsearch normally allows the user to tune the performance of a query with flags like `terminat

[2020-07-08 10:22] elasticmachine commented on #59211
Pinging @elastic/ml-core (:ml)

[2020-07-08 10:57] #59133 closed

[2020-07-08 11:27] benwtrent commented on #37987
I can, this is a real bug that occurred. The Java code threw an exception during `_flush` and we did not handle it correctly in the code. This did always happen, but there was NO way to recover from it without cloning + retraining.

[2020-07-08 11:57] original-brownbear commented on #59140
Fixing for the second failure mode in https://github.com/elastic/elasticsearch/issues/59140#issuecomment-654848563 is in #59218 , addressing the mutability of the CS is still open here though

[2020-07-08 12:54] #55154 closed

[2020-07-08 13:34] rtyley commented on #45015
As a workaround for this issue, we've experimented with writing out our array field (named `tags`) as `tag0`,`tag1` ,`tag2` ,`tag3`,...`tag19`, and rolling up on those 20 fields - so our rollup job definition now looks [like this](https://gist.github.com/rtyley/33c596cb4776c814a9602415cbc97fb3).

This does work, and is just about queryable by tag if we modify our search request, but it dramaticall

[2020-07-08 13:49] rtyley commented on #47876
I see that @polyfractal mentioned in https://github.com/elastic/elasticsearch/issues/45187 that Rollup _'saves all the metrics "in isolation" without seeing if a different metric provides the same value'_ and that the situation could be improved.

Here's an example where we're seeing the same count mentioned over and over again, and take up almost 50% of rolled-up document size:

[code]

[2020-07-08 13:59] chrisronline commented on #34814
@ypid-geberit Thanks for your feedback.

This would be a good ticket to add this feedback: https://github.com/elastic/kibana/issues/42960

We have an [outstanding PR](https://github.com/elastic/kibana/pull/68805) to change the underlying technology powering the alerts and as a result, we will have full control over the alert definition and execution within Kibana. Unfortunately, we are not able to

[2020-07-08 14:03] polyfractal commented on #47876
As an aside, this is something that should be drastically improved in the Rollup V2 refactor we're working on.  We're introducing a [dedicated "doc_count" field mapper](https://github.com/elastic/elasticsearch/pull/58339) which will store the count for the whole doc instead of duplicating it repeatedly like you see with v1

[2020-07-08 14:28] tbrooks8 commented on #59116
Currently in Elasticsearch the primary mechanism of indexing back pressure is the write queue size. This does not relate effectively to the amount of work outstanding as the bulk shard requests can vary in size significantly inside the queue. Additionally, once the act of "indexing" is complete, the work moves to async coordination work. This means that the request no longer contributes to back pr

[2020-07-08 14:59] #58990 closed

[2020-07-08 15:03] original-brownbear opened #59233 "Add an API to track Restore Progress"
There has been an ask from various places to have an API for monitoring snapshot restore progress.

What is desired above what the cat recoveries API provides at the moment is:
* Provide percentage progress on running restores
* Give a view that maps restore operations to their currently restoring shards
* Have some ability to check the status of an already completed restore? (i.e. check whether a

[2020-07-08 15:03] elasticmachine commented on #59233
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-07-08 15:43] markharwood opened #59235 "Search - expose new Lucene option for case insensitive RegExp queries"
[Lucene 9386](https://issues.apache.org/jira/projects/LUCENE/issues/LUCENE-9386) introduced an option for case insensitive matching of RegExp queries. This issue is to expose that capability to elasticsearch users.

One complexity with the feature is that it currently only supports ASCII characters and full support for Unicode has been left as a TODO. Rather than being a simple Boolean flag (eg ca

[2020-07-08 15:43] elasticmachine commented on #59235
Pinging @elastic/es-search (:Search/Search)

[2020-07-08 15:51] nknize commented on #36439
This is definitely something we want to be able to support in the future as it adds value to Geo SQL. There are still quite a few dependencies and unknowns, however, that need to be addressed before we can begin listing out and planning those `ST_` functions we want to / can support:
1. `geo_shape` doc values is now supported, but we don't yet have a way of recreating the shape to begin computing

[2020-07-08 15:59] nknize commented on #40085
Fixed as of Lucene 8.4 release.

[2020-07-08 15:59] #40085 closed

[2020-07-08 16:32] imotov commented on #11728
We discussed the issue and we would like to start sending warnings to users if `_value` is not present in the value script. It should be possible after #53702 is implemented and we can add a compiler pass to check if `_value` is present.

[2020-07-08 17:24] #39585 closed

[2020-07-08 18:15] dakrone opened #59245 "TransportClientIT testNodeVersionIsUpdated fails on 7.x with unknown setting 'indices.recovery.chunk_size'"
**Build scan**:
https://gradle-enterprise.elastic.co/s/eevzsq4ahk2n2

**Repro line**:
[code]

**Reproduces locally?**:
Yep

**Applicable branches**:
7.x

**Failure history**:
This failed in a PR build of mine and then reproduced

**Failure excerpt**:

[code]

[2020-07-08 18:15] elasticmachine commented on #59245
Pinging @elastic/es-distributed (:Distributed/Recovery)

[2020-07-08 20:09] hub-cap opened #59249 "testXPackInfo fails on master release test with failed to find action [ActionType [cluster:monitor/xpack/info/searchable_snapshots]"
**Build scan**:
https://gradle-enterprise.elastic.co/s/bg4ywzzriucnu/tests/:client:rest-high-level:asyncIntegTestRunner/org.elasticsearch.client.documentation.MiscellaneousDocumentationIT/testXPackInfo#1
**Repro line**:
[code]
**Reproduces locally?**:
yes
**Applicable branches**:
master
**Failure history**:
This has been failing reliably in release builds since the 6th.
**Failure excerpt**:
This l

[2020-07-08 20:09] elasticmachine commented on #59249
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-07-08 20:19] dnhatn commented on #59245
Addressed in https://github.com/elastic/elasticsearch/commit/e50a0330ec835b8b218cd99933c5182dd24e784f

[2020-07-08 20:19] #59245 closed

[2020-07-08 20:21] dimitris-athanasiou commented on #59148
I stumbled on this one too. I'll pick it up if you don't mind @przemekwitek.

[2020-07-08 20:24] dakrone commented on #58807
Fixed in #59242

[2020-07-08 20:24] dakrone commented on #58258
Fixed in #59242

[2020-07-08 20:24] #58258 closed

[2020-07-08 20:30] jasontedor opened #59251 "Document the execution of ingest pipelines"
There are two aspects of ingest pipeline execution that are not well documented today.

First, at the node level, how are ingest pipelines executed if the local node has the ingest role versus if it does not (as far as I can tell, we don't document round robin selection anywhere in the docs).

Second, at the pipeline level, we should document the execution flow. For example, conditional execution

[2020-07-08 20:30] elasticmachine commented on #59251
Pinging @elastic/es-core-features (:Core/Features/Ingest)

[2020-07-08 20:39] hub-cap opened #59252 "FsHealthServiceTests » testLoggingOnHungIO fails on windows builds"
**Build scan**:
https://gradle-enterprise.elastic.co/s/hpdyjffydv7om
**Repro line**:
[code]
**Reproduces locally?**:
Windows, so unknown
**Applicable branches**:
master
**Failure history**:

This has been happening for a few days now

https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-30d,mode:quick,to:now))&_a=(columns:!(_source),index:e58bf3

[2020-07-08 20:46] not-napoleon opened #59255 "Deprecate Date & Numeric aggregations over Boolean fields"
Currently, a quirk of how we coerce types allows for running Date and Numeric aggregations (e.g. DateHistogram and Histogram) over boolean field types.  This will coerce the boolean into a number, which will be either zero or one, and then in the case of a date aggregation, treat that number as milliseconds since epoch for the date aggregation.  This is almost definitely not a desirable behavior.

[2020-07-08 20:46] elasticmachine commented on #59255
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-07-08 20:49] elasticmachine commented on #59252
Pinging @elastic/es-core-infra (:Core/Infra/Resiliency)

[2020-07-08 20:49] hub-cap commented on #59252
ping @DaveCTurner as this might be related to #52680

[2020-07-08 21:03] #30841 closed

[2020-07-08 22:27] rjernst commented on #59147
This should be fixed by https://github.com/elastic/elasticsearch/pull/59257

[2020-07-08 22:27] #59147 closed

[2020-07-08 23:13] mark-vieira commented on #56722
Ok, with some tinkering I was able to get a green build of the current integration test suite against a shadowjar with relocated `org.elasticsearch` packages.

https://gradle-enterprise.elastic.co/s/3cutzwlvii6lq/tests

I'll move on to testing this against similarly configured BWC branch as well.

[2020-07-08 23:31] oridool opened #59261 "High Level Rest Client throws SocketTimeoutException after being idle for sometime"
**Elasticsearch version** (`bin/elasticsearch --version`):
7.6

**JVM version** (`java -version`):
openjdk 11.0.6 2020-01-14 LTS

**OS version** (`uname -a` if on a Unix-like system):
Centos 7 Linux localhost.localdomain 3.10.0-957.21.3.el7.x86_64

**Description of the problem including expected versus actual behavior**:
Using latest SpringBoot 2.3 and Java HLRC,
after client being idle for some t

[2020-07-08 23:42] mark-vieira commented on #56722
Here we are folks. This is a successful run of building the 7.8.1 JDBC driver (with relocated shadowed dependencies) again a 7.9 Elasticsearch cluster.

https://gradle-enterprise.elastic.co/s/sqjzlft75tx42/tests

Since this approach seems to be ok I'll move forward with getting the necessary changes made in the 7.8 branch and forward. I'd also highly suggest we expand the existing test suite to al

[2020-07-08 23:57] tbrooks8 opened #59263 "Improve Indexing Back pressure"
Currently indexing back pressure is limited to the size of the write queue. This does not effectively reflect the amount of outstanding indexing work for a node.

- [ ] Add metrics about outstanding indexing request bytes at the coordinating, primary, and replica levels (bulk shard, bulk operations, resync, etc)
- [ ] Use metrics to reject new operations when too many bytes are outstanding
- [ ] E

[2020-07-08 23:57] elasticmachine commented on #59263
Pinging @elastic/es-distributed (:Distributed/CRUD)

[2020-07-09 04:05] MuthiahPrabhakaran opened #59271 "Kibana 7.8.0 is not starting with errors in Windows 10"
Hi,

I have downloaded ES 7.8.0 and Kibana 7.8.0 for Windows. ES is starting without an issue. But Kibana is starting with error and when I access Kibana in localhost, It shows "Select your space. You can change your space at anytime. No spaces match search criteria".

**JVM Details:**
java version "1.8.0_161"
Java(TM) SE Runtime Environment (build 1.8.0_161-b12)
Java HotSpot(TM) 64-Bit Server VM

[2020-07-09 04:07] #59271 closed

[2020-07-09 04:08] MuthiahPrabhakaran commented on #59271
Raising the same with Kibana project

[2020-07-09 05:46] #58245 closed

[2020-07-09 06:03] danielmitterdorfer commented on #39591
We hit the same issue as the one identified by @dimitris-athanasiou again:

* [build scan](https://gradle-enterprise.elastic.co/s/todaxth2do53o)
* [build](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+matrix-java-periodic/ES_RUNTIME_JAVA=zulu11,nodes=general-purpose/87/console)

[code]

[code]

To me this seems like a different issue though as it is about an error that happens

[2020-07-09 06:14] danielmitterdorfer opened #59273 "IndexFollowingIT#testFollowIndexWithConcurrentMappingChanges fails"
**Build scan**: https://gradle-enterprise.elastic.co/s/7zvpy3v4eu3ok

**Repro line**:

[code]

**Reproduces locally?**: no

**Applicable branches**:

* `master`
* `7.x`

**Failure history**: Failed [8 times within the last 6 months](https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-6M,mode:quick,to:now))&_a=(columns:!(_source),index:e58bf320-

[2020-07-09 06:14] elasticmachine commented on #59273
Pinging @elastic/es-distributed (:Distributed/CCR)

[2020-07-09 06:22] #57950 closed

[2020-07-09 06:34] #58936 closed

[2020-07-09 06:38] getsaurabh02 commented on #59116
Thank you @tbrooks8 for detailed explanation.

My concern with separate memory limit accounting for primary and replica shards : If I have understood the linked PR changes correctly, primary write operation on a node checks for total write limit *(primary + replica)*, while replica operation considers only replica write limit *(1.5 times)*. For nodes with varying shard allocation, this might end u

[2020-07-09 07:14] przemekwitek commented on #59148
Sure, go ahead @dimitris-athanasiou. Thanks!

[2020-07-09 07:22] getsaurabh02 commented on #34897
Hi @DaveCTurner replying back and requesting opening this thread again to get some more thoughts. We have seen instances where master node gets overwhelmed with too many *(periodic)* health requests being delegated to it from data nodes (without ```local=true```), typically in a large cluster, resulting into steep JVM spikes and causing master duress. This is more apparent when the master node is

[2020-07-09 07:30] #59249 closed

[2020-07-09 07:38] DaveCTurner commented on #34897
Repeating my previous message, health requests should be pretty cheap, can you analyse this in more detail so we can understand better how and why it's struggling?

[2020-07-09 07:50] Surt commented on #23492
Can't do it either. Any tip to make highlight work with function score?

[2020-07-09 08:05] danielmitterdorfer commented on #58807
We just had [another build](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+7.x+multijob-unix-compatibility/os=debian-9&&immutable/87/) ([build scan](https://gradle-enterprise.elastic.co/s/2urbo4eaoudwu)) which included the fix in https://github.com/elastic/elasticsearch/pull/59242, fail with the following error:

[code]

The reproduction line:

[code]

did not reproduce locally.

I

[2020-07-09 08:23] svobom57 commented on #34656
I experienced a similar issue while running this script:
[code]
on AWS multi-node cluster 2 out of 3 nodes would be returning an error saying:
`"can not write type [class java.math.BigDecimal]"`.

This wasn't happening locally on a single node cluster.

The issue was mitigated by using `.floatValue()` on the last line of the script:
[code]

We're running ElasticSearch `7.1` on AWS.

[2020-07-09 08:53] #59148 closed

[2020-07-09 09:29] danielmitterdorfer opened #59284 "Test failure for :qa:mixed-cluster:v7.0.0#mixedClusterTest"
**Build scan**: https://gradle-enterprise.elastic.co/s/nvus6pdwrc5wy

**Repro line**: none provided by the build but the CI build has executed the following command:

[code]

**Reproduces locally?**: no

**Applicable branches**: `7.x`

**Failure history**: Only noticed this once so far.

**Failure excerpt**:

The test starts four nodes: `v7.0.0-0`, `v7.0.0-1`, `v7.0.0-2` and `v7.0.0-3` and fails w

[2020-07-09 09:29] elasticmachine commented on #59284
Pinging @elastic/es-core-infra (:Core/Infra/Core)

[2020-07-09 09:36] elasticmachine commented on #59261
Pinging @elastic/es-core-features (:Core/Features/Java High Level REST Client)

[2020-07-09 09:41] elasticmachine commented on #59110
Pinging @elastic/es-search (:Search/Search)

[2020-07-09 09:45] DaveCTurner commented on #59110
@casertap does this also happen with a `max` that not a multiple of 8, e.g. `7` or `29`? I'm wondering if your `created_at` field contains dates that are all multiples of 8 so they all land in the first bucket. For instance, they might all be rounded to the nearest second but represented in milliseconds so they're all divisible by 1000.

[2020-07-09 09:47] javanna commented on #48058
The idea of a header was brought up to signal slowness in this issue. Would the header be returned by search directly? Now that async search is available, we can better support slow queries. Users are notified when slow queries are moved to the background and they get partial aggregation results through get async search API. That is why I wonder if such a header to signal slowness would still be u

[2020-07-09 09:50] elasticmachine commented on #59169
Pinging @elastic/es-core-features (:Core/Features/Ingest)

[2020-07-09 09:51] elasticmachine commented on #59152
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-07-09 09:52] DaveCTurner commented on #59152
@sebelga did you mean to assign `@leehinman` here? Seems likely you meant `@dakrone` instead.

[2020-07-09 09:55] DaveCTurner commented on #59207
This sounds like an issue with your network rather than an Elasticsearch bug so I am closing this. Additionally, 5.6.0 is well over a year past the [end of its supported life](https://www.elastic.co/support/eol). It's possible that some on the [community forums](https://discuss.elastic.co) can help you investigate this further.

[2020-07-09 09:55] #59207 closed

[2020-07-09 10:36] danielmitterdorfer opened #59287 "SearchableSnapshotsIntegTests#testMaxRestoreBytesPerSecIsUsed fails"
**Build scan**: https://gradle-enterprise.elastic.co/s/ms5gfdp45aeng

**Repro line**:

[code]

**Reproduces locally?**: no

**Applicable branches**: `7.8`, `7.x`, `master`

**Failure history**: Happened [seven times in the last six months](https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-6M,mode:quick,to:now))&_a=(columns:!(branch),index:e58

[2020-07-09 10:36] elasticmachine commented on #59287
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-07-09 10:40] droberts195 commented on #59211
Other Elasticsearch endpoints that return metadata objects don't have such detailed performance options.  For example [get users](https://www.elastic.co/guide/en/elasticsearch/reference/current/security-api-get-user.html) doesn't.  It's an implementation detail whether users are stored in an index or elsewhere, and similarly it's an implementation detail whether ML jobs are stored in an index or e

[2020-07-09 11:05] danhermann commented on #59169
@P1llus, can you provide a full pipeline definition and repro case? It's not clear from the description above how this relates to if conditions.

[2020-07-09 11:14] danielmitterdorfer commented on #59172
Another instance in https://gradle-enterprise.elastic.co/s/lb6poefv2wphw.

[2020-07-09 11:28] casertap commented on #59110
Thanks @DaveCTurner for your response.

I ran a few experiments to try to debug this.

Each of the following queries creates a slice with `id: 0` and then with `id: 1`.

Remove the `field` from slice creation to use the default _id (eg. vst_3497636_all, vst_2373825_all, ... ) (keep max: 8 size: 1000)
[code]

Try `max: 7` slices with `size: 999` on `_id`
[code]

Try an integer timestamp field `crea

[2020-07-09 11:39] casertap commented on #59110
Sorry my local index had now only 9500 documents. Let me add more documents, I will run a `/_cat/shards` and let you know if any of the previous queries worked better

[2020-07-09 11:45] #59172 closed

[2020-07-09 11:45] #59252 closed

[2020-07-09 11:46] sqren commented on #59211
As far as I can see there is no endpoint for searching users by particular properties like you can with the ML jobs api. For users there's an endpoint that returns all users but without filtering.

I think part of the problem is that while each of the user endpoints only does one thing the ML endpoint does four things:
 - lookup a single job by id
 - search for jobs by id
 - lookup a single job by

[2020-07-09 12:00] casertap commented on #59110
My local index had so few documents, most of the documents where saved in 1 shard

I tried a bigger index and got some better results
7
[code]
8
[code]
Thanks for your help

[2020-07-09 12:00] #59110 closed

[2020-07-09 12:02] ph commented on #57968
@martijnvg Looking at your proposal I think this makes sense. @andresrc and @exekias do this still work in the routing idea? I think so.

[2020-07-09 12:04] costin opened #59294 "EQL: integration test should create different tests for case sensitivity instead of dual running"
Currently when a test has no case sensitivity specified, the integration test runs the test twice. This is problematic because from the framework perspective, there is only one test run.
It is not counted appropriately and also in case of failure, cannot be ran separately making diagnostics a pain.

As such, when creating the test from specs, when no case sensitivity is specified, two different sp

[2020-07-09 12:04] elasticmachine commented on #59294
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-07-09 12:31] danielmitterdorfer opened #59297 "DocsClientYamlTestSuiteIT times out"
_Note: We had raised such an issue earlier already (https://github.com/elastic/elasticsearch/issues/49753) but I felt a new issue is warranted_

While we did not see any timeouts for a while they have come back in recent months so I wanted to raise this issue for us to keep track of these. Here is a time series of the last five months (https://github.com/elastic/elasticsearch/issues/49753 has been

[2020-07-09 12:31] elasticmachine commented on #59297
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-07-09 12:37] droberts195 commented on #59297
I think this is #58286.  The parallelism was increased on the macOS workers and they cannot cope with it so various suites time out.  It's not just the docs tests.  Any of the test suites that start up external clusters and run a lot of tests can be affected.

[2020-07-09 12:57] zzujustme opened #59301 "Java High Level REST Client is slow than kibana very much"
es version:6.6.0

i search by kibana cost 600ms,but search by rest high level rest client cost 10s!

[2020-07-09 12:59] dadoonet commented on #59301
Could you open a discussion on discuss.elastic.co and share the exact query you are running on Kibana and the exact code you are running using Java?

[2020-07-09 13:53] jpountz commented on #48058
I think it's useful in the sense that we could let the user know _why_ the query is slow, and not only that it is slow. But I don't have a preference regarding whether we should use response headers or rather add this information to field caps.

[2020-07-09 14:04] danielmitterdorfer commented on #59297
Thanks for the pointer @droberts195! IMHO there is no point having multiple issues for the same underlying cause. I'll close this one then.

[2020-07-09 14:04] #59297 closed

[2020-07-09 14:42] mikecote opened #59304 "Ability to clone granted API keys"
The [grant API key API](https://github.com/elastic/elasticsearch/pull/52886) works for scenarios that have a user’s password or access token. This is ideal for Kibana alerting which grants API keys on behalf of other users.

However once an API key is granted, it can’t be cloned or used to grant another API key because the API doesn’t support a `grant_type` of API key.

Would it be possible to all

[2020-07-09 14:42] elasticmachine commented on #59304
Pinging @elastic/es-security (:Security/Authentication)

[2020-07-09 14:55] costin commented on #49594
Until support introduced through #59292
Maxspan addressed through #58635

[2020-07-09 14:56] dakrone commented on #59152
I was wondering why I never got the assignment for this... :smile:

[2020-07-09 15:00] erickmp07 commented on #53282
Can I?

[2020-07-09 15:06] exekias commented on #51341
ey @jpountz is there any update on this?

[2020-07-09 16:24] P1llus commented on #59169
Hello @danhermann Sorry the title was a bit misleading, it was actually about Script Processors and not conditions. This is an issue that was discussed on slack with @rjernst .

The issue is that on script execution, if the script fails to compile or run, it normally returns an error message, but this specific situation trying to run a method of a null value (ZonedDateTime.parse(null), will return

[2020-07-09 16:43] IvanBoyko commented on #54415
In our case it seemed to be the swap, so switching it off with `sudo swapoff -a` immediately stoped the warnings.
However, we are ES 6.8.10 on Ubuntu 18.04 (didn't see this on ES 6.8.7)

[2020-07-09 18:25] nik9000 commented on #57964
Yeah. Sorry.

If only IPv6's mask had a different format or something to make it obvious.

[2020-07-09 18:34] benwtrent opened #59327 "[ML] Add new feature_processing field to Data frame analytics config"
Data frame analytics jobs should handle a new configuration field called `feature_processing`.

This field will be an array of `PreProcessor` objects.

Requirements:

- `feature_processing` array gets serialized as a parameter to the analysis native process
- include/exclude works with custom fields.
   - excluded fields can STILL be used in a feature_processing processor.
   - a feature_processin

[2020-07-09 18:34] elasticmachine commented on #59327
Pinging @elastic/ml-core (:ml)

[2020-07-09 18:36] benwtrent opened #59328 "[ML] Add new `created_by` field to PreProcessor objects"
To support user provided feature_processing PreProcessor objects should indicate who created them.

By default this is `_xpack` to indicate that they were created automatically.

If the object is provided via the data frame analytics configuration, the `created_by` field should be `user`.

[2020-07-09 18:36] elasticmachine commented on #59328
Pinging @elastic/ml-core (:ml)

[2020-07-09 18:39] benwtrent opened #59330 "[ML] Java feature importance should not collapse `user` created fields"
When calculating feature importance, field importances are summed up are collapsed to their original input field.

Example:
`foo` is `target_mean` encoded to `foo_target_mean` and `foo_bar` automatically. Then we calculate the importance for `foo` by summing the importances of `foo_target_mean` and  `foo_bar`

For automatically generated encoding, this makes sense. But if the user has injected dom

[2020-07-09 19:11] javanna opened #59332 "Add support for runtime fields"
### Runtime fields

We would like to increase the flexibility of the search API by introducing support for runtime fields.

Runtime fields are not indexed and do not have doc_values, meaning Lucene is completely unaware of them, but they are consumed through the field capabilities API and the search API like any ordinary field. It is possible to retrieve them as well as query them, aggregate and s

[2020-07-09 19:11] elasticmachine commented on #59332
Pinging @elastic/es-search (:Search/Search)

[2020-07-09 19:16] SHolzhauer opened #59333 "cross cluster snapshot restore - s3 repository path error"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.8.0

**Description of the problem including expected versus actual behavior**:
Registering an S3 snapshot repository in two clusters, but in one with a trailing forward slash ("/") results in the snapshots
from the one without a trailing slash showing up in the second cluster but not being able to restore them.

**Steps to reproduce**:

[2020-07-09 19:19] javanna commented on #48059
We are going to introduce support for runtime fields. The first implementation of them is going to be scripted runtime fields, which will address exactly the limitations mentioned in this issue, hence I am closing this in favour of #59332 .

[2020-07-09 19:19] #48059 closed

[2020-07-09 19:25] javanna commented on #52840
Closing this in favour of #59332 which covers adding support for runtime fields.

[2020-07-09 19:25] #52840 closed

[2020-07-09 19:37] elasticmachine commented on #59169
Pinging @elastic/es-core-infra (:Core/Infra/Scripting)

[2020-07-09 19:38] #59103 closed

[2020-07-09 19:58] erickmp07 commented on #53282
I opened a PR (#59335) that implements this feature.

[2020-07-09 21:34] #50152 closed

[2020-07-09 22:38] EricDavisX opened #59346 "ES can't start on latest cloud 8.0 snapshot deploy"
Run the cloud deploy of 8.0 latest as of today (new snapshot available around 4PM)

**Plugins installed**: []
use all defaults

verified on multiple cloud regions and providers

**Description of the problem including expected versus actual behavior**:
see logs attached.

**Steps to reproduce**:
deploy to cloud - see that Kibana never comes up.  get logs and see that ES seems to have problems?  I m

[2020-07-09 22:49] EricDavisX commented on #59346
the snapshot was built this AM, from this job:
https://internal-ci.elastic.co/view/All/job/elastic+release-manager+master+unified-snapshot/518/
518 - master - 8.0.0-28d950ce

[2020-07-09 23:07] tylersmalley commented on #59346
This error is being addressed here: https://github.com/elastic/kibana/pull/71343

From the logs it's the same error as we are seeing with our snapshot build:

[code]

Kibana has `index: false` on a binary field type. From the docs it seems like this is unnecessary but wasn't something that resulted in an exception prior to today.

We will handle this from the Kibana side and open an Elasticsearch

[2020-07-10 03:25] PengYi-Elastic opened #59348 "Match query parser doesn't have expected number of token with length filter"
**Elasticsearch version** (`bin/elasticsearch --version`): 7.7

**Plugins installed**: [analysis-kuromoji]

**Description of the problem including expected versus actual behavior**:
When min length is set to 2 for length filter, I found there will be some cases which can not be highlighted properly. After taking a further look, seems _analyze call of query and query validate call give different to

[2020-07-10 03:25] elasticmachine commented on #59348
Pinging @elastic/es-search (:Search/Analysis)

[2020-07-10 07:21] sargisaleksanyan opened #59351 "Elasticsearch 7.8.0 . When setting "fuzziness":0 highlight does not return any results ."
As already mentioned bug exists in https://github.com/elastic/elasticsearch/issues/45373  7.3.0 , still encounter the same problem .But when set fuzziness any other value or do not set fuzziness highlight works perfectly*
[code]

[2020-07-10 09:23] ajvenkatesh4228 opened #59352 "Security.Permissions Exceptions in Elastic.Net.ConnectionConfiguration in wcf dot net applications"
Hi Folks,

Hope, anyone helps on this to get an answer for this : I am working in a wcf dot net applications - I am logging in elastic search, it works in my local windows 10 machine, when hosting the wcf application in windows server in IIS, when I tried to logging the logs in elastic search, my wcf dot net code gives following errors "The type initilaizer for elasticsearch.net.connectionconfigur

[2020-07-10 09:34] immavalls commented on #49072
@polyfractal @DaveCTurner Can we resume work on this on our side? @fabiocorneti was not able to open the PR. Thanks!

[2020-07-10 09:37] peterpramb opened #59353 "[Docs] Missing password for 'kibana_system' after update to 7.8"
**Elasticsearch version** (`bin/elasticsearch --version`):
`Version: 7.8.0, Build: default/tar/757314695644ea9a1dc2fecd26d1a43856725e65/2020-06-14T19:35:50.234439Z, JVM: 11.0.7`

**JVM version** (`java -version`):
`OpenJDK 64-Bit Server VM AdoptOpenJDK (build 11.0.7+10, mixed mode)`

**OS version** (`uname -a` if on a Unix-like system):
`Linux 3.10.0-1127.el7.x86_64 #1 SMP Tue Feb 18 16:39:12 EST

[2020-07-10 09:48] binu-r commented on #58922
@astefan Shall I work on this?

[2020-07-10 11:16] sargisaleksanyan commented on #45373
When I set    "highlight" : {
        "fields" : {
            "filed1" : {"type":"plain"}
        }
    }
it works

[2020-07-10 11:23] simone-smith commented on #48003
Will there be an ILM phase for deleting old data in a rollup index? We would like to have two years worth of data in a rollup index but don't need to keep it for any longer than that. Do you have any recommendations for making sure that the index size doesn't grow indefinitely?

[2020-07-10 12:55] elasticmachine commented on #59333
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-07-10 13:01] original-brownbear commented on #59333
Right, this is a real issue but very hard to solve cleanly. We actually have tests for this even I think, but since the slashes behave differently on real AWS S3 and Minio we didn't catch this apparently (on Minio they behave like actual path separators but on AWS S3 technically each `/` in a path is just another char like any other ... except for when we do the listing). There's a bit of an iffy

[2020-07-10 14:12] romseygeek opened #59359 "Parametrized mapper should not fail on silently unsupported parameters"
#58663 converted the boolean and binary field mappers to a new format, but in the process removed support for the previously silently ignored `index` parameter.  This breaks existing mappings in 7.9.  We should instead issue a warning when we detect those parameters on indexes created before 8x, and only fail on indexes created afterwards.

[2020-07-10 14:12] elasticmachine commented on #59359
Pinging @elastic/es-search (:Search/Mapping)

[2020-07-10 14:26] SHolzhauer commented on #59333
@original-brownbear I wasn't aware of Minio, one of the things I think that should be done at a minimum is document a warning/info in the docs? Atleast people can know this withouth accidently finding out.

On the road ahead, might I suggest a third step?
7.x deprecation
8.0 remove trailing `/` for new repo registration -> only do so in the registration process
8.x/9.0 remove trailing `/` everywhe

[2020-07-10 15:32] luispollo commented on #21185
Piling on here... I ran into this issue during a migration from ES 2.x to 6.x, and was unable to complete the reindexing process even with a batch size of `1`. I know it's ridiculous to have a document that large in the index, but that's another discussion.

If nothing else, I'd suggest adjusting this bit of the docs:

The word "defaults" there is misleading, since there's no way to configure/over

[2020-07-10 15:38] fabiocorneti commented on #49072
Hi there, sorry for the delay, I opened PR #59360  with a test case for this issue and the check.

[2020-07-10 17:19] getkub opened #59362 "Enrichment/Lookup functionality for ElasticSearch and/or Kibana"

[2020-07-10 22:31] tbrooks8 commented on #59116
@getsaurabh02 If there are specific benchmarks that you think would provide useful information to this work feel free to share.

As I said this work in in-progress. Some of the potentially more advanced components (primaries being aware of the state of replicas, coordinating nodes being aware of primaries, etc) are definitely a ways off and will need more exploration.

Rejections happen prior to e

[2020-07-11 01:23] scampi opened #59367 "Incorrect handling of alias filter in SearchService#canMatch"
With #55090 the `canMatch` handles alias filter. However, after porting some internal tests to Elasticsearch 7.8, it came out that tests I proposed in #55120 didn't properly check that.
Indeed, the condition on the alias filter should be done after the request is rewritten.

[2020-07-11 06:39] ShirishPatel opened #59369 "Service not starting after uninstalling 7.3.1 and installing 7.8.0"
Spend hours trying to
1. uninstall
2. install
3. start elasticsearch service ( but stopping immediately )
4. giving full Read/Write permissions to Network Service + Service + Users for all folders in C:\ProgramData\Elastic + C:\Program Files\Elastic\Elasticsearch\7.8.0
5. Checked the JAVA_HOME Env
6. Checked the JRE_HOME Env etc...
7. Restarting the server
etc.. etc... etc...

Installed the old ve

[2020-07-11 08:48] huazai023 commented on #43412
I've avoided this problem in other ways, and elastic can fix this bug as soon as possible

---Original---
From: "yzg"<notifications@github.com&gt;
Date: Tue, Jul 7, 2020 08:59 AM
To: "elastic/elasticsearch"<elasticsearch@noreply.github.com&gt;;
Cc: "huazai023"<541597783@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
Subject: Re: [elastic/elasticsearch] Highlight exceptions when field type is a

[2020-07-13 05:12] sgurusharan commented on #20135
Voting for this feature as well. Apart from keeping the update apis consistent plus there are perfectly valid use cases for the same.

[2020-07-13 08:27] davidkyle opened #59380 "FsHealthServiceTests testFailsHealthOnIOException on Windows"
**Build scan**:
https://gradle-enterprise.elastic.co/s/schg2cx7kb3ja
https://gradle-enterprise.elastic.co/s/avmtx56geouvy
https://gradle-enterprise.elastic.co/s/kkawj75b45nzc

**Repro line**:
[code]

**Reproduces locally?**:
Unknown, Windows innit

**Applicable branches**:
Master, 7.x

**Failure history**:
Regularly

https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t

[2020-07-13 08:27] elasticmachine commented on #59380
Pinging @elastic/es-core-infra (:Core/Infra/Resiliency)

[2020-07-13 08:28] sebelga commented on #59152
Isn't `@leehinman` Lee Hinman? @dakrone ? 😄

[2020-07-13 08:41] DaveCTurner commented on #59333
We discussed this previously in https://github.com/elastic/elasticsearch/pull/46869 and I think that's still the right position: repos might exist for a very long time, and that the semantics of repeated `/` characters in S3 paths is implementation-defined, so we can't reliably fix the path configuration as proposed.

I think there's scope to improve _something_ given the OP's problem description,

[2020-07-13 08:43] elasticmachine commented on #59380
Pinging @elastic/es-distributed (:Distributed/Cluster Coordination)

[2020-07-13 08:46] bpintea commented on #57668
@matriv, the issue doesn't reproduce for me neither in master, nor in 7.8.
Might have been fixed after reporting, but not sure if id'ing the fix and backporting to a pre 7.8 version would make sense anyways. So wanted to 2x check if closing it is OK.

[2020-07-13 08:50] davidkyle commented on #59380
Muted on master: ef8b414ff86cd6de55987bb2630d6885520b05a9 and 7.x: 7dcd943e1d99798aa848b618d70da19473b25cbe

[2020-07-13 08:59] elasticmachine commented on #59367
Pinging @elastic/es-search (:Search/Search)

[2020-07-13 09:12] davidkyle opened #59384 "SnapshotResiliencyTests testSnapshotWithNodeDisconnects and testSnapshotPrimaryRelocations failures"
**Build scan**:
https://gradle-enterprise.elastic.co/s/puwxv532d7p5u

**Repro line**:
[code]

**Reproduces locally?**:
Yes 😲

**Applicable branches**:
Master

**Failure history**:
Once or twice a day since 08/07/2020

https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-7d,mode:quick,to:now))&_a=(columns:!(branch,class,stacktrace),index:e58bf320

[2020-07-13 09:12] elasticmachine commented on #59384
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-07-13 09:17] outsideMyBox opened #59386 "Geo_shape: False positives when the polygon has aligned points"
**Elasticsearch version** (`bin/elasticsearch --version`):
6.2.3 and 7.7.0

**Plugins installed**: []

**JVM version** (`java -version`):
1.8.0_161

**OS version** (`uname -a` if on a Unix-like system):
4.14.133-113.112.amzn2.x86_64

**Description of the problem including expected versus actual behavior**:

Note: description copied from https://discuss.elastic.co/t/geo-shape-false-positives-when-t

[2020-07-13 09:18] elasticmachine commented on #59386
Pinging @elastic/es-analytics-geo (:Analytics/Geo)

[2020-07-13 09:27] davidkyle commented on #59384
Muted on master in 35861830b8a593027b32dc8c2840ad9d9a3878b7

[2020-07-13 09:31] elasticmachine commented on #59369
Pinging @elastic/es-core-infra (:Core/Infra/Packaging)

[2020-07-13 09:32] elasticmachine commented on #59362
Pinging @elastic/es-core-features (:Core/Features/Features)

[2020-07-13 09:34] elasticmachine commented on #59353
Pinging @elastic/es-docs (>docs)

[2020-07-13 09:34] elasticmachine commented on #59353
Pinging @elastic/es-security (:Security/Authentication)

[2020-07-13 09:36] elasticmachine commented on #59351
Pinging @elastic/es-search (:Search/Search)

[2020-07-13 09:36] davidkyle commented on #59384
The test `testSnapshotPrimaryRelocations` is also failing with the same error although less frequently and does not reproduce

https://gradle-enterprise.elastic.co/s/u7xph7zsea7mq

[code]

https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-7d,mode:quick,to:now))&_a=(columns:!(branch,class,stacktrace,test),index:e58bf320-7efd-11e8-bf69-63c8ef51

[2020-07-13 10:07] #59359 closed

[2020-07-13 10:48] aniezurawski commented on #37198
Hi. This is exactly what I need. I have a `terms` agg on field A and I want to sort buckets by max/min sub aggregation on field B. Where B is a keyword, not a number. Is it possible to achieve?

[2020-07-13 11:09] #59380 closed

[2020-07-13 11:13] DaveCTurner commented on #58393
@zuketo I have tried to work out how often we see single-node discovery used outside of Docker from the telemetry data but haven't been able to since the field recording the discovery type is not indexed. Do you have any ideas for working this out?

[2020-07-13 11:23] #53939 closed

[2020-07-13 12:05] jpountz commented on #51341
@exekias No, it's been added to the list of things to look into next and hasn't been picked up yet. Cc @colings86 who I was discussing this with recently.

[2020-07-13 12:15] original-brownbear opened #59399 "[CI] TimeSeriesDataStreamsIT.testShrinkActionInPolicyWithoutHotPhase Fails on 7.x"
Seeing the following failure in https://gradle-enterprise.elastic.co/s/ejqcdrqr2xyim/console-log?anchor=6235 (7.x)

[code]

fails with:

[code]

[2020-07-13 12:15] elasticmachine commented on #59399
Pinging @elastic/es-core-features (:Core/Features/Data streams)

[2020-07-13 12:23] davidkyle commented on #59211
We've often discussed adding `from` and `size` parameters to the GET Jobs API which would be consistent with many other ml APIs. It is historical accident that the API does not support `from` and `size` and the team has been reluctant to implement paging because do not want to break the existing behaviour.

By setting a hypothetical `size` parameter to 0  the `count` field in the response would co

[2020-07-13 12:40] davidkyle opened #59405 "Add from and size to the ml Get Jobs API"
The default and indeed only option for the ml Get Jobs API is to return all matching jobs up to 10,000.

If you have a large number of jobs this can generate a lot of traffic where you are only interested in the first N or if you just want a count of the matching jobs as described in #59211.

Paging with `from` and `size` is limited to the first 10,000 documents and is sub-optimal compared to **se

[2020-07-13 12:40] elasticmachine commented on #59405
Pinging @elastic/ml-core (:ml)

[2020-07-13 12:42] davidkyle commented on #34864
Closing as ancient and superseded by #59405

[2020-07-13 12:42] #34864 closed

[2020-07-13 13:00] davidkyle opened #59413 "RegressionIT testSingleNumericFeatureAndMixedTrainingAndNonTrainingRows failure"
**Build scan**:
https://gradle-enterprise.elastic.co/s/5fxzmspwrij5s

**Repro line**:
[code]

**Reproduces locally?**:
Nope

**Applicable branches**:
Master, 7.x

**Failure history**:
Not the first time

https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-7d,mode:quick,to:now))&_a=(columns:!(branch,class,stacktrace,test),index:e58bf320-7efd-11e

[2020-07-13 13:06] matriv commented on #57668
@bpintea Probably it was fixed with #58399. I've checked the behaviour with the original version of the PR and was still there, but apparently the new approach fixed it. I doubled checked it too, so I think it's safe to close this.

[2020-07-13 13:13] davidkyle commented on #59413
Muted master: c2d58c8e34351be048a33caed864e38dcf1ee757, 7.x: 054d5236d4255663a1d2ce63e1cc1d2074685e61

[2020-07-13 13:26] imotov opened #59416 "CI: Async execution in EqlRestIT fails in CI"
**Build scan**:
https://gradle-enterprise.elastic.co/s/62mvcghgs3c4y

**Repro line**:
[code]

**Reproduces locally?**:
No

**Applicable branches**:
7.x and master

**Failure history**:
Fails about once a week

**Failure excerpt**:
[code]

[2020-07-13 13:41] hatharom opened #59418 "How to take snapshot before delete an index via ILM?"
I dont know whether it is a question, a bug or a feature request.

All I want is to delete indices say every month after a snapshot is taken.

I have an ILM definition like this:

[code]
The problem is that it wont trigger the slm but waiting for it.

I can solve it currently by  for example an slm trigger at every night. But this can bring an 24h wait period in the worst case(If the index creatio

[2020-07-13 14:05] stu-elastic commented on #58008
Closed by https://github.com/elastic/elasticsearch/pull/59267

[2020-07-13 14:05] #58008 closed

[2020-07-13 14:06] stu-elastic commented on #49763
Closed by https://github.com/elastic/elasticsearch/pull/59267

[2020-07-13 14:06] #49763 closed

[2020-07-13 14:21] csoulios commented on #53285
Merging https://github.com/elastic/elasticsearch/pull/58930 closes this issue.

[2020-07-13 14:21] #53285 closed

[2020-07-13 14:22] devanandch commented on #54964
any update on my request

[2020-07-13 14:36] ywangd opened #59425 "[CI] Auditing log fails for API key realm name during BWC with version prior to v7.5"
The failed test `UpgradeClusterClientYamlTestSuiteIT.test {p0=mixed_cluster/120_api_key_auth/Test API key authentication will work in a mixed cluster}`.

ApiKey realm name is not available in Authentication metadata till [v7.5](https://github.com/elastic/elasticsearch/commit/7b6246ec670040e8e5dfef05b33bb2b39f8a9357). Hence auditing log fails to [retrieve it](https://github.com/elastic/elasticsearc

[2020-07-13 14:47] romseygeek opened #59427 "Mappings assertions in mixed clusters"
We currently have a couple of internal checks on mappings updates which make it
difficult or impossible to change the default representation of mappings.  IndexMetaData
objects have a mapping version on them, which is used for some sanity checking in
the translog, recoveries, CCR, etc.  We also have an internal assertion that checks, when
doing a mapping update, that versions of the mapping with i

[2020-07-13 14:47] elasticmachine commented on #59427
Pinging @elastic/es-search (:Search/Mapping)

[2020-07-13 15:15] original-brownbear commented on #59384
Turns out this is a real bug with partial snapshots, opened a fix PR that covers both test failures here https://github.com/elastic/elasticsearch/pull/59428

[2020-07-13 15:24] jpountz commented on #59235
I'm not a fan of 1 because it creates issues with `ALL` since I don't think it should affect case sensitivity.

I have a slight preference for 3 because I fear that otherwise we would mostly be pushing complexity downstream. I'm running under the assumption that it wouldn't be a breaking change if we eventually made it handle unicode, which might be controversial.

[2020-07-13 15:28] elasticmachine commented on #59425
Pinging @elastic/es-security (:Security/Audit)

[2020-07-13 15:40] markharwood commented on #59235
I'll opt for 3. As for the BWC concern I expect the behaviour change would be welcome. I assume the intent of asking for `lower_case:true` is always the same and the more able we are to fulfil that, the better.

[2020-07-13 16:07] #59384 closed

[2020-07-13 16:09] matriv commented on #57668
@bpintea would you mind adding a test case for those please?

[2020-07-13 16:11] bpintea commented on #57668
Sure, can do.

[2020-07-13 16:15] matriv commented on #54964
@devanandch Sorry for the delay, go ahead and please use the same approach as in #55454

[2020-07-13 16:16] matriv commented on #57668
Thx, and sorry I forgot to ask that before.

[2020-07-13 16:20] lockewritesdocs opened #59434 "[DOCS] Indicate default for composite aggregation"
Per a Slack thread, the default for the `size` of composite buckets is not explicitly listed on the [Composite aggregations](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-composite-aggregation.html#_size_2) page. We should indicate that the default value is `10`.

[2020-07-13 16:20] elasticmachine commented on #59434
Pinging @elastic/es-docs (>docs)

[2020-07-13 16:20] elasticmachine commented on #59434
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-07-13 16:40] imotov commented on #58795
Looks like another failure in https://gradle-enterprise.elastic.co/s/l6sdxrd6zgnbs/console-log?anchor=4734

[2020-07-13 17:03] thomasneirynck commented on #48953
Some notes from a client-perspective about possible impact:

----

_Kibana (and vast majority of web-apps using common mapping toolkits like mapbox, leaflet, google maps, ...) expect coordinates to be latitude/longitudes in the WGS84 datum_

- Will a client be able to determine whether the reference system returns coordinates in lat/lon WGS84? For example, EPSG:4326 and EPSG:32662 would both be us

[2020-07-13 17:21] lockewritesdocs commented on #59171
@zuketo, I'm going to do some work on the CCR docs soon, so I can incorporate this information and tutorial as part of that effort.

[2020-07-13 17:21] jrodewig opened #59445 "[CI] org.elasticsearch.xpack.ml.inference.loadingservice.ModelLoadingServiceTests.testReferenceCountingForPipeline"
**Build scan**: https://gradle-enterprise.elastic.co/s/32ejz4ocpihbo

**Repro line**:
`./gradlew ':x-pack:plugin:ml:test' --tests "org.elasticsearch.xpack.ml.inference.loadingservice.ModelLoadingServiceTests.testReferenceCountingForPipeline" -Dtests.seed=4887241A54A45DE6 -Dtests.security.manager=true -Dtests.locale=he-IL -Dtests.timezone=Asia/Almaty -Druntime.java=11`

**Reproduces locally?**:
No.

[2020-07-13 17:21] elasticmachine commented on #59445
Pinging @elastic/ml-core (:ml)

[2020-07-13 17:36] mattkime opened #59448 "field_caps based on index template and without index - helpful for beats, ingest manager"
The problem -

Our solutions often need to set up dashboards in kibana. Dashboards depend upon the existence of an index pattern. Index patterns are created with the help of the field caps api. The field caps api requires an index to exist. Our solution specifically don't want an index to exist until there are documents. The solutions end up writing index pattern saved objects with code that is se

[2020-07-13 17:54] BabarAli93 opened #59450 "Elastic Search Failure over EC2 AWS"
I was trying to install Magento over Amazon EC2 instance and it requires ElasticSearch as prerequisite. I followed available methods to install it through Archive and the other method. But none of them worked for me.

When I run "sudo service elasticsearch start", it fails and the snapshot of "journalctl -xe" is attached. Can someone help me what is wrong here and what is my mistake. It is current

[2020-07-13 18:20] #55552 closed

[2020-07-13 18:25] mellieA commented on #59171
@zuketo and @lockewritesdocs, I'm already working on this. I don't have an issue open for it yet, so I'm happy to take this one on. I have a draft in a google doc that I've already moved into asciidoc, it's based on your blog @zuketo, but from a Kibana perspective. I can add you both as reviewers when I put the PR up later this week, let me know if anything is missing that you want to include.

[2020-07-13 18:33] lockewritesdocs commented on #59171
@mellieA, your response is timely 😄  I emailed you separately about combining efforts on this work. Please read that email and let me know what you think of my proposal. I would love to collaborate!

[2020-07-13 18:44] elasticmachine commented on #59330
Pinging @elastic/ml-core (:ml)

[2020-07-13 19:40] iexpertini opened #59457 "Fail to exclude Post by Term localhost:9200/abc-post-1/post/_search/?mode=exclude:Sales&q=post_type:%22jobs%22&size=1000&from=1"
Hi Guys,

Need help to filter the ElasticSearch Result.

I don't want to display the post that comes from center post author.

We try to filter it by localhost:9200/abc-post-1/post/_search/?mode=exclude:authorname&q=post_type:%22articles%22&size=1000&from=1

Every time we try but it failes to exclude post from that author. So please can anyone guide it on us.

Thanks,
HS

[2020-07-13 19:48] dakrone commented on #59399
Another failure: https://gradle-enterprise.elastic.co/s/aidbqwgart5cq

[2020-07-13 19:54] #59445 closed

[2020-07-13 19:58] #59353 closed

[2020-07-13 20:04] #59434 closed

[2020-07-13 20:43] #50109 closed

[2020-07-13 21:11] mayya-sharipova commented on #25861
I am wondering if we still want to coerce values during queries. Currently we truncate decimal part on range queries on integer data types. I assume this is useful if we ran a query across different indexes where the same field name can have different field types.

[2020-07-13 22:49] cjcenizal opened #59478 "Document pro-tips for copy_to field"
In a recent email thread, @nik9000 described how `copy_to` can be very useful in situations where you want to query many fields many times a second, particularly for phrase queries:

I'd love to see this information captured in our docs somewhere, possibly in the [copy_to docs](https://www.elastic.co/guide/en/elasticsearch/reference/current/copy-to.html) or maybe on a dedicated page in some sort o

[2020-07-13 22:49] elasticmachine commented on #59478
Pinging @elastic/es-docs (>docs)

[2020-07-13 22:57] #58795 closed

[2020-07-14 00:10] tylersmalley opened #59481 "Regression when an API key has no name"
https://github.com/elastic/elasticsearch/pull/58156 introduced a regression causing the following errors within Kibana:

[code]

These failures are being tracked in https://github.com/elastic/kibana/issues/71559, https://github.com/elastic/kibana/issues/71558 and https://github.com/elastic/kibana/issues/71555

[2020-07-14 01:04] elasticmachine commented on #59481
Pinging @elastic/es-security (:Security/Authentication)

[2020-07-14 01:13] ywangd opened #59484 "Grant API key should mandate key name as create API key action"
The name of an API key is mandatory when creating an API key. It throws a `400` error if the name is missing. However, when using the grant API key action, it is possible to create a key without a name. This is because the `name` field is nested under `api_key` field for the input of grant API key action, i.e.:
[code]

Although the `name` field is still mandatory, the parent `api_key` field is opt

[2020-07-14 01:13] elasticmachine commented on #59484
Pinging @elastic/es-security (:Security/Authentication)

[2020-07-14 01:23] tvernum opened #59486 "[CI] CcrRestIT unable to fetch remote license"
**Build scan**: https://gradle-enterprise.elastic.co/s/exlm2xhwq4k7y

**Repro line**:
[code]
**Reproduces locally?**: No

**Applicable branches**: 7.x

**Failure history**:
- [Build Stats](https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-6M,mode:quick,to:now))&_a=(columns:!(branch,message),filters:!(),index:e58bf320-7efd-11e8-bf69-63c8ef5161

[2020-07-14 01:24] elasticmachine commented on #59486
Pinging @elastic/es-distributed (:Distributed/CCR)

[2020-07-14 01:31] ywangd commented on #59481
@tylersmalley I raised #59485 to fix this issue.

We consider API keys with `null` names as a bug and raised an issue (#59484) for it. Creating API keys always require a name to be specified. However, when grant API key action is added, this requirement is missed out. We plan to fix it in a future release (post v7.9). For backwards compatibility, we will continue to support API keys without names

[2020-07-14 01:53] tvernum opened #59488 "[CI] (Release tests) DataStreamTimestampFieldMapperTests failures"
DataStreamTimestampFieldMapperTests is failing in release tests, but not snapshots.

**Build scan**: https://gradle-enterprise.elastic.co/s/32zphonv67prw

**Repro line**:
[code]

**Reproduces locally?**: Yes (only for release tests)

**Applicable branches**: master, 7.x

**Failure history**:
- [Build Stats](https://build-stats.elastic.co/app/kibana#/discover?_g=(refreshInterval:(pause:!t,value:0),

[2020-07-14 01:53] elasticmachine commented on #59488
Pinging @elastic/es-core-features (:Core/Features/Data streams)

[2020-07-14 02:14] #58534 closed

[2020-07-14 02:58] talevy commented on #42258
it seems like the note Hendrik left should solve this issue moving forward. Think we can close this one @polyfractal?

[2020-07-14 03:03] talevy commented on #55812
@thomasneirynck do you mean that it would be nice to optionally return the bounds in the response as a geo-json geometry?

[2020-07-14 03:11] talevy commented on #10617
Hi @abprash and @Shubhangi2901! awesome to hear you two decided to collaborate on this. Just following up to see if there is anything we can do to help!

[2020-07-14 03:14] talevy commented on #10617
I believe much of the parsing logic has been consolidated in `GeoBoundingBox.parseBoundingBox` in #50253.

How was your attempt at consolidating more of the code going @abprash and @Shubhangi2901?

[2020-07-14 03:30] malpani opened #59491 "Support ignore_keywords flag for word delimiter graph token filter"
Support `ignore_keywords` flag for word delimiter graph token filter

Lucene's [WordDelimiterGraphFilter](https://lucene.apache.org/core/8_5_1/analyzers-common/org/apache/lucene/analysis/miscellaneous/WordDelimiterGraphFilter.html#IGNORE_KEYWORDS) allows to skip processing of tokens tagged as keyword. However the Elasticsearch [word delimiter graph token filter](https://www.elastic.co/guide/en/ela

[2020-07-14 03:34] tvernum opened #59492 "[CI] RecoverySourceHandlerTests.testSendSnapshotSendsOps failures"
This has just started failing on both `master` and `7.x`
There was also a failure as part of a recent PR build ([jenkins](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+pull-request-1/3535/), [PR](https://github.com/elastic/elasticsearch/pull/59182), [Fixed?](https://github.com/elastic/elasticsearch/commit/865b6b5880ddca4b2b05cb9c28d343a528b92437))

**Build scan**: https://gradle-en

[2020-07-14 03:34] elasticmachine commented on #59492
Pinging @elastic/es-distributed (:Distributed/Recovery)

[2020-07-14 03:34] russcam opened #59493 "cat.tasks does not support "parent_task", "actions" or "node_id""
The REST API spec for `cat.tasks` lists support for parameters "parent_task", "actions" and "node_id"

https://github.com/elastic/elasticsearch/blob/1c3b341960e3b70555927bdbab325d26382f68b2/rest-api-spec/src/main/resources/rest-api-spec/api/cat.tasks.json#L23-L38

These all however return a 400 response when attempting to use:

[code]

Looking at `RestTasksAction`, it looks like this might be beca

[2020-07-14 03:35] tvernum commented on #59492
Ping @dnhatn because it looks like there might be some relationship with https://github.com/elastic/elasticsearch/pull/59182 / https://github.com/elastic/elasticsearch/commit/865b6b5880ddca4b2b05cb9c28d343a528b92437

[2020-07-14 04:47] tvernum opened #59494 "[CI] IndexingIT.testIndexVersionPropagation failure"
Failed as part of `:qa:mixed-cluster:v7.0.1#mixedClusterTest`

**Build scan**: https://gradle-enterprise.elastic.co/s/xpr26bxabxec2

**Repro line**:
[code]

**Reproduces locally?**: No

**Applicable branches**: `7.x`

**Failure history**:
The test itself fails often, but this seems to be the first failure with this particular error condition.
- [Build Stats](https://build-stats.elastic.co/app/kiba

[2020-07-14 04:47] elasticmachine commented on #59494
Pinging @elastic/es-distributed (:Distributed/CRUD)

[2020-07-14 04:52] tvernum opened #59495 "[CI] Distro Test fails to install packages for debian 8 due to expired GPG key"
Well, I assume the expired GPG key is the root cause...

`CI` `LINUX` `7.x` `elastic+elasticsearch+7.x+packaging-vagrant-matrix` `OS=debian-8,nodes=metal`

**Build scan**:
https://gradle-enterprise.elastic.co/s/uisttakoi2osq/console-log?task=:qa:os:debian-8:distroTest.default-linux-archive

**Applicable branches**: 7.x

**Failure excerpt**:
[code]

[2020-07-14 04:52] elasticmachine commented on #59495
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-07-14 05:02] #59481 closed

[2020-07-14 08:02] elasticmachine commented on #59493
Pinging @elastic/es-core-infra (:Core/Infra/REST API)

[2020-07-14 08:03] mjwhale opened #59500 "Change Password API - support password_hash?"
Why is password hash not supported when changing a password?
https://www.elastic.co/guide/en/elasticsearch/reference/7.x/security-api-change-password.html

https://www.elastic.co/guide/en/elasticsearch/reference/current/security-api-put-user.html

When adding a user, one of password or password_hash is required.  password_hash allows the client to pre-hash the password for performance and/or confi

[2020-07-14 08:03] elasticmachine commented on #59491
Pinging @elastic/es-search (:Search/Analysis)

[2020-07-14 08:06] astefan commented on #59418
@hatharom Thanks very much for your interest in Elasticsearch and ILM.
This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co/). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.el

[2020-07-14 08:06] #59418 closed

[2020-07-14 08:06] elasticmachine commented on #59418
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-07-14 08:07] astefan commented on #59457
@iexpertini Thanks very much for your interest in Elasticsearch.
This appears to be a user question, and we'd like to direct these kinds of things to the [forums](https://discuss.elastic.co/). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forums](https://discuss.elastic.

[2020-07-14 08:07] #59457 closed

[2020-07-14 08:10] elasticmachine commented on #59500
Pinging @elastic/es-security (:Security/Authentication)

[2020-07-14 08:13] astefan commented on #57523
No further feedback received. @kingfeiyu1 if you have the requested information please add it in a comment and we can look at re-opening this issue.

[2020-07-14 08:13] #57523 closed

[2020-07-14 08:20] iverase commented on #48864
@not-napoleon This seems to have been mostly dealt with the value source refactoring, does it make sense to have it opened or we can close it now?

[2020-07-14 08:27] #59488 closed

[2020-07-14 08:51] martijnvg commented on #58316
Part of this has been implemented via #59128 and the other part will be implemented via #58707.

[2020-07-14 08:57] bpintea opened #59506 "SQL: ODBC: SYS COLUMNS column types alignment"
This is a regression of #35376, likely caused by #45516.

[2020-07-14 08:57] elasticmachine commented on #59506
Pinging @elastic/es-ql (:Query Languages/SQL)

[2020-07-14 10:15] Daantie commented on #34015
I see a new label is added on May 5th. Can you give us an update of the progress on this?

[2020-07-14 10:38] #57638 closed

[2020-07-14 10:40] #59130 closed

[2020-07-14 11:17] original-brownbear commented on #59450
Thanks very much for your interest in Elasticsearch.

This appears to be a user question, and we'd like to direct these kinds of things to the [Elasticsearch forum](https://discuss.elastic.co/c/elasticsearch). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified bug reports, feature requests, and pull requests.

There's an active community in the [forum](https://

[2020-07-14 11:17] #59450 closed

[2020-07-14 11:39] BabarAli93 commented on #59450
if this is not related to here then it can be closed. Thanks for the guidance Sir.

[2020-07-14 11:53] nik9000 commented on #59478
@jpountz did this a while back: https://www.elastic.co/guide/en/elasticsearch/reference/current/tune-for-search-speed.html#_search_as_few_fields_as_possible

[2020-07-14 11:54] nik9000 commented on #59478
It might be useful on the `copy_to` docs to say "you might use this to improve search speed by searching fewer fields" with a link. You also might use `copy_to` to handle multi-language search, though I don't know the state of the art of that.

[2020-07-14 11:56] lizozom commented on #54159
@lukasolson @tylersmalley and I discussed this recently. We'd probably want to have tests using slow searches for the builds of Kibana and Cloud, requiring this functionality to be available in production builds. Same type of aggregation can be also useful for diagnostics in support cases.

We thought of adding a "delayed aggregation" to ES, making it appear as a UI option only if some "Debug mode

[2020-07-14 12:09] tankilo commented on #44556
Not solved. And it turned that my problem is different from this one.
Even it turn off retry behavior, it still will happen.
The request seems to be missing. No timeout, no exception, no successful response, so the listener is not triggered forever and the thread hang.
I decreased the amount of data writing to es and this problem rarely happen.

[2020-07-14 13:00] bytebilly commented on #59500
Thanks for the proposal.
Do you have a specific use case where this additional parameter would be useful?

In general, we are not against that. However, this is not a trivial change and we need to understand if this could be prioritized.

[2020-07-14 13:56] not-napoleon commented on #48864
@iverase I didn't actually address either the specific case quoted in this ticket, or the general behavior, when I did the refactor.  I just moved where we do it.  The code block quoted above is now found in `CoreValuesSourceType`: https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/search/aggregations/support/CoreValuesSourceType.java#L119-L123

So, I vote

[2020-07-14 14:37] roncohen commented on #57968
for ingest manager, since we control the pipelines, we could reasonably make the necessary adjustments to the final destination "final" pipelines to make this work. Sketching the solution out:
- we have a "generic" data stream with a default/required pipeline that knows about the packages installed.
- we send all data there, and the pipeline will redirect to other data streams by checking specific

[2020-07-14 14:44] reitzig commented on #36983
With respect, the list you give seems to have little to do with "complexity". Use of reflection and finalizers is ... awkward in any circumstance, and often a smell.

Seems to me that _especially_ complex, resource-hungry applications would profit from investing in native images. Of course, that endeavour may cause non-trivial refactorings.

[2020-07-14 15:19] mjwhale commented on #59500
Thanks for the update.

I may have misunderstood the purpose of password_hash when creating a new user: its to protect the password, improve security and performance? wouldn't 'change password' warrant the same kind of protection?

Wouldn't/shouldn't users change their password on first use and therefore render ineffective the benefit of using the password_hash during user creation?

Using passwor

[2020-07-14 15:19] hatharom opened #59545 "ILM delete phase is extremly slow"
ES 7.7.1 running in docker

In short: Delete phase stucks at  "step": "wait-for-shard-history-leases"

In details:

I have created a basic delete policy:

[code]
PUT _template/my_template

[code]
then I PUT two indices : test-2017-11-12 and test-2222

Expected outcome : after ~60s (+ some time for the real work) the index get deleted

Actual Outcome:

What happened (according to http://localhost:9

[2020-07-14 16:00] costin commented on #58333
Closed by #59232 and #59280

[2020-07-14 16:00] #58333 closed

[2020-07-14 16:04] dakrone commented on #59545
Hi,
We reserve Github issues for feature requests and bug reports. If you are having problems please use https://discuss.elastic.co instead!

In your case the default [poll interval](https://www.elastic.co/guide/en/elasticsearch/reference/7.6/ilm-settings.html#_cluster_level_settings) is 10 minutes, so steps are only advanced every 10 minutes

[2020-07-14 16:04] #59545 closed

[2020-07-14 17:09] jtibshirani commented on #59351
I'm closing this as a duplicate of #45373. I assigned that issue to myself and am taking a look.

[2020-07-14 17:09] #59351 closed

[2020-07-14 17:55] jtibshirani commented on #45373
I opened a Lucene PR with a proposed fix: https://github.com/apache/lucene-solr/pull/1671.

[2020-07-14 19:34] #56018 closed

[2020-07-14 20:12] #53100 closed

[2020-07-14 20:16] #49072 closed

[2020-07-14 20:22] zuketo commented on #58393
Good question, I see 'cluster_stats.nodes.packaging_types' and 'cluster_stats.nodes.discovery_types.single-node', but neither are mapped (as you mention). How about updating the telemetry mapping going forward, this could give us a sampling of the data, but may take another few weeks. If that works, I can create an issue for the mapping update.

[2020-07-14 20:29] talevy commented on #49225
@iverase is there an option to use a different version of the library?

[2020-07-14 20:44] DaveCTurner commented on #58393
Thanks, that sounds good to me.

[2020-07-14 22:29] #44505 closed

[2020-07-15 00:26] contrerasgm opened #59580 "Delete Replica with ILM on Hot Nodes"
Currently if you have an index that has been rolled over but still on the hot tier with a Primary and Replica I cannot use ILM to drop the replica after a specified period of time. It seems you would either have to reindex into a new index with no replicas or you would have to migrate to a warm/cold node to be able to do this.

For example if I have two nodes that I do daily indexes with 1 Primary

[2020-07-15 00:35] williamrandolph commented on #59369
@ShirishPatel,

I'm trying to replicate this error. A few questions:

1. Are you using the Windows MSI installer, or are you downloading the `zip` and using `elasticsearch-service.bat` to install the service?
2. How are you managing and restarting the service? On the command line or via a management program?
3. Where did the logs you posted come from?

Thanks,

-William

[2020-07-15 01:24] mattkime opened #59581 "_field_caps perf test on large mapping"
Kibana is considering becoming more reliant on the performance of the field_caps api call - https://github.com/elastic/kibana/issues/71787

tldr; instead of saving the field mapping as a kibana saved object, it would be queried when needed by the user.

It would be extremely helpful to understand the performance limitations of the field caps api, if there are any. Perhaps a perf test on a large fi

[2020-07-15 01:24] elasticmachine commented on #59581
Pinging @elastic/es-search (:Search/Mapping)

[2020-07-15 07:37] #59486 closed

[2020-07-15 07:47] iverase commented on #49225
@talevy it seems the latest release version of t-digest is `t-digest-3.2` which is the one we are using.

[2020-07-15 08:26] hendrikmuhs opened #59587 "[Transform] update does not validate ingest pipelines"
followup from #58744

`_update` does not validate ingest pipelines (as put does).

[2020-07-15 08:26] elasticmachine commented on #59587
Pinging @elastic/ml-core (:ml/Transform)

[2020-07-15 08:28] hendrikmuhs opened #59588 "[Transform] use ValidationExceptions where possible"
followup from #58744

validateConfig/Query should use ValidationException, probably some other parts of the code, too.

[2020-07-15 08:28] elasticmachine commented on #59588
Pinging @elastic/ml-core (:ml/Transform)

[2020-07-15 09:12] tlrx commented on #58961
The test didn't fail in the past 7 days since #59021 has been merged. Another change in #59313 addresses the last failure that happened on 7.8. I'm considering this issue as fixed.

[2020-07-15 09:12] #58961 closed

[2020-07-15 09:40] elasticmachine commented on #59448
Pinging @elastic/es-search (:Search/Mapping)

[2020-07-15 10:37] tlrx commented on #58260
The test initially failed because of repository base paths being the same for tests running in parallel: this has been fixed in #58664. Then the test times out because of a deadlock that is now fixed by #59595.

With these two changes now merged, I'm going to unmute the test on master and see how it goes. If there's no failures then I'll unmute in all branches.

Please do reopen if the test fails

[2020-07-15 11:14] sophiec20 opened #59602 "[ML] Improve error messages when ML resources are insufficient"
Found in `7.9.0-SNAPSHOT` (just before BC1)

This is a usability bug.

We would like to improve the read-ability for some of the error messages presented in the UI, when there are insufficient resources to run an ML job. e.g. https://github.com/elastic/kibana/pull/71618

1) Data frame analytics job that's too big to run on the ML node - can we change the bytes values in the sentence part to be hum

[2020-07-15 11:14] elasticmachine commented on #59602
Pinging @elastic/ml-core (:ml)

[2020-07-15 11:31] #58260 closed

[2020-07-15 11:41] tlrx commented on #55707
@tbrooks8 the test failure you had concerned the test `SearchableSnapshotDirectoryStatsTests.testReadBytesContiguously` which is different from the one in the issue. Anyway, the test has been fixed in #58912 which has been merged after your PR (so your PR did not contain the fix at the time it hit the failure).

[2020-07-15 11:41] #55707 closed

[2020-07-15 12:14] original-brownbear opened #59608 "[CI] ConcurrentSnapshotsIT.testEquivalentDeletesAreDeduplicated Fails on 7.x"
This only fails on 7.x and 7.9 it seems and just now started after back porting the concurrent snapshot logic.

In https://gradle-enterprise.elastic.co/s/e7obweucvwtv4/tests/:server:internalClusterTest/org.elasticsearch.snapshots.ConcurrentSnapshotsIT/testEquivalentDeletesAreDeduplicated#1

[code]

fails with:

[code]

This reproduces locally after a few iterations also. Looks like this is likely

[2020-07-15 12:14] elasticmachine commented on #59608
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-07-15 13:47] afharo commented on #59195
We need this as well for the changes in https://github.com/elastic/kibana/pull/71419.
Ideally, the `_meta` info in the Data Streams should be copied over to the underlying indices it creates.

[2020-07-15 13:48] astefan opened #59619 "EQL: index already created in RestEqlUsageTestCase"
Not really an issue, but probably a check need to be added to have the index created or not. Probably created before by another IT class.

[code]

[2020-07-15 13:48] elasticmachine commented on #59619
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-07-15 13:49] #59416 closed

[2020-07-15 14:01] #51057 closed

[2020-07-15 14:01] astefan commented on #49630
This is complete with https://github.com/elastic/elasticsearch/pull/59415.

[2020-07-15 14:01] #49630 closed

[2020-07-15 14:44] tlrx opened #59625 "CcrRollingUpgradeIT fails on CI"
This test started to fail regularly since July 14th 2020. The logs show some errors related to component templates but this should be addressed by #59624.

**Build scan**:
https://gradle-enterprise.elastic.co/s/uxnrmjs7mcwve
https://gradle-enterprise.elastic.co/s/li64mi23adjtm
https://gradle-enterprise.elastic.co/s/uza2ofj3d32fe

**Applicable branches**: 7.x

**Failure history**:
https://build-sta

[2020-07-15 14:44] elasticmachine commented on #59625
Pinging @elastic/es-distributed (:Distributed/CCR)

[2020-07-15 14:52] jrodewig opened #59627 "[CI] CcrRollingUpgradeIT » testUniDirectionalIndexFollowing"
**Build scan**:
https://gradle-enterprise.elastic.co/s/uxnrmjs7mcwve

**Repro line**:
`REPRODUCE WITH: ./gradlew ':x-pack:qa:rolling-upgrade-multi-cluster:v6.8.11#leader#upgradedClusterTest' --tests "org.elasticsearch.upgrades.CcrRollingUpgradeIT.testUniDirectionalIndexFollowing" -Dtests.seed=FBED9F657A3AE974 -Dtests.security.manager=true -Dtests.locale=th -Dtests.timezone=Europe/Riga -Druntime.ja

[2020-07-15 14:52] elasticmachine commented on #59627
Pinging @elastic/es-distributed (:Distributed/CCR)

[2020-07-15 14:55] #59294 closed

[2020-07-15 14:55] tlrx commented on #59627
Duplicate of #59625

[2020-07-15 14:55] #59627 closed

[2020-07-15 15:48] stu-elastic opened #59633 "Whitelist SHA2 for use in ingest pipelines"
SHA2 allows fingerprinting and is useful for ensuring document idempotence at the cost of increased CPU.

Limiting this to ingest contexts avoids hiding the CPU costs in queries.

Ref: https://github.com/elastic/elasticsearch/pull/56873

[2020-07-15 15:48] elasticmachine commented on #59633
Pinging @elastic/es-core-infra (:Core/Infra/Scripting)

[2020-07-15 15:50] ynuosoft opened #59635 "We need the RoaringBitMap DataType to be applied in the customer portrait"
In big data application,**customer portrait** is very important and  popular.
What we do  now in Elasticsearch? we use binary datatype ,but performance is not good,so instead of ElasticSearch, we used ClickHouse,It supports **roaringBitmap** datatype and is also very convenient.
However, The operation and maintenance of Clickhouse is relatively primitive and I do not like it very much

[2020-07-15 15:50] dakrone commented on #59132
Another failure: https://gradle-enterprise.elastic.co/s/dq3oxpmejx45a

[2020-07-15 15:54] dakrone commented on #59195
We first need to support `_meta` on indices themselves, which is probably a separate issue

[2020-07-15 16:29] danhermann commented on #58316
Completed via #59128 and #58707.

[2020-07-15 16:29] #58316 closed

[2020-07-15 16:32] danhermann commented on #57934
Completed via #58381

[2020-07-15 16:32] #57934 closed

[2020-07-15 16:34] afharo commented on #59195
@dakrone what do you mean with _support `_meta` on indices themselves_?

I thought it is already supported. Kibana uses that feature in the `.kibana` index and AFAIK, Beats does as well. I'm talking about `mappings._meta` though. Maybe that's my confusion?

[2020-07-15 16:38] dakrone opened #59641 "RestoreSnapshotRequestTests.testSource fails"
**Build scan**:
https://gradle-enterprise.elastic.co/s/zevkkqsykhsem

**Repro line**:
[code]

**Reproduces locally?**:
Yes

**Applicable branches**:
master

**Failure excerpt**:

[code]

[2020-07-15 16:40] dakrone commented on #59641
Another failure: https://gradle-enterprise.elastic.co/s/iddyj3smqeaoq

[2020-07-15 16:45] #59641 closed

[2020-07-15 16:46] dakrone commented on #39355
This failed again today, but I was unable to reproduce it: https://gradle-enterprise.elastic.co/s/bsxqgpj54davc

[2020-07-15 16:47] dakrone commented on #59625
Another failure: https://gradle-enterprise.elastic.co/s/mkzyvj65xtfkc

[2020-07-15 16:48] dakrone commented on #59608
Another failure: https://gradle-enterprise.elastic.co/s/afdpahqegjmny

[2020-07-15 16:53] dakrone commented on #51619
Another occurance: https://gradle-enterprise.elastic.co/s/56e2fyfzriwbc

[2020-07-15 16:55] dakrone commented on #59195
Mappings metadata is more thought of as metadata about the mappings themselves, not the index (at least that's they way I think about it). It would work for now, but I don't think we should use it as a general purpose metadata storage for the index.

[2020-07-15 17:10] dakrone commented on #59625
And another: https://gradle-enterprise.elastic.co/s/jfzdfqa6fi4jc

@dnhatn should this be muted while you're taking a look at it?

[2020-07-15 18:05] stu-elastic opened #59647 "Static return values for scripting runtime fields"
Runtime fields need to ensure scripts have the return type specified in the mapping.  Returning `Object` would incur dramatic boxing penalties.

We can implement this in the scripting infrastructure by having a context per mapping type, with the different contexts differing only on the execute return value.

Related: https://github.com/elastic/elasticsearch/issues/59332

[2020-07-15 18:05] elasticmachine commented on #59647
Pinging @elastic/es-core-infra (:Core/Infra/Scripting)

[2020-07-15 18:12] DaveCTurner opened #59649 "Dedicated voting-only master-eligible node requires access to snapshot repositories for verification"
Today a snapshot repository verification ensures that all master-eligible and data nodes have write access to the snapshot repository (and can see each other's data) since taking a snapshot requires data nodes and the currently-elected master to write to the repository. However, a dedicated voting-only master-eligible node is not a data node and will never be the elected master so we should not re

[2020-07-15 18:12] elasticmachine commented on #59649
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-07-15 18:14] elasticmachine commented on #59635
Pinging @elastic/es-search (:Search/Mapping)

[2020-07-15 18:15] elasticmachine commented on #59580
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-07-15 18:17] nik9000 commented on #59301
I'm going to close this issue because I can't reproduce it. It'd be great if you could attach reproduction steps, like `curl` for the REST request and a little java project for the HLRC request.

[2020-07-15 18:17] #59301 closed

[2020-07-15 18:39] sophiec20 opened #59652 "[ML] Updates to DFA job should log an audit message"
Usability issue - Found in 7.9.0-SNAPSHOT pre-BC1

When updating a DFA job e.g. to increase the memory limit, there should be an accompanying audit Job Message.

This assists in troubleshooting - so we can tell it the config has been changed between errors.

We have this equivalent in anomaly detection
![image](https://user-images.githubusercontent.com/4185750/87582653-9bf24880-c6d2-11ea-901e-c274

[2020-07-15 18:39] elasticmachine commented on #59652
Pinging @elastic/ml-core (:ml)

[2020-07-15 18:44] dnhatn commented on #59625
Thanks @leehinman. I've muted this suite.

[2020-07-15 18:45] #59608 closed

[2020-07-15 19:00] original-brownbear opened #59655 "Most of SLM Snapshot Orchestration can be Removed"
With #56911 merged to `7.9` and newer, all code in SLM dedicated to making sure that multiple snapshots or snapshot deletes don't run at the same time has become obsolete.
We should move this logic to a separate BwC path to be used in a mixed version cluster and otherwise short-circuit all the checks and waiting and simply execute all operations exactly as scheduled since they will always work out

[2020-07-15 19:00] elasticmachine commented on #59655
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-07-15 19:39] kaiz123 commented on #29561
Any updates on this issue ? Has this been fixed yet ?

[2020-07-15 19:58] ppf2 opened #59660 "xpack.monitoring.history.duration does not always run at 1am UTC"
According to the docs, the [Cleaner Service](https://www.elastic.co/guide/en/elasticsearch/reference/current/local-exporter.html#local-exporter-cleaner) is supposed to run at 1am UTC.

Have a 7.7.1 monitoring cluster with:

[code]

Left the monitoring cluster running overnight.  In the morning, the logs (in US Pacific time) show the following:

[code]

05:24:07,106 is around 12:24:07,106 PM in UTC

[2020-07-15 19:58] elasticmachine commented on #59660
Pinging @elastic/es-core-features (:Core/Features/Monitoring)

[2020-07-15 20:00] dakrone commented on #59425
I believe this is the same issue: https://gradle-enterprise.elastic.co/s/x3e4t32i6m3jq that failed today

[2020-07-15 20:01] droberts195 commented on #58806
This finally failed again in https://gradle-enterprise.elastic.co/s/l3x63bdggnqw6 and the new piece of debug reveals this:

[code]

4294967296 is exactly 2 ^ 32

So something funny has happened when calculating the space required...

The full server side logs can be downloaded from https://storage.cloud.google.com/elasticsearch-ci-artifacts/jobs/elastic+elasticsearch+master+EAR/build/100.tar.bz2

[2020-07-15 20:09] droberts195 commented on #58806
Another interesting thing earlier in the log is:

[code]

I wonder if we are getting confused by the "net total_space [36.6gb]" and thinking 4gb is easily going to fit when "net usable_space [3gb]" is what we need to be considering?

[2020-07-15 20:14] dakrone commented on #59425
Muted this since it has failed a couple of times today

[2020-07-15 20:19] dakrone opened #59664 "RegressionIT.testWithDatastream fails on 7.9 branch"
**Build scan**:
https://gradle-enterprise.elastic.co/s/7j3rvve56jzss

**Repro line**:
[code]

**Reproduces locally?**:
Nope

**Applicable branches**:
7.9

**Failure history**:
Failed 12 times in the last week: https://gradle-enterprise.elastic.co/scans/tests?search.buildToolType=gradle&search.buildToolType=maven&search.relativeStartTime=P7D&search.timeZoneId=America/Denver&tests.container=org.elas

[2020-07-15 20:20] elasticmachine commented on #59664
Pinging @elastic/ml-core (:ml)

[2020-07-15 20:21] martijnvg commented on #59413
I've seen similar failure with the `testWithDatastream()` test in the past days. This is a recent failure: https://gradle-enterprise.elastic.co/s/7j3rvve56jzss/tests/:x-pack:plugin:ml:qa:native-multi-node-tests:integTestRunner/org.elasticsearch.xpack.ml.integration.RegressionIT/testWithDatastream#1

Is this failure similar or should I open a different issue?

[2020-07-15 20:25] dakrone opened #59665 "EqlStatsIT.testEqlRestUsage fails on master with endgame resource already exists exception"
**Build scan**:
https://gradle-enterprise.elastic.co/s/5qp7b7b7ejixm

**Repro line**:
[code]

**Reproduces locally?**:
No

**Applicable branches**:
master

**Failure history**:
7 times in the last two days
https://gradle-enterprise.elastic.co/scans/tests?search.buildToolType=gradle&search.buildToolType=maven&search.relativeStartTime=P7D&search.timeZoneId=America/Denver&tests.container=org.elastics

[2020-07-15 20:25] elasticmachine commented on #59665
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-07-15 20:28] dakrone commented on #39355
Already muted as part of https://github.com/elastic/elasticsearch/issues/59625

[2020-07-15 20:52] dakrone commented on #59625
I backported the mute commit to 7.9 as it was failing there regularly also

[2020-07-15 22:16] dakrone opened #59678 "RestClientSingleHostIntegTests.testRequestResetAndAbort fails in 7.x cancelling request"
**Build scan**:
https://gradle-enterprise.elastic.co/s/ujpqnv5kcwnj4

**Repro line**:
What's strange is that there *is no reproduction line*.

**Reproduces locally?**:
No, because there's no reproduction line

**Applicable branches**:
7.x

**Failure history**:
Only one failure recently: https://gradle-enterprise.elastic.co/scans/tests?search.buildToolType=gradle&search.buildToolType=maven&search.r

[2020-07-15 22:16] elasticmachine commented on #59678
Pinging @elastic/es-core-features (:Core/Features/Java Low Level REST Client)

[2020-07-15 22:22] dakrone opened #59679 "IndexingIT.testIndexing fails due to template conflict warning on 7.9"
**Build scan**:
https://gradle-enterprise.elastic.co/s/wosuz3bviwj54

**Repro line**:
[code]

**Reproduces locally?**:
No because it requires other tests that leave templates around to work

**Applicable branches**:
7.9

**Failure history**:
Related to https://github.com/elastic/elasticsearch/issues/56363

**Failure excerpt**:
[code]

[2020-07-15 22:22] elasticmachine commented on #59679
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-07-15 23:32] ywangd commented on #59425
Thanks @dakrone
The new failure is caused by missing role descriptors when creating the API key. The role descriptors were mandatory till v7.3 (#43481). Will raise a fix.

[2020-07-16 02:44] ywangd commented on #59425
Fixed with #59680

[2020-07-16 02:44] #59425 closed

[2020-07-16 03:54] medcl opened #59683 "CCS IndexNotFound Exception when disable remote_connect"
Reproduced both on 7.3.1 and 7.8.0.

According documentation:
[code]
When configure some nodes, like data node, set `node.remote_cluster_client` to `false` in 7.8 or set `cluster.remote.connect` to `false`  in 7.3, the remote clusters was not working as expected, and if you run query against the remote cluster, it will randomly get `index_not_found_exception`, as below:
![CCS-roundrobin-index-not-

[2020-07-16 03:59] elasticmachine commented on #59683
Pinging @elastic/es-distributed (:Distributed/CCR)

[2020-07-16 04:16] dnhatn commented on #59683
@medcl Can you share the stacktrace?

[2020-07-16 05:56] kaplin commented on #39946
I might have a fix for this — https://github.com/apache/httpcomponents-core/pull/203/

[2020-07-16 07:53] jehutywong opened #59684 "Ability to summarize running total value in long term"
For running total values like network traffic, the derivative aggregation will always run into bucket size limit along with the No of date_histogram bucket grow to certain extent. Further the current composite aggs / transforms does not support derivative aggs.

For case to get the max/min rate bucket out of the running total. I have to DIY outside ES. (refers to here https://discuss.elastic.co/t/

[2020-07-16 08:02] azasypkin opened #59685 "Can API operations that create access tokens include respective full user info in the response?"
__Context:__ https://github.com/elastic/kibana/pull/68117#discussion_r452194545

Currently _every_ Elasticsearch API call that creates an access token made by Kibana is followed by the request to retrieve full user information (`GET /_security/_authenticate`):

* `/_security/oauth2/token` ([Kerberos](https://www.elastic.co/guide/en/kibana/current/kibana-authentication.html#kerberos) and [Token](ht

[2020-07-16 08:02] elasticmachine commented on #59685
Pinging @elastic/es-security (:Security/Authentication)

[2020-07-16 08:14] costin opened #59686 "EQL - query language for event data in Elasticsearch"
Meta issue consolidating the EQL functionality released in Elasticsearch 7.9 as experimental.
EQL or Event Query Language is a declarative language dedicated for identifying patterns and relationships between events.

Consider using EQL if you:

- Use Elasticsearch for threat hunting or other security use cases
- Search time-series data or logs, such as network or system logs
- Want an easy way to

[2020-07-16 08:14] elasticmachine commented on #59686
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-07-16 08:17] costin commented on #59686
Scheduled for release in Elasticsearch 7.9

[2020-07-16 08:17] #59686 closed

[2020-07-16 08:18] elasticmachine commented on #59684
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-07-16 08:18] elasticmachine commented on #59684
Pinging @elastic/ml-core (:ml/Transform)

[2020-07-16 08:24] #59399 closed

[2020-07-16 08:47] davidkyle commented on #59664
Muted on master 716e22acd18b85e592e24cf7894a2c59a2231ec6,
7.x c349fdcb896bb0d9fdaeb54c22aac97bc43a5be1
7.9 2488906c1d8d8a013dc24f2815cbb83bfa9e8185

[2020-07-16 08:50] davidkyle commented on #59413
Thanks for the ping @martijnvg

#59664 has been opened  for the `testWithDatastream` failure and I've muted the tests

[2020-07-16 08:52] #59287 closed

[2020-07-16 09:50] pugnascotia commented on #53388
Closed by #57271.

[2020-07-16 09:53] martijnvg commented on #57968
The idea of final pipelines is that it can't be bypassed, so maybe in that case a default pipeline should be used?

👍 I think it is a good idea to take a good look at the current implementation and consider alternatives for it.

[2020-07-16 10:10] afharo commented on #59195
@dakrone I agree! Thank you for explaining!

[2020-07-16 10:51] shahzad31 opened #59694 "Ingest node user agent processor regular expression file is outdated"
**Elasticsearch version** (`Master/7.8/7.9 Build`):

**Description of the problem including expected versus actual behavior**:
Elastic user agent processor file is outdated, it marks majority of devices as others, for example for following data

[code]
It marks devices as follows, it seems to missing few important categories Mac OS X etc
https://github.com/ua-parser/uap-core/blob/f21592418f6323f9c

[2020-07-16 10:52] elasticmachine commented on #59694
Pinging @elastic/es-core-features (:Core/Features/Ingest)

[2020-07-16 11:03] bytebilly commented on #59500
As said, we do think that it would be helping in some cases, but we just don't see it as a priority since the required changes are not trivial. That's why, even if it may come in the future, it has not been scheduled yet.

From a security perspective, I'd expect password changes to be performed via tools (like Kibana), where there is no support for `password_hash` and it could not be used anyway.

[2020-07-16 12:08] fhaase2 commented on #31000
@javanna do you have a suggestion how to make it still working? Is there some hack?

[2020-07-16 12:42] #44726 closed

[2020-07-16 12:57] droberts195 commented on #58806
We found the problem.  There is a limit of 4GB in the C++ code that dates back to when the Java limit was hardcoded to 5GB.

Now that the Java limit is configurable via a setting we need to pass it through to the C++ in the forecast request so that the C++ can do a check that makes sense given what was configured.  #57254 and elastic/ml-cpp#1238 are an example of how to add an extra piece of infor

[2020-07-16 13:07] shahzad31 commented on #59694
oops i also did the PR @danhermann would you mind if i update it? i am planing on testing the fix using apm-server rum agent.

[2020-07-16 13:33] #54962 closed

[2020-07-16 14:09] Jeet0027 opened #59704 "Highlight does not work with ScriptScore version 7.8"
**Elasticsearch version** (`7.8`):

**OS version** (`Windows 10`):

**Along with ScriptScore function, Highlight function does work**:

below is my nest query
in the response Hits field returning 0 count

  ` var searchResponse = await elasticClient.SearchAsync<Document>(body => body

       .Index("myindexname")
             .Query(qx =>
                     qx.ScriptScore(fx => fx

[2020-07-16 14:09] dnhatn commented on #39355
Close in favor of https://github.com/elastic/elasticsearch/issues/39355

[2020-07-16 14:09] #39355 closed

[2020-07-16 14:45] costin opened #59707 "EQL: Sequence keys are always returned as string even if they are not"
Currently when returning a sequence key, the values are assembled as a list of strings which unfortunately erases their type.

[2020-07-16 14:45] elasticmachine commented on #59707
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-07-16 15:00] #59633 closed

[2020-07-16 15:00] imotov opened #59708 "EQL Thread Usage"
I would like to discuss thread usage in EQL. The current situation is this:

- The initial processing between receiving the user request and fieldCaps call is performed on the `transport_worker` thread.
- After the information about mappings is received, we process these mappings on the `management` thread. This is where mapping merging and plan analysis occurs and the search request is formulated

[2020-07-16 15:01] slanich commented on #3138
Ended up here looking for the same thing. I'm not sure why I didn't think of this sooner, but here was my problem:
Actual index name: prod.xenial-logs
Deployed service, trying to read with hard-coded stage name: prod-blue.xenial-logs

Developers are working to fix that, but a great interim fix, was just setting a new alias, pointing to the actual prod indices:
POST /_aliases
{
  "actions": [
    {

[2020-07-16 15:16] dakrone commented on #39355
@dnhatn I'm a little confused by this, did you mean to close this issue in favor of itself?

[2020-07-16 15:23] dnhatn commented on #39355
@dakrone Thanks for noticing that. I referred to a wrong issue. It should be #59625 instead.

[2020-07-16 15:25] matriv commented on #54962
`master` : 647a413d9b21bd3938f1716bb19f8407e1334125
`7.x` : c7efbc1b831adf99cbf2d37d6e9c47ee2b93722d

[2020-07-16 15:55] jpountz commented on #59478
+1 to link from the `copy_to` docs

[2020-07-16 16:01] jpountz commented on #25861
@mayya-sharipova Indeed we want to keep doing the right thing when querying integer field types with ranges on floating-point numbers. (We're not always truncating, we sometimes round up, sometimes down, so that querying integer fields with floating-point numbers always gives the same answer as if the field had been indexed as a floating-point number too.)

[2020-07-16 17:04] #59679 closed

[2020-07-16 17:13] #57905 closed

[2020-07-16 18:46] jtibshirani commented on #55363
We discussed how geo fields should be returned with @talevy and @imotov. A summary of our discussion:
* Geo data should be returned in a consistent format. We accept a variety of formats during indexing, and feel it would be helpful for clients if all fields were returned in a single format.
* The default format should be 'geojson', since this matches our usual JSON return format, and it's natural

[2020-07-16 19:41] #57968 closed

[2020-07-16 20:24] jtibshirani commented on #55363
An additional note: now that we'll return points in geojson format by default, for consistency we should accept this format when indexing points. We currently don't allow geojson, the work to add support is tracked in #47815.

[2020-07-16 20:30] jtibshirani commented on #47815
For consistency it would be great to add support for GeoJSON when indexing `point` fields as well.

[2020-07-16 21:48] dakrone commented on #50358
I believe this should be resolved now that #56911 has been merged, so I'm going to close it, we can re-open if it occurs again.

[2020-07-16 21:48] #50358 closed

[2020-07-16 23:14] #57847 closed

[2020-07-17 02:43] russcam commented on #43954
This was addressed in https://github.com/elastic/elasticsearch/pull/51846. Closing

[2020-07-17 02:43] #43954 closed

[2020-07-17 02:47] russcam commented on #54253
This was addressed in https://github.com/elastic/elasticsearch/pull/55749. Closing.

[2020-07-17 02:47] #54253 closed

[2020-07-17 03:28] mark-vieira opened #59743 "Packer cache script fails due to deprecated Gradle usages"
The [builds which run our `packer_cache.sh` script](https://infra-ci.elastic.co/job/elastic+infra+master+packer-cache-elasticsearch-ci-linux/BUILDER=gcp,BUILD_OS=sles-15,label=linux%20&&%20immutable%20&&%20docker/147/console) are failing after merging in #59598. These builds run the `resolveAllDependencies` task which likely is tripping some usage of deprecated configurations.

We could either a)

[2020-07-17 03:28] elasticmachine commented on #59743
Pinging @elastic/es-core-infra (:Core/Infra/Build)

[2020-07-17 03:29] mark-vieira commented on #59743
@breskeby do you mind taking a look at this? The CI image builds are failing due to our enforcement of deprecated usages. Simplest thing might just be to make these lenient.

[2020-07-17 04:13] Jeet0027 commented on #59704
@mayya-sharipova  could you please suggest

[2020-07-17 04:13] wenma opened #59744 "A fault occurred in a recent unsafe memory access operation in compiled Java code"
**Elasticsearch version** (`bin/elasticsearch --version`):
v7.7.0

**JVM version** (`java -version`):
buildin openjdk

**OS version** (`uname -a` if on a Unix-like system):
centos 7.3.1611

**Description of the problem including expected versus actual behavior**:
sometimes the ES process faulted. logs here:
[code]
it seems to be a JVM bug?

[2020-07-17 05:05] medcl commented on #59683
@dnhatn what kind of stacktrace you need? the original environment is gone now.

[2020-07-17 05:27] breskeby commented on #59743
On it

René Gröschke
@breskeby

[2020-07-17 06:13] astefan commented on #59665
Duplicate of https://github.com/elastic/elasticsearch/issues/59619.

[2020-07-17 06:59] #59619 closed

[2020-07-17 07:25] costin opened #59753 "QL: Wildcard support"
Now that wildcard support has landed in Elasticsearch, QL (EQL and SQL) should take advantage of it. This means:

- [x] Investigate if there's any special handling of the wildcard type in QL that is needed
- [x] Investigate whether different type of query translation is needed in order take advantage of this field. Currently it seems that is not needed as it will happen automatically.
- [x] Assess

[2020-07-17 07:25] elasticmachine commented on #59753
Pinging @elastic/es-ql (:Query Languages/SQL)

[2020-07-17 07:25] elasticmachine commented on #59753
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-07-17 07:29] costin opened #59754 "EQL: Expand case sensitive queries"
While doing performance testing, we discovered some cases where the mapping caused case sensitive/insensitive queries to fail. Due to the large volume of work it is unclear what failed - maybe it was a mapping issue, maybe a bug in how the queries get generated.
In the future, it would be useful to see whether we can validate such cases so instead of the query failing silently, we can verify that

[2020-07-17 07:29] elasticmachine commented on #59754
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-07-17 07:31] costin commented on #59707
After taking a quick look at the issue, it seems the problem lies in serializing the array/list of keys (which can be numbers or objects) on the rest client. In the transport layer, one can use `write/readGenericValue` but in the rest layer this needs to be known upfront, as there's no discovery thus likely requiring extra work.

[2020-07-17 07:33] geekpete commented on #33948
Is this feature still relevant with the recent code changes to how snapshots work?
Is there any risk to large storage capacity wastage if a bucket is used for snapshots without realising versioning is enabled for it?
Or are the objects that will see frequent versions created mostly smaller metadata files?

[2020-07-17 07:47] matriv commented on #59754
Currently Equals & NotEquals doesn't seem to take into account the case insensitivity, so while python will match events with case INsensitivity when using something like `myField = 'vaLUe'` (provided that caseInsensitive flag is correctly set), ES EQL will always be case sensitive.

If we want to match in a case insensitive manner we have to lowercase the field -> painless -> slower queries.

[2020-07-17 07:56] original-brownbear commented on #33948
We don't really do any overwrites any more. The only thing that is still annoying about versioning is that deletes might not work out and you need to configure a reasonable delete retention policy maybe so that your repo does not grow forever.

We only ever overwrite one blob, the `/index.latest` blob at the repository root and it's 8 bytes in size only.

-> I would close this issue for at least t

[2020-07-17 08:02] #59743 closed

[2020-07-17 08:04] tlrx commented on #58260
This test has been unmuted on 7.x (#59749), 7.9 (#59752) and 7.8 (#59750).

[2020-07-17 08:42] astefan commented on #59619
master (8.0.0): https://github.com/elastic/elasticsearch/pull/59745
7.x (7.10.0): https://github.com/elastic/elasticsearch/pull/59747
7.9 (7.9.0): https://github.com/elastic/elasticsearch/pull/59748

[2020-07-17 08:42] astefan commented on #59665
Fixed with the following PRs:
master (8.0.0): https://github.com/elastic/elasticsearch/pull/59745
7.x (7.10.0): https://github.com/elastic/elasticsearch/pull/59747
7.9 (7.9.0): https://github.com/elastic/elasticsearch/pull/59748

[2020-07-17 08:42] #59665 closed

[2020-07-17 08:43] #33948 closed

[2020-07-17 09:52] sqren opened #59757 "Add Application privileges for ML to `apm_user`"
APM has an integration with ML. In 7.8 and earlier this worked out of the box for users with the `apm_user` role because it was granted read access to `.ml-anomalies*`:

https://github.com/elastic/elasticsearch/blob/ea39a471a7a33eaaef667009d5c0c2b59b5c93d4/x-pack/plugin/core/src/main/java/org/elasticsearch/xpack/core/security/authz/store/ReservedRolesStore.java#L178-L186

In 7.9 it is no longer re

[2020-07-17 11:28] Jeet0027 commented on #59704
I have fixed this issue using `HighlightQuery` method, but this is an alternate

[2020-07-17 11:48] NoamShaish commented on #43917
Hi @jimczi could you please provide example how to define an index in such fashion?
reading the documentation:

Meaning I need first somehow turn 1558627800000000000 to the this format..... seems like missing support for nanos....

[2020-07-17 11:50] costin opened #59763 "EQL: Introduce filter pipeline"
Add support for EQL `filter` pipeline. In most cases this can be pushed down to the actual query.

[2020-07-17 11:50] elasticmachine commented on #59763
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-07-17 11:51] costin commented on #49627
Raised a dedicated issue for `filter` through #59763

[2020-07-17 12:17] costin opened #59764 "EQL: Stop using SearchHit in the response"
Currently EQL uses `SearchHit` for returning documents across all response types, whether it's an event query, sequence, join or otherwise.

This is problematic since from an API perspective, the response should only contain information about the `_source` or document itself, not care about whether something is the result of a search or not. To avoid leaking search information out, the `SearchHit`

[2020-07-17 12:17] elasticmachine commented on #59764
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-07-17 12:26] costin opened #59765 "EQL: Better abstraction for logical/physical plans"
The current model for EQL plans can be improved as in some cases, it is a bit low-level.
For example why EQL has support for `sort`, each query by default a `head` or `tail` position which is added through `LogicalPlanBuilder`.
This impacts the way matching is done, either `ASC` and `DESC` which influences the relationship between sequence queries (which are by `search_after` queries). This is cur

[2020-07-17 12:26] elasticmachine commented on #59765
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-07-17 12:27] costin opened #59766 "EQL: Finalize EQL Request/Response API"
There are several discussions around the API of EQL, in particular its response. The purpose of this meta issue is to have track all of them in one place.

- [x] ~~Response format~~ - whether to use the same structure across all responses or not (the current approach) #57018
- [x] ~~Pagination~~; revisit whether it is needed for GA or not #52913
- [x] Replace `SearchHit` with something else #59764

[2020-07-17 12:27] elasticmachine commented on #59766
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-07-17 12:41] rw-access commented on #59754
Related #56771 and #53603

[2020-07-17 12:45] #55267 closed

[2020-07-17 12:45] pugnascotia opened #59767 "[CI] Failures in DocsClientYamlTestSuiteIT {yaml=reference/snapshot-restore/apis/get-snapshot-status-api/line_309}"
**Build scan**:

https://gradle-enterprise.elastic.co/s/gs2c3e636a73s
https://gradle-enterprise.elastic.co/s/di5pmdh26jj2y

**Repro line**:

    ./gradlew ':docs:integTestRunner' --tests "org.elasticsearch.smoketest.DocsClientYamlTestSuiteIT.test {yaml=reference/snapshot-restore/apis/get-snapshot-status-api/line_309}" -Dtests.seed=580EE8BCEA3F32A5 -Dtests.security.manager=true -Dtests.locale=ar-BH

[2020-07-17 12:46] elasticmachine commented on #59767
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-07-17 12:51] original-brownbear commented on #59767
Ah this is coming from a new piece of documentation and the result of too strictly matching on file counts for segments that aren't completely deterministic. Will open a fix PR shortly.

[2020-07-17 12:54] droberts195 commented on #57645
#58917 provides the building block to fix this problem.  Now we can move on to add the `require_alias=true` flag to all our state and results writes.

[2020-07-17 13:24] elasticmachine commented on #58973
Pinging @elastic/es-analytics-geo (:Analytics/Graph)

[2020-07-17 13:33] imotov opened #59774 "Docs: document hard_bounds parameter in histograms"
In #59175 we added support for hard_bounds to histogram and date_histogram,  which is a counterpart to the existing  "extended_bounds" parameter, which would push out the boundaries of the histogram even if there wasn't data to fill the new bounds. It is needed to support unbounded ranges, which otherwise forces histogram to keep creating new buckets until the end of time since the range is unboun

[2020-07-17 13:34] elasticmachine commented on #59774
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-07-17 13:36] skmizuho commented on #38470
Following...
Until this is done, I was wondering what is the best practice on autodeleting the .monitoring indices after, say 30 days?

[2020-07-17 13:59] #58468 closed

[2020-07-17 14:06] dnhatn commented on #59683
@medcl It's a CCS, not CCR issue(The CCR label confused me). We need to reroute CCS requests to nodes that have the remote_cluster_client role.

[2020-07-17 14:06] elasticmachine commented on #59683
Pinging @elastic/es-search (:Search/Search)

[2020-07-17 14:13] jrodewig opened #59779 "EQL: Basic EQL queries return `hits.events.<num>.fields` property if timestamp is not `epoch_millis`"
If an index's timestamp field does not use the `epoch_millis` format, basic EQL queries return the timestamp as a `epoch_millis` value in the response's `hits.events.<num>.fields` property.

This property is not returned for sequence queries.

We currently hide this property in our docs. We should either remove the property or document it.

## Example

Index a doc.
[code]

Run a basic EQL query.
[

[2020-07-17 14:13] elasticmachine commented on #59779
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-07-17 14:17] #48366 closed

[2020-07-17 14:34] #59767 closed

[2020-07-17 14:42] albertzaharovits opened #59788 "[ML] MachineLearningIT testDeleteTrainedModel failure"
https://gradle-enterprise.elastic.co/s/665eciimpzxny

This has only failed once : https://gradle-enterprise.elastic.co/scans/tests?list.size=50&list.sortColumn=startTime&list.sortOrder=desc&search.buildToolType=gradle&search.buildToolType=maven&search.relativeStartTime=P28D&search.tags=CI&search.tags=not:pull-request&search.timeZoneId=Europe/Bucharest&tests.container=org.elasticsearch.client.Machi

[2020-07-17 14:42] elasticmachine commented on #59788
Pinging @elastic/ml-core (:ml)

[2020-07-17 14:54] #59694 closed

[2020-07-17 17:05] jrodewig opened #59802 "[data streams] Cannot retrieve stats for data stream with multiple backing indices"
**Elasticsearch version** (`bin/elasticsearch --version`): Latest `elasticsearch-8.0.0-SNAPSHOT-darwin-x86_64.tar.gz`

**Plugins installed**: []

**JVM version** (`java -version`):
openjdk version "14" 2020-03-17
OpenJDK Runtime Environment AdoptOpenJDK (build 14+36)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 14+36, mixed mode, sharing)

**OS version** (`uname -a` if on a Unix-like system):
Darw

[2020-07-17 17:05] elasticmachine commented on #59802
Pinging @elastic/es-core-features (:Core/Features/Data streams)

[2020-07-17 19:38] linyaru opened #59893 "Update docs to reflect Kibana 7.8 navigation"
**Kibana version:** 7.8

**Describe the bug:**

New Kibana navigation has re-organized modules, and existing documentation on accessing sub-modules are no longer accurate in certain places. For example, https://www.elastic.co/guide/en/elasticsearch/reference/current/get-started-users.html states that User management can be performed in **Management -> Security -> Users**, but this hierarchy no lon

[2020-07-17 19:52] #59802 closed

[2020-07-17 19:58] zuketo opened #59812 "[DOCS] Expand CCR Docs to Include Various Architectures"
We should consolidate all CCR architecture information to our docs, this may include a new section titled "Architectures" or we can create a new sub-section for each type of architecture highlighted.

Our [introduction blog post to CCR](https://www.elastic.co/blog/follow-the-leader-an-introduction-to-cross-cluster-replication-in-elasticsearch) listed three types of architectures:
- HA / DR
- Data

[2020-07-17 19:58] elasticmachine commented on #59812
Pinging @elastic/es-docs (>docs)

[2020-07-18 09:43] Bukhtawar opened #59824 "Improve node health checks to detect slow disk IO"
This is a follow-up from https://github.com/elastic/elasticsearch/pull/52680#issuecomment-626522885 where we'd want to detect slow disk IO, mark the node `UNHEALTHY` and eventually remove such node from the cluster as a single slow disk can cause operations like indexing to slow down the entire `_bulk`.

We need to finalise reasonable thresholds for marking the node `UNHEALTHY`.

[2020-07-18 13:16] zhongweikang opened #59825 "geoShapeQuery constructor supports new fields"
I want to use geoshape filter to retrieve the currently indexed polygon from another indexed polygon

I saw the prototype of GeoShapeQuery looks like this
`public static GeoShapeQueryBuilder geoShapeQuery(String name, String indexedShapeId, String indexedShapeType);`

It seems that the two fields indexedShapeIndex and indexedShapeFieldName are missing. If these two fields are supported, then I can

[2020-07-18 15:17] costin commented on #59779
Thanks - this is a side-effect of #59764. Essentially when passing the search results verbatim, they end up exposing more information than that of the source. Currently some of that is cleaned-up however going forward it would just be easier to move away from `SearchHit` all together.

[2020-07-18 17:08] alpparkan commented on #51691
Hi, if there is an agreed solution within the team I can work on this.

[2020-07-18 17:14] boicehuang opened #59829 "Enhancement on indices.fielddata.cache.size"
Currently,  [`indices.fielddata.cache.size`](https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-fielddata.html)  limits the max memory of field data cache by continuously discarding the least recently used one(LRU), defaults to unbounded.  Also,  `indices.breaker.fielddata.limit` is a limit of field data cache by refusing query when the active field data cache memory reached i

[2020-07-18 19:54] remmeier opened #59830 "invalid JAR packaging of high-level rest client by delivering com.sun.jna with elasticsearch jar"
**Elasticsearch version** 5.8

![image](https://user-images.githubusercontent.com/8008853/87860807-bdf10280-c940-11ea-9e9f-6d342540bdb2.png)

we have a project where two third-party components make use of jna. Because elastic uses a custom distribution in an own JAR, Gradle cannot resolve the conflict and bundles both versions into the application, which in turn causes errors when attempting to ac

[2020-07-19 03:25] dnhatn commented on #59494
I've added more logs to this test in https://github.com/elastic/elasticsearch/commit/120fe964022ca06cb4d4c7d4c97cfdf71199f504. Please reopen when it fails again.

[2020-07-19 03:25] #59494 closed

[2020-07-19 04:17] BountyCountry commented on #42326
@mayya-sharipova great to see this reopened.

There are a heap of application domains where our clients would like to make use of ANN for doc retrieval:

- Faster semantic search/boost using word-embeddings
- Duplicate detection / record matching of shorter n-gram tf-idf embeddings
- Drill-down/crawl-able visualisation of document clusters via successive ann calls, similar to https://cdn.rawgit.co

[2020-07-19 13:53] syedsouban commented on #54964
Hi @devanandch let me know if you are working on it, otherwise I would like to work on it. Thanks!

[2020-07-19 14:29] syedsouban commented on #46641
Hi, I am also interested in this one, I can work on it if @hanumanthan is not. Thanks!

[2020-07-19 14:40] medcl commented on #59683
@dnhatn Sorry for the confusion, you are right, it is a CCS issue. :)
it should not reroute requests to the nodes which remote connect was not enabled, but seems it does.

[2020-07-19 18:21] syedsouban commented on #54160
Hi, I use elasticsearch at work. I would like to contribute to elasticsearch. I was thinking if there are issues which I can work on as a new contributor. Thanks!

[2020-07-20 03:25] tvernum opened #59835 "Single docs section for "how to find your logs""
One of the common getting started problems is that a user will make a mistake while configuring their node, and it fails to start.

When they ask for help (e.g on the forums) the advice we want to give is _you need to look at the logs and see why it's failing_, but the location of the logs is dependent on the type of install they have. The correct instructions vary based on a combination of:
- Ope

[2020-07-20 03:25] elasticmachine commented on #59835
Pinging @elastic/es-docs (>docs)

[2020-07-20 03:25] elasticmachine commented on #59835
Pinging @elastic/es-core-infra (:Core/Infra/Packaging)

[2020-07-20 06:41] soroushtaheri opened #59841 ""_msearch" does not accept "_source" and "stored_fields" parameters"
Yesterday I wanted to use "_source" and "stored_fields" in my "_msearch" request but looks like they are not supported in the header section. I tried to read issues similar to my situation and I found [this message](https://github.com/elastic/elasticsearch/issues/4227#issuecomment-548222055) from @zacharymorn. As far as I am aware, there have been some updates in order to fix this issue but it loo

[2020-07-20 06:43] DaveCTurner commented on #59824
I think this is covered by our [earlier discussions](https://github.com/elastic/elasticsearch/issues/56707#issuecomment-636024417):

Therefore I am closing this.

[2020-07-20 06:43] #59824 closed

[2020-07-20 07:09] pgomulka commented on #54160
@syedsouban thank you for your interest in contributing to Elasticsearch. Have a look into these issues for the work that might be good for new contributors. https://github.com/elastic/elasticsearch/labels/good%20first%20issue

[2020-07-20 07:31] Bukhtawar commented on #59824
I think this is around slow disk and not IO hangs @DaveCTurner do you think disks don't degrade, espl Network backed file systems(I think a lot of folks use this.) I remember we enabled slow logging threshold for detecting such problems.

[2020-07-20 07:56] jpountz commented on #57400
@Bukhtawar This particular issue is fixed in Lucene 8.3/Elasticsearch 7.5.

@wuyunfeng Sorry for the late response. Your boolean queries are large, they must be indirectly referencing queries that either reference readers or large objects. It might be due to GlobalOrdinalsWithScoreQuery like @Bukhtawar but it might be something else as well. If/when this reproduces, could you look at the queries t

[2020-07-20 08:01] Bukhtawar commented on #57400
Thanks @jpountz for confirming

[2020-07-20 08:10] tine2k opened #59845 "Feature Reqeust: HighLevelRestClient TasksClient should include a way to retrieve task failures"
It should be possible to get failures of a completed task with the `get()` method of `TasksClient`. This is already returned by the task endpoint in this form:

[code]
However, this not mapped by high level rest client and hence not accessible by the consuming code.

My use case is the following: I am [starting a long-running reindex operation](https://www.elastic.co/guide/en/elasticsearch/client/

[2020-07-20 08:25] jpountz opened #59846 "Disable query cache for density-optimized use-cases?"
The query cache is a nice trick to speed up frequently run filters. But it's also pretty expensive as we allocate 10% of a node's heap to it. Using 10% of the heap to improve query efficiency makes sense to me for a Search use-case. But less for Security and Observability use-cases that optimize for density.

First, you can't cache many filters with 10% of a density-optimized node's heap. 30GB of

[2020-07-20 08:25] elasticmachine commented on #59846
Pinging @elastic/es-search (:Search/Search)

[2020-07-20 09:16] m-adams opened #59848 "Enabling run_as to specify any user in a role"
At the moment, you can specify` run_as` to allow impersonation of specific users. It would be useful if this could may to something more flexible like a role. That way, as users change, there is no requirement to continually update this setting.

[2020-07-20 09:16] przemekwitek opened #59849 "RepositoryAzureClientYamlTestSuiteIT test failing"
**Build scan**:
https://gradle-enterprise.elastic.co/s/ke54ul3g3xvtw

**Repro line**:

[code]

**Reproduces locally?**:
No

**Applicable branches**:
master

**Failure history**:

**Failure excerpt**:

[code]

[2020-07-20 09:25] elasticmachine commented on #59849
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-07-20 09:29] original-brownbear commented on #59849
I think this is just the SAS tokens used by CI having expired. I opened an issue for infra to look into this.

[2020-07-20 09:42] przemekwitek commented on #59849
Another occurrence on `6.8`: https://gradle-enterprise.elastic.co/s/hbywknxdhjrfe

[2020-07-20 09:49] jpountz opened #59852 "Time-based evictions for ordinal maps"
If you index time-based data, most of your indices are read-only so the fielddata cache never evicts. This can be problematic with one-off aggregations that would load ordinal maps into the cache, as this memory would never get reclaimed even if no queries leverage it. This leads our support team to recommend clearing the cache when the circuit breaker trips.

Should we implement time-based evicti

[2020-07-20 09:49] elasticmachine commented on #59852
Pinging @elastic/es-search (:Search/Search)

[2020-07-20 10:10] original-brownbear commented on #59849
I think for now all SAS token based test runs are broken. Test triage can ignore this issue for now until it's fixed I think, only infra can save us here.

[2020-07-20 10:25] przemekwitek commented on #59849
Thanks for checking, @original-brownbear !

[2020-07-20 10:45] wuyunfeng commented on #57400
@jpountz  We have a lot of `match` or `match_phrase` query in our `boolean` query, and a `script_score ` for custom scoring, and `aggs` for some field which like below:

[code]

[2020-07-20 10:47] wuyunfeng commented on #57400
In my `MAT` analysis result, I cannot see the `the queries that your boolean queries are referencing`, but I can provide the origin query, does it ok?

[2020-07-20 11:33] przemekwitek opened #59853 "GeoGridTilerTests.testGeoHashGridCircuitBreaker test failures on 7.9, 7.x and master during last few days"
**Build scan**:

https://gradle-enterprise.elastic.co/s/exgal5veba75y

**Repro line**:
[code]

**Reproduces locally?**:
No

**Applicable branches**:
`7.9`, `7.x`, `master`

**Failure history**:
4 failures:
https://gradle-enterprise.elastic.co/s/exgal5veba75y
https://gradle-enterprise.elastic.co/s/7tp4ufm4raoh6
https://gradle-enterprise.elastic.co/s/e4wgxvxqsvk3u
https://gradle-enterprise.elastic.c

[2020-07-20 11:33] elasticmachine commented on #59853
Pinging @elastic/es-analytics-geo (:Analytics/Geo)

[2020-07-20 11:36] original-brownbear commented on #59849
Infra fixed this now and I just got a clean build for this on master. This should return to green for the other branches on the next execution of their 3rd party tests as well => closing

[2020-07-20 11:36] #59849 closed

[2020-07-20 11:36] original-brownbear commented on #59849
Infra fixed this now and I just got a clean build for this on master. This should return to green for the other branches on the next execution of their 3rd party tests as well => closing

[2020-07-20 11:42] przemekwitek commented on #59145
Occurred again on `7.9`: https://gradle-enterprise.elastic.co/s/eqwbmcqriirci

[2020-07-20 12:35] #59492 closed

[2020-07-20 12:49] davidkyle commented on #59413
This test has been re-enabled in #59855 with extra logging.

[2020-07-20 13:15] #59367 closed

[2020-07-20 13:45] przemekwitek opened #59879 "RemoteClusterConnectionTests failing on 6.8"
**Build scan**:

https://gradle-enterprise.elastic.co/s/egmexshkcwg6i
https://gradle-enterprise.elastic.co/s/t6mwtrmt6e24k
https://gradle-enterprise.elastic.co/s/74hh3etfidq6g

**Repro line**:
[code]

**Reproduces locally?**:
No

**Applicable branches**:
6.8

**Failure excerpt**:

[code]

[2020-07-20 13:46] #58926 closed

[2020-07-20 13:46] elasticmachine commented on #59879
Pinging @elastic/es-search (:Search/Search)

[2020-07-20 13:54] #59774 closed

[2020-07-20 14:03] ywelsch commented on #59104
What's been the effect of this?

Are you perhaps close to your disk watermarks, which can cause shard movements?

I'm not aware of any changes in 7.8.0 that would explain the behavior observed. Is there any kind of pattern you see in these relocations? For example, is it always the same shards moving back and forth? The only option I see to debug this further would be to enable debug/trace logging

[2020-07-20 14:24] ddolcimascolo commented on #58926
Thx for fixing!

[2020-07-20 14:28] stu-elastic commented on #59647
Wrongly closed.

[2020-07-20 14:46] #46396 closed

[2020-07-20 14:48] jpountz commented on #57400
I don't think that the query you shared is responsible for the memory we're seeing retained by the cache. Even though your queries have many clauses, MAT reports that your boolean queries consume 25MB of heap, which is a lot for a query. So I'd be curious to see what type of queries are used as clauses of these boolean queries. Are some of your indices using parent/child relationships? You might b

[2020-07-20 14:52] nik9000 opened #59892 "Make sure all significant memory usage in aggs are tracked in BigArrays"
When we did #56487 we decided that it was important to do an inventory of all of the memory that aggregations allocate that is not part of `BigArrays`. We'd like to get everything tracked so we're less reliant on the real memory breaker catching stuff.

* [ ] `DeferringBucketCollector` subclasses aren't tracked.
* [ ] `matrix_stats`'s `RunningStats` has a bunch of `HashMap`s that aren't being trac

[2020-07-20 14:52] elasticmachine commented on #59892
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-07-20 14:53] #56487 closed

[2020-07-20 14:57] nik9000 commented on #58926
I'm just sorry it took so long! It should land with 7.9.

[2020-07-20 14:57] wuyunfeng commented on #57400
@jpountz I would confirm that tomorrow, and now  I just know our user maybe using nested-object. After we add more nodes to our ES Cluster, this fullgc have not appear again.

[2020-07-20 14:58] elasticmachine commented on #59893
Pinging @elastic/es-docs (>docs)

[2020-07-20 15:02] wuyunfeng commented on #57400
`consume 25MB of heap ` you means some - the cached `BitSetProducer`?

[2020-07-20 15:17] rw-access opened #59899 "QL: Push isCaseSensitive handling down to Configuration"
Related to #54411

There was a repeated pattern we kept running into when adding case handling (sensitivity/insensitivity toggles) to QL and EQL functions. We generally would make the relevant QL functions case sensitive, then we would subclass and change the handling.

It's an odd pattern, and we could instead make the Configuration provide `isCaseSensitive()`, defaulting to `true`, and refer to

[2020-07-20 15:17] elasticmachine commented on #59899
Pinging @elastic/es-ql (:Query Languages/EQL)

[2020-07-20 15:27] jpountz commented on #57400
No, I was looking at the "Accumulated Objects in Dominator Tree" table that you shared a screenshot of.

[2020-07-20 15:34] DaveCTurner commented on #8686
@godber this came up again internally and we found that these stats are indeed sometimes (often) missing or stale, so that might explain your issue. The fix would have been rather convoluted, and the correct stats are available from the allocation explain API, and/or can be computed from the stats API response, so we've reverted this change in #59755.

[2020-07-20 15:43] breskeby commented on #57920
We now have now removed all deprecated gradle api usage in `master`, `7.x`, `7.9` and `7.8` . We also enforce the build to fail if someone adds back usage of a deprecated gradle features / apis to keep the build clean. This should give us a good base to keep up with next gradle major releases and allow us to deal with future gradle deprecations easier.

[2020-07-20 15:43] #57920 closed

[2020-07-20 15:54] danhermann opened #59904 "Test failure in DataStreamsUpgradeIT::testDataStreams"
**Build scan**: https://gradle-enterprise.elastic.co/s/xlvenk2vqm7qw

**Repro line**: `./gradlew ':x-pack:qa:rolling-upgrade:v8.0.0#oldClusterTest' --tests "org.elasticsearch.upgrades.DataStreamsUpgradeIT.testDataStreams" -Dtests.seed=91493D55D1FF0C17 -Dtests.security.manager=true -Dtests.locale=pl -Dtests.timezone=America/Punta_Arenas -Druntime.java=11`

**Reproduces locally?**: No

**Applicable

[2020-07-20 15:54] elasticmachine commented on #59904
Pinging @elastic/es-core-features (:Core/Features/Data streams)

[2020-07-20 16:09] jasontedor commented on #59830
Re-packaging JNA for distribution in our artifacts is a deliberate choice, so that we only package native libraries for platforms that we support. The underlying problem here is not the re-packaging, but that a server dependency so easily leaks into client applications. For that, we want to eventually separate the client from the server: #41228. Therefore, I'm closing this issue in favor of that o

[2020-07-20 16:09] #59830 closed

[2020-07-20 16:39] talevy commented on #59853
sorry. investigating this again! kind of surprised this is happening so frequently now

[2020-07-20 16:44] Uzay-G opened #59910 "Many endpoints require a GET request with data in the body: this is a dissonance with respect to the HTTP spec"
Many endpoints of the elasticsearch api (ex: https://www.elastic.co/guide/en/elasticsearch/reference/current/run-a-search.html#run-request-body-search) require the user to send data through the GET body.

Roy Fielding, one of the authors of the HTTP spec, has said:

The request body for a GET request should **not** be useful, and this way of passing data can even damage certain projects. Foe examp

[2020-07-20 17:40] original-brownbear commented on #59744
@wenma it could be a JVM bug but more likely I think it is an issue with the underlying storage that ES is running on. I would make sure that there is no instabilities there.

That said this is not the place to track this kind of thing down I'm afraid as this appears to be a user question, and we'd like to direct these kinds of things to the [Elasticsearch forum](https://discuss.elastic.co/c/elast

[2020-07-20 17:40] #59744 closed

[2020-07-20 18:04] #53723 closed

[2020-07-20 19:24] archon810 commented on #42523
We'd like to use microseconds and are running into the same issue. Can we give this one a bump please?

[2020-07-20 19:52] dnhatn commented on #59683
@medcl No worry. Thanks for reporting the bug :).

[2020-07-20 20:02] jimczi opened #59931 "Highlighting should leverage the new field retrieval API"
In #55363 we're adding a core functionality to retrieve field content from the mappings. Today highlighting is limited to fields that are contained in the `_source` or stored explicitly. Switching to the new API would allow to highlight alias, copy_to and multi-fields seamlessly without requiring the targeted field to be included in the `_source`. As such, this issue can be seen as a follow up of

[2020-07-20 20:02] elasticmachine commented on #59931
Pinging @elastic/es-search (:Search/Highlighting)

[2020-07-20 20:04] jimczi commented on #58576
The bug is fixed in [Lucene](https://issues.apache.org/jira/browse/LUCENE-9418) and will be included in the next minor release of Elasticsearch (`7.9.0`), hence closing. Thanks for reporting @bperalta !

[2020-07-20 20:04] #58576 closed

[2020-07-20 20:09] #59495 closed

[2020-07-20 20:19] elasticmachine commented on #59848
Pinging @elastic/es-security (:Security/Authorization)

[2020-07-20 21:09] danhermann opened #59935 "Test failure in IndexingIT::testIndexing"
**Build scan**: https://gradle-enterprise.elastic.co/s/4jme3x7byxxve

**Repro line**: `./gradlew ':qa:rolling-upgrade:v7.8.1#oldClusterTest' --tests "org.elasticsearch.upgrades.IndexingIT.testIndexing" -Dtests.seed=12DF798394B5D8E2 -Dtests.security.manager=true -Dtests.locale=ms-MY -Dtests.timezone=SystemV/MST7 -Druntime.java=8`

**Reproduces locally?**: No

**Applicable branches**: `7.9`

**Failu

[2020-07-20 21:09] elasticmachine commented on #59935
Pinging @elastic/es-core-features (:Core/Features/Data streams)

[2020-07-20 21:17] JathinSanghvi commented on #48003
Currently i was able to setup a template that matches the rollup index and set a ilm policy via the template. this ilm policy is for the rollup indices and have steps similar to normal policy, this way i was able to set a roll over the rollup index and also set up a delete phase for it.

[2020-07-20 22:44] #59853 closed

[2020-07-21 01:15] godber commented on #8686
@DaveCTurner thanks for remembering me and pinging me here!

[2020-07-21 04:58] wuyunfeng commented on #57400
@jpountz  Our user have nested query likes below:

[code]
This query would use `ESToParentBlockJoinQuery(ES)/ToParentBlockJoinQuery(Lucene)`

[2020-07-21 05:13] wuyunfeng commented on #57400
I noticed this Lucene PR: https://github.com/apache/lucene-solr/pull/963/ ,  some comments add by @jimczi

[code]
ToParentBlockJoinQuery holds a `BitSetProducer` which cached by ES's `BitsetFilterCache`, is this the reason for our ES cluster `fullgc` periodically?

[2020-07-21 05:33] nkovacic commented on #47117
Having the same issue, it would be better if error is thrown that it does not work on nested and multi value fields.

[2020-07-21 05:41] steve-mushero opened #59945 "[DOCS] - Shrinking Index - Include remove replicas"
In the doc for shrink index:

1) it seems best practice to remove replicas first, but this is not in the doc page anywhere.
2) This page does not explain why the cluster health must be green, which would not seem that important.
3) The page says "These three conditions can be achieved with the following request:" which, from how it's written, includes making the cluster green, which is impossible

[2020-07-21 07:07] aclowkey opened #59946 "Aggregating _ignored field values"
When dealing with lots of data and lots of users, having the `ignore_malformed` option is great!
And using it in combination with _ignored field can give a lot of information about what is wrong with the data.

But unfortunately we can't aggregate on it, so it's hard to give an overview of which fields had issues in the last X hours.

I think it would be very useful to add .keyword for _ignored fi

[2020-07-21 07:54] przemekwitek opened #59947 "Rename `binary_soft_classification` to `outlier_detection`"
There is confusion in the Evaluate API between `classification` and `binary_soft_classification` terms (the user may be confused which one of these two should they be using in a particular case).
As `binary_soft_classification` is used as means to evaluate outlier detection analysis, we should rename `binary_soft_classification` to `outlier_detection`.

Note: Ultimately, we may want to be able to

[2020-07-21 07:54] elasticmachine commented on #59947
Pinging @elastic/ml-core (:ml)

[2020-07-21 08:50] jpountz commented on #57400
@wuyunfeng This looks like a likely cause of the problem you are seeing to me.

[2020-07-21 08:54] cbuescher commented on #56507
I'm seeing several similar looking failures today, seems to have started some time around yesterday on 7.8 to 7.x branches.
Here are the most recent ones. Since the error seems JDK related I add that here too:

7.8:  https://gradle-enterprise.elastic.co/s/u3obnnvb4b2a2 (ES_RUNTIME_JAVA=zulu8)
7.x:  https://gradle-enterprise.elastic.co/s/jphxevpnnnuza (ES_RUNTIME_JAVA=zulu8)
7.8: https://gradle-ent

[2020-07-21 08:57] wuyunfeng commented on #57400
@jpountz  the reason is what I mentioned?

[2020-07-21 09:01] jpountz commented on #57400
Yes this is correct. I can't be 100% sure but this looks plausible given the symptoms and the query you shared.

[2020-07-21 09:13] cbuescher commented on #58806
Just fyi: another one today https://gradle-enterprise.elastic.co/s/qknibt7pplgzi

[2020-07-21 09:28] cbuescher opened #59952 "AutoFollowIT.testAutoFollowParameterAreDelegated failure"
**Build scan**:

https://gradle-enterprise.elastic.co/s/mupt6hgagq5zw

**Repro line**:

./gradlew ':x-pack:plugin:ccr:internalClusterTest' --tests "org.elasticsearch.xpack.ccr.AutoFollowIT.testAutoFollowParameterAreDelegated" \
  -Dtests.seed=B9F4B0CE61B09DE3 \
  -Dtests.security.manager=true \
  -Dtests.locale=ar-JO \
  -Dtests.timezone=America/Dawson \
  -Druntime.java=11

**Reproduces locally?*

[2020-07-21 09:28] elasticmachine commented on #59952
Pinging @elastic/es-distributed (:Distributed/CCR)

[2020-07-21 09:28] cbuescher commented on #59952
And another one earlier today: https://gradle-enterprise.elastic.co/s/mupt6hgagq5zw

[2020-07-21 09:29] wuyunfeng commented on #57400
@jpountz Can we add the same cache policy for `ToParentBlockJoinQuery` like this PR : https://github.com/apache/lucene-solr/pull/963

I will continue to pay attention all query sent to ES today.

[2020-07-21 09:37] elasticmachine commented on #59946
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-07-21 09:38] elasticmachine commented on #59945
Pinging @elastic/es-docs (>docs)

[2020-07-21 09:45] jpountz commented on #57400
@wuyunfeng Sorry I got confused and mixed up issues. I don't think that `ToParentBlockJoinQuery` has a problem. It doesn't directly reference a bitset like `GlobalOrdinals(WithScore)Query`, and the reader keys do not reference the readers (it used to be the case long ago, but this has been fixed in Lucene 7.0/Elasticsearch 6.0).

[2020-07-21 09:52] cbuescher commented on #57411
Another one today on 7.8: https://gradle-enterprise.elastic.co/s/iacrqhs6a2lwe

[2020-07-21 09:54] pugnascotia commented on #59910
@Uzay-G All our search APIs also support the `POST` method, so you're not required to use `GET`. However, removing `GET` at this point would be time-consuming and quite painful, so thank you for taking the time to raise an issue, but I'm going to close this issue.

[2020-07-21 09:54] #59910 closed

[2020-07-21 09:55] elasticmachine commented on #59845
Pinging @elastic/es-core-features (:Core/Features/Java High Level REST Client)

[2020-07-21 09:56] elasticmachine commented on #59825
Pinging @elastic/es-analytics-geo (:Analytics/Geo)

[2020-07-21 09:57] elasticmachine commented on #59704
Pinging @elastic/es-search (:Search/Highlighting)

[2020-07-21 10:04] jimczi commented on #59704
Can you share the mapping of your fields ? We have an [open issue](https://github.com/elastic/elasticsearch/issues/49069) regarding the highlighting of prefix queries when using the [`index_prefixes`](https://www.elastic.co/guide/en/elasticsearch/reference/master/index-prefixes.html) option or [`search_as_you_type`](https://www.elastic.co/guide/en/elasticsearch/reference/master/search-as-you-type.

[2020-07-21 10:14] jpountz commented on #57400
IMO the most efficient strategy would be to further analyze the heap dump next time you get one.

[2020-07-21 10:19] jimczi commented on #59841
`_source`  and `stored_fields` can be set in the body section of the _msearch request so we don't consider this as an issue.
Considering the custom format that `_msearch` uses, the header section is generally for options that cannot be set in the body. Is there a particular reason why you would like to set these options in the header and not in the body ?

[2020-07-21 10:43] wuyunfeng commented on #57400
@jpountz

`ToParentBlockJoinQuery` reference the `parentBits` by `BitsetFilterCache` which cached in `Cache<IndexReader.CacheKey, Cache<Query, Value>> loadedFilters`

OK. I would close this issue .  Do you mind reopening this issue when I get the heap dump next time ?

[2020-07-21 10:45] cbuescher opened #59956 "[CI] SLMSnapshotBlockingIntegTests.testSLMRetentionAfterRestore failure"
**Build scan**:

https://gradle-enterprise.elastic.co/s/7qn5kbuvv52le

**Repro line**:

./gradlew ':x-pack:plugin:ilm:test' --tests "org.elasticsearch.xpack.slm.SLMSnapshotBlockingIntegTests.testSLMRetentionAfterRestore" \
  -Dtests.seed=FC982EB81E7E317B \
  -Dtests.security.manager=true \
  -Dtests.locale=es-AR \
  -Dtests.timezone=Asia/Taipei \
  -Druntime.java=11

**Reproduces locally?**:

No

[2020-07-21 10:45] elasticmachine commented on #59956
Pinging @elastic/es-core-features (:Core/Features/ILM+SLM)

[2020-07-21 10:46] soroushtaheri commented on #59841
As I normally use `_source` and `stored_fields` in the **header** section of a `_search` request and also based on the documentation for Multi Search API, I thought I should do the same when using `_msearch`. But apparently, as you just said, using them in the body section works perfectly (and I wasn't aware of that, I have no idea why ...).
So I believe my problem is solved now. Thanks for your r

[2020-07-21 10:46] #59841 closed

[2020-07-21 10:46] wuyunfeng commented on #57400
Can you share the PR or issue for this bug-fix?

[2020-07-21 11:02] wuyunfeng commented on #57400
![image](https://user-images.githubusercontent.com/5183061/88047632-81ade400-cb84-11ea-9e82-013bebd58dbc.png)

BTW, the long[]  consume almost 20G+ JVM memory, does it is the `bitset`?

![image](https://user-images.githubusercontent.com/5183061/88047684-94c0b400-cb84-11ea-89a0-35d15b3eeec6.png)

SegmentReader consume almost 17G+.

I just confused with this two object `SegmentReader` and `long[]`

[2020-07-21 11:16] cbuescher commented on #59145
Other failures in this task today. These look different from the errors above, not sure if they are transitory either:

https://gradle-enterprise.elastic.co/s/aadcuqsxq6ayc/console-log/raw?task=:qa:os:destructiveBatsTest.upgrade

[code]
and several failures that might be follow-ups.

[2020-07-21 11:43] jpountz commented on #57400
Hard to tell, these long[] could be bitsets, but Lucene and Elasticsearch also use large long[] arrays elsewhere so I wouldn't jump to conclusions.

My suspicion is that you're seeing so much RAM usage for SegmentReader because it indirectly points to many of the long[] arrays that are in your heap. This typically happens because caches register listeners on to readers, which makes the readers ref

[2020-07-21 12:41] cbuescher commented on #59879
More of these today, only on 6.8, e.g.: https://gradle-enterprise.elastic.co/s/hg6d6bkvdz5pg

I think we should mute this test on the 6.8 branch
Looking at the history, this seems to have picked up starting sometime on July 15th, https://gradle-enterprise.elastic.co/s/cwvrkl6barm4w

[2020-07-21 12:42] elasticmachine commented on #59945
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-07-21 12:45] Patrick0308 commented on #59332
Can I help you with this exciting work?

[2020-07-21 12:53] cbuescher commented on #59879
I muted this test on 6.8 with 04f24ace5a2d154bf18c3caf1c3bccd4584c324d

[2020-07-21 13:03] nik9000 commented on #59825
It looks like this issue is about adding the other ctors for the GeoShapeQueryBuilder into the QueryBuilders class for the clients. I've never been a huge fan of QueryBuilders but I think we should add them to be consistent. In the mean time, you can work around this by calling the constructor directly.

[2020-07-21 13:38] DaveCTurner commented on #59824
I think the best way to address that would be to document a more explicit recommendation to avoid using network file systems for the data path. Today we say to avoid them for [performance](https://www.elastic.co/guide/en/elasticsearch/reference/current/tune-for-indexing-speed.html#_use_faster_hardware) [reasons](https://www.elastic.co/guide/en/elasticsearch/reference/current/tune-for-search-speed.

[2020-07-21 13:58] original-brownbear commented on #59956
This is not the same as #59140. This one looks like the result of a very slow CI run  (snapshot creation taking ~4s and deletion ~12s for trivial snapshots ... I'll fix this by increasing the test timeout that we hit here).

[2020-07-21 14:54] cbuescher opened #59986 "[CI] Frequent failures in MixedClusterClientYamlTestSuiteIT running snapshot yaml tests"
**Build scan**:

https://gradle-enterprise.elastic.co/s/xbmzozo4o7tgw
https://gradle-enterprise.elastic.co/s/hymnioyws47co
https://gradle-enterprise.elastic.co/s/ixigz3nn3jsmg

**Repro lines**:
REPRODUCE WITH: ./gradlew ':qa:mixed-cluster:v7.1.1#mixedClusterTest' --tests "org.elasticsearch.backwards.MixedClusterClientYamlTestSuiteIT" \
  -Dtests.method="test {p0=snapshot.get/10_basic/Get snapshot

[2020-07-21 14:54] elasticmachine commented on #59986
Pinging @elastic/es-distributed (:Distributed/Snapshot/Restore)

[2020-07-21 15:15] cbuescher commented on #56507
This is probably related too: https://gradle-enterprise.elastic.co/s/xy7b6zqcjegva/console-log?task=:plugins:repository-hdfs:secureHdfsFixture

[2020-07-21 15:32] cbuescher commented on #58841
This looks similar to the issue mentioned here. @droberts195 should this be fixed on 7.x or is this a different issue?
https://gradle-enterprise.elastic.co/s/xnrdv7s6r64ks

[2020-07-21 15:33] original-brownbear commented on #59986
There's a real bug in the `7.x` BwC logic here introduced by the concurrent snapshots work. I'm on it.

[2020-07-21 15:41] Bukhtawar commented on #59824
Thanks @DaveCTurner while as you agree network backed disks aren't resilient enough the way it stands. But do you think this proposal can improve resiliency for these systems if you think this might be straight forward and user configurable, maybe off by default

[2020-07-21 15:46] #59956 closed

[2020-07-21 15:52] mark-vieira commented on #56507
The Zulu and JDK 15 builds have been around for some time now. It's possible a recent update to those JDKs is causing issues.

[2020-07-21 16:13] cbuescher opened #59992 "[CI] SSLDriverTests.testCloseDuringHandshakePreJDK11 failure"
**Build scan**:

https://gradle-enterprise.elastic.co/s/ahz2ynpcdojem

**Repro line**:

./gradlew ':x-pack:plugin:security:test' --tests "org.elasticsearch.xpack.security.transport.nio.SSLDriverTests.testCloseDuringHandshakePreJDK11" \
  -Dtests.seed=5F3BA4437FFF1B03 \
  -Dtests.security.manager=true \
  -Dtests.locale=mk \
  -Dtests.timezone=Africa/Libreville \
  -Druntime.java=8

**Reproduces lo

[2020-07-21 16:24] #50606 closed

[2020-07-21 16:39] elasticmachine commented on #50375
Pinging @elastic/es-docs (>docs)

[2020-07-21 17:28] cbuescher opened #60000 "[CI] Failure in NetworkDisruptionIT.testJobRelocation"
**Build scan**:

https://gradle-enterprise.elastic.co/s/ldu5q6cjmrmn4

**Repro line**:

./gradlew ':x-pack:plugin:ml:internalClusterTest' --tests "org.elasticsearch.xpack.ml.integration.NetworkDisruptionIT.testJobRelocation" \
  -Dtests.seed=A39CE63DA6870781 \
  -Dtests.security.manager=true \
  -Dtests.locale=ar-IQ \
  -Dtests.timezone=Atlantic/Cape_Verde \
  -Druntime.java=11

**Reproduces local

[2020-07-21 17:28] elasticmachine commented on #60000
Pinging @elastic/ml-core (:ml)

[2020-07-21 17:34] stu-elastic opened #60001 "Expose constant fields used by script"
This will allows runtime fields to validate that scripts only use fields available and facilitate cycle detection.

* One advanced feature here is users only see doc as part of the "main" method in Painless. If doc is passed into a user-defined function this must be tracked and the parameter in the function must also add constant fields used as part of doc.

* Handle doc aliasing (`def foo = doc`)

[2020-07-21 17:34] elasticmachine commented on #60001
Pinging @elastic/es-core-infra (:Core/Infra/Scripting)

[2020-07-21 17:38] stu-elastic opened #60002 "Optionally disallow dynamic field access in script"
For validation of runtime field script and cycle detection, add the ability to reject dynamic script access.

We can do this in phases if necessary, first only allow string constants, then relax to allowing read-only variables, finally relax to variables that only use constant strings.

We also have to handle doc being assigned to another variable, we can disallow it #60001 temporarily.

Related:

[2020-07-21 17:38] elasticmachine commented on #60002
Pinging @elastic/es-core-infra (:Core/Infra/Scripting)

[2020-07-21 17:44] cbuescher opened #60003 "[CI] Active monitoring task still active after Rest tests"
**Build scan**:

https://gradle-enterprise.elastic.co/s/mjl3zjba3apcy

**Repro line**:

./gradlew ':x-pack:plugin:integTestRunner' --tests "org.elasticsearch.xpack.test.rest.XPackRestIT.test {p0=ml/jobs_crud/Test job with categorization_analyzer and categorization_filters}" \
  -Dtests.seed=7BC21AB0D777E7C1 \
  -Dtests.security.manager=true \
  -Dtests.locale=es-AR \
  -Dtests.timezone=EST5EDT \

[2020-07-21 17:44] elasticmachine commented on #60003
Pinging @elastic/ml-core (:ml)

[2020-07-21 18:12] rjernst commented on #44150
The solution here is to add BigInteger support to StreamInput/StreamOutput. We discussed that last week within core/infra, and agreed it is worthwhile to add. The change should be relatively simple, as BigInteger supports reading/writing as an array of bytes, but it is not a priority, so I am marking this issue as `adoptme`.

[2020-07-21 19:06] ravikesarwani commented on #50032
Had a quick sync up to discuss this issue between @jakelandis @chrisronline @igoristic @ravikesarwani.
We will try to get this code delivered for 7.10 with both changes on ES and SM.

- ES team will provide an API/cluster setting that when set will remove the 6 watchers and also modify the code so that the 6 watcher's aren't created again.
- Stack monitoring team will create the 6 replacement Kiba

[2020-07-21 19:20] #59491 closed

[2020-07-21 19:40] mburrows02 opened #60009 "Allow setting min_doc_count in Java client"
It would be nice if the CompositeValuesSourceBuilder classes had a way to set the min_doc_count parameter.

For context: I'm using a [DateHistogramValuesSourceBuilder](https://artifacts.elastic.co/javadoc/org/elasticsearch/elasticsearch/7.8.0/org/elasticsearch/search/aggregations/bucket/composite/DateHistogramValuesSourceBuilder.html) to get daily stats over the course of a month. The results are

[2020-07-21 19:45] elasticmachine commented on #60009
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-07-21 21:02] jamesdorfman opened #60021 "Bucket merging during collection leads to incorrect doc numbers"
**Description of the problem**:
`MergingBucketsDeferringCollector` is used by some bucket aggregations such as `auto_date_histogram` to merge buckets during collection.

This deferring collector has a `mergeBuckets` method which can be used to merge buckets or delete them. When buckets are deleted in the middle of collection (by being set to -1 in the merge map), subsequent documents will  be coll

[2020-07-21 21:26] elasticmachine commented on #60021
Pinging @elastic/es-analytics-geo (:Analytics/Aggregations)

[2020-07-22 07:27] probakowski commented on #56507
Another instance of this: https://gradle-enterprise.elastic.co/s/fh2hmhsjyc6ii/tests/failed

[2020-07-22 07:36] probakowski commented on #56891
There is another instance of this: https://gradle-enterprise.elastic.co/s/5omyzkgisb4r6/tests/:x-pack:plugin:ccr:internalClusterTest/org.elasticsearch.xpack.ccr.AutoFollowIT/testAutoFollowManyIndices#1
Again, it looks like it couldn't make it in time

[2020-07-22 07:49] probakowski commented on #57411
And another one https://gradle-enterprise.elastic.co/s/sgymbr4bsmlny

[2020-07-22 08:13] boicehuang opened #60037 "Add timeout for Search Network Action to Improve Cluster Resistance"
## Issue
Currently, the coordinate node sends [Query](https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/action/search/SearchTransportService.java#L138) and [Fetch](https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/action/search/SearchTransportService.java#L163) network action to remote data nodes without any timeou

[2020-07-22 08:15] original-brownbear commented on #59986
Fixed by https://github.com/elastic/elasticsearch/pull/60006

[2020-07-22 08:15] #59986 closed

[2020-07-22 08:17] probakowski opened #60039 "[CI]TimeSeriesLifecycleActionsIT › testUpdateRolloverLifecycleDateStepRetriesWhenRolloverInfoIsMissing"
**Build scan**: https://gradle-enterprise.elastic.co/s/6onhocftd4dnu/

**Repro line**: ./gradlew ':x-pack:plugin:ilm:qa:multi-node:integTestRunner' --tests "org.elasticsearch.xpack.ilm.TimeSeriesLifecycleActionsIT.testUpdateRolloverLifecycleDateStepRetriesWhenRolloverInfoIsMissing" -Dtests.seed=6A643C1AF9075FB4 -Dtests.security.manager=true -Dtests.locale=hu -Dtests.timezone=America/Recife -Drunti

[2020-07-22 08:19] probakowski commented on #58806
And another one https://gradle-enterprise.elastic.co/s/5tbhtrr6d4b44

[2020-07-22 08:34] DaveCTurner commented on #60037
The bad consequences of a disk failure are likely much more widespread than searches alone. However I think the problem described here will be improved in 7.9 thanks to https://github.com/elastic/elasticsearch/pull/52680 which will remove a node from the cluster fairly promptly if its disk fails. Would you confirm or otherwise that this improves your experience?

[2020-07-22 08:35] elasticmachine commented on #60037
Pinging @elastic/es-search (:Search/Search)

[2020-07-22 08:36] droberts195 commented on #58806
#60040 is an attempt to mute this test in all EAR builds but leave it running in non-EAR builds.

[2020-07-22 08:44] jgowdyelastic opened #60041 "manage_pipeline requires nodes info privilege to create pipeline"
A user assigned the privilege `manage_pipeline` or the role `ingest_admin` is not able to create a new ingest pipeline without also having the privilege `cluster:monitor/nodes/info`

[2020-07-22 08:46] boicehuang commented on #60037
@DaveCTurner. Thanks for your reply.  I think read-only filesystems is not enough. We also need to handle Overload situation. Although the disk is heavily loaded and its util may reach 95%, it can still handle write or read operation very slowly.

[2020-07-22 08:50] Bukhtawar commented on #60037
This is interesting I opened https://github.com/elastic/elasticsearch/issues/59824. Not sure if that helps with your case @boicehuang

[2020-07-22 08:58] elasticmachine commented on #59829
Pinging @elastic/es-search (:Search/Search)

[2020-07-22 09:04] elasticmachine commented on #60041
Pinging @elastic/es-security (:Security/Authorization)

[2020-07-22 09:08] droberts195 commented on #60041
It was agreed on Slack that this is a bug.

I will open a PR to add the missing permission for 7.9.  Not fixing it causes a very slight breaking change for the ML file data visualizer in 7.9 as we've moved most of the ML UI to using Kibana privileges.

[2020-07-22 09:26] boicehuang commented on #60037
In my experience, most requests don't need a timeout, except for heavy aggregations stuck in coordinate nodes. It can easily cause a lot of nodes of the cluster to full GC and become unresponsive in disk heavy-loads or failure. That is why I mentioned search requests as above.

[2020-07-22 09:35] devanandch commented on #54964
Hi @syedsouban i am working on it.

[2020-07-22 09:55] hendrikmuhs opened #60043 "Composite aggs should support missing"
Composite aggs allows the user to specify `"missing_bucket":true` which has been implemented for rollup to handle sparse data.

For transform it would be good to support `missing` in addition, see #48243

## Comparison missing_bucket and missing

### missing_bucket

 - maps non-existing fields to a bucket with key null
 - its not possible to collapse the bucket into the bucket of the same value, e

[2020-07-22 11:50] #59904 closed

[2020-07-22 12:07] droberts195 commented on #60041
There's been a change of plan.  Instead of modifying the permissions I'll change the put pipeline action to call get nodes info in the system context.  It's an internal implementation detail that the user shouldn't be aware of.

[2020-07-22 12:45] #59952 closed

[2020-07-22 12:53] georgettica commented on #47764
hey! what is the state of this issue? curious to know and help if I can

[2020-07-22 14:17] loicmathieu commented on #29184
For the record, in Quarkus we add the following exclusions to the Elasticsearch High Level Client dependency.
I used `jdeps` to find what is really needed by the Elasticsearch High Level Client.
Maybe this can be done upstream.

[code]

[2020-07-22 14:35] ywelsch commented on #56891
Relevant log line:

[code]

The reason the test is failing is because the follow request submitted by `AutoFollowCoordinator` ran into a timeout (30 seconds by default) because of a busy master, and did not retry. This is a CCR bug that needs to be fixed. One part of it is making the timeout on the request unbounded.

[2020-07-22 14:47] ndemasie commented on #46034
This would be a fantastic feature to have.
It is confusing to the user when the composite bucket `date_histogram` has different supported options than the aggregate `date_histogram` with the same name.

[2020-07-22 14:47] jaymode commented on #52610
Another occurrence on 7.x: https://gradle-enterprise.elastic.co/s/sjj3dzchr5nau

[code]

[2020-07-22 14:53] jimczi commented on #46034
I am not sure I understand how that could be useful ? Could you provide an example or a use case where that would be helpful to support this option. I failed to see what should be the behavior if you have more than a single source (e.g.: `date_histogram` + `terms` ... in any order).

[2020-07-22 15:37] ndemasie commented on #46034
@jimczi Thanks for the quick response.

Currently, I have a query like...
[code]

Each of the composite sources is dynamically loaded via a UI "breakdowns" multi-select. The returned data is transformed and returned in a [Google Chart](https://developers.google.com/chart/interactive/docs/gallery).

The business department has introduced a requirement that date breakdowns should include all dates o

[2020-07-22 16:14] #59893 closed

[2020-07-22 16:21] elasticmachine commented on #59893
Pinging @elastic/es-security (:Security/Authentication)

[2020-07-22 17:10] #59945 closed

[2020-07-22 17:27] #48630 closed

[2020-07-22 17:30] lockewritesdocs commented on #56069
All snapshot and restore APIs are documented 🎉  Marking this issue as closed.

[2020-07-22 17:30] #56069 closed

[2020-07-22 17:56] jimczi commented on #59931
Highlighting already work for multi-fields and aliases so the switch would only be helpful to retrieve the content of copied fields (the source of the `copy_to`). Sorry for the confusion. However, that alone would be a nice addition since we don't want users to rely on `stored` fields just for highlighting.

[2020-07-22 20:25] fbaligand commented on #29184
Thanks for the share @loicmathieu !

[2020-07-22 21:52] jbaiera opened #60097 "[UI] Creating a data stream enabled index template without mappings leads to unresponsive UI"
**Stack version**: 7.9.0 - early release candidate

[code]

**Description of the problem including expected versus actual behavior**:

When creating an index template via the `Index Management` UI, the creation can fail.

**Steps to reproduce**:

 1. From the navigation tab -> Stack Management -> Sidebar: Data: Index Management -> Tab: Index Templates
 2. Click create template
 3. In the wizard, s

[2020-07-22 21:52] elasticmachine commented on #60097
Pinging @elastic/es-core-features (:Core/Features/Indices APIs)

[2020-07-22 22:21] jtibshirani commented on #52591
@stu-elastic how to you see this relating to https://github.com/elastic/elasticsearch/issues/25168? Would it make sense to close one of the two issues?

[2020-07-23 01:35] ktate-suse opened #60101 "Commercially Support Elasticsearch on SUSE Linux Enterprise 15"
A number of SUSE customers who run Elasticsearch on SUSE Linux Enterprise 12 want to move up to SLES 15. They are asking for Elasticsearch commercial support on SLES 15. SUSE doesn't deliver this support. The Elastic teams do.
The SUSE Technology Partners team would like to work with the Elasticsearch development team get SLES 15 integrated into their regular QA testing and support cadence so they

[2020-07-23 04:26] ywangd opened #60102 "Support more types for OIDC claim mapping"
When mapping claims to user properties, we currently only support primitive types (String, Number, Boolean) or array of these primitive types (#58524). There are however useful cases where supporting more types could be useful. For an example,  support `Map<String, String>` would allow us to map a claim like `claims.dn: federated_claims.user_id`.

In addition, oidc standard claims include an addre

[2020-07-23 04:32] elasticmachine commented on #60102
Pinging @elastic/es-security (:Security/Authentication)

[2020-07-23 07:34] ywelsch commented on #58712
There's no difference in this component when it comes to OSS vs non-OSS version. This rather sounds like a usage bug, where  things sometimes work based on timing.

This is the expected behavior. Shutting down half or more of the master-eligible nodes at once will make your cluster unavailable.

In any case, this is more like a user question than a bug, which is better clarified at discuss.elastic

[2020-07-23 07:34] #58712 closed

[2020-07-23 07:40] ywelsch commented on #53751
Closed by #57792

[2020-07-23 07:40] #53751 closed

[2020-07-23 07:43] ywelsch commented on #41632
As this hasn't come up in recent times (so looks to be less of an actual issue), I will close this.

[2020-07-23 07:43] #41632 closed

[2020-07-23 07:53] ywelsch commented on #37286
The storage format for metadata has changed in recent ES version (7.6+), and is now Lucene-based. Given how few cases we have seen of metadata corruption (due to faulty hardware), I don't see the need to build automated tooling to support this (instead it should be treated as a full node failure).

[2020-07-23 07:53] #37286 closed

[2020-07-23 08:05] ywelsch commented on #35975
@tbrooks8 can you check what remains to be done here so that we can close this issue?

[2020-07-23 08:49] #40244 closed

[2020-07-23 08:56] ywangd opened #60105 "SAML metadata with dots in its name cannot be used in Mustache expression"
When saml attributes are populated as user metadata, if an attribute does not hav a friendly name, it will only be mapped to a metadata field of name `saml(NAME)`. The name of a saml attribute often contains dots, e,g, `urn:oid:2.5.4.42`. When it is used in DLS/FLS template, Mustache is *not* able to process correctly since dots are special in Mustache expressions.

[2020-07-23 08:56] elasticmachine commented on #60105
Pinging @elastic/es-security (:Security/Authentication)

[2020-07-23 09:20] ywelsch commented on #49067
@tbrooks8 Can we close this?

[2020-07-23 09:26] jkakavas commented on #60102
Relates: https://github.com/elastic/elasticsearch/issues/55658

[2020-07-23 09:27] ywelsch commented on #50055
I have not seen any kind of similar reports on any recent version of ES, which is why I'm closing this.

[2020-07-23 09:27] #50055 closed

[2020-07-23 09:33] ywelsch commented on #58409
Can we close this?

[2020-07-23 09:37] original-brownbear commented on #58409
Yea let's close it this was fixed in Cloud.

[2020-07-23 09:37] #58409 closed

[2020-07-23 09:40] ywelsch commented on #45736
Is this still relevant?

[2020-07-23 09:43] ywelsch commented on #50512
@henningandersen Can this be closed now?

[2020-07-23 09:44] #45228 closed

[2020-07-23 09:45] original-brownbear commented on #45736
@ywelsch IMO it is. We still write two blobs for every unchanged shard snapshot despite all the fixes made. Finding a way for not doing that would still be a worthwhile thing to do whenever there is some time for it.

[2020-07-23 09:47] #53281 closed

[2020-07-23 10:36] original-brownbear commented on #49795
I think this one is worth some discussion before making any changes. The problem here is that out `DiscoveryNode` instances contain both an IP and a hostname and currently all implementations of `org.elasticsearch.transport.TcpTransport#initiateChannel` will then use the IP found in the `DiscoveryNode` to establish connections based on the cluster state. Now if you have inconsistent DNS resolution

[2020-07-23 10:59] droberts195 opened #60108 "Add mlcategory and result_type to category definition docs"
When you run an ML anomaly detection job that also does categorization you end up with category definition results and anomaly results.

The category definitions have a `category_id` field of type `long` that stores the unique category ID within the job.  The anomalies contain a `keyword` field `mlcategory` that stores the unique category ID that the anomaly relates to.  The reason this is a `keyw

[2020-07-23 10:59] elasticmachine commented on #60108
Pinging @elastic/ml-core (:ml)

[2020-07-23 12:25] elasticmachine commented on #55754
Pinging @elastic/es-docs (>docs)

[2020-07-23 12:26] jpountz commented on #55754
We discussed it and agreed to not prioritize it, so I'm labelling it as a doc issue, so that we are more explicit that this workflow is not supported.

[2020-07-23 12:29] jpountz commented on #54937
We discussed it and the general agreement was that we should generally accept wildcards and abandon `_all`. However how we get there proved controversial because of the backward compatibility implications.

I'm marking this issue as stalled.

[2020-07-23 12:58] chengyang14 opened #60115 "Wrong publish_address format in ipv6 network"
Elasticsearch version (bin/elasticsearch --version): 7.6.0

On an ipv6 network, `network.host` is set to `_local`_, and `network.publish_host` is not configured.

network.host will be  parsed as:
[code]
[code]

[code]

In this scenario, publish_address is better to use `ip：port` format then `hostname/ip:port` because` 0:0:0:0:0:0:0:1%lo` is not an
avalible hostname.

The rest client sniffer needs

[2020-07-23 13:28] elasticmachine commented on #60115
Pinging @elastic/es-distributed (:Distributed/Network)

[2020-07-23 13:30] original-brownbear commented on #60115
Right this is broken. The problem is in this check:

https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/http/HttpInfo.java#L68

[code]

Our `isInetAddress` utility doesn't understand the scope ID on the address and thinks it's a host name. I think we can just fix that method to understand scope IDs here.

[2020-07-23 13:33] mayya-sharipova commented on #42326
@BountyCountry Thanks for sharing your applications.

This indeed may progress slower, since vectors would be  a new format, it would be nice to get an approval from the community to make sure we cover broad enough cases.

[2020-07-23 13:43] elasticmachine commented on #60101
Pinging @elastic/es-core-infra (:Core/Infra/Packaging)

[2020-07-23 14:13] devanandch commented on #54964
Thank you Matriv, I will make sure to get the PR submitted soon.

[2020-07-23 14:17] hendrikmuhs opened #60125 "[Transform] Regression: continuous transform fails after start with [composite] failed to parse field [sources]"
Creating a continuous transform with 1 histogram or date histogram succeeds but fails after `_start`. This is a regression introduced by #55287.

Repro:

[code]

failure:

[code]

[2020-07-23 14:17] elasticmachine commented on #60125
Pinging @elastic/ml-core (:ml/Transform)

[2020-07-23 14:29] chengyang14 commented on #60115
@original-brownbear   Thanks for your analysis,I will solve this problem.

[2020-07-23 14:40] droberts195 opened #60130 "Jobs can fail on cluster shutdown if core services throw exceptions before ML jobs are aware of shutdown"
This problem has been observed to happen in Elastic Cloud.

The ML results indices will be on a different node to the ML node where the jobs are running.  When the whole cluster is shut down this will be killed simultaneously with the ML node, so may leave the cluster very slightly earlier.  On the ML node the ML jobs could be in the middle of writing results to the results index.  When the data n

[2020-07-23 14:40] elasticmachine commented on #60130
Pinging @elastic/ml-core (:ml)

[2020-07-23 14:46] dakrone commented on #54937
@jpountz I'm not sure there is a backwards compatibility issue for this API in particular since it has never supported `_all`? (I'm more inclined to close this issue than leave it as stalled) Or do you mean more of an issue with fitting in with our existing APIs?

[2020-07-23 15:10] talevy commented on #50386
It would be great to do this in two passes, on sorted data. blocked on [multi-pass aggregation support](https://github.com/elastic/elasticsearch/issues/50863)

[2020-07-23 15:29] talevy commented on #27428
We discussed this at a team and concluded that it is often the case that users only find value by specifying a precision. For this reason, we believe it would be best to require the precision value across all existing geogrid aggs: geohash_grid, geotile_grid

[2020-07-23 15:45] nknize commented on #15616
@djptek This is still useful. Would you mind updating #23009?

[2020-07-23 15:47] dnhatn commented on #56507
Another instance: https://gradle-enterprise.elastic.co/s/b2phxw4foj3xg/console-log/raw

[2020-07-23 15:48] tbrooks8 commented on #49067
I will look into the final two outstanding tasks soon. And then close.

[2020-07-23 15:49] nknize commented on #18691
Yes. I'm marking this as a good first issue since it's not all that difficult.

[2020-07-23 15:55] InbarShimshon opened #60135 "OIDC and SAML documentation feedback"
## Description

These doc improvements are based on SF00575547 in which these feedbacks were raised.

1) OIDC - the documentation is lacking clarity
We do not state that this must be added on all ES nodes including ML nodes - we should be more explicit in stipulating this in our external documentation
[code]

## Acceptance Test Criteria

List all the ATC of each action and its intended result.
As

[2020-07-23 16:00] stu-elastic commented on #52591
I'll put it up for discussion in painless triage meeting today.

[2020-07-23 16:10] jpountz commented on #54937
Oh right, the bw compatibility issue is for the general case. This one is good since it does _not_ support `_all`. Thanks for flagging.

[2020-07-23 16:10] #54937 closed

[2020-07-23 16:21] djptek commented on #15616
@nknize sure thing cc @imotov

[2020-07-23 16:31] dnhatn commented on #59767
@original-brownbear This failed again on 7.9: https://gradle-enterprise.elastic.co/s/ckycw2ybv4t5o/console-log/raw. Can you take a took?

[2020-07-23 16:32] not-napoleon commented on #50120
At the review meeting today, we also looked at #50386 (also stalled on multi-pass aggregations).  That sounds like a very similar use case to this, we might be able to fit both asks at the same time.

[2020-07-23 16:43] markharwood opened #60139 "Search - Should wildcard field regex queries be subject to the ALLOW_EXPENSIVE_QUERIES flag?"
Currently the wildcard field, like the keyword field prohibits the use of range and regexp queries if the ALLOW_EXPENSIVE_QUERIES flag is set to false.
Arguably the wildcard field should be faster than the worst-case keyword search (a linear scan of all unique values) but can still be slow if the number of docs containing the matching values is high.

It's therefore unclear if we consider the wild

[2020-07-23 16:43] elasticmachine commented on #60139
Pinging @elastic/es-search (:Search/Search)

[2020-07-23 16:48] rossengeorgiev opened #60140 "Systemd startup timeout on 7.6"
**Elasticsearch version** (`bin/elasticsearch --version`):

`Version: 7.6.0, Build: default/rpm/7f634e9f44834fbc12724506cc1da681b0c3b1e3/2020-02-06T00:09:00.449973Z, JVM: 13.0.2`

**Plugins installed**: None

**JVM version** (`java -version`): 13.0.2

**OS version** (`uname -a` if on a Unix-like system): CentOS 7

**Description of the problem including expected versus actual behavior**:

elasticse

[2020-07-23 16:54] droberts195 opened #60141 "[ML] Remove use_null and replace with functionality that fits Elasticsearch better"
ML detectors have a `use_null` option:

* When set, the ML detector models a time series for documents that contain the by or over field with an empty string value, or don't contain the by or over field at all - the same time series in both cases
* When not set, the ML detector ignores documents where the by or over field is not present or an empty string

The behaviour of treating "not present" a