[2017-03-13 00:32] dakrone commented on #12896
+1, thanks for closing this Ryan

[2017-03-13 01:50] trevan commented on #23546
@s1monw, I think what you are missing is that for those of us that need either this feature or #10869 will implement our own open/close mechanism that can be executed by accident and can be applied to wildcards.  We need to be able to have lots of data available in ES without requiring a ton of RAM.  So, the only mechanism is to close/open the indices and to do it automatically when searches are m

[2017-03-13 02:22] Helen-Zhao commented on #12480
Should this issue be closed? The referenced PR #12465 references #12484 which appears to resolve the issue.

[2017-03-13 02:27] Helen-Zhao commented on #18348
First time contributor - I would like to pick this up and have a try if that's okay. Thanks.

[2017-03-13 02:31] jasontedor commented on #12480
Closed by #12484

[2017-03-13 02:31] #12480 closed

[2017-03-13 03:43] BlureX commented on #23502
Hi there, I'm new to this project but I was wondering if I could work on this issue?

[2017-03-13 04:06] sunnyhwang commented on #22686
Hey guys,

I would like to work on this if possible :)

[2017-03-13 04:31] JohPa8696 commented on #23449
I am new to this project and would like to work on this issue. Any advice and suggestion would be greatly appreciated.

[2017-03-13 04:43] BlureX commented on #16564
Hi there, I'm new to this project and would like to try fix this issue.

[2017-03-13 04:59] JohPa8696 commented on #21312
Hi! I am new to the project. Can I try to tackle this issue? Any advice or suggestion would be much appreciated.

[2017-03-13 05:27] ammar27 commented on #12315
Hi, I am new to this project and would like to make this issue be the first I try to fix.

[2017-03-13 05:35] Plokji commented on #10096
Hi I'm new to contributing to OSS. I would like to have a try and resolve this issue.
Thanks.

[2017-03-13 05:37] ammar27 commented on #23533
Hi, I am new to contributing to open source projects and would like to try and fix this issue.

[2017-03-13 05:44] Plokji commented on #19542
Hi I'm new to contributing to OSS. I would like to have a try and resolve this issue.
Thanks.

[2017-03-13 05:50] lewischen1123 commented on #23208
i have removed

[2017-03-13 06:03] Jordanwmk commented on #5042
Hi, I am new to OSS but I would like to have a go at resolving this issue

[2017-03-13 06:14] nik9000 commented on #19542
Sure! Enjoy.

[2017-03-13 06:26] Jordanwmk commented on #15750
Hi, I am new to OSS but I would like to have a go at resolving this issue

[2017-03-13 06:33] nik9000 commented on #15750
Since we're moving away from the `TransportClient` in general I don't think this is a good on. Honestly we should probably close this one in anticipation of https://github.com/elastic/elasticsearch/issues/23331

[2017-03-13 06:33] nik9000 commented on #15750
@jpountz, what do you think about closing this?

[2017-03-13 06:38] tonyjames3212 commented on #23516
Anyone have any ideas?

[2017-03-13 07:16] antonvs2 commented on #18829
Would this be applied in case of a Terms Query using the [lookup](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-terms-query.html#query-dsl-terms-lookup) mechanism as well?

In the above link it says:

But not sure how much is that `a lot`.

[2017-03-13 07:17] cbuescher commented on #23516
Works for me if you don't use `preserve_existing=true` when you try to reset the value. Also, please note that Elastic reserves GitHub for bug reports and feature requests but provides a [Discourse forum](https://discuss.elastic.co) and [IRC channels](https://www.elastic.co/community) for general questions like this.

[2017-03-13 07:17] #23516 closed

[2017-03-13 07:31] Jordanwmk commented on #21074
Hi, I'm new to OSS but I would like to have a go at resolving this issue. Whereabouts is this variable stored? Has the new variable name been finalized to 'canBeDefOptimized'?

[2017-03-13 07:32] paregos commented on #5341
Hi there Im new to elastic search and I would like to try and fix this bug, if there is any additional information relating to it please let me know.
Thanks

[2017-03-13 07:34] ChineseElectricPanda commented on #17597
Hi, I am new to GitHub public projects, so if possible I would like to make this my first contribution to the project to get my feet wet. Seems like this just involves writing some tests for this feature and documenting it? If there is any additional related information please let me know.
Thanks.

[2017-03-13 09:07] StefanGor commented on #23381
Hi there,
I'd be interested in trying to tackle this one.

[2017-03-13 09:18] williamw1994 commented on #22823
Hi @Mpdreamz Is this issue still there? Would you mind if I taking this issue?

[2017-03-13 09:24] williamw1994 commented on #20912
Is this issue still there? I have seen the pull request is showing "This branch has conflicts that must be resolved". So it means this PR hasn't accepted yet. Would you mind if I taking over and fix the issue there?

[2017-03-13 09:37] acarstoiu commented on #23504
There's no need for specific data. Any parent-child mapping with one child document in the index would do.

[2017-03-13 09:54] EvgeniySpinovSell commented on #10005
We also suffer from low resolution of time fields. Nanoseconds would be great. Looking forward for this feature.

[2017-03-13 10:10] acarstoiu commented on #21105
If you:
- enforce a _single inheritance_ model among templates (with some new property)
- choose a single template to apply when a new index gets created (by following a suggestion I made 4.5 months ago 👍)

what is the problem in validating a (sub)tree of templates when a parent template is changed?

You're sparring the machine from doing more computations at the expense of more manual work necess

[2017-03-13 10:26] makeyang opened #23564 "IndicesQueryCache consume a lot of memory"
Elasticsearch version:
2.1
Plugins installed: []
delete-by-query
elasticsearch-analysis-ik
repository-hdfs
JVM version:
jdk1.8.0_60
OS version:
CentOS Linux release 7.1.1503

Description of the problem including expected versus actual behavior:
the server is out of memory and heap dump is below:
https://github.com/makeyang/grocery/blob/master/indicesquerycache.png

below is config:
indices.memory.

[2017-03-13 11:49] Danack commented on #15613
Hi,

Please could it be documented in the ES documentation that the long term plan is to move away from multiple types per index, so that people starting new projects now know to avoid them, and for people who have projects that already use multiple mappings, to start going through the seven stages of loss sooner rather than later.

I only stumbled across this issue by chance when reading up on in

[2017-03-13 14:31] CaffeineTherapist commented on #21105
@jpountz would explicit inheritance simplify the validation at all?

If not, I think it will be important to write a tool that generates explicit templates outside of ES (for example, in Bash/Python/Go/whatever) by using a hierarchy/import statements/something. I'd be happy to help out with said tool since, without inheritance, it's something a lot of us are going to need, myself included.

One cl

[2017-03-13 15:21] jacktuck opened #23568 "Does Context Suggester support compound contexts in v5?"
I'm trying to migrate from v2 to v5 but am having some issue with suggester API.

I have been referring to the [new documentation (5.2)](https://www.elastic.co/guide/en/elasticsearch/reference/current/suggester-context.html)

I'm pretty sure Context would allow compound queries in <v5?

### Mappings

[code]

### Create documents (x2)

[code]

[code]

### Search for Cafes in the UK

Returns all doc

[2017-03-13 15:29] gamercubed commented on #11432
+1, our project also has object hierarchy as a core concept, with the possibility for self-referential relationships.  We designed our model on what we knew worked in SQL (our main DB), and are trying to copy our data into Elastic to leverage its awesome search capabilities.  It'd be nice to properly reflect this in Elasticsearch without having to resort to lots of nesting.  Mongo seems to be comi

[2017-03-13 15:36] nik9000 commented on #5341
I don't know about any additional information, though in the time between when this was filed and now we've made a ton of changes. So I'd start by adding tests to make sure it is still a problem and then working from there if it is.

[2017-03-13 15:36] nik9000 commented on #20912
To be honest that PR looks pretty close. @martijnvg, would you like to adopt the PR?

[2017-03-13 15:42] nik9000 commented on #21074
Honestly I filed this a while back when I was first learning lang-painless's internals so I'm not sure that it is valid. I marked it as `discuss` because I really wasn't sure if it was right. @jdconrad, can you talk about this some?

This is the code I'm talking about: https://github.com/elastic/elasticsearch/blob/master/modules/lang-painless/src/main/java/org/elasticsearch/painless/node/AStoreabl

[2017-03-13 15:52] jacktuck commented on #21291
Forgot about this issue and made #23568

![Cube of shame](https://media.giphy.com/media/pEjnnil9lLrUc/200.gif)

@kabcampbell Did you come up with a workaround, i'm actually in a position where i have to migrate to v5 so looking for a solution?

[2017-03-13 16:06] danielmitterdorfer commented on #23185
I did run further benchmarks including a mixed workload with queries. The tl;dr is that the main contributor these problems is bulk indexing (and not so much querying). They also confirmed that a receive predictor size of 64kB is a sensible default value. Preparing the results will take a couple of days but I'll update the ticket.

In parallel I am also improving my understanding why a smaller rec

[2017-03-13 16:28] jasontedor commented on #23568
@jacktuck Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-03-13 16:28] #23568 closed

[2017-03-13 16:33] jasontedor commented on #23564
You have set the search thread pool to have size 512 so I think that this duplicates #18161.

Either way, we provide the [forums](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. If you have follow-up questions, would you please ask them there?

[2017-03-13 16:33] #23564 closed

[2017-03-13 16:45] jasontedor commented on #23524
I think we can close this, I think that diagnostics from `/_nodes/stats/thread_pool` are sufficient and I'm hesitant to add log messages that no one reads.

[2017-03-13 16:45] #23524 closed

[2017-03-13 16:54] #23555 closed

[2017-03-13 17:11] jasontedor commented on #21834
I do not think this is Elasticsearch-specific, but rather due to WMI and SCOM.

[2017-03-13 17:11] #21834 closed

[2017-03-13 17:13] jcmcken commented on #18406
Just chiming in here to say we have the same problem. We use ``-Djna.tmpdir`` with other applications just fine. Only Elasticsearch seems not to work, requiring us to set ``exec`` on ``/tmp``.

**ES**: elasticsearch-5.2.0-1.noarch (RPM distribution)
**OS**: CentOS Linux release 7.3.1611 (Core)
**JVM**:

[code]

[2017-03-13 17:19] GuillaumeCisco commented on #23537
Ok just found my error.
`search_after` is waiting for the sorted values from a precedent query (last object of the query)...
I was computing them myself from the last object. But it is already computed for me and I've been able to access it with `my_last_object.meta.sort`. I've been able to understand that the sorted value for the date was a timestamp (number) and not a representation string of th

[2017-03-13 17:19] #23537 closed

[2017-03-13 17:24] cbuescher commented on #23505
Fixed in 5.3 and upwards, closing this after adding tests to the related branches.

[2017-03-13 17:24] #23505 closed

[2017-03-13 17:31] nik9000 commented on #23552
*un* breaking this....

[2017-03-13 17:34] nik9000 commented on #23552
Fixed by https://github.com/elastic/docs/commit/a5331122575bf4e7543b11d41abdc32db4e38b79

They are, I think. This comes from the thing we are using to track our slow journey to 100% CONSOLE snippets. It's rules are:
0. If something is marked `NOTCONSOLE` it doesn't have to be converted no matter the rules below.
1. If the language is `sh` and the snippet contains `curl` then it must be converted.

[2017-03-13 17:34] #23552 closed

[2017-03-13 19:27] milutz commented on #10708
In the "Consistency and Replication in Elasticsearch" talk at Elastic{on} Mar 8, 2017 this issue was brought up as possibly providing groundwork for a change API.

@bleskes, @ywelsch, @jasontedor (pardon, I can't remember which of you brought this up): Was that in reference to issue #1242 or was that about a different form/meaning of change API ?

Many thanks for you talk!

[2017-03-13 19:32] jasontedor commented on #10708
@milutz Thank you for attending and your interest!

Yes, the open issue for the changes API is #1242. That issue gives a high-level overview of some possible goals for the changes API but the actual design is yet to be worked out. Sequence numbers will form a basis for what we eventually build.

[2017-03-13 19:55] milutz commented on #10708
@jasontedor: Awesome!  I'm very interested in both of these efforts and wanted to confirm what I should be subscribing-to-notifications-for .  Many thanks, and again many thanks to all of you for your awesome talk - it filled in many questions I've had about the platform!

[2017-03-13 20:08] parisamir commented on #23525
Hi again,

I've found out why the visualization works with the "cpu stats" and not the metricbeat index itself.
Taking a look at the request that is sending you'll see this:

{
  "size": 0,
  "aggs": {
    "2": {
      "date_histogram": {
        "field": "@timestamp",
        "interval": "30s",
        "time_zone": "America/New_York",
        "min_doc_count": 1
      },
      "aggs": {
        "1

[2017-03-13 20:25] rommik opened #23569 "ElasticSearch on Docker Swarm Bound or publish to a non-loopback or non-local address strap check fail."
I'm trying to setup ElasticSearch and Kibana on Docker Swarm. Nothing fancy, just two services linked by a common overlay network. However, ElasticSearch fails to run and I get the following error in the logs:

{"log":"[2017-03-13T20:21:24,770][WARN ][i.n.u.i.MacAddressUtil   ] Failed to find a usable hardware address from the network interfaces; using random bytes:
 e7:ea:87:86:44:61:22:b0\n","st

[2017-03-13 20:48] tol commented on #5512
+1

[2017-03-13 20:55] Tarotato commented on #10289
Hi, I'm new to this project and wondering if this was still available to fix?

[2017-03-13 21:06] kris-t-tsoi commented on #23558
I'm new to this project and am interested in trying to implement this enhancement.
can I confirm that you are wishing to put the below text into the document being re-indexed?
"script_fields": {
      "radish": {
        "script": "doc.ints.stream().map(i -> i * i).collect(Collectors.toList())"
      }

Is there anything else I should know about this ?
Thanks !!!!

[2017-03-13 21:08] jasontedor commented on #23569
If there are failing bootstrap checks, they will be after the log line that you showed. You should read these looks and address the issues that they present.

Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an an

[2017-03-13 21:08] #23569 closed

[2017-03-13 21:14] Tarotato commented on #16441
Hi, I'm new to this project and wanted to contribute, is this still available to fix?

[2017-03-13 21:14] mjustin opened #23570 "Return whether a new index was created when indexing a document"
**Describe the feature**:
Return whether a new index was created when indexing a document (as well as the index name, per  #23044).

I'm working in an application that is dynamically creating new indexes (based on an index template and a predictable and consistent index naming scheme).  There are certain things it would like to do when new indexes are created; however, Elasticsearch doesn't indica

[2017-03-13 21:40] Tarotato commented on #23193
Hi, I'm new to this project and wanted to contribute, is this still available to pick up?

[2017-03-13 21:54] Tarotato commented on #21974
Hi, I'm new to this project and wanted to contribute, is this still available to fix?

[2017-03-13 22:03] javanna commented on #15750
I think that this is still valid given that the Java high level REST client is reusing the java api classes. Would be nice to not use anything that depends on lucene in there.

[2017-03-13 22:06] Tarotato commented on #18109
Hi, I'm new to this project and wanted to contribute, is this still available to pick up?

[2017-03-13 22:22] Helen-Zhao commented on #23329
New contributor but will be happy to look into this and pick it up.

[2017-03-13 22:27] Tarotato commented on #9538
Hi, I'm new to this project and wanted to contribute, is this still available to fix?

[2017-03-13 22:42] williamw1994 commented on #20912
I can try working on this issue now, would it be okay to assign this to me?

[2017-03-13 22:49] Helen-Zhao commented on #17620
Would be keen to pick this up, what would you suggest is a good name to rename timeout to? For example `individual_shard_timeout`?

[2017-03-13 23:25] nknize commented on #5512
It's certainly gotten some attention. While a bit stalled at the moment, due to other priorities, @colings86 has a branch for geo_point k-means: https://github.com/colings86/elasticsearch/tree/feature/geokmeans

So a little more patience and this feature will be available soon.

[2017-03-14 00:02] SvDvorak commented on #23552
Gotcha, I was a bit unsure from just reading the usage of NOTCONSOLE. Seems to be working, thanks for the quick resolution!

[2017-03-14 00:11] nik9000 commented on #23552
Thanks for filing it!

On Mon, Mar 13, 2017, 5:02 PM Andreas Wilcox <notifications@github.com>
wrote:

[2017-03-14 00:15] jpountz commented on #22768
@IanvsPoplicola Yes indeed.

[2017-03-14 00:32] damm commented on #21891
The unfortunate part is the Chef Cookbook that you ship hardcodes this and does not hint at such configuration.  I will update the referenced issue to mention that.

[2017-03-14 00:40] Plokji commented on #14949
Hi I'm new to contributing to OSS. I would like to have a try and resolve this issue.
Thanks.

[2017-03-14 00:47] jpountz commented on #14949
@Plokji I'm afraid this would not be a good issue to get started as it touches rather low-level functionality. I would recommend that you have a look at the issues labeled "low hanging fruit" if you're just getting started.

[2017-03-14 00:49] paregos commented on #23193
Hey there I'm new to elastic search and I would like to try and fix this bug if possible! If you have any extra information on the issue please comment below.

Thanks

[2017-03-14 00:54] jpountz commented on #23185
Interesting, do you have insights into what these Lucene allocations are? I'm wondering whether those are allocations that actually happen in Lucene or objects that we allocated for Lucene but from Elasticsearch, such as field instances.

[2017-03-14 01:11] fernandozhu commented on #22821
Hello there, I'm happy to adopt this issue.

[2017-03-14 02:07] aircat2018 opened #23571 "Cannot update enabled setting for [_source]"
Set _source "enabled" : false
just need to store only one field "store" : true
error as a result

[2017-03-14 02:24] discoverytrips commented on #23268
If the amount of data is too big, try to use Spark + ES.
but if it uses Spark, input-output ratio, may not be too high.

[2017-03-14 03:01] JohPa8696 commented on #23449
I am no longer working on this issue

[2017-03-14 04:13] jayqie opened #23573 "Strings coerce to numbers failed"
**Elasticsearch version**: 5.2.2
**JVM version**: 1.8.0_91
**OS version**: CentOS release 6.7

I enter the code like elasticsearch example, but the coerce result is wrong.

PUT my_index
{
  "settings": {
    "index.mapping.coerce": true
  },
  "mappings": {
    "my_type": {
      "properties": {
        "number_one": {
          "type": "integer"
        },
        "number_two": {
          "type"

[2017-03-14 04:22] danielmitterdorfer commented on #23185
@jpountz Sure, I have flight recordings of all my experiments with allocation profiles enabled. Maybe I was not clear enough in my previous comment: I think that Lucene is the victim, not the culprit. If there is enough memory headroom, Lucene will happily allocate from within TLABs. The 3.1 million small objects are btw allocated in `org.apache.lucene.codecs.blocktree.BlockTreeTermsWriter$Pending

[2017-03-14 05:13] rjernst commented on #23573
Coerce only affects the indexed data. It does not change the source.

[2017-03-14 05:13] #23573 closed

[2017-03-14 06:04] maemichi-monosense commented on #21838
@ppf2 Thank you for noting this problem. I've just been troubled with the same issue.
I tried to share a S3 repository among v2.3.2 & v5.1.1 hosts, then I got confused that those snapshots taken by v2.x are invisible from v5.x hosts once I took a snapshot by a v5.x host.
(I use AWS ElasticSearch service)

I agree to add a note about this issue.

[2017-03-14 06:40] javanna commented on #23331
hi @moodysalem I agree that ideally the Java client should not depend on Elasticsearch. We would love not to have that but we gave high priority to have the high level REST client out there sooner rather than later, although it will still depend on Elasticsearch initially. Once it's out, we may decide to work on taking those requests and response classes out to a common library, but as you find ou

[2017-03-14 07:16] wybrono commented on #22406
Is this problem solved now? The above method does not work！！！

[2017-03-14 07:16] wybrono commented on #22360
Is this problem solved now? The above method does not work!!!

[2017-03-14 07:55] JenifferWuUCLA opened #23576 "How to send data to external data storage e.g. elastic search?"
How to send web form's data to external data storage e.g. elastic search? Would you pls help to give me some code demos to follow?

Thanks!

[2017-03-14 08:02] jasontedor commented on #23576
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-03-14 08:02] #23576 closed

[2017-03-14 10:31] kevin-tang-rs opened #23578 "How to search two fields has the same value"
There are two fields, id_cur and id_steady, i hope to query the content which id_cur == id_steady, how to implement, thank you

[2017-03-14 11:25] acarstoiu commented on #21105
@jpountz is just a messenger here, so there's no reason to shoot him. Yet, at least 😆

[2017-03-14 11:55] fmyblack commented on #17420
I have a nearly-like problem.
**my background**: I have about 350GB data need write in `es2.3` using `elasticsearch-hadoop` before 6:00am each day. Every doc is about a single user profile (with a uuid and multi-tags) .
**The problem**: The only thing I want is increasing index performance cause there be a cache api in query client. I want one partition data can be indexed in same shard, though I'

[2017-03-14 12:18] magrossi opened #23579 "Empty geo_point being treated as [-180, -90]?"
Hi,

I'm migrating an ES cluster from v1.7.5 to v5.1.2 and noticed that in v5.1.2 empy geo_point fields are being treated as if they were valid points with coordinates [-180, -90] within geo_xxx queries (used to work fine in v1.7.5). I'm trying to simply get the geo_bounds of my geo_point field to determine the area it covers. Previously I used "max" and "min" aggs on each coordinate (lat and lon)

[2017-03-14 13:38] giftig opened #23580 "Allow disabling bootstrap checks explicitly"
When running elasticsearch in docker, in a development environment or when running builds, I need to have elasticsearch bind to 0.0.0.0 and/or publish a container hostname. This has the undesirable side-effect of enforcing bootstrap checks.

I understand the benefit of these bootstrap checks in production, but I question the assumption that you must be in production if you're binding to a non-loca

[2017-03-14 13:58] dadoonet commented on #23580
Duplicate of #21655

[2017-03-14 13:58] #23580 closed

[2017-03-14 14:27] jasontedor commented on #23578
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-03-14 14:27] #23578 closed

[2017-03-14 16:24] bleskes commented on #23571
@aircat2018 can you please give more complete examples of what you mean? curl commands/Console syntax would be ideal. Closing for now. Please reopen with the extra information.

[2017-03-14 16:24] #23571 closed

[2017-03-14 18:54] wongder commented on #18508
Hey guys, can you pls point me to some info or links on elasticsearch rollback to undo the last updates....maybe this can be done via the _version ??  Thank you.

[2017-03-14 19:38] yannisf commented on #23281
Hi @clintongormley , @jpountz,

I would very much appreciate some feedback on the issue, even if it is something "There is nothing you can do other than redesigning your index".  From my side, I would like to see as a feature: When searching against a filtered alias.  use the cached bitset (if there is one cached already), instead of having to reevaluate the alias filters all the time.

Hopefully,

[2017-03-14 19:58] tobias74 commented on #21825
What is the alternative in 5.2 for geohash_cell? Or was it just removed without a new implementation?

[2017-03-14 20:01] tmegow commented on #23199
@abeyad I've also been struggling against ShardLockObtainFailedException occurring during times of heavy bulk indexing activity. The symptoms are: a data node (2.3) becoming unresponsive, GC times spike, and the affected data node is removed from the cluster. Immediately after rejoining the cluster (this is a kubernetes environment) the node receives ShardLockObtainFailedException repeatedly, and

[2017-03-14 20:18] nfsec commented on #22748
Good to take care of this because the api calls to clear cache from python client don't work now.

[2017-03-14 20:40] jasontedor commented on #18508
This is not possible. If you have additional questions, please ask them on the [forum](https://discuss.elastic.co).

[2017-03-14 21:41] asolopovas commented on #21917
+1 Same other here on Windows 10
The Elasticsearch 5.0.2 (elasticsearch-service-x64) service terminated with the following service-specific error:
Incorrect function.

[2017-03-14 22:35] cmk1523 opened #23584 "Feature request: more geo aggregation stats and/or metrics"
I'd love to see statistics (i.e. standard deviation) of a set of geo points.  The geo_centroid aggregation is a first step, however there's more stats that can be calculated.

I'd also like to see statistics about a geo_bounds result (i.e. size of the bounds/window in meters). If anyone knows how to script that, please let me know!

[2017-03-14 22:35] gcampbell-epiq commented on #11328
I would love to get support for the SpanQueryParser built into the ES query API. Since Lucene has several query parsers which are not yet supported by the ES query API, why not prove a generalized ES query string API that accepts as an option, which parser to use?

Other query parsers should also be supported by highlighting.

This would be a huge value-add in the legal space where users regularly

[2017-03-14 23:22] jasontedor commented on #21864
I have reconsidered this and have opened #23585.

[2017-03-14 23:36] StefanGor commented on #23381
Actually, the other issue that I am working on is taking longer than expected. If anyone else wants to take this in the meantime, they are welcome to.

[2017-03-15 00:19] wongder commented on #18508
Thank you Jason, i actually did enter this question in the forum but will make sure to use your forum link in your reply next time, thanks again!

On 03-14-2017, at 4:40 PM, Jason Tedor <notifications@github.com<mailto:notifications@github.com>> wrote:

can you pls point me to some info or links on elasticsearch rollback to undo the last updates....maybe this can be done via the _version ?

This i

[2017-03-15 00:23] devulapalli8 commented on #16412
is there any update on this issue ? whats the fix

[2017-03-15 00:25] jasontedor commented on #16412
Yes, it's addressed starting in Elasticsearch 5.1.1. You can read about this in the [zen discovery docs](https://www.elastic.co/guide/en/elasticsearch/reference/5.2/modules-discovery-zen.html#unicast).

[2017-03-15 00:30] devulapalli8 commented on #16412
Thanks for quick reply. I'm using ES 2.1 version , when one of ES instances is rebuilt then its throwing NoRouteToHostException. to resolve the issue its forcing me rebuild dependent applications which connects to ES as client.  client.transport.sniff=true will enable to discover the new nodes added to the ES cluster. Is there workaround for ES2.1 version

[2017-03-15 00:33] devulapalli8 commented on #16412
As mentioned in the document , I still set networkaddress.cache.ttl=0 in java.security but it didnt resolve the issue since when i ping the new ES instance its resolved with new IP address as expected so I dont think its DNS caching issue.

[2017-03-15 01:12] darouwan opened #23586 "How does the best_compression work after I setting it?"
I am working on index compression currently. Now I have existed index about 500MB to be compressed, but I meet the following questions:
1. When does the best_compression work after I setting it? Immidieately or after a while?
2. Does it work on existed index or the upcoming index data? Or both?
3. Have the index data been compressed by LZ4 if I don't set the index.codec ?

Thanks.

[2017-03-15 03:12] niemyjski commented on #20367
cc @Mpdreamz @jasontedor @nik9000 Would be great if this could be discussed this week 🍻!

[2017-03-15 03:24] jasontedor commented on #23586
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-03-15 03:24] #23586 closed

[2017-03-15 03:25] jasontedor commented on #16412
It's not addressed in the 2.x series, there is nothing you can do there. It's only resolved since 5.1.1.

[2017-03-15 05:42] mortonsykes commented on #18515
Hi i've been looking into this , It appeears this issue has already been fixed? . I have been trying to replicate the bug however I always recieve a mapper_parsing_exception ,       "type": "illegal_argument_exception",
      "reason": "Invalid format: \"\""

I tried PUT my_index
{
  "mappings": {
    "my_type": {
      "properties": {
        "date": {
          "type": "date"
        }
      }

[2017-03-15 05:48] kainosnoema commented on #18680
We were just bitten by the caching changes in 2.x+ on a production workload. Currently still trying to find a solution, but it's looking like ES just can't do what it used to here. Queries that include about a half-dozen cached terms filters went from ~80ms to 8-9 seconds—no longer able to be run in real-time.

Are there any plans to bring some level of caching control back?

[2017-03-15 05:49] mortonsykes commented on #18515
Hi i've been looking into this , It appears this issue has already been fixed? . I have been trying to replicate the bug however I always receive a mapper_parsing_exception , "type": "illegal_argument_exception",
"reason": "Invalid format: """

`PUT my_index
{
"mappings": {
"my_type": {
"properties": {
"date": {
"type": "date"
}
}
}
}
}`

then

`PUT my_index/my_type/1
{ "date": "" }`

[2017-03-15 05:56] hchokshi commented on #12315
Hey, I'd like to work on this if it is still open

[2017-03-15 06:17] mortonsykes commented on #23381
Ill have a look at this one if that is alright. =)

[2017-03-15 06:41] mortonsykes commented on #15965
Hi i am new to Elastic Search and would be interested in taking this issue.

[2017-03-15 07:41] authasme opened #23587 "query dsl whith regexp bug?"
**Elasticsearch version**:2.1

**Plugins installed**: []

**JVM version**:1.7

**OS version**:

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1.
 2.
 3.

**Provide logs (if relevant)**:

**Describe the feature**:
I used "query dsl" whith regexp, it returned nothing when fields contains "\s，\n .etc" , how can I do?

[2017-03-15 07:44] senseysensor commented on #12366
+1

[2017-03-15 07:49] jasontedor commented on #23587
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-03-15 07:49] #23587 closed

[2017-03-15 08:36] setaou commented on #18680
We did hit what seemed to be the same bug in the end of 2016. Having found no solution, we tried to fork ES+Lucene to bring back the _cache query parameter in order to better control the caching (see https://github.com/geneanet/elasticsearch/commits/geneanet-cachetuning and https://github.com/geneanet/lucene-solr/commits/geneanet-cachetuning for reference). It did not improve the situation, so eit

[2017-03-15 09:24] sriram2520 commented on #9879
Encountered an exact issue today on version 5.2.2. Created a custom analyzer, but the tokenizer name was spelled incorrectly. Now I can't open the index. And seems like I can't delete the custom analyzer also.

Keep getting this error, when I try to update the settings.

Custom Analyzer [custom_minhash_analyzer] failed to find tokenizer under name [min_hash]

[2017-03-15 09:42] Sojoy commented on #13592
I just tried out rayward's recommendation to ue 0.0.0.0 to bind to all available addresses and it works on ES 5

[2017-03-15 10:11] olcbean commented on #23131
I would like to have a look at this issue iff @amirhmd is not already working on it.

[2017-03-15 12:40] amirhmd commented on #23131
Hi @olcbean, i ve been into something else lately. Please go ahead. Thanks.

[2017-03-15 13:07] CaffeineTherapist commented on #23250
I am hugely in favor of this idea, especially if the search id were carried through to the slow query logs. If it were, that would be extremely helpful vis a vis efforts around improving slow query logging (eg https://github.com/elastic/elasticsearch/issues/9172 and https://github.com/elastic/elasticsearch/issues/12187#issuecomment-249218547) and could potentially lend itself to @PhaedrusTheGreek'

[2017-03-15 13:18] CaffeineTherapist commented on #21073
The Profile API makes sense but it would also be pretty useful if you could log this and do reporting on it, not just profile one-off cases. For example, maybe there could be a sample threshold in which every Nth query gets profiled with `vtook` and logged. That sample threshold parameter would be quite handy in general. To accomplish that now, I have to use tools like goreplay and rewrite the req

[2017-03-15 13:48] hoeghen opened #23588 "Normalizer,Keyword and Ignore_Above doesnt work"
It seems that the combination of keyword type, and a custom normalizer, and ignore_above is not working
The ignore_above setting is not effective anymore in this combination.
[code]

[2017-03-15 14:42] nik9000 opened #23589 "Should IP range aggregation have an option to automatically group into "classful addressing" buckets?"
Sometimes it is useful to think in terms of [classful addressing](https://en.wikipedia.org/wiki/Classful_network#Classful_addressing_definition), grouping IPs into their traditional groups based on prefix. Should the IP range aggregation support an option to do this? Or maybe we should document a painless script to do this?

Example:

IP | Bucket
--:|:---
5.0.1.7 | 5.0.0.0/8
5.123.5.1 | 5.0.0.0/8

[2017-03-15 14:43] nezda commented on #20068
`script_fields` docs are currently wrong for this too https://www.elastic.co/guide/en/elasticsearch/reference/5.2/search-request-script-fields.html gives example:

[code]

which doesn't work - should be
[code]

[2017-03-15 14:49] jasontedor commented on #23589
Classful addressing is mostly dead, replaced by CIDR instead. The significance of the defined classes is largely irrelevant these days. I do not think we should add something to core for this since it can be done in scripting if needed.

[2017-03-15 15:24] speedplane commented on #23199
Just happened again, this time I was able to collect some logs. It looks similar to the situation described by @tmegow, there's an issue during bulk indexing, and then it drops out.

[code]

[2017-03-15 15:47] rjernst commented on #17192
While I understand the intent, I don't think it is worth the complexity. If we were to have such a flag built in, plugins might want a way to disable such a flag (so they can maintain their own flag or even flags for multiple features of the plugin).  I'm closing this for now.  We can reopen in the future if new stronger use cases come to mind.

[2017-03-15 15:47] #17192 closed

[2017-03-15 16:12] devulapalli8 commented on #16412
Thank you for the clarification. Could you please share your inputs on this.

Below are my observations with ES cluster 3 nodes/instances
we have some client application (say rest services) establishes ES client connections with ES cluster 3 nodes during server startup . I see all connections ESTABLISHED with those 3 ES nodes IP addresses with command **netstat -an | grep 9300**

when I rebuild ES

[2017-03-15 16:20] jasontedor commented on #16412
Please open a topic on the [forum](https://discuss.elastic.co). We prefer to use the forums for general discussions, and reserve GitHub for verified bug reports and feature requests.

[2017-03-15 17:31] stephane-bastian commented on #20257
Hi All,

Interesting discussion, I'm jumping-in with a couple of questions/comments.

Right now, as a user I can independently define the properties of my parent and child documents.
If I understand correctly, one consequence of removing types, is that I would define ONE mapping defining all properties of both my parent and child document (basically a merge of my current child and parent mapping f

[2017-03-15 17:33] s1monw commented on #23546
I agree but we can't just add some risky feature just fix a problem. we need a sustainable solution that deals with it. This suggestion has problems that I am not willing to sign up for as a compromise. If we make compromises here they need to be safe!

[2017-03-15 17:33] s1monw commented on #23546
I will reopen this to use it as a discuss area for now.

[2017-03-15 17:36] #21864 closed

[2017-03-15 18:04] jeantil opened #23594 "Fuzzy match very slow on indices with shingle filter"
**Elasticsearch version**:
5.2.2 (I reproduced this issue on the [5.2.2 docker image provided by elastic.co](https://github.com/elastic/elasticsearch-docker))

**Plugins installed**: [x-pack:5.2.2]
(is installed by default in the docker image)
**JVM version**:
[code]
**OS version**:
the os of the docker image is a linux, it runs on docker4mac 17.03.0-ce-mac2 (15657) on mac osX sierra

**Descriptio

[2017-03-15 18:06] s1monw commented on #23331
one thing that I can see being a low hanging fruit is that we can move out our core analyzers into a module. This would allow us to move out the `analyzers-common` JAR that is ~ 11MB which would help a lot with this issue already. I don't think breaking out `SearchSourceBuilder` is a low hanging fruit at all it has lots of dependencies, I also would rather want to make core smaller and keep on dep

[2017-03-15 18:14] bkreider commented on #21377
Unix domain sockets are more simple than TCP sockets.  Also, ES is nice to use with a single-server application that provides cheap text search.   I was shocked when I found out that ES doesn't support them.  Most servers support them, because they are so fundamental.  It so easy to secure unix domain sockets using standard file permissions.   This is much easier than (mis)configuring authenticati

[2017-03-15 18:37] nik9000 commented on #23331
I'd be happy to move the analyzers, suggesters, and highlighters into their own modules. I think it'd be faster to exclude their dependencies from the high level client, though a bit less clean.

[2017-03-15 18:44] jdconrad commented on #21074
@nik9000 is right, canBeDefOptimized makes more sense.

[2017-03-15 18:48] s1monw commented on #23331
++ @nik9000

[2017-03-15 19:20] StefanGor commented on #22748
I could use some guidance on creating a proper rest test for this. I can't find any that specifically test the cache (and didn't have to update any tests to not use the deprecated parameter).

I currently have [this](https://github.com/StefanGor/elasticsearch/commit/43976fe45addb2ecc7e53d265ccd3f62fb00839b) for my commit. While the test case I have written does fail on the current master branch an

[2017-03-15 19:52] devulapalli8 commented on #16412
thanks , its done.  with ES 2.1  , NoRouteToHostException  can be ignored as just WARN message and not critical ?

[2017-03-15 20:06] rjernst commented on #23579
I believe this is a bug in `GeoPoint.resetFromString`. We should be checking for empty value at the beginning, so that we do not fall back to trying to decode a geohash with an empty string (which looks like it will have a morton encoding of 0, which I believe maps to [-180, -90]). @nknize can you confirm?

[2017-03-15 20:35] jpountz commented on #20257
Your assumptions are correct. It is indeed hard to keep feature parity when moving forward, however we think that removing types remains a good trade-off by making Elasticsearch easier to use, easier to understand and possibly faster.

Cross index parent-child relationships would not be possible as-is since Elasticsearch relies on the fact that a parent and all its children are on the same shard.

[2017-03-15 20:39] nik9000 commented on #22748
We usually use the rest tests written in `yaml` (most are [here](https://github.com/elastic/elasticsearch/tree/master/rest-api-spec/src/main/resources/rest-api-spec/test)) to validate this kind of thing because it buys us some integration testing coverage as well. I'd see about implementing one of those instead of/in addition to the unit test you've written. I'd also have a look at adding one for

[2017-03-15 20:51] jpountz commented on #18680
We made and will keep making changes that improve caching, however we have no plans to bring back cache control options.

This is very likely indeed. ES 1.7 was relying a lot on caching into bitsets in order to be able to run conjunctions using bitwise operations, but in a way that did not fit well into how Lucene performs query planning. In ES 2.0 we changed cache entries to have a sparse represe

[2017-03-15 20:55] jpountz commented on #23281
The answer is likely that the index should be redesigned indeed. Large terms filters are quite an anti pattern to efficiently leverage Elasticsearch. In case you can get hot threads while you are running some queries in a loop, I could get a look at the hot threads to check what the bottleneck is. I want to keep expectations low, but it might something we can improve. If you can check against 5.x

[2017-03-15 21:27] rjernst commented on #13359
The plugin cli was reworked a while ago, and since 2.0 plugins must be built for a specific version of elasticsearch.  I don't think this issue is relevant anymore, as plugins must be removed and then reinstalled upon upgrading elasticsearch.

[2017-03-15 21:27] #13359 closed

[2017-03-15 22:14] #23487 closed

[2017-03-16 00:20] jdconrad commented on #20068
@nezda Thanks for pointing this out.  This should be fixed with #21322.

[2017-03-16 01:43] hexian55 opened #23602 "start es cluster ,the health status is red"
**Elasticsearch version**:
5.2.1
**Plugins installed**: []

**JVM version**:
jdk:1.8.0_111
**OS version**:
centos7.0
**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1.
 2.
 3.

**Provide logs (if relevant)**:

**Describe the feature**:

HI
when I start my es cluster, the health status always red.
curl 'http://XXX:9200/_cluster/health?pretty'
{

[2017-03-16 01:48] guilhermemaranhao opened #23603 "Force_true parameter in the highlight clause does not retrieve the fields properly"
Hi everyone,

I set the following _source and highlight clauses in my search body:

    {
     "_source":
      [
          "field_1",
          "field_2"
      ],
     "highlight":{
           "order":"score",
           "fragment_size":70,
           "number_of_fragments":3,
           "type":"plain",
           "pre_tags":["\u003cspan class  \"highlight\"\u003e"],
           "post_tags":["\u003

[2017-03-16 02:10] jfenc91 commented on #18680
I got 75% of the way to the old performance when I ensured that the cache was used optimally as if I was explicitly caching. The remaining bit may be obtainable by optimizing out the query comparison (since that is very expensive for the use case where caching matters) and instead only comparing provided cache keys.

Honestly, I believe the situation where ES is now targeting for caching is where

[2017-03-16 02:22] hexian55 commented on #23602
My server is virtual machine

[2017-03-16 02:42] jkiang13 opened #23604 "MapperService StackOverFlowError"
**Elasticsearch version**: 5.2.2

**Plugins installed**: []

**JVM version**: OpenJDK 1.8.0_111

**OS version**: Ubuntu Linux 14.04

**Description of the problem including expected versus actual behavior**:

MapperService#parentTypes is [rewrapped in an UnmodifiableSet](https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/index/mapper/MapperService.java#L459) i

[2017-03-16 04:44] hchokshi commented on #23430
Hi @clintongormley I'm also interested in having a crack at this task as my first contribution if this is still active, and @firstprayer isn't still doing it. However, I cannot find any iterators in the `ConstantScoreQuery` class or the `QueryProfiler` class.

Can you give pointers as to where to start looking, and what is meant by the iterator you mention? I only find a handful of results for "it

[2017-03-16 07:00] Fabian1976 commented on #18406
@jasontedor Reproduction was quite simple for me. Place noexec mount options on /tmp, installations fails. Even if a seperate tmp dir is defined (it is not respected or used). Remove noexec mount options, installation works fine.

[2017-03-16 07:15] DariosP commented on #17584
In Ubuntu use in terminal commands:
sudo add-apt-repository ppa:webupd8team/java
sudo apt update
sudo apt install oracle-java9-installer

[2017-03-16 08:19] martijnvg commented on #20257
I would like to add to this that today we use the type as marker of what is a child and what is a parent. Today you could use the same field in both parent and child, so properties alone isn't enough to identify what is what. In this case both types would have the same field defined in their mappings.

With the proposed change, the `join` parameter would indicate what is the parent and what is the

[2017-03-16 08:30] YDHui commented on #22156
I have solved it by add a Java Security Manager settings in jvm.options
modify  "plugin-security.policy":
[code]
My policy file path is `data/soft/elasticsearch-5.0.1/plugins/repository-hdfs/plugin-security.policy`
so I add `-Djava.security.policy=file:///data/soft/elasticsearch-5.0.1/plugins/repository-hdfs/plugin-security.policy` in "/data/soft/elasticsearch-5.0.1/config/jvm.options"
and then re

[2017-03-16 08:35] dadoonet commented on #23602
Can you share the full logs please?

[2017-03-16 08:52] hexian55 commented on #23602
[2017-03-16T16:46:44,515][INFO ][o.e.n.Node               ] [staging03] initializing ...
[2017-03-16T16:46:44,582][INFO ][o.e.e.NodeEnvironment    ] [staging03] using [1] data paths, mounts [[/home/work/data1 (/dev/vdb1)]], net usable_space [934gb], net total_space [984.1gb], spins? [possibly], types [ext4]
[2017-03-16T16:46:44,582][INFO ][o.e.e.NodeEnvironment    ] [staging03] heap size [30.8gb],

[2017-03-16 10:13] dadoonet commented on #23602
I think you have a misconfiguration issue here.

Can you open a thread on discuss.elastic.co and provide there:

* A link to https://github.com/elastic/elasticsearch/issues/23602 (so we can see the original issue)
* Your `elasticsearch.yml` file for both nodes.
* All logs for both nodes.

I'm closing this for now as I don't think it's indicating an issue but more a misconfiguration.

[2017-03-16 10:13] #23602 closed

[2017-03-16 10:22] stephane-bastian commented on #15613
Hi All,

I already posted a comment related to typeless parent/child #20257
Now I would like to post some sort of summary about the Pros and Cons of types. The reason is that the more I think about the prospect of removing types, the more I feel that I would really miss what it buys me: considering the data store in ES as ONE entity (or sort of).

Pros:
- Types allows me to use an index as some so

[2017-03-16 10:26] hexian55 commented on #23602
Now I just started a node ,configuration file as follows
cluster.name: tj-es-staging
node.master: true
node.data: true
node.name: ${HOSTNAME}
network.host: ${HOSTNAME}
http.port: 9200
path.data: /home/work/data1/data/es_data
path.logs: /home/work/log/es_log

discovery.zen.minimum_master_nodes: 1
discovery.zen.ping_timeout: 100s
discovery.zen.fd.ping_timeout: 100s
discovery.zen.ping.unicast.hosts:

[2017-03-16 10:58] dadoonet commented on #23602
Please put all that information on discuss.elastic.co. I'll be happy to help there.

https://discuss.elastic.co/c/elasticsearch

[2017-03-16 11:36] tlrx commented on #18406
@Fabian1976  @jcmcken Can you please share more about your OS, versions of elasticsearch and java, `/proc/mounts`, `/etc/fstab`, use of tmpfs etc please? That would help.

@jcmcken Do the other applications you mentioned also use JNA? Also, I can't reproduce on a fresh CentOS installation (see above) with `noexec`.

[code]
[code]
[code]
[code]
[code]

[2017-03-16 12:43] dseeley opened #23608 "Reindex: illegal_argument_exception "mapper [xxx] of different type". int/str coercion not performed and ignore_malformed not respected"
**Elasticsearch version**: 5.2.2

**Plugins installed**: []

**JVM version**: 1.8.0_121

**OS version**: Centos 7.3.1611

**Description of the problem including expected versus actual behavior**:

When batch/scroll size is greater than 1, reindexing does not perform type coercion from int to str.  It also does not respect the ignore_malformed directive on the destination index mapping.
1. If a typ

[2017-03-16 13:38] guilhermemaranhao opened #23609 "Error on 'keyword field' documentation: support to search_analyzer parameter"
Hi everyone,

It's said in https://www.elastic.co/guide/en/elasticsearch/reference/5.2/keyword.html that the `search_analyzer` parameter is accepted to the keyword datatype.

I've specified a `search_analyzer` parameter to a keyword field on my index and got the exception (something I expected it would happen)....

`Elasticsearch::Transport::Transport::Errors::BadRequest: [400] {"error":{"root_cau

[2017-03-16 13:40] nik9000 commented on #23608
I've seen this when you create a new index using reindex without setting up the types first. Elasticsearch is using its standard type inference mechanisms and reindex exposes the problems with it more quickly then normal operations. My guess is you have `age` fields in your source that look like `11` and that look like `"11"`. If the `11` hits first then Elasticsearch will infer the type of the fi

[2017-03-16 13:41] mrec opened #23610 "Feature gap between Java and HTTP APIs for Percentiles aggregation"
This is a pretty minor edge case, but the [blog post on retiring the old Java API](https://www.elastic.co/blog/state-of-the-official-elasticsearch-java-clients)  asks for feedback and this is something we ran into recently. (In 2.3.2, though I don't think anything's changed in later versions.)

In the HTTP API, when you request e.g. `[25, 50, 75]` percentiles, all you get back is exactly that. In

[2017-03-16 13:51] git-cambridge opened #23611 "ElasticSearch Unit test ESIntegTestCase does not load"
I am using ES5.2.2, with Lucene 6.4.1. I have followed the steps in
https://www.elastic.co/guide/en/elasticsearch/reference/current/integration-tests.html
to create nodes for ElasticSearch unit tests. However, on running them, I get

java.lang.NoClassDefFoundError: Could not initialize class org.elasticsearch.test.ESTestCase

Is this is a bug? I have posted on the elastic discussion website, and h

[2017-03-16 13:56] cbuescher commented on #23610
@mrec thanks for your feedback. You are right that this might be one of the cases where it will be hard to provide the same functionality that we currently have in the Java API when going through the REST layer. @javanna i will label this accordingly so we can track this when we get to parsing the aggregations on the client side.

[2017-03-16 14:20] dseeley commented on #23608
This is just a simple illustrative example.  The actual index I am having problems with uses dynamic templates, and the resultant mapping is thousands of lines long.  It is not practical to set it up manually beforehand.  On reindex, the target index assumes the correct template (same as the source), which uses dynamic field mappings, and correctly interprets the first 1.6 million documents, but t

[2017-03-16 14:21] jasontedor commented on #23611
I know that you started on the [forum](https://discuss.elastic.co) but that's where this discussion needs to stay as Elastic reserves GitHub only for verified bug reports and feature requests. As such, I hope you don't mind that I close this. Please feel free to link to the topic from here.

[2017-03-16 14:21] #23611 closed

[2017-03-16 14:25] jasontedor commented on #18406
@Fabian1976 I know that this thread is quite long, but it's already in this thread that it's not as simple mounting with `noexec` as we see systems where `noexec` works just fine (see also @tlrx's [comment](https://github.com/elastic/elasticsearch/issues/18406#issuecomment-287031542)). Also, the stack trace that you provided is different than the one that triggered this issue. I think that we are

[2017-03-16 14:47] FlorianHeigl commented on #18406
@tlrx did you look in your elasticsearch logs too or just run the tests?

[2017-03-16 15:15] Tobsucht opened #23613 "Inconsistent bucket ordering using term aggregation"
**Elasticsearch version**:
[5.1.2]

**JVM version**:
java version "1.8.0_112"
Java(TM) SE Runtime Environment (build 1.8.0_112-b16)
Java HotSpot(TM) 64-Bit Server VM (build 25.112-b16, mixed mode)

**OS version**:
macOS 10.12.2

**Description of the problem including expected versus actual behavior**:
[code]

I have a query (see above) that uses a term aggregation combined with a top-hits aggregat

[2017-03-16 15:23] jasontedor commented on #22156
@YDHui You have included `permission java.security.AllPermission;` which is a security issue (it grants everything) and your other permissions are redundant.

[2017-03-16 15:51] cbuescher commented on #23588
What version are you using? I cannot reproduce this on 5.2.2 using the following:

[code]

With this I see the `city` field in doc1 being indexed while the field for the second document gets skipped (not indexed). Closing, but please feel free to reopen if this is reproducable in another version or ask questions about this in the [forum](https://discuss.elastic.co) if you need assistance.

[2017-03-16 15:51] #23588 closed

[2017-03-16 16:16] nik9000 commented on #23331
I opened https://github.com/elastic/elasticsearch/pull/23614 to start on the analyzers. See the PR description for more but, summary:
1. It looks like 1.4mb instead of 11mb
2. It isn't *that* low hanging fruit. Lots of tests have to modified or moved.

I also took a look at doing suggesters. The phrase and term suggesters would be pretty easy to move. The completion suggester is harder but not sup

[2017-03-16 16:32] nik9000 commented on #21185
Not really.... Not with the tools we have now. With tools we're building, maybe.

I wonder how expensive it'd be to have a script that filtered out documents that are huge. Then you can do them in two passes. That'd be a thing you could do right now. It'd be better for the nodes then allowing the buffer to balloon up uncontrollably. Not great for usability, obviously, but better than nothing.

[2017-03-16 17:42] loren opened #23615 "Killing the elected master causes all other nodes in cluster to immediately exit"
**Elasticsearch version**: 5.2.2

**Plugins installed**: [x-pack]

**JVM version**: 8u121

**OS version**: CentOS Linux release 7.3.1611 (Core)

**Description of the problem including expected versus actual behavior**:
From https://discuss.elastic.co/t/problem-with-master-re-election-under-zendiscovery-5-2-2/78617:
Killing the elected master elasticsearch process causes all other nodes to throw an

[2017-03-16 18:04] seperman opened #23616 "Bit Array [Feature Request]"
**Describe the feature**:

Please consider adding bit arrays to Elasticsearch.
Why? Because one can use the Bloom filter in Elasticsearch which is very useful in searching.

Currently the only way to achieve this is by having arrays of integers that contain the indexes of bits that ON as you can see in this stackoverflow question: http://stackoverflow.com/q/39110962/1497443
But the current solutio

[2017-03-16 18:10] nik9000 commented on #23616
That sounds like a good use for a plugin - a mapper plugin could interpret binary/some nice json encoding and build the appropriate index for the bloom filter. At least that is my instinct.

[2017-03-16 19:10] abeyad commented on #23199
@speedplane @tmegow thank you for the extra insights; just to keep you posted, we are actively looking into this issue (its a tricky one) and have some plans around providing more insight into which types of threads are holding onto shard locks.  I'll keep this issue updated as we find out more.

[2017-03-16 19:17] hlivni opened #23617 "AdapterActionFuture does not restore the thread's interrupt flag when catching InterruptedException"
**Elasticsearch version**: 5.3

**Plugins installed**: []

**JVM version**: any

**OS version**: any

**Description of the problem including expected versus actual behavior**:
The `actionGet` methods catch an `InterruptedException` but fail to restore the thread's interrupt flag (by calling `Thread.currentThread().interrupt()`) before throwing an `IllegalStateException`

**Steps to reproduce**:
 N

[2017-03-16 19:20] tmegow commented on #23199
Thank you for the update, @abeyad !
A bit more info, I enabled the slowlog and it seems that indexing the newly added items is taking longer than I anticipated. My current workaround is to have my syncing app communicate with the node stats endpoint and wait to send more items until `.nodes.*.indices.merges` & `.nodes.*.jvm.gc` return to a baseline threshold.
@speedplane What's your merge time and

[2017-03-16 19:24] jasontedor commented on #23617
Please state the exact version. In a year "latest" will not mean anything.

[2017-03-16 19:46] hlivni commented on #23617
Exact version added. Thanks for the feedback

[2017-03-16 19:59] jasontedor commented on #23617
You added 5.3 but this version of Elasticsearch 5.3 is not released.

[2017-03-16 20:02] jasontedor commented on #23617
I agree with you that we should restore the interrupt flag here. I opened #23618.

[2017-03-16 20:07] jasontedor commented on #23615
Let's keep the discussion on the [forum](https://discuss.elastic.co/t/problem-with-master-re-election-under-zendiscovery-5-2-2/78617) instead of fracturing the discussion. We can reopen here if there is a verified bug, but this absolutely does not reproduce with your steps. I suspect that there is something about your setup that you're not telling us.

[2017-03-16 20:07] #23615 closed

[2017-03-16 20:28] nik9000 commented on #23603
`force_source` says "even if the field has `stored` set to `true` then load the field from the `_source` anyway. It does not return the field even if there is not result.

That is the default. I believe you can set the `fragment_size` to `0` or `-1` to return all of the matching field, though that could be very long.

If you want to return a portion of the field even if there isn't match there is

[2017-03-16 20:28] #23603 closed

[2017-03-16 21:20] rjernst commented on #23609
`search_analyzer` is not actually supported on `keyword` fields. For that we have `normalizer`, and there has been discussion in #23336 about adding support for a search time normalizer. @jpountz should we update the docs for now to remove `search_analyzer` since it currently does not work?

[2017-03-16 21:26] hteleb opened #23620 "Query_string in 5.1 is case sensitive"
I am using AWS ElasticSearch Service for indexing. at first i had version "2.3", when using "query_string for wildcard search it works with upper and lowercase. using same mapping of "2.3" for ES version "5.1" it does not work for uppercase.

ES "2.3"

[code]

Explanation result:

[code]

upper case "S" in query string mapped to lowercase "s"

ES :"5.1"
[code]
analyzer:
[code]

tried query_string

[2017-03-16 22:00] abeyad commented on #23199
Giving data nodes more resources can always help, preventing GC's and thereby potentially improving cluster stability.  The `ShardLockObtainFailedException` manifests as a result of cluster instabilities having nodes come and go quickly.  More resources on data nodes can, but is not guaranteed to, remedy such situations.

[2017-03-16 23:12] StefanGor commented on #22748
I've now added some yaml tests, is [this](https://github.com/StefanGor/elasticsearch/commit/503fe9ec2b171ddf04e7a88223aeebaa4ce0846a) sufficient or should I be trying to validate the output of the request as well?

[2017-03-17 01:06] hexian55 commented on #23602
thx, please see  https://discuss.elastic.co/t/start-es-cluster-the-health-status-is-red/78947

[2017-03-17 01:11] ChineseElectricPanda commented on #23193
Hi, I've had a look into this issue and it seems like the interval is being parsed as a numerical value - in this case, `1d` is being parsed as `(double) 1`. The same happens if `1f` is entered instead. Trying the request with an `interval` value of `1000d` results in a bucket size of 1000 (1 second), so I don't think it's defaulting to 1, rather just parsing `1d` as 1. Putting a differently forma

[2017-03-17 04:13] eaglefinds commented on #17584
When I set JAVA_HOME  to jdk 1.8 in command prompt it worked without any issue. Thanks for your posting.

[2017-03-17 05:05] #23617 closed

[2017-03-17 06:42] manojraib opened #23625 "Autostart of ELASTIC search is failing."
Hi ,

We have installed the elastic in elasticsearch user ,

We are trying to start using the systemctl and we are getting the below error .COuld you please help me to resolve the same.

Mar 16 23:36:25 xxxxxhostname elasticsearch[94819]: [2017-03-16T23:36:25,585][INFO ][o.e.t.TransportService   ] [*****c1-m2] publish_address {10.12
Mar 16 23:36:25 xxxxxhostname elasticsearch[94819]: [2017-03-16T2

[2017-03-17 06:45] manojraib commented on #23625
this is systemmd file

 cat /etc/systemd/system/elasticsearch.service
[Unit]
Description=ElasticSearch Service
After=network.target

[Service]
ExecStart=/home/elasticsearch/elasticsearch-5.1.2/bin/elasticsearch
#PIDFile=/elastic/data/software/elasticsearch-5.2.0/bin/es.pid
User=elasticsearch
Type=simple
Restart=always

[Install]
WantedBy=default.target

[2017-03-17 06:47] dadoonet commented on #23625
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!
And check bootstrap checks doc

[2017-03-17 06:47] #23625 closed

[2017-03-17 07:44] swapnilgangrade01 commented on #17584
Elasticsearch will not pick java from path environment variable in windows. It check for JAVA_HOME set up in Environment Variable , Please make sure to put correct java for example using 5.2.2 version setup JAVA_HOME as java 8 JDK/JRE.

[2017-03-17 08:58] aircat2018 opened #23626 "Result sorting issues"
My database is used to store user data
Each user has about tens of thousands of data.
When the search based on keywords, it will result in multiple pages are the same user’s results.
How to achieve when search by the keywords, each user first results on the top of the result, to prevent multiple pages are the same user.

[2017-03-17 09:27] dadoonet commented on #23626
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2017-03-17 09:27] #23626 closed

[2017-03-17 09:31] murdav opened #23627 "search_phase_execution_exception - field [bbox] is not a geo_point field (using geo_shape)"
Dear All,

I'm using: Elasticsearch version: 5.2

My index mapping contains:
`'bbox': {'type': 'geo_shape', 'precision': '10km', 'tree': 'quadtree', },`

A Python script inserts in Elastic the area_of_interest object fields, and the bbox insertion is:

[code]

Of course all bbox fields (bbox_minx, bbox_maxy, bbox_maxx, bbox_miny) are evaluated or None (null in Elastic is inserted).

The insertion

[2017-03-17 09:32] dadoonet commented on #23627
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2017-03-17 09:32] #23627 closed

[2017-03-17 10:50] Fabian1976 commented on #18406
@tlrx
My OS:
[code]

Elasticsearch version:
[code]

Java version:
[code]

Proc mounts:
[code]

FStab:
[code]

[2017-03-17 10:52] elasticmachine opened #29767 "Document mistake in ssl client auth example."
*Original comment by @JalehD:*

The value no is incorrectly mentioned in the example here :

`transport.profiles.client.xpack.security.ssl.client_authentication: no`
https://www.elastic.co/guide/en/x-pack/current/separating-node-client-traffic.html

The correct documentation here  mentions :

https://www.elastic.co/guide/en/x-pack/5.2/security-settings.html#transport-tls-ssl-settings
xpack.securit

[2017-03-17 11:04] ojundt opened #23628 "Rare ArrayIndexOutOfBoundsException on all shards with large queries"
**Elasticsearch version**: 5.2.2

**Plugins installed**:
- EC2 Discovery
- SearchGuard 5.2.2-11

**JVM version**: openjdk 64bit 1.8.0_91

**OS version**: Ubuntu 16.04

**Description of the problem including expected versus actual behavior**:
In ~1% of large queries which span multiple types, including nested ones, we experience a 500 caused by `org.elasticsearch.action.search.SearchPhaseExecutionE

[2017-03-17 11:21] dimitris-athanasiou opened #23629 "Reject delete-by-query requests without an explicit query"
Calling `{base_url}/_delete_by_query` with body `{}` is currently accepted and results to deleting everything as the query defaults to `match_all`. Allowing delete-by-query to work with a `match_all`  may be desirable for a user. However, requiring such a query to be explicitly set can protect users from performing such a destructive operation.

[2017-03-17 11:24] ywelsch commented on #23628
We need the stack trace for this ArrayIndexOutOfBoundsException. It is missing here as the JVM [optimizes throwing repeatedly the same exception](http://www.oracle.com/technetwork/java/javase/relnotes-139183.html):

Can you grep in your logs for the first occurrence of this exception?

[2017-03-17 13:09] guilhermemaranhao commented on #23609
Thank you!

[2017-03-17 13:14] dadoonet commented on #23446
@nmjacob You just have to create the PR and add `Closes #23446.` in your commit message so the PR will contain also this text and will be linked to this issue.

[2017-03-17 13:22] dadoonet opened #23630 "delete by query optimizations"
While I was reading #23629, I started to think if we can have some optimizations for the Delete By Query feature:

If someone runs a `match_all` DBQ, we can:

* Save the current index settings / mappings
* Drop the index
* Recreate the index with previous index settings / mappings

More generic way: I wonder if we can actually try to automagically optimize the way delete by query is working.

Like

[2017-03-17 13:25] cbuescher commented on #23340
Closed by #23451

[2017-03-17 13:25] #23340 closed

[2017-03-17 13:49] nik9000 commented on #22748
I think it is pretty much right. You've made me realize we don't have a thing for deprecated parameters in those JSON files. I hadn't thought about that! But what you've showed me is a great start. If you open a PR I'll be glad to review it.

[2017-03-17 13:57] nik9000 opened #23631 "Tasks index backwards compatibility work for 6.0"
We need to enhance `OldIndexBackwardsCompatibilityIT` to always include the `.tasks` index for versions after 5.0. And we'll need to make `.tasks` compatible with #15613.

[2017-03-17 14:18] mathewmeconry commented on #22471
Hi @clintongormley

I agree with @cnico. It would be great to have a param like the conflicts which allows me to ignore errors. My usecase is that I wan't to reindex one bucket but the api fails every time because of the error `"Can't get text on a START_OBJECT at 1:251"`

[2017-03-17 14:21] jimczi commented on #23620
Thanks for the report @hteleb

This is fixed in 5.2 by:
https://github.com/elastic/elasticsearch/pull/21919

Similar problem also reported in https://github.com/elastic/elasticsearch/issues/22540

[2017-03-17 14:21] #23620 closed

[2017-03-17 14:50] michel-kraemer commented on #14181
@nknize Now that we have Lucene 6, are there any plans to follow up on this issue?

[2017-03-17 14:57] sriram2520 commented on #23616
@nik9000 can you please point me towards a good documentation on writing custom mapper plugin for the above purpose. I have been searching for a good blog  and explanation with an example on this topic, but couldn't find one

[2017-03-17 15:09] nik9000 commented on #23616
The plugin API isn't really stable so the best way to learn about it at this point is to read other users of it. It'll get better, one day. But for now, that is the way it is. We maintain two mapper plugins in Elasticsearch's source tree so they should always be up to date and useful examples:
* https://github.com/elastic/elasticsearch/tree/5.2/plugins/mapper-murmur3
* https://github.com/elastic/e

[2017-03-17 16:05] hteleb commented on #23620
Thank you Jim for your confirmation. I am afraid AWS does not support 5.2 yet. we may need to  explicitly lowercase the query string before embedding into the "query_string"

[2017-03-17 16:13] martijnvg commented on #20912
@nik9000 That PR only adds the setting to the request and request builder. Now I think about this more I think we shouldn't try to duplicate the `max_concurrent_searches` logic in this api, but rather duplicate the templating logic from the search template api. This `max_concurrent_searches` logic has turned out to be [pretty](https://github.com/elastic/elasticsearch/pull/23527) [tricky](https://g

[2017-03-17 16:13] yrodiere commented on #21789
Note: I just discovered there is another global timeout that takes precedence over all other timeouts. It is `org.elasticsearch.client.RestClient.maxRetryTimeoutMillis`, and it is used in [performRequest](https://github.com/elastic/elasticsearch/blob/master/client/rest/src/main/java/org/elasticsearch/client/RestClient.java#L217), so any "synchronous" request that takes longer than this will time o

[2017-03-17 16:27] markharwood commented on #21238
As for practical examples, I just revisited my old Groovy-based demo for entity-centric indexing and converted it to use Painless. Example data and script tested with 5.2.2 is [here](http://bit.ly/entcent_painless):

[2017-03-17 16:40] ashitpupu commented on #18035
@clintongormley I am seeing the same issue in ES 2.3.3. How to fix this issue ???

[2017-03-17 17:29] jcmcken commented on #18406
@tlrx

Just to be clear, because I'm not sure we're talking about the same thing: ES launches just fine when ``/tmp`` is mounted ``noexec`` (which you've demonstrated). That's not my issue.

The issue is that it's falling back to NOT using JNA in this configuration, which you can see by examining the logs. But I *would* like to actually use whatever native extensions are available. And so I'm sett

[2017-03-17 18:03] jasontedor commented on #23630
We can not do these, it changes the index UUID, it's not the same behavior.

[2017-03-17 20:10] javanna commented on #23505
@fangqiao do you mean that you are using the output of the toString method to send the request via a REST client? If that is the case, I would recommend to move your code to calling the `toXContent` method instead. In fact, there is no guarantee that the `toString` method will always print out valid json, we could potentially change that in the future.

[2017-03-17 20:23] speedplane commented on #23199
@abeyad @tmegow My nodes are not under much stress. It's possible some bursty activity happens which causes this, but I feel like my servers are already underutilized, and would prefer to not increase them further.

[2017-03-17 20:32] javanna commented on #19388
@jaymode should we close this? We have removed auto-detection from the REST layer, is there anything left to do here?

[2017-03-17 22:36] #23630 closed

[2017-03-17 23:21] jasontedor commented on #10186
We resolve addresses on every pinging round now, and an unresolved host will not abort pinging.

[2017-03-17 23:21] jasontedor commented on #10186
Closed by #21630

[2017-03-17 23:21] #10186 closed

[2017-03-17 23:34] jasontedor commented on #16421
We log failed pings at the trace level, I do not think there is anything that needs to be done here.

[2017-03-17 23:34] #16421 closed

[2017-03-17 23:35] jasontedor commented on #19998
No feedback, closing.

[2017-03-17 23:35] #19998 closed

[2017-03-17 23:36] jasontedor commented on #22120
Closed by #22134

[2017-03-17 23:36] #22120 closed

[2017-03-17 23:41] jasontedor commented on #14400
This does not occur between 2.x and 5.x, and I do not think we need to worry about this between 1.x and 2.x as 1.x is out of maintenance mode, and 2.x is in maintenance mode for critical bug fixes and this not a critical bug.

[2017-03-17 23:41] #14400 closed

[2017-03-18 01:14] denji commented on #23204
The beauty of zstd is achieved using dictionaries. @Cornoualis OpenZFS not fully stable cross platform.

[2017-03-18 05:25] bawse commented on #21984
Is this issue still open?

[2017-03-18 06:01] qwerty4030 commented on #23613
If you are using the `TermsAggregationBuilder#order(Terms.Order)` method in your Java code to add just that single aggregation order then it would explain this behavior. The curl REST request parser uses the `TermsAggregationBuilder#order(java.util.List<Terms.Order>)` method instead which calls `order(Terms.Order.compound(orders));` internally (even if there is only one order). The `CompoundOrder`

[2017-03-18 06:21] bawse commented on #22423
Could you give some more information on this? I'm a new contributor.

[2017-03-18 13:12] jquinnet opened #23639 "Need to know what this means?"
i need to know if this number is the total % of initializing shards that are trying to realocate and if it's going to go to 0 when completed or if it's going to go to 100 once done?

  **"active_shards_percent_as_number" : 98.95833333333334**

  "cluster_name" : "blah-2",
  "status" : "yellow",
  "timed_out" : false,
  "number_of_nodes" : 8,
  "number_of_data_nodes" : 5,
  "active_primary_shards"

[2017-03-18 13:15] jasontedor commented on #23639
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-03-18 13:15] #23639 closed

[2017-03-18 13:31] javanna commented on #21984
@bawse thanks for pointing this out, it should have been closed when #23265 was merged.

[2017-03-18 13:31] #21984 closed

[2017-03-18 15:28] jasontedor opened #23640 "JNA 4.4.0 requires glibc 2.14"
Nothing is ever simple. In #23636, JNA was upgraded from version 4.2.2 to version 4.4.0. Unfortunately, JNA 4.4.0 is linked against glibc 2.14 which is not available on all platforms that we support (e.g., CentOS 6). JNA is not required for Elasticsearch to function, but it not being available means:
 - we can not check if Elasticsearch is running as root
 - we can not install seccomp
 - we can no

[2017-03-18 16:11] ywelsch commented on #23640
A few more options:
- Create our own build of JNA 4.4.0 against an older version of glibc, see https://github.com/java-native-access/jna/issues/771
- Not support/disable the functionality provided by JNA on CentOS6
- Stick with 4.2.2 in 5.x branch and not provide CentOS6 support for ES 6.0

[2017-03-18 16:23] jasontedor commented on #23640
I considered all three of those options, and I do not think that we should pursue them.

I don't think that we should get into this business, it complicates our build and will not be as battle-tested as the actual JNA distributions.

I think that this is a non-option for an OS that we support.

I would love for this to be possible but I have my doubts about whether or not it is.

[2017-03-18 16:57] ojundt commented on #23628
[code]

[2017-03-18 17:05] ywelsch commented on #23628
@jpountz @jimczi thoughts?

[2017-03-18 17:30] lsowen commented on #23039
This would also be a very useful feature for the [discover-ec2](https://github.com/elastic/elasticsearch/tree/master/plugins/discovery-ec2) plugin.

[2017-03-18 21:34] seme1 commented on #22912
@uschindler I'm relying on AWS ElasticSearch service. So, implemnting the hack is not currently an option. Besides, I have abandoned the upgrade to ES 5.1, and I'm still using ES 2.3.

@jimczi
However, it would be nice if the comments mentioned here are considered in future versions of ES.

[2017-03-18 22:11] discoverytrips commented on #22748
When you define “field”，you need to set “doc_values” as false.
For example: "ProductId": { "store": true, "type": "long", "doc_values": false, "fielddata": { "loading" : "eager" } }

[2017-03-19 04:56] hesamemadi commented on #22792
Hey @chaynika , If this bug hasn't been fixed yet, I would like to work on it, starting today. Thank you!

[2017-03-19 07:12] hesamemadi commented on #23436
Hi @njlawton  Are you still going to work on this issue?

[2017-03-19 12:42] jayqie opened #23642 "when can Field Collapsing available?"
Elasticsearch version: 5.2.2
JVM version: 1.8.0_91
OS version: CentOS release 6.7

I find Field Collapsing function in master document, but not in the 5.2.2 documents. When will the next version be published and then I can use this function?

[2017-03-19 12:45] jasontedor commented on #23642
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-03-19 12:45] #23642 closed

[2017-03-19 12:56] dadoonet commented on #23642
It's in 5.3 which should be released soon hopefully.

[2017-03-19 17:09] joelstewart commented on #22087
It is apparent for linestrings that are limited to a very small geo-area, the indexing speeds are acceptable for a large number of points in a linestring.

Building some random line strings with points limited to range:
     private double minLat = 10.00d;
     private double maxLat = 10.001d;
     private double minLon = 10.00d;
     private double maxLon = 10.0001d;

scales fairly well to hundre

[2017-03-19 20:15] jasontedor commented on #22780
Thanks for the suggestion. However, I question the value of these comments to begin with (since you can tell my usages if a method is used in testing), and either way I do not think we need annotation for this purpose.

[2017-03-19 20:15] #22780 closed

[2017-03-19 21:08] eperry commented on #19987
yah I totally don't get this non-local-address who thought is was a good idea. anywah.

I can add localhost but when I add in the ip I want it bound to it says it is a non-loopback whicih is correct non-link-local address  which is false.

The config works in 5.1 and now with this Bootcheck change it is causing me problems. Waz sup?

[2017-03-19 21:18] jasontedor commented on #19987
@eperry It's here:

If you look higher in your logs, you'll see a message explaining why the system call filters failed to install. You can read more about this bootstrap check in the [docs](https://www.elastic.co/guide/en/elasticsearch/reference/5.2/system-call-filter-check.html).

If you have additional questions, please start a topic on the [forum](https://discuss.elastic.co). Elastic reserves

[2017-03-19 21:30] eperry commented on #19987
opps did not see that this was closed but still very POOR messages there are no errors and if you can log that it failed to load you can repeat the actual problem validation.

But anyway it is a closed issue I will go create a new thread.

[2017-03-19 22:59] markwalkom opened #23646 "Describe how to apply best_compression"
[Here](https://www.elastic.co/guide/en/elasticsearch/reference/5.2/index-modules.html#index-codec) we don't mention how to change the index codec, just that it can be done.
I wasn't sure if this would be better done in the docs or in the def guide, but I wanted to start a conversation around it.

Inspired by [this thread](https://discuss.elastic.co/t/how-does-the-best-compression-work-after-i-sett

[2017-03-20 01:04] darouwan commented on #23646
@markwalkom  Thanks a lot!

[2017-03-20 05:20] kevin-tang-rs opened #23649 "After ES upgrading from 2.3.2 to 5.1.2, ES can't startup"
**Elasticsearch version**:from 2.3.2 upgrading to 5.1.2

**Plugins installed**: [readonlyrest]

**JVM version**:1.8

**OS version**:ubuntu-14

**Description of the problem including expected versus actual behavior**:
do upgrading from ES2.3.2 to ES5.1.2, after the upgrading finished, ES can't startup
**Steps to reproduce**:
do upgrading from ES2.3.2 to ES5.1.2, after the upgrading finished, ES can

[2017-03-20 05:36] tvernum commented on #23649
Elastic reserves GitHub issues for recording verified bugs and feature requests.

For helping in resolving issues such as the one you are experiencing, you should ask on our [discussion forum](https://discuss.elastic.co/c/elasticsearch).

I'm going to close this issue. It can be re-opened at a later date if the discussion determines that there is an underlying bug that needs to be fixed.

[2017-03-20 05:36] #23649 closed

[2017-03-20 08:47] spinscale opened #23650 "Mapping: Specifying a date format as array creates invalid mapping"
... yet it is allowed. See this example

**Elasticsearch version**: 5.2.1

[code]

the mapping calls return

[code]

Trying to index the same document in both indices results in

[code]

[2017-03-20 10:21] discoverytrips commented on #11310
Use missing filter, which is essentially the inverse of exists: it returns a document that corresponds to a particular field without any value.

[2017-03-20 10:54] #23604 closed

[2017-03-20 11:07] colings86 commented on #23613
@qwerty4030 I think we should just have `TermsAggregationBuilder#order(Terms.Order)` call `TermsAggregationBuilder#order(java.util.List<Terms.Order>)` with `Collections.SingletonList(Terms.Order)` and then the behaviour will be guaranteed to be the same for both cases?

[2017-03-20 14:41] PhaedrusTheGreek commented on #22423
A snapshot usually contains a backup of some indices, but when you take the snapshot with the `include_global_state` parameter, then other non-index data is included in the backup, such as templates, persistent settings, and other global state.      Then when you go to [restore](https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-snapshots.html#_restore) the backup, you can spe

[2017-03-20 14:50] jimczi commented on #23628
The docId that is checked in the parent bitset should always be smaller than `maxDoc` though in your issue it seems that there is a discrepancy between the reader that is used for search and the one used to fetch the documents. Since this query executes the query and the fetch phase in a single pass this should never happen unless a third party plugin messes with the reader.
I checked a bit what S

[2017-03-20 15:35] bleskes opened #23652 "NPE in GlobalOrdinalsSignificantTermsAggregator.WithHash"
One of our rest test runs run into this. Here's a complete stack trace:

[code]

[2017-03-20 15:43] bleskes opened #23653 "`reindex.RetryTests` leaks threads"
A test run of the above test failed because of leaked threads. Sadly it doesn't reproduce : https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=ubuntu/726/consoleFull

leaked threads:

[code]

[2017-03-20 15:45] clintongormley opened #23654 "Reenable `include_in_all` in 5.x"
https://github.com/elastic/elasticsearch/pull/21971 removed the `include_in_all` mapping parameter, but it should have gone into master only, with deprecation logging added to 5.x.

Unfortunately, `include_in_all` was removed from 5.2.0 as well.  This is a regression that should be reverted and have deprecation logging in its place.

[2017-03-20 16:04] qwerty4030 commented on #23613
@colings86 Yeah thats the idea. Might need to refactor a bit because `TermsAggregationBuilder#order(java.util.List<Terms.Order>)` calls `TermsAggregationBuilder#order(Terms.Order)` internally so that would cause a stack overflow 😵
If its alright with you I'll make that change in #22343 so a `CompoundOrder` will be used if the individual order is not a tie breaker. Definitely going to be a merge co

[2017-03-20 16:34] nezda commented on #8053
docs don't reflect this https://www.elastic.co/guide/en/elasticsearch/reference/5.2/mapping-parent-field.html#_global_ordinals

[2017-03-20 16:41] ppf2 opened #23655 "Provide better logging on snapshot restore when allocation filtering criteria is not met"
2.x, 5.x

Currently, by default, if a snapshot is taken against an index with allocation filtering settings, and the target cluster do not have nodes started with the corresponding node attributes for allocation, it is not clear to the administrator why the restore appears to be stuck.

- The recovery api will show outstanding recovery at all
- The cluster state api will show the restored shards s

[2017-03-20 17:08] jaymode commented on #23655
It would be good to also add that you can change the settings when re-trying the restore to allow it to succeed or by tagging nodes, etc.

[2017-03-20 17:24] nik9000 opened #23658 "Move analysis components to a module"
We'd like to move the analyzers from Elasticsearch core into a module. They would still ship with Elasticsearch, just not with the Elasticsearch jar. We like this for a few reasons:
1. It reduces the size of the high level rest client and the transport client. They don't need to reference analyzers.
2. It proves that analysis plugins are first class citizens by consuming the plugin API for setting

[2017-03-20 17:32] nezda commented on #23101
also https://github.com/elastic/elasticsearch/issues/8053#issuecomment-287817376

[2017-03-20 18:21] nknize opened #23660 "Aggregation Support for Range Fields"
The original Range Field PR (https://github.com/elastic/elasticsearch/pull/21002) included a `CustomRangeDocValuesField` for enabling doc values on Lucene Range Field types. One reason it was removed is because Aggregations have no way of leveraging range fields; so I am opening this issue to solicit ideas on adding range field support to aggregations. For relevant bucket aggregations (e.g., histo

[2017-03-20 18:39] Mpdreamz opened #23661 "cat aliases {name} documented as list instead of string"
[cat RestAliasAction](https://github.com/elastic/elasticsearch/blob/6265ef1c1ba1d308bcc28d00dccccac555e33b89/core/src/main/java/org/elasticsearch/rest/action/cat/RestAliasAction.java#L43) exposes an endpoint taking `{alias}` which feeds this **single** `alias` into the [GetAliasRequest constructor](https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/action/adm

[2017-03-20 19:00] javanna commented on #23306
hey @uschindler you raise a good point which we have overlooked. The indices query bugged us for quite a while and we weren't sure how many people were using it. We need to fix the alias problem, but that doesn't require restoring the indices query. The fact that you'd need the `matchesIndices` method back for your fix means that part of the code removed should be restored, see 103984a4a16af1c12f0

[2017-03-20 19:00] nik9000 commented on #23250
We've talked about this on and off for a while.

If we do this I think it'd be easier if this were a thing for tasks in general rather than just searches. It might work like task status. It is a general thing but each request has to "opt in" to it. There should be a "standard" way to opt into it.

I think it'd be hard if we wanted to force these IDs to be unique because we don't have a good place

[2017-03-20 19:12] uschindler commented on #23306
What was the problem with the indices query? Quite simple and straight-forward!

[2017-03-20 19:28] imotov commented on #23479
This might be tricky. Files that belong to individual indices are shared between multiple snapshots, so it might be misleading to provide stats on per index per snapshot level. We might be able to provide overall per index stats for the entire repository. @abeyad what do you think?

[2017-03-20 19:40] abeyad commented on #23479
Index disk space per snapshot will not make much sense as @imotov mentioned because we share index data across snapshots that stays the same.  So deleting a snapshot will not necessarily clear up all the disk space used by indexes in that particular snapshot, because another snapshot may contain the same index sharing much of the same data.

Yes, this would be much more feasible to implement.

[2017-03-20 19:50] bleskes opened #23663 "SharedClusterSnapshotRestoreIT times out"
See https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/2158

Reproduction line (which fails to reproduce the issue):
[code]

[2017-03-20 20:23] rjernst commented on #15613
@stephane-bastian

This is a common misconception. Types are *not* tables. The underlying data structures are the same for the entire index, not per type. This means using multiple types causes gaps (ie sparsity) in the data structure each time consecutive docs have different fields.  Lucene is getter better at handling sparse data, but that will never fully solve this problem.

You can snapshot m

[2017-03-20 20:26] jpountz commented on #23660
Relates to #23182.

[2017-03-20 21:08] nknize commented on #23660
Oh hay!! I might have seen that one if I didn't have 265K unread emails! Thanks @jpountz! Closing this issue as a duplicate.

[2017-03-20 21:08] #23660 closed

[2017-03-20 21:15] nknize commented on #13423
We went the other way and removed `geo_distance_range` query in https://github.com/elastic/elasticsearch/pull/22835.  Closing

[2017-03-20 21:15] #13423 closed

[2017-03-20 21:24] nknize commented on #13397
Looks like we may not even SIS. :tada: Closing as FAKE_NEWS

[2017-03-20 21:24] #13397 closed

[2017-03-20 21:31] nknize commented on #17658
This is no longer required. Closing as FAKENEWS

[2017-03-20 21:31] #17658 closed

[2017-03-20 21:37] imotov commented on #23250
@nik9000 maybe we can somehow expose a whitelisted subset of headers from ThreadContext at the moment of the task creation. This way it would be possible to add stuff on the rest layer in a general way to all requests. Otherwise, each request you would want to "opt in" will have to add a place to "stash" the information you want to expose via task manager api.

[2017-03-20 21:53] desruisseaux commented on #13397
Just as a side note, it is true that Apache SIS is not needed for geometric objects. If there is a wish to handle Coordinate Reference Systems however (WKT, GML, map projections, etc.), then it may still worth consideration.

[2017-03-20 21:57] nik9000 commented on #23250
Maybe! If we can get it at the rest layer that'd be cool.

[2017-03-20 22:00] nknize commented on #13397
Thanks @desruisseaux! I am still considering SIS for handling CRS in the ES geo parse phase; but I'm also considering Proj4J. Any (objective) thoughts :smile: for one over the other?

[2017-03-20 22:11] njlawton commented on #23436
Sorry I am no longer working on this issue. Feel free to pick it up.

[2017-03-20 22:13] njlawton commented on #22621
Hi messaging to say I will no longer be working on this issue

[2017-03-20 22:13] daver208 opened #23664 "Unexpected Key values in Histogram Aggregation"
**Elasticsearch version**: 5.2 and 5.22

**Plugins installed**: xpack 5.2 5.22

**JVM version**:Oracle 1.8.0_121(OSX)  openjdk:8-jre (docker image from https://hub.docker.com/_/elasticsearch/)

**OS version**: Mac OSX Yosemite (10.10.5) (Elasticsearch 5.2.0) AND Ubuntu 16.04 (Elasticsearch 5.2.2)

**Description of the problem including expected versus actual behavior**:
When using a decimal interv

[2017-03-20 22:29] hesamemadi commented on #23436
Sorry go for it... I am going to pick another one

[2017-03-21 00:46] desruisseaux commented on #13397
Proj4J is a port in Java of Proj.4, a library in C. Proj.4 has a solid community; Proj4J a little bit less, but it may not be a risk factor since that project is a port. Apache SIS in comparison currently depends on a very small committer base, but we are trying to improve that with the help of the Apache Software Foundation and Google Summer of Code. Apache SIS is in very active development.

Pro

[2017-03-21 02:49] sneivandt commented on #22621
I would like to pick up this issue as my first contribution. I plan on resolving this by changing the response to be something like the following.

`time_zone must be UTC when using format [epoch_millis]`

[2017-03-21 03:48] fernandozhu commented on #23664
I'm happy to work on this issue

[2017-03-21 06:14] childe commented on #23664
[code]

[code]

[2017-03-21 06:21] dadoonet commented on #23664
OMG!

[2017-03-21 06:30] fernandozhu commented on #23664
Probably makes sense to round those floating values

[2017-03-21 06:51] mfeltscher commented on #23654
Thanks!

[2017-03-21 07:43] robin13 opened #23668 "Check for homogeneous java versions"
There have been occasional issues with specific versions of Java, and one of the most difficult error profiles to debug is when the bug is an incompatibility between two different java versions used within a single cluster.  I believe it is our recommendation to always have the same version of Java across a cluster, so would it be possible (and reasonable) to have some log warnings if the node doe

[2017-03-21 07:49] discoverytrips commented on #11310
Because the timeout command will not stop the query, it just tells you the smooth return result nodes and then close the connection.
So you in each node to set timeout and no significance, and also affected your actual operation result.
However, you left out the parameters of the unit symbols.

[2017-03-21 09:05] javanna commented on #23256
I am not sure we should do this. "Elasticsearch will reject requests that have an explicit index specified in the request body", meaning no matter what the value is. Why can't you update the bulk request to not contain the index name as it is the same as what you have in the URL? I am not getting the reasons you mentioned, backwards compatibility and consistency across domains, maybe you can elabo

[2017-03-21 09:19] zhangtanzhang commented on #18073
index.analysis.analyzer.default: "analyzer-ik" ，how to configer it in elasticsearch.yml

[2017-03-21 09:19] zhangtanzhang commented on #18073
thank  you

[2017-03-21 09:20] bleskes commented on #18073
@zhangtanzhang see message above:

If you have any more questions please ask at discuss.elastic.co . We keep github for issues and feature requests. thx!

[2017-03-21 09:36] sbocconi opened #23670 "java.lang.ArrayIndexOutOfBoundsException: -65531 indexing doc with geometry"
**Elasticsearch version**:
"version": {
    "number": "5.2.0",
    "build_hash": "24e05b9",
    "build_date": "2017-01-24T19:52:35.800Z",
    "build_snapshot": false,
    "lucene_version": "6.4.0"
  }
also
    "number" : "5.5.0",
    "build_hash" : "260387d",
    "build_date" : "2017-06-30T23:16:05.735Z",
    "build_snapshot" : false,
    "lucene_version" : "6.6.0"

**Plugins installed**: []

**JV

[2017-03-21 09:37] sbocconi commented on #23670
Possibly related to #22786

[2017-03-21 09:38] colings86 commented on #23664
Note that you can specify a `format` parameter in your `histogram` request to normalise the display of the key values to your requirements. E.g. here you could use `####0.0` to specify that you want only 1 decimal figure to be displayed in the output for the keys.

[2017-03-21 09:50] colings86 commented on #23661
This bug can be reproduced with the following script:
[code]

[2017-03-21 10:18] colings86 commented on #23670
@nknize are you able to take a look at this?

[2017-03-21 10:19] eirc commented on #23479
That's all true, it would make more sense to get global (repository) index stats. For my logging case this is exactly what I need to answer the question how much do past days' log retention costs in disk space. Finding what snapshots need to be deleted to fully delete a specific past day can already be done with the current API.

[2017-03-21 10:46] colings86 commented on #23529
I think the error might be in your `writeTo()` and `readFrom()` implementations. in you `writeTo()` method above you are doing `out.writeVLong(squareCode);` (writing a VLong) but in the `readFrom()` method above you are doing `squareCode = in.readLong();` (reading a Long instead of a VLong). This will mean the read method will in some case read past the long into the next field causing it to get t

[2017-03-21 10:52] jasontedor commented on #23668
It is a best practice (for simplicity of operational management) but there really aren't any problems these days from different supported Java versions being used as we do not use Java serialization anywhere anymore.

Is there a specific issue on a recent version that you have in mind? I'm not aware of a problem here.

[2017-03-21 11:10] makeyang opened #23671 "[code issue]rename SourceToParse.java to MappingSourceToParse.java"
**Describe the feature**:
althought it is named SourceToParse while it is really a MappingSourceToParse

[2017-03-21 11:20] jasontedor commented on #23671
Thanks for the suggestion but the name is fine as is, is in the mapper package.

[2017-03-21 11:20] #23671 closed

[2017-03-21 11:23] javanna commented on #23557
Hi @jjbursik ,
the indices options api can definitely be improved, especially how it is exposed in our Java API.

That said, your REST call doesn't doesn't provide any indices options after all. The right separator between the different arguments is `&` and not `,`. You end up passing in a huge string (`ignore_unavailable=true,allow_no_indices=true,expand_wildcards_open=true,expand_wildcards_close

[2017-03-21 12:26] robin13 commented on #23668
Thank you for the clarification - did not realise that there was no Java serialisation any more, so I guess it is not necessary after all...
Perhaps more pertinent then would be to check if the Java version being used [is supported](https://www.elastic.co/support/matrix#show_jvm) (tested) and create a boot-time warning if not.

[2017-03-21 13:36] m9aertner commented on #23256
Thanks for considering this minor change request.

Consider the case where there's a separation of concerns, in larger organizations: *what* gets sent to the index, and *where* it gets sent, i.e. development versus deployment.

The deployer configures *where* the data gets sent to. She configures a *URL* that may or may not contain an index. Maybe it's smart to have multiple applications share one

[2017-03-21 13:43] gmoskovicz opened #23673 "Document preserve_existing parameter"
In https://github.com/elastic/elasticsearch/pull/17223 we added a new parameter to preserve existing settings when doing setting update. If set to `true` existing settings on an index remain unchanged, the default is `false`.

It would be great to document this setting 😃 .

[2017-03-21 13:46] colings86 commented on #22381
Hi @kevin-tang-rs

Please ask questions like these in the forum instead: https://discuss.elastic.co/

The Github issues list is reserved for bug reports and feature requests only. For the description you have provided it is not clear that this is a bug and it looks like you have multiple issues on your cluster including disk space issues.

Please feel free to ask question on the discuss forum wher

[2017-03-21 13:46] #22381 closed

[2017-03-21 13:50] mgruben commented on #15889
Ditto:

[code]

[2017-03-21 13:52] colings86 commented on #21929
It is not clear what the bug is for this issue, could you please add more details about the bug you have seen and also include a script to recreate the bug the you are seeing?

[2017-03-21 13:55] markharwood opened #23674 "Significant text - new aggregation type"
There are a number of concerns with using the existing `significant_terms` aggregation on `text` fields:

1) **Memory costs**: access to the text in documents is reliant on setting `fielddata:true` which is prohibitively expensive for most indexes.
2) **Unintelligible results** techniques such as stemming make raw index terms hard for users to interpret - terms may first need "de-stemming" for pre

[2017-03-21 13:56] jasontedor commented on #15889
@mgruben You're using a Java 7 runtime (I can tell from the Hotspot version 24.65.0.4). Also, it's best to post topics on the [forum](https://discuss.elastic.co) for general help and questions rather than posting on closed issues.

[2017-03-21 13:57] colings86 commented on #20625
@russcam can this be closed now or is there more work to be done here?

[2017-03-21 14:07] mgruben commented on #15889
@jasontedor Noted, I'll work with our vendor to see if we can upgrade to the most current JVM (currently 8u121).
Thanks!

[2017-03-21 14:08] colings86 commented on #16678
Are you still seeing this issue on you Elasticsearch cluster? If so, do you know the steps to reproduce the bug?

[2017-03-21 14:09] colings86 commented on #20247
Are you still seeing this issue on you Elasticsearch cluster? If so, are you now able to reproduce the bug?

[2017-03-21 14:11] colings86 commented on #10920
Are you still seeing this issue on the current version of Elasticsearch? If so, do you know the steps to reproduce the bug?

[2017-03-21 14:12] DrMurx opened #23675 "SearchStats counters prone to overflow"
**Elasticsearch version**: 5.2.1

**Plugins installed**: -/-

**JVM version**: OpenJDK 1.8.0_111

**OS version**: Ubuntu 14.04, Kernel 4.4.0

**Description of the problem including expected versus actual behavior**:

In an environment with extensive use of scroll API, the signed `long scrollTimeInMillis` defined in `org.elasticsearch.index.search.stats.SearchStats` can overflow `Long.MAX_VALUE`, c

[2017-03-21 14:19] jasontedor commented on #23675
How are the scroll times that large to begin with, that's a cumulative scroll time of 292,277,266 years?

[2017-03-21 14:21] s1monw commented on #23673
++

[2017-03-21 14:22] colings86 commented on #20272
Closing as it was intentional the setting was made this way

[2017-03-21 14:22] #20272 closed

[2017-03-21 14:23] nik9000 commented on #23675
Impressive!

On Tue, Mar 21, 2017 at 10:19 AM Jason Tedor <notifications@github.com>
wrote:

[2017-03-21 14:25] #23654 closed

[2017-03-21 14:25] nik9000 commented on #23654
Closing manually as the fix went to branches other than `master` and github only auto-closes when the fix is merged to `master`.

[2017-03-21 14:45] colings86 commented on #22014
No further feedback. Assuming the issue was fixed by the above

[2017-03-21 14:45] #22014 closed

[2017-03-21 14:51] colings86 commented on #20137
No further feedback, closing

[2017-03-21 14:51] #20137 closed

[2017-03-21 14:52] polyfractal commented on #20178
Sorry for delay, this fell off my radar.  First, disclaimer that we don't recommend basing data-design decisions off internal implementation details, as those are always subject to change.

Using a string vs number won't change the behavior of approximation.  The difference between the OrdinalCollector and the DirectCollector is just when values are hashed and offered to the HLL sketch; OrdinalCol

[2017-03-21 14:52] #20178 closed

[2017-03-21 14:53] colings86 commented on #20062
I added the `build` label to this as it seemed the most appropriate label since we don't have (and I don't think we need) a `dev env` label. If you know of a more appropriate label for the functional area please add it instead

[2017-03-21 14:56] colings86 commented on #19843
Closing as there doesn't seem to be any objection to the suggestion of closing above.

[2017-03-21 14:56] #19843 closed

[2017-03-21 14:58] brusic opened #23676 "Unassigned shards due to FailedNodeException"
**Elasticsearch version**: 5.2.0

**Plugins installed**: [none]

**JVM version**: 1.8

Started a couple of simple 5.2.0 clusters of three identical nodes, where each node is master eligible and has data. There are no restarts or rebalancing going on. Data set is relatively small.

The indexing process for a new index is the standard of setting number of replicas to 0 at the start and then increasi

[2017-03-21 15:01] colings86 commented on #19039
No further feedback so closing for now

[2017-03-21 15:01] #19039 closed

[2017-03-21 15:04] colings86 commented on #17016
Is this issue still relevant?

[2017-03-21 15:05] nik9000 commented on #18718
Update on this statement: we're reusing the "response" classes as part of the high level rest client so we still should do this.

[2017-03-21 15:07] ywelsch commented on #23676
Can you run the [`_cluster/allocation/explain` API](https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-allocation-explain.html) and post the output here?

[2017-03-21 15:28] markharwood commented on #23652
Build URL: https://internal-ci.elastic.co/job/elastic+x-pack-elasticsearch+master+periodic/449/
Reproduction line with seed (but did not reproduce for me either):

    gradle :x-pack-elasticsearch:qa:core-rest-tests-with-security:integTestRunner -Dtests.seed=C016D74BF486C161 -Dtests.class=org.elasticsearch.xpack.security.CoreWithSecurityClientYamlTestSuiteIT -Dtests.method="test {yaml=msearch/20_t

[2017-03-21 15:30] glefloch commented on #23661
Hi, I would like to contribute to the project. Can I take this issue?

[2017-03-21 15:50] brusic commented on #23676
Never seen that API. Been focused on cat APIs mainly.

[code]

Seems like my assumption that each node in each cluster were identical was incorrect. I do not control the operation side of things.

[code]

So host2 cannot replicate its shards to the other nodes?

[2017-03-21 15:58] serj-p commented on #20129
At Nimble inc. we use python scripting as currently Elasticsearch doesn't have "reverse child" aggregation. This is pretty huge module generating aggregations code and optimized to work fast. The need to rewrite it in Painless actually makes it Painful.

[2017-03-21 16:03] ywelsch commented on #23676
If host2 which is on ES version 5.2.1 has a primary shard, that shard cannot be replicated to nodes with older versions, as the Lucene segments written on the node with the higher version might use a new postings format or codec that is not available on the target node with lower version. The solution here is to upgrade all nodes to the same version.

[2017-03-21 16:03] #23676 closed

[2017-03-21 16:06] wjonesy commented on #21291
I am migrating from 2.x to 5 at the moment. And I have just come across this issue, I have been stumped for a while.

The docs are not very clear.
"These suggestions will be associated with cafe and food category."
Sounds like the context types are AND, not OR.

An update would be useful.

Thanks

[2017-03-21 16:18] webmstr commented on #19565
Here's a use case: I have documents that should appear in pairs.  I want to find when they *don't* appear in pairs.  So, to be able to use "max_doc_count" of 1 would give me just what I need with no additional processing required.

Scripting it might work in your sandbox, and might even work securely in ES5, but not everyone is there and it shouldn't be an excuse to ignore features (especially one

[2017-03-21 16:30] DrMurx commented on #23675
@jasontedor I know that the number is insanely great, and I doubt it can be reached in regular operation. Still, the exception clearly indicates a negative value, and assuming that `scrollTimeInMillis` is always positive, I can give no better explanation than a numeric overflow.

This is the stacked Grafana graph of `scrollTimeInMillis` of our 12 node setup. The overflow happens at 292 years (appr

[2017-03-21 16:36] jasontedor commented on #23675
Yes, I understand the bug, and it's clear how to address. My concern is that there is a deeper issue here so I don't want to fix the bug until I understand where these overflowed values are coming from because addressing the serialization issue will just paper over the potentially deeper issue.

[2017-03-21 16:37] yossicahen commented on #21583
I don't know if I need to open a new issue, but I have also an identical bug on upgrading from 2.4 to 5.2. I have a significant performance regression on Bulk Indexing. I tried to change the number of documents on each batch from 1000 to 5000 or 10,000, but no changes. Rollback to 2.4.2 solves the problem. Is there a major change in ES5 bulking? Indexing?

[2017-03-21 16:40] jasontedor commented on #23675
This is off by a factor of 10^9. If this is right, it indicates maybe a unit conversion bug somewhere. I'll dig.

[2017-03-21 17:27] markharwood commented on #23652
Odd one - doesn't reproduce for me and looking at code the only method invocation is on SearchContext object which suggests this was null somehow:

      bucketOrds = new LongHash(1, context.bigArrays());

[2017-03-21 17:38] jasontedor commented on #23675
Are you sure about the units on your chart?

[2017-03-21 17:51] colings86 commented on #18947
Since this is an issue relating to x-pack I have raised an issue in our internal bug tracker for X-Pack. I will close this issue here as the issue does not directly relate to Elasticsearch

[2017-03-21 17:51] #18947 closed

[2017-03-21 17:51] colings86 commented on #22071
Since this is an issue relating to x-pack an issue has been raised in our internal bug tracker for X-Pack. I will close this issue here as the issue does not directly relate to Elasticsearch. Thank you for reporting this feature request

[2017-03-21 17:51] #22071 closed

[2017-03-21 17:53] colings86 commented on #21472
Since this is an issue relating to x-pack I have raised an issue in our internal bug tracker for X-Pack. I will close this issue here as the issue does not directly relate to Elasticsearch. Thank you for reporting the issue.

[2017-03-21 17:54] #21472 closed

[2017-03-21 17:59] colings86 commented on #23661
@glefloch yes, we would very much appreciate you tackling this issue so feel free to submit a Pull Request with a fix if you wish. You may want to read https://github.com/elastic/elasticsearch/blob/master/CONTRIBUTING.md to get started on contributing.

[2017-03-21 18:27] jasontedor commented on #23675
Do you also track `scroll_total` historically. If so, can you share it on the same timeline that you shared `scroll_time_in_millis`? Can you also share the current output of `/_stats/search?level=shards`?

I do not see any unit conversion bugs behind this (I do think you might have a unit conversion problem in your chart; that doesn't explain the overflow though).

[2017-03-21 18:56] #13096 closed

[2017-03-21 18:59] #20321 closed

[2017-03-21 19:00] pickypg opened #23681 "Allow Dynamic Cluster Setting for `number_of_shards`"
Today, we often suggest that users create a default "global" index template to create defaults for their cluster's sharding. For example:

[code]

However, as we look to the future of disabling template inheritance, we need to consider this very real use case of template inheritance, which was probably the most common use of it.

As such, I think we should allow certain index level settings to be

[2017-03-21 19:11] dadoonet opened #23682 "Add target field to lowercase processor (and others)"
From this discussion: https://discuss.elastic.co/t/workaround-alternative-for-normalizer-in-es-5-1/79470/3?u=dadoonet

Could be nice to be able to lowercase a field but target it to another field like "field.raw" for example.

If accepted, I think we should do it for most processors.

[2017-03-21 19:33] #23653 closed

[2017-03-21 19:49] DustinChaloupka opened #23683 "Normalizer Settings Validation"
**Elasticsearch version**: 5.2.2

**Plugins installed**: Just the defaults

**JVM version**: openjdk `1.8.0_111-8u111-b14-3~14.04.1-b14`

**OS version**: Ubuntu 14.04

**Description of the problem including expected versus actual behavior**:
Was trying to migrate an analyzed `string` field (from ES 2.4) to a better field setup. I hadn't found anything super clear on how to go about doing this, so

[2017-03-21 19:50] clintongormley commented on #8053
@martijnvg @jpountz does the _parent field load ordinals eagerly in 5.x?  If so we should update the docs

[2017-03-21 19:59] colings86 commented on #23683
@jpountz are you able to take a look at this?

[2017-03-21 20:22] clintongormley commented on #18680
Keep upgrading - things have improved greatly in 5.x, and we have more optimizations which will be released shortly.

[2017-03-21 20:28] kainosnoema commented on #18680
@clintongormley thanks, that's actually our current strategy. We're re-writing all our queries to be 5.x compatible and will be upgrading later this week or early next. I'll update here with the results.

[2017-03-21 20:45] #20691 closed

[2017-03-21 20:46] spalger opened #23685 "Support setting `action.auto_create_index=false` per request"
**Describe the feature**: On `index`/`create` or any request that would normally cause non-existing indexes to be created, a parameter would allow disabling automatic index creation for that request. The inverse should not be true (you shouldn't be able to opt-out of the `action.auto_create_index` config).

**Examples**:
Standard scenario:
[code]
[code]

Inverse scenario:
[code]
[code]

**Why**: K

[2017-03-21 20:56] #15295 closed

[2017-03-21 21:00] clintongormley commented on #23685
@spalger This would be better handled by creating an index template at startup which matches `.kibana`.  Then your indexing request would create a valid `.kibana` index instead of failing.

[2017-03-21 22:32] ceeeekay commented on #20247
Hi there,

No sign of this reoccurring since opening this issue. Currently running 5.2.0.

[2017-03-21 23:35] spalger commented on #23685
That's not a bad idea, but we don't control the list of index templates and would still need to make sure that the template exists.

[2017-03-21 23:53] markwalkom opened #23687 "Explain mapping explosion"
[Here](https://www.elastic.co/guide/en/elasticsearch/reference/5.0/mapping.html#mapping-limit-settings) we talk about mapping explosions, but don't really go into what that is and why it's bad.

There's a few old blog posts about what this is means, but It'd be great if we elaborated in the docs. Not sure if the main docs or def guide is the place though.

[2017-03-22 01:03] jasontedor commented on #20247
Thanks for reporting back. Please feel free to reopen if this reproduces and you can provide more information.

[2017-03-22 01:03] #20247 closed

[2017-03-22 02:22] jasontedor commented on #23681
The reason that we are okay with removing template inheritance is due to the assumption that a cluster is expected to have a reasonable number of templates and in cases where a cluster does have a large number of templates, they would have to be programmatically managed. Given this assumption, I do not see the need to add default index settings. If there a reasonable number of templates, the defau

[2017-03-22 03:35] Jingw98 commented on #22928
I will try to improving it

[2017-03-22 05:07] paregos commented on #11053
It looks like copy_to and include_in_all no longer work, is there a list of other fields that shouldn't work?
Sorry if I misunderstood your comment but did you mean if the propName is fields within a multiField it should be rejected like if the propName is include_in_all within a multiField?

[2017-03-22 06:46] rajshah1593 opened #23692 "ES system CPU spikes to 100% despite of having small amount of data"
Hello,

I am using Elastic Search v5.2.2.
I have a single node cluster with 3 primary shards & 0 replica shard.
Total documents are around 10 million with 5 GB of data.

I have disabled scoring and most of the fields in my index are not_analyzed.
I am also using the pre-load feature where I load all the files (index.store.preload : ["*"]) before beginning the search operations.

Currently, I have

[2017-03-22 07:02] Jingw98 commented on #23231
I will try to fix this if it's OK :)

[2017-03-22 07:06] dadoonet commented on #23692
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2017-03-22 07:06] #23692 closed

[2017-03-22 07:37] hexian55 opened #23693 "elasticsearch5.2.1 install plugin by local failure"
**Elasticsearch version**:
5.2.1
**Plugins installed**: [search-guard-5-5.2.1-11,analysis-smartcn-5.2.1]

**JVM version**:
1.8
**OS version**:
centos7.0
**Description of the problem including expected versus actual behavior**:
bin/elasticsearch-plugin install by local failure
**Steps to reproduce**:
 1.
 2.
 3.

**Provide logs (if relevant)**:

**Describe the feature**:

hi
when I install plugin b

[2017-03-22 07:44] johtani commented on #23693
Please ask questions on [the forum](https://discuss.elastic.co/c/elasticsearch). Elastic reserves GitHub for verified bug reports and feature requests.

[2017-03-22 07:44] #23693 closed

[2017-03-22 07:46] hexian55 commented on #23693
@johtani   please see  https://discuss.elastic.co/t/elasticsearch5-2-1-install-plugin-by-local-failure/79546

[2017-03-22 08:56] martijnvg commented on #8053
@clintongormley Yes, the _parent field does load global ordinals eagerly. I think since 5.0, it was changed as part of #17148. I'll update the docs.

[2017-03-22 09:38] markharwood commented on #23652
Actually the line that failed was the closing bracket after the above statement. I assumed this was an inaccuracy in error reporting but then saw this from @nik9000 on a different build failure this morning:

[2017-03-22 09:40] makeyang commented on #21929
I mean since there is already sample, we don't have to schedule ping.

[2017-03-22 10:15] jasontedor commented on #21929
The application level pings (controlled by `transport.ping_schedule`) are not enabled by default, I don't think there is anything to do here.

[2017-03-22 10:15] #21929 closed

[2017-03-22 10:35] jasontedor commented on #23063
There is no problem here, especially for negative dentries. The system will free this memory if it needs it (and this is consistent with your SReclaimable).

[2017-03-22 10:35] #23063 closed

[2017-03-22 10:39] jasontedor commented on #23685
This is the strategy used by Beats already, for example.

[2017-03-22 10:53] jasontedor commented on #23652
Indeed, it can not be the case that `context` is null, it was accessed higher up the stack in org.elasticsearch.search.aggregations.bucket.significant.SignificantTermsAggregatorFactory.doCreateInternal, and prior to that in a super constructor for `WithHash` (`BucketsAggregator`). Since it's final, it simply can not be `null` here or we would blow up earlier.

[2017-03-22 11:36] sscarduzio opened #23694 "A way to inject dependencies in a Plugin class?"
I keep in hitting [this](https://github.com/elastic/elasticsearch/blob/ee802ad63c0f21d697a5095dd05dc6f94626ee4d/core/src/main/java/org/elasticsearch/plugins/PluginsService.java#L412) every time.

I tried using @Inject with fields, but they are null.

[code]

Is there a way to inject dependencies in an Elasticsearch plugin class? Or any way around this?

[2017-03-22 11:50] colings86 commented on #23694
Hi @sscarduzio

Please ask questions like these in the forum instead: https://discuss.elastic.co/

The github issues list is reserved for bug reports and feature requests only.

thanks

In terms of your question, as the exception message says you can only have a zero-arg constructor or a constructor with only a `Settings` parameter so you cannot inject dependencies in the constructor. In your case

[2017-03-22 11:50] #23694 closed

[2017-03-22 12:16] munnerz commented on #17493
Hey @bleskes - I'm currently working on some automation for running Elasticsearch in a clustered fashion on top of Kubernetes, and would love to be able to manually trigger a master re-election (or alternatively, disallow the current master from being master, similar to setting `cluster.routing.allocation.exclude`. Right now upon a scale down event involving the master node, the cluster can turn r

[2017-03-22 12:26] cbuescher opened #23695 "CI: TribeIT#testClusterStateNodes fails with "can't update [discovery.zen.minimum_master_nodes]""
Build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-intake/974

There are several of these failures in the logs:
[code]

[2017-03-22 12:26] cbuescher commented on #23695
Couldn't reproduce, but here's the line in any case:
[code]

[2017-03-22 12:38] cbuescher commented on #23695
@ywelsch can you take a look at this and re-assign if needed?

[2017-03-22 12:57] bleskes commented on #17493
@munnerz can you open a topic on discuss.elastic.co  and link it here? we can continue talking there. I have a feeling this will become a discussion ;)

[2017-03-22 13:02] munnerz commented on #17493
@bleskes done! Thanks for the prompt response :) https://discuss.elastic.co/t/gracefully-trigger-re-election-of-master-node/79587

[2017-03-22 13:23] cbuescher opened #23696 "CI: SmokeTestReindexWithPainlessClientYamlTestSuiteIT reindex/10_script/Modify a document based on id failure"
This failed two times today so far:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=fedora/738
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+5.2+multijob-unix-compatibility/os=fedora/125

Error looks like this in the logs:
[code]

Unfortunately the reproduction doesn't work so far locally, here it is anyway:
[code]

[2017-03-22 13:23] cbuescher commented on #23696
@nik9000 maybe you can see what's going on here

[2017-03-22 13:26] Tobsucht commented on #23613
Thanks for the fast resolution!

[2017-03-22 13:34] nik9000 commented on #23696
Sure!

[2017-03-22 14:12] sundarv85 commented on #23343
@jpountz Eventually we enabled term_queries cache in our production and have seen improvements in our network speed. It would be good if this can be exposed in documentation as well, as we do not want to lose this feature in upcoming elasticsearch versions.

[2017-03-22 14:33] nik9000 commented on #20129
Sorry @serj-p! Jython's total lack of security model means we can't support it. This is certainly a change from us, but it has been a long time coming.

Does your missing aggregation have an open issue? Maybe we should make it?

You certainly don't have to rewrite it in Painless. You *could* make a plugin with it. It'd likely be more efficient that way.

[2017-03-22 14:36] ywelsch commented on #23695
This exhibits a real issue (but I'm not sure yet why the test fails) with the `minimum_master_nodes` dynamic setting update check.

To reproduce the issue:
- Start 2 nodes
- Dynamically update cluster settings by setting `minimum_master_nodes` to 2
- Start another node
- When that third node joins the cluster, it will throw said exception because it will check if the number of master nodes in the

[2017-03-22 14:46] tyth opened #23699 "more_like_this query doesn't work with child documents"
**Elasticsearch version**: 5.2.2

**Plugins installed**: []

**JVM version**: openjdk version "1.8.0_65"

**OS version**: CentOS release 6.8

**Description of the problem including expected versus actual behavior**:
`more_like_this` query does not work correctly with child documents, when using document reference in `like` parameter. Queries always return 0 hits. It works fine for same query and d

[2017-03-22 15:15] colings86 commented on #23699
This reproduces on master with the following script:
[code]
Even if you specify the `_routing` using the parent's id it still returns 0 hits:

[code]

[2017-03-22 15:52] nik9000 commented on #23696
Just getting to this - it doesn't reproduce and doesn't make a whole lot of sense. It looks like the reindex only saw 1 document when it meant to see 2. I'd love to see it fail after #23688.

[2017-03-22 15:53] nik9000 commented on #23696
And [here](https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=fedora/738/console) one is.

[2017-03-22 15:57] cbuescher opened #23700 "CI: BasicAnalysisBackwardCompatibilityIT.testAnalyzerTokensAfterUpgrade fails"
Build: https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+2.4+periodic/2188

I have trouble reproducing this right now on the 2.4 branch so far, but there are similar failures in the past on the 2.4 branch, e.g.
http://build-us-00.elastic.co/job/es_core_24_windows-2012-r2/2198/
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+2.4+periodic/2101

The errors look like this:

h

[2017-03-22 15:59] nik9000 commented on #23696
From the CI log:
[code]

[2017-03-22 16:03] nik9000 commented on #23696
That code looks like:
[code]

Which doesn't make a whole ton of sense.

[2017-03-22 16:21] xavigonz commented on #14928
+1

[2017-03-22 16:24] pickypg commented on #23681
I think that's an unrealistic assumption (naturally, since I wrote the issue). We see time and time again that advanced users often setup the clusters, but then less advanced users will come in and create the mappings for their own purposes.

In such a case, the newer user is less likely to properly handle sharding -- if they even consider it -- and that  is exactly what the "global" template solv

[2017-03-22 17:09] inqueue commented on #23681
Additionally for the newer user, and perhaps one with a bit more awareness, having previously configured `index.number_of_shards` and `index.number_of_replicas` in `elasticsearch.yml` (pre-5.x), the use of a "default" (`*`) index template for these settings was an understood and accepted change. With inheritance removed, we'll need to re-inform those we have helped keep shard counts down with defa

[2017-03-22 17:29] cbuescher opened #23702 "CI: org.elasticsearch.backwards.Backwards50ClientYamlTestSuiteIT test {p0=indices.clear_cache/10_basic/clear_cache with request_cache set to false}"
Two failures on master:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+java9-periodic/1879
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/2181

For some reason I had trouble opening the full log but the error mails contain the following information:

java.lang.AssertionError: Failure at [indices.clear_cache/10_basic:12]: expected [2xx] status co

[2017-03-22 17:30] SimonKlausLudwig commented on #14928
+1

[2017-03-22 17:38] azrle commented on #23063
@jasontedor @vanga
Thanks for your information. Is it possible that sudden memory allocation will trigger OOM before pages to be reclaimed?

_We actually saw OOM once. However, we do not have enough evidences to draw a conclusion._

[2017-03-22 17:39] jasontedor commented on #23063
No, it should not be the cause of an OOM.

[2017-03-22 18:11] cbuescher commented on #23700
The errors I looked at seem to center around `arabic` and `sonari`

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+2.4+periodic/2101/consoleFull
[code]

http://build-us-00.elastic.co/job/es_core_24_windows-2012-r2/2198/consoleFull
[code]

[2017-03-22 18:20] nik9000 commented on #23702
I've kicked off a snapshot build for 5.x. That should fix it.

[2017-03-22 18:55] nik9000 commented on #23702
Lots of similar failures are waiting for the CI build.... Sorry!

[2017-03-22 19:09] brandond commented on #22621
@sneivandt Any particular reason you're adding the check in RangeQueryBuilder, as opposed to somewhere closer to the Joda EpochTimeParser class that actually checks for non-UTC time zones? Seems like there are a lot of other places that might potentially ask EpochTimeParser to handle a non-UTC timestamp.

[2017-03-22 19:20] nik9000 commented on #23702
The snapshot is failing so I've pushed 490d29f4fc15d8d156d814a49194e619b687b96a which should get us back to stable.

[2017-03-22 19:36] hakdogan commented on #16678
Hi.

Yes in the same version`(2.2.0)`

Please run the above code I'm sharing: [code](https://gist.github.com/hakdogan/e541e52a96b0e16ea8f9)

If you run the standalone application sequentially, you will always see red the state of the cluster after the second time. However, for example, you will see the green the state when you are refresh to the created index after creating.

[2017-03-22 19:42] nik9000 commented on #23702
These ought to go away. I'm going to leave this open until I revert 490d29f and we get our tests back.

[2017-03-22 19:45] abeyad commented on #16678
In 2.x and prior, when an index was initially created, the cluster would temporarily go `RED` while shards are being allocated and created.  Once all the primary shards have been created on their respective nodes for the newly created index, then the cluster moved to `YELLOW`.  We changed this behavior in the 5.x series so that when an index is created, instead of temporarily going to `RED` while

[2017-03-22 21:02] javanna commented on #21789
Right, I had forgotten about `maxRetryTimeout`. That one is about making sure that the whole request, including retries, doesn't take longer that a certain amount of time. Its default value is the same as the default socket timeout, but they are two very different things as one is about the whole duration of the request, while the second applies to each single request and it is applied when waitin

[2017-03-22 23:20] imotov commented on #18254
I think we can consider this one done. We have mentioned it in documentation and #23697 makes it possible to get response from all shards if needed. Please feel free to reopen if you don't agree.

[2017-03-22 23:20] #18254 closed

[2017-03-22 23:31] vidyaramanathan commented on #11739
Hi - I have a similar issue. Is there any solution for this problem other than going with one primary shard ? (since we may have million documents and need to scale out instead of scale in to get better results)

I've posted my concern here as well -
https://discuss.elastic.co/t/phrase-suggester-returned-suggestions-even-if-searched-keyword-is-in-the-index/79656

[2017-03-23 00:58] dukenguyen commented on #15655
I'm also unable to do this.  @sumitjainn or @spinscale , do you have an example please?

[2017-03-23 01:02] #23663 closed

[2017-03-23 01:19] AdityaJNair commented on #22840
Hi just made a pull request regarding this issue. Can you please have a review over this?
Thanks

[2017-03-23 01:33] thammadi opened #23707 "Hits limit for multi search"
Hi,

Sorry I have to post it as an issue, but I wanted to know what is the max limit of hits returned from a multi search query (combined and individual)?

Thanks,

[2017-03-23 01:41] jasontedor commented on #23707
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-03-23 01:49] thammadi commented on #23707
@jasontedor, thanks for letting know. I won't mind you closing this issue. Will post on the forums instead.

Thanks again.

[2017-03-23 02:20] azrle commented on #23063
I see. We also believe in kernel.
We will reopen the issue and report it if we find it to be the cause of an OOM.

[2017-03-23 03:28] #23707 closed

[2017-03-23 04:29] imidya opened #23709 "Geo operations in ES 5.1.2 are slower than older ES"
**Elasticsearch version**: 5.1.2

**Plugins installed**: None

**JVM version**: Oracle JDK 1.8.0_121, JVM build 25.121-b13 64-Bit

**OS version**: Ubuntu 14.04.1 LTS

**Description of the problem including expected versus actual behavior**:

I want to implement a function which is giving a geo point (latitude and longitude) and returning matched administrative districts which the geo point is insi

[2017-03-23 07:11] TJC commented on #14337
Can we re-open this? It's still an issue.

[2017-03-23 07:27] TJC opened #23710 "Mount point not found on btrfs"
Essentially a duplicate of #14337 , but that was closed without insight two years ago, and I believe I have some more to add.

**Elasticsearch version**: 2.4.4

**Plugins installed**: []

**JVM version**: Oracle-sourced 1.8.0_111

**OS version**: Ubuntu 14.04

**Description of the problem including expected versus actual behavior**:

Ubuntu's standard btrfs filesystem setup is to have two subvolum

[2017-03-23 07:31] TJC commented on #23710
I believe this is due to a bug in `sun.nio.fs.LinuxFileStore.findMountEntry` in regards to btrfs.

A work-around is to create *another* subvolume and mount that on /var/lib/elasticsearch.

ie. ```
mount /dev/sda1 /mnt/tmp
cd /mnt/tmp
ls
# shows @ and @home
btrfs subvol create @elasticsearch
cd /
umount /mnt/tmp
mount -o subvol=@elasticsearch /var/lib/elasticsearch
chown elasticsearch /var/lib/elas

[2017-03-23 09:14] hakdogan commented on #16678
@abeyad Thanks for the explanation

[2017-03-23 10:17] sergpsu opened #23712 "Script filtering on nested field"
I'm trying to use following script filter:
[code]
and this does not give any result. If I replace MEMBERS with LAST_MESSAGE_DATE the query works as expected. I have thousands of documents with MEMBERS so the query really does not work as expected.
Elasticsearch version 5.1.2

Mapping
[code]

[2017-03-23 10:18] russcam commented on #20625
@colings86 It just needs to be merged. Happy to pull the merge trigger if it looks good to you?

[2017-03-23 13:44] jasontedor commented on #23710
Closing as not an Elasticsearch issue.

[2017-03-23 13:44] #23710 closed

[2017-03-23 13:45] nik9000 commented on #23710
@TJC, do you want to file a bug with the jdk folks?

[2017-03-23 13:49] tobias74 commented on #21825
A bounding box needs two points, but I just have that one geo_hash of the aggregation. The geohash in itself is not really a point, but rather a "geo-box". So I think it should be easy o use it in a bounding-box-query, but I cannot provide the same geohash for both points in the query

[2017-03-23 13:52] clintongormley commented on #23685
Chatting to @spalger the concern with index templates is that somebody could delete the template and the .kibana index on a running server.  I'm not sure we can really protect against that.  If somebody manages to do that (either by deleting their data dir or via the REST api) then they must expect a weird outcome, and they can do it again to get their kibana index setup correctly.

[2017-03-23 14:23] jasontedor commented on #23710
There's a related JDK bug which already discusses btrfs: https://bugs.openjdk.java.net/browse/JDK-8165852

[2017-03-23 14:24] jasontedor commented on #23710
See also this mail thread: http://mail.openjdk.java.net/pipermail/nio-dev/2016-October/003915.html

[2017-03-23 14:25] jasontedor commented on #23710
Finally, I think this bug is the crux of the matter: https://bugs.openjdk.java.net/browse/JDK-8166162

I suspect that any newly opened bug reporting this issue would be closed as a duplicate of that one as that's the heart of the matter here for us.

[2017-03-23 14:45] gcampbell-epiq opened #23713 "Allow passing a query in Terms Query's "Terms lookup mechanism""
**Describe the feature**: Extend the Terms Query to allow another query to be used as the "Terms lookup mechanism."

Currently, a specific _document_ can be referenced from the terms query as a means of passing a lot of values to the terms query. [Documented here: Terms Query - Terms lookup mechanism](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-terms-query.html#query-

[2017-03-23 14:52] clintongormley opened #23714 "Field aliases"
It is hard to rename a field when using time-based indices - search and especially aggregations will only work on either the new or the old version, but there is a transition period where not all data will be seen.

We can introduce a new field type called `alias` which simply points to another field, eg:

[code]

This field type would work as follows:

* Attempts to index into the alias field wou

[2017-03-23 15:01] skearns64 commented on #23714
++.

We may also want to consider supporting these field aliases in the field_stats and the (I think) upcoming field_capability APIs.

[2017-03-23 15:01] #22840 closed

[2017-03-23 15:11] jpcarey opened #23716 "failed snapshot _status returns 500"
When a snapshot fails, the snapshot/_status will return a 500 error. It seems the only way to fetch the actual "FAILED" status is by listing the repository/_all. To me, the 500 exception returned when calling the snapshot/_status seems wrong.

**Elasticsearch version**: 5.2.2

**Plugins installed**: x-pack

[code]

[2017-03-23 15:50] wgerlach commented on #18064
I understand from this thread that the ability has been added to sort case insensitive. But how? Is there documentation or an example available ?

[2017-03-23 15:53] fabiocatalao commented on #18064
@wgerlach : I've added an example for lowercase/asciifolding normalizer on elastic forum: https://discuss.elastic.co/t/wildcard-case-insensitive-query-string/75050/5

[2017-03-23 16:17] jpcarey opened #23718 "support java.util.Date fields in the DateIndexNameProcessor"
**Elasticsearch version**: 5.2.2

**Plugins installed**: x-pack

**Description**: If you create a new field using the `script` processor, ex. `ctx.new_date = new Date();`, and then try to use the `date_index_name` processor, it throws
`{"type":"exception","reason":"java.lang.IllegalArgumentException: java.lang.IllegalArgumentException: field [new_date] of type [java.util.Date] cannot be cast to [j

[2017-03-23 16:35] rjernst opened #23719 "nested/object field access in scripts should throw an appropriate error"
When trying to access a nested or object field within a script, the behavior is different depending on the method called. When trying to retrieve the value of the field, an exception is thrown saying the field does not exist (when it fact it is simply not a field mapper). If you try to check if the doc contains the field, it simply returns false, again incorrectly since the field does exist, just

[2017-03-23 16:39] elasticmachine opened #29768 "[ML] Tombstone deleted model snapshots"
*Original comment by @polyfractal:*

Right now, deleting a model checks to see if it is in-use by a job before deleting. However, the cluster states are snapshots-in-time, so it's possible that the model becomes "in-use" after or during the physical deletion of the snapshots, since they are individual documents.

The problematic timeline is:

1. Model is not in use
2. DeleteModel action received,

[2017-03-23 16:43] stevenmwade opened #23720 "Bad error message when misspelling docs in _mget"
**Elasticsearch version**: 5.x

**JVM version**: 8

**OS version**: OSX 10.11.6

**Description of the problem including expected versus actual behavior**: When searching _mget and passing `{"doc": []}` (misspelling `docs`), should throw a better error message when seeing the array.

**Steps to reproduce**:
`doc` instead of `docs`:
[code]

Error:
[code]

@dakrone

[2017-03-23 16:48] rjernst commented on #23712
I see that you previously created a [discuss thread](https://discuss.elastic.co/t/script-filtering-by-nested-object-size-problem/79622/2), but waited only a few hours before creating this github issue. Elastic uses github for feature requests and confirmed bug reports. Please use the forum, and [be patient.](https://www.elastic.co/community/codeofconduct)

Note that while I don't think this is a b

[2017-03-23 16:48] #23712 closed

[2017-03-23 16:56] sundarv85 commented on #22321
+1 We are also facing the same issue with on a parent-child, terms+top_hit aggregation. On the below question, we get a null_pointer_exception, unless we add the above suggested workaround of `"collect_mode" : "depth_first"`

[code]

[2017-03-23 17:01] wolczas opened #23721 "Nest driver can't create include: "" element in the aggregations"
**Elasticsearch version**: 5.2.2

**OS version**: Win 10

**Description of the problem including expected versus actual behavior**:
```include``` section in the aggregation is unable to create a simple string inside of ```terms```.

I want to create
[code]
Using Nest statements ```include``` value gets wrapped in ```[]``` and ```pattern``` elements:

* ```TermsAggregationDescriptor<T> Include(stri

[2017-03-23 17:07] elasticmachine opened #29769 "[ML] Better handling of DBQ failures in JobStorageDeletionTask"
*Original comment by @polyfractal:*

If there are any failures in JobStorageDeletionTask's DBQ, the current code just shrugs and logs it, which could potentially leave orphaned data in the index.

We should probably add some more robust error handling which potentially retries the deletes.  Unclear what exactly needs to be done, as it depends on the nature of the error.  Needs more research

[2017-03-23 17:16] jasontedor commented on #23721
I think that you should open this on the [elastic/elasticsearch-net](https://github.com/elastic/elasticsearch-net/) repository.

[2017-03-23 17:16] #23721 closed

[2017-03-23 17:18] wolczas commented on #23721
Thank You! done:
https://github.com/elastic/elasticsearch-net/issues/2682

[2017-03-23 17:21] jasontedor commented on #23721
You're welcome. It's appreciated that you linked to the subsequent issue from here, to help future passersby that land here.

[2017-03-23 17:23] desruisseaux commented on #13397
To elaborate on the last paragraph of my above comment, I can help a little bit in making Proj4J a GeoAPI 3.0.1 implementation if there is an interest for that. If ElasticSearch is coded against only those interfaces, or keep implementation-specific API calls in a small area of the code only, it would be easier for the users to choose their implementation. Those who want a lightweight (early-bindi

[2017-03-23 17:52] olcbean commented on #23720
Do you mean that instead `no documents to get;` the msg should changed to `Unknown key for a START_OBJECT in [doc].` (similar to the one displayed for search)?

[2017-03-23 17:55] stevekaeser opened #23722 "smartcn_tokenizer is slower between 1.3.4 and 2.4.3"
**Elasticsearch version**: 2.4.3

**Plugins installed**: [smartcn_tokenizer]

**JVM version**: 1.8

**OS version**: Debian Jessie

**Description of the problem including expected versus actual behavior**: When running the smartcn_tokenizer, it takes almost 4x as long on 2.4.3 than it does on 1.3.4

**Steps to reproduce**:
 1. create an index on with the following mapping:
`PUT test-index
{
	"setti

[2017-03-23 18:02] pav-1 commented on #22792
@djschny
This is not an issue anymore in 5.2.2 or master as `ParseFieldMatcher` is deprecated/removed and strict mode is not used when parsing _includes_.

Is this required in 5.1.x?

[2017-03-23 18:31] jdconrad opened #23723 "Test Failure: org.elasticsearch.search.aggregations.metrics.avg.InternalAvgTests"
Looks like a rounding error in test case.

Reproduce With:

gradle :core:test -Dtests.seed=AD4714EA5A654B38 -Dtests.class=org.elasticsearch.search.aggregations.metrics.avg.InternalAvgTests -Dtests.method="testReduceRandom" -Dtests.security.manager=true -Dtests.locale=el-GR -Dtests.timezone=US/Pacific
FAILURE 0.01s J0 | InternalAvgTests.testReduceRandom

Build Failure:

https://elasticsearch-ci.ela

[2017-03-23 18:37] bamb00 commented on #10005
Wonder if this is the same issue with the time field in Kibana losing its time (ns) precision,
"? time	   	 2017-03-23T18:34:15.233983675Z"
When the Index is reset in Kibana the time field loses some of its precision time,
" time	   	March 23rd 2017, 13:35:21.246"

If so...Is there a workaround to display the complete precision?

[2017-03-23 18:44] jdconrad opened #23724 "Test Failure: org.elasticsearch.index.reindex.ReindexClientYamlTestSuiteIT"
Unable to reproduce locally on Arch.

Reproduce with:

gradle :modules:reindex:integTest -Dtests.seed=F246EA1E2B3C0AAB -Dtests.class=org.elasticsearch.index.reindex.ReindexClientYamlTestSuiteIT -Dtests.method="test {yaml=reindex/90_remote/Reindex from remote with query}" -Dtests.security.manager=true -Dtests.locale=pt-PT -Dtests.timezone=GMT

Build Failure:

https://elasticsearch-ci.elastic.co/job

[2017-03-23 18:50] jdconrad opened #23725 "Test Failure: org.elasticsearch.test.rest.IntegTestZipClientYamlTestSuiteIT"
Unable to reproduce locally on Arch, but this appears to only occur on Windows.

Reproduce With:

gradle :distribution:integ-test-zip:integTestRunner -Dtests.seed=3864EF39B7D9E888 -Dtests.class=org.elasticsearch.test.rest.IntegTestZipClientYamlTestSuiteIT -Dtests.method="test {p0=indices.put_mapping/all_path_options/put mapping with missing type}" -Dtests.security.manager=true -Dtests.nightly=fals

[2017-03-23 18:58] jasontedor commented on #23725
The REST tests fail non-stop on Windows CI due to suite timeouts like we see here, it's been this way for months. There appear to be odd performance issues. The issue is under investigation, so I think we can close this specific test failure out.

[2017-03-23 18:58] #23725 closed

[2017-03-23 19:15] jdconrad commented on #23725
@jasontedor Sorry for the noise here then.

[2017-03-23 19:26] jasontedor commented on #23725
No worries at all!

[2017-03-23 20:01] talevy commented on #23718
Hey @jpcarey, are you sure you ran that pipeline as you are showing it? or maybe an older version of it? The one you provided looks good?

[code]

returns

[code]

Looks good

[2017-03-23 20:05] clintongormley opened #23726 "Drop document in ingest pipeline"
It'd be really useful to be able to drop a document in an ingest pipeline, ie to not index it at all.

Perhaps, by setting `_index` to `""`?

[2017-03-23 20:12] dadoonet commented on #23726
Is it in the case of an exception in the pipeline? I mean that we don't have conditionals so why would you not index a document that you sent to indexation process?

[2017-03-23 20:14] clintongormley commented on #23726
Conditionals are next ;) (although there are scripts anyway)

But eg a document is going to an index that I no longer want to use - I want to be able to drop the document instead

[2017-03-23 20:16] dadoonet commented on #23726
I wonder if we should have a `drop` processor to implement that. As we have the same feature in Logstash... https://www.elastic.co/guide/en/logstash/current/plugins-filters-drop.html

[2017-03-23 20:21] talevy commented on #23726
@clintongormley I know Beats requested this feature a while back... I was not aware that an empty string `_index` results in a successful non-index?

One way to achieve this is to run a `fail` processor. The difference here is that we would not return back a `2XX` for this request, and the client would think there was a problem, instead of "dropping was successful".

[2017-03-23 20:28] james08 opened #23727 "Bucket Selector aggregation failing with nested and parent/child structures."
**Elasticsearch version**:
Version: 5.2.2, Build: f9d9b74/2017-02-24T17:26:45.835Z, JVM: 1.8.0_121

**Plugins installed**: []
None.

**JVM version**:
JVM: 1.8.0_121

**OS version**:
Mac OS Sierra 10.12.3

**Description of the problem including expected versus actual behavior**:
I'm using a bucket_selector (part of pipeline aggretions). Goal (expected behaviour): for a parent/child or nested relati

[2017-03-23 21:22] jdconrad opened #23728 "Test Failure: org.elasticsearch.test.test.InternalTestClusterTests"
Unable to reproduce locally.

Reproduce With:

gradle :test:framework:test -Dtests.seed=77755856DF44A43D -Dtests.class=org.elasticsearch.test.test.InternalTestClusterTests -Dtests.security.manager=true -Dtests.locale=en-US -Dtests.timezone=Etc/UTC

Build Failure:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=debian/745/console

[2017-03-23 21:23] jpcarey commented on #23718
Sorry, the full example was for what was required to make it work. Just need to substitute the painless script to `ctx.new_date = new Date();` to get the error that I provided:

[code]

[2017-03-23 21:25] rjernst commented on #23720
Looks like the keys should be validated [here](https://github.com/elastic/elasticsearch/blob/ee802ad63c0f21d697a5095dd05dc6f94626ee4d/core/src/main/java/org/elasticsearch/action/get/MultiGetRequest.java#L324).  And the value type should also be validated as well. Right now it only looks for array. Anything else is silently ignored.

[2017-03-23 22:12] talevy commented on #23718
OK, cool.

This is a valid issue. Currently, the processor assumes a formatted date string in the field and does not support reading in a date. Although, understanding a Date object makes sense.

mind if I re-label this as a feature request for supporting Date valued fields in the DateIndexNameProcessor?

[2017-03-23 22:20] HJewkes opened #23729 "Unable to configure Analysis settings from Java SDK via setSettings()"
**Elasticsearch version**:
5.2.2

**JVM version**:
JDK 1.8

**Description of the problem including expected versus actual behavior**:
Passing in custom analyzer settings to the setSettings call fails to generate the settings. It will prepend "index." to all of the settings, which will subsequently fail the validator.

This [commit](https://github.com/elastic/elasticsearch/commit/dce29d29c0f9dafc7e

[2017-03-23 23:28] TJC commented on #23710
Why is ElasticSearch trying to find the mountpoint, anyway? Why does that matter?

[2017-03-23 23:44] tvernum commented on #23710
Elasticsearch makes heavy use of the local filesystem to store indices. To do that safely and efficiently we need to monitor various properties of the filesystem (e.g. free disk space).

In Java the most effective way to do that is with a FileStore and the JRE requires the mount point in order to construct a FileStore.

[2017-03-23 23:48] TJC commented on #23710
OK, that makes sense.

At the very least, could you improve the error message that is reported? The first sysadmin who hit this issue at my place was very confused, because he saw the top-level error saying "Cannot write.. is this directory writeable?" message, and went on a long diversion.

Whereas I investigated the "cannot find mountpoint" error that occurred further down the stacktrace in orde

[2017-03-23 23:58] SLavrynenko opened #23730 "Sort on multiple fields doesn't work"
"version" : {
    "number" : "2.4.4",
    "build_hash" : "fcbb46dfd45562a9cf00c604b30849a6dec6b017",
    "build_timestamp" : "2017-01-03T11:33:16Z",
    "build_snapshot" : false,
    "lucene_version" : "5.5.2"
  },

NEST version 2.4.6

I've the following code:

response = client.Search<MyEntity>(
                  s => s.Query(
                    q => GetQueryContainer(q))
                    .In

[2017-03-24 00:05] fangqiao commented on #23505
@javana Thanks. It was a quick and dirty solution. Shall follow your suggestions.

[2017-03-24 03:58] sudo-suhas opened #23731 "Incomplete documentation for 'keyed' parameter in Percentiles Aggs"
**Elasticsearch version**: 5.2

**Description of the problem**:
The parameter `keyed`, for associating a unique string key with each bucket and return the ranges as a hash rather than an array, is supported on Percentiles Aggregation and Percentile Ranks Aggregation as can be seen [here](https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/search/aggregations/m

[2017-03-24 04:04] sudo-suhas commented on #23731
The same is true for Date Histogram Aggregation as well.
[Date Histogram Docs](https://www.elastic.co/guide/en/elasticsearch/reference/5.2/search-aggregations-bucket-datehistogram-aggregation.html), [Code](https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/search/aggregations/bucket/histogram/DateHistogramAggregationBuilder.java#L266-L272).
Is the parameter a

[2017-03-24 05:03] paulohss opened #23732 "Painless and Groovy yield slightly different values calculating buckets"
****Elasticsearch version**: 5.2.2**

****OS version**: Windows 10**

****Painless and Groovy yields slightly different values calculating buckets**:**

****Steps to reproduce**:**
 1. If guys find it useful, I can upload the indexes I'm using. The steps below are based upon it.

 2. Run the following command, using Painless as default:

[code]
Result:
Bucket 1 (A 0 - 10): **4576**
Bucket 2 (B 10

[2017-03-24 08:00] javanna commented on #23732
hi @paulohss ,
can you please post the document that your example is based on?

[2017-03-24 08:08] javanna commented on #23731
hi @sudo-suhas the `keyed` argument is supported by range, geo_distance_range, ip_range, histogram, date_histogram, percentiles and percentile_ranks aggregations.  I agree that we should mention that where missing in the docs. Are you up for sending a pull request on that?

[2017-03-24 08:13] javanna commented on #23730
hi @SLavrynenko , are you able to print out the request that gets sent? That would be useful to figure out where the problem is, either in the interaction with the client or on the server side. May I ask you to move this to our [discuss forum](https://discuss.elastic.co/) though as it seems more of a question than a bug? The github issues list is reserved for bug reports and feature requests only.

[2017-03-24 08:13] #23730 closed

[2017-03-24 09:10] rh78 commented on #1063
Thanks - its there and I just now need it :)

[2017-03-24 09:12] clintongormley commented on #23726
No, it was a suggestion.  I see the same string length exception that you do.

I like your suggested response for the `drop` processor.

The one problem is that I don't see how to trigger the `drop` processor without conditionals.  I want to say: "if the index is Foo, then drop this document".  There's no easy way to do this.  The only conditionals I have are in a script, but then I can't use that

[2017-03-24 09:20] dadoonet commented on #23726
For now (before we have conditionals - was not aware that was a plan BTW), `on_failure` seems to be the way to go.
I wonder if we can in a script throw a NoOpException which does not print any warn in logs but just triggers the `on_failure` pipeline.

[2017-03-24 09:20] dadoonet commented on #23726
That said we can also support both. If `index` is empty or null, skip the operation.

[2017-03-24 09:39] paulohss commented on #23732
Hi @javanna , thanks for your quick reply.

You can find the indexes here:
https://www.dropbox.com/scl/fi/1hgs6vrr0t2cllv0zsrz4/data.zip?dl=0&oref=e&r=AAVbKET_SxeS5Hp7gwBrdKRe4h5yqTUsijrwhQCeio5vr9tz4I3-UOMzQSDhwC0CX0N2Q3Tcwz192yG5CwUC3sqHysKDZGBethD6SovefzCpwpvPY58XU7DUphw2YQ4jg2vE5Wk8jVZJ-_JtMe2pEcKV_XwP_mgngz-KhT48Dsa8xw&sm=1

[2017-03-24 10:26] jeantil commented on #23594
Hi there, it's been a few days now and

[2017-03-24 10:27] jeantil commented on #23594
Sorry I closed the issue in the wrong tab this is still an issue for us.

[2017-03-24 11:09] cbuescher commented on #23723
This is a double rounding issue, we sum over ~200 larger double values here and it seems the rounding error you get when summing them depends on the order you iterate over them. I tried summing the input values for this particular test seed in different random orders and get suprisingly different results after the 7th decimal point:
[code]

I will decrease the expected precision for this test.

[2017-03-24 11:20] #23723 closed

[2017-03-24 11:47] javanna commented on #23716
This sounds like a legit request to me, @imotov what do you think?

[2017-03-24 12:13] sudo-suhas commented on #23731
@javanna I'll be more than happy to submit a pull request :smile: . It should be enough to keep it similar to the documentation which can be found [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-range-aggregation.html) right? Is there anything else I need to keep in mind other than the instructions specified [here](https://github.com/elastic/elasti

[2017-03-24 12:21] jasontedor commented on #23710
Here's the situation:

We are trying to lock the directory to ensure that no other instance of Elasticsearch could mutate the index files on disk at the same time, that would be a complete disaster. We failed to lock the directory. The vast majority of the time that locking the directory fails is because the directory is not writable (or, in 5.x, a user started multiple nodes without increasing th

[2017-03-24 12:29] javanna commented on #23731
sounds good @sudo-suhas will be waiting for your PR then. As for the other issue, please open another issue or just send a PR that addresses that problem.

[2017-03-24 12:36] sudo-suhas opened #23736 "Incomplete reference documentation for 'Highlighting'"
**Elasticsearch version**: 5.2

**Description of the problem**:
In the [Highlighting reference](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-highlighting.html), there is no mention of `fragmenter` but the [builder](https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/search/fetch/subphase/highlight/HighlightBuilder.java) has an

[2017-03-24 12:37] sudo-suhas commented on #23731
@javanna I have created an issue(#23736) for the highlighting issue.

[2017-03-24 12:55] ale0xb commented on #8896
Hello, any solutions to get this functionality in 5.x?

[2017-03-24 13:13] colings86 commented on #23714
Discussed in FixItFriday and we said that we can see this as a useful feature for transitioning to a new field name but if the implementation is not as clean as it appears currently we should discuss this again since mappings are already complex and we should not do anything to increase that complexity too much

[2017-03-24 13:21] imotov commented on #23728
Failed again https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=debian/746/console

@bleskes, could you take a look?

[2017-03-24 13:30] clintongormley commented on #23682
+1 - do it for (almost?) all processors

[2017-03-24 13:40] jasontedor commented on #23681
We discussed this during Fix-it-Friday and agree that we should not add this. In addition to the thoughts laid out above, this is effectively a path to implementing template inheritance via a backdoor through the cluster settings.

[2017-03-24 13:40] #23681 closed

[2017-03-24 13:43] clintongormley commented on #23719
+1 makes sense to give a useful exception when trying to access nested/object fields.

If you try to access a concrete field under nested today, it might succeed if include_in_parent/root are enabled.  I think once include_in_parent/root are removed (see https://github.com/elastic/elasticsearch/issues/12461) then we could throw an exception for concrete nested fields too.

[2017-03-24 13:47] abeyad commented on #23716
I agree, the `_status` endpoint for a failed snapshot should return information about the failure in a standard response, not a 500.

[2017-03-24 13:48] javanna commented on #23716
thanks @abeyad ! I will mark adoptme then.

[2017-03-24 14:02] colings86 commented on #23664
Discussed in FixItFriday and we don't think this is a bug. The buckets are correct as they do contain values greater than or equal to the key value and less than the key of the next bucket. The fact that the floating point representation gives cannot represent all decimal figures exactly is a side effect of the way it is implemented (as in because it uses floating point arithmetic. As mentioned ab

[2017-03-24 14:02] #23664 closed

[2017-03-24 14:25] imotov commented on #23716
@abeyad that feels like a bug and not enhancement. What do you think?

[2017-03-24 14:26] abeyad commented on #23716
@imotov agreed, i'll change the label

[2017-03-24 14:43] javanna commented on #23716
++ thanks for taking it @abeyad

[2017-03-24 15:04] mrec opened #23737 "With the classic tokenizer, a wildcarded query_string of e.g. T.* doesn't respect the dot"
**Elasticsearch version**: 2.3.2

**Plugins installed**: [analysis-icu 2.3.2, analysis-korean 2.3.2, analysis-kuromoji 2.3.2, analysis-smartcn 2.3.2, analysis-stconvert 1.8.3, delete-by-query 2.3.2, enhanced-highlighter 2.3.2-1.6, enhanced-plain-highlighter 2.3.2-1.7, entsearch 2.3.2-1.6, head master, license 2.3.2, marvel-agent 2.3.2, reindex 2.3.2,
repository-hdfs 2.3.1]

**JVM version**: 1.8.0

[2017-03-24 15:05] imotov opened #23738 "Test Failure: UnicastZenPingTests. testInvalidHosts"
Failed for the first time https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+nfs/125/console

[code]

[2017-03-24 15:09] imotov opened #23739 "Test Failure: ClusterServiceTests. testClusterStateUpdateLogging"
Fails periodically but rarely (1-2 times a month) on 5.1, 5.2, 5.3, 5.x and master branches.

[code]

[2017-03-24 15:13] gmoskovicz opened #23740 "Terms aggs Partitions doesn't work as expected"
**Elasticsearch version**: 5.2

**Plugins installed**: []

**JVM version**: JVM 1.8

**OS version**: ANY

Steps to repro:

[1] Add some sample data

[code]

[2] Create an aggregation with 3 partitions and size:1

[code]

[3] Verify that for partition 0 you don't get any results

[code]

[4] But in partitions 1 and 2 you get results

So basically, shouldn't this return 1 document per partition, hav

[2017-03-24 15:16] DrMurx commented on #23675
Here's the graph for elastic-node131, with the plain numbers to rule out any potential Grafana related unit conversion issue.

![screen shot 2017-03-24 at 4 04 38 pm](https://cloud.githubusercontent.com/assets/1222566/24300104/a35231de-10ab-11e7-9702-1cc175b6b6ab.png)

That's the output of `/_stats/search?level=shards` and it matches the numbers from the graphs. It's also again close to the overfl

[2017-03-24 16:00] javanna commented on #23736
You are right @sudo-suhas , just note that `fragmenter` is supported only by the plain highlighter. Our docs don't currently cover every single option of each single highlighter implementation, rather the most common options that are supported by all the different implementations. We'd accept a PR for this too.

[2017-03-24 16:03] phanimahesh commented on #10005
I've recently encountered this when attempting to log events from an mqtt broker for iot applications. Had to trim down to milliseconds because having fractional part in milliseconds doesn't play well with ES.

[2017-03-24 16:08] simenflatby commented on #22788
Have anyone experienced similar behavior with the following versions?
- Ubuntu 16.04.1 LTS
- elasticsearch 2.4.0
- oracle-java8-installer 8u101+8u101arm-1~webupd8~2
- kernel 4.4.0-67-generic

[2017-03-24 16:55] javanna commented on #23740
This is not a bug. The important bit is that every document belongs to one and only one partition. With low number of terms, it is possible that a partition is empty, or that partitions don't hold exactly the same number of values. The terms partitioning is very similar to the way we shard documents. We get a hash of the field value and perform a modulo N where N is the total number of partitions.

[2017-03-24 16:56] javanna commented on #23732
@nik9000 @jdconrad can either of you have a look please?

[2017-03-24 16:56] nik9000 commented on #23732
I can add it to my list.

[2017-03-24 17:01] gmoskovicz commented on #23740
@javanna so we can say the partitions are not reliable? Same thing with sorting, if we cannot ensure that partitions don't contain the same amount of documents, then we cannot ensure that the correct sorting is being applied, correct?

Also, if this is the case, should we mention in the documentation that this is not a correct way of paginating, but just a way of retrieving certain values? I don't

[2017-03-24 17:02] gmoskovicz commented on #23740
BTW: i added 3/4/5/6 partitions and i randomly get results in different partitions with no specific logic.

[2017-03-24 17:08] markharwood commented on #23740
The behaviour you are seeing with only 3 docs.
The hashing gives a random distribution.
Imagine you roll a dice only 6 times. You don't necessarily expect to end up with the values 1,2,3,4,5 and 6. You wouldn't raise a bug for that. However if you roll the dice a billion times you'd expect to get roughly even counts for all those numbers - and if you don't, then we'd have an issue.

In this agg ea

[2017-03-24 17:11] jdconrad commented on #23732
@paulohss If you modify the Painless script to
[code]
does this change the results to the same as Groovy?

[2017-03-24 17:25] gmoskovicz commented on #23740
@markharwood @javanna thank you very much for the explanation! 😃

Any reason why we don't choose the right configuration by default then, so we have everything evenly distributed across partitions?

[2017-03-24 17:34] javanna commented on #23737
Hi @mrec,
please ask questions like these in the forum instead: https://discuss.elastic.co/. The github issues list is reserved for bug reports and feature requests only. Thanks!

The difference is made by `analyze_wildcard`. If you set it to `false` you should get the expected result. That seems to show that the classic tokenizer leaves the `.` only when it's between tokens. Have a look at the an

[2017-03-24 17:34] #23737 closed

[2017-03-24 17:37] jasontedor commented on #23675
Your stats are rather interesting. For example, you show 502,385,516 scrolls executed in total, and show 579,306 currently open scrolls? This seems abnormally high, does it sound right to you?  What is your workload? Why so many open scrolls? Are you closing your scrolls when you're done with them? Your shards all show ~50000 scrolls open each. Why? The average time a scroll is open seems reasonab

[2017-03-24 17:41] markharwood commented on #23674
### POC results showing the need for sampling/duplicate text removal

I've got a proof of concept running on the [Signal news media dataset](http://research.signalmedia.co/newsir16/signal-dataset.html) (Creative Commons 3.0 license, 1m news articles).

In the POC I can use significant terms without accessing fielddata - I re-analyze content of the top-matching docs to gather term stats. The result

[2017-03-24 17:48] jasontedor commented on #23668
We have a bootstrap check for known bad versions of Java, and known bad versions of Java given certain settings (e.g., using G1GC on versions less than 8u40). I think this is sufficient. I think one change that we should make here is to fail the node when starting on an early access build of Java 9.

[2017-03-24 17:48] #23668 closed

[2017-03-24 17:52] markharwood commented on #23740
Unlike shards-for-docs the partitions-for-terms are not fixed at index time. Terms are partitioned into a number of partitions chosen at search-time. On an index with a million docs you might need only 3 partitions but later on if you have a billion docs you may decide you need to query using 10 partitions.  It's not a fixed choice. It's this sort of filtering logic:

	int numRequestedPartitionsBy

[2017-03-24 17:53] mrec commented on #23737
Yes, I understand that the classic tokenizer is dropping a `.` in suffix position but not in infix position; that's described in the doc I linked. My point is that at least for `T.?*`, and probably for `T.*`, the caller is very obviously wanting to match an indexed term where the `.`  is **not** the last character, and therefore the `.` before the wildcard should not be treated as the last charact

[2017-03-24 17:54] javanna commented on #23740
As for the pagination comparison, partitioning is a good alternative that addresses the same problem (many terms that can't be returned in one go, and pagination is not supported), but it's a trade-off, it is not exactly the same as pagination. I read up our docs on this and I don't see it comparing partitioning with pagination. We may want to add a note about partitions not necessarily being even

[2017-03-24 17:54] daver208 commented on #23664
@colings86 I'm happy if that is the resolution of the issue, but it would be nice if it were documented.  I say that, knowing I wouldn't look at the documentation first myself.  But It would still be nice...

[2017-03-24 17:57] gmoskovicz commented on #23740
@javanna agree that we don't mention this, but given the context where this was created, and the issue that closed (the one about pagination). I believe that it's a good thing to add a warning saying that it's an alternative to get fewer results, but it's not "Paginating" aggregations?

[2017-03-24 17:59] javanna commented on #23737
I understand what you mean @mrec . Unfortunately the way `analyze_wildcard` works is different though. I wasn't suggesting to remove `analyze_wildcard`, rather to show how it makes the difference. I would look into using a different analyzer that always keeps the `.`. Would that be an option?

[2017-03-24 18:19] mrec commented on #23737
Unfortunately we're searching against multiple fields with different analyzers. The field we *want* this wildcard to match is already using a different analyzer designed for symbols, which doesn't have this problem. The false positives are coming from a more general arbitrary-text field which does use the classic tokenizer.

[2017-03-24 18:24] Durisvk commented on #14943
I needed this feature.. now I have to go through the all hits and do it by myself....

[2017-03-24 18:29] markharwood commented on #23740
Where are we making this claim? The only documentation that I'm aware of is [here](https://www.elastic.co/guide/en/elasticsearch/reference/5.2/search-aggregations-bucket-terms-aggregation.html#_filtering_values_with_partitions) and that does not make the claim.

If you mean issue 4915 I don't think we need to worry about managing expectations following its closure - it was was closed for a [lack o

[2017-03-24 18:38] gmoskovicz commented on #23740
@markharwood

Sorry if i wasn't clear, what i meant is just to clarify this. From the history many people will look at this as a way to partitioning data to do some sort of pagination, or return different result per run. But there is some clear difference around this.

I am just saying that we could add something to the docs, better explanation on how this works, similar on what we have around how

[2017-03-24 18:48] rjernst commented on #23714
If we are going to add (however much) complexity here, can we trade it for removal of some other complexity/leniency?  One of the things that has bugged me for a long time is unmapped fields stuff. Could we be more strict about fields existing across indexes, and if there is not a concrete field, they can create an alias (maybe even have an "empty" type of alias which means "match anything against

[2017-03-24 18:56] jasontedor commented on #23668
I integrated #23743.

[2017-03-24 19:26] javanna commented on #23737
Maybe you could change the query analyzer then rather than the field analyzer? I am afraid with classic tokenizer and analyze_wildcards you are not going to get what you want.

[2017-03-24 19:38] mrec commented on #23737
Maybe, though I'm not sure what we'd change it to. By the way, the standard analyzer tokenizes `T.A` and `T.` the same way as the classic tokenizer, and has the exact same problem with wildcards.

It's probably worth us experimenting with `analyze_wildcards` again and seeing just how bad the problems are and whether they're easier to work around than this is. Ah well. Thanks for the response, anyw

[2017-03-24 19:52] javanna commented on #23737
Maybe you could open a [discuss post](https://discuss.elastic.co/ ), I think it is more appropriate than an issue and others may chime in as well with other ideas.

[2017-03-24 20:04] rtrujill007 commented on #21293
👍

This would also greatly benefit us (Esri) as well!

[2017-03-24 23:05] jasontedor commented on #23640
We are going to proceed with this option after all. 😄

[2017-03-25 01:06] jasontedor commented on #23685
We discussed this during Fix-it-Friday. We do not think this the right solution to the problem. We do think that the template strategy is the route to take. This discussion did provoke us to consider whether or not `action.auto_create_index` defaulting to `true` is the right default. I will open a separate issue for this.

[2017-03-25 01:06] #23685 closed

[2017-03-25 01:13] jasontedor opened #23745 "Default action.auto_create_index to false?"
Today we default `action.auto_create_index` to `true`. There is potential for this to be a dangerous default. In production, it means that indices might not be created with the appropriate number of primary shards and replicas, and that analyzers and mappings might not be set up before any data is indexed. It means that a wide range of PUT and POST requests against the cluster create indices (I've

[2017-03-25 05:36] murdav opened #23747 "Geo-Shape datatype and ignore_malformed"
Dear All,

This issue it to ask you the possibility to have ignore_malformed parameter available also for geo-shape datatype.
A futher example is the availability of the [param for geo-point datatype](https://www.elastic.co/guide/en/elasticsearch/reference/5.2/geo-point.html#geo-point-params).

Example:

[code]

For example I would need to add the BBOX field, but it's possible that the values are

[2017-03-25 15:27] liuzhenji commented on #17401
renweijun,任卫军？

[2017-03-25 15:28] gcampbell-epiq commented on #23713
I know this could be accomplished with multiple calls, but I'm afraid of the overhead in that.

[2017-03-25 15:29] #23729 closed

[2017-03-25 15:45] penteleq opened #23748 "Why Amazon's Elasticsearch Service getting so slow while adding multiple mappings?"
I'm trying to add multiple mappings into single index.

Does AWS has unwritten limits for setting up multiple types for one index ?

Regarding to best practices from: https://www.elastic.co/guide/en/elasticsearch/guide/current/mapping.html

I'm putting same mapping structure for different type in single index just to limit entries by its type (products).

The case is that adding about 200 types in

[2017-03-25 16:12] jasontedor commented on #23748
We do not support the AWS Elasticsearch Service. Additionally, Elastic prefers to use GitHub only for verified bug reports and feature requests. We do provide a [forum](https://discuss.elastic.co) where you might be able to get answers to your questions. Since there is no bug report here, I hope you don't mind if I close this.

[2017-03-25 16:12] #23748 closed

[2017-03-25 20:38] edudar commented on #11749
It's very unfortunate that this fix is available in 5.x version as migrating from 2.x to 5.x is not something I can do at the moment...

[2017-03-26 06:30] aravindtga opened #23749 "Elasticsearch query directly through Java API without creating relevant API objects"
**Elasticsearch version**: 5.1.1
**JVM version**: 1.8
**OS version**: Windows 10

I am using the following elasticsearch query to fetch the details,

`{
	"query": {
		"bool": {
			"must": {
        		"match_all": {}
    		},
			"filter": {
				"bool": {
					"should": [
					{"match": {
						"val": "GET"
					}}]
				}
			}
		}
	}
}`

It is working fine and given the result as required.

I want t

[2017-03-26 07:04] dadoonet commented on #23749
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2017-03-26 07:04] #23749 closed

[2017-03-26 12:13] apatrida opened #23751 "Update Script plugin API so that script compilation knows what type of script it is compiling"
Currently, when writing a script plugin, you are called to compile a script without knowing the intended usage of the script.  Therefore for more type-strict languages that should provide better access to ctx, doc, fields, and other values coming into the script they cannot change what is available to the script code (i.e. a custom receiver per script type, or script template class per script type

[2017-03-26 13:01] nik9000 commented on #23751
We are already working on some of this. At least for a while we will have
to support scripts that don't know their context for backwards
compatibility. Though any plugin could have whatever backwards
compatibility guarantees it wants.

On Sun, Mar 26, 2017, 8:14 AM Jayson Minard <notifications@github.com>
wrote:

[2017-03-26 13:42] apatrida commented on #23751
Great, I only found closed issues related so added this to be sure it was represented.

[2017-03-26 16:43] sharkYaYa opened #23753 "elasticsearch is spanning lot of processes causing system issues"
**Elasticsearch version**: 5.2.2

**Plugins installed**: [None]

**JVM version**: Java(TM) SE Runtime Environment (build 1.8.0_91-b14)

**OS version**: Mac Sierra 10.12.3 (16D32)

**Description of the problem including expected versus actual behavior**:
Whenever I am starting elastic search on my laptop I am seeing too many processes are getiing created which is creating system resource scarcity.

[2017-03-26 16:55] jasontedor commented on #23753
You are definitely missing the default jvm.options, I think that you may have

[2017-03-26 16:55] #23753 closed

[2017-03-26 23:07] paulohss commented on #23732
Wow.
It actually does!

Should I always run the calculations like that?

Thanks

[2017-03-27 00:16] jdoss commented on #23499
We are seeing the same problem with 5.2.2 with our aggregations. Tons of Old GCs when we have many aggregations running at the same time from our users. Everything was fine in 2.4 before we upgraded.

[2017-03-27 03:57] MarneusCalgarXP opened #23755 "Create index : unable to use custom analyzer in default mapping at index creation time"
**Elasticsearch version**: 5.2.2

**Plugins installed**: [analysis-phonetic]

**JVM version**: Oracle java 1.8.0_77 (build 1.8.0_77-b03)

**OS version**: Windows 7

**Description of the problem including expected versus actual behavior**:

When using create index API, I can define custom analyzers in "analysis" section.
I can also define the default mapping in the "mapping" section.
But when I wan

[2017-03-27 04:11] MarneusCalgarXP commented on #23755
Note : after a few tests, it seems that elastic ignores the "analysis" section when you provide a "mapping" section. If you provide a "mapping" section, you have to embed the "analysis" section into a "settings"/"index" section.

The following reports no error:
`PUT test_custom_analyzer
{
  "settings": {
    "index": {
      "analysis": {
        "analyzer": {
          "my_analyzer": {

[2017-03-27 04:28] ojundt commented on #23628
Sorry guys, I just restarted our cluster without the SearchGuard plugin and the problem is still occurring:

[code]

[2017-03-27 06:31] sudo-suhas opened #23756 "Confusing documentation for Date Histogram Aggregation"
**Elasticsearch version**: 5.2

**Description of the problem**:
On the reference documentation page for [Date Histogram Aggregation](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-datehistogram-aggregation.html#_scripts), it says the following

However on the [histogram page](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregat

[2017-03-27 07:07] TJC commented on #23710
I guess you have some kind of exception handler around the getFileStore call, right? (Looks like it from the stack trace).
In that handler, can you check to see if the error receives was "Mount point not found", and then re-iterate that error, rather than printing the "is directory writable" message?

[2017-03-27 07:27] markharwood commented on #23740
Agreed. That sounds like it could be a section in a revision of "the definitive guide..." rather than the API reference docs.

[2017-03-27 08:04] markharwood commented on #23756
Agreed - looks like some more clarity here and on related `histogram` agg is needed. I suspect the "document-level" and "term-level" scripts relate to the gathering of raw values from documents and the presentation of terms in results (the script section talks about controlling ordering and filtering of results but no example i provided).

[2017-03-27 08:05] sudo-suhas commented on #23756
@markharwood Actually, the appropriate documentation for this is present in [Range Aggregation](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-range-aggregation.html#_script_12)

[2017-03-27 08:13] markharwood commented on #23755
Yep, it looks like illegal syntax is ignored in this API e.g.

	PUT test
	{
		"FOO_SHOULD_BE_ILLEGAL_HERE": {
			"BAR_IS_THE_SAME": 42
		},
		"mappings": {
			"test": {
				"properties": {
					"field1": {
						"type": "text"
					}
				}
			}
		}
	}

	{
	  "acknowledged": true,
	  "shards_acknowledged": true
	}

Your illegal "analysis" section like my illegal "foo" section above is overlooked an

[2017-03-27 08:54] colings86 commented on #23664
@daver208 Good point, I've reopened this and labelled it as a docs issue so the documentation can be updated

[2017-03-27 10:52] jimczi commented on #23628
Fair enough @ojundt , reopen it is.

Are you able to access the problematic queries ? It would help if you can share a reproducible case with the complete query that throws this exception.
Otherwise can you share the mapping of your index and a complete example of your query:

    <%VERY LARGE QUERY INCLUDING CONDITIONS ON NESTED TYPES%>
  },

[2017-03-27 11:16] wangweij commented on #21534
I'm the author of the new FilePermission behavior.

In our benchmarking, the new behavior is much faster than the old one if every FilePermission on the right and side of implies() is created from a brand new path, and much slower if it is not always new (Precisely, if the number of all different paths is <= 200).

This is because although the File.getCanonicalPath() call (which is used by the old

[2017-03-27 11:16] markharwood opened #23759 "Fuzzy query parsing logic allows illegal syntax"
A user [ran into an issue](https://discuss.elastic.co/t/apply-fuzziness-on-multiple-terms-in-a-not-analyzed-field/79798/4) when they passed an array for the "value" property in a fuzzy query:

	{
	  "query": {
		"fuzzy": {
		  "name": {
			"value": [
			  "donald",
			  "trump",
			  "president"
			],
			"boost": 1,
			"fuzziness": 1,
			"prefix_length": 0,
			"max_expansions": 50
		  }
		}
	  }

[2017-03-27 11:21] jpountz commented on #23745
For the record, there is a discussion at #20640 about moving index auto creation control to templates.

[2017-03-27 11:22] jasontedor commented on #23710
I appreciate the suggestion, but I do not think it's worth parsing an exception message (something that in general we would like to avoid) for this very specific situation given that the full stack trace already shows the root cause of the problem.

[2017-03-27 11:31] TJC commented on #23710
OK, no worries. Thanks for talking it over.

[2017-03-27 11:44] Hexta opened #23760 "Deleting S3 snapshot returns 404"
**Elasticsearch version**: 5.2.2

**Plugins installed**: [repository-s3, discovery-file, x-pack]

**JVM version**: openjdk 8u111

**OS version**: Ubuntu 16.04

**Description of the problem including expected versus actual behavior**:
Deleting S3 snapshot taken about a minute and completed with error 404. But actually, the snapshot has been removed from S3.

**Steps to reproduce**:
 1. Create snaps

[2017-03-27 11:48] clintongormley opened #23761 "Link to javadocs"
_From @eskibars on March 23, 2017 18:13_

We recently started publishing javadocs at https://artifacts.elastic.co/javadoc/org/elasticsearch/<project>/<version>/index.html

It'd be great to link the associated java projects/clients to these docs, e.g.:
- [ ] https://www.elastic.co/guide/en/elasticsearch/client/java-api/[VERSION]/transport-client.html to https://artifacts.elastic.co/javadoc/org/elas

[2017-03-27 12:11] yehosef commented on #19148
For anyone interested - this is being explored in Lucene https://issues.apache.org/jira/browse/LUCENE-7745

[2017-03-27 12:26] olcbean commented on #23759
In this case the `FuzzyQueryBuilder` would actually result in `"value": "]"` :  hence the unexpected result.

If OK I would like to try to fix the issue.

[2017-03-27 12:30] cbuescher commented on #23759
@olcbean I already fixed it and was about to push the PR, sorry I should have assigned this to me.

[2017-03-27 12:47] TheFireCookie commented on #22912
Hello @uschindler ,

Could you share your plugin so I can use it?

Thanks,
Matthias.

[2017-03-27 13:13] makeyang commented on #6720
@mikemccand  any branch working on this so we can take a look at it ?

[2017-03-27 13:23] jpountz commented on #6720
There is no branch yet.

[2017-03-27 14:44] abeyad commented on #23760
@Hexta is there a stack trace in the log files that you can share?

[2017-03-27 15:02] #23759 closed

[2017-03-27 15:09] Hexta commented on #23760
@abeyad I don't see any stack in the log file.

[2017-03-27 15:10] Tomassino opened #23763 "Elements of a long array field have either int or long type depending on the value in painless script"
**Elasticsearch version**: 5.2.2

**JVM version**: openjdk version "1.8.0_121"

**OS version**: Ubuntu 16.04

**Description of the problem including expected versus actual behavior**:

I'm experiencing problems while writing a painless script to remove values from an array field of type long. When using `indexOf` to find the index of a value in the field, it only works if the value is "big", as it

[2017-03-27 15:25] A-Hall opened #23764 "Some characters return blank tokens with standard tokenizer and icu_folding filter."
**Elasticsearch version**: 5.2.2

**Plugins installed**: ICU Analysis plugin

**JVM version**:  1.8.0_121

**OS version**: CentOS 7

**Description of the problem including expected versus actual behavior**:  Some special characters are returning empty tokens instead of no tokens when using the standard analyzer with the icu_folding filter.  The customer did a good job explaining the issue:

**Step

[2017-03-27 15:40] rsimon commented on #22087
I can also confirm that `geo_shape` indexing is very slow. I have just migrated code from ES 1.7.2 to 2.4.4 and, interestingly, performance seemed to be at least one order of magnitude faster in the old version. I was using geohash tree type (precision 50m). Changing to quadree in v2.4.4 helped a bit to speed things up, but it's still significantly slower than in v1.7.2.

As soon as I remove the s

[2017-03-27 15:49] jdconrad commented on #23732
@paulohss -- What happened here is the way promotion works in Groovy is slightly different from Painless (I'm actually working on documentation for this right now).  Groovy promotes division in this case to a double value automatically, whereas Painless left it as int because all 3 values are ints.  Adding the .0 creates a double forcing Painless to promote all the values to doubles for the divisi

[2017-03-27 16:11] markharwood commented on #23674
Some comments for future dev following an internal discussion:

* Implement this as a new `significant_text` agg rather than adding to existing `significant_terms`
Will allow for custom impl with custom settings.
* The new agg impl should bypass the layers in the agg class hierarchy relating to aggs with a ValueSource. These classes were designed for structured data sources not processing TokenStr

[2017-03-27 16:19] markharwood commented on #23763
I expect the issue being that stored values are not being materialized into the script context using the numeric type defined in the mapping.

[2017-03-27 16:50] nbqyqx opened #23765 "Customize Similarity/score for range query"
**Elasticsearch version**:
2.3.3
**Plugins installed**: []
es-customized-similarity
**JVM version**:
open idk 1.8
**OS version**:
mac
**Description of the problem including expected versus actual behavior**:
Customize Similarity/score for range query
I have add customized es plugin for term query. But it does not work well for the rang query. My question is how can I disable the queryNorm or custo

[2017-03-27 16:52] ppf2 opened #23766 "Document nested field caveat for fields, fielddata_fields and docvalue_fields"
ES 2.x and 5.x

Currently when accessing nested fields via top level `fields`, `fielddata_fields` or `docvalue_fields` at the top level using the dot notation (eg. nested_path.field.field, etc..) to represent the nested fields, ES does not validate to determine if the field is nested vs. a field with dots in field name.  The end result is that `fields`, `fielddata_fields` or `docvalue_fields` is n

[2017-03-27 17:09] A-Hall commented on #23764
Additionally:

[2017-03-27 17:18] jpountz commented on #23765
I don't think there is a good way to combine range queries and term queries and get "good" scores. You mention query norm, but term freq and doc freq are problematic too since those metrics either do not make sense for ranges or would be too costly to compute. It is fairly unusual to want range queries to take part of the scores, I'm wondering that you might just want to use them for filtering?

[2017-03-27 18:31] olcbean opened #23768 "Conflicting line width in the stylecheckTest and CONTRIBUTING.md"
In the [CONTRIBUTING.md](https://github.com/elastic/elasticsearch/blob/master/CONTRIBUTING.md) it is stated that the line width should be set to 140

However running `gradle check` will complain for any line longer than 100 chars :

`<error line="125" severity="error" message="Line is longer than 100 characters (found 119)." source="com.puppycrawl.tools.checkstyle.checks.sizes.LineLengthCheck"/>`

[2017-03-27 18:43] olcbean commented on #23768
I just saw that according to https://github.com/elastic/elasticsearch/commit/e8b2f9afd4d38b1e279e15d57c78ac033f9569f9 the line width has been changed to 100, so I will just go ahead and update the CONTRIBUTING.md

[2017-03-27 18:47] jasontedor commented on #23768
No need for a PR, I will handle this.

[2017-03-27 18:47] #23768 closed

[2017-03-27 18:54] olcbean commented on #23768
Oh.. I did not see that...

Here is https://github.com/elastic/elasticsearch/pull/23769 anyway :)

[2017-03-27 19:15] uschindler commented on #22912
@TheFireCookie: I was just waiting for somebody who asked! I will post it in my github account the next days. I just have to add license headers and extract it from my "Eierlegendewollmilchsau"-Plugin.

Uwe

[2017-03-27 19:45] nik9000 commented on #23732
@jdconrad, should we close this or wait to close it until your docs are merged?

[2017-03-27 19:55] jdconrad commented on #23732
I'll go ahead and close as there's nothing actionable here.

[2017-03-27 19:55] #23732 closed

[2017-03-27 19:56] djschny commented on #23681
In looking at the [original issue and rationales](https://github.com/elastic/elasticsearch/issues/21105) for removing template inheritance, it seems most of the issues are around complexity in the mapping and analysis sections of them. Most of the examples around defaults in this issue appear to revolve around index settings that do not introduce the complexities of analysis and mappings. With `_a

[2017-03-27 21:11] jasontedor commented on #20367
Sorry, what is it that you think needs to be discussed here?

[2017-03-27 21:15] rjernst commented on #21534
@wangweij Each test uses it's own randomly generated path(s) (unique to that test), and since we run many tests within the same JVM (close to 1000 unit tests classes). However, the paths which we add permissions for (when the test jvm starts up) is indeed limited to a few paths in the security manager policy. All of the relevant paths to the performance difference we see would be using this one ro

[2017-03-27 21:55] wenhoujx commented on #23713
https://github.com/elastic/elasticsearch/pull/3278

[2017-03-27 22:54] niemyjski commented on #20367
@jasontedor I was referencing the what to work on discussions following elasticon :). I really wish this functionality was implemented, Rollover functionality doesn't solve or fit this use case.

[2017-03-27 22:57] paulohss commented on #23732
Thanks guys.

[2017-03-27 23:29] jdconrad commented on #23763
I believe @markharwood is correct here.  If _source was working with mappings, using long as the type in the for loop would be correct as well.

Unfortunately, since that isn't the case, there's a few things happening here leading to the current situation.

1. The values as part of the params list is being parsed where the smallest available type starting with int will be applied to the number.  T

[2017-03-27 23:34] jdconrad commented on #23732
@paulohss You're welcome!  If you have any other issues, please feel free to re-open.

[2017-03-28 01:11] nbqyqx commented on #23765
The scenario(4 queries in should bool query) wants the range queries be part of the score. If we can disable the query norm for the range query, then the score=boost*isMatch. The customized term query score=boost*isMatch also, hence if we match all 4 conditions, the score=100.

{
  "from":0, "size":10,

  "query": {
     "bool" : {
       			"disable_coord":"true",
                "should": [

[2017-03-28 01:31] jasontedor commented on #23768
Sorry, and I only now saw this and already pushed df67f83834a1d35fdb09bab948e9c5b69ea12b81. Thanks for the PR either way.

[2017-03-28 01:38] jasontedor commented on #23745
Indeed, where there is a proposal to ship with a default template matching `*` that has `action.auto_create_index` set to `true`. If there is agreement here to default `action.auto_create_index` to `false`, I think that the response to #20640 would be to either not ship with a default template matching `*` with `action.auto_create_index` set to `true`.

[2017-03-28 01:43] jasontedor commented on #20367
Do not fear, we have plenty to work on after Elastic{ON}. 😄

[2017-03-28 01:55] abeyad commented on #23760
@Hexta can you consistently reproduce this?  are you sure the snapshot wasn't deleted first and then the command was re-run again?

if the `SnapshotMissingException` was thrown after confirming the snapshot exists before proceeding with the delete, the exception *should* show up in the logs

[2017-03-28 03:19] jasontedor commented on #23739
I can not reproduce this, but I see the problem. I will think about a fix.

[2017-03-28 03:30] wangweij commented on #21534
@rjernst So you granted FilePermission on /tmp/- and call checkRead on /tmp/random-sub-path? Are the 1000 tests running in parallel? It will nice if you can create a standalone test or please tell me how I can run your test. Sorry I am not familiar with ElasticSearch.

[2017-03-28 04:01] sudo-suhas opened #23772 "Incomplete docs for script/missing/format in Aggregations reference"
**Elasticsearch version**: 5.2

**Description of the problem**:
There are around 25 aggregation builders which extend [`ValuesSourceAggregationBuilder`](https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/search/aggregations/support/ValuesSourceAggregationBuilder.java)
This class adds the following options to an aggregation

- field
- script
- missing
- format

[2017-03-28 04:49] rjernst commented on #21534
@wangweij You can run a single test as follows (just using the same one that @ywelsch used to benchmark this in the original issue description). You will need gradle 3.3.

1. In `~/.gradle/gradle.properties` set `org.gradle.java.home=path/to/java/8`. This is needed because gradle does not yet work on java 9 correctly.
2. Set `JAVA_HOME` to your jdk9 path.
3. Set `GRADLE_OPTS` to `--add-opens=java.

[2017-03-28 05:17] joshuar opened #23773 "Document action field values in Tasks API docs?"
Should the different values of the `action` field in the task listing be documented in the Tasks API docs?  For example, what the `"cluster:monitor/tasks/lists[n]"` means.  Is there a definitive list of these values or the naming convention we can reference?

[2017-03-28 07:06] glefloch commented on #23719
Hi, can I take this issue?

[2017-03-28 07:20] jpountz commented on #23765
OK I get what you are trying to do now. I think disabling `queryNorm` won't be enough, you need to disable the contribution from the term and doc freqs as well for it to work, which should be possible with the `boolean` similarity that we are adding: #23637.

[2017-03-28 07:20] #23765 closed

[2017-03-28 07:45] clintongormley commented on #23681
It never ends there. If you expose defaults like this, then soon we'll have requests for exposing refresh interval, shard routing, etc etc.  Do these get copied into the custom index settings or do they remain in the cluster state? What happens if the cluster state values change?  This adds complexity and action at a distance.

You have a single valid template which contains all the info you need

[2017-03-28 07:47] jpountz commented on #23765
You can already achieve a similar result today by wrapping the `term` queries under a `constant_score` query and setting the boost on the `constant_score` query.

[2017-03-28 07:56] clintongormley commented on #22684
I believe that the indices will disappear as time moves on - it shows data for them because you're looking at a window of time during which the indices still existed.

@pickypg could you confirm?

[2017-03-28 08:02] clintongormley commented on #23709
@nknize @martijnvg my guess here is that percolating geoshapes is slower than before because we no longer cache percolator queries.  thoughts?

[2017-03-28 08:03] clintongormley commented on #23713
As @wenhoujx pointed out, we decided not to add this functionality in #3278 because it is not horizontally scalable.

[2017-03-28 08:03] #23713 closed

[2017-03-28 08:04] s1monw commented on #11511
@clintongormley I think we missed one rather important aspect when it comes to soft-limits. Today the user can override those limits via dynamic properties which is ok most of the time but in the case of a cloud hosting infrastructure where the org that runs the infrastructure needs to have full control over these limits they should be able to disable the dynamic property or should disable setting