[2015-06-04 12:50] #11492 closed

[2015-06-04 13:01] clintongormley commented on #11495
Hi @jimmyjones2

You can't get the norms memory usage all by itself, but the amount of memory that is used by Lucene for open segments (which includes norms, and things like the terms index) is available through the node stats or the indices stats under `segments.memory_in_bytes`.

As a side note, there is an open patch in Lucene to move norms fully on to disk, which will resolve the problem of he

[2015-06-04 13:01] #11495 closed

[2015-06-04 13:13] refaelos commented on #11492
Thanks man!

I'll put the question on the forum and explain some more about the infrastructure and the data.

[2015-06-04 14:23] fuwaneko commented on #10290
Very annoying bug effectively preventing us from creating fat jar in our project. Looking back to original issue #4660 that introduced monkey-patched files from joda-convert into ES I can only sigh at how developers sometimes do things purely wrong and forget about it until it blows up someday.

I can't even use usual sbt/sbt-assembly stuff to exclude these files during build. That's unacceptable.

[2015-06-04 14:27] jimmyjones2 opened #11497 "Shadow replica documentation"
I think the [documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-shadow-replicas.html) could use some clarification:

* Suggest that node.enable_custom_paths: true has some security implications (according to #8819)
* In the example it sets the data_path for the my_index index to /var/data/my_index. I found this a bit misleading, as it implies the path should con

[2015-06-04 14:32] refaelos commented on #11492
Posted it there: https://discuss.elastic.co/t/one-vs-multiple-indices-on-es-using-lss-date-filter

Will be great if you can help.

[2015-06-04 15:07] rmuir commented on #11495
No, currently its included in the `segments` memory usage of the stats api:

    "segments" : {
        "count" : 4,
        "memory_in_bytes" : 13160 <-- there

But this statistic also includes other lucene datastructures. For 2.0, it is broken down more into categories like `norms_memory_in_bytes`, `terms_memory_in_bytes`, and so on:

    "segments" : {
        "count" : 4,
        "memory_in_by

[2015-06-04 15:22] #11454 closed

[2015-06-04 15:32] jimmyjones2 commented on #11495
@rmuir Thanks for the detailed response, that explains everything. I look forward to 2.0 that has already implemented exactly what I need.

[2015-06-04 16:30] angeleg opened #11498 "[Bug] 'ignore_malformed' applied to a malformed (boolean) numeric field does not work"
When I try to index a doc with a boolean field that's mapped as numeric, even with ìgnored_malformed`set to`true`, an exception is raised.

Repro steps:
##### Create a new index:

[code]

which yields `{ "acknowledged" : true }`
##### Create a mapping for a type in that index, with one integer field that has `ignore_malformed` set to true and coerce set to `true`

[code]

which yields `{ "acknowle

[2015-06-04 16:32] #11300 closed

[2015-06-04 16:40] tmcerwin commented on #6107
Is there any estimate on when the 2.0 version will be released?  We will likely have to remove usage of parent / child relationships, until they are moved to doc-values.  The in memory relationships are not scaling well with our application.

[2015-06-04 16:45] jpountz commented on #6107
As you can see from https://github.com/elastic/elasticsearch/issues/9970 there are 3 remaining boxes to tick and good progress is being made these days, so the first release candidate should happen pretty soon. However it might still take time between the release candidate and the GA depending on feedback.

[2015-06-04 16:49] tmcerwin commented on #6107
Thanks for the quick response!  I will run some testing on the master branch.

[2015-06-04 18:03] #7616 closed

[2015-06-04 18:03] #10888 closed

[2015-06-04 19:10] embark opened #11499 "Slow indexing in upgrade from 1.3.6 to 1.5.1"
Hi all,

I upgraded from 1.3.6 to 1.5.1. Indexing is significantly slower, and there are 10x more IO reads occurring. After noticing this issue, I ran `/_upgrade` and turned off `refresh` (setting `refresh_interval: -1`). I also tried restarting the cluster. Despite this, I did not see improvement. The bulk indexing threads seem to be spending a lot of time in `InternalEngine.loadCurrentVersionFro

[2015-06-04 19:24] bitemyapp opened #11500 "Spec isn't very readable nor is it sufficiently explicit to be useful"
Contrast: https://github.com/elastic/elasticsearch/blob/master/rest-api-spec/api/search.json#L160-L162

with (admittedly incomplete but not more so than your spec)

https://github.com/bitemyapp/bloodhound/blob/master/src/Database/Bloodhound/Types.hs#L536-L544

https://github.com/bitemyapp/bloodhound/blob/master/src/Database/Bloodhound/Types.hs#L601-L629

https://github.com/bitemyapp/bloodhound/blo

[2015-06-04 19:41] clintongormley commented on #11500
Closing as a duplicate of https://github.com/elastic/elasticsearch/issues/8965

[2015-06-04 19:41] #11500 closed

[2015-06-04 19:41] clintongormley commented on #8374
Closing as a duplicate of https://github.com/elastic/elasticsearch/issues/8965

[2015-06-04 19:41] #8374 closed

[2015-06-04 19:42] clintongormley commented on #11499
@mikemccand any thoughts about this?

[2015-06-04 19:46] bitemyapp commented on #8965
Coming from - https://github.com/elastic/elasticsearch/issues/11500#issue-85240264

Want to highlight:
https://github.com/bitemyapp/bloodhound/blob/master/src/Database/Bloodhound/Types.hs#L536-L544

https://github.com/bitemyapp/bloodhound/blob/master/src/Database/Bloodhound/Types.hs#L601-L629

https://github.com/bitemyapp/bloodhound/blob/master/src/Database/Bloodhound/Types.hs#L823-L832

https://g

[2015-06-04 19:57] AVVS opened #11502 "[1.3.7] shard fails to start IllegalArgumentException[No type mapped for [0]]"
i can say that my mappings suck for this index, since every random payload that gets indexed from headers (indexing parsed emails) are set dynamically to "index": "no" instead of being ignored and not added to the mappings, but, at the same time, this is not something that should make 1/3 of shards fail after a power outage in the data center, where I had 2 replicas of each shard. Can some1 shed s

[2015-06-04 20:09] mikemccand opened #11503 "Boolean settings parsing should not be lenient"
Spinoff from #11437.

Today, most boolean settings in Elasticsearch are parsed leniently
using `Booleans.parseBoolean`, which interprets `0`, `no`, `off` and `false`
as `false`, else `true` for any random strings like `NO` or `OFF` or `foobar`, etc.

I think this is dangerous: if the user has a typo for false, or maybe
thinks "disabled" would also mean false, they silently get true.

I think we sh

[2015-06-04 20:15] salyh opened #11504 "Provide a list of all settings"
Provide a comprehensive complete list of **all** settings for each es version like https://gist.github.com/jprante/7dccffa7f0c0c7576fa9 does for 1.2

[2015-06-04 20:15] rjernst commented on #11503
+1 to being strict. Could we limit to only true/false like booleanparser (i'm all for using it!), and do "backcompat" based on index created version?

[2015-06-04 20:24] dakrone commented on #11502
@AVVS it looks like your translog is corrupted, if you move the translog file away from the shard's directory you should be able to recover the shard.

[2015-06-04 20:27] #11281 closed

[2015-06-04 20:36] bleskes commented on #10402
this should be fixed now with https://github.com/elastic/elasticsearch/pull/10573 . @nmunro-cvt thx for reporting!

[2015-06-04 20:36] #10402 closed

[2015-06-04 20:41] Mpdreamz commented on #8965
[NEST](http://nest.azurewebsites.net/), the official high level C# client for elasticsearch, has types for all API [requests](https://github.com/elastic/elasticsearch-net/tree/develop/src/Nest/DSL) and [responses](https://github.com/elastic/elasticsearch-net/tree/develop/src/Nest/Domain/Responses) and all of the [domain objects](https://github.com/elastic/elasticsearch-net/tree/develop/src/Nest/Do

[2015-06-04 20:58] clintongormley commented on #11503
There are languages, such as Perl, which don't have boolean values.  This is the reason that boolean parsing in Elasticsearch is lenient.

I think it is OK to be lenient (as in have multiple ways of expressing true and false) but then to throw an exception if an unrecognised value is provided, eg:

* False: `false`, `0`, `"false"`, `"0"`
* True: `true`, `"true"", `1`, `"1"`

I believe that `no`, `

[2015-06-04 20:59] clintongormley commented on #11503
To be clear, my comment applies to values passed through the REST API, as opposed to settings in a config file

[2015-06-04 21:02] mikemccand commented on #11499
Can you describe the docs you're indexing?  Do you pass your own IDs
or does ES generate them?  Do you ever replace docs or just index new ones?

How many segments are in the shard?  Do you use delete-by-query?

Any custom index settings?

[2015-06-04 21:07] bitemyapp commented on #8965
@Mpdreamz I'm not trying to jockey for position here, but

[code]

[code]

Seems pretty stark.

Bloodhound has been used for awhile at a few different companies without needing more API coverage, there's no reason to believe the LOC would go up by 100 or even 10x to complete the coverage. (Tests are another 500 lines, the source includes the [doctests](http://hackage.haskell.org/package/bloodhound

[2015-06-04 21:31] embark commented on #11499
Thanks for following up @mikemccand

In response:
* The docs are JSON blobs.
* Yes, I pass in my own IDs.
* Mostly new docs are indexed, but replacement can happen.
* Running `GET` on `_segments`, each shard has roughly `num_committed_segments: 231` and `num_search_segments: 229`
* There are no deletes.
* Custom index settings include the following:
[code]

[2015-06-04 21:51] vedil opened #11506 "_update some time i get DocumentAlreadyExistsException"
I am doing _update on some doc using the url like
http://10.0.0.91:9200/alias_SOME_INDEX/SOME_TYPE/SOME_ID/_update
and my payload is like

{
"doc":{"baseName":"Microsoft Office"},
"upsert":{"baseName":"Microsoft Office"}
}

on some other thread i am doing PUT for the same document with same id.

i get document already exists]","status":409
some time it works some time i get this error

so i suspec

[2015-06-04 22:02] Mpdreamz commented on #8965
Sorry if you took my comment as an attack/commentary on your Haskell client that was not my intent.

I was explaining what we are doing as the .NET team and how its output might be very beneficial. All preliminary, all unofficial.

As **already** explained and mentioned in my original post: the current C# implementation is **nowhere near** an ideal reference implementation due to it being overly v

[2015-06-05 03:11] ppf2 commented on #11485
Ah!  I see what happened here (thx for trying :)).  I was testing various example ymls with different formatting, but also with different file names.  And didn't realize that if I just have 2 .yml files in the config directory, 1 for logging (logging.yml), and 1 for elasticsearch (except that the ES node yml is named something like not-working.yml), then it also will just load the defaults without

[2015-06-05 04:29] thihy opened #11508 "ElasticsearchIllegalStateException when field's value is big integer."
In mapping, the type of  field `name` is `string` . I put a document:
[code]

It's OK.

But when I search and highlight:
[code]
I get a excepton: `ElasticsearchIllegalStateException[No matching token for number_type [BIG_INTEGER]]` .

The call chain is `AbstractXContentParser#map()` -> `AbstractXContentParser#readMap()` ->  `AbstractXContentParser#readValue()` -> `JsonXContentParser#numberType()`

[2015-06-05 04:41] bitemyapp commented on #8965
@Mpdreamz It's all good, I think I understood your intent!

What do you need on this front that you're getting from TypeScript?

That's not what I meant, I was making the point that Bloodhound *has* tests. It's quite clear to me that the C# project is quite complete, I was making the point that Bloodhound is less distant from that than one would think based on the LOC. I was taking it as a given t

[2015-06-05 06:54] rmuir commented on #11503
Finally an issue worth discussing :)

I think we should have so-called "strict" boolean parsing, because we can assume what we are doing is actually important. When things aren't important e.g. `do you want another beer?`, then lenient parsing of booleans is just fine: you can default to `true` and nothing will go wrong!

So the context is critical: here we are talking about situations such as par

[2015-06-05 07:14] uboness commented on #11503
@rmuir I love your boolean parser, a piece of art... and love the copyrights on it too. I'm cool with stricter parsing, but only if we keep `42` to represent `maybe`!

+1 for `"true"` & `"false"`

[2015-06-05 07:43] mikemccand commented on #11499
OK that's a rather high segment count, which then makes ID lookups more costly (it must visit every segment).

This is exacerbated by your high `segments_per_tier` setting and `max_merged_segment`; can you change that setting back to default?  And maybe put max_merged_segment back to its default (5g)?

Also, niofs gives worse performance for id-lookup heavy use cases; can you remove that setting (

[2015-06-05 07:52] mikemccand commented on #11499
Another question: what do your IDs look like, e.g. how many bytes are they typically?  Longer IDs make things slower, and which ID you use can have an impact on performance: http://blog.mikemccandless.com/2014/05/choosing-fast-unique-identifier-uuid.html

[2015-06-05 08:44] clintongormley commented on #11502
Just to add to this: we've done a lot of work recently to improve translog handling and to reduce the chances of corruption, eg #11011 and #11143.  Not only is corruption much less likely, but Elasticsearch is better able to detect and handle this situation if it occurs.

I don't think there is anything more to do on this ticket, so I'm going to close it.  Feel free to reopen if there is something

[2015-06-05 08:44] #11502 closed

[2015-06-05 08:53] clintongormley commented on #11506
I haven't tried to replicate this, but it sounds like it is trying to do an upsert, and not handling the conflict exception correctly.

[2015-06-05 08:56] clintongormley opened #11510 "Log message to indicate that no `elasticsearch.yml` file was found"
If the config file is not found, Elasticsearch starts without any exceptions and uses the default settings.  We should either log a message, or even throw an exception here.

Relates to #11485

[2015-06-05 08:57] clintongormley commented on #11485
Closing in favour of #11510

[2015-06-05 08:57] #11485 closed

[2015-06-05 09:03] jpountz commented on #11504
This would certainly be useful. One issue is that the way we manage settings makes it hard to have a centralized place with the list of all settings so this would require some refactoring...

[2015-06-05 09:06] dadoonet commented on #11503
Hahaha! I'd love to see in our code base:

[code]

Like an easter egg...

Totally +1 to either reject any unknown form and never fall back to `true`.
`true` and `false` makes sense to me.

In that case, may the upgrade plugin should try to detect "old settings" and warn the user to change their values? I guess it's hard to build that as this plugin does not read for example `elasticsearch.yml` fil

[2015-06-05 09:12] jpountz commented on #11490
If you are reporting this issue, I assume that you already set `cluster.routing.allocation.same_shard.host` to `true`, otherwise elasticsearch does not try to avoid allocating shards twice on the same node.

Then it's true that elasticsearch checks for either the same IP or host. If you want to have something better, I would recommend on setting attributes on each container and then using forced a

[2015-06-05 09:19] spinscale commented on #11476
hey there,

a couple of questions here:

* Does this also happen, when you dont run it on a scripted field?
* Can you share the queries, that kibana executes (kibana allows you to show the full query)?
* Most importantly, do you have the chance to provide us the data which causes this problem? Can you provide a snapshot if the data is not too sensitive or help us creating a dataset that reproduces

[2015-06-05 09:32] clintongormley commented on #11455
@jaymode Why do we need the `config.ignore_placeholders` setting?  If somebody has permission to start Elasticsearch or edit the config file, then they also have permission to change this setting?

[2015-06-05 09:51] davidtme commented on #3982
I think I'm seeing this issue and I’ve created a small test case:

Index:
[code]

Data:
[code]

Query:
[code]

Result:
[code]

The problem I'm seeing is that "**to**" and "**each**" are being highlighted

[2015-06-05 09:58] clintongormley commented on #11432
We discussed this in FixItFriday.  This issue has only been brought up twice in two years, so it is not a widely requested feature.  The added complexity of supporting self-referential parent-child seems to outweigh the benefit.

For now, let's leave this model unsupported.  We can always revisit this later on if needed.

[2015-06-05 10:01] spinscale commented on #11423
is there another method you know that we could use? Havent looked at slf4j for some time. Hints appreciated.

[2015-06-05 10:30] clintongormley opened #11511 "Add safeguards to prevent simple user errors"
There are a number of places where a naive user can break Elasticsearch very easily.  We should add more (dynamically overridable) safeguards that prevent users from hurting themselves.

Note:
- We are adding high limits to start so that we don't suddenly disable things that users already do today, but so that sysadmins have tools that they can use to protect their clusters.  We can revisit the li

[2015-06-05 10:43] jpountz commented on #11511
I'm wondering if we should do it per index or per cluster. If we do it per index, then we might also want to have a max number of indices per cluster.

I guess it would also apply to multi-get and multi-search.

[2015-06-05 10:44] javanna commented on #3861
Remarking for discussion... I attempted to solve this as explained above, but it's more complicated than it initially seemed, see [comment here](https://github.com/elastic/elasticsearch/pull/11494#issuecomment-109255972). We have to discuss how we want to move forward here, we have again a few options:
1) go all the way with rejecting a get against a filtered alias, wherever it can happen (also in

[2015-06-05 11:06] alexbrasetvik commented on #11511
Some of this could go into a "sanity checker"-kind of plugin akin to the migration plugin that runs a bunch of tests as well.

That one could warn when e.g. minimum master nodes looks wrong, and when the number of shards/indexes/fields looks silly / approaches the above limits.

[2015-06-05 11:11] clintongormley commented on #11504
Related to #6732

[2015-06-05 11:12] clintongormley commented on #11504
Also, I think that each setting should have an explanation next to it.  And we need to add a test to throw an exception if a new setting is not documented.

[2015-06-05 11:21] clintongormley commented on #11476
Also wondering if some documents have multiple values in one field?

[2015-06-05 12:24] passing opened #11513 "for fields with numeric type 'byte', elasticsearch accepts values greater than 127 and indexes them wrongly"
using elasticsearch 1.5.2 I can index values greater than 127 for a byte field without getting any error. The values just overflow internally and the resulting numbers can be searched for.
e.g. indexing 250 ends up as -6
indexing 260 ends up as 4

[code]

now searching like this...
[code]

returns the following resultset
[code]

trying the same with a 'short' number, you get an error message for d

[2015-06-05 12:29] clintongormley commented on #11490
@jpountz Docker creates a private subnet, so two docker instances running on different hardware can indeed have the same IP address.  So the question for me is: would this change break the same_shard behaviour in other scenarios, eg with VMs?  I think it probably would as VMs on the same machine may well have different IPs.

[2015-06-05 12:31] jaymode commented on #11455
The `config.ignore_placeholders` was a suggestion from @uboness, so he may be able to provide additional details about the suggestion of adding it. My opinion is that this may not really be needed, since it controls internal behavior.

For clarification and background, I think the overall idea here is standardization of the placeholder naming. Looking at the [replacePropertyPlaceholders](https://g

[2015-06-05 13:49] sckott commented on #9120
+!

[2015-06-05 13:53] clintongormley commented on #3982
@davidtme the problem occurs because you are expanding synonyms both at index time and at search time, so it queries for multiple synonyms and matches all of them, then it highlights a selection of those (but admittedly in the wrong positions).

If you only expand synonyms at search or index time, then the highlighting works correctly.

[2015-06-05 13:55] clintongormley commented on #3861
My preference is number 2.  I don't think we can make filtered aliases behave exactly like indices, We would just end up creating complexity, poorer performance, and still have edge cases.  Rather just explain how filtered aliases work and leave it at that.  If users need the functionality of indices, then they should use a real index instead.

[2015-06-05 13:58] clintongormley commented on #11511
@alexbrasetvik the requires the user to actually run the check.  Often poor sysadmins are at the mercy of their users.  What I'd like to do is to prevent users from blowing things up by mistake.

[2015-06-05 14:12] clintongormley commented on #11513
Even with  `coerce:false`, the out-of-range byte value doesn't fail, and the short shouldn't fail with `coerce:true`, but does...

[2015-06-05 14:14] clintongormley commented on #11455
Wondering if it wouldn't be easier (and more bwc) to use this then:

    ${env.foo:default}
    ${prompt.text:default}

[2015-06-05 14:19] uboness commented on #11455
@clintongormley perhaps, it'll be more aligned with what we have today

[2015-06-05 15:53] #9779 closed

[2015-06-05 18:36] naisanza opened #11520 "{1.5.2}: Initialization Failed"
I encountered this error when I had a power failure, possibly in the middle of an indexing process.

I haven't made out much from the errors yet, and have just picked out the error exceptions and seeing if I find any search results from them. Such as, `codec footer mismatch`

I'm hoping someone has already seen this before and can help savage what's there. I would really just like to keep the Sear

[2015-06-05 22:36] ppf2 opened #11524 "Add option to `_cat/indices` to return index creation date"
Would be nice to provide an additional option for admins to return index.creation_date (from the index metadata) for the indices that are returned from the _cat/indices api.

[2015-06-06 17:14] DigiAngel opened #11525 "Worker-json.js not found"
Topic says it...when attempting to edit a Saved Search I get:

Error: Script file not found: worker-json.js (:0)

This is kibana-4.0.2-linux-x86.tar.gz downloaded just this morning.

[2015-06-06 17:15] smorovic opened #11526 "JVM running elasticsearhc gets stuck in GC loop on Haswell nodes"
Hi,

Our farm consists of ~ 900 Linux nodes with elasticsearch configured to use 1 GB heap, locked memory and these parameters (apart from enabling GC logging):
-XX:NewSize=500m -XX:MaxNewSize=600m"

Roughly half of the cluster are recently purchased (Haswell architecture, 12x2 cores dual socket E5-2680 with 64 GB RAM). We are running Scientific Linux 6.6, which is a RHEL6 equivalent.

Only on the

[2015-06-06 17:21] mikemccand commented on #11526
Is it possible you are hitting http://www.infoq.com/news/2015/05/redhat-futex ?  Also a scary Linux, Haswell-only bug.

But, it doesn't sound like you can un-stick the process when that bug strikes...

[2015-06-06 18:05] clintongormley commented on #8963
Closed in favour of https://github.com/elastic/elasticsearch/pull/11033

[2015-06-06 18:12] clintongormley commented on #6720
Comment copied over from #8873:

Documents of different types tend to have different fields, which can lead to problems of sparsity when documents are stored in the order that they were indexed.  If we sort documents by type, then missing values (eg in doc values or norms) can be represented very efficiently.

On merge, documents should be sorted by type (assuming there is more than one type).  Ad

[2015-06-06 18:12] clintongormley commented on #8873
Closing as duplicate of #6720

[2015-06-06 18:12] #8873 closed

[2015-06-06 18:12] smorovic commented on #11526
Hi,
Thanks for this info. It's possible that this is the case. I am not sure how SLC6 kernel version numbering corresponds to RedHat, but I will check this with sysadmins if we're affected (our kernel is 2.6.32-504.3.3.el6.x86_64).

Yes, unstacking always seem to work. In fact it is simpler (qucker) to do it using gstack. I supposed that it is a synchronisation problem, so if trapping threads enfo

[2015-06-06 20:40] umairmufti commented on #11490
The proposed change is to bring the code in accordance with the documentation. Specifically, the documentation states that hostname _and_ IP address are checked to determine the host.

Moreover, the following cases exist:
1. Nodes running on the same host with different IP addresses and different hostnames
2. Nodes running on the same host with different IP addresses but same hostnames
3. Nodes ru

[2015-06-07 03:27] ishare commented on #8708
does it mean propose to be added to v2.0.0 ?

[2015-06-07 10:32] clintongormley commented on #9726
@sylvinus you can't use scan/scroll in parallel - the scroll ID from the previous scroll request needs to be passed to the next scroll request.  Instead, you can use multiple scan/scroll requests each with a filter to segment the original index into (eg) documents from different months.

[2015-06-07 11:38] clintongormley opened #11527 "Bulk update doesn't support `fields` parameter"
The `fields` parameter in the update API allows the user to retrieve the updated `_source` field.  This support is missing in the bulk update API:

    PUT test/test/1
    {
      "foo": 1
    }

    POST /test/test/1/_update?fields=_source
    {
      "doc": {
        "foo": 2
      }
    }

Neither the QS param nor in the body return the _source field:

    POST /test/test/_bulk?fields=_source

[2015-06-07 11:39] clintongormley commented on #4095
Closing in favour of #11527

[2015-06-07 11:39] #4095 closed

[2015-06-07 12:07] yehosef commented on #11476
@spinscale
1) - I don't know if it's happens on a non-scripted field - I don't have any fields that are always the same ratio of another field for comparison
2)  https://gist.github.com/yehosef/f96dc491bcd5ee9bf7d3 is the query
I also included the index template - perhaps it's related to doc_values.
3) I'm not sure if I can share the data right now - if you contact me at my name at gmail, I can pr

[2015-06-07 12:27] rrphotosoft opened #11528 "Near Real Time Updates"
Hi,
My question relates to the near real time nature for updates.

Assume that I set a refresh interval of 1 min.

I index a document with a single field of type integer, that looks like this:
{
  "age":10
}

I am returned the following id: 'AU3LAx8AleL5uDCGX0DQ'

I will not be able to see this document for 1 min for any search requests.

However, within this 1 min, suppose I do an update on this

[2015-06-07 12:57] dadoonet commented on #11528
Please ask this on the mailing list: discuss.elastic.co.

I think it should be 13. A GET will also give 13 before the end of this minute BTW.

Closing. Not an issue.

[2015-06-07 12:57] #11528 closed

[2015-06-07 13:25] yehosef commented on #11476
@clintongormley  - I'm pretty sure that it doesn't.  We're importing Mixpanel data and you don't have arrays in that data set.  We have found chunks of our import data that was truncated - but I think that would result in broken json and just wouldn't import those lines.

[2015-06-07 16:37] alexbrasetvik commented on #11511
@clintongormley Agreed! I still think there's room for both, though such a tool should be another issue.

For example, a high number of indexes with few documents and identical mappings can be a sign that the user is doing per-user index partitioning when he shouldn't. That will turn into a problem, even if the current values are far from hitting above mentioned limits.

[2015-06-07 16:41] aimeida opened #11529 "similarity model is not parsed at mappings"
Dear ES developers, I have been troubled by this issue for two days -- really need help
it's about use custom similarity module in ES.
I wrote my own SimilarityProvider module as here, https://github.com/aimeida/tryES2/tree/master/src/main/java/com/unsilo/paysim
compiled it to a jar file and throw to ES lib path.

then I try send the following index:

[code]

everything works fine. Now I want to s

[2015-06-07 17:06] clintongormley commented on #10427
@colings86 is this still relevant?

[2015-06-07 17:13] clintongormley commented on #8781
All filters are now implemented as queries. Closing

[2015-06-07 17:13] #8781 closed

[2015-06-07 17:42] clintongormley commented on #8682
Handled on case by case basis

[2015-06-07 17:42] #8682 closed

[2015-06-07 20:26] cxxr commented on #11314
This has happened to us a few times in production. We've added "check to make sure a snapshot is not running" during any maintenance we perform to our ES cluster.

[2015-06-08 06:24] embark commented on #11499
In followup, @mikemccand,

I let the all merge policies for `segments_per_tier`, `max_merged_segment`, and `max_merge_at_once`  go back to the defaults as well as `index.store.type`. There should be plenty of RAM...

I let the changes soak a little, but sadly performance is still slow, and disk read IO is actually slightly higher now.

My ID's are about 13 bytes long, but I'm afraid that that the

[2015-06-08 08:29] zcola opened #11530 "there possible delete before the same field data in every week?"
Insert one data, `" @ timestamp, score: 80, ip: 192.8.8.8 "`, later time insert multiple pieces of data, including one for, `" @ timestamp, score: 90, ip: 192.8.8.8 "`, and for the same week, there possible delete before the same week` "ip: 192.8.8.8" `record?

[2015-06-08 08:41] srgclr commented on #9924
Ran into a similar issue and tried the snapshot cleanup utility. It didn't work as all shards were ignored:

What's the reason for ignoring shards when the node exists?

[2015-06-08 08:46] leesword opened #11531 "already flushing issue after upgrade to 1.5.2"
When I update the elastic to 1.5.2, it usually occur the issue as below:

[2015-06-07 00:00:07,870][DEBUG][action.admin.indices.flush] [pay_es_node0] [_river][1], node[nopuwJy_Q76PK1AwibE7Dw], [P], s[STARTED]: failed to execute [org.elasticsearch.action.admin.indices.flush.FlushRequest@22debddf]
org.elasticsearch.transport.RemoteTransportException: [pay_es_node1][inet[/*.*.*.*:9300]][indices:admin

[2015-06-08 08:55] clintongormley commented on #9443
This has been dealt with on a case-by-case basis.  Where we can upgrade settings, we do. Where we can't, we refuse to open the index.  The migration plugin (#10214) allows users to identify problems indices before upgrading.

[2015-06-08 08:55] #9443 closed

[2015-06-08 09:29] mikemccand commented on #11499
Hmm that's odd that you see no improvement from those changes.

Can you confirm segments counts per shard came down to normal (~30-40) levels once you cut back to defaults for the merge policy?

13 byte IDs is not bad; I've seen much worse!

What IO system are you using?

Can you run the diagnostics plugin (https://github.com/elastic/elasticsearch-support-diagnostics) and post the results?

[2015-06-08 09:47] bleskes commented on #11531
The flush process is in charge of commiting (fsyncing) any pending changes to disk so that the transaction log can be cleared. There can only be one ongoing flush at a time.  We trigger flushes internally but you can also trigger it externally with the flush API. If there is already an ongoing flush when the external API is called, the API will fail and tell you that with this exception. You can a

[2015-06-08 09:47] #11531 closed

[2015-06-08 10:44] bleskes opened #11533 "[CI] two_nodes_should_run_using_public_ip fails due to missing node"
Stack trace:

[code]

repro line:

[code]

Build url: http://build-us-00.elastic.co/job/es_core_master_centos/5094/

[2015-06-08 10:49] colings86 commented on #11525
@DigiAngel This is a Kibana issue so I have moved it to the Kibana issues list. You can track the new issue here: https://github.com/elastic/kibana/issues/4137

[2015-06-08 10:49] #11525 closed

[2015-06-08 12:02] javanna commented on #2318
I just labelled back for discussion, in #11496 we started discussing again what we should do with delete against aliases. Seems like the best approach would be to reject delete against any alias (regardless of whether it's filtered or not). Also, when we expand wildcards we should not expand to aliases only for this api. The latter is trickier to be honest, we don't currently support this and in o

[2015-06-08 12:57] bleskes commented on #11092
@bradvido thx. This is equivalent to the default and it works for me, so something else is in place. Any chance you can create a small reproduction?

[2015-06-08 13:48] xandyj commented on #11460
You may already be planning this, but I'd like to note that it would be useful if this ConflationAggregator would be generalized so that it could support not only geospatial but also temporal correlation.  Also, it would be useful for it to support nesting.

[2015-06-08 14:21] #9214 closed

[2015-06-08 14:22] bleskes commented on #9214
Thx @nirmalc I had to rebase and juggle a bit due to the restructuring on master, but it's in now. Thx!

[2015-06-08 14:42] nikonyrh commented on #11460
I'm assuming that we want to find documents from a set A which are "nearby" a document from set B, these can be defined by any filters.

Spatiotemporal correlations could be implemented by dividing documents into buckets which have a "well defined order" and regular intervals (such as geohash and date_histogram). Implementation would is simpler if the query is executed on a pre-determined axis-ali

[2015-06-08 15:29] mikemccand commented on #11249
Hmm I think I see what's happening here ... Elasticsearch detects false corruption if the segments file is 0 bytes, and gives a confusing message about upgrading 3x segments.

Was `/mnt/elasticsearch-test1/test/nodes/0/indices/gardenhose-2015-week20/2/index/segments_c9` 0 bytes in this case?

I'll work on a fix.

[2015-06-08 15:31] mikemccand commented on #11249
This only affects 1.x; we don't do this check in 2.0 (master).

[2015-06-08 16:00] vedil commented on #9908
i see in code "ZenDiscovery.java" that both properties are used and "discovery.zen.ping.timeout" over-rides " discovery.zen.ping_timeout"
below is the code snippet:
TimeValue pingTimeout = this.settings.getAsTime("discovery.zen.initial_ping_timeout", timeValueSeconds(3));
        pingTimeout = this.settings.getAsTime("discovery.zen.ping_timeout", pingTimeout);
        pingTimeout = settings.getAsT

[2015-06-08 16:37] mikemccand commented on #11249
Fixed with better error reporting in #11539.

[2015-06-08 16:37] #11249 closed

[2015-06-08 18:04] rboulton opened #11541 "Default english stemmer uses obselete algorithm from 1980"
I've just noticed https://github.com/elastic/elasticsearch/issues/6330 and the associated PR https://github.com/elastic/elasticsearch/pull/6452. I noticed this because on upgrading the install of elasticsearch on www.gov.uk searches including the word "news" started returning results containing only the word "new".

The changes between porter2 and porter are relatively small in terms of the number

[2015-06-08 18:06] rmuir commented on #11541
Unfortunately, its also like twice as slow. Last time i benchmarked, the default porter (non-snowball, just the java impl) has a 2x overall indexing performance advantage, so overall I think we make the right tradeoff.

[2015-06-08 18:11] rboulton commented on #11541
The snowball stemmers do tend to have a significant speed overhead compared to hand-coded algorithms, yes - I can believe a 2x speed difference for the actual stemming call.  I wouldn't have expected the cost of stemming to be a significant part of the total indexing speed, though.

Perhaps a bit of work on improving the speed on the porter2 algorithm would be worthwhile.  I don't believe it's had

[2015-06-08 18:18] rmuir commented on #11541
Yeah, I did this a while ago and afterwards actually spent time with snowball and tried to speed it up (and had some success). So lucene's snowball code has already diverged from snowball repository itself: perhaps there must be different performance goals in mind? What other explanation for things like (https://github.com/snowballstem/snowball/blob/master/java/org/tartarus/snowball/SnowballProgra

[2015-06-08 18:34] rmuir commented on #11541
to me the most promising approach could be: take the current PorterStemmer.java and create a Porter2Stemmer.java (still hand-written, just reflecting the changes). Its not very sexy but currently the hand-written code just performs much better. And its easy to test it against the snowball compiled version for correctness.

[2015-06-08 18:45] rboulton commented on #11541
The reason for things like that which are terrible for performance is that those lines of code were written 11 years ago (when I readily admit I had little experience with trying to write performant Java) with an aim of getting something working, and never revisited to improve performance. Take a look at Lucene code from the same time and you'll find some similar shockers! As I say, I'm sure there

[2015-06-08 19:18] rmuir commented on #11541
Yeah, I guess to me given the stated differences of 5% of words impacted, and reading through the documentation, it just doesn't seem particularly crucial. I guess in my opinion, english is messy and exceptions like news can be handled with exceptions, which we let the user do easily independent of the stemmer. Any IR tests i have done have shown no significant difference, but the performance is p

[2015-06-08 20:19] nikonyrh commented on #11460
If the bounding box consists of 2048 x 2048 buckets (a 2D case) it would take 23*n bits for n non-empty buckets with naive encoding (1 bit to indicate if bucket is for set A or B, 2 * 11 bits to encode its index i = x + 2048*y), about 400*n^0.7 bits with PNG compression and 114*n^0.77 bits with exponential-Golomb coded indexes (delta to previous index + 1 bit for set identification).

I used http:

[2015-06-08 20:21] simianhacker commented on #10971
Does this affect range queries as well? I just tried using Kibana 4 with ES 2.0 and I got the following error:

[code]

If I add `"format": "epoch_millis"` to the range query then everything works as expected.

[2015-06-08 21:29] rboulton commented on #11541
The 5% of words which are affected tend to be more frequently encountered words (because the changes were made based on frequently reported problems), so the changes have more effect than might be thought.  I agree that an exception list is a good idea (we have one for gov.uk here https://github.com/alphagov/rummager/blob/master/config/schema/stems.yml, for example); it just seems better to use th

[2015-06-08 21:29] #11541 closed

[2015-06-08 21:46] rmuir commented on #11541
Yes. kstem has never done well in my tests. Porter does well. just removing plural/possessive also works reasonable too. I think the "weak porter" that terrier has is also interesting (but have not tested myself). Usually improvements are small (<= 15%) vs. not stemming with english: to me that's expected. I don't read too far into this stuff, but when i see consistent patterns across several corp

[2015-06-08 21:54] PavelPolyakov opened #11543 "failed action with response of 400, dropping action"
Today I've updated my ES cluster to the ES version 1.5.2 , as well I've updated the logstash to the 1.5.0 .
Ony of my logstash outputs is elasticsearch.

Java version is 1.8.0_45 .

And since today I'm spammed with this kind of messages:

I have no idea how to overcome that. Some messages are ok, and ES accepts them and indexes, but some lead to this message.

Any idea what should I check to make

[2015-06-08 22:09] javadevmtl commented on #8480
I would gladly love to test this. Currently getting 100% usage in Windows with mapped files :)
I have 128GB server and twice made it up to 100% mem usage and unresponssive ES node.

Some details here: https://discuss.elastic.co/t/100-windows-memory-usage-but-no-oom/2089/4
And here: http://serverfault.com/questions/697511/setting-memory-mapped-file-limit-for-windows

[2015-06-08 22:42] areek commented on #10952
Hey @clintongormley,

The API:

[code]
(action name is up for debate)

The response will report the following on all copies of unassigned shards for specified indices:
 - node id of the host node
 - shard version of the copy
 - exception (if any) that has been encountered when trying to open the shard index. (will catch if the shard index has been corrupted, etc.)

[code]
Thoughts?
PR: #11545

[2015-06-08 22:53] rboulton commented on #11541
Thanks for that datapoint; interesting.

[2015-06-09 00:32] darshanmehta10 opened #11547 "Too many bloked threads in elasticsearch java client"
We are using elasticsearch 1.4.2 with Spring data. TransportClient object is used to establish connection, execute the query and fetch results (only search requests).
Following code closes connection:
`//There is an instanceof test above this block so no class cast exception here`
`((TransportClient)element.getObjectValue()).close();`
`((TransportClient)element.getObjectValue()).threadPool().shutd

[2015-06-09 00:38] markwalkom commented on #11547
This is probably causing you a lot of problems!
I'd suggest you join us in #elasticsearch on Freenode or at https://discuss.elastic.co/ for troubleshooting help, we reserve Github for bugs and feature requests :)

[2015-06-09 00:46] markwalkom opened #11548 "Allow number_of_shards to be set via API"
Currently the only way to set `index.number_of_shards` is via the elasticsearch.yml file, if you try to set this via the API it doesn't work;
[code]
And this is reported in the log;
[code]

It seems like a bit of a gap between forcing a user to either set this on each node, which can potentially result in different values across nodes, or using a template, which may get confusing as well.

Is ther

[2015-06-09 06:15] markwalkom opened #11550 "Always allocate primaries first during recovery"
During recovery users can set `cluster.routing.allocation.enable` to only allow primaries to be allocated (recovered).

Currently if this is set to `all` we will do any primaries for an index, but in large clusters we have seen instances where instead of recovering the next unallocated primary, we work on the replica of a now allocated primary.

This obviously delays the progress in getting a clus

[2015-06-09 06:52] bleskes commented on #11550
The master should allocate primaries first, based on the current allocation restrictions (maximum recoveries per node). Once all possible primaries are assigned (but not per-se started) it proceeds to allocate any replicas if possible. This repeats it self with any change to the current status (shard started/failed/node joined etc.). Can you give some more information about what happened?

[2015-06-09 07:15] spinscale commented on #10971
@simianhacker yes it does. When creating a range query in kibana, do you always use a unix timestamp or just in this example?

[2015-06-09 07:41] kimchy commented on #11550
primaries today are allocated first, and only when the limit is reached (as per Boaz note) we will go and try and allocate replicas. I suspect that this came from the sync nature of remote listing of shards during allocation which is a problem with very slow file systems, so this will become a non issue in 1.6 (well, the file system will still be slow, but it won't cause perceived notions of hiccu

[2015-06-09 07:42] brwe commented on #11529
I think you are missing an @Assisted annotation here https://github.com/aimeida/tryES2/commit/b8e521846b1ddb3d71d7817719869f047722e10e#commitcomment-11582316 and therefore the name is not picked up.
Can you confirm this fixes the problem?

I wonder if we can automatically check for unannotated parameters like in https://github.com/elastic/elasticsearch/pull/10763/ but need to understand guice bett

[2015-06-09 08:02] #5089 closed

[2015-06-09 08:03] #11175 closed

[2015-06-09 08:06] markwalkom commented on #11550
Great, thanks both for the comments :)

[2015-06-09 10:46] aimeida commented on #11529
Thanks ! problem solved !

[2015-06-09 10:46] #11529 closed

[2015-06-09 10:52] spinscale opened #11552 "Fix argument parsing on startup"
Currently our argument parsing on startup is very brittle, without the possibility to exit on problems (for example when including a space in a path, many other arguments might break as well and es still starts up)

The used `getopt` function fails on whitespaces, which is also mentioned in its manpage. There does not seem to be any fix for this. The alternative would be to call `getopts` (note th

[2015-06-09 12:41] T0aD commented on #11543
+1

[2015-06-09 13:58] nik9000 commented on #1063
I think the right way to do this is to allow waiting on some change to become visible but advise people to use a very very short timeout. If you keep the timeout to a couple of hundred milliseconds then your unlikely to consume a ton of ram or bunch requests too too tightly. And for folks that have stupid amounts of traffic they can just not use the feature or set the timeout even lower. Or to 0.

[2015-06-09 14:09] vineet85 opened #11555 "Sub Aggregations in parent-child relationship on field value"
Hi,

I have a parent child mapping in the following format:-
The children are linked to the parent based on the _id field in this case

Parent:-

    POST http://localhost:9200/_bulk
    { "index" :  {"_index":"estester","_type":"document","_id":"00005777b25343f0b7c03e54c0411c1b"} }
    {}

Children:-

    POST http://localhost:9200/_bulk
    {
        "index": {
            "_index": "estester",

[2015-06-09 14:15] PavelPolyakov commented on #11543
I have the next suggestion currently.

My logs doesn't have any mapped format in elasticsearch, they are dynamic.

The log could look like this:
[code]

and like this

[code]

As soon as 1st log type would hit the elasticsearch, the error field would be mapped as string. Since that time, any of the 2nd type logs would not be accepted. And would produce the error from the topic heading.

Could anyo

[2015-06-09 15:18] aelingold commented on #2230
+1

[2015-06-09 15:25] Judyccb opened #11557 "Elasticsearch snapshot,want to snapshot a specific index,but snapshot all indices.Is it a bug？"
I use the API as follow,

curl -XPUT XXXX/_snapshot/indexBackup/tranpmindex_v1ccbs-2015-05-09?wait_for_completion=true -d '{"indices":"tranpmindex_v1ccb-2015-05-09","include_global_state":"false"}'

The index of tranpmindex_v1ccb-2015-05-09 is only about 90M. However, after 15minutes the API executed, the directory of indexBackup increase to 250G.There are a lot of other indices under this dir.

W

[2015-06-09 15:44] fresheneesz commented on #1063
Our use case had almost nothing to do with user-related queries - we just needed to do it once, every once in a while, for the entire application. It would also be indespensible for unit testing, where you need to make sure data's been saved and is accessible before re-accessing it.

[2015-06-09 16:02] apanimesh061 opened #11558 "Getting no results while using TermVector API with Transport Client"
[code]
I am trying to retrieve Term Vector of a document using Scala. I am using Elasticsearch 1.5.2 with Scala 2.10.5.
Here, if I use `NodeBuilder` I get the answer but it is very slow, like 7-9 seconds for one vector. I do not get any answer using the `TransportClient`. The code compiles correctly in both cases.

What should I do to increase speed and make `TransportClient` work?

[2015-06-09 17:09] clintongormley commented on #11543
Hi @PavelPolyakov

The `error` field can't be both a string (first example) and an object (second example).  Whichever format is seen first sets the field type, and all documents with the other format are rejected.

You'll need to add a rule to logstash to change the field name of one of the formats.

[2015-06-09 17:09] #11543 closed

[2015-06-09 17:11] clintongormley commented on #11543
The alternative is to map the `error` field as:

    { "type": "object", "enabled": false }

With this mapping, it won't look at the contents of the `error` field at all.  Documents won't be rejected, but of course the `error` (and `error.message`) fields won't be indexed either, and so won't be searchable.

[2015-06-09 18:45] NickMeves commented on #3922
+1

Was about to open a new issue then I stumbled across this.  Running into this alot lately with both Kibana and Graylog.

Issue is with not_analyzed field using regex for us as well.

[2015-06-09 18:52] djschny opened #11560 "add escaping for JSON response body filtering"
Please add the ability to handle escaping for certain characters with the filter_path option. For example to allow the following to work for our common .marvel-* indices.

[code]

[2015-06-09 19:27] bleskes commented on #10952
nice. I would call this "_list_stores" or something similar (the unassigned name means shards for which we have no store available or are throttled for being assigned). Question-- what is the exception? I presume it's a corruption marker? If so call it corruption?

[2015-06-09 19:30] s1monw commented on #10952
@bleskes there is a PR linked #11545

[2015-06-09 19:32] gmarz commented on #8480
Hey @javadevmtl this is available in [1.6](https://www.elastic.co/blog/elasticsearch-1-6-0-released), which we just released today.

Would be great if you could test this and provide any feedback.  Really interested in seeing what effect it has on the issue your experiencing.

[2015-06-09 20:13] djschny opened #11564 "${prompt.text} and ${prompt.secret} double prompting"
With the following configuration
[code]
Elasticsearch 1.6.0 prompts you twice. Once for "node.name" and "name". Ultimately it uses the second one for the value of the configuration item:
[code]

[2015-06-09 23:25] #11550 closed

[2015-06-10 02:24] linhaobuaa opened #11566 "SearchParseException and transporterror"
I have an error as bellows, can anyone help?
"index": "guba",
"shard": 0,
"status": 400,
"reason": "RemoteTransportException[[ubuntu11][inet[/219.224.135.96:9301]][indices:data/read/search[phase/query]]]; nested: SearchParseException[[guba][0]: from[-1],size[-1]: Parse Failure [Failed to parse source [{"query":{"bool":{"must":[{"match":{"stock_name":"郑煤机"}}],"must_not":[],"should":[]}}}]]]; nested

[2015-06-10 02:29] markwalkom commented on #11566
Please join us in  #elasticsearchon Freenode or at https://discuss.elastic.co/ for troubleshooting help, we reserve Github for confirmed bugs and feature requests :)

[2015-06-10 02:29] #11566 closed

[2015-06-10 03:06] trident60 opened #11567 "1.6 hangs on startup"
Hello,

Just trying out 1.6 and after running ./elasticsearch it just hangs at the "gateway….recovered indices" line. Also, in your instructions it shows "recovered [1] indices into cluster" - on mine it says [0].

Here is a copy of what's on my screen….thanks!

[2015-06-10 02:56:51,667][INFO ][node                     ] [War Machine] version[1.6.0], pid[6371], build[cdd3ac4/2015-06-09T13:36:34Z]

[2015-06-10 03:14] markwalkom commented on #11567
It will only ever report >0 recovered indices if there is data in the cluster, it looks like this is a brand new cluster with no data in it.
Have you tried to check if ES is responding to a curl, it looks like it will! That last log line is what you'd see once ES has started up and is ready to do it's thing.

Also please join us in #elasticsearch on Freenode or at https://discuss.elastic.co/ for t

[2015-06-10 03:14] #11567 closed

[2015-06-10 03:31] trident60 commented on #11567
Thank you for the quick reply!
So it will only report [0] if there IS data in the cluster? And this looks like a new cluster with NO data in it? Yet it's reporting [0]…I'm even more confused…lol

If it's ready to do it's thing shouldn't it "finish" and leave me at a prompt? As it is, I have to cntrl+c to get out of that process and ES is not running.

Here is the response back from a curl attempt:

[2015-06-10 03:32] markwalkom commented on #11567
You need to run it as daemon mode, -d, for it ti return you to the console.

[2015-06-10 03:34] trident60 commented on #11567
Ok….I did that.
./elasticsearch -d
It didn't display anything, just returned me to the console it's not running and curl still failed to connect.

Maybe I missed something?

[2015-06-10 03:34] trident60 commented on #11567
Never mind…lol

I didn't miss anything…it just took a second to start ;)

Thanks!

[2015-06-10 03:42] areek commented on #10952
@bleskes thanks for the suggestion. "_list_stores" seem to imply that the API will list all the shard stores for the indices rather than only list stores of the copies of the currently unassigned shards? But I can not think of a better name though :). The exception is thrown when trying to open the shard index, can be caused by corruption marker or if the segment infos file can not be read. Maybe

[2015-06-10 07:23] brwe commented on #11558
When you call builder.execute() the request is sent but then you don't wait for the result to come back. main() might therefore finish before the result has actually been returned. Try waiting until onResponse() is called, for example with a latch.

[2015-06-10 07:23] #11558 closed

[2015-06-10 07:34] jpountz opened #11569 "Core: Rename caches"
With the merge of queries and filters, it would make sense to rename our caches:
 - filter cache -> query cache
 - shard query cache -> shard request cache

I also have hopes that the latter renaming will help remove confusion that the request cache is short-lived since it is invalidated on every refresh.

[2015-06-10 07:38] s1monw commented on #11569
++

[2015-06-10 07:40] jpountz commented on #11569
One challenge here is that the new setting for the size of the query cache would be `index.cache.query.size` while it is also the old setting for the request cache size. So we need somehow to be able to differenciate the two.

[2015-06-10 07:45] bleskes commented on #10952
@areek I looked at the implementation and I'm not happy with `_list_stores` either, mainly because we use the `TransportNodesListGatewayStartedShards` and not the `TransportNodesListShardStoreMetaData`  (which is good, but the naming will confusing). I wonder if we should just rename `TransportNodesListGatewayStartedShards` to `TransportNodesListShardStores`  . Will think about this some more.

re

[2015-06-10 08:51] nellicus commented on #8563
@tlrx

can we have this to work in conjunction with --verbose?
today there is no diff

[code]

Can we have -v to print version and location of each plugin

@drewr I disagree on "no output if there aren't any installed? " this is very user unfriendly.

[2015-06-10 09:57] markharwood commented on #11460
Another use case to consider - using a geo demographic filter which is derived from another set.
e.g. the set of geohashes from this open UK house-sales data that allows us to get the median house price in a region to give an indication of affluence.
Deriving these geohashes is not simply an "all docs that match query" filter (like your HomeDepot example)  but an "all buckets that meet a threshold

[2015-06-10 10:15] spapin opened #11571 "Update REST API documentation with valid examples"
One example is cluster stats API:
https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-stats.html

Fields that were recently added do not show up in the sample json response.
Documentation should be up to date with the code.

[2015-06-10 10:19] s1monw opened #11572 "_mlt API ignores deprecated `percent_terms_to_match` parameter"
we moved to `minimum_should_match` but we should still accept the `percent_terms_to_match` parameter until 2.0

[2015-06-10 10:23] s1monw opened #11573 "MoreLikeThis Query doesn't work with `just_path` option pre 2.0"
the term vector API which is now used to build MLT queries get the term vector potentially from a different field (source) than it's executed against. This will result in empty queries and should be rewritten against it's index name field

[2015-06-10 10:56] bgiromini commented on #9930
Did you download the program from the github repo or did you get it from the official site? I only ask because I ran into a similar issue when trying to download from the github releases. It seems there are files missing that are only available in the official package.

https://www.elastic.co/downloads/elasticsearch

[2015-06-10 10:57] markwalkom commented on #9930
Please also join us in #elasticsearch on Freenode or at https://discuss.elastic.co/ for troubleshooting help, we reserve Github for confirmed bugs and feature requests :)

[2015-06-10 11:19] drewr commented on #8563
If you type `ls` in an empty directory, you get no output.  If you list plugins and there aren't any installed why is no output not a valid response?  It's what makes things like `for i in $(bin/plugin -l); do ... done`  work.

[2015-06-10 11:37] JRRan64 commented on #9930
It was a java home and path issue.  Working great now.
On Jun 10, 2015 6:57 AM, "Brandon G" <notifications@github.com> wrote:

[2015-06-10 11:38] #11247 closed

[2015-06-10 11:39] jpountz commented on #11257
@imotov Given recent changes we made to how we perform compression, this assertion should be less of an issue now. Should we just add it back?

[2015-06-10 11:40] clintongormley commented on #9930
Awesome, thanks for letting us know

[2015-06-10 11:40] #9930 closed

[2015-06-10 12:35] s1monw commented on #11572
fixed see #11574

[2015-06-10 12:35] #11572 closed

[2015-06-10 13:01] imotov commented on #11257
Yes, it would be great to add it back! Thanks!

[2015-06-10 13:17] imotov commented on #11557
@Judyccb That's strange. I just tried reproducing it with 1.4.4 and everything seems to work as expected - only one index is copied to the repository. What do you get back as a response to this operation?

[2015-06-10 13:41] imotov commented on #9924
@srgclr if a node exists and a shard is in ABORTED state it can mean one of the two things - we hit #11314 or the shard is stuck in the I/O operation and we need to wait until the I/O operation is over or we need to restart the node. It's impossible for the cleanup utility to determine which state we are in. Because of this, it takes a safer route - assume that we are stuck in I/O operation and sk

[2015-06-10 14:06] emilgerebo commented on #4915
+1

[2015-06-10 14:07] vineet85 opened #11578 "Reverse nested aggregations for parent child relationships"
Hi,
I'm noticing the reverse nested aggregation feature is available only for the nested data model but not for parent-child. We need to use parent-child since update latency is very important to us but noticing that aggregations which are several levels deep are not possible in a single query using parent child.

Here is how this can be done with the Nested model. Is this something which can be a

[2015-06-10 14:34] ilanrivers opened #11579 "Make it possible to see if a term matches text in the index or does not."
When suggestions are found you see these in the options of the results But when a term is spelled correctly you also see no options filled in.

So there is no way to really know if the suggester was not able to find a matching suggestion or if the term was spelled correctly to begin with.

[2015-06-10 14:45] markharwood commented on #11460
For the use case I outlined I thought I'd run through this on some real data as a practical exercise. A javascript client made the bridge manually from house sales index (0.5m houses) to crimes index (5m crimes) to do some analysis - screenshots here: https://twitter.com/elasticmark/status/608639164364550144 )

The steps were:
1) Queried house price index, summarising by geohash and median price
2

[2015-06-10 14:52] Henri85 opened #11581 "Must + Should combined in Bool : unexpected result"
I'm using ElasticSearch 1.6.0

I have to combine a must with a should in a bool.
The must filter results 1229 items. Combined with the should filter, I only get 1 result (the item with id 2). It seems that 'should' works as 'must'. But why?

    {
        "query": {
            "filtered": {
                "query": {
                    "match_all": []
                },
                "filter":

[2015-06-10 14:56] rashidkpc commented on #10971
We always use a Unix timestamp because it has historically been accepted regardless of format. While we know the format from the mapping, there are differences between our date formatting lib and Joda.

[2015-06-10 15:04] clintongormley commented on #11581
With a bool filter, at least one should clause must match (otherwise it is meaningless).  You only have one, so it has to match.

[2015-06-10 15:04] #11581 closed

[2015-06-10 15:15] drewr opened #11582 "ES waiting for observer timeout before failing consistency check"
When consistency policy isn't satisfied, rather than bail out in the precheck, we are waiting the default cluster state observer timeout (60s) before sending the error response.  The only way to tell this is happening if you don't have the response is the timeout getting logged, in `DEBUG`:

[code]

On a busy cluster with lots of writes, you will start to see metadata operations slow down even tho

[2015-06-10 15:37] pickypg commented on #9908
Hi @vedil, I definitely agree that that's in the code, but the `SETTING_PING_TIMEOUT` is the last one, which means that it gets the final say-so.

[2015-06-10 15:59] Judyccb commented on #11557
After I input the command and clicked enter, there is no output.I waited for just 5 minutes, then got the warn message that the NFS was full.I had to kill the snapshot process.In the ES log,there is only "no disk free,snapshot failed".The log level is INFO.This is our production environment.I tested snapshot in our test environment,there is no problem. But our production environment and test envir

[2015-06-10 16:00] clintongormley commented on #11520
Hi @naisanza

First thing is to make sure you're configuring logging properly - see your first exception about not being able to find the config file.

Then for this exception:

    codec footer mismatch: actual footer=0 vs expected footer=-1071082520 (resource: BufferedChecksumIndexInput(SimpleFSIndexInput(path="/usr/share/elasticsearch/data/elasticsearch/nodes/0/indices/logstash-2014.10.09/_stat

[2015-06-10 16:01] imotov commented on #11557
@Judyccb as long as the body of the request is correctly supplied, the list of indices is always considered.

[2015-06-10 16:07] Judyccb commented on #11557
Hi  Motov,
Is there the body any problem as follow?
 curl -XPUT XXXX/_snapshot/indexBackup/tranpmindex_v1ccbs-2015-05-09?wait_for_completion=true -d '{"indices":"tranpmindex_v1ccb-2015-05-09","include_global_state":"false"}'
This index of tranpmindex_v1ccb-2015-05-09 was reindexed by Python

[2015-06-10 16:11] imotov commented on #11557
@Judyccb I don't see any issues with your request. I created and an index with the same name and I wasn't able to reproduce the issue with your command - everything worked fine for me. Do you have any filters or proxy setup between your machine and the elasticsearch server? Is it possible that this proxy somehow cuts off the body or something like this?

[2015-06-10 16:21] clintongormley commented on #11530
Hi @zcola

Please ask questions like these on the forum instead: https://discuss.elastic.co/c/elasticsearch

thanks

[2015-06-10 16:21] #11530 closed

[2015-06-10 16:25] schlosna commented on #10224
I am experiencing bloat of the fixed bit set caches which has led to OutOfMemoryErrors on our data nodes and ES cluster instability. We make heavy use of nested documents to provide access controls for parent documents, and our queries include filters for these nested documents.

Similar to @drewdahlke, we may have to fork ES if we cannot bound the `FixedBitSetFilterCache` so I am beginning to loo

[2015-06-10 16:26] Judyccb commented on #11557
Hi Motov,
The machine I executed the command is one node of our ES cluster.Our ES cluster has 43 nodes. We have a team working on this cluster.I am not sure whether there is any filters or proxy on this machine.How to check it? Could you give any suggestion?

[2015-06-10 16:29] roytmana commented on #1063
+1

[2015-06-10 16:30] nik9000 commented on #1063
Just issue a refresh call then. Its how Elasticsearch's tests do it.

[2015-06-10 17:24] imotov commented on #11557
I think the best way would be to ask the team working on this cluster. You can try specifying some bogus parameters in the body to see if they will generate a parse error (the error means the body was indeed sent and parsed by elasticsearch). However, if body will not reach elasticsearch you will end up creating a complete snapshot again.

[2015-06-10 17:41] Henri85 commented on #11581
Thanks. I was really confused between bool query and bool filter.

Documentation: https://www.elastic.co/guide/en/elasticsearch/guide/current/_most_important_queries_and_filters.html

[2015-06-10 17:55] spinscale opened #11587 "RPM: Allow to create RPM with & without signing"
In order to create an RPM for integration tests (as well as centos 5), we need to create an RPM that is not signed when it is built.

This can probably be sovled by having another maven profile with a different RPM configuration, that stores the RPM in a different path. This RPM should be used when uploading in the build release script to S3, the signed one should be used for the repositories.

[2015-06-10 19:57] dadoonet commented on #11587
@spinscale I think that it should be super easy to solve that once #11523 will be merged.

[2015-06-10 20:02] roder commented on #9212
I am also having this issue and have submitted a support ticket, but have yet to resolve it.

We're running ES 1.4.4 on Ubuntu 14.04 on GCE. We did not have the "rides the rocket" log lines in syslog and have tested on 3.16 and 3.19 kernels. No resolution yet.

[2015-06-10 20:44] imotov opened #11589 "Snapshot/Restore: Add checksums to metadata files in repository"
Currently, we only checksums of the data files, leaving possibility for metadata files to get corrupted without us noticing it. We should add checksums to the metadata files and verify them on restore.

[2015-06-10 21:17] diranged commented on #9212
We upgraded to Ubuntu 14.04.02, and saw the same issue again after just about a week of runtime. :(

[2015-06-10 21:28] ppf2 opened #11590 "Recovering from "Could not find a state file to recover" automatically"
Have a scenario where the user upgraded (to 1.5.2) and downgraded and re-upgraded multiple times, and shards are showing the following exceptions:

[code]

While they can workaround this by moving the state file without the .st out of the shard directories, this can cause other issues if the user is not careful (eg. if they have a large number of shards affected and script it to move the files wit

[2015-06-10 21:32] MattFriedmanAfilias opened #11591 "Request to change name of WrapperQueryBuilder (org.elasticsearch.index.query)"
I spent a considerable time today looking for a query builder that would accept a JSON string query (as per the REST API).

I wonder if the term JSON could be incorporated into the name i.e. JsonWrapperQueryBuilder?

Not a big deal but it wasn't obvious to me despite numerous Google searches and lots of hunting, forum posts etc...

Thanks.

[2015-06-10 23:22] rholloway opened #11593 "Unable To Enable Writes Due To ClusterBlockException"
So while debugging a separate issue in the cluster, I issued the following command via API:

curl -XPUT 'localhost:9200/test-*/_settings' -d '
{
    "index" : {
        "blocks": {
            "write": true,
            "metadata": true
        }
    }
}'

The reasoning is unimportant and related to my stupidity in what exactly this would do, but my plan was to flip right back to false. However, t

[2015-06-11 02:14] FestivalBobcats commented on #9693
Was there any further thought on this? Tracking changes in average query time, for example, is difficult when the JVM uptime is 10+ days and billions of requests have come through.

I could periodically do a rolling restart (contingent on having ample replication to prevent partial downtime), but it seems like introducing the unnecessary potential for chaos.

[2015-06-11 03:29] rholloway commented on #11593
Edit, this has been solved! The issue for me was I was trying to revert the change with

curl -XPUT 'localhost:9200/test-*/_settings' -d '
{
    "index" : {
        "blocks": {
            "write": false,
            "metadata": false
        }
    }
}'

which appears to attempt ta change the write block first, which tosses the metadata exception. If I break it into two separate queries, then I wa

[2015-06-11 03:44] rholloway commented on #11593
Not sure if it's worth reopening issue for, but if anyone ever does see this and happens to know where this setting is persisted to disk, I'd definitely be curious to know. I spent a while trying to track down and was going to shutdown cluster and edit manually, but it's not persisted in the global cluster state file where I thought it might be.

[2015-06-11 03:50] nile1801 commented on #4915
+1

[2015-06-11 04:35] FestivalBobcats commented on #9693
Would it make more sense to have values (like  `query_total` and `query_time_in_millis`) presented in 2 or more forms -- for the entire process uptime **and** values within a time window? e.g. x total queries, x within the last 5 minutes?

[2015-06-11 05:19] Judyccb commented on #11557
Hi Motov,

I think the body was indeed sent and parsed by elasticsearch. The es log  is as follow,
[2015-06-09 16:14:39,007][WARN ][snapshots                ] [by10esapap1009_0] [[patrol_v1-2015-01-16][2]] [indexBackup:tranpmindex_v1ccbs-2015-05-09] failed to create snapshot
org.elasticsearch.index.snapshots.IndexShardSnapshotFailedException: [patrol_v1-2015-01-16][2] Failed to perform snapshot (i

[2015-06-11 06:59] bleskes commented on #11533
Another similar failure for two_nodes_should_run_using_private_ip : http://build-us-00.elastic.co/job/es_g1gc_master_metal/8693/testReport/junit/org.elasticsearch.discovery.azure/AzureTwoStartedNodesTest/two_nodes_should_run_using_private_ip/

[2015-06-11 07:06] konstantinkostin28 opened #11594 "Path to file elasticsearch.pid not exist after restart"
During start elasticsearch (version 1.6) service after restart ubuntu machine I have following error:

touch: cannot touch ‘/var/run/elasticsearch/elasticsearch.pid’: No such file or directory

This occurs because elasticsearch.pid move to /elasticsearch directory (PID_DIR="/var/run/elasticsearch", PID_FILE="$PID_DIR/$NAME.pid") and ubuntu remove this after restart. Command "touch" does not create

[2015-06-11 07:09] wilb commented on #9212
I got to the bottom of what my particular issue was. Not sure it's likely to help others, but worth detailing...

I use Chef to configure our cluster, one of the things that gets configured is the S3 Repo for backups. Unfortunately I wasn't doing this in an idempotent manner, which resulted in the call coming in every 30 minutes. This wasn't causing any problems initially, but the call will verify

[2015-06-11 07:15] gurvindersingh commented on #9212
At least for us upgrading to 3.18 kernel fixed the issue. Our cluster is running now for 3 weeks without any node disconnect whereas earlier we had disconnect at least once a week.

It does seems that there are multiple issues which can cause node disconnect. May be in 1.6.0 the improvement they made to make cluster state changes async might help.

[2015-06-11 07:35] tlrx commented on #11594
@konstantinkostin28 thanks for your reporting and you're right, the PID_DIR should be created before `touch` the file.

[2015-06-11 07:43] cooniur commented on #9891
Hey @dadoonet , I'd like to test if it's still broken after we upgrade to 1.6. Will let you know the result.

Thanks!

[2015-06-11 09:37] tlrx commented on #9212
@wilb Thanks for letting us know. As far as I see you are running a 1.4.5 version of elasticsearch and an issue very similar to yours has been reported in #10344 and fixed in #10366 for 1.5+ versions. Maybe you'll be interested in reading those issues and compare with yours.

[2015-06-11 10:10] colings86 opened #11596 "Support for Lucene Expression scripts in pipeline aggregators"
At the moment Lucene Expressions scripts only implement SearchScript and throw an UnsupportedOperationException if you call ExpressionScriptService.executable() or ExpressionScriptService.execute(). The message in the exception says "Cannot use expressions for updates" which is understandable since the language is not built for update operations. However, in the pipeline aggregators we want to be

[2015-06-11 10:14] s1monw commented on #11569
yeah we can't really... we can go to `index.shard.query.cache.size` maybe?

[2015-06-11 10:15] s1monw commented on #10952
well we can also have exceptions if there is no index there for instance which is not a corruption?

[2015-06-11 10:34] wilb commented on #9212
Thankyou - that looks exactly like the issue. I'd held off from doing an upgrade to 1.5.x yet but looks like I should definitely do so.

[2015-06-11 10:48] GlenRSmith commented on #11594
I get the same behavior on an Ubuntu 14.04 VM. Was fine on v1.5.2, broken on 1.6.0.

[2015-06-11 11:01] pjcardy commented on #4847
If you're not going to do this, please at least put a massive warning in the documentation! It's not mentioned at all, and I think most people's assumption would be that discrete values are supported, not just integers!

As it stands, I've spent time and money gathering data I now can't use.

+1

[2015-06-11 11:02] faxm0dem commented on #11395
## Update

I do not have any `suspect illegal state` messages anymore since reindexing all indices that used to trigger those in the past.
I guess you can close this if you like, but my feeling is this issue will pop up again, not necessarily on my account.

[2015-06-11 11:31] pjcardy commented on #2230
+1

[2015-06-11 11:44] srogljan commented on #10146
What about this? :-)
https://github.com/elastic/elasticsearch/pull/11598

[2015-06-11 12:30] yett commented on #11594
@tlrx ,
1. Should I change the PID_DIR value to `/var/run/' or
2. Change  script to create "$PID_DIR" before touch as following?

[code]
I did the approach 2, and it works. I am just curious about the proper way. Thanks!

[2015-06-11 12:36] tlrx commented on #11594
@yett My personal preference goes to `/var/run/elasticsearch/elasticsearch.pid` (approach 2). The thing is to have a consistent, secured way to read/write this file.

[2015-06-11 12:36] javanna commented on #11591
I agree that the name is not the best... not sure I would associate it with json specifically though, given that it allows to wrap binary content in general, which could be json, yaml or smile. Maybe XContentQueryBuilder or something along those lines?

[2015-06-11 12:44] jimmyjones2 opened #11599 "Kibana highlighting issue not fixed?"
New 1.6.0 install with new indices, in Kibana discover searching for "execute":
[code]
I thought this was fixed in #9881 - but for some reason ES is still trying to highlight message.raw which is not_analyzed. The comment in the Kibana issue https://github.com/elastic/kibana/issues/2782#issuecomment-105224019 says that long terms shouldn't get into the index and not_analyzed should be skipped - bu

[2015-06-11 12:51] clintongormley commented on #11599
Thanks for reporting @jimmyjones2

@brwe please can you investigate?

[2015-06-11 13:49] nariman-haghighi commented on #7052
To echo @TwP's sentiment, this is a massively common API that many teams use regularly to delete thousands of documents. Moving this to the client or deprecating it outright would be an utter disaster. A new server-side implementation that preserves the API is the only sensible path, please provide some final guidance on this so we can plan appropriately.

[2015-06-11 13:51] yett commented on #11594
Thanks for the tips. Cheers!

[2015-06-11 14:08] nik9000 commented on #9693
RRDtool style bounds checking is probably the way to go here.

[2015-06-11 14:11] nik9000 commented on #9693
I know I just mentioned RRDtool - but its job is to do this kind of thing. I'm pretty sure whisper will do the job too.

[2015-06-11 14:39] sigpwned commented on #2230
+1

[2015-06-11 14:41] tlrx commented on #7052
@nariman-haghighi you may be interested in #11516 and #11584.

[2015-06-11 15:03] michielkraijkamp opened #11603 "Partial text in Completion Suggester doesn't (immediately) matches with dataset"
Hi. We work on ElasticSearch 1.3.4. and have a very big set of data.

Our completion field is configured as follows:
_suggest_company_by_name: {
max_input_length: 50
preserve_separators: true
payloads: true
analyzer: simple
preserve_position_increments: true
type: completion
}

Example of how we index:
_suggest_company_by_name: {
input: [
Trailburning
]
output: Trailburning
payload: {
company_iden

[2015-06-11 15:10] ls-pluriels opened #11604 "When no parent param is passed, partial update of a child document removes the _parent value"
PUT /myindex/anytype/?routing=rk&parent=daddy
[code]
Everything works fine

PUT /myindex/anytype/?routing=rk
[code]
The _parent field is removed. In a parent-child approach, you lose the link to your parent.
According to the documentation, you should not be able to update the `parent` value. (nor remove it ?)
https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-update.html#_paramet

[2015-06-11 15:20] tlrx commented on #11560
I think we should add escaping to the `filter_path` option. Index names or field names can include dots or comma so we need to handle escaping to filter responses on those names.

[2015-06-11 15:33] MattFriedmanAfilias commented on #11591
Thanks for this. One idea is to create *alias* methods in QueryBuilders such as (or something like)

    QueryBuilders.jsonWrapperQuery(String)
    QueryBuilders.jsonWrapperQuery(bytes)
    QueryBuilders.yamlWrapperQuery(String)
    QueryBuilders.yamlWrapperQuery(bytes)

etc...

These methods would simply forward the input to the target method: `wrapperQuery()` so they would only exist for clarity

[2015-06-11 15:37] djschny commented on #11560
Sorry about the v1.6.0 label. How do we indicate that a particular bug is only for a certain version?

[2015-06-11 15:41] imotov commented on #11557
@Judyccb these are just the errors that indicate that you ran out of disk space while trying to snapshot every index in your cluster. This is the default behavior when the elasticsearch server doesn't receive a list of indices specified in the request and therefore creates a snapshot of all available indices.

[2015-06-11 15:45] javanna commented on #11560
hey @djschny no worries! we use versions to indicate when things get fixed, rather than which versions are affected. We actually have no way at the moment to specify which version is affected by a bug.

[2015-06-11 16:13] Judyccb commented on #11557
Hi Motov,
I ran the snapshot command at 15:57. ES snapshot all available indices from 15:57 to 16:09,then no disk and error message as above. ‘tranpmindex_v1ccbs-2015-05-09’ in each error message is the index I want to snapshot,which proved the ES has received the index name from request but not parsed correctly. Do you agree?
-----------------------------------------------------------------------

[2015-06-11 16:19] imotov commented on #11557
The **tranpmindex_v1ccbs-2015-05-09** in each error message is the name of the snapshot:

curl -XPUT XXXX/_snapshot/indexBackup/**tranpmindex_v1ccbs-2015-05-09**?wait_for_completion=true

which happens to be the same as the name of the index that you intended to snapshot in your case.

[2015-06-11 16:24] clintongormley commented on #11560
Here's a regex that will tokenize properly:

    /(                 # capture either
        (?:
            [^.,\\]    # any character except a comma, period, or backslash
          | \\.        # or a backslash followed by any character
        )+             # repeated as many times as possible
      |
        [.,]           # or either a single comma or period
     )
    /x

So this string: `i

[2015-06-11 16:40] jpountz commented on #9558
Breaking down by field would be complicated since queries may apply to several fields (eg. bool) and other queries don't apply to the field that you think they do (eg. the exists filter which queries the _field_names field instead of the field that documents should have).

Breaking down by query type would be easier but I'm afraid the output could be misleading since we cache the rewritten queries

[2015-06-11 17:44] FestivalBobcats commented on #9693
@nik9000 I admittedly may be missing something, but how would RRDtool fix the issue? To clarify, it's simply an issue of a very long running average -- it would be totally fine if I could do a moving average, calculating the value I need based on a neighboring subset of data points.

But since Elasticsearch stats do not have data points over time (which is clearly understandable), the accuracy/sen

[2015-06-11 18:24] ppf2 commented on #9558
Thanks for the perspective!  When I hear about this requirement in the field, they are often related to figuring out what makes sense to cache so I think this auto cache PR will help (https://github.com/elastic/elasticsearch/pull/8573).  Though some users are also trying to figure out in similar way what makes sense to add to the warmers based on the field accessed in the cache.

[2015-06-11 18:26] seang-es opened #11609 "'elasticsearch' user and group id's should be consistent across multiple nodes"
For filesystem snapshots, if the 'elasticsearch' group and user have differing id numbers between nodes in the system, snapshots will not work.  The master will create subdirectories for each index, but the permissions will reflect ownership by the 'elasticsearch' user on the master.  If the master's elasticsearch user does not match the elasticsearch user id on another node, that node will not be

[2015-06-11 18:32] imotov opened #11611 "Test blob during repository verification should be created in a test subdirectory"
The repository verification process should create a subdirectory to make sure we check permission of newly created directories in case elasticsearch processes on different nodes are running using different uids and creating blobs with incompatible permissions.

[2015-06-11 18:45] jib opened #11612 "ES 1.6 broke installing plugins in uninstalled package"
First, the use case:

To ensure a single, tested, artifact to be installed across the fleet, including all plugins needed, our build process roughly works like this:

* Grab the version of ES as a debian package
* Extract this debian package in a temp dir
* cd into this directory and run: ```bin/plugin install ...```
* go back to the temp dir, and repackage as debian package

The reason for the de

[2015-06-11 18:51] clintongormley commented on #9693
@FestivalBobcats Coming soon, to a search engine near you: https://www.elastic.co/guide/en/elasticsearch/reference/master/search-aggregations-pipeline-movavg-aggregation.html

[2015-06-11 19:30] jerrac commented on #11594
I just upgraded to 1.6 today and ran into this issue. Annoyingly, the /var/run/elasticsearch directory I created before upgrading to 1.6 (in an attempt to avoid this issue on other nodes...) went away after I rebooted (I had non-ES reasons to reboot).

This is on Ubuntu 12.04. I was going from 1.4.5 to 1.6, using the apt repo.

Is there a reason apt doesn't deal with this for us?

[2015-06-11 19:35] #8102 closed

[2015-06-11 21:25] jdconrad commented on #11596
After looking at the code, this can't really be accomplished in the short-term.  Expressions is missing numerous features that are specified in the example here (https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-metrics-scripted-metric-aggregation.html) including if/else blocks (though it does have conditionals), loops, variable assignment, and different types suc

[2015-06-11 21:33] jdconrad commented on #11596
@colings86 Also, would you please provide an example aggregation that you're thinking of doing using expressions?  Thanks!

[2015-06-11 21:49] jdconrad commented on #11596
@colings86 It might be worth looking into what we do with multi-value fields where we allow them have member methods like sum, avg, median, min, and max.  If that could be provided for a single known variable, would that enough for what you're trying to do?

[2015-06-11 22:10] swood opened #11616 "degradation performance bulk insert"
Hello.

I use ElasticSearch for collection applications log. But it's huge logs. I have 17 physical servers and 8 node on each servers. Each servers has 4 disks.
My config looks like this:

[code]

Each node has using own path on all disks.
For insert of data I used to Logstash. For transport data from my servers to Logstash I used to logstash_forwarder with spool-size=512.

When cluster has not m

[2015-06-12 02:19] FestivalBobcats commented on #9693
@clintongormley super cool feature -- looking forward to it.

However (apologies for being a nuisance), even with a moving average, if the time-series data point I'm collecting from `/_nodes/stats?indices` is `average_query_ms` (or really `average_anything`), it's calculated from two (potentially *huge*) running totals -- some total amount of time (`query_time_in_millis`) and some total (`query_to

[2015-06-12 05:32] areek commented on #10952
We could expose this as a `_list_stores` or `_list_shard_stores` API and have a query parameter to pass in the shard routing states to filter out shards. By default, it will only report for the shards that are `unassigned`.
[code]
Thoughts?

[2015-06-12 05:35] Judyccb commented on #11557
Hi Motov,
I reproduced the problem in our test environment.If I input the command as follow,
curl -XPUT XXXX/_snapshot/indexBackup/tranpmindex_v1ccbs-2015-05-09wait_for_completion=true
- d '{"indices":"tranpmindex_v1ccb-2015-05-09","include_global_state":"false"}'
In SecureCRT, when "- d '{"indices":"tranpmindex_v1ccb-2015-05-09","include_global_state":"false"}'"  appears on the second line, then

[2015-06-12 06:59] bleskes commented on #10952
I hear you see and see the distinction but I think it's OK to call this corruption (index is gone, is it distinguishable from a missing segment_n file?). All I was going at is that we need another name then a generic exception because currrently it's confusing - it's hard to telll if the operation has failed (ES/API exception) or the shard is bad (and I know we are adding a `failures` section, I t

[2015-06-12 08:08] johtani commented on #11076
Hi @comdiv ,

We discussed about this few weeks ago and we decided to move my plugin function to _analyze API.
I reopen this issue and I will make PR soon.
If you have any idea, please let me know on my PR.

[2015-06-12 08:32] #11029 closed

[2015-06-12 08:34] colings86 commented on #10427
@clintongormley I need to check. I'll update this issue when I have tested

[2015-06-12 09:00] colings86 commented on #10427
WIth the new script API updates, the error messages are a lot better when old parameters are passed in. Closing this issue, but feel free to open issues for specific scriptable APIs if necessary

[2015-06-12 09:00] #10427 closed

[2015-06-12 09:28] clintongormley commented on #11591
XContentQueryBuilder is probably no more meaningful than WrapperQuery.  The aliases imply that eg they would convert JSON or YAML into the right format for including in a query, where really this method just injects the raw string...

Probably the best solution is to just document the query builder here: https://www.elastic.co/guide/en/elasticsearch/client/java-api/current/query-dsl-queries.html

[2015-06-12 09:30] clintongormley commented on #11560
Probably need to support `+` and `-` as well

[2015-06-12 09:34] clintongormley commented on #11560
Related to https://github.com/elastic/elasticsearch/issues/11334

[2015-06-12 09:40] clintongormley commented on #11560
In order to handle escaped wildcards, we either need a state machine, or to reuse Lucene's automaton (which creates a lot of objects).  Perhaps we just don't allow escaped wildcards, in which case we can use the simple pattern matching that we have today.

[2015-06-12 09:48] clintongormley commented on #11334
Discussing this some more: changing the index pattern matching would be problematic, eg you'd have to escape the . in `.marvel` etc.  Probably not worth making this change everywhere.

[2015-06-12 09:53] clintongormley commented on #11548
To be clear, this is about setting the default number of shards in a new index, which currently is only settable in the config. You can already do this using index templates.

What we should actually do is remove this setting from the config.

[2015-06-12 09:55] clintongormley commented on #11526
@smorovic have you managed to confirm whether this is the futex bug yet?

[2015-06-12 10:18] smorovic commented on #11526
Hi,
We suffer from exactly the same symptoms as described here, so apparently it is a futex bug (we will however update out machines with a new kernel next week). I'll close it. Thanks!

[2015-06-12 10:18] #11526 closed

[2015-06-12 11:34] hendrikdonvil opened #11620 "ExpressionScriptEngineService not available when running embedded"
When running Elasticsearch embedded in Java, I cannot use scripts of language 'expression'. I'm getting these errors:
script_score the script could not be loaded]; nested: ElasticsearchIllegalArgumentException[script_lang not supported [expression]];
Debugging shows that the ExpressionScriptEngineService is not injected into the ScriptEngine.

Running the exact same query on a standalone elasticse

[2015-06-12 11:43] s1monw commented on #11620
the expression lib is marked as `optional` in the pom

[code]
if you pull it in manually does this fix it?

[2015-06-12 12:02] hendrikdonvil commented on #11620
This fixes it! Thanks a lot!

Just a little annoying that we have to keep this version in sync with the version elasticsearch uses, if we upgrade in the future, but that's not that big a deal.

[2015-06-12 12:08] Xylakant opened #11623 "Plugin install broken in 1.6 when using JMX remote"
Since #10721, the plugin script uses the system wide defaults file and thus inherits all JAVA_OPTIONS for the server process. We're using JMX to monitor our JVM with a remote port set. Since the plugin script uses the same defaults file it uses the same port and fails spectacularly since the port is already in use by the running ES process.

[2015-06-12 12:20] Xylakant commented on #11623
There are more entries in the defaults file which the plugin install script should not inherit:

* ES_GC_LOGGING
* ES_HEAP_SIZE
* ulimits

etc.

[2015-06-12 12:22] s1monw commented on #11620
cool thanks

[2015-06-12 12:22] #11620 closed

[2015-06-12 13:22] salyh opened #11627 "Allow deletion of dynamic_templates"
Currently is not possible to delete a dynamic template once added to a type mapping.
The below outlined patch would introduce this functionality.

To not break backward compatibility maybe adding a dedicated switch to enable this functionality would be useful.<pre>PUT /testindex/_mapping/testtype?allow_dynamic_template_deletion=true</pre>

[code]

I'am happy to prepare a PR for that.

[2015-06-12 13:37] kimchy commented on #10971
I like this plan, at query time, I am leaning towards supporting the special format of `epoch_ms:12345`, its simpler to integrate and makes Kibana life simpler to provide it (for example).

[2015-06-12 13:42] clintongormley commented on #11552
It definitely sounds like the parsing should be done in java land.  I like the idea of being able to configure the heap size in the config file, but would be interested to hear what @rmuir thinks about this approach.

[2015-06-12 13:50] clintongormley commented on #11555
Hi @vineet85

You've uploaded half a recreation which is missing a bunch of stuff.  I can't tell where the problem is without a working example. Please could you update.

[2015-06-12 13:54] clintongormley commented on #11476
@yehosef broken JSON can well end up with bad results.  Our JSON parser is too lenient (fixed in 2.0) so only part of the JSON document might have been indexed.  It'd be worth comparing doc counts for the buckets with funny averages with buckets with good averages.

[2015-06-12 13:58] rmuir commented on #11552
I like the testability aspect, but keep in mind that executing processes from java has its own set of different problems. For example instead of whitespace being a problem, then it will be non-ascii paths from processbuilder (maybe only on windows) or whatever.

As far as bootstrap, personally i would prefer if "forking" was somewhere else. Or rather if we call this part bootstrap then if the curr

[2015-06-12 14:04] clintongormley commented on #11564
@jaymode please could you take a look

[2015-06-12 14:13] clintongormley commented on #11569
And `node.cache.query.size` given that it is node level?

[2015-06-12 14:27] bleskes commented on #11569
we typically prefix the node level index related settings with `indices`. I like the cache prefix as well.

How about `indices.cache.shard_requests.*` (using adrien’s naming of `shard request cache`)?

[2015-06-12 14:43] vedil commented on #11506
i have made a pull request for fixing this, do i have to do any thing more? is the pull request fine?

[2015-06-12 15:05] clintongormley commented on #11578
Duplicate of #5306

[2015-06-12 15:05] #11578 closed

[2015-06-12 15:06] clintongormley commented on #11579
I'm afraid I don't understand what you're asking. You want to expand on your question, perhaps with JSON examples?

[2015-06-12 15:22] jdconrad commented on #11596
Just spoke with @colings86 -- My apologies for the misunderstanding, the goal is simply to be able to calculate numeric expressions through an executable script instead of a search script.  I believe this can be done now for the 2.0 beta.  I will always assume that the Objects in the map of vars passed in as <String, Object> will be doubles.

[2015-06-12 15:32] ajhalani commented on #9972
As a temporary workaround, we are now checking for 503 error, and retry again in 3-4 seconds.

[2015-06-12 15:35] clintongormley commented on #11593
Hi @rholloway

I think this is at least worth discussing.  Reopening

[2015-06-12 15:40] markharwood opened #11631 "Documentation: Search template docs use outdated syntax"
The search syntax for pre-registered templates describes the deprecated syntax and not the new one: https://www.elastic.co/guide/en/elasticsearch/reference/current/search-template.html#pre-registered-templates

The template name should now be passed in a root-level `file` parameter and the docs describe the old syntax where it is nested under a `template` parameter.

[2015-06-12 15:42] GlenRSmith commented on #11594
On my Ubuntu 14.04 instance, there is, in fact a /usr/lib/tmpfiles.d/elasticsearch.conf:
d    /var/run/elasticsearch   0755 root root - -
This doesn't seem to get handled. In fact, I have other tmpfile entries that don't seem to be processed.

[2015-06-12 15:56] imotov commented on #11557
@Judyccb I think the main use case is making a backup of the entire cluster with all indices at the same time. We are trying to make this use case as simple as possible hence the default behavior. This is also consistent with other APIs in elasticsearch - for example if you don't specify any search request, it will perform search of all indices.

[2015-06-12 15:59] Judyccb opened #11633 "snapshot restore "failed to parse repository source""
![image](https://cloud.githubusercontent.com/assets/12627595/8133988/55656c0a-115e-11e5-8338-4dd92a4f7fba.png)
I want to revise the parameter "shard_per_node"
My ES　version is 1.4.4.I copied the eg from es.co.Because of my version?

[2015-06-12 16:01] clintongormley commented on #10952
I don't like including `_list` because that's implied with the GET. We have a `_search_shards` end point.  I'm wondering if this should just be:

    GET {index}/_shards

The `state` filter should use `unassigned`, `relocating`, `started` etc, rather than `_unassigned`, and it should accept a comma-separated list.

I think the default should actually be `all`, instead of `unassigned`. Of course th

[2015-06-12 16:15] clintongormley commented on #9212
It sounds like we've arrived at the root cause of this problem, so I'm going to close the issue.  If anybody disagrees, ping me to reopen.

[2015-06-12 16:16] clintongormley commented on #4847
@pjcardy want to send a pull request?

[2015-06-12 16:17] clintongormley commented on #11395
thanks for letting us know @faxm0dem - closing for now

[2015-06-12 16:17] #11395 closed

[2015-06-12 16:20] Judyccb commented on #11557
Hi Motov,
I tested the command using SecureCRT and XShell, the problem appeared all.I doubt the CURL command a little.What do you think? How to avoid this?
Besides that, I open a new issue about restore,#11633,expected your response.
Thanks!!

[2015-06-12 16:21] ejain commented on #4847
For a facet that supports decimal intervals (and offsets), see https://github.com/zenobase/decimal-histogram-facet. I'd be happy to update it to use aggregations and contribute it to elasticsearch.

[2015-06-12 16:27] clintongormley commented on #11603
Hi @michielkraijkamp

You're using fuzzy matching, so it produces a lot more matches.  I think, in the new suggester that we're implementing, that we can possibly favour exact matches over fuzzy matches.  @areek is that possible?

[2015-06-12 16:28] imotov commented on #11557
@Judyccb we trying to use github for bug reports and enhancement requests. I think a much better place to ask for help with using the curl command would be our discussion forum https://discuss.elastic.co/. Since what you are describing doesn't seem to be an elasticsearch bug, I am going to close this issue. Let's continue on our discussion forum.

[2015-06-12 16:28] #11557 closed

[2015-06-12 16:30] clintongormley commented on #11604
@ls-pluriels you linked to the update API docs, but you're not using `_update`, you're reindexing the document completely (which deletes the old doc and adds the new)

[2015-06-12 16:30] #11604 closed

[2015-06-12 16:34] imotov commented on #11633
The ability to change index settings during restore was added in 1.5.0. It's not available in the version of elasticsearch that you are using.

[2015-06-12 16:34] #11633 closed

[2015-06-12 16:41] clintongormley commented on #9558
I think that if the shard is node level, then the stats should also be node level, especially if implementing them at shard level involves lots of hackery.

@ppf2 regarding warmers - I think we can do a better job there: we should be auto-warming the N most popular and expensive filters, or something like that.  Warmers have pretty much been replaced by field level options like `eager_global_ordin

[2015-06-12 16:45] ppf2 commented on #9558
@clintongormley Agreed :+1:

[2015-06-12 16:55] clintongormley commented on #11616
Hi @swood

The right place to ask questions like these is in the forum: https://discuss.elastic.co/

thanks

[2015-06-12 16:55] #11616 closed

[2015-06-12 16:59] clintongormley commented on #9693
@FestivalBobcats we don't provide `average_query_ms` or similar, only totals, so for any periodic monitoring this shouldn't be an issue, no?

[2015-06-12 17:07] FestivalBobcats commented on #9693
@clintongormley yes, the `average_query_ms` is a calculation on my end.

The problem, in the simplest way I can verbalize, is that those totals become basically worthless after a significant volume of requests.

Yes, I could (and am currently doing so) store those values like `query_total` periodically, and then calculate the difference between those totals at each interval.

So, at either the poi

[2015-06-12 17:13] clintongormley commented on #11506
thanks for the pr @vedil - i've marked it for review. somebody should get to it shortly

[2015-06-12 17:29] areek commented on #10952
[code]
The state filter should use unassigned, relocating, started etc, rather than _unassigned, and it should accept a comma-separated list.
I think the default should actually be all, instead of unassigned. Of course the response should include the shard state.

IMO it makes the purpose of the API clear. Locate all shards and their state meta-data for some index/indices.
The response format can

[2015-06-12 17:30] gmarz opened #11638 "Include global parameters in the REST spec"
Currently, global parameters like `source` and `filter_path` aren't included in the spec since it's implied that they exist on all APIs, and so defining them on all endpoints becomes unnecessarily repetitive/redundant.

However, I think it's useful to keep a definition of them somewhere other than the [documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/common-options.ht

[2015-06-12 17:37] clintongormley commented on #4847
@ejain thanks for the offer. I don't know whether or not there is some missing infrastructure that would prevent this happening.  @jpountz what do you think?

[2015-06-12 17:45] alainperry commented on #10590
@clintongormley I'm on 1.5.2 with the same problem, and the exists filter is affected as well. Which means that this workaround does not work either.

[2015-06-12 17:47] dling commented on #10590
Was the fix included in 1.6.0?

[2015-06-12 17:58] clintongormley commented on #9693
@FestivalBobcats Don't forget I was the one who opened this issue in the first place :)  My reason for wanting it was a JS diagnostics plugin that just produced a snapshot of the current state (and yes the calculated averages etc) become less meaningful the longer the system is up.

Like you I ended up just keeping the first set of stats around in the browser and using them to calculate a delta.

[2015-06-12 18:01] clintongormley commented on #10952
lgtm

Nodes and indices are two ways of looking at the same data.  eg we have indices stats, and we have nodes-indices stats (which show index stats per node).  But agreed that it is a nice to have, most of the time we're interested in viewing this data by index.

[2015-06-12 18:02] s1monw commented on #10590
@dling yes I will add the label

[2015-06-12 18:04] clintongormley commented on #11638
+1

[2015-06-12 18:10] pierpaolocira opened #11639 "Unable to install plugin in several paths"
I would like to launch elasticsearch 1.6 on demand (not as service) inside a folder like

    /Users/me/Documents/99. Project/my_shared/tools/elasticsearch-1.6.0

(Please, note DOT+WHITESPACE after 99 in the fourth level of the path)

ElasticSearch works fine, but there is a problem if I go inside bin folder to install a plugin; for example:

    ./plugin -install mobz/elasticsearch-head

The enlg

[2015-06-12 18:30] alainperry commented on #10590
My "missing" filter works again. Thank you.

[2015-06-12 18:48] clintongormley commented on #10590
thanks for letting us know @alainperry

[2015-06-12 18:56] faxm0dem commented on #9212
Not really: @wilb had an unrelated issue

[2015-06-12 18:57] faxm0dem commented on #9212
Ping @clintongormley

[2015-06-12 18:58] vineelyalamarthy commented on #11571
Can I work on this bug, How to get started ?

[2015-06-12 19:07] clintongormley commented on #9212
@faxm0dem is the issue not to do with the "scatter-gather" bug?  @wilb had an unrelated issue, which he has resolved. What else is left here?

[2015-06-12 19:08] clintongormley commented on #11571
@vineelyalamarthy of course - go for it.  See https://github.com/elastic/elasticsearch/blob/master/CONTRIBUTING.md

[2015-06-12 19:14] vineelyalamarthy commented on #11571
@clintongormley  Thank you so much, may be will ask you, if I have  some questions. Actually, I plan to start few easy ones(Low Hanging Fruit labelled ones), then get some familiarity with it and then get into core ones.

[2015-06-12 19:47] faxm0dem commented on #9212
Nope, no kernel messages pointing Into that Direction. It's definitely something that happened between the Linux Version I mentioned somewhere above

[2015-06-12 19:48] clintongormley commented on #9212
OK, reopening

[2015-06-12 19:49] peschlowp commented on #11627
How about this alternate approach which doesn't require a flag and seems more natural to me: Deleting a dynamic template can be done by setting the name of the template to delete to {} when updating the mapping. At least that's what I intuitively tried when looking for this functionality.

[code]

[2015-06-13 04:02] pickypg opened #11645 "Per Shard Optimize API"
Currently, the `_optimize` API exists to optimize an entire index by merging segments in the background. In general, it's key to merge all segments to 1 (`max_num_segments=1`). However, if you have a very high workload, then it can be a very slow and expensive operation. Worse, optimizing an index that has replicas requires that both the primary and replica(s) be optimized separately.

It would be

[2015-06-13 09:16] dadoonet opened #11647 "[build] include in plugins only needed jars"
Follow up for https://github.com/elastic/elasticsearch-analysis-kuromoji/issues/61

We don't shade anymore elasticsearch dependencies, so plugins might include jars in the distribution ZIP file which might not be needed anymore.

For example, `elasticsearch-cloud-aws` comes with:

[code]

A lot of those files are already distributed with elasticsearch itself so classes are available within the cla

[2015-06-13 09:19] dadoonet commented on #11647
Adding here an interesting article about building artifacts with assembly plugin http://books.sonatype.com/mvnref-book/reference/assemblies-sect-controlling-contents.html

[2015-06-13 09:22] clintongormley commented on #11627
@peschlowp I like this much more - nice.

[2015-06-13 09:46] salyh commented on #11627
Agreed

[2015-06-13 10:40] rmuir commented on #11645
I don't think we should overengineer optimize in this way.

Maybe it is slow/cumbersome in lucene 4.x but time to start looking at lucene 5, its been out for a long time.

[2015-06-13 11:02] celesteking opened #11648 "script debugging"
Currently, it's impossible to debug scripts in ES. I see no user-end documentation on that.

Can we get tools created for those who use something more complex than "2+2" one-line scripts?

[2015-06-13 12:13] clintongormley commented on #11648
The groovy console is a great tool for debugging groovy scripts: http://www.groovy-lang.org/groovyconsole.html

Any suggestions for what you'd like to see?

[2015-06-13 12:28] celesteking commented on #11648
How do I load ES environment in groovy console? ctx and all that.

I'd like to have at least println() immlemented/documented or something that would aid with debugging a complex script.

[2015-06-13 12:33] uschindler commented on #11594
Same issue here. I fixed this by putting `PID_DIR="/var/run"` into `/etc/default/elasticsearch`.
In my opinion, on Ubuntu/Debian all pid files are directly in this folder, so PID_DIR by default should just be `/var/run`

[2015-06-13 12:53] nik9000 commented on #11648
Inject a logger into the script context?
On Jun 13, 2015 8:28 AM, "celesteking" <notifications@github.com> wrote:

[2015-06-13 13:15] DASAR commented on #11594
Please fix this issue in official Elasticsearch repository (ppa) for Ubuntu.

[2015-06-13 14:14] rmuir commented on #11647
thats why i say, list *exactly* what we are putting in our zips. no stupid maven transient dependencies: it does not work here anyway!!!!

And for things like tracking licensing, knowing exactly what is going into the zips is a must-have anyway.

[2015-06-13 19:01] yehosef commented on #11476
It's hard for me to think that's the problem. There would have been one broken record per day (the last one) and even if it's broken how could that affect a computed field?  Whatever bad value there was would have been doubled.  And how would it only affect avg but not sum?

But I'll investigated further and check with other data sources.

[2015-06-14 00:03] FestivalBobcats commented on #9693
@clintongormley haha, sorry to hijack the spotlight. Like you, I'm still all for a reset stats feature. For the time being though, caching the running totals at each interval (to subtract from the values next interval) has worked well, and wasn't as hard as I thought.

[2015-06-14 09:13] dopesong opened #11650 "Number fields"
I found this explanation about my issue:

http://elasticsearch-users.115913.n3.nabble.com/Number-Format-Exception-td1474946.html

So is this going to change? Because why one type field is realted to another?

[2015-06-14 11:40] GlenRSmith commented on #11594
@uschindler Can you elaborate on "on Ubuntu/Debian all pid files are directly in this folder"? On my Ubuntu 14.04 LTS install with only Elasticsearch as an additional install, I've got a number of services whose PID files are in their on subdirectories in /var/run (CUPS, for example).

[2015-06-14 11:55] marcelog commented on #11439
Just wanted to report that we upgraded (not in a rolling upgrade, but shutting down the cluster) to ES 1.5.2 and Java 7u80 and everything went smoothly. Thanks again for your time and help.

Cheers.

[2015-06-14 14:21] clintongormley commented on #11476
OK. I've indexed 100,000 documents with a timestamp and a number, and repeated your experiment.  The avg and sum lines are exactly equal. Then I added 10,000 documents with just a timestamp.  The sum line remains flat and the avg line shows differences.  So the difference that you are seeing is a result of your broken JSON, where some documents are missing values for this field (but the doc count

[2015-06-14 14:21] #11476 closed

[2015-06-14 15:25] proegssilb opened #11651 ""plugin" script not named in a linux-friendly manner"
I'd like to see the script named "es-plugin" or something similar so that it doesn't overlap with other programs that also have a plugin system (like LogStash, who also has a script named "plugin").

This would be particularly useful for the RPMs which, if I understand what's going on correctly, install "plugin" to /usr/share/bin.

I can submit a pull request if that helps speed things up.

[2015-06-14 15:27] yehosef commented on #11476
thanks for looking into this - interesting.

[2015-06-14 19:11] jepettoruti commented on #10224
Is there any official word of when this will be fixed? Is it for ES 2.x or would it come in some previous release?
@schlosna I don't think we have the resources to help with the development of a fork, but happy to test it.

[2015-06-14 20:15] vineet85 opened #11652 "Script_File support for NEST"
Hi,

ElasticSearch supports referencing a script which is stored in a file. Eg:-
GET /_search
{
    "script_fields": {
        "my_field": {
            "script_file": "my_script",
            "params": {
              "my_var": 2
            }
        }
    }
}

However the .NET NEST client does not have any support for this yet. Is this going to be added soon?

https://github.com/elastic/elastic

[2015-06-14 20:17] clintongormley commented on #11650
Hi @dopesong

No it isn't going to change. In fact we're getting stricter about enforcing this restriction.  See https://github.com/elastic/elasticsearch/issues/8870

A blog post will be coming soon to explain the problems, and the changes we've made to resolve them.

[2015-06-14 20:17] #11650 closed

[2015-06-14 20:18] clintongormley commented on #11439
thanks for letting us know @marcelog

[2015-06-14 20:22] clintongormley commented on #11652
This issue was moved to elastic/elasticsearch-net#1456

[2015-06-14 20:22] #11652 closed

[2015-06-14 20:52] vineet85 commented on #11555
Sorry - here is the complete mapping and steps to re-create:-

Mapping:-
{
  "settings": {
    "index": {
      "number_of_replicas": 1,
      "number_of_shards": 5,
      "analysis": {
        "analyzer": {
          "customfieldvalue": {
            "tokenizer": "whitespace",
            "filter": [
              "lowercase"
            ],
            "type": "custom"
          },
          "cus

[2015-06-14 22:05] uschindler commented on #11594
Daemons generally only create a sub-dir if they create more than just a PID as run file. But generally, the pid file should be placed in /var/run and have ending ".pid".

I have to first lookup the packaging rules in Debian, but there is something about that in it!

[2015-06-15 03:57] nithyanv opened #11654 "Shards in newly created dummy indices are not allocating"
Hi,

I created an index using command
curl -XPUT http://135.250.193.206:9200/some-index

It doesn't get allocated. We are unable to insert data as it throws UnavailableShardsException

I have tried to set the allocation using the below command but the issue persists.

curl -XPUT 'localhost:9200/_cluster/settings' -d '{
    "transient" : {
        "cluster.routing.allocation.enable" : "all"
    }
}

[2015-06-15 04:16] markwalkom commented on #11654
Do you have enough disk space? Have you checked your ES logs?

However please join us in #elasticsearch on Freenode or at https://discuss.elastic.co/ for troubleshooting help, we reserve Github for confirmed bugs and feature requests :)

[2015-06-15 04:17] nithyanv commented on #11654
Hi,

I have 78% diskspace.

curl -XGET 'http://localhost:9200/_cluster/health?pretty=true'
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   277  100   277    0     0   8656      0 --:--:-- --:--:-- --:--:-- 17312
{
  "cluster_name" : "devteam",
  "status" : "red",
  "timed_out" : fals

[2015-06-15 04:26] markwalkom opened #11655 "Groovy docs link is bad"
We're pointing to http://groovy.codehaus.org/ when it should be http://groovy-lang.org/

[2015-06-15 04:33] markwalkom opened #11657 "Log cluster health state (green/yellow/red) change"
If we go from one state to another we should explicitly log this.

If not at info/warn, even though that'd be *super dooper handy*, at least at trace/debug.

[2015-06-15 06:36] jpountz commented on #10224
Making this cache bounded is a bit trappy because then even very simple queries that match few documents might need to scan the entire index to load these bit sets that we use for nested queries/sorting.

Like @martijnvg said, this situation will improve a lot in 2.0 thanks to #9199. However I don't think we can do anything in 1.x.

[2015-06-15 06:36] #10224 closed

[2015-06-15 07:17] s1monw commented on #11654
please use the discuss list for those kind of questions as @markwalkom  suggested

[2015-06-15 07:17] #11654 closed

[2015-06-15 07:19] javanna commented on #11638
+1

[2015-06-15 07:28] pjcardy commented on #4847
@clintongormley That's a good point, sorry I should have done that in the first place. Please see above.

[2015-06-15 07:50] jpountz commented on #4847
@clintongormley I don't think there's anything missing. I think the two main challenges will be to make sure it works fine with pipeline aggregations and that empty bucket generation (`min_doc_count:0`) also works fine if there are floating-point rounding errors.

[2015-06-15 08:13] jpountz commented on #11569
@bleskes That works for me, but the issue here is not the new name of the request cache, but the new name of the query cache (formerly known as filter cache) so that it would be different from the previous name of the request cache.

[2015-06-15 08:13] colings86 commented on #11631
The link references 1.6 branch. These changes were made in master only (v2.0). The following link (the master version of the same doc) looks to have correct syntax already:

https://www.elastic.co/guide/en/elasticsearch/reference/master/search-template.html#pre-registered-templates

[2015-06-15 08:13] #11631 closed

[2015-06-15 08:16] clintongormley commented on #4847
@ejain you've heard [the man](https://github.com/elastic/elasticsearch/issues/4847#issuecomment-111970019) :)  A PR for decimal support in aggs wouldl be greatly appreciated

[2015-06-15 08:22] colings86 commented on #10810
@markharwood this should have been fixed in https://github.com/elastic/elasticsearch/pull/11164. You might need to test to confirm though

[2015-06-15 08:25] clintongormley commented on #11555
Thanks @vineet85 - You're making a number of mistakes here, but none of them point to bugs in Elasticsearch. A better place to ask this question is in the forum: http://discuss.elastic.co/

thanks

[2015-06-15 08:25] #11555 closed

[2015-06-15 08:26] colings86 commented on #10011
This was fixed in https://github.com/elastic/elasticsearch/pull/11164. All script APIs in 2.0 have the same request syntax and can specify type, language and parameters

[2015-06-15 08:26] #10011 closed

[2015-06-15 08:32] michielkraijkamp commented on #11603
Thanks for your quick reply @clintongormley

It looks kind of fuzzy indeed :-) Showing suggestions if your partial text doesn't match data isn't so wrong, but if you look for something particular it is difficult if it's there but you need a workaround to find it.

[2015-06-15 09:13] clintongormley commented on #11657
We do already, as DEBUG:

    [2015-06-15 11:13:16,339][DEBUG][cluster.service          ] [Gladiator] set local cluster state to version 10

[2015-06-15 09:17] LiangAllen opened #11663 "elasticsearch shield"
shield‘s price? License expiration

[2015-06-15 09:17] bleskes commented on #11657
few more handy tips:

debug logging also gives you the reason for the change - we try to give it good names. He it says it got a new cluster state from the master.

[code]

if you set the logging level of `cluster.service` to `TRACE`  you will get the complete cluster state with every change. Note though that it can be huge and so use with care.

[2015-06-15 09:41] jpountz commented on #9098
Fixed through https://github.com/elastic/elasticsearch/pull/9544

[2015-06-15 09:41] #9098 closed

[2015-06-15 09:43] clintongormley commented on #11663
Hi @LiangAllen

Please contact sales@elastic.co

[2015-06-15 09:43] #11663 closed

[2015-06-15 09:49] brwe opened #11665 "Concurrent deletion of indices and master failure can cause indices to be reimported"
Currently, a data node deletes indices by evaluating the cluster state. If a new cluster state comes in it is compared to the last known cluster state, and if the new state does not contain an index that the node has in its last cluster state, then this index is deleted.

This could cause data to be deleted if the data folder of all master nodes was lost (#8823):

All master nodes of a cluster go

[2015-06-15 10:00] clintongormley commented on #11665
@brwe what about making the delete index request wait for responses from the data nodes? then the request can report success/failure?

[2015-06-15 11:09] dadoonet commented on #11647
I found a configuration for analysis plugins which does what we expect.

src/main/assembly/plugins.xml

[code]

Test script:

[code]

It gives:

[code]

What I like with this approach is that we can share the same configuration file accros multiple plugins (may be all of them).

When running that on other plugins (with same assembly descriptor), I get:

[code]

Finding the dependencies to include/

[2015-06-15 11:11] dadoonet commented on #11647
Ha. I forgot to say that it works well for analysis plugins because I added in `plugins/pom.xml`:

[code]

[2015-06-15 11:17] dadoonet commented on #11647
And here is the result for lang plugins:

[code]

[2015-06-15 11:32] dadoonet commented on #11647
By explicitly marking elasticsearch core dependencies as provided, it reduced the number of libs of cloud plugins. We now have:

[code]

aws: 13 -> 11
azure: 27 -> 24
gce: 13 -> 12

[2015-06-15 11:37] litalk opened #11667 "Problem with highlighting"
##### Hi Guys,
I am using **elasticsearch 1.6.0** and having issues with highlighting.
When I use the following query:
[code]

I get in the highlight response fields that I have not queried specifically about.
My query was: attachment:Y
and I got:
[code]

Which is not the behavior I want...
I can't set `require_field_match=true` because I also want to query for free text without specifying any fie

[2015-06-15 11:39] rmuir commented on #11647
I think maven's transitive dependency mechanism is *broken* here either way.

The way i see it, there are two choices:
1 manually maintain list of all transitive dependencies for elasticsearch/lucene/anything else ES brings in
2 manually maintain list of all dependencies for each plugin.

Given those two choices, I argue that 2 is easier than 1. It is also easier to reason about: you specify exact

[2015-06-15 11:39] bleskes commented on #11665
@clintongormley the delete index API does wait for data nodes to confirm the deletion. The above scenario will trigger the call to time out (it waits for an ack from the data node that will not come). If people then check the CS, they will see that the index was deleted. However, at a later stage, once the data rejoins the cluster and the new master, the index will be reimported.

[2015-06-15 11:43] clintongormley commented on #11665
Ok understood.  +1

[2015-06-15 12:18] MaartenBo commented on #5359
+1

[2015-06-15 12:31] drewdahlke commented on #10224
@jpountz If I recall doc values were added b/c un-inverting the index into field data cache on demand was expensive. It sounds like building the bitsets on demand are in the same boat, so wouldn't it make sense to persist them to disk as well? Putting a bounded cache on something disk backed would make it less trappy and allow people to take the performance hit on indexing/merging rather than heap

[2015-06-15 13:04] markharwood commented on #10810
Just tried it and it works. Thanks @colings86

[2015-06-15 13:04] #10810 closed

[2015-06-15 13:22] hydrogen18 opened #11671 "NullPointerException when using bulk import"
While using the bulk import, I got an error message of `NullPointerException[null]`

From the logs:

[code]

Running 1.4.2 locally on Ubuntu 14.04 LTS

[code]

[2015-06-15 13:34] tekwiz commented on #8486
+1 Aside from the other use-cases mentioned here, this feature would give the Kibana product some major strength, particularly for rapid prototyping.

[2015-06-15 14:09] bleskes commented on #11569
@jpountz yeah, I got confused. The important part for me was to point out the usage of "indices." as node level settings which related to indices.

As far as the name collision goes - I wonder how many people use the current query cache (i.e. shard requests caching) and thus how bad it would be to make a breaking change and change the semantics of that settings.

Another alternative, which I'm on

[2015-06-15 14:09] Volune opened #11672 "NullPointerException indexing percolator query with "inner_hits""
With ElasticSearch 1.5.2

I have a mapping with a nested object and try to index a percolator query like this:
[code]

That produces this exception:
[code]

I can index the query if I remove the useless "inner_hits" field. Maybe Elasticsearch should return a better error than `NullPointerException`

[2015-06-15 14:25] rhycce opened #11673 "Master receives anonymous cluster-shutdown request"
I have a 1-master, 7-slave elasticsearch setup on amazon ec2. Recently the ec2 instance on which the master node was hosted failed and all applications were shutdown. It has since been restarted and its stable, but this failure has somehow affected the master node. Each time elasticsearch is started on the master node, it receives an anonymous shutdown request and proceeds to shutdown. There is no

[2015-06-15 14:29] markharwood commented on #11442
Closing this - the rewrite operation is an integral part of the design of the plain highlighter (or at least the WeightedSpanTermExtractor that is used to implement "best fragment" decisions). While suitable for some use cases it is inappropriate for use cases where many small fields are being highlighted in large numbers of documents.
The Experimental highlighter plugin Nik linked to looks very p

[2015-06-15 14:45] tlrx commented on #11594
Sorry for the annoyance. I pushed a fix in #11674, it basically creates & chown the PID_DIR in init.d scripts and had been tested on Ubuntu 12.04, 14.04, Debian 7.8, CentOS6.6 and few others.

The Debian Guidelines are pretty open concerning PID files as long as it is stored in `/var/run` (source: https://www.debian.org/doc/packaging-manuals/fhs/fhs-2.3.txt):

one run-time file.

For defaults, we'

[2015-06-15 15:05] jpountz commented on #10224
@drewdahlke Totally agreed, we shouldn't have to load all this information about the nested structure in memory. It should reside on disk and we should read from there directly.

[2015-06-15 15:26] arbourd commented on #11594
@tlrx Thanks for your work on this. :)

[2015-06-15 15:30] dakrone commented on #11671
@hydrogen18 can you give us an example bulk request that is causing the null pointer exception?

[2015-06-15 15:34] bleskes commented on #10952
My concern with just shards is that it's not clear we're going to disk and reporting what we found. It has nothing to do with the current state of shards as far as the cluster is concerned (at list as implemented now) - we don't care if shards are relocating, available for search etc. We need a name the reflect this (or change the API to do more in the future). Maybe something like

[code]

That s

[2015-06-15 15:37] dakrone commented on #11655
Closed in #11656

[2015-06-15 15:37] #11655 closed

[2015-06-15 16:08] nemonster opened #11679 "Tribe node binding to incorrect interface after upgrade to 1.5.2"
Current configuration consists of 2 tribe nodes connecting to 3 clusters, with each cluster containing 3 data nodes and a dedicated client instance.  One tribe node connects to clusters 1-2, and one
connects to clusters 1-3.

 All the client nodes and Tribe nodes run on the same server..  This server has 2 network
interfaces, one is a public interface, the other is on a private interface on bond0.

[2015-06-15 16:19] uschindler commented on #11594
@tlrx Thanks. Patch looks good.

In any case the packaging manuals already say what I mentioned in my first post:

was booted. Files under this directory must be cleared (removed or truncated as
appropriate) at the beginning of the boot process. Programs may have a
subdirectory of /var/run; this is encouraged for programs that use more than
one run-time file. [42] Process identifier (PID) files, w

[2015-06-15 16:33] scampi opened #11680 "QueryParsingException with a geo bounding box query on a non-existant field"
I have an index with the document below for example:

[code]

Executing the following query returns no hit; as expected, since the field `countrycode` is not part of the index.

[code]

However, If I add a `geo_bounding_box` filter, a `QueryParsingException[[myindex] failed to find geo_point field [Location]]` is thrown. The field `Location` is indexed with the type `geo_point` and the option `geo

[2015-06-15 16:40] mimiyan opened #11681 "Tried to recover failed shards of index endlessly"
I saw other users reported the same issue at  https://github.com/elastic/elasticsearch/issues/2598 and the developers suggested to create a new issue for this.,  but I did not find a new ticket is created.  So I created this one.

When a shard of index fails during recovery,  ElasticSearch  keeps to recover the same shard every 10 seconds.   It would be nice for users to configure the number of ti

[2015-06-15 16:42] bleskes commented on #11671
@hydrogen18 do you create the index dynamically by indexing into it or is it created in advance?

[2015-06-15 17:02] kimchy commented on #11681
@mimiyan which version do you witness this behavior with? It should be much better in 1.6.

[2015-06-15 17:05] nknize opened #11682 "Cleanup GeoShapeFieldMapper defaults"
GeoShapeFieldMapper is a confusing mess when it comes to setting treeLevel and precision parameters. This makes it difficult for developers to follow what parameters should be for the different tree options (leading to potential bugs in future development). It also contains nonsensical initializations such as treeLevels = 0 - which should never occur.  This minor task is to clean up the mapper def

[2015-06-15 17:25] clintongormley commented on #11681
@mimiyan also what errors are you seeing in the logs?

[2015-06-15 17:40] mimiyan commented on #11681
I am using version 1.5.

The logs show:
2015-05-22 08:32:25,311][WARN ][indices.cluster ] .....marking and sending shard failed due to [failed recovery]
[2015-05-22 08:32:25,312][WARN ][cluster.action.shard ] [node1] [messages-20150509][0] received shard failed for [messages-20150509][0], node[8YxdI8jsThuwjUk1qzjvaA], [P], s[INITIALIZING], indexUUID [bHbn-05QSYSB9GTuZxZjHA], reason [shard failure

[2015-06-15 17:48] bleskes commented on #11681
@mimiyan how many nodes do you have in the cluster? If there is no other node to put the shard, I suspect you run into https://github.com/elastic/elasticsearch/pull/10558 ...

[2015-06-15 18:17] mimiyan commented on #11681
@bleskes We only have 1 node in our cluster now.

[2015-06-15 18:27] brwe commented on #11599
Indeed, the problem was not fixed on 1.x branch. Two things happened: 1) the test I wrote for the huge terms actually did not trigger the exception on 1.x because on 1.x this only happens with certain queries like prefix query but not match query (which I use in the test) and 2) I fixed the issue by catching a MaxBytesLengthExceededException in PlainHighlighter but on 1.x this is actually wrapped

[2015-06-15 19:18] jimmyjones2 commented on #11599
@brwe Thanks! Might this fix get into 1.6.1?

[2015-06-15 21:39] vedil opened #11684 "in case of scripted updates it would be good if we get the operation"
is it possible to get the result.operation() in the UpdateResponse too, so that it is easy to determine if NONE/DELETE/UPSERT which of them actually happened?
because ctx.get("op") is after the execution of script, it would be good to know for the client whether actual update happened or not

[2015-06-15 21:42] Alex-Ikanow opened #11685 "Bulk "create" via Java API (1.4.2) doesn't error on duplicate docs but does return negative version"
I am creating via BulkRequestBuilder, doing

    add(client.prepareIndex(...).setOpType(OpType.CREATE)

I have a test where I bulk insert and a subset of the objects inserted already exist. I then attach a listener to the bulk request, and expect to get .hasFailures() etc. (This is running vs an in memory server created in JUnit, if that makes any difference)

Instead what happens is hasFailures()

[2015-06-15 23:45] askaliuk commented on #5682
+1

[2015-06-16 03:46] markwalkom commented on #11657
Sorry, by state I meant green/yellow/red :)

[2015-06-16 04:14] areek commented on #11603
@michielkraijkamp @clintongormley with the new suggester implementation, the fuzzy matches that share the most number of characters with the user query would be ranked higher. For example, searching for 'iLost' will always yield 'iLost' higher than 'iLastic' or 'iGost'. (see https://github.com/elastic/elasticsearch/issues/10746)

[2015-06-16 06:31] niu-lin opened #11690 ""refresh" parameter is not honored in bulk request"
According the documentation (https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-bulk.html#bulk-refresh), there's a "refresh" parameter that can be used to force refresh after bulk operation and we have been using this parameter for a while. However, since 1.6.0, the parameter no longer works, with an exception thrown:
{"error":"IllegalArgumentException[Action/metadata line [1] co

[2015-06-16 06:48] martijnvg commented on #11672
@Volune agreed, ES should fail with a better error with something like: `inner hits isn't supported in the percolate api`

[2015-06-16 07:08] bleskes commented on #11690
The `refresh` paramater is one that can be set for the entire request. Refreshing is relatively expensive and therefore is only supported for the entire operation and is done while all items have been executed. I made a PR to improve the docs.

[2015-06-16 07:28] michielkraijkamp commented on #11603
@clintongormley @areek That sounds perfect :-)

[2015-06-16 07:41] s1monw opened #11692 "Histogram Agg result fails to generate XContent"
I have a simple testcase here:

[code]

which fails generating the XContent with this:

[code]

to me this looks wrong :) but not my part of the system to figure out what the hack is going on... @colings86 maybe?

happens only on 2.0

[2015-06-16 07:45] #9976 closed

[2015-06-16 07:50] GlenRSmith commented on #11594
@tlrx Thanks!

[2015-06-16 08:07] niu-lin commented on #11690
Thanks for your comment. So my understanding is I should write it as below:

POST /index_name/type_name/_bulk?refresh=true
blabla

Is that correct?

[2015-06-16 08:12] niu-lin commented on #11690
BTW, I understand it is very expensive, but since we are only use it for some special rare cases, we can afford that cost.

[2015-06-16 08:37] jpountz commented on #11692
This bug will be fixed with https://github.com/elastic/elasticsearch/pull/11482 which adds a printer to the epoch_second and epoch_millis formats. I pushed the test case suggested in this issue to master.

[2015-06-16 08:46] bleskes commented on #11690
yeah, that’s correct.

[2015-06-16 09:13] cbuescher opened #11695 "[CI failure] org.elasticsearch.indices.stats.IndexStatsTests.testFieldDataStats"
I observed this on the current query refactoring branch but it seems unrelated to the changes there.
I could also reproduce this on master.

http://build-us-00.elastic.co/job/es_feature_query_refactoring/2380

[code]

Tried this on master at 56c7cce4b and could also reproduce the same error with:

mvn clean test -Pdev -Dtests.seed=B07CF80620C33000 -Dtests.class=org.elasticsearch.indices.stats.Inde

[2015-06-16 10:11] niu-lin commented on #11690
Boaz, thank you very much for clarifying! I'll close this issue then.

[2015-06-16 10:11] #11690 closed

[2015-06-16 10:16] brwe opened #11698 "Stored script parameters"
When script parameters are huge but reused several times it would be great to be able to store them and have them available at execution time without having to pass them with the search request.

Something like:

[code]
where the "many_and_huge_parameters" are retrieved from somewhere inside elasticsearch.
My use case is a classifier. I train the model outside elasticsearch and then use the comput

[2015-06-16 10:17] Xylakant commented on #11609
I'd consider a fixed user/group ID a bug. For example we assign ranges for user accounts depending on whether it's a "system" account or a "real user" account and 9200 would fall smack into our "real user" account range and probably conflict. I know of more organizations that use a similar scheme, so whatever value you choose you'll step on somebodies toe.

[2015-06-16 10:38] sindrit opened #11699 "Null pointer exception when adding BigDecimal field with value null"
Other captialized numeric types, Integer, Double etc. have a null check when passed in to the XContentBuilder.field method. The XContentBuilder.field(String, BigDecimal) method however throws a NullPointerException.

For consistency it would be better to writeNull() if the BigDecimal value is null.

[2015-06-16 10:54] vinusebastian commented on #2917
@kul @martijnvg @clintongormley How do I do the workaround mentioned in http://stackoverflow.com/questions/14504180/elasticsearch-sorting-by-nested-documents-values/14519947#14519947 for a parent child relationship? In my script field what should replace "doc['locations.order'].value" to refer to the child document's field?

Thanks in advance

[2015-06-16 11:11] tlrx opened #11700 "Add shortcut for match_all query in the Delete-By-Query plugin"
In https://github.com/elastic/elasticsearch/pull/11516#discussion_r32312451 Simon suggest to add a shortcut when a `match_all` query is executed with the Delete-By-Query plugin:

[2015-06-16 11:49] brwe commented on #10978
Closing as we made a decision now, see #11665

[2015-06-16 11:49] #10978 closed

[2015-06-16 13:56] JanJakes commented on #10408
Any updates/ideas on this feature?

[2015-06-16 14:00] j0hnsmith opened #11701 "Create configuration reference"
There's no single source of reference for configuration options which makes configuring Elasticsearch awkward. https://www.elastic.co/guide/en/elasticsearch/reference/current/setup-configuration.html is a good start but I believe more is omitted than included (`path.repo` for example).

Elasticsearch needs a single page that lists every possible configuration option with an explanation of what the

[2015-06-16 14:17] jccq commented on #11680
I have had today a nasty error in the DEMO here when i did a rectangle filter.
could it be this is the problem? are there issues when selecting a rectagne?
if so cold you please open the issue in kibana ?
thanks

[2015-06-16 14:24] szroland commented on #11524
I took a stab at implementing this, mainly to verify my setup. Please see the pull request above, let me know if anything else is required.

[2015-06-16 14:26] nik9000 opened #11702 "[packaging] Add a way to start master only nodes along side other nodes on the same server"
We just use the deb package to install Elasticsearch but we don't have any spare systems to use as master node. I'm told that its generally good practice in this case to pick three of your nodes and run a master only node in a separate JVM from the data node. We'd do just that, but to do it we'd have to add some hacky configuration on top of the deb install. It'd be awesome if there was a dedicate

[2015-06-16 14:27] bleskes commented on #11681
@mimiyan I see. In this case the no other options and there is no way to recovery. I agree we shouldn't spin with endless attempts. A temporary work around would be to move the corrupted shard folder. Note that your index will stay red as they is no other copy to use. You can issue a manual _reroute command to force allocation of a new *empty* primary.

[2015-06-16 14:31] bleskes commented on #11681
at second thought - https://github.com/elastic/elasticsearch/pull/11269 (release in 1.6.0) should fix this (we will no longer think the shard copy is good during assignment, only to discover it's bad in recovery). I'm going to close this as we got to the root cause of the matter. If upgrading to 1.6.0 somehow doesn't help please do reopen.

[2015-06-16 14:31] #11681 closed

[2015-06-16 14:35] #11594 closed

[2015-06-16 14:55] ilanrivers commented on #11579
I will try to give a clear example:
Lets say you fill an index with 3 words:

POST /test_es_suggest/type
{
  "word": "Software"
}

POST /test_es_suggest/type
{
  "word": "Developer"
}

POST /test_es_suggest/type
{
  "word": "Programmer"
}

Now i use the Suggest API as follows:
GET /test_es_suggest/_suggest
{
  "Suggest": {
      "term": {
        "field": "word",
        "suggest_mode": "popular",

[2015-06-16 15:36] #11695 closed

[2015-06-16 15:55] bleskes commented on #9972
Master (re) election takes indeed 3 seconds. However, any incoming requests that come in during this period will be kept in flight until a new master is elected. This has a maximum timeout of one minute, after which you will see and error as you describe. Do you change the timeout parameter on the request?

[2015-06-16 17:30] hydrogen18 commented on #11671
The index is created in advance. I could give you an example, but the documents are boring.

[2015-06-16 19:09] ayashjorden opened #11706 "NPE with AbstractNioSelector"
Hi all,
Got lots of NullPointerException with the following StackTrace:
[code]

The cluster consists of a data node (8 cors 126GB ram, 32GB heap) and SearchLoadBalancer(master/data = false).

What can cause this ?

[2015-06-16 19:23] Henri85 opened #11707 "Geo Bounding Box Filter always returns 0 results"
I'm using geo filtering with geo_point and distance. Works as expected!

Now, I want to filter a location in a geo bounding box.

MAPPING:

    PUT /users
    {
        "mappings": {
            "users": {
                "properties":
                {
                    "location":
                    {
                        "type": "geo_point"
                    }
                }

[2015-06-16 19:50] imarsman opened #11708 "Can index but not search when cluster name changed from "elasticsearch""
Changing our cluster name from "elasticsearch" has resulted in being

* Able to index new documents
* Able to check to see if an index exists
* NOT able to do searches

We are using Elasticsearch 1.5.2 from the elatic.co debian repository on Ubuntu 14.04 using java version 1.8.0_45.

Here is the TransportClient setup code:

<pre>
final Settings settings = ImmutableSettings
		.settingsBuilder()
		.

[2015-06-16 21:20] imarsman commented on #11708
Solved it. It had nothing to do with the code or the general configuration of Elasticsearch. I had neglected to set up the document templates in the new cluster setup with proper type mapping. With this, indexing was allowed but searching had nothing to work with.

[2015-06-16 21:20] #11708 closed

[2015-06-16 22:40] szroland commented on #11513
Fields mapped as byte actually get read as short and then cast to byte. E.g. if you map the field as byte and send in the 33000 value, you get the same error (e.g. out of range for **short**), e.g.:

	at org.elasticsearch.common.xcontent.support.AbstractXContentParser.shortValue(AbstractXContentParser.java:108)
	at org.elasticsearch.index.mapper.core.ByteFieldMapper.innerParseCreateField(ByteField

[2015-06-16 22:59] markwalkom opened #11709 "Try another node if retryable ClusterBlockException received for TransportClient"
Currently if we hit a ClusterBlockException on a node we retry to the same node and then give up. Only on connection exceptions do we [retry a different node](https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/client/transport/TransportClientNodesService.java#L231)

This sort of situation can happen if a users is doing a rolling restart of the nodes, due to a

[2015-06-16 23:28] szroland commented on #11498
This will not only fail with booleans, but with other non-numeric values as well, e.g.
[code]
[code]

Ignoring malformed values depends on the code throwing an `IllegalArgumentException` or `MapperParsingException` but here a `JsonParseException` is thrown. The solution would be to check the token type in `AbstractXContentParser.intValue()`, `shortValue()`, etc. after the String check, and if it i

[2015-06-16 23:44] bobbyhubbard opened #11710 "Shield duplicates _search api audits"
A standard GET by ID results in a single log entry in the audit log. Search (_search) results in two identical log entries. Every time.

* Default ES 1.6.0 installation.
* Added latest Shield.
* Added "search_admin" user.

Everything works great out of the box except I get _search audits duplicated in the log. ONLY "SearchRequest" audits. I haven't found any other api yet which results in this str

[2015-06-17 00:03] szroland commented on #11388
The code uses maps internally and practically depends on unique column names. A simple workaround would be to recognize conflicting field names, and maybe prefix them with an underscore. E.g. ip column would show the ip address of the node, and _ip would show the ip fieldata size.

However, this becomes redundant if #10249 is implemented. That issue is about changing this API not to use dynamic co

[2015-06-17 03:58] ryanchou1991 opened #11713 "highlight force_source have no effect on _source content field"
When i set the highlight fields such likes

[code]

There was no tags in the _source content field , and the text with highlighted tags still in highlight field?
so did I use it in a wrong way? or the highlight force_source field option have no effect ?

[2015-06-17 05:24] sybnex opened #11714 "Exception on MapperParsingException"
I've got following error in elasticsearch.log

[code]

Filter is based on kv. Number Detection in Elasticsearch is activated.

[2015-06-17 05:37] markwalkom commented on #11714
`-` is not an integer so you cannot map it to one.

Please join us in #elasticsearch on Freenode or at https://discuss.elastic.co/ for troubleshooting help, we reserve Github for confirmed bugs and feature requests :)

[2015-06-17 05:43] sybnex commented on #11714
I was never trying to ... here the filter:

[code]

[2015-06-17 05:44] sybnex commented on #11714
OK, you right. Just saw it right now on formated screen. The other fields are also crappy.

[2015-06-17 05:44] #11714 closed

[2015-06-17 06:16] villeapvirtanen commented on #6727
This would be a really nice addition - for an example we have now millions of documents, and would like to experiment with the scoring to deliver that last 10%, but we need to reindex the whole lot each time we want to change the similarity.. This means that we probably end up with as many clusters as there are scoring algos available, which costs time, money, effort and motivation.

[2015-06-17 06:28] villeapvirtanen commented on #6727
Maybe you should add interface to the [Similarity](https://lucene.apache.org/core/5_1_0/core/org/apache/lucene/search/similarities/Similarity.html) implementations and add
[code]
This would allow logic to be added to determine if the change should be allowed or not, solving the custom similarity compatibility problem. (As obviously the custom implementations should implement it too.) Downside for

[2015-06-17 07:08] rmuir commented on #6727
Because its not an issue with Lucene. You just call IndexWriterConfig.setSimilarity() and that is what IndexWriter will use to encode normalization factors.

Similarity impls can shove whatever it wants in there, up to 64-bits of stuff encoded in whatever form it wants. So ES does the right thing to prevent you from changing this here (in general). It is the same as changing index analyzer for a f

[2015-06-17 07:12] Henri85 commented on #11707
This solution works for me:

"top_right" instead of "top_left"

and

"bottom_left" instead of "bottom_right"

[2015-06-17 07:12] #11707 closed

[2015-06-17 07:29] tlrx commented on #8636
Thanks for reporting and your contribution.

I agree with @t-lo it should be `network-online.target` and it how it is configured now (see https://github.com/elastic/elasticsearch/blob/master/core/src/packaging/common/systemd/elasticsearch.service). It has been tested on various distributions including Fedora21, OpenSUSE13, Ubuntu15.04, Debian8, CentOS7.

Closing this one, feel free to reopen if ne

[2015-06-17 07:29] #8636 closed

[2015-06-17 07:33] tlrx commented on #10671
@Fudoshiki New packages (1.5.3, 1.6.0) have been released and integrate the fix.

This issue is resolved so I'm closing it, feel free to reopen if needed.

[2015-06-17 07:33] #10671 closed

[2015-06-17 07:37] villeapvirtanen commented on #6727
Hi, thanks for the response!

I meant that I'm trying to cater a better search experience for the end users, and tuning the relevance ranking, which for me as the user of ES, is the last 10%. (It does pretty well with the defaults, but there are cases where simple per field/query boosting is not delivering. Hence the need to experiment with similarities.)

I'd love to have this exposed to ES users

[2015-06-17 08:05] rmuir commented on #6727
I don't think we should give users the ability to shoot themselves in the foot, ever. Its easily prevented.

A common use case for this issue would be to allow someone to switch from the default similarity to BM25 and then tweak `k1` and `b` parameter values all without reindexing. This is totally safe, and expert enough!

Having a custom similarity (subclass) is a much more expert thing and we do

[2015-06-17 08:10] 36degrees commented on #11388
FWIW, I like the proposal outlined in #10249, it makes a lot of sense to me.

But, failing that, I'd 'expect' the meta fields to be the ones prefixed with underscores (and always, not just when conflicting), and 'my' column names to remain untouched.

But then there's nothing to stop me from indexing something with a field name of `_ip` (as far as I know?) and then all that's been achieved is maki

[2015-06-17 08:15] markwalkom commented on #9348
We've now got a blog post with some guidance on this issue - https://www.elastic.co/blog/elasticsearch-2015-leap-second

[2015-06-17 08:15] #9348 closed

[2015-06-17 08:35] colings86 commented on #11701
Duplicate of https://github.com/elastic/elasticsearch/issues/11504, closing in favour of that issue.

[2015-06-17 08:35] #11701 closed

[2015-06-17 08:40] j0hnsmith commented on #11504
Django has a good example https://docs.djangoproject.com/en/1.8/ref/settings/

[2015-06-17 08:50] jimmyjones2 opened #11715 "copy_to and geo_point"
I can't seem to get it to work with 1.6.0:
[code]
Get no results when agg on other_location field, but works with location field.

[2015-06-17 08:53] trekr5 opened #11716 "Using an es query to find value from a previous day..."
Hi,

Hoping that someone could help....

This is my query:

    body: {
                    "query"=> {
                       "filtered"=> {
                        "filter"=> {
                            "bool"=> {
                             "must"=> [
                               {"term"=> {status=> 500}},
                                 {"term"=> {"type"=> "iis6"}},

[2015-06-17 09:08] bleskes commented on #11671
@hydrogen18 thx. The stack trace (which we can do better reporting dealing with) suggest that index was removed while the operation was in flight. Can that be?

[2015-06-17 09:39] tvarvadoukas commented on #6788
Hey all! I would also agree that this is a very common usecase. It's a must-feature on our side as well. Are there any news on this?

[2015-06-17 09:40] s1monw commented on #6727
:+1:

I agree with rob here and I don't see really a need to do much on this issue.

[2015-06-17 10:17] fredrlx commented on #11071
Hi! I've run into a similar issue (same "Can't write type [class java.math.BigDecimal]" exception on some shards). Our groovy script had this line:
[code]
rewriting it to the following got rid of the exception:

[code]

[2015-06-17 10:43] villeapvirtanen commented on #6727
Did I understand it correctly that you wish to close this as won't fix?

[2015-06-17 10:45] johnament opened #11719 "Unable to store parsed mustache templates via Java API"
See this question for reference.

https://discuss.elastic.co/t/java-api-and-search-template-with-params/23769/2

One of the issues seems to be that while an entry like this is valid for storing a template:

[code]

The equivalent Java version

[code]

Is not valid.  This is because the body of the template is being serialized to JSON, and the use of {{ here is an invalid entry.  I'm using ES 1.5.

[2015-06-17 10:59] s1monw commented on #6727
@villeapvirtanen yeah that is what I propose

[2015-06-17 11:03] rmuir commented on #6727
I think the simple case is nice to have for the core similarities from lucene (see my BM25 example above). But i have no idea how tricky it is to implement this.

[2015-06-17 11:20] johnament opened #11720 "Possible typo in the docs"
If I look at the docs for [templates], there's a mention that the templates are stored in .scripts.  The API listing for them seems a bit off.  Is the URI really /_search/templates?  Is it supposed to be /.scripts/_search/templates or something like that?  If I want to update a template do I use /.scripts/_search/templates/{templateId} ?

[templates]: https://www.elastic.co/guide/en/elasticsearch/

[2015-06-17 11:27] fundup commented on #10101
I had same problem. I did my first install using root. Then I remove and install once again using a user and sudo apt-get (https://www.elastic.co/guide/en/elasticsearch/reference/current/setup-repositories.html) . It seems to work now. Hope it will help

[2015-06-17 11:34] clintongormley commented on #9866
Closed by #10435

[2015-06-17 12:14] bleskes commented on #11582
Can you clarify what you mean by slowing down? I can think of a scenario where many waiting indexing operations slow down cluster state processing (we try the indexing operation on every cluster state change and can be more efficient.)

This behavior has been there from the beginning time, or something very close to it. The rational is that the needed replicas might be assigned soon and it's worth

[2015-06-17 12:51] tlrx opened #11721 "Allow to execute REST tests in plugins again"
The `ElasticsearchRestTestCase` has changed in 2.0 and now throws an error when executing REST tests in a maven plugin project which depends on `elasticsearch-2.0.0-SNAPSHOT-tests.jar`:

[code]

When executed with `mvn clean test` command, it seems that plugin specific REST tests (declared in POM file using `<tests.rest.suite/>` tag) are resolved using a `ZipFileSystem` instance corresponding to t

[2015-06-17 13:04] rmuir commented on #11721
I don't think its a bug, i think these tests are overengineered?

The zipfilesystem stuff is the best way I could make it work given what some of the other plugins wanted to do here.

In order to simplify this test the parameterization really has to go. that is what adds a significant majority of complexity to this stuff because things must happen in clinit.

Please, no more parameterized tests, e

[2015-06-17 13:37] clement-tourriere commented on #8896
I have made an implementation for this aggregation as a plugin.
You can test it here : https://github.com/opendatasoft/elasticsearch-aggregation-pathhierarchy

[2015-06-17 13:46] javanna commented on #11721
I'd leave the parameterized discussion out of this issue, we can certainly discuss that but I'd do it separately.

The problem here is that plugins need to be able to run their own REST tests, pointing to them via -Dtests.rest.suite and -Dtests.rest.spec. That is not possible anymore, given that if `ElasticsearchRestTestCase` comes from within a jar, REST tests and spec can only be taken from that

[2015-06-17 13:49] #7052 closed

[2015-06-17 13:51] tlrx opened #11723 "Document TransportDeleteByQueryAction class"
Like Simon said in https://github.com/elastic/elasticsearch/pull/11516#issuecomment-112523037 we should javadocument the DeleteByQuery classes.

[2015-06-17 13:59] rmuir commented on #11721
The parameterized discussion is definitely involved here. Besides being completely useless, parameterized tests just make things complicated, because nothing can happen except in clinit (so no subclassing). Just have a look around and look at what is subclassing this rest test stuff and why.

There is too much going on. Down with parameterized tests! I need to create some kind of github plugin lik

[2015-06-17 14:02] hydrogen18 commented on #11671
I did not intentionally do that. This box is on our local network, so I suppose it is possible. Would there be a log statement indicating when the index was dropped?

[2015-06-17 14:23] alexanderkjall opened #11725 "Failed to derive xcontent from org.elasticsearch.common.bytes.ChannelBufferBytesReference"
I'm getting the following error when I'm trying to do a scan request.

This is the steps I have taken and the response I got:

    $ curl -XGET 'es1.di.no:9200/customer/_search?search_type=scan&scroll=2m&size=20' -d '{"query" : {"match_all" : {}}}'
    {"_scroll_id":"c2Nhbjs1OzEyNzkzODozSGdydm9mQlREdVYtNlFrS1FDSlBROzEyNzkzOTozSGdydm9mQlREdVYtNlFrS1FDSlBROzEyNzk0MjozSGdydm9mQlREdVYtNlFrS1FDSlBROzEy

[2015-06-17 14:28] #11122 closed

[2015-06-17 14:31] johnament commented on #11719
Closing out - wasn't clear to me from reading the docs the amount of escaping required.

[2015-06-17 14:31] #11719 closed

[2015-06-17 14:43] szroland commented on #11388
Yes, that's why I suggested prefixing the conflicting field name. No matter how we name the internal fields, you could create a field with the same name and have this same problem. We could also prefix all dynamic fields in the table and be consistent (maybe having an alias if that is not conflicting), but that would be more "breaking" a change.

Then again, if #10249 is the right direction, I cou

[2015-06-17 15:38] szroland commented on #10249
What if you have a field called `total` or have total in the name? Is it a good idea to mix the aggregate size with individual field sizes in the same table?

Maybe there could be a flag that would allow you to switch between totals or individual fields:
[code]
[code]
But if you want totals:
[code]
[code]

[2015-06-17 16:06] #2794 closed

[2015-06-17 16:06] #10684 closed

[2015-06-17 16:09] jeantil opened #11726 "Highlighters sometime highlight additional caracters"
Verified on 1.5.2 and 1.6.0

When using a charfilter to remove some characters (in our case we want to ignore `(`and `)` ) the highlighters will highlight trailing removed caracters

Here is a sample sense session to reproduce the issue.
[code]
the highlights for the last query look like
[code]
and
[code]
I would expect the closing paren not to be highlighted ...

[2015-06-17 16:19] brwe opened #11728 "Script in terms aggregation that is not a value script should fail with descriptive failure message"
When a script is not a value script in a terms aggregation then the request must not contain the "fields" parameter.
However, there is no warning to the user if the request has the "fields" parameter anyway. The aggregation will just fail with cryptic error messages or even worse just silently not do the right thing.

This fails with an ArrayIndexOutOfBoundsException:

[code]

This silently just d

[2015-06-17 16:45] alexksikes opened #11730 "CommonTermsQuery ignores disabling the coordination factor with Java API"
CommonTermsQueryParser does not check for `disable_coords`, only for `disable_coord`. Yet the builder only outputs `disable_coords`, leading to disabling the coordination factor to be ignored in the java API.

[2015-06-17 17:04] johnament opened #11731 "JBoss EAP module clarification"
Hi,  was hoping to get some clarification around the JBoss module.  I recently started using scripts and template searches in my app.  To do taht, I added an ASM dependency and brought it into the ES module.  However, whenever my tests run I end up getting this in the console

org.objectweb.asm.commons.Method from [Module "org.elasticsearch:main" from local module loader

This seems to be because

[2015-06-17 17:21] rjernst commented on #6727
The similarity parameters are set outside of the mappings (they are in a parallel section called "similarity"). But glancing at the code, I cannot see how it is possible they are updated (or even adding new ones after index creation). I agree this should be fixed: like with mappings, you should be able to tweak the parameters of the similarity, but not change the type, for a given name.

[2015-06-17 17:25] rmuir commented on #6727
Its not like mappings at all though.

Changing DefaultSimilarity to BM25Similarity is ok: the on-disk encoding is the same.
Changing BM25Similarity k1/b parameters is ok: the on-disk encoding is the same.
Changing BM25Similarity.discountOverlaps is not ok, you need to reindex.

[2015-06-17 17:28] dadoonet commented on #11731
Until 2.0, we were shading libs so I guess you should not see such a conflict.

Just double checking, I guess you already read this, right? https://www.elastic.co/guide/en/elasticsearch/client/java-api/current/_deploying_in_jboss_eap6_module.html

[2015-06-17 17:31] pickypg opened #11732 "Rename Optimize API to Forced Merge API"
The `_optimize` API is great for improving performance of time series indices or other cold indices, but the name of it is incredibly misleading.

Lucene changed from calling it `optimize` to `forceMerge` back in Lucene 3.5 ([from this blast in the past](http://blog.trifork.com/2011/11/21/simon-says-optimize-is-bad-for-you/), eh @s1monw!). Maybe it's time that we change it too?

[2015-06-17 17:47] johnament commented on #11731
Yes, I saw that.
The problem is that this page (which looks like its based on old ticket I tracked a while ago w/ the module def) explicitly excludes ASM.  JBoss, even Wildfly 9, still ship ASM 3.1 and it looks like lucene needs a newer version.  I don't believe you guys are shading this dependency.

Great to hear what sounds like you're not shading in 2.0.  Should reduce some of the bloat.

[2015-06-17 17:58] imotov commented on #11698
Maybe we can support storing the parameters as a record in another index and then refer to this record in the request similar to what we do with terms lookup? Something like:

[code]

You can do the same thing in the native script, but if this is a common use case, it might be worth supporting this functionality on the elasticsearch level.

[2015-06-17 18:21] imotov commented on #11725
The second command should use special `/_search/scroll` endpoint and not the same search endpoint. Please see [Elasticsearch Reference](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-scroll.html#search-request-scroll) for more information. By the way, https://discuss.elastic.co/ is much better place to ask questions like this - we are using github to keep track of b

[2015-06-17 18:21] #11725 closed

[2015-06-17 18:38] #11721 closed

[2015-06-17 18:44] pickypg commented on #11732
Duplicate of #6621. I searched too strictly before posting.

[2015-06-17 18:44] #11732 closed

[2015-06-17 19:17] lukas-vlcek commented on #11731
@dadoonet David, do you think you can point me to some ticket/commit which is relevant to un-shading in 2.x please? I would like to learn more about the background of such change.

[2015-06-17 19:37] clintongormley commented on #11667
Hi @litalk

You're looking for this option: https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-highlighting.html#field-match

[2015-06-17 19:37] #11667 closed

[2015-06-17 19:46] litalk commented on #11667
Hi @clintongormley,
Thanks for your answer, but as I said in my post I cannot use this option because sometimes I am searching for free text, not binded to any field and I would expect elasticsearch to highlight every field he finds with my text query. If I set require_field_match=true nothing is highlighted.

Can you reopen my request?

[2015-06-17 19:52] dadoonet commented on #11731
@lukas-vlcek I think this commit is relevant: https://github.com/elastic/elasticsearch/commit/4c981ff4bfc250080d521af105b5e8589c9fc517

[2015-06-17 19:56] clintongormley commented on #11673
Hi @rhycce

Something somewhere is sending a shutdown request to your cluster.  Are you sure your cluster is properly firewalled?  What about putting a proxy in front of it and logging requests?

We've actually removed the shutdown API in #10831, but if your cluster is open to abusive requests, you'll have other problems as well, even without this API.

[2015-06-17 19:56] #11673 closed

[2015-06-17 19:57] dadoonet commented on #11731
@johnament You're right. ASM was not shaded. I wonder if the documentation about about EAP deployment should include the right version of ASM lib so the right version will be picked up by the classloader first instead of using the one provided by JBoss.

That said, I don't know JBoss EAP. Is it super different than JBoss OSS version?
(note: last time I deployed JBoss, it was a version 5. Things ha

[2015-06-17 20:05] pickypg opened #11733 "GC Logs should add -XX:+PrintGCDateStamps"
In addition to the `-XX:+PrintGCTimeStamps`, which semi-unhelpfully supplies the seconds since the JVM started up, we should add `-XX:+PrintGCDateStamps` so that we get readable times printed in the gc.log files.

Note: this is only relevant when the GC logs are turned on, which requires setting the `ES_GC_LOG_FILE` to some non-empty value (e.g., `on`).

[2015-06-17 20:40] clintongormley commented on #10952
Rethinking this API a bit.  When would you need it?  The typical use case is: I have unassigned primary shards and I want to know if copies of the shard exist somewhere in my cluster and whether they can recover or not. Replicas don't matter because they can recover from the primary.

So what I want to see are a list or shards which could become the primary, where they are, and if there has been a

[2015-06-17 23:01] cooniur commented on #9891
Hey @dadoonet I did a test and found this issue is still there for me. Both the Java client and the server is on the latest version of ElasticSearch (1.6.0).

	Caused by: java.lang.NoClassDefFoundError: com/vividsolutions/jts/geom/Coordinate
		at java.lang.Class.getDeclaredMethods0(Native Method)
		at java.lang.Class.privateGetDeclaredMethods(Class.java:2701)
		at java.lang.Class.getDeclaredMethod

[2015-06-17 23:05] #11484 closed

[2015-06-17 23:27] rhycce commented on #11673
That is what I suspected. The cluster  has all the security policies in place and even has its own security group with limited access on Amazon. Also the techOps guys confirmed that access to the master node was limited to IP's coming from our office. We even dumped all tcp requests on that port to see if there were any incoming requests during the failure but it seemed there was none. Since we co

[2015-06-18 02:15] wewebber opened #11738 "Term vectors API: term statistics loaded even if not needed"
As in title.  Slows down loading term vectors from (typical figures) 0.3ms per term vector to 2ms per term vector.

See pull request:

https://github.com/elastic/elasticsearch/pull/11737

This issue is also present in master.

[2015-06-18 03:34] czheo opened #11739 "Suggest returned even when setting "suggest_mode" to be "missing""
I think when setting `suggest_mode` to be `missing`, no suggestion should be returned if the term exists in the index. But it turns out not to behave like my expectation. Is it a bug or anything?

Below is what i did. (with elasticsearch 1.5)
[code]
[code]
[code]
[code]
[code]
Here `shinagawa` is in the index of `name` field, but suggestion to it is not excluded.

[2015-06-18 04:56] dadoonet commented on #9891
I think you forgot to add optional dependencies ?

What is your dependency tree ?

[2015-06-18 05:02] cooniur commented on #9891
@dadoonet As I mentioned before (quoted below), if I add the geo dependency `com.vividsolutions:jts`, the problem will solve. However, the thing is I don't use any geo related queries in the code.

[2015-06-18 05:08] dadoonet commented on #9891
Do you have the full stack trace?
I'm pretty sure I got the same error when writing tests for lang plugins.

May be we should mark this dep as not optional anymore ?

[2015-06-18 06:02] inqueue commented on #11739
Have a look at https://github.com/elastic/elasticsearch/issues/7472. They are looking for a repro there as well.

[2015-06-18 06:18] lukas-vlcek commented on #11731
@dadoonet thanks.

[2015-06-18 06:41] jpountz commented on #11569
If there are no objections, I will try to implement Boaz's last proposal.

[2015-06-18 07:10] dadoonet opened #11742 "Replace deprecated methods readStringStringMap() and writeStringStringMap()"
Lucene deprecated methods `IndexOutput#writeStringStringMap()` and `IndexInput#readStringStringMap()` but are still using them in elasticsearch 2.0.0 `Store` class:

* https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/index/store/Store.java#L865-865
* https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/index/store/Store.

[2015-06-18 07:23] dadoonet commented on #9891
I can confirm I just saw this issue again in azure tests. The full stack trace is the one you already provided. Nothing more than that. :( Looking at this.

[2015-06-18 07:24] alexanderkjall commented on #11725
Oh, I assumed that since it printed a stacktrace it was a bug, I'll make sure to read up more carefully next time.

[2015-06-18 07:30] dadoonet commented on #9891
@cooniur Any chance you are running your tests from IntelliJ and not from the command line?

I mean I can reproduce the issue when running tests from IntelliJ but not with `mvn test`.

Could you check please?

[2015-06-18 07:32] dadoonet commented on #9891
BTW, the full stack trace is:

[code]

There is a specific IntelliJ Runner which might cause such an issue... ???

[2015-06-18 07:33] s1monw commented on #11731
@lukas-vlcek the PR is here https://github.com/elastic/elasticsearch/pull/11522
We still provide a shaded verison of the JAR so you should still be able to benefit from this?

[2015-06-18 07:34] bleskes commented on #11671
on the  master, you should see the result of this log:

[code]

[2015-06-18 07:52] dadoonet commented on #9891
For information, I just opened an issue here: https://youtrack.jetbrains.com/issue/IDEA-141605
That said @cooniur, you might not be hitting the same...

[2015-06-18 07:56] colings86 commented on #11742
The methods in those links are for LegacyChecksums. Do we not need to keep using those methods for backwards compatibility, to be able to read old indices/segments?

[2015-06-18 08:17] lukas-vlcek commented on #11731
@s1monw thanks. I welcome non-shaded packaging (building ES RPM will be easier).

[2015-06-18 08:20] s1monw commented on #11731
@lukas-vlcek  please report any issues if they come up! thanks!

[2015-06-18 08:22] dadoonet commented on #9891
Interesting. When I check `Search for tests: in single module` I don't get this issue anymore.
Which makes sense to me. Might be a nice workaround.

[2015-06-18 08:31] lukas-vlcek commented on #11731
@johnament FYI, if you are interested in JBoss EAP 6.x BOMs they can be found here: http://maven.repository.redhat.com/techpreview/all/org/jboss/bom/eap6-supported-artifacts/
For example [EAP 6.4.1.GA](http://maven.repository.redhat.com/techpreview/all/org/jboss/bom/eap6-supported-artifacts/6.4.1.GA/eap6-supported-artifacts-6.4.1.GA.pom) uses ASM 3.3.1.

Also, may be you can use ES directly as par

[2015-06-18 10:59] javanna opened #11744 "consolidate query _name and boost support in query DSL"
As part of the query refactoring we are trying to make support for `boost` and `_name` in our queries more generic and consistent (#10776) as it is currently copy pasted in all query parsers and builders, sometimes forgotten, and error prone. While working on that, I realized that `_name` and `boost` are supported slightly differently in the json depending on the type query. The main difference, b

[2015-06-18 11:35] johnament commented on #11731
@lukas-vlcek I don't think that's the question here.  It looks like Lucene 4.10 requires ASM 4.1 it looks like, as a result I had pull that in to the module itself (to avoid leaking).

[2015-06-18 11:52] clintongormley commented on #11679
Hi @nemonster

This is probably due to this bug fix: https://github.com/elastic/elasticsearch/pull/9721. Probably the tribe was relying on settings that are now excluded from the tribe client settings.  Can you upload the config files?

/cc @javanna

[2015-06-18 12:07] clintongormley commented on #11684
Related to https://github.com/elastic/elasticsearch/pull/9736

[2015-06-18 12:09] clintongormley commented on #11685
Hi @Alex-Ikanow

Could you include the actual code that you use?

[2015-06-18 12:10] robin13 opened #11747 "init.d script does not stop currently running (old) process after upgrade"
Using repository install on Ubuntu 14.04 LTS

Sequence to reproduce.
* Install 1.5.2
* Upgrade to 1.6.0
* Run ```service elasticsearch stop```

init.d script returns "[ OK ]" (indicates that process has been stopped), but process list shows process is still running.  If you manually kill the process, the init.d script then successfully start/stops

[2015-06-18 12:14] jpountz commented on #11744
+1 on only supporting it at the top level,  like our documentation describes.

Yes.

+1 on supporting `_boost` on all queries. I'm a bit torn about `indices` however which is not a real query. But on the other hand it would be easy to propagate the boos to the underlying query.

Yes they can be used as queries, and most of them actually return the value of the boost as a score (like match_all) so

[2015-06-18 12:16] clintongormley commented on #11603
Closing in favour of #10746

[2015-06-18 12:16] #11603 closed

[2015-06-18 12:27] kimchy commented on #11709
I have a simple pull request for this https://github.com/kimchy/elasticsearch/tree/retry_on_cluster_block_transport_client, but there is a problem that I am not sure how best to fix, see the commit note for it

[2015-06-18 12:36] clintongormley commented on #11680
Hi @scampi

Could you provide a full example showing how you create the index, index the doc, and run the query?

As you can see from this example, if the location field is mapped but doesn't exist in the document, the query just doesn't return the document:

    PUT t
    {
      "mappings": {
        "t": {
          "properties": {
            "loc": {
              "type": "geo_point"

[2015-06-18 12:37] clintongormley commented on #11702
Note that the Puppet module for Elasticsearch supports multiple instances: https://github.com/elastic/puppet-elasticsearch

[2015-06-18 12:43] clintongormley commented on #11579
What about just setting the `suggest_mode` to `always`?

See https://www.elastic.co/guide/en/elasticsearch/reference/current/search-suggesters-term.html

[2015-06-18 12:49] clintongormley commented on #11706
@spinscale any ideas?

[2015-06-18 12:51] javanna commented on #11679
Yes sounds like #9721 might be the cause, I think it can be solved by adding the needed settings to the tribes configuration specifically, rather than relying on global settings being forwarded to the tribe automatically. Let's have a look at the config file to find out which settings this could be.

[2015-06-18 12:58] clintongormley commented on #11710
@jaymode please could you take a look?

[2015-06-18 13:00] clintongormley commented on #11713
I don't understand what your question is.  Could you provide more info please?

[2015-06-18 13:00] clintongormley commented on #11713
... with a complete (but simple) recreation

[2015-06-18 13:02] jpountz commented on #11513
@szroland +1 this proposal makes sense to me.

Feel free to ping me when you have a PR ready.

[2015-06-18 13:16] Alex-Ikanow commented on #11685
Ugh file this one under "can't reproduce/operator error", apologies - I pulled out the code into a standalone method and (of course!) it worked as expected (version is still -3; but isFailed() is now correctly returning true, and getFailureMessage() is returning the correct message instead of null as before).

I then tried my original test inside my more complicated code (which has been modified s

[2015-06-18 13:16] #11685 closed

[2015-06-18 13:19] s1monw opened #11748 "Message not fully read warnings in logs on master"
when I run `TermsAggregationSearchBenchmark` I get warnings like this:
[code]

if I disable compression for bulk they go away so I suspect it's something related to message compression that does some kind of padding or so?

if disable bulk compression it goes away `"action.bulk.compress", false` the funny part is that the `readerIndex [114711]` is always the same when I get the message while `expe

[2015-06-18 13:24] ilanrivers commented on #11579
According to the documentation:
Suggest mode Always : Suggest any matching suggestions based on terms in the suggest text.

But if I use suggest mode always I still do not know if the word was found or not and I still receive an empty options array by just changing the mode to always so it seems this does not guarantee that you receive a suggestion.

[code]

[2015-06-18 13:31] crutch opened #11749 "Aggregations: nested filter aggregation with nested filter returning no results"
Hello,

I am not able to combine normal (e.g., `term filter`) with `nested filter` in `filter aggregation` which is itself nested in `nested aggregation`.

Mapping: `tasks` with nested `events`, `events` with nested `parameters`.
<pre>
curl -XPUT 'localhost:9200/nestingtest/' -d '
{
  "mappings": {
    "tasks": {
      properties: {
        task_id: {
          type: "long",
          doc_values:

[2015-06-18 13:34] rmuir commented on #11748
I tried disabling bulk compression but i still see it. Maybe i dont disable it correctly though.

[2015-06-18 13:37] s1monw commented on #11748
I did this to be sure:

[code]

[2015-06-18 13:38] rmuir commented on #11748
I'll try your patch and see.

[2015-06-18 13:39] rmuir commented on #11748
also i am confused, if this is a serious thing, why does it simply get logged and not fail tests and so on?

[2015-06-18 13:46] rmuir commented on #11748
Yeah, disabling the bulk compress works here too. I had fat finger'ed the option.

[2015-06-18 13:49] iravid opened #11750 "Querystring treats nonexistent wildcard fields as existing in AND expression"
Hi, ran into a bug while working with the query_string query. Here's a sample of my data:

[code]

Here's the query I'm running:

[code]

For some reason, this query returns the `document1` document, even though it has no field that matches `tags.\\*.tag1E`.

The equivalent query that uses the "and" filter to combine the predicates works correctly and returns no documents:

[code]

Am I doing anyt

[2015-06-18 14:44] dadoonet opened #11753 "Add `readonly` option for repositories"
Based on discussion here: https://github.com/elastic/elasticsearch-cloud-azure/pull/93#issuecomment-113053203

We could support in our repositories whatever the provider is (`fs`, `hdfs`, `s3`, `url`, `azure`...) a `readonly` property which will:

* don't call `verify` or change the way `verify` works today
* make sure that a write to a readonly repo is not possible

[2015-06-18 15:13] hydrogen18 commented on #11671
It does appear the indices were deleted in the same time period. I am unsure how that happened. There is probably no 'correct' way for the software to handle such a situation. However, it'd be nice if the message was something other than "NullPointerException"

[code]

[2015-06-18 15:15] gongweixin commented on #11202
I also got this exception, you now have a solution for it ？
@bigwheel

[2015-06-18 15:15] bleskes commented on #11671
Yeah, the NullPointerException is totally wrong. I’ll fix that….

Thanks for digging it up.

[2015-06-18 16:36] clintongormley commented on #11715
@nknize do geo-points support the `copy_to` parameter? If the answer is no, then would it be feasible (and useful) to add support for them? If not, we should probably throw an exception if `copy_to` is specified.

@jimmyjones2 what was your reason for wanting to use `copy_to` with a geo-point?

[2015-06-18 16:37] clintongormley commented on #11716
Hi @trekr5

The right place to ask questions about how to use Elasticsearch is the forum: https://discuss.elastic.co/

this issues list is for bug reports and feature requests

[2015-06-18 16:37] #11716 closed

[2015-06-18 16:46] clintongormley commented on #11720
HI @johnament

The docs are correct.  Use `GET|POST /_search/template/some_id` to index or retrieve a template.  And use `GET /_search/template` to perform a search with the template specified in the body of the search request (either inline, as a file name, or with `some_id` to retrieve an indexed template)

[2015-06-18 16:46] #11720 closed

[2015-06-18 16:57] clintongormley commented on #11388
I'm +1 on going with #10249

[2015-06-18 17:00] jimmyjones2 commented on #11715
I've got some records with multiple geo-point fields and would like to be able to search them all at once and plot them all on a map in Kibana

[2015-06-18 17:00] clintongormley commented on #11388
In fact, I think we should close this in favour of #10249

[2015-06-18 17:00] #11388 closed

[2015-06-18 17:23] clintongormley commented on #11726
The Lucene docs for the PatternReplaceCharFilter (https://lucene.apache.org/core/5_2_0/analyzers-common/org/apache/lucene/analysis/pattern/PatternReplaceCharFilter.html) say:

(I know this isn't the one you're using, but the same advice probably applies to the mapping char filter)

That said, the output from the `_analyze` API seems weird to me.  For instance:

     GET test/_analyze?field=name&te

[2015-06-18 17:43] clintongormley commented on #11667
Somehow I missed the whole section you wrote about `require_field_match`.  My apologies.

However, when you say:

... this is not what you are doing.  If you don't specify a field, then you are querying the `_all` field, which contains the values of all fields concatenated as one big string.   This is why various fields get highlighted.  Instead, try querying just the fields that you want to query

[2015-06-18 17:43] cooniur commented on #9891
@dadoonet I tested running from terminal by executing `java -jar myproject.jar` (note this is not mvn test), but still got the same exception. If I run the project in IntelliJ, I get the same exceptions too.

The project is a Spring Boot project. Spring Boot version is `1.2.4.RELEASE`. My environment is Mac Yosemite 10.10.3.

A full stack trace is attached below.

	org.apache.camel.CamelExecutionE

[2015-06-18 17:47] imotov opened #11760 "Repository verification exceptions should be logged"
Currently repository verification exceptions are returned to the user, but not logged on the node where the exception occurred. This behavior makes debugging of some repository registration issues difficult. See elastic/elasticsearch-cloud-aws#217 for example.

[2015-06-18 17:50] litalk commented on #11667
But this is not my use case.
I don't always know the specific fields in my application. I know I am searching for some phrase but I am not sure if it's in the name field or description,  or maybe in the comments...  This is just an example,  but the idea of the application is a global search and not always the specific field is known. In that case, highlighting does a great job. Bug in the case I

[2015-06-18 18:07] clintongormley commented on #11739
Hi @czheo

The reason for this is that you have two documents in two different shards.  Suggestions are calculated per shard, then merged.  So the term specified exists on one shard and is missing on the other, which is why it is included as a suggestion.

A similar problem exists with relevance when searching across a tiny collection of documents. See https://www.elastic.co/guide/en/elasticsearch

[2015-06-18 18:07] #11739 closed

[2015-06-18 18:13] #11596 closed

[2015-06-18 18:14] acarstoiu commented on #8110
Actually no, not really.
Of course one can theoretically crunch the data on the client side following any deterministic recipe, **but** that's not the idea! Going down that line, you'll end up saying that databases are optional, as you can always read all data in a huge (in-memory) structure and perform on them endless transformations :-1:
I'm using Elasticsearch _precisely_ because I do not want

[2015-06-18 18:20] dadoonet commented on #9891
It sounds like you are using Camel/Groovy and this is causing an issue because of reflection.
I'm not sure we need to fix something in Elasticsearch code base.

The work around looks ok to me so add this lib and mustache to your project and it should be fine.

[2015-06-18 18:25] clintongormley commented on #8110
@acarstoiu thank you for your essay.  If, instead of venting your spleen, you'd followed some of the links above, you would have discovered the wonder that is pipeline aggregations: https://www.elastic.co/guide/en/elasticsearch/reference/master/search-aggregations-pipeline.html

Please do remember that there are real humans here, with real feelings,  writing software which you are using.

[2015-06-18 18:26] l15k4 opened #11761 "OutOfMemoryError during jackson serialization when bulk indexing"
ES 1.6, -Xmx2024 (512BM usually sufficient), java client with elastic4s
I cannot bulk index 800 documents of constant size where single document looks like this :
[code]

CPU immediately at 100% until it fails on OOME on that single bulk. It is less than 350 characters which is not even 1MB of raw text... when I decrease 800 to 400 documents it is done in a few milliseconds. There must be some sor

[2015-06-18 18:31] bigwheel commented on #11202
@gongweixin
After I wrote this issue, we found a mistake in this issue report.

This is not correct, we can catch exceptions such as following code.
[code]
We decided to retry query simply when exception happened.

P.S.
This mistake happens by inappropriate exception handling.
In fact, catching this exception is not so difficult.

[2015-06-18 18:36] cooniur commented on #9891
@dadoonet Yeah, it looks like Groovy is the culprit. I checked our project's commit log. This issue happened after Groovy was upgraded from 2.3.x to 2.4.0.

But I'll do more test with another pure Java project to see if the problem is also there. I'll put the report here after I'm done.

Thanks!

[2015-06-18 18:41] acarstoiu commented on #8110
I'm aware of #9876, I just wanted to point out that your recommendation is evolutionary wrong.
That has nothing to do with my using the software your team wrote, nor with my spleen (thanks for asking, by the way).

I hope this time was short enough for you (and your feelings). Last, but not least, thank you for the link, you're a good writer too!

[2015-06-18 18:42] l15k4 commented on #11761
Ups, my apologies. It looks I underestimated scroll page size.
I have 100 indices on 3 nodes using 5 shards and I'm scanning  all the indices. I thought that request can hit max 5 shards, so when I set page size 200, it would be 1000 max. But it looks like the bulks have like 10 000 documents which is 10MB of text.

[2015-06-18 19:11] clintongormley commented on #11731
I'm not a Java guy, so I can't tell or not: is this issue resolved?

[2015-06-18 19:18] clintongormley commented on #11744
I'm not sure about this.  Every other extra parameter is specified in the inner object. What makes `_name` special?  It also means that you can't query a field called `_name` (admittedly an edge case).

Our documentation actually shows two conflicting syntaxes: https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-named-queries-and-filters.html#search-request-named-queries

[2015-06-18 19:19] clintongormley commented on #11685
thanks for letting us know @Alex-Ikanow

[2015-06-18 19:33] clintongormley commented on #11749
@martijnvg please take a look

[2015-06-18 19:39] clintongormley commented on #11750
A wildcarded field path which maps to no fields gets excluded.  eg:

    GET _validate/query?explain
    {
      "query": {
        "query_string": {
          "query": "name:document1 AND tags.\\*.tag1E:A"
        }
      }
    }

returns:

      {
         "index": "t",
         "valid": true,
         "explanation": "name:document1"
      }

[2015-06-18 19:54] s1monw opened #11766 "license checker should inspect packages"
the license checker today looks at `/target/lib/*.jar` I personally would feel better if we would unzip / untar the packages and check that we have license and sha1 hashes for all the jars in there. This would also work for plugins since they don't have a `/target/lib` folder which is es core specific. Note, plugins put their deps on the top level not in `lib`

[2015-06-18 19:55] clintongormley commented on #11667
then for the first use case you can use `_all`, and for the second use case you can specify the fields directly

[2015-06-18 20:02] clintongormley commented on #11202
@bigwheel thanks for letting us know.  Can this issue be closed?

[2015-06-18 20:07] clintongormley commented on #11761
thanks for letting us know @l15k4

[2015-06-18 20:07] #11761 closed

[2015-06-18 20:12] dadoonet commented on #9891
So I'm closing this for now. Feel free to reopen if you think something could be fixed on our end but I doubt it.

[2015-06-18 20:12] #9891 closed

[2015-06-18 20:13] acarstoiu commented on #9876
I've had a close look at the documentation of the upcoming [pipeline aggregations](https://www.elastic.co/guide/en/elasticsearch/reference/master/search-aggregations-pipeline.html). Quite an exciting stuff :smiley:

Yet there's a very important, I'd say capital functionality missing. The primary reason for using the server-side post-aggregations is _not_ laziness (at least not in my case), but per

[2015-06-18 20:18] dadoonet commented on #11731
@clintongormley I think it's not really solved as we may have at least to update our documentation. Need to understand what we have to update though. :)

Marking as doc for now and assigning it to me.

[2015-06-18 20:18] vineelyalamarthy commented on #2867
@clintongormley   is this some thing to be fixed?  How can I assign this bug to myself ? I m extremely interested in this.

[2015-06-18 20:32] vineelyalamarthy commented on #8235
@clintongormley  How can I assign this bug to myself. This sounds interesting.

[2015-06-18 20:59] acarstoiu commented on #9876
In the meantime I found the `filter_path` parameter which seems a good work-around (although I expect it to be less performant).

[2015-06-18 21:38] iravid commented on #11750
Hey Clinton, thanks for pointing that out. Does clear up things. I'd say
that a field path that maps to no fields should be evaluated as false in
the Boolean expression.
On Thu, Jun 18, 2015 at 22:40 Clinton Gormley <notifications@github.com>
wrote:

--
Itamar

[2015-06-18 22:06] szroland commented on #11513
Looking at this a bit more I think we might want to be just a little bit careful, and make sure the semantics of coerce is fully intended. Bytes are problematic, because they are read as shorts and then casted to byte. So to illustrate the issue, let me use a short field, and the value 32768, which is `Short.MAX_VALUE` + 1, e.g. fits only into an int.

Current behavior:

Input | Output (coerce=tru

[2015-06-18 22:24] vineelyalamarthy commented on #9538
@clintongormley   can u please tell me how to complete rest of this bug (It says 2 out of 6 completed,can u give any pointers)

[2015-06-18 22:31] kshnurov commented on #2867
@kimchy, @s1monw, please add (Phrase proximity + BM25) ranking!
While ES is very good at search, it is very bad at text search **ranking**.

Let's say we have 2 documents:
1. `(2000 words) ... child elephant from America was ... (2000 words)`
2. `Egyptian child ... (2000 words) ... american coffee with elephant ... (2000 words) ... toy elephant`

We're heard something interesting about child eleph

[2015-06-18 22:35] vineelyalamarthy commented on #2867
@kimchy @kshnurov  can I work on this bug or some one already took it ? I would like to know where to get started.

[2015-06-18 22:38] nknize commented on #11715
@clintongormley @jimmyjones2  copyTo is not supported with ```geo_point``` field. It's feasible but I don't know that its needed (especially in 2.0 with a change to GeoPointField default indexing). It should make this use-case feasible/simple with named queries. I think it might be doable with named filters (i'm helping give training so I'll revisit when I have some time to tinker).

[2015-06-18 23:13] vineelyalamarthy commented on #2867
@kimchy @kshnurov @kshnurov @clintongormley @rmuir This bug sounds very interesting, I want to work on it,you can review my code before check-in , But could you please tell me, how to get started.

[2015-06-19 00:00] brusic commented on #2867
You still have phrase matching with slop at your disposal, so there is
nothing that is preventing from rolling your own. You can also disable term
frequencies, use bigrams, or all of the above. Many of us have tuned
relevancy with the current tool set. Your queries will get complicated and
the tuning process might take a bit.

Isn't BM25 about document length normalization? Need to look at the sph

[2015-06-19 01:40] kshnurov commented on #2867
@vineelyalamarthy this IS NOT a bug, it's just [how default ES ranking works](https://www.elastic.co/guide/en/elasticsearch/guide/current/scoring-theory.html). In most cases this is more than enough.
@brusic phrase matching is a query type, not a ranking method. Ranking will be the same for the example I've posted. For now ES have [only 2 ranking methods](https://www.elastic.co/guide/en/elasticsea

[2015-06-19 02:08] brusic commented on #2867
All queries contribute to the score, so they implicitly form part of the
ranking method.

I use a complicated set of queries which includes phrase queries to provide
a boost to the score if there is a match. It would be nice to issue a
single query, but alas that is not possible if you want to fine tune
relevancy.

BM25 deals with field length normalization, so it still is TFIDF under the
hood. If

[2015-06-19 02:14] vineelyalamarthy commented on #2867
@brusic  This will be my first contribution to Elastic Search code base. I would like to work on this , if its approved as a feature request.I have the code set-up in Eclipse. Are there any other steps required to get started.If you know, how to start on this particular task, please let me know.

[2015-06-19 02:37] #11202 closed

[2015-06-19 03:22] brusic commented on #2867
Venkata, it is no different than any other git open source project. Clone
the repo, create a new branch, commit your changes (make sure you squash
your commits into a single one), and then issue a pull request. Add many
tests.

Befriend elastic devs on irc and the mailing list so that you can give some
visibility to your change.

This feature would be great to have. It feels like most do not use
e

[2015-06-19 03:40] ryanchou1991 commented on #11713
OK. Sorry for incomplete description. I re-describe the question again.
I have a amount of docs in indices in ES. e.g
[code]
And the query with highlight option e.g.
[code]
While the response result was
[code]
I set `force_source: true` in field highlight-option while the _source.title without the highlight tags <em></em>.  Did I misunderstand the `force_source` option? or the `force_source` have

[2015-06-19 03:57] litalk commented on #11667
But that requires me to parse the query, I don't want to do that... Sometimes I have combination of both use cases. E.G: '''fieldA:query AND sometext'''
And for that I can't use this solution even if I parse the query.

[2015-06-19 05:33] pickypg opened #11771 "XContentBuilder.writeValue causes StackOverflowError given Path"
If `XContentBuilder` receives a `Path` object to write, then it results in a `StackOverflowError` because it runs into the `Iterable` check, which `Path` implements (`Path implements Iterable<Path>`).

[2015-06-19 07:10] clintongormley commented on #11715
thanks @nknize - i'll assign to you then

[2015-06-19 07:59] clintongormley commented on #8235
@vineelyalamarthy no need to assign it.  If you see a PR you're interested in working on, you can just go ahead and submit a PR. Although I'd advise discussing the approach in the issue before writing any code.

Not sure this is a good one to start on though, it's more complicated than it looks. I've marked it discuss because I don't think there is an easy way to do this.  Take a look at this exam

[2015-06-19 08:07] javanna commented on #11744
I see your point, but the majority of queries don't have an inner object, which would mean leaving things pretty much as they are? I find the current situation a bit counter intuitive: if there is an inner object, that's where the `_name` goes, otherwise top level (besides bugs and inconsistencies that need to be fixed). The other way around, if we are up for a big change, not sure but lemme throw

[2015-06-19 08:29] qianshangding opened #11772 "this web application instance has been stopped already. Could not load [org.slf4j.Marker]"
六月 19, 2015 4:26:02 下午 org.apache.catalina.loader.WebappClassLoaderBase checkStateForResourceLoading
信息: Illegal access: this web application instance has been stopped already. Could not load [org.slf4j.Marker]. The following stack trace is thrown for debugging purposes as well as to attempt to terminate the thread which caused the illegal access.
java.lang.IllegalStateException: Illegal access: t

[2015-06-19 08:43] #11772 closed

[2015-06-19 08:58] l15k4 commented on #11761
@clintongormley what is the upper bound when scrolling 100 indices on this :
[code]

[2015-06-19 09:08] Jan539 commented on #4915
I'm relatively new to this topic so maybe I don't see the problem here but for my use case it is as following:

I send a query with my aggregation (using size 0) and get back an bucket array containing all the results. Now I could store those buckets and pick the first X, then the next X entries. So why isn't it possible to just let ES execute it with size 0 to store all results and give back the

[2015-06-19 09:42] clintongormley commented on #11271
I think there are only two possible solutions here:

1. Write a path-aware allocator
2. Remove multi-path support

[2015-06-19 09:46] clintongormley commented on #11271
If we remove multi-path support, users can run multiple instances per server, and we'd need to provide a tool to migrate data before starting the cluster (or use snapshot/restore)

[2015-06-19 10:09] l15k4 commented on #10417
I seem to have this issue too... I'm scanning a little more than 100 indices with `keepAlive=15s` :
[code]
on :
[code]
I haven't noticed it would happen with sorted `QueryThenFetch` scroll because I couldn't scroll as much as I can `Scan`. But when scanning it returns 0 results after ~ 100M documents from 350M. I don't check `SearchResponse#getShardFailures` though. What should I do when there is

[2015-06-19 10:57] brusic commented on #2867
I should have added that Elasticsearch does not have different scoring
models itself, but simply exposes those found in the Lucene library.
Chances are that any changes you may want to add really belong at the
Lucene layer.

That said, there are many smart people that are committers in Lucene, many
of them are now employed by Elastic. If they have not already implemented
something similar already,

[2015-06-19 12:11] gkozyryatskyy opened #11774 "GroovyScriptExecutionException: NumberFormatException[null]"
Hello.
I have a mapping like this.

    {
        "user":{
           "properties":{
              "mCount":{
                 "type":"integer",
                 "store":true,
                 "doc_values":true
              }
           }
        },
        "media":{
           "_parent":{
              "type":"user"
           },
           "_routing":{
              "required":true
           }

[2015-06-19 12:19] alexkuk opened #11775 "Rescore script: aggregation from a main query"
I wonder if there's is a way to solve my issue.
1. I have an int field visits_number, and I would like to use it as an additional factor in a score calculation
2. I have an outer query, and a rescore query.
3. In a rescore query I have a groovy script, where I'd like to have something like avg(visits_number) available - an average visits_number calculated for an outer query results.