[2017-02-20 13:43] #23257 closed

[2017-02-20 13:56] m9aertner opened #23264 "Support multiple types in Type Query"
It's a bit inconsistent that for URL queries it's possible to specify **multiple** types whereas the request body search only supports one single type.

Or maybe that _can_ be done and it's just the documentation that's a bit thin there?

https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-type-query.html

Generally, it might make sense to support the same syntax as for multi

[2017-02-20 13:57] clintongormley commented on #13462
This could be a value that is held per shard, and only reduced to a global max when the request is made, no?

[2017-02-20 14:00] dadoonet commented on #23264
Why not wrapping the type queries within a bool query and 2 should clauses?
Would that work for you?

[2017-02-20 14:03] m9aertner commented on #23264
Good idea. I will try that and post if it works, Thanks for the pointer.

[2017-02-20 14:22] m9aertner commented on #23264
Sure, works. Thanks. Closing.

[code]

[2017-02-20 14:22] #23264 closed

[2017-02-20 14:23] clintongormley commented on #23237
Duplicate of https://github.com/elastic/elasticsearch/issues/22997

[2017-02-20 14:30] #23235 closed

[2017-02-20 14:33] clintongormley commented on #23264
also note that we're planning on removing types: https://github.com/elastic/elasticsearch/issues/15613

[2017-02-20 15:15] nilabhsagar commented on #22357
@clintongormley, @areek - The problem can be improved by using a non-printing character at index time for each of the suggestion input and using the same non-printing character at query time when no context is provided. This will increase a bit of index time and memory utilization. I checked it with indexing ~20 K documents and the memory utilization was as follows:
**Captured completion size**
-

[2017-02-20 15:16] rszewczyk commented on #23212
Yes. That was it. Issue resolved! Thank you.

[2017-02-20 15:16] #23212 closed

[2017-02-20 15:21] bleskes commented on #23251
Thx @tarunramsinghani . The null pointer exception is indeed a potential bug albeit harmless - it means that collecting disk info went wrong and it will just be retried later. At this we only fix major issues with 2.4 and I don't this qualified. I suggest you upgrade and if it repeats we can dig further.

All the other problems indicate that your cluster /network is under stress. Those recovery fa

[2017-02-20 15:21] #23251 closed

[2017-02-20 15:28] imranazad commented on #23237
Steps to reproduce:

`PUT /test
{
  "settings": {
    "index": {
      "analysis": {
        "filter": {
          "english_stemmer": {
            "type": "stemmer",
            "name": "minimal_english"
          },
          "word_delimiter": {
            "type": "word_delimiter",
            "catenate_words": "true",
            "generate_number_parts": "true",
            "generate_word_part

[2017-02-20 15:34] imranazad commented on #23237
I just noticed in another issue that the unified highlighter resolves this issue. How do I actually use the unified highlighter? Is it included in the latest downloadable version of ES? I tried specifying the type as `unified` but I get back `unknown highlighter type [unified] for the field [content]`

[2017-02-20 15:42] clintongormley commented on #23237
The unified highlighter is coming in 5.3.0.  Your request works with the `unified` highlighter, and also with the `plain` highlighter.

[2017-02-20 15:45] imranazad commented on #23237
@clintongormley Ah I see, thanks for the prompt response.

[2017-02-20 16:17] bleskes commented on #13462
We already track whether a shard is active or not (shards become inactive after 5m of no writes). For that we track the nano time of the last write in the engine. I think we can expose those in the stats in the form of last time since write? Note that this is not 100% the same as it is reset during relocation of shards, but it might be good enough and simple to implement.

[2017-02-20 16:49] jpountz opened #23268 "Limit the timeout of scroll requests"
Individual scrolls requests should be consumed quickly in order not to hold references on to old segments for too long. Right now we accept arbitrary timeouts but we should be more defensive and put a limit. 5 minutes should be plenty for everyone?

[2017-02-20 16:54] nik9000 commented on #23268
Reindex's throttling relies on setting the timeout higher enough to wait
out the throttle period. Five minutes is probably fine but if we are going
to do this we'll have to touch reindex too to make the error message it
sends more sensible or to change how it implements throttling.

On Mon, Feb 20, 2017, 11:49 AM Adrien Grand <notifications@github.com>
wrote:

[2017-02-20 16:57] jpountz opened #23269 "Automatically release resources when scrolls are entirely consumed"
Automatically closing scroll contexts when they are entirely consumed proved controversial as it would make subsequent `DELETE` calls return a 404 error code. However, we could release associated resources without deleting it.

[2017-02-20 17:01] fudali113 opened #23270 "java.lang.NoClassDefFoundError: org.elasticsearch.plugins.PluginCli"
**Elasticsearch version**:5.2.1

**Plugins installed**: [none]

**JVM version**:
java version "1.8.0_91"
Java(TM) SE Runtime Environment (build 1.8.0_91-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.91-b14, mixed mode)
**OS version**:
Linux spider_web 2.6.32-573.22.1.el6.x86_64 #1 SMP Wed Mar 23 03:35:39 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
centos
**Description of the problem including expec

[2017-02-20 17:05] jasontedor commented on #23270
I don't think you're using an OpenJDK-based JDK. Can you please retry with your `JAVA_HOME` pointing to such a JDK (or remove the offending JDK installation from your path).

[2017-02-20 17:05] #23270 closed

[2017-02-20 17:08] jasontedor commented on #13462
For this we do not track absolute time, only relative time.

[2017-02-20 17:48] nik9000 commented on #23269
+1 for releasing all resources we can while keeping the 200 for the delete.

On Mon, Feb 20, 2017, 11:57 AM Adrien Grand <notifications@github.com>
wrote:

[2017-02-20 18:18] bleskes commented on #13462
Yes that's what I mean with "I think we can expose those in the stats in the form of time since last write" (although I garbled that sentence with an edit).

[2017-02-20 18:55] edalford11 commented on #21375
Is this documented anywhere yet? I'm having trouble finding good documentation on working with painless and having to rely on these issue boards to migrate off of groovy. The current painless docs on the elastic website are pretty limited.

[2017-02-20 19:03] dadoonet opened #23271 "Socket permission on S3 Repository creation"
**Elasticsearch version**: 6.0.0-alpha1-SNAPSHOT (872412f645)
**Plugins installed**: [ `repository-s3` ]
**JVM version**: `1.8.0_121`
**OS version**: MacOS
**Description of the problem including expected versus actual behavior**:

Registering an S3 repository is now failing on master branch.

**Steps to reproduce**:

 1. Install the distribution, and the repository-s3 plugin
 2. Create the keystor

[2017-02-20 19:08] dadoonet commented on #23271
Actually I did something wrong but still I'm getting this error.

Here is my mistake. I registered a client called `my_config` but I'm not using it when creating the repository.

With:

[code]

Everything works fine:

[code]

So this appears only when no credentials are found. So when we switch to IAM Profiles instead.
In such case, AWS is trying to get the metadata from the instance by calling th

[2017-02-20 19:29] clintongormley commented on #21375
@edalford11 @jdconrad is hard at work on writing better docs. it takes time, but we'll get there

[2017-02-20 19:40] jasontedor opened #23272 "IpRangeAggregatorTests#testRanges fails"
The test `IpRangeAggregatorTests#testRanges` fails with seed 4AC319F8A6B0329B.

[2017-02-20 19:43] jasontedor commented on #23272
Would you take a look @jimczi?

[2017-02-20 19:56] sarwarbhuiyan opened #23274 "Add the examples to changes required in /etc/security/limits.conf for production use"
**Describe the feature**:
Enhance the /etc/security/limits.conf example in https://github.com/elastic/elasticsearch/edit/5.2/docs/reference/setup/sysconfig/configuring.asciidoc and add in the configurations for "nproc", "memlock", "as" and any others which should be set that Bootstrap warns about.

[2017-02-20 20:14] clintongormley commented on #23274
@sarwarbhuiyan fancy sending a PR?

[2017-02-20 20:16] #23272 closed

[2017-02-20 20:16] jimczi commented on #23272
Thanks @jasontedor and sorry for the noise

[2017-02-20 20:22] abeyad commented on #23244
Shouldn't the user just re-enable shard allocation as opposed to executing this command?

Shouldn't the number of concurrent recoveries be increased in such a situation?

I feel changing the actual relevant settings is the better way to go about making sure replicas are allocated, rather than offering this one off command.  WDYT?

[2017-02-20 20:25] jasontedor commented on #23272
Thanks @jimczi.

[2017-02-21 01:21] wonkyto commented on #23004
We run multiple elasticsearch datanodes on the same system - as we change the CONF_DIR to point to the correct location for the configuration of each elasticsearch instance, it becomes an issue to have a single jvm.options file. Previously this was set via the ES_HEAP_SIZE variable in /etc/sysconfig/elasticsearch-data-node-0X however this variable is no longer supported.

Our current situation is

[2017-02-21 02:55] msjbear opened #23279 "Build es source code failed with an exception"
When run `gradle idea`, Build failed with an exception

**Description of the problem including expected versus actual behavior**:
[code]

[2017-02-21 02:59] jasontedor commented on #23279
Please ask questions on the [forum](https://discuss.elastic.co). We build on our CI continuously and have never seen this problem. Closing as not a bug.

[2017-02-21 02:59] #23279 closed

[2017-02-21 03:05] neoform opened #23280 "Repeating A Functional Search Query Results In Permanent Errors Until Restarting ES"
**Elasticsearch version**: 5.2.1

**Plugins installed**: []

**JVM version**: 1.8.0_121

**OS version**: Debian 8

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1. Execute Search Query (below), valid results returned.
 2. Repeat step #1 more than 3 times.
 3. Error message is shown.
 4. Restart ElasticSearch.
 5. Repeat step #1.

**Provide logs

[2017-02-21 06:06] vbohata commented on #23263
Sorry, :: really works without problem. Few days ago I had error in logstash from elasticsearch about parsing ::, but it looks it was actually caused by another field and ip field was just a victim.

[2017-02-21 07:31] yannisf opened #23281 "Optimize heavy filtered aliases"
I created a filtered alias that had as filter a terms query with thousands of rows. The json itself was about 40MB. The performance when searching through this alias is detrimental.

My observations are that:
- The filter is cached and a bitset is created for this filter
- Search performance takes a lot of time because elasticsearch takes a lot of time to process the filter and not to query the in

[2017-02-21 07:49] #23201 closed

[2017-02-21 07:50] #23239 closed

[2017-02-21 09:08] clintongormley commented on #23281
@yannisf what version of Elasticsearch are you using?

There is a PR which improved the performance of these queries that went into 5.1.1 https://github.com/elastic/elasticsearch/pull/21776

Also, if you could presort your terms, you'd get an extra boost.

[2017-02-21 09:20] jpountz commented on #23280
Thanks for reporting this bug.

How many nodes do you have in your cluster and how many replicas has this index?

Could you try to find the stack trace of this exception in the Elasticsearch logs?

Could you try to reproduce this bug again after adding a line that contains `-ea` to your `config/jvm.options` and restarting. This will tell the JVM to enable assertions and potentially help have more

[2017-02-21 09:32] yannisf commented on #23281
I am using 2.4, but tested this provisionally with 5.2 and the issue is still there.
My terms are uuid4. Presorting them using what sort order is the best?

[2017-02-21 10:04] jpountz commented on #23280
OK, I just reviewed conditions under which this exception may happen and it looks like the only option is that there is an orphan child document at the end of a segment. This is bad since it should never happen given how Elasticsearch enforces the block structure when nested mappings are used.

Could you check whether your index is corrupt by running the following command:

[code]

You may need to

[2017-02-21 10:09] #23237 closed

[2017-02-21 10:15] jpountz commented on #23281
Is there a way that you could add additional metadata to your documents and run `term` queries instead of running very large `terms` filters on uuids?

[2017-02-21 11:05] yannisf commented on #23281
We could, but the level of indirection the aliases provide, simplified a lot our design. You see, these metadata are quite dynamic, so the solution to just recreate the aliases (once per day) is much simpler than having to update 2Bi of documents.

Of course now that we run on this roadblock we are all open to suggestions. @jpountz I really appreciate that you are trying to help.

[2017-02-21 11:06] makeyang opened #23283 "1,526,477,536 bytes (36 %) of Java heap is used by 480 instances of org/apache/lucene/index/SegmentCoreReaders"
Elasticsearch version:
2.1
Plugins installed: []
delete-by-query
elasticsearch-analysis-ik
repository-hdfs
JVM version:
jdk1.8.0_60
OS version:
CentOS Linux release 7.1.1503
Description of the problem including expected versus actual behavior:
data nodes' memory is under a lot of presure and use heap dump to check and found below info:
1,526,477,536 bytes (36 %) of Java heap is used by 480 instanc

[2017-02-21 11:15] jpountz commented on #23185
Should we move forward on this? It looks like a low hanging fruit that has the potential to make things significantly better for most users?

[2017-02-21 11:25] danielmitterdorfer commented on #23185
@jpountz I totally agree. I ran a lot of benchmarks over the last few days (until today) and came to the conclusion that 32kb is indeed a good value. I just wanted to ensure that we don't have unwanted side effects.

Expect a PR within the next hour.

[2017-02-21 11:28] jpountz commented on #23283
Thanks, I just fixed the versions, it was fixed in 5.0 too.

[2017-02-21 11:31] jpountz commented on #23283
This likely means the node you are looking at has about 480 segments, which is not too surprising if you have 5+ shards on this node. You can look at the segments API with the `verbose` flag turned on in order to see where memery goes: https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-segments.html#_verbose_mode (beware, the output is very verbose).

[2017-02-21 12:02] akamanocha commented on #13351
Anything on this?

[2017-02-21 12:06] s1monw opened #23285 "Explore possibility of smaller size for terms aggs in incremental reduce"
This is a spinn-off from #23253 where we introduced the initial infrastructure  to reduce search requests incrementally rather than once all responses are received. For terms aggs we need to maintain all buckets until we received all responses to maintain the same results. It might be a good tradeoff to loose some additional precision if # of shards is large in order to free memory sooner.

[2017-02-21 12:14] s1monw opened #23286 "Fix terms agg error calculation if shared results are reduced incrementally."
During #23253 an issue raised with the terms aggs error calculation. Details are attached to the test case [here](https://github.com/elastic/elasticsearch/blob/master/core/src/test/java/org/elasticsearch/search/aggregations/bucket/TermsDocCountErrorIT.java#L72)

I need help with this from either @jpountz and / or @colings86

[2017-02-21 12:54] neoform commented on #23280
[code]

**From the error logs**:

[code]

[2017-02-21 12:55] neoform commented on #23280
I'm assuming I'll need to install something else for that integrity check command.

[code]

[2017-02-21 13:06] gmoskovicz commented on #22373
@s1monw still happening in v5.2.1:

[code]

Same repro steps.

[2017-02-21 13:08] jpountz commented on #23280
Does the `lib/lucene-core-6.4.1.jar` file exist?

[2017-02-21 13:12] jpountz commented on #23280
Ok so at least there is an interesting information in those stack traces: I expected the issue was caused by the query but it is actually caused by the aggregation.

[2017-02-21 13:17] gmoskovicz commented on #22373
Looks like we need to backport this fix into 5.2, it was backported to 5.1 and 5.3 already.

[2017-02-21 13:24] jpountz commented on #23280
Thanks, I found the problem. This is due to how you are using a `filter` aggregation with a query that matches top-level documents below a `nested` aggregation that matches nested documents. We should improve validation in this area but in the mean time if you can explain to me what you want your aggregation to do, I can help you fix it.

[2017-02-21 13:28] s1monw commented on #22373
@gmoskovicz thanks for reopening see https://github.com/elastic/elasticsearch/pull/22469#issuecomment-281344080

[2017-02-21 13:28] #22373 closed

[2017-02-21 13:31] gmoskovicz commented on #22373
Roger that! Thanks for the quick fix @s1monw !

[2017-02-21 13:32] PhaedrusTheGreek commented on #13462
The use case that brought this on is this - "Has the index been updated in the last x minutes?, if so copy it".

[2017-02-21 13:33] jpountz opened #23290 "Improve validation of filter(s)/nested aggregations"
Currently it is possible to mix `nested` and `filter(s)` aggregations in such a way that the `filter` aggregation matches documents that are not in the same scope as its parent aggregation, which can cause weird failures, see for instance #23280. We should improve validation to catch these problems earlier and raise a nicer error message.

[2017-02-21 13:37] jasontedor commented on #13462
Do you mean run a snapshot?

A cron trigger of running a snapshot every x minutes achieves the same.

[2017-02-21 13:40] jpountz commented on #12461
I used to see value in `include_in_root` and `include_in_parent` due to the fact that they would reuse the same underlying field instead of creating a new sparse field. However due to upcoming improvements with sparse doc values in Lucene 7 and recent improvements to `nested` queries when `include_in_root` and `include_in_parent` are disabled (#23079), I am leaning towards deprecating `include_in_

[2017-02-21 13:40] nfrm commented on #23280
Sorry, I just noticed I had given you the stack trace for the 'full' query. My original bug was for a slimmed down version of the query that contained fewer aggregations.

Here's the first query's stack trace (the one in my first post):

[code]

[2017-02-21 13:41] nfrm commented on #23280
If it would help debug this, I'm ok with giving you a full copy of my index (zip the ES data dir), since this is not production data (and it's not sensitive data).

[2017-02-21 13:58] jpountz commented on #23280
I think I can help without looking at the data, the issue is with the `nested` and`filter` aggregations: you have a `nested` aggregation that switches the scope to `products.brands` while the filter matches root documents. I suspect what you actually want to do is to make the `nested` aggregation a sub-aggregation of the `filter` aggregation rather than the other way around. Something like this (n

[2017-02-21 13:59] clintongormley commented on #13462
@jasontedor there are other use cases, eg if index A, B, or C have changed since $last_built, then rebuild the composite index X

[2017-02-21 14:07] nfrm commented on #23280
I believe I had tried that originally and either got the same results, or got incorrect results, which is why I think I switched it.

My goal with the aggregate is to repeat the same query, minus the brand filter, that way I can get a list of all brands that would otherwise apply to the results had I not limited to a specific one in the main query.

I'll give that a try. Though I'm still at a loss

[2017-02-21 14:10] jasontedor commented on #13462
@clintongormley Yes, I completely agree. 😄

It's important that we understand what those are so that we know whether or not they can be solved already today (like snapshotting), whether or not we need to provide a solution that is robust in the face of relocations, and whether or not we need to provide a solution that uses an absolute clock versus a relative clock.

[2017-02-21 14:17] nfrm commented on #23280
Yeah, when I was doing that query, the bucket counts weren't the correct counts (eg, the result count if I were to replace the brand id in the main query with the one shown in the brands aggregation). The only way I was able to get the correct values was with the first query I posted above. :(

[2017-02-21 14:22] jpountz commented on #23280
This is due to caching. On the first runs, the filter aggregation only evaluates the filter against documents that match the query. However after it has been used multiple times, Elasticsearch thinks the filter is worth caching, and the caching process evaluates the filter against the whole index, which highlights this issue.

[2017-02-21 14:24] jpountz commented on #23290
@martijnvg I wonder whether the `NestedScope` that you put in place some time ago could help improve validation?

[2017-02-21 14:25] nfrm commented on #23280
This makes sense, I figured it was something like that, but wasn't 100% sure. So is the bug with my query, or with ES (both?).

I can try to figure out a different way to get the results I want, I just need to be sure the problem is on my end.

[2017-02-21 14:28] nfrm commented on #23280
Actually, I just realized that you were right with your suggested query, it was just missing one detail, I wanted that agg to be global scope..

This gives me what I want:

[code]

[2017-02-21 14:30] jpountz commented on #23280
Both I would say. I opened #23290 in order to try to detect invalid queries at parsing time rather than relying on search-time validation, which gives cryptic error messages. I will close this issue now if you don't mind.

[2017-02-21 14:30] #23280 closed

[2017-02-21 14:45] maddin2016 commented on #23269
Is [this](https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/action/search/SearchScrollQueryThenFetchAsyncAction.java#L171) a good place to release? Here we get no more hits. What are associated resources which can be released? Just to understand for my self. Where you define which hits should return per request. And second, a scroll context is just an Array

[2017-02-21 14:46] PhaedrusTheGreek commented on #13462
The use case is for a "near-realtime sync" between 2 indices in different clusters.  I guess this will be solved eventually with changelog, but for now, we could run snapshot/restore every single minute, but that seems inefficient.  It would be better if we could say "Something has changed, run the snapshot/restore process"

[2017-02-21 15:14] jpountz commented on #23269
The context is initially created by `SearchService.createSearchContext`.

I think we can close the search context once all hits have been consumed on a shard, maybe at the end of the fetch phase if `from+size` is greater than or equals to the total number of docs in the index? As a side-effect this will release memory used by the Lucene index as well as various caches we maintain: query, fielddata

[2017-02-21 18:21] ppf2 opened #23294 "Document date aggregation limitation on arbitrary time intervals"
As part of https://github.com/elastic/elasticsearch/pull/19649 and https://github.com/elastic/elasticsearch/issues/8939, it is revealed that date histogram does not support arbitrary time intervals, eg. 2M (for 2 months), etc.. for larger time spans like months, years, and weeks (on 5.0+).

1.  Our documentation today (https://www.elastic.co/guide/en/elasticsearch/reference/master/search-aggregati

[2017-02-21 18:57] martijnvg commented on #20888
This has been implemented via #22336

[2017-02-21 18:57] #20888 closed

[2017-02-21 19:14] martijnvg commented on #23290
@jpountz I think it can be used for that. I think we can add validation in `NestedScope#nextLevel(...)` method where we both know the current and next nested object level. I think we can check the `nestedTypePathAsString()` of each object mapper (current has to be a prefix of the next level). If we can place this validation here then the validation would apply for nested query, nested agg and reve

[2017-02-21 19:34] sirctseb opened #23295 "Non-sentence in documentation"
The above is not a sentence.

[2017-02-21 19:46] jasontedor commented on #23295
For future reference, we do not require an issue to submit a pull request against.

[2017-02-22 01:34] makeyang commented on #23283
@jpountz  thanks. so I guess we can close this issue.

[2017-02-22 02:26] neoform opened #23299 "ES Crashes When Using A Nest Document Agg, Then Specifying The Path A Second Time"
**Elasticsearch version**: 5.2.1

**Plugins installed**: []

**JVM version**: 1.8.0_121

**OS version**: Debian 8

**Description of the problem including expected versus actual behavior**:

**Possibly related to Issue**: #23280

**Steps to reproduce**:
 1. Create an agg that makes use of nested document.
 2. In a sub-agg, list that path a second time.
 3. Execute search
 4. ElasticSearch crashes

[2017-02-22 02:57] zacbayhan commented on #21405
Sorry to bring up an old topic but which data folder did you delete? The once located in the logstash directory?

[2017-02-22 05:10] vivred opened #23301 "Reg aggregation using java client"
Hi,

Earlier in elasticsearch 2.4 version, we used to fetch aggregation json string from DB (agg string used to get added dynamically) and used to set aggregations using setAggregations(bytes[] string) method in java transport client. But now when we updated to 5.0 we found that setAggregations is no longer supported.

Could anyone please help me how to build aggregation from json String. As those

[2017-02-22 05:11] jasontedor commented on #23301
Please ask questions on the [forum](https://discuss.elastic.co). Elastic reserves GitHub for verified bug reports and feature requests.

[2017-02-22 05:11] #23301 closed

[2017-02-22 05:17] vivred commented on #23301
I did ask this in forums, but didnt get any reply. There is also an another post on the same issue 1 month back but no reply was given by anyone. Didnt find any solution in documets also.so thought this is right place since developers would know the best.

[2017-02-22 05:37] vivred commented on #23301
https://discuss.elastic.co/t/reg-aggregations-using-java-client/75861

[2017-02-22 05:44] vivred commented on #23301
https://discuss.elastic.co/t/setaggregation-in-java-client-builder-not-available-in-5-x/68317

previous topic which no one replied

[2017-02-22 05:47] vivred opened #23302 "Reg setAggregations using java client"
Hi,

Earlier in elasticsearch 2.4 version, we used to fetch aggregation json string from DB (agg string used to get added dynamically) and used to set aggregations using setAggregations(bytes[] string) method in java transport client. But now when we updated to 5.0 we found that setAggregations is no longer supported.

Could anyone please help me how to build aggregation from json String. As those

[2017-02-22 05:53] jasontedor commented on #23302
Duplicates #23301

[2017-02-22 05:53] #23302 closed

[2017-02-22 05:54] jasontedor commented on #23301
You opened the topic nineteen hours ago. There is no SLA on the forum.

[2017-02-22 05:57] vivred commented on #23301
https://discuss.elastic.co/t/setaggregation-in-java-client-builder-not-available-in-5-x/68317

this was created on dec 16. no reply at all

[2017-02-22 07:53] #23283 closed

[2017-02-22 08:01] jpountz commented on #23299
This seems to be the same issue as #23280 indeed.

[2017-02-22 08:02] zhaozhenxiang commented on #21932
@binjo  Your answer is help me.

[2017-02-22 08:05] gqy2468 commented on #14928
+1

[2017-02-22 09:19] mostolog commented on #22285
Using 5.2.1 it seems I'm still having this issue:

[code]

Is there anything I can do?

[2017-02-22 09:38] s1monw commented on #22285
@mostolog are you running an older version of ES in your cluster anywhere?

[2017-02-22 09:42] mostolog commented on #22285
I would say not, but after so many tests I don't know what I tried and what I didn't.
I don't know it could be related, but cerebro was running each time it happened. (I'm trying to get a replication use case)

[2017-02-22 09:46] clintongormley commented on #22285
@mostolog this request will tell you what versions are running:

    curl -XGET "http://localhost:9200/_nodes?pretty&filter_path=nodes.*.version"

(btw, cerebro is the kopf rewrite https://github.com/lmenezes/cerebro so stats related)

[2017-02-22 09:48] mostolog commented on #22285
[code]

[2017-02-22 09:51] s1monw commented on #22285
@mostolog how can you tell that this is related to stats serialization? I can't see a stacktrace in your case

[2017-02-22 09:54] mostolog commented on #22285
Just reproduced a similar error without cerebro or any references to stats, so'll probably have to look elsewhere:
[code]

does it sound familiar to you?

@s1monw among other things, the first to complain was cerebro.

Thanks and sorry for rebumping

[2017-02-22 10:54] netmanito commented on #22156
Hi everyone,
I've managed to reproduce the same error when trying to create snapshot on hdfs from elasticsearch.
Tried with ES-5.1.1 and repository-hdfs installed through elasticsearch-plugin on centos7.
OpenJDK 64-Bit Server VM (build 25.111-b15, mixed mode)
It worked the first time and I was able to create a first snapshot.
Once done, I couldn't access to it or create any other new snapshot and

[2017-02-22 10:56] jpountz commented on #23295
Closed via #23296.

[2017-02-22 10:56] #23295 closed

[2017-02-22 12:38] uschindler opened #23306 "Term query on _index field does not take aliases into account"
While trying to remove indicesQuery (deprecated by #17710) in my own code base, I noticed the following problem: The indicesQuery supports to pass any name of an index to the query, so also aliases work (of course it does not work with filtered aliases, doesn't it? - but that does not matter for the problem).

In my case I needed a query that returns results of a query for a specific index only (o

[2017-02-22 12:49] neoform commented on #23299
Thought so. Outcome was slightly different though, since this actually kills the ES instance completely.

[2017-02-22 14:59] clintongormley commented on #23306
Good point @uschindler - thanks

[2017-02-22 15:06] nik9000 commented on #23001
I took another look at 5.3 and 5.x and fixed a few remaining `curl` requests without Content-Types. Everything looks good now so I'm closing this issue. Thanks for opening it @jordansissel and thanks to @jimczi, @tbrooks8, @danielmitterdorfer, @tlrx, @imotov, @cbuescher, @spinscale, @dakrone, and @areek for converting all of the required docs to CONSOLE! We're done here. Thanks again!

[2017-02-22 15:06] #23001 closed

[2017-02-22 15:24] uschindler commented on #23306
I think the fix would be quite easy by using the same matching algorithm like indicesQuery does on the `doToQuery()` method:

[code]

I think, `IndexFieldType` should do something similar, here the example for termQuery method (similar in the other methods like termsQuery):

[code]

I can try to provide a PR about this!

[2017-02-22 15:27] uschindler commented on #23306
There is still the question what to do with "filtered" aliases. Those are already broekn with indicesQuery. The "correct" way would be to apply the filter instead of matchAllDocs.

[2017-02-22 15:44] phile314-isska commented on #23218
I am also running into this problem. Any ideas when this fix will be released?

[2017-02-22 15:45] jasontedor commented on #23218
I'm very sorry, but we do not provide release timelines.

[2017-02-22 16:51] #23242 closed

[2017-02-22 17:32] clintongormley commented on #23258
@yangsishu what you're seeing may be caused by a bug fixed in https://github.com/elastic/elasticsearch/pull/23310

[2017-02-22 18:40] uschindler commented on #23306
...not so easy to fix because `context.matchesIndices` disappeared in master branch.

[2017-02-22 19:29] jasontedor commented on #22285
@mostolog I think that your node is GCing and that's leading to disconnects and timeouts:

[code]

[2017-02-22 19:51] jasontedor commented on #13462
@PhaedrusTheGreek For that use case, a solution that is not robust in the face of relocations will work. If an indexing request hits, then the shard is relocated, and no future indexing requests arrive, the shard will not be seen as changed.

[2017-02-22 21:39] mikemccand commented on #22912
OK https://issues.apache.org/jira/browse/LUCENE-7686 is now fixed for Lucene 6.5.0; once we upgrade then we can expose the option in ES.

[2017-02-22 21:42] elasticsearchssl commented on #664
the plugin that just do that(ssl on both http and transport) and nothing more:
https://github.com/elasticsearchssl/easyssl

[2017-02-22 22:35] elasticmachine opened #29762 "Add ability to modify the cluster name dynamically"
*Original comment by @bohyun-e:*

ECE users need the ability to dynamically change the cluster name because the long cluster uuid isn't very helpful in identifying a cluster from many many clusters.

@pickypg and @AlexP-Elastic suggested adding a dynamic setting `cluster.display_name` that could be used by the UI for display purposes.

[2017-02-22 22:59] cbuescher opened #23315 "Tests: SamplerAggregatorTests fails reproducibly"
Just ran into this during a local build. SamplerAggregatorTests fails reproducibly on current master (175bda64a026b1a5a33f7e505cf4e17ce9d05c0f)

[code]
[code]

[2017-02-22 23:11] #23169 closed

[2017-02-22 23:13] asanderson commented on #664
Nice job!

[2017-02-22 23:20] jpountz commented on #23299
Right, this is because you added `-ea` to tje JVM options and Elasticsearch hit an assertion error, which makes the node stop.

Closing in favour of #23280.

[2017-02-22 23:20] #23299 closed

[2017-02-22 23:25] awick commented on #664
There is also https://github.com/floragunncom/search-guard-ssl/

Still hoping Elastic starts including basic security in the free version!  Maybe they will announce that at ElasticON 2017! :)

[2017-02-23 04:35] neoform opened #23319 "Expected Agg Count Doesn't Match Query Count, Even When Using Same Filters"
**Elasticsearch version**: 5.2.1

**Plugins installed**: []

**JVM version**: 1.8.0_121

**OS version**: Debian 8

**Description of the problem including expected versus actual behavior**:

When doing a query that uses the same filters in a globally scoped agg, the counts do not match.

**Steps to reproduce**:
 1. Using an index with a single shard on a single node execute query that contains a gl

[2017-02-23 07:09] #23315 closed

[2017-02-23 08:07] jpountz commented on #23319
You are not counting the same thing in both cases. In the `hits` section, you are counting root documents while in the `aggs` section you are counting the number of nested documents under the `product.brand` path. If you want counts to be comparable, you need to use a [reverse nested](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-reverse-nested-aggregat

[2017-02-23 08:07] #23319 closed

[2017-02-23 09:08] mostolog commented on #22285
@jasontedor Any way to avoid GC having such an effect on my node?

[2017-02-23 09:15] s1monw commented on #22285
@mostolog please use the [forum](https://discuss.elastic.co) for questions like this. Your issue is unrelated to this.

[2017-02-23 09:27] cbuescher opened #23322 "Tests: Netty4PipeliningEnabledIT#testThatNettyHttpServerSupportsPipelining fails reproducibly"
On current master (771fd1f4eaa700ddecf634dee04be80f0a40471f): https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+g1gc/1844/console

'''
gradle :modules:transport-netty4:integTestRunner -Dtests.seed=BF593F0EC855DB4E -Dtests.class=org.elasticsearch.http.netty4.Netty4PipeliningEnabledIT -Dtests.method="testThatNettyHttpServerSupportsPipelining" -Dtests.security.manager=true -Dtests.

[2017-02-23 09:36] cbuescher commented on #23322
Probably related: https://github.com/elastic/elasticsearch/pull/23317

[2017-02-23 10:15] uschindler commented on #22912
Thanks Mike, looks great. We just need some DSL changes to allow to pass "dedup" to suggester. I am still thinking about a good solution for previous "outputs" (if you have multiple suggestions per document, it is not easy to correlate the correct "output" with the suggestion. But with some JSON tricks this might be easy to solve.

[2017-02-23 10:48] clintongormley commented on #23001
thanks everybody for making this happen

[2017-02-23 10:56] bleskes commented on #23322
Yep. It does.

[2017-02-23 11:35] marcinn commented on #14507
ElasticSearch 5.x still has no REST API. It breaks many REST constraints. Please read carefully these great articles - http://t-code.pl/blog/2016/02/rest-misconceptions-0/

Please update documentation and web pages. Please write clearly that ES uses HTTP/JSON API. You don't need to explain anybody the differences. Just write truth. Thanks.

[2017-02-23 11:39] sudheesh001 commented on #18517
I don't think this issue exists anymore and can be closed. `Max` only contains `getValue()` now,

[2017-02-23 12:31] jimczi commented on #22912
What you describe here would better fit in the `phrase` suggester which works with an n-gram model and scores suggestions based on frequency and co-occurence. The completion suggester is agnostic to frequency and is solely based on the provided `weight` to rank the suggestions. Not providing a `weight` and relying on duplication to find the best matches is not in the scope of this suggester. The d

[2017-02-23 12:44] uschindler commented on #22912
bq.  For this use case I think you're right we don't have a good answer in ES unless you're able to do the de-duplication/ranking on your side. The phrase suggester might be one but autocomplete is not implemented (only did you mean behavior).

That's exactly my problem! And the example to suggest author names of books is the exact use-case I (and many others) seem to have.

[2017-02-23 12:58] mbullock1986 opened #23323 "Epoch Nano in date time format"
**Describe the feature**: I currently have to convert EPOCH nano to EPOCH milli to be supported in Elastic Search. Can EPOCH Nano be added to date formats?

[2017-02-23 13:46] jpountz commented on #23323
Indeed we have been thinking about increasing the accuracy of date fields for some time now, but it is not easy. Closing as a duplicate of #10005.

[2017-02-23 13:46] #23323 closed

[2017-02-23 13:48] gilfernandes opened #23324 "NullPointer on from parameter with negative value and 500 code instead of 400 error"
I have tried to fire a silly request to ElastiSearch 5.1.1:

GET products/_search
[code]

and got this:

[code]

I had expected a 400 (user error) and a meaningful error message, like e.g: from parameter cannot be negative.

[2017-02-23 14:02] mbullock1986 commented on #10005
Epoch Nano would be great we provide our customer logs in EPOCH nano and we have to sed these down to milli which adds processing time.

[2017-02-23 14:07] vikasdp opened #23325 "exists query doesn't work against a property which is nested below two levels"
ElasticSearch version 2.3.2

I have following schema

[code]

when using following query - it doesn't return documents matching "exists" criteria. note- `referredInstKeyData` is a second level nested element.

[code]

If I search for documents WITHOUT "exists" clause it returns correct document as shown below

[code]

appears `exists` clause doesn't work if element is more than one level deep (nes

[2017-02-23 14:32] #23322 closed

[2017-02-23 15:13] pmusa commented on #23142
I am getting the same error trying to use synonyms. Is it also going to be supported by the change @jpountz?

[2017-02-23 15:19] jpountz commented on #23142
The particular issue that @synhershko reported will be fixed when we upgrade to Lucene 6.5 (which is expected to be the case for Elasticsearch 5.4). However synonyms are more complicated since the set of synonym rules is currently opaque to the consumers of the synonym filter, so they have no way to know whether the synonym filter introduces new tokens or whether it only replaces some tokens.

[2017-02-23 15:27] volodymyrpavlenko opened #23329 "Nested documents _score is overwritten by the root document _score"
I'm currently trying to implement a query to make a scored search on a nested document and then perform an aggregation on the hits. I also need to sort the aggregations according to the score of the nested document.

A very simplified mapping can be described:
[code]

To achieve the initial requirement, I used technique that is called "field collapse". The query looks like this:
[code]

It works f

[2017-02-23 16:12] pmusa commented on #23142
What I wanted was a dictionary. Like synonyms with just the keyword tokenizer, but that is not guaranteed for all users :/ Guess fielddata it is :)

[2017-02-23 16:28] javanna commented on #19055
hi @godiedelrio , we high level REST client will still depend on Elasticsearch at least in the beginning.  That means it will also require java 8. People that can't upgrade to java 8 or don't want Elasticsearch as a dependency can use the low level REST client, and take care of writing requests and reading back responses in their own application.

[2017-02-23 16:36] javanna opened #23331 "Java High Level REST Client plan for first release"
This is a meta issue to track work that's being done on the Java High Level REST Client.

See https://www.elastic.co/blog/state-of-the-official-elasticsearch-java-clients to know more about the state of the official Java clients and the plan moving forward.

The `RestHighLevelClient` will allow to reuse the same request objects (`ActionRequest` subclasses) and responses (`ActionResponse` subclasse

[2017-02-23 16:36] javanna commented on #19055
Closing this in favour of #23331 that's more specific to the high level REST client.

[2017-02-23 16:36] #19055 closed

[2017-02-23 16:44] ps23 commented on #20676
I have the same issue. The documentation says:
"It is also possible to highlight against a query other than the search query by setting highlight_query. This is especially useful if you use a rescore query because those are not taken into account by highlighting by default. Elasticsearch does not validate that highlight_query contains the search query in any way so it is possible to define it so l

[2017-02-23 16:46] jpountz commented on #23142
Can't you do something with ingest?

[2017-02-23 16:50] cdenneen opened #23332 "ES_* deprecated variables shouldn't exit 1 based on ES own recommendation"
Line 76 of 5.2.1 /usr/share/elasticsearch/bin/elasticsearch recommends adding ES_HEAP_SIZE to ES_JAVA_OPTS but if testing for that causes an `exit 1` then it's not correct.

[code]

Either that recommendation needs to be removed or the test wrapped around ES_HEAP_SIZE needs to be more forgiving (in it's own test that doesn't `exit 1`)

Many of these suggestions are to add these variables to `ES_JA

[2017-02-23 17:16] pmusa commented on #23142
I need a dictionary lookup: "elastic search" => "elasticsearch", "es" => "elasticsearch", which is not natively implemented (and I don't think it will). I could do it with scripts defining the dictionary (it is small) in the pipeline itself. (I will try both and check the performance impact). Thanks

[2017-02-23 17:57] jasontedor commented on #23332
I think that you're misunderstanding the purpose of these lines. The purpose of these lines is to inform you that environment variables that we use to support are no longer supported. It would be awful to migrate from Elasticsearch 2.x (where `ES_HEAP_SIZE` was a common way to set the heap size) to Elasticsearch 5.x (where `ES_HEAP_SIZE` does nothing) and Elasticsearch silently marches on ignoring

[2017-02-23 17:57] #23332 closed

[2017-02-23 18:00] aateeque commented on #20899
5.1.2 worked pretty much out of the box; but trying to install 5.2.1 on the same box I am seeing the same error:
[code]

Where all does the install script look for the min heap size settings?

In my jvm.options I have:
   - `-Xms2g` & `-Xmx4g` commented out
   - `-server` set
   - `Xss1m` set

Have env var: `ES_HEAP_SIZE=-Xms4g -Xmx4g`

Any pointers on what's happening here? Thanks!

[2017-02-23 18:03] biinari commented on #19858
The only place I can find it mentioned is in the [5.0 breaking settings changes](https://www.elastic.co/guide/en/elasticsearch/reference/5.0/breaking_50_settings_changes.html#_search_settings)

Some mention would be useful along with a little background on reasons for keeping it low and how high it might be reasonable to set it in particular circumstances. It looks like the default value is 1024.

[2017-02-23 18:09] jasontedor commented on #20899
I think that you have `-Xms` or `-XX:MinHeapSize` set in (either in `jvm.options` or `ES_JAVA_OPTS`) and you have also set `JVM_MS`. Just unset `JVM_MS`.

Also, `ES_HEAP_SIZE` is not supported in 5.x, you need to remove that.

[2017-02-23 18:21] aateeque commented on #20899
I am running ES 1.x on the same box; will removing `ES_HEAP_SIZE` cause problems for v1 instance?

[2017-02-23 18:25] jasontedor commented on #20899
If you're using `ES_HEAP_SIZE` for your v1 instance then yes, removing it will cause problems because it will not be set anymore when you start your v1 instance.

[2017-02-23 18:31] aateeque commented on #20899
I have another server, which has both 1.x & 5.2.1 running quite happily with `ES_HEAP_SIZE=4g`. I have copied over the same java.options file, but can't install the service on second server.

After copying the jvm.options over I am now getting this on server 2:
[code]

[2017-02-23 18:35] jasontedor commented on #20899
If this is the case, then you started 5.2.1 without `ES_HEAP_SIZE` set. That environment variable is unsupported for 5.x, and we do not silently ignore it so that you do not mistakenly think it's doing something useful.

The error message that you're seeing now is expected when `ES_HEAP_SIZE` is set and a 5.x instance is started.

I'm sorry that you're struggling with this. The changes across two

[2017-02-23 18:39] aateeque commented on #20899
I've removed that env var, and now trying `elasticsearch-service.bat install`, I get:
[code]

[2017-02-23 18:47] jasontedor commented on #20899
You have to look at the service logs. May I suggest again that you create a topic on the [forum](https://discuss.elastic.co)? Feel free to link to it from here.

[2017-02-23 19:57] mikeh-elastic opened #23336 "support search_analyzer on keyword fields for search time synonyms"
Allowing a search_analyzer on keyword fields could allow for search time synonyms and run the same character and token filters used in a normalizer to be used with normalized keywords.

[2017-02-23 20:22] aateeque commented on #20899
Thanks, I have created it [here](https://discuss.elastic.co/t/running-1-x-5-x-sxs/76289)

[2017-02-23 20:34] jasontedor commented on #23185
This is really great work @danielmitterdorfer, thank you for digging into this.

[2017-02-23 21:05] martijnvg opened #23338 "Change field data apis to use BaseCompositeReader instead of DirectoryReader"
Because we use `DirectoryReader` we can let the lucene test framework randomily wrap the readers in our aggregation unit tests:
https://github.com/elastic/elasticsearch/pull/23305/commits/5bbfb6c5bb57c28215d29a8b5874a4517704a530#diff-ab07a3e29560885c391583295d69c3d1R101

If we would change all field data and field data cache signatures to use `BaseCompositeReader` instead of `DirectoryReader` we w

[2017-02-23 21:57] jpountz commented on #23338
I think it was done this way because directory readers guarantee that they remain open for a long time, while index reader wrappers may be short-lived, which can cause performance bugs.

[2017-02-23 23:53] #23104 closed

[2017-02-24 03:12] nidgupta commented on #11340
I also faced the same issue of dynamic mapping ended up with different data types on 2 shards. we are not yet on 2.0, so as work around I snapshotted and restored the index, all good now.

[2017-02-24 03:27] etay2000 opened #23340 "Setting globalText property on SuggestBuilder instead of the #text property on each SuggestionBuilder returns null from SearchResponse#getSuggest"
**Elasticsearch version**: 5.2.1

**Description of the problem including expected versus actual behavior**:

Calling the setGlobalText method on SuggestBuilder should be a shortcut to setting the text() property on each SuggestionBuilder added to the SuggestBuilder. Currently setting just the global text causes the Suggest object returned by SearchResponse to be null.

**Steps to reproduce**:
 `
S

[2017-02-24 05:12] demoaccount2015 opened #23341 "Invalid result returned with queryString on string array field."
I have field tags:["software engineer", "IT implementation"].

I have prepared term aggregation on tags field. which return me bucket: [{software engineer: 1} , {IT professional: 1} ]

now in term aggregation filter, I am using queryString to filter "software profess" tags. Term aggregation filter doesn't filter data.

I have used position_increment_gap:100 for tagsList field in indexing. Still, I

[2017-02-24 07:28] danielmitterdorfer commented on #23185
Thanks @jasontedor. I also checked our benchmarks and in almost all cases we see an upward trajectory. However, we have still one problematic case: outside of TLAB allocations for smaller heap sizes (2GB) for the full-text benchmark increased significantly causing a drop in indexing throughput. I am currently investigating what's causing this and running further tests. So: more digging ahead.

[2017-02-24 09:47] sundarv85 opened #23343 "term_queries are not cached"
Elasticsearch version: 5.2.0

Plugins installed: None

JVM version: 1.8.0_74

OS version: macOS 10.12.3

In our case, almost all our queries are only bool queries with term filters. So we would like to enable the term_queries setting in `index.queries.cache.term_queries` as described in the pull request https://github.com/elastic/elasticsearch/pull/21566

**Steps to reproduce**:
1. https://gist.gi

[2017-02-24 10:44] moyukhbera opened #23346 "Shingles not working in ES 5.2.1 for search queries with odd no. of words"
When trying to search with odd no. of words with my shingle analyzer in ES 5.2.1, no result shows up.

eg: '**new delhi abcd**' does not return any results but '**new delhi abcd xyz**' returns

My analyzers look like below
[code]

The mapping for the type is shared below

[code]

**Query 1**

[code]

**Results**

[code]

**Query 2**

[code]

**Results**

[code]

Query 2 returns results in ES 5.0.0

[2017-02-24 11:24] ywelsch commented on #23346
Can you at least link to the discuss issue (which just links to stack overflow)?

https://discuss.elastic.co/t/shingles-not-working-with-odd-no-of-search-words/76356

I've tested this with ES 5.1.2 and ES 5.2.1. The former ES version correctly returns the documents, the latter does not.

The _analyze endpoint returns exactly the same output on both 5.1.2 and 5.2.1 but explain returns the following

[2017-02-24 11:28] johtani opened #23347 "Add normalizer param support in _analyze API"
Analyze API does not support normalizer param yet.
It should get normalizer param for explaining how it works.

[2017-02-24 11:44] jimczi commented on #23346
This is a bug indeed. The shingle filter creates disconnected graph that the Lucene query builder is not able to parse. I've created https://issues.apache.org/jira/browse/LUCENE-7708 to track the progress.

[2017-02-24 11:45] ywelsch commented on #23346
THanks @jimczi !

[2017-02-24 12:03] matAtWork opened #23348 "Incorrect parsing of a JSON doc containing a zero-length fieldName"
The error generated by [DocumentParser.java#L182]( https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/index/mapper/DocumentParser.java#L182) (`object field starting or ending with a [.] makes object resolution ambiguous: [" + fullFieldPath + "]"`) incorrectly rejects the field path "", which is not ambiguous.

This kind of document (edge-case, I know) was acc

[2017-02-24 12:43] johtani commented on #23347
It should support cases as follows:
* normalizer param only when normalizer setting in index settings
* custom normalizer param
* explain with normalizer

and some error cases:
* specify not support char_filters/filters
* normalizer param with tokenizer/analyzer

[2017-02-24 13:04] moyukhbera commented on #23346
Thanks @ywelsch @jimczi !

[2017-02-24 14:13] bra-fsn commented on #21375
It would be so good to have a usable documentation AND REPL somewhere. Writing painless scripts is like pain in the ass now. :(

[2017-02-24 14:31] jpountz commented on #23343
Your recreation does not cache the term query because we only cache on segments that both have more than 10k documents and account for more than 3% of the shard size.

Why do you want term queries to be cached? The term filter in your recreation should execute very quickly without any caching.

[2017-02-24 14:31] #23343 closed

[2017-02-24 14:31] avishake opened #23353 "parsing_exception: no [query] registered for [filtered]"
Hi,
I am trying to find all the results which is not contain a field 'open_location'. I am using the below code. But it gives me the error for print result. The error is,
  parsing_exception: no [query] registered for [filtered]

Please help me...

 `$index_name=$db_name.'_temp_traking';
		$para= [
			'index' => $index_name,
			'type' => $index_name,
			'body' => [
				'query' => [
					'filtered'

[2017-02-24 14:43] yandooo opened #23354 "'us-east-1` is not a valid region when creating s3 bucket"
Elasticsearch version: `5.2.0`

[code]

JVM version: 1.8

OS version: Alpine Linux

Describe the feature:

When we use `us-east-1` s3 plugin does not work.

[code]

Response:

[code]

removing region does not work as well. Any ideas?

[2017-02-24 14:44] jpountz commented on #23353
You are using old syntax that was deprecated in 2.0 and removed in 5.0. You should run the following:

[code]

[2017-02-24 14:44] #23353 closed

[2017-02-24 14:50] avishake commented on #23353
I want to find those which documents haven't 'open_location' field. The above code is checking that if 'open_location' exists then search. I need the opposite.

[2017-02-24 14:54] jpountz commented on #23353
For the record, this is NOT what your original query was trying to do. Anyway, here is a new query that should do the job:

[code]

[2017-02-24 14:54] sundarv85 commented on #23343
Ah! Thanks for info `more than 10k documents and account for more than 3% of the shard size.`

We currently are facing an issue, where we have 12 indexes with each have 5 shards and in total this has 90 million documents. Each of these documents contains nested document of approx. 25 each. So in total this is around 206 million documents (the output from _stats).

When we query all these 12 weeks

[2017-02-24 15:03] jpountz commented on #23343
Interesting, we have improvements to `nested` and `range` queries coming to Elasticsearch 5.4, which should yield sizable improvements: #23079 and #23119. In the meantime, the only workaround I can think of is to add the list of the types you are searching in to the URL, eg. `index/type1,type2/_search` rather than `index/_search`, which night improve the way nested docs are masked depending on you

[2017-02-24 15:24] sundarv85 commented on #23343
Thanks. We will upgrade to 5.4, when it is released. Meanwhile, what I hope would help us is to increase the request cache from 1% to 10% of the heap size, because as we use aggs so often, I expect the request cache to be a valuable fallback. For e.g. in one of the shards I see

[code]

So increasing should return the miss_count. I will test this setup and will update here, if that helps.

One mor

[2017-02-24 15:26] dakrone commented on #23348
@matAtWork I definitely agree the message could be clearer. This was something I introduced to fix a different mapping problem in https://github.com/elastic/elasticsearch/pull/22891

I'll take a look and see if I can make the error more descriptive of the actual problem.

[2017-02-24 15:29] jpountz commented on #20797
Based on changes coming to 5.4 and how they perform in the new `Nested` track (https://elasticsearch-benchmarks.elastic.co/nested/index.html), I consider this issue fixed.

[2017-02-24 15:29] #20797 closed

[2017-02-24 15:30] jpountz commented on #23343
Actually the profile API disables caching entirely, it never goes to the cache. Maybe you should add a thumbs up to this issue if you are interested in figuring out what gets cached? #20108

[2017-02-24 15:31] matAtWork commented on #23348
Thanks for the quick response. Incidentally, I got around my issue by creating a mapping with "enabled: false" for the objects containing these keys (they're a state machine - I don't want to search them), which introduces the anomaly that this can indexed in some mappings (enabled: false), but not in others

[2017-02-24 15:38] sundarv85 commented on #20108
+1

This is definitely a very valuable feature esp when debugging complex caching issues. Currently in our stack, we have indexes with 200 Million documents and aggregation response takes somewhere between 4-60 seconds. Debugging such issue is too complicated. When profile API can respond back if the response comes from cache or not, such information could be very helpful.

[2017-02-24 15:48] trik-1 opened #23356 "String query "*" returns all documents when allow_leading_wildcard and analyze_wildcard are set to false"
Elasticsearch version: `5.2.0`
[code]

JVM version: 1.8

OS version: Alpine Linux

When running the below query all documents are matched using the `*` query:

[code]

Should the `allow_leading_wildcard` and `analyze_wildcard` settings cause this to fail ?

For example conversely

[code]

results in a parse exception with the reason "parse_exception: '*' or '?' not allowed as first character in Wi

[2017-02-24 15:49] cbuescher commented on #23324
I agree we should catch this earlier. I just reproduced this on 5.1.2. and there I get an ArrayIndexOutOfBoundsException from
[code]

I think we should reject negative `from` values already in SearchSourceBuilder, which would mean that errors would be triggered either on the client side or the coordinating node.

[2017-02-24 15:50] dadoonet commented on #23354
I believe it's a duplicate of #16978.

Closing.

Note that we are removing `region` setting as we prefer people use `endpoint` instead.

See https://www.elastic.co/guide/en/elasticsearch/plugins/current/repository-s3-repository.html#repository-s3-endpoint

See #22848 and #22853.

[2017-02-24 15:50] #23354 closed

[2017-02-24 15:52] dadoonet commented on #16978
Knowing that we deprecated `region` in #22848 and removed it in #22853, I think we should close this issue as it won't be fixed.

@clintongormley WDYT?

[2017-02-24 16:08] abeyad opened #23357 "NPE in Lucene TopDocs from the SearchPhaseController"
The test `org.elasticsearch.index.reindex.ReindexFailureTests testResponseOnSearchFailure` has been failing for 2 days (from Feb 23 to the day this issue was opened).  This has been failing on CI but I have not been able to reproduce it locally.  Example CI output from the failure:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=oraclelinux/646/c

[2017-02-24 16:09] abeyad commented on #23357
/cc @jpountz @s1monw

[2017-02-24 16:13] danielmitterdorfer commented on #23185
The investigation is not yet finished but I want to present a few intermediate results.

I ran the following benchmark:

[code]

and varied heap size (`-Xms`, `-Xmx`) between 1GB and 16GB as well as `http.netty.receive_predictor_size` from 16kb to 64kb.

Target machine specs:

* CPU: Intel(R) Xeon(R) CPU E3-1270 v5 @ 3.60GHz
* 64GB RAM
* SSD
* JDK 1.8.0_112-b15
* OS Arch Linux with Kernel 4.8.7-1-

[2017-02-24 16:21] yandooo commented on #23354
@dadoonet I posted in description

[2017-02-24 16:46] jasontedor commented on #23185
Okay, thanks for the continued investigation @danielmitterdorfer. I think given what you're discovering here I would recant my [previous assessment](https://github.com/elastic/elasticsearch/pull/23284#issuecomment-282093381) and this change should stay out of 5.3 and bake a little longer. Are you in agreement with that?

[2017-02-24 16:49] dadoonet commented on #23354
Did you try with `"endpoint": "s3.amazonaws.com"` instead?

[2017-02-24 16:52] yandooo commented on #23354
@dadoonet same issue. Trying dualstack seems like goes further but not match:

so request

[code]

error code is different (need to check what kind of key expected)

[code]

[2017-02-24 16:54] yandooo commented on #23354
@dadoonet just to double checked it and it doesn't work:

[code]

error response:

[code]

[2017-02-24 17:16] dadoonet commented on #23354
I'm surprised by what you pasted before you edited the response.

I just ran a test:

[code]

And in `elasticsearch.yml`, I defined my credentials:

[code]

Everything is fine.

Then:

[code]

Worked perfectly as well. So you may be doing something wrong or you don't tell all the steps/details.

[2017-02-24 17:16] dadoonet commented on #23354
BTW I tested on 5.2.1.

[2017-02-24 17:26] rjernst commented on #16978
This issue wasn't even about region really, it was about auto bucket creation (failing because of specifying region).  Since auto bucket creation is now gone, we can close.

[2017-02-24 17:26] #16978 closed

[2017-02-24 17:27] dadoonet commented on #16978
Thanks @rjernst

[2017-02-24 17:28] dadoonet commented on #23354
@yandooo Have a look at https://github.com/elastic/elasticsearch/issues/16978#issuecomment-282351003
It actually might explain what you are seeing.

[2017-02-24 17:29] uschindler commented on #21534
Hi,
there were some changes in build 158 because of bug reports by Lucene (so they added some symlink-handling special cases - e.g. if a file permission was created using a symlink, 2 permissions were added to the policy - one for the symlink and one for the real path. Here is the actual state, sent yesterday:

[2017-02-24 19:10] danielmitterdorfer commented on #23185
Yes @jasontedor I completely agree. I doesn't make sense to backport before we have a clear picture of the problem and a solution that works for all cases.

[2017-02-24 19:26] JosiahAllen commented on #21405
Zac, I believe they mean the /var/lib/elasticsearch/nodes directory

[2017-02-24 19:27] yandooo commented on #23354
@dadoonet I pass AWS key and value as env variable as per plugin documentation (ES is running in docker container). Shouldn't be any difference though.

Buckets exist in AWS (I'll double check again later) so https://github.com/elastic/elasticsearch/issues/16978#issuecomment-282351003 doen't shed light on what's going on.

[2017-02-24 19:29] zacbayhan commented on #21405
Thanks JosiahAllen, took me a bit but figured out which one they were talking and was able to get the cluster to boot. onward to the next problem!

[2017-02-24 20:09] doried-a-a commented on #16034
Please cancel this annoying restriction!

[2017-02-24 20:25] jasontedor commented on #16034
It's far more productive to upfront say why this is change is restricting you. Perhaps there is a use case that we have not consisered. Perhaps you're doing something that would be done more effectively without using excessively long IDs. We want to help you but we can not make that assessment from what you've posted.

[2017-02-24 20:37] abeyad commented on #19356
This test still fails sporadically, though I can't get it to reproduce.  It has failed about 3 times in the last month.  Here is the console output from a CI run for one of the failures.

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+multijob-unix-compatibility/os=sles/651/consoleFull

[2017-02-24 22:06] dadoonet commented on #23354
Note that this will be removed in 6.0 (master). See #22842.

Can you try with `elasticsearch.yml` config file in case it makes any difference?

[2017-02-24 23:38] animageofmine commented on #13462
Another use case:

"If the index has update since last time, run the client query again otherwise return the results back from cache"

[2017-02-25 01:31] mikemccand opened #23363 "Expose the new SimplePatternTokenizer and SimplePatternSplitTokenizer"
These tokenizers use Lucene's fast DFA implementation for creating tokens, and are new in 6.5.0 (and specifically in the last upgrade: https://github.com/elastic/elasticsearch/pull/23362)

I won't have time to work on this but wanted to get the issue up so we don't forget.

[2017-02-25 01:34] mikemccand opened #23364 "Expose duplicate removal in the completion suggester"
Lucene 6.5.0 adds an option to the NRT document suggester to efficiently remove duplicates, and it's included in the last snapshot upgrade (https://github.com/elastic/elasticsearch/pull/23362).

This should fix https://github.com/elastic/elasticsearch/issues/22912, but I won't have time to work on it.

[2017-02-25 03:57] dadoonet opened #23366 "simple query string query does not support AUTO fuzziness"
**Elasticsearch version**: 5.2.1
**Description of the problem including expected versus actual behavior**:

Lucene Query parser [supports the following ways](https://lucene.apache.org/core/6_4_1/queryparser/org/apache/lucene/queryparser/classic/package-summary.html#Fuzzy_Searches) to express fuzzy queries:

[code]

The later means automatic fuzziness factor.

The QueryString query works with this

[2017-02-25 04:36] karan69 opened #23367 "how can we get Distinct data in ElasticSearch using query?"
**Elasticsearch version**:2.1.0

**Plugins installed**: []no

**JVM version**:1.8

**OS version**:8.1

**Description of the problem including expected versus actual behavior**:I want to get DISTINCT data from elasticsearch ,i m using aggregation but it giives me only Distinct Counts .

**Steps to reproduce**:
 1.
 2.
 3.

**Provide logs (if relevant)**:

**Describe the feature**:

[2017-02-25 05:29] dakrone commented on #23366
If I recall correctly, this is because Lucene doesn't support the auto fuzziness for the `SimpleQueryString` query, it shouldn't be too hard to add to Lucene though.

[2017-02-25 09:12] bezoadam opened #23368 "2.4.1 reindex api - Invalid index name [_reindex]"
**Elasticsearch version**: 2.4.1

**Plugins installed**: []

**JVM version**:1.8.0_121

**OS version**:macOS Sierra

**Description of the problem including expected versus actual behavior**:
I am trying to use _reindex api. Receiving this error

**Steps to reproduce**:
 1. Executing this code `curl -XPUT localhost:9200/_reindex -d '{
  "source": {
    "index": "web"
  },
  "dest": {
    "index": "

[2017-02-25 09:17] dadoonet commented on #23368
Wrong HTTP Verb.
Should be POST.

See https://www.elastic.co/guide/en/elasticsearch/reference/5.2/docs-reindex.html#docs-reindex

[2017-02-25 09:17] #23368 closed

[2017-02-25 09:19] dadoonet commented on #23367
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2017-02-25 09:19] #23367 closed

[2017-02-25 09:39] bezoadam commented on #23368
You are rigth, sorry my mistake. I apologize.

[2017-02-25 10:48] doried-a-a commented on #16034
Thanks for reply!

We were using elasticsearch 1.7 to index crawled web pages, where long IDs where allowed. But now I'm migrating to 5.2
Crawlers use the page url as the id. You know, some web pages put alot of unnecessary details in the url, like the title of the page, or even some of the content !
I know it's not effective to use url as an ID, and maybe better to use a hash of it for example.
B

[2017-02-25 12:41] clintongormley commented on #16034
@doried-a-a As you can see from the description above, we didn't make this change just because we felt like it.  There is a genuine problem that is being solved.

yes, it means you will need to make changes when moving to 5.2, but then you will have to reindex your data in order to move to 5.2 from 1.7 anyway.  This seems like the ideal time to make the change.

[2017-02-25 14:21] blair319 opened #23370 "index.cache.field.type"
**Elasticsearch version**: 5.2.0

**Plugins installed**: []

**JVM version**:1.8.0_121

**OS version**:redhat

**Description of the problem including expected versus actual behavior**:
when I

curl -XPUT http://XXXXX:9200/logstash-XXX-2017.02.25/_settings -d '{"index.cache.field.type":"soft"}'

then
{
    "error": {
        "root_cause": [{
            "type": "illegal_argument_exception",

[2017-02-25 14:32] blair319 opened #23371 "java.lang.OutOfMemoryError: Java heap space"
**Elasticsearch version**:5.2.0

**Plugins installed**: []

**JVM version**:1.8.0_121

**OS version**:redhat

**Description of the problem including expected versus actual behavior**:

I need to configure how to solve this problem?
and  how to optimize index?

[2017-02-25T22:24:23,840][INFO ][o.e.m.j.JvmGcMonitorService] [node-3] [gc][young][2829][54] duration [1.6s], collections [2]/[2.4s], total

[2017-02-25 14:34] jasontedor commented on #23371
You've clearly exhausted your heap. Please ask questions on the [forum](https://discuss.elastic.co); Elastic reserves GitHub for verified bug reports and feature requests.

[2017-02-25 14:34] #23371 closed

[2017-02-25 14:44] jasontedor commented on #23370
The setting `index.cache.field.type` has not been a valid setting since 0.20.6! You must be looking at a very old reference to see any mention of this setting. If you have additional questions, please ask them on the [forum](https://discuss.elastic.co).

[2017-02-25 14:44] #23370 closed

[2017-02-25 14:45] jasontedor commented on #16034
Yes. If needed, you can store the URI as a field in the document.

[2017-02-25 14:48] ycombinator opened #23372 "Document comments in Painless"
Painless apparently supports `// ...` and `/* ... */` style comments. This is useful when writing out long, complex scripts.

It would be great to have this feature documented in https://www.elastic.co/guide/en/elasticsearch/reference/master/modules-scripting-painless.html and/or https://www.elastic.co/guide/en/elasticsearch/reference/master/modules-scripting-painless-syntax.html.

Thanks!

[2017-02-25 22:51] Cidan opened #23374 "index.mapper.dynamic ignored entirely and mapping types ignored when using templates"
**Elasticsearch version**: 5.2.1

**Plugins installed**: [discovery-gce]

**JVM version**: Java(TM) SE Runtime Environment (build 1.8.0_60-b27)

**OS version**: Ubuntu 14.04.5 LTS

**Description of the problem including expected versus actual behavior**:

When creating an index with `index.mapper.dynamic`, the setting is set, but completely ignored -- dynamic mapping remains enabled.

Further, whe

[2017-02-26 03:43] neoform commented on #23319
I do apologize if this isn't a bug, but I'm at a complete loss as to why the results seem so inconsistent, since everything I've read has suggested they should indeed match (and in some cases, they do match... just not most cases).

[code]

[code]

[2017-02-26 06:45] s1monw commented on #19356
I think this fails due to a recent refactoring...

[code]

I will take a look at it today or tomorrow

[2017-02-26 13:57] doried-a-a commented on #16034
I'll reindex anyway, right. Now I'm going to make changes in the crawlers too.
No problem.
Thanks for support!

[2017-02-26 19:28] dadoonet commented on #23366
Thanks @dakrone. I opened https://issues.apache.org/jira/browse/LUCENE-7712 on Lucene side.

[2017-02-27 07:10] Valudonox opened #23378 "Web connection is bad"
**Elasticsearch version**:

**Plugins installed**: []

**JVM version**:

**OS version**:

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1.
 2.
 3.

**Provide logs (if relevant)**:

**Describe the feature**:

[2017-02-27 07:37] dadoonet commented on #23378
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2017-02-27 07:37] #23378 closed

[2017-02-27 08:48] jpountz commented on #23319
In the aggregation, you are filtering on root documents that have at least one product that has `1` as a `product.status_id`, but you do not filter out other products. So if a root document has at least 1 product that matches `product.status_id:1`, then the aggregation will run on all products, not only those that match.

This happens because you filter before doing the nested aggregation on `prod

[2017-02-27 09:00] s1monw commented on #23357
I am looking into this. this smells like there is a bug somewhere else that was uncovered by a recent refactoring. We are making stronger assumptions now...

[2017-02-27 09:15] cbuescher commented on #23324
Closed by #23358

[2017-02-27 09:15] #23324 closed

[2017-02-27 09:22] ImdotnetJunkie commented on #23197
@jasontedor : To start 5.x cluster, i need to comment out (as below) in every batch file e.g. (elasticsearch.bat, elasticsearch-service.bat etc)

rem if not "%ES_HEAP_SIZE%" == "" set bad_env_var=1

Is that correct ?

[2017-02-27 10:28] Fabian1976 commented on #18406
It does seem to be related to the noexec mount options. I've had the same issue on 1 of our servers. When the noexec mount option is active on the /tmp directory, I get this error:
[2017-02-27T11:27:17,588][WARN ][o.e.b.Natives            ] unable to load JNA native support library, native methods will be disabled.
java.lang.UnsatisfiedLinkError: /tmp/jna--1985354563/jna3776152293556606246.tmp: /t

[2017-02-27 10:44] #19356 closed

[2017-02-27 10:44] #23357 closed

[2017-02-27 11:18] yandooo commented on #23354
@dadoonet I think I sorted this issue. It was wrong SECRET_ID passed to container.

Now I have ES specific issue:

[code]

any ideas?

[2017-02-27 11:35] roweryan commented on #23004
@gmarz Please don't remove the ability to specify a config path.

[2017-02-27 11:52] jasontedor commented on #23004
@roweryan Would you mind explaining your use case so we have a better understanding why you're requesting this?

[2017-02-27 11:57] Naitreey opened #23381 "Need to respecify `_parent` when updating mapping of child type"
**Elasticsearch version**: 5.2.1 docker image, 5.1.2 docker image, 5.0.1 RPM package

**Plugins installed**: []

**JVM version**: Oracle Corporation/OpenJDK 64-Bit Server VM/1.8.0_121/25.121-b13

**OS version**: Linux/4.3.0-1.el6.elrepo.x86_64/amd64

**Description of the problem including expected versus actual behavior**:
I am able to reproduce the issue presented in #15997 with Elasticsearch 5.2

[2017-02-27 12:05] roweryan commented on #23004
@jasontedor Sure. I need to keep my log files and config separate from my binaries. If the config lives inside the binary directory this makes my life more difficult :)

[2017-02-27 12:11] jasontedor commented on #23004
This only pushed the question back one layer. 😄

Why do you need this?

[2017-02-27 12:31] roweryan commented on #23004
The unpacked tar.gz file needs to match what is in the tar.gz file I can get from your download page. If there are changed files or extra files in there then our check fails.

[2017-02-27 12:34] yandooo commented on #23354
Running with `?verify=false` returns `true`.

[2017-02-27 12:57] alex-voigt opened #23382 "JSON logging with discovery-ec2 plugin"
**Elasticsearch version**: 5.1.2

**Plugins installed**: [discovery-ec2]

**JVM version**: 1.8.0_121-8u121-b13-0ubuntu1.16.04.2-b13

**OS version**: Ubuntu 16.04

**Description of the problem including expected versus actual behavior**:

I am using a log4j2 log file configuration for logging to JSON format on a devbox.

To make this work I had to put a copy of the `jackson-databind-2.8.1.jar` and

[2017-02-27 12:57] yandooo commented on #23354
Problem is solved.

[2017-02-27 12:58] yandooo commented on #16978
@dadoonet and @rjernst thanks.

[2017-02-27 13:46] #23286 closed

[2017-02-27 14:16] colings86 commented on #20138
Closing since this is fixed in 5.0

[2017-02-27 14:16] #20138 closed

[2017-02-27 14:22] sundarv85 opened #23384 "histogram on an array"
**Describe the feature**:

This is a feature request.

When we have an array of long/int, then a percentile or avg on such an array works correctly by considering the count of the array elements. But when histogram is requested, the current implementation of histogram works based on doc count.

[code]

The reason to request such a support is, in time-based data, most of the times the only change i

[2017-02-27 14:55] PnPie commented on #23374
It seems that `index.mapper.dynamic` setting is only taken into account along with the creation of index and cannot be effectively modified.

I created an index with `"index.mapper.dynamic":false`, then modified it to `true`, I can see in the settings of index with `"mapper": {"dynamic": "true"}` but I still can't put any data because of `type_missing_exception`.

In reverse, I created an index by

[2017-02-27 15:41] dadoonet commented on #23271
Should be fixed by #23297

[2017-02-27 15:41] #23271 closed

[2017-02-27 16:03] nik9000 commented on #22278
Would anyone mind if I worked on something for all subclasses or `InternalSingleBucketAggregation`? I'd be able to click a lot of check boxes.....

[2017-02-27 16:10] Cidan commented on #23374
In my example above, `index.mapper.dynamic` is always ignored and uses the default value of `true`, even when creating an index with `false`. What version are you using?

[2017-02-27 16:47] PnPie commented on #23374
I used 5.0.2
[code]

[2017-02-27 17:14] #22986 closed

[2017-02-27 17:16] Cidan commented on #23374
Interesting. This seems to be a regression from > 5.0.2.

[2017-02-27 17:51] ywelsch commented on #23374
@Cidan The setting `index.mapper.dynamic` disables auto-creation of new types. It does not prevent the mapping of an already-defined type from being updated, see https://www.elastic.co/guide/en/elasticsearch/reference/5.2/dynamic-mapping.html#_disabling_automatic_type_creation
What you want to configure is the `dynamic` property on the type (see https://www.elastic.co/guide/en/elasticsearch/refere

[2017-02-27 17:51] #23374 closed

[2017-02-27 17:57] Cidan commented on #23374
Thank you, I'll try this out.

[2017-02-27 18:52] jpountz commented on #9572
This issue was discussed today, here is a brief summary: one way to implement it would be to request the min/max values first like @Bargs mentioned. Doing it in Elasticsearch would have little benefit compared to doing it on the client-side. Another way to implement it would be for each shard to adapt the interval on the fly and then at reducing time we would pick the larger interval. However the

[2017-02-27 19:39] nik9000 commented on #23372
@jdconrad is this a thing you are covering in your docs work? Should I assign this to you so you can close that when it is in?

[2017-02-27 19:51] martijnvg opened #23392 "Include suppressed exceptions in rest response?"
On the transport layer suppressed exceptions are being kept around (in `ElasticsearchException#readStackTrace(...)` and `Elasticsearch#writeStackTraces(...)`), so maybe we should include suppressed exceptions in rest response too? Or at least give the ability to do this via a rest parameter.

In the put pipeline api this can be useful as all the config errors can then be returned instead of failin

[2017-02-27 19:51] alissonsales opened #23393 "Range query with dates not working properly on 2.0.2"
**Elasticsearch version**: 2.0.2

**Plugins installed**: [head]

**JVM version**:
[code]

**OS version**: using docker for mac running official docker image elasticsearch:2.0 (adccd7124f26)

**Description of the problem including expected versus actual behavior**:

The range filter using dates without time is not behaving like expected.

The `lte` filter is not converting the date `2017-02-06` to

[2017-02-27 19:55] dadoonet commented on #23393
So it's fixed in 2.4. This is it what you are saying right?
I guess we can close it?

[2017-02-27 20:00] alissonsales commented on #23393
@dadoonet Yep, it's working properly on 2.4. I thought it was worth reporting since I don't know if you guys advise the upgrade to 2.4 instead.

I've found this issue while analyzing what's required to upgrade from ES 1.7 to 2.0. Do you think it's safe to go straight to 2.4 from 1.7?

[2017-02-27 20:03] jdconrad commented on #23372
@nik9000 I assigned to myself as this will be included in my updated documentation.

[2017-02-27 20:04] nik9000 commented on #23372
Thanks!

[2017-02-27 20:06] dadoonet commented on #23393
I believe it is. FWIW we won't fix in 2.0 branch

[2017-02-27 20:06] #23393 closed

[2017-02-27 20:24] alissonsales commented on #23393
Cool, thanks @dadoonet

[2017-02-27 21:12] seang-es opened #23394 "Bootstrap check utility for pre-5.x upgrade"
Bootstrap checks add many helpful safety checks to ES at boot time.  One problem they present is that we don't have a clear specification in advance of upgrading to 5.x which bootstrap checks are going to happen and what will cause a cluster to fail to start.  Things that were allowed in 2.x are no longer permitted, and the process of working through each bootstrap issue and restarting to find the

[2017-02-27 22:02] jpountz commented on #23394
It is not clear to me what such a utility would bring compared to starting up a 5.x node with the target configuration?

[2017-02-27 22:04] jasontedor commented on #23394
Every bootstrap check is [documented](https://www.elastic.co/guide/en/elasticsearch/reference/5.2/bootstrap-checks.html).

We print every failing bootstrap check on startup, it is not necessary to go through them one-by-one.

This can be done by starting the node (for example, in a QA environment) in the expected configuration.

[2017-02-27 22:04] #23394 closed

[2017-02-27 22:35] seang-es commented on #23394
The ask is to be able to run the same checks while they still have 2.x running in order to verify the configuration before upgrading.  The workaround would be to start a new 5.x node on the boxes that's not connected to the existing cluster.  This may be worth including in our documentation.

[2017-02-27 22:47] adrianosimoes commented on #11238
I noticed this is a old issue. Is this issue still relevant?

[2017-02-27 22:52] spinscale opened #23395 "Disk Threshold Decider should be disabled only in development mode"
Currently the disk threshold decider is disabled, when there is only [one data node available](https://github.com/elastic/elasticsearch/blob/7c6d5cbf1fd7e43667cd5e796fe106694016f026/server/src/main/java/org/elasticsearch/cluster/routing/allocation/decider/DiskThresholdDecider.java#L373) in the cluster (the decider was added way before we had a notion of development/production mode). I think it mig

[2017-02-27 23:46] neoform commented on #23319
I'm at a loss as to what the agg query should look like then, since I get the "Child query must not match same docs with parent filter. Combine them as must clauses (+) to find a problem doc." error when I move the filters into nested aggs...

[2017-02-28 02:58] kukuxiahuni commented on #22156
same problem

[2017-02-28 05:39] dilipsridhar opened #23398 "Partial update does not work with nested objects"
**Elasticsearch version**: 5.2.0

**Plugins installed**: []

**JVM version**: 1.8.0_01

**OS version**: Ubuntu 16.04.01 LTS

**Description of the problem including expected versus actual behavior**:
In a nested document adding a child at the nested level replaces the existing children with this new child. Does not insert.

Create a blog object as follows:
PUT /test/blog_index/1
{
	"settings": {

[2017-02-28 07:35] maddin2016 commented on #23268
Hi @jpountz, what about this
[code]

[2017-02-28 09:02] yrodiere commented on #21789
Hello,

We did experience socket timeout issues in one particular case. In Hibernate Search, we setup indexes for users and then allow users to use those indexes (index, search). But in the initial setup phase, we have to wait for the index to reach a particular status (yellow or green). This is done through a request to the Health API, with a particularly long timeout, because in this particular

[2017-02-28 09:21] javanna commented on #21789
Hi @yrodiere thanks for the detailed explanation. The call to cluster health after creating an index should not be needed anymore against elasticsearch 5.x. Also, I wonder how long you would want to wait for green, 30 seconds (which is the default socket timeout) seems already quite high to me.

I do agree that having to globally increase the timeout is not ideal, as well as having separate client

[2017-02-28 09:49] yrodiere commented on #21789
Thanks for the info. We target ES2 too, though. Not because we want to, but, you know, there are still users out there.

We use 60s as a default. 30s would probably be alright, I agree. But I also think 30s is way too high for a global default. 30s for a random, reasonably tuned search requests (low hits size, sorts on optimized fields, etc.) is way too much. When your requests are used to build w

[2017-02-28 09:50] mostolog opened #23401 "[WARN ][o.e.d.s.g.GroovyScriptEngineService] [groovy] scripts are deprecated, use [painless] scripts instead"
**Elasticsearch version**:

Version: 5.2.1, Build: db0d481/2017-02-09T22:05:32.386Z, JVM: 1.8.0_121

**Plugins installed**: []

**JVM version**:

1.8.0_121

**OS version**:

Ubuntu 16.04

**Description of the problem including expected versus actual behavior**:

During elasticsearch start, a warning message is displayed:

**[WARN ][o.e.d.s.g.GroovyScriptEngineService] [groovy] scripts are deprecat

[2017-02-28 10:05] javanna commented on #21789
heya @yrodiere I wouldn't call this arguing, I am asking questions to better understand the usecase, as the change requires modifying public apis to provide the timeout per request. I am looking for the right compromise between making things configurable, yet keeping them simple, which is a challenge and I am sure you know that too :)

I definitely agree with you that the default of 30 seconds is

[2017-02-28 10:29] jpountz commented on #23319
Can you try this?

[code]

[2017-02-28 10:39] usercz commented on #20647
You need to use `Type=forking`, and make elasticsearch do a fork() after it's ready, to signal that it's ready. This has been the way of unix demons for decades.

So something like
[code]

So systemd, after the fork happened, knows that the socket is ready and subsequent units can be started and they will find the socket.

Even if the socket isn't ready to reply to data, it's fine that they can co

[2017-02-28 10:41] usercz commented on #20647
This isn't for systemd only, it's the normal way daemons are supposed to work on unix.

[2017-02-28 11:00] yrodiere commented on #21789
Ah, I can only promise *I* will *try* to use it right :) But yes, more configuration options usually means more ways to blow up in your face.

Looking forward to hearing from you then. Thanks!

[2017-02-28 12:39] clintongormley commented on #11238
Yes it is, and in fact we discussed this again just the other day.  We should add a soft limit which prevents setting the `scroll` time to more than (eg) 5 minutes.

[2017-02-28 12:50] neoform commented on #23319
Wow, ok that actually makes sense. And the values are correct now. Thank you.

[2017-02-28 13:03] cnus11 opened #23408 "logstash ingest attachment plugin not working while using update action"
**Elasticsearch version**: 5.2

**Plugins installed**: [ingest_attachment]

**Description of the problem including expected versus actual behavior**:

This happens in logstash configuration

**Steps to reproduce**:
Elastic search and logstash should be installed.
ingest_atatchment plugin needs to be added
 1. Create a document with some random fields
 2. Update document with some attachment data w

[2017-02-28 13:04] pritamm commented on #19415
Hi,
I am using below configuration with elasticsearch 5.2.1, still getting error java.lang.ClassNotFoundException: org.apache.logging.log4j.core.Filter.

Can someone please help me resolve this?

my confuguration:
"org.slf4j:slf4j-api:1.7.21",
"org.apache.logging.log4j:log4j-api:2.7",
"org.apache.logging.log4j:log4j-to-slf4j:2.7",

Stacktrace:
Exception in thread "main" java.lang.NoClassDefFoundEr

[2017-02-28 13:25] clintongormley commented on #23408
Ingest pipelines are not supported by the update API.  Closing as duplicate of https://github.com/elastic/elasticsearch/issues/17895

[2017-02-28 13:25] #23408 closed

[2017-02-28 13:30] dadoonet commented on #19415
The stacktrace is not related to elasticsearch as far as I can see.

[2017-02-28 13:40] jasontedor commented on #23401
This is addressed by netty/netty#6308. (In the future it would be best to not lump unrelated issues together.)

[2017-02-28 13:54] jasontedor commented on #23401
I think that either:
 - you are running via Docker (this is an important detail to include in the future)
 - you changed the default deprecation log settings

The message that you're seeing here is logged via the deprecation logger. In the former case, our official Docker image posts the deprecation messages to the console as otherwise they would never be seen. Otherwise, these log messages are lo

[2017-02-28 13:55] jasontedor commented on #19415
@pritamm If your issue is related to Elasticsearch (it does not look like it), please ask questions on the [forum](https://discuss.elastic.co).

[2017-02-28 13:59] mostolog commented on #23401
@jasontedor You were right on your guessings:
- I'm using docker
- I have configured deprecation log

However, as I'm not using groovy scripts anywhere, to my understanding, this message shouldn't be shown. Consider the "bug" is not this message being shown here or there, but WHY it's being printed.

Hope I explained myself properly.

[2017-02-28 14:03] heikkis opened #23409 "ES 5.2.1 and enabling cors does not work"
**Elasticsearch version**: 5.2.1
**Plugins installed**: none
**JVM version**:  OpenJDK Runtime Environment (build 1.8.0_121-8u121-b13-0ubuntu1.16.04.2-b13)

**OS version**: Docker Ubuntu (sebp/elk:521)

**Description of the problem including expected versus actual behavior**:

Using metricbeat with ELK stack 5.2.1.

Added these lines

http.cors.enabled: true
http.cors.allow-origin: "*"

to /etc/el

[2017-02-28 14:05] heikkis commented on #23409
[code]

[2017-02-28 14:05] cbuescher commented on #23398
I think there is something wrong with your script. You are assigning `ctx._source.blog.comments` twice, I don't think thats intended. Also, if you want to just update one comment, use something like `ctx._source.blog.comments[i]`. In general, if you are unsure about any of this in the future, consider opening an issue in our [Discourse forum](https://discuss.elastic.co) first because Elastic reser

[2017-02-28 14:05] #23398 closed

[2017-02-28 14:05] heikkis commented on #23409
[code]

[2017-02-28 14:21] jasontedor commented on #23401
Closed by #23410

[2017-02-28 14:21] #23401 closed

[2017-02-28 14:22] jasontedor commented on #23401
@mostolog I integrated #23410 to remove this message on startup as we also print deprecation warnings when Groovy scripts are actually used.

[2017-02-28 14:28] clintongormley commented on #23409
Adding the config that you mentioned works just fine. I think you may be adding it to the wrong place.  Not sure which docker image you're using, but if it is ours, then the config is in `/usr/share/elasticsearch/config`.  See https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html#docker-configuration-methods

[2017-02-28 14:28] #23409 closed

[2017-02-28 14:37] mostolog commented on #23401
Thanks. Glad to "_contribute_" to improve elastic ;)

[2017-02-28 14:45] jasontedor commented on #23401
It is much appreciated!

[2017-02-28 14:55] heikkis commented on #23409
Hello @clintongormley!

The command running elastic search has parameter:
-Edefault.path.conf=/etc/elasticsearch

If I make on error to my config file elastic search does not start at all and error is shown correctly. There are nothing in path /usr/share/elasticsearch/ .

[2017-02-28 14:56] heikkis commented on #23409
Full command for elastic search:

/usr/bin/java -Xms2g -Xmx2g -XX:+UseConcMarkSweepGC -XX:CMSInitiatingOccupancyFraction=75 -XX:+UseCMSInitiatingOccupancyOnly -XX:+DisableExplicitGC -XX:+AlwaysPreTouch -server -Xss1m -Djava.awt.headless=true -Dfile.encoding=UTF-8 -Djna.nosys=true -Djdk.io.permissionsUseCanonicalPath=true -Dio.netty.noUnsafe=true -Dio.netty.noKeySetOptimization=true -Dio.netty.recy

[2017-02-28 14:57] heikkis commented on #23409
root@6dd211281f8a:/# cat /etc/elasticsearch/elasticsearch.yml | grep -v -F '#'
network.host: 0.0.0.0

http.cors.enabled: true
http.cors.allow-origin: "*"
root@6dd211281f8a:/#

[2017-02-28 15:04] DienNM opened #23412 "Lost data in Elasticsearch Cluster"
**Elasticsearch version**: 2.4.1

**JVM version**: 1.7

**OS version**: Ubuntu 14.0.10

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

I am setting up ES cluster (v.2.4.1). There are 2 nodes in my cluster, called: A, B.
I started 2 nodes and feed data into ES by using java api. My index had 3 shards and 1 replica. I did query from every nodes, I

[2017-02-28 15:08] nik9000 commented on #16314
I talked to @jdconrad about this a while back. This is in the way or his work on "script contexts" so I'm going to work on this. "Script contexts" don't have an issues (I thought they did!) but the short description is that it'll allow scripts to be compiled for the context in which they should be run. There are lots of cool things this'll allow, one of which is that it'll let us avoid a box/unbox

[2017-02-28 15:17] bleskes commented on #23412
There are a couple of problems in this setup. The first is the use of a two node cluster without setting [min master node](https://www.elastic.co/guide/en/elasticsearch/reference/5.2/modules-node.html#split-brain) to 2. This is required to make sure each node doesn't make it's own decisions while the other node is away.  This also means that a 2 node setup can not be safe and highly available.

Sa

[2017-02-28 15:17] #23412 closed

[2017-02-28 15:23] dilipsridhar commented on #23398
`ctx._source.blog.comment` should appear only once in POST. That is correct. Will check what you say. Will post in the forums before creating an Issue henceforth. Thanks.

[2017-02-28 15:24] bevans88 opened #23413 "Allow setting of index.uuid upon Index Creation"
I'm looking into exposing the index.uuid setting so that it can be configured upon creating an index to allow it to be deterministic rather than a base64 encoded UUID.

I understand that this would mean that the user would need to to guarantee index uuid uniqueness across clusters, but I'd assume that if someone is setting it then they would be aware of this contract.

The current use case for thi

[2017-02-28 15:27] DienNM commented on #23412
Thank you for your explain.
I am using ES 2.4.1, and I must set minimum_master_node to 2 to prevent writes.
By the way, If my data only needs to scale (disk) on X servers (Digital Ocean droplets), should I set  minimum_master_node corresponding to number of servers?

[2017-02-28 15:28] heikkis commented on #23409
Showing the configuration file is used:

`docker exec elk_stack_nginx_monitoring sh -c 'echo testing >> /etc/elasticsearch/elasticsearch.yml; cat /etc/elasticsearch/elasticsearch.yml | grep -v -F "#"'`

After restarting the container I got error msg:

[code]

[2017-02-28 15:30] tomasfalt opened #23414 "Histogram aggregation on range fields using lte/lt or gte/gt"
Since it's impossible to do a histogram aggregation directly on a range field (see #23182) shouldn't it be possible to do it on any of the lte/lt or gte/gt fields?

[2017-02-28 15:39] heikkis commented on #23409
My mistake could be port configuration mismatch. I will look into it more. Thanks for encouragement 👍

[2017-02-28 16:20] heikkis commented on #23409
Kibana issue https://github.com/elastic/kibana/issues/10620 created because it seems to be Kibana issue.

[2017-02-28 16:42] DienNM commented on #23412
Ok. Thanks

[2017-02-28 17:05] epixa commented on #22933
A fix for this has just been released in 5.2.2 for both Kibana and Elasticsearch.

[2017-02-28 17:05] #22933 closed

[2017-02-28 17:45] jpcarey commented on #22992
Ran into this today. Doc needs to be fixed.

[2017-02-28 17:48] #22992 closed

[2017-02-28 17:49] abeyad commented on #22992
PR to fix this was just merged: #23397

[2017-02-28 18:03] jpountz commented on #23414
Is it a feature request to be able to aggegate on range bounds, or is it a request for a workaround until #23182 is implemented?

[2017-02-28 18:51] jlruizmlg opened #23415 "logstash RPM : The requested URL returned error: 503 Service Unavailable: Back-end server is at capacity"
When i try to install logstash through repositories in RPM i found this problem:

[code]

And then if i try through yum directly i have this output:

[code]

Working on CentOS 7.

[2017-02-28 19:53] jasontedor commented on #23415
Thanks for reporting. Sadly, this is due to the major S3 outage that is in process right now. I'm going to close this as this is the Elasticsearch repository and the resolution is going to be awaiting for the S3 outage to end.

[2017-02-28 19:53] #23415 closed

[2017-02-28 19:55] jlruizmlg commented on #23415
yes @jasontedor look is something else than s3
http://bgr.com/2017/02/28/internet-outage-amazon-web-services/

[2017-02-28 20:01] dakrone commented on #23356
The `*` in this query is being parsed as a variant of the special `*:*` query, which is a match all query. You can see from explain output or validating the query with a rewrite what it's being rewritten to. In the converse example, since it has an actual field, it throws an exception since it doesn't allow leading wildcards.

[2017-02-28 21:16] dakrone commented on #23341
Hi,
We reserve Github issues for feature requests and bug reports. If you are having problems please use https://discuss.elastic.co instead!

[2017-02-28 21:16] #23341 closed

[2017-03-01 03:20] jayqie opened #23422 "Cluster.routing.allocation.awareness cause shards unassigned"
**Elasticsearch version**: 5.2.0

**Plugins installed**: [elasticsearch-analysis-ik-5.2.0, elasticsearch-analysis-mmseg-5.2.0, elasticsearch-analysis-pinyin-5.2.0]

**JVM version**: 1.8.0_111

**OS version**: CentOS Linux release 7.3.1611 (Core)

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

I split one elasticsearch cluster into two groups for

[2017-03-01 05:52] wyzssw commented on #22156
so bad

[2017-03-01 06:55] rokka-n opened #23425 "Where is Dockerfile?"
The subj.

[2017-03-01 06:58] dadoonet commented on #23425
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2017-03-01 06:58] #23425 closed

[2017-03-01 07:09] rjernst commented on #22156
@netmanito Can you please paste the entire stack trace you see in the logs?

[2017-03-01 07:59] rozing opened #23426 "Issue with TransportClient on 5.2.1"
hi,
this is a copy from: https://discuss.elastic.co/t/issue-with-transportclient-on-5-2-1/76827
i'm trying to upgrade our ES to 5.2.1 from 2.3.1 and i'm having a ton of issues...
currently i'm facing the following problem:
our java application uses the TransportClient for connecting to our ES servers.
i'm following your "updated" documentation and it seems to be obsolete..
https://www.elastic.co/g

[2017-03-01 08:25] tomasfalt commented on #23414
Both actually. To start with as a workaround but I think there are several scenarios which will benefit from aggregation on the range bounds, for example the calculation of the churn rate for a certain intervals as a basis for churn prediction.

[2017-03-01 08:27] dadoonet commented on #23426
Let's keep the discussion on discuss.elastic.co please.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2017-03-01 08:27] #23426 closed

[2017-03-01 08:34] rozing commented on #23426
ok

[2017-03-01 08:38] netmanito commented on #22156
Hi, for the following GET request,` GET _snapshot/hdfs_repository/syslog_test` , I get the following message:

org.elasticsearch.repositories.RepositoryException: [hdfs_repository] could not read repository data from index blob
        at org.elasticsearch.repositories.blobstore.BlobStoreRepository.getRepositoryData(BlobStoreRepository.java:796) ~[elasticsearch-5.2.1.jar:5.2.1]
        at org.elas

[2017-03-01 09:08] tomasfalt commented on #23414
Also, it would be great if the max and min aggregations (and probably all other metrics aggregations)  would work on the range bounds.

[2017-03-01 09:37] ywelsch commented on #23422
Awareness is a cluster-wide property and cannot be disabled on a per-index level. This means that once you enable awareness all indices are affected by it.

[2017-03-01 09:49] jayqie commented on #23422
Yes, I want to affected the whole cluster.
When set awareness, the indices include.cluster = "highfreq,normalfreq" can work properly, but the indices include.cluster = "normalfreq" will always have a replication unassigned.

[2017-03-01 09:55] ywelsch commented on #23422
The unassigned shards are expected here because you're giving two conflicting commands:
- by specifying `"cluster.routing.allocation.awareness.attributes" : "cluster"`, you're essentially saying: please distribute shards according to the cluster attribute. Awareness will make sure that there won't be 2 shard copies on `normalfreq` and none on `highfreq` nodes (and vice versa).
- by specifying `inc

[2017-03-01 09:57] ywelsch commented on #23413
You can solve this using [allocation filtering](https://www.elastic.co/guide/en/elasticsearch/reference/current/shard-allocation-filtering.html):
- Have some nodes encrypt their drives and mark those nodes with an attribute "encrypted"
- Use allocation filtering to specify which indices should be on the encrypted nodes.

Alternatively, you can use `index.data_path` (but set `path.shared_data` befo

[2017-03-01 09:57] #23413 closed

[2017-03-01 11:00] shubhamitc opened #23429 "Dynamic template"
**Elasticsearch version**:  2.3.5

**Plugins installed**: []

**JVM version**: Java(TM) SE Runtime Environment (build 1.8.0_101-b13)

**OS version**: CentOS release 6.8 (Final)

**Description of the problem including expected versus actual behavior**:
**Expected**
  Dynamic template should be persisted in disk  and should be available after ES node restart.
**Actual**
  After restart of ES nodes t

[2017-03-01 11:39] clintongormley opened #23430 "Don't profile ConstantScore queries"
A ConstantScore query will return the iterator of its inner query.  However, when profiling, the constant score query is wrapped separately from its inner query, which distorts the times emitted by the profiler.

This could be fixed by not wrapping the iterator if it is already a profiling implementation.

[2017-03-01 12:17] ashleydw commented on #22033
Not wanting to jump on your thread, but I experience this in ES5 5.2.0 too.

I have run two tests, one using the default (50 meters?) and one using precision: 5m, distance_error_pct of 0.01.

Relevant mapping:

[code]

Relevant part of query (location is a geo_shape):

[code]

example location:

[code]

Results for default precision: https://gist.github.com/anonymous/954bc675a973abe0bc67c94c696bcf

[2017-03-01 12:24] clintongormley commented on #23429
This bug still exists in 5.2

[2017-03-01 12:53] clintongormley commented on #23429
Sorry - mistake in my testing - templates persist just fine in 2.3.5 and above.

@shubhamitc could you provide a complete recreation, including what you're putting to the `_template` API?

[2017-03-01 13:05] clintongormley commented on #22033
@ashleydw completely different issue - this is about `geo_point` fields and you're using `geo_shape`.  The place to ask about what precision and distance_error_pct does is in the forums, or read what the docs have to say: https://www.elastic.co/guide/en/elasticsearch/reference/current/geo-shape.html

[2017-03-01 13:21] clintongormley commented on #23356
I wonder if we shouldn't rewrite `field:*` to an exists query instead?

[2017-03-01 13:36] danielmitterdorfer commented on #23185
I also ran the nyc_taxis track once more and the patterns we see are similar.

| heap size [GB] | receive predictor size [KB] | median indexing throughput [docs/s] | object count | maximum object size | minimum object size | average object size | total memory allocated | allocation rate for objects | TLAB count | Maximum TLAB size | Minimum TLAB size | Average TLAB size | Total Memory Allocated fo

[2017-03-01 13:43] jimczi commented on #23356
That's what the code is trying to do but it's working only when `default_field` or `fields` contain the field `content`.

This query for instance:
[code]
returns:

[code]

So basically this is a bug, we should not create query like `field:*` but rather rely on the exists query. If we do that then `allow_leading_wildcard` can be ignored for this kind of query.

[2017-03-01 13:46] ashleydw commented on #22033
Thanks for pointing the original question was regarding `geo_point`; I hadn't realized. Still, my problem of false positives is related, no?

I've read the docs, and understand so-far as what they say regarding 0 error meaning completely accurate, but they don't really describe what the error percentage is (is 0.01 % of {precision}?). This part of the question could well have been part of #23206.

[2017-03-01 14:47] bevans88 commented on #23413
The allocation filtering would rely on all indexes that are allocated to a node being encrypted with the same key; what I need is the ability to encrypt individual indexes with their own key.

While I could in essence have a node per index/set of indices and only store those on the node so that multi-tenant encryption works it would seem rather heavy.

[2017-03-01 15:30] gmoskovicz opened #23435 "forward slash not needed for S3 repository base path"
Due the [following change](https://github.com/elastic/elasticsearch/pull/20861) the forward slash is not needed anymore in the `base_path` configuration of an s3 repository.

We should add a note in our documentation (https://www.elastic.co/guide/en/elasticsearch/plugins/current/repository-s3-repository.html) that explains this.

CC @abeyad @dadoonet

[2017-03-01 15:33] clintongormley commented on #23336
@jpountz what do you think?

[2017-03-01 15:42] neuronring commented on #19868
@cyrilcyril70 You saved my life bro..  Have been struggling with this annoying issue for days.. ES docs doesnt explain this clearly.,

Your settings worked perfectly for me..

I just has to add `transport.host: localhost
transport.tcp.port: 9300`

to my elasticsearch.yml

[2017-03-01 15:46] jasontedor commented on #19868
@neuronring I believe that we cover this situation in the [bootstrap check docs](https://www.elastic.co/guide/en/elasticsearch/reference/5.2/bootstrap-checks.html#_development_vs_production_mode). Do you feel that the explanation there is not adequate, or that there would be a more suitable place?

[2017-03-01 15:53] neuronring commented on #19868
@jasontedor Yes Jason. I looked into that section Developement Vs Production several times. To my knowledge (may be for lot others too. probably thats why i could see lot of questions about how fix "bootstrap check failed") it is not clear at all. Especially for the people migrating from 2.4 to 5.x it is like a nightmare.  If you would change the doc and wordings easy enough to understand, that wi

[2017-03-01 15:56] jpountz commented on #23336
Actually I was also thinking about it, but for a different use-case: telling the query-parser that it should split on whitespace for instance. So you could have a keyword field with a whitespace `search_analyzer`, and this would make query parser parse `foo bar` as `my_keyword:foo OR my_keyword:bar` rather than a single `foo bar` token. I guess search-time synonyms could make sense too.

[2017-03-01 15:57] clintongormley commented on #23325
The `exists` query only works with concrete fields, like numbers or strings, not `object` or `nested` properties, which don't really exist in the Lucene index.

[2017-03-01 15:57] #23325 closed

[2017-03-01 15:58] clintongormley commented on #23325
Also, in the future, please could you reduce your recreation to the minimum required.  Receiving a large blob of unnecessary JSON makes us less likely to look at your issue.

[2017-03-01 15:58] jasontedor commented on #19868
@neuronring I appreciate the feedback and I'm sorry that you struggled with this. Yet, I think I need some further guidance on what it is that you found problematic about the docs. We say this:

Can you help me understand how that can be improved?

[2017-03-01 16:04] clintongormley commented on #18517
thanks @sudheesh001

[2017-03-01 16:04] #18517 closed

[2017-03-01 16:13] neuronring commented on #19868
@jasontedor Sure. i have difficulty understanding whether that setting is for a single node Elasticsearch or for a cluster

 `transport.host: localhost`
`transport.tcp.port: 9300 `

if i use the same setting on both the nodes. They are not forming a cluster. both run as standalone nodes. Either of the nodes identify the other one. Here is my elasticsearch.yml file. i have the same setting on both

[2017-03-01 16:39] vikasdp commented on #23325
@clintongormley - pointed noted about reducing recreation to minimum.

[2017-03-01 16:59] jasontedor commented on #19868
@neuronring If you bind transport to locahost (`transport.host`), then you can not form a cluster across machines. Therefore, if you want to form a cluster between these two nodes, you have to remove setting `transport.host`. In this case, your node will be subject to the bootstrap checks and you have to address them. Your logs will tell you what the problems are.

[2017-03-01 17:08] neuronring commented on #19868
Ugh.. then it is a deadlock scenario..  if i get remove of `transport.host` ES wont startup.
I want to form a cluster at the same time, escape from bootstrap checks. Please help. here is my log. Again.. bootstrap checks failed !!!

[2017-03-01T17:05:11,358][INFO ][o.e.n.Node               ] [opselk-197323431-1-198091806.Elkprod.apps-ops.com] initialized
[2017-03-01T17:05:11,358][INFO ][o.e.n.Node

[2017-03-01 17:36] bleskes commented on #23413
That's a valid use case for`index.data_path`. While we are likely to remove the shadow replicas feature, custom data paths are likely to stay for exactly this reason.

[2017-03-01 17:43] johnvint opened #23436 "RangeQuery where to is near Long.MAX_VALUE causes invalid rewrite"
**Elasticsearch version**: 5.2.0
**JVM version**: Java(TM) SE Runtime Environment (build 1.8.0_111-b14)
**OS version**: OSX 10.11.6

**Description of the problem including expected versus actual behavior**:
This was found when upgrading from ES version 1.7 to 5.2. ES 1.7 had expected results.

When executing a range query on a date where `"include_upper":  true`, a date value at or near `Long.MAX_

[2017-03-01 18:35] etay2000 commented on #23340
Directly above the section in the docs you referenced, this is mentioned:

[code]
This leads me to believe that setting the global text is a shortcut for setting the text() property on each SuggestionBuilder.

Also, in the code you referenced:
[code]
I read that as:
If the suggestionContext does not have it's text() property set, and globalText is not null, then use the globalText to assign the th

[2017-03-01 20:39] cbuescher commented on #23340
@etay2000 The docs refer to the Rest syntax, not the Java API. Your reading of the code is correct, but here we are already taking about internals (SuggestionContext, SuggestionSearchContext), not the builders. The `globalText` will be used when set on the SuggestBuilder and no `text` from the individual Suggestion overwrite it. But that doesn't mean we need to transfer this to the SuggestionBuild

[2017-03-01 21:24] etay2000 commented on #23340
@cbuescher I assumed the Rest syntax would mirror the Java API (or vice versa) with regards to setting the globalText.  I am not too familiar with the internals, so I am still a bit confused by when and why the globalText would actually be used. My interpretation of the benefit of the globalText option was to prevent the repetition of setting the same suggest text. As it stands in the Java API, ea

[2017-03-01 21:25] cbuescher commented on #21064
Closing this since we haven't seen any similar failure since 21/10/2016

[2017-03-01 21:25] #21064 closed

[2017-03-01 21:29] cbuescher commented on #23340
Have you tried setting the `globalText` on the SuggestBuilder and then using this for the seach? It should work regardless. You don't have to set the `text` on each SuggestionBuilder, these things are merged later (the place I pointed to)...

[2017-03-01 21:48] etay2000 commented on #23340
Yes that was my point in my first post (sorry for the poor code formatting). If I set the globalText on the SuggestBuilder but not on any SuggestionBuilders I get a null Suggest instance back from the SearchResponse. However, if I set the suggest text on the SuggestionBuilders I get a proper Suggest instance as expected.

[code]

[2017-03-01 21:53] nikos opened #23442 "Nested geo_point object cannot be sorted by geo_distance (possible regression)"
**Elasticsearch version**: 5.2.1
**Plugins installed**: -
**JVM version**: 1.8.0_121
**OS version**: Mac OSX 10.11.6

**Description of the problem including expected versus actual behavior**:

When sorting with the help of _geo_distance the response should contain a float with the distance, but does list distances as "Infinity" for the case of nested objects. It works when the location is embedded

[2017-03-01 21:54] nik9000 commented on #22278
I merged #23388.

[2017-03-01 22:07] nikos commented on #23442
After studying the related integration test cases, I was able to get the nested case working when specifying nested_path and sort order as follows:
[code]
Might be worth adding to the docs?

[2017-03-01 23:14] UppalaPreetham commented on #17708
I tried bin\elasticsearch.bat

giving me the fallowing error
The system cannot find the path specified.

[2017-03-01 23:23] lpic10 commented on #16018
I think this should be done because the defaults should try to favor usability over performance (or storage in this case)

[2017-03-02 01:16] chaynika commented on #22792
If this bug hasn't been fixed yet, I would like to work on it, starting today. Thank you!

[2017-03-02 01:27] pav-1 commented on #22792
Sure. Not an issue.

FYI for headstart, this is not present in master , but only in the version
it's raised and master branch uses slightly different APIs to parse the
tokens. So, that change is not directly portable.

On Thu 2 Mar, 2017, 6:47 AM Chaynika Saikia, <notifications@github.com>
wrote:

[2017-03-02 02:25] jasontedor commented on #19868
Your issues are explained in the logs:

[code]

You need to increase the number of file descriptors, and disable system call filters if your kernel does not support the seccomp features that we need. This is covered in the docs that I linked to previously.

[2017-03-02 02:28] jasontedor commented on #23413
I think despite the planned removal of shadow replicas, we need to continue to enable this particular feature, probably changing the name of this setting if it needs to remain too.

[2017-03-02 02:30] jasontedor commented on #23413
When an index is deleted, an index tombstone with the index UUID is stored in the cluster state. This would not play well with the ability to arbitrarily set the index UUID.

[2017-03-02 03:33] cnus11 commented on #17895
We really need ingest pipelines to work for update API. Its really a good feature to be considered by Elastic Search experts

[2017-03-02 04:34] vanga commented on #23063
It's really not an issue I think, you can let it grow.
You may want to refer this also
https://discuss.elastic.co/t/memory-usage-of-the-machine-with-es-is-continuously-increasing/23537/12

[2017-03-02 06:39] shubhamitc commented on #23429
This is our template ,

PUT http://elk-api-node.blueapple.mobi:9200/_template/logstash

{
    "order": 0,
    "template": "logstash-*",
    "settings": {
      "index": {
        "number_of_replicas": "1",
        "number_of_shards": "5",
        "refresh_interval": "5s"
      }
    },
    "mappings": {
      "_default_": {
        "dynamic_templates": [
          {
            "message_field": {

[2017-03-02 07:06] jan0sch opened #23443 "Replace `#!/bin/bash` with `#!/usr/bin/env bash`"
**Elasticsearch version**: 5.2.2

**OS version**: Any OS that has bash not in `/bin` like FreeBSD for example.

**Description of the problem including expected versus actual behavior**:
Starting elasticsearch results in an error about bash not being found:

[code]

**Steps to reproduce**:
 1. Download and extract elasticsearch
 2. Change into elasticsearch directory
 3. run `/bin/elasticsearch`

A

[2017-03-02 07:43] martijnvg commented on #23442
Nested sorting is [documented](https://www.elastic.co/guide/en/elasticsearch/reference/5.2/search-request-sort.html#nested-sorting), but I can understand the confusion when sorting and your result not being sorted. I think we should add validation here, so that it is clear that nested sorting is needed.

[2017-03-02 07:50] hoigau opened #23445 "[Elasticsearch] Current Getting Started Page is returning 404"
**Elasticsearch version**: Current

**Plugins installed**: N/A

**JVM version**: N/A

**OS version**: N/A

**Description of the problem including expected versus actual behavior**:

Access to the Getting Started page from the [Elasticsearch Reference](https://www.elastic.co/guide/en/elasticsearch/reference/current/index.html) returned a 404 error (see attached screendump):

https://www.elastic.co/

[2017-03-02 08:01] dadoonet commented on #23445
Thanks for reporting. I've seen that as well.
I'm closing this as it has been reported on another private repo.

[2017-03-02 08:01] #23445 closed

[2017-03-02 08:02] dadoonet commented on #23445
Forgot to say that a refresh often helps.

[2017-03-02 08:04] bevans88 commented on #23413
Thanks for the replies, I can work with the index.data_path and path.shared_data, was just concerned that they were going to be removed hence wanting to know if setting the UUID was possible.

[2017-03-02 08:15] dadoonet opened #23446 "Increase chunk_size max to 256 Mb instead of 64 Mb"
While working on an azure issue, I found [this documentation](https://docs.microsoft.com/en-us/rest/api/storageservices/fileservices/understanding-block-blobs--append-blobs--and-page-blobs) which says that we can now increase the max block blob to 256mb instead of the default 64mb which has been introduced in #22577

[2017-03-02 08:30] dadoonet opened #23448 "Update to Azure Storage 5.0.0"
We are using `azure-storage:4.0.0` but [latest available version](https://github.com/azure/azure-storage-java) is now

[code]

Changelog (I highlighted the most important ones IMO):

2017.01.18 Version 5.0.0

 * **Prefix support for listing files and directories.**
 * Added support for setting public access when creating a blob container
 * The public access setting on a blob container is now a co

[2017-03-02 08:31] dadoonet commented on #23446
See also #23448

[2017-03-02 10:11] kunal642 commented on #23044
if this bug isn't fixed, i would like to work on it.
Thanks

[2017-03-02 10:14] vanga commented on #22742
Hello @jpountz

Has the above fix made into 5.2.1? I don't see this mentioned in release notes.

Thanks.

[2017-03-02 10:18] kunal642 commented on #22573
@domosapien took is only included in Search API and i could not find took in any of the index response.

[2017-03-02 10:19] jpountz commented on #22742
Yes, it is. I guess it did not make it to the release notes since the bug is on the Lucene side, but it was fixed when we upgraded to Lucene 6.4.1: https://github.com/elastic/elasticsearch/pull/22978.

[2017-03-02 10:23] vanga commented on #22742
Thanks @jpountz

[2017-03-02 11:05] juzpermsky opened #23449 "must_not clause returns score of 1"
**Elasticsearch version**:
5.2.0
**JVM version**:
1.8.0_101
**OS version**:
Ubuntu 16.04.1 LTS
**Description of the problem including expected versus actual behavior**:
[Here](https://www.elastic.co/guide/en/elasticsearch/reference/5.2/query-dsl-bool-query.html) we see:
![image](https://cloud.githubusercontent.com/assets/9256158/23504447/510f94f8-ff61-11e6-8ff3-ecdb6ed054ca.png)
But, in fact, we g

[2017-03-02 11:23] prabhurajreddy commented on #15889
The issue still persists in the latest elastic search 5.2.2 and jdk1.8.0_91. It crashes during the service stop.
Below is the windows error

Faulting application name: elasticsearch-service-x64.exe, version: 1.0.15.0, time stamp: 0x51543b9d
Faulting module name: jvm.dll, version: 25.71.0.1, time stamp: 0x56fe319b
Exception code: 0xc0000005
Fault offset: 0x0000000000215498
Faulting process id: 0xad

[2017-03-02 11:35] cbuescher commented on #23340
@etay2000 thanks for the clarification, I was able to reproduce this now in a simple test. The problem seems to be limited to completion suggestions where neither `prefix`, `regex` nor `text`  specified on the individual suggestion. In this case we internally overwrite the `text` property with the global text set on the Suggest builder. The problem is that internally the completion suggester need

[2017-03-02 11:43] #21980 closed

[2017-03-02 12:06] serj-p commented on #17116
Have `function_score` or `query_function` keywords been added?
I am trying to compute max scores for docs from two queries, one calculating function score for `updated` field from child doc and other is parent's `updated` value. I see no way to tell elasticsearch  to return such max `updated` currently.

[2017-03-02 12:20] domosapien commented on #22573
@kunal642 Sorry, I thought I was looking at index, but I guess I was mistaken. Doing tests locally, I can see that delete and bulk (probably what I thought I was doing for index) both return took, not just search. Ideally I would like everything to return it.

[2017-03-02 12:37] imapurv opened #23450 "While using multiple Inner hits, null array is shown"
I have upload the query and result. Please Tell is it a bug or I am making some mistake.

[Untitled Document.txt](https://github.com/elastic/elasticsearch/files/813767/Untitled.Document.txt)

[2017-03-02 12:54] jasontedor commented on #23429
This still does not reproduce. How many master-eligible nodes and data-only nodes do you have, and what is the value of `discovery.zen.minimum_master_nodes` on all nodes?

[2017-03-02 12:56] jasontedor commented on #23197
I would advise against modifying the startup scripts, that's entering territory that we do not support. My advise would be to unset `ES_HEAP_SIZE` when starting Elasticsearch 5.x, and setting it again before starting Elasticsearch 1.x.

[2017-03-02 13:27] karmi commented on #21980
Thanks, @javanna!!

[2017-03-02 13:28] Rahul96553 opened #23453 "Search Record From elatic"

[2017-03-02 13:29] Rahul96553 opened #23454 "Search"

[2017-03-02 13:31] jasontedor commented on #23454
This appears to have been opened in error. Please feel free to correct if this is mistaken.

[2017-03-02 13:31] #23454 closed

[2017-03-02 13:31] Rahul96553 opened #23455 "Serach record from multiple table using ElasticSearch in .net"
Search Record From Multiple Table ElasticSearch Query using .net?

[2017-03-02 13:31] jasontedor commented on #23453
This appears to have been opened in error. Please feel free to correct if this is mistaken.

[2017-03-02 13:31] #23453 closed

[2017-03-02 13:41] jasontedor commented on #23455
@Rahul96553 Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-03-02 13:41] #23455 closed

[2017-03-02 14:04] randreucetti opened #23457 "Slow rise of jvm heap usage on node in cluster"
**Elasticsearch version**: 2.4.1

**Plugins installed**: [analysis-kuromoji, cloud-aws, license, marvel-agent ]

**JVM version**: 1.8.110

**OS version**: ubuntu 14.04

**Description of the problem including expected versus actual behavior**: Hi, I've recently upgrade from elasticsearch 1.7.5 to 2.4.1 however I'm noticing some strange behaviour around the jvm memory on my cluster. All nodes look h

[2017-03-02 14:21] shubhamitc commented on #23429
discovery.zen.minimum_master_nodes=2
Total master = 3
Number of data nodes = 8

Upon restarting the management node we are loosing the dynamic template.

[2017-03-02 14:47] javanna commented on #21980
sorry it took me a while to get to this @karmi , it was just our own parsing code that was lenient, and following the fix I had to fix a bunch of tests too :)

[2017-03-02 14:53] jasontedor commented on #23429
And to be clear, these nodes are not master eligible (`node.master` is set to `false`)?

[2017-03-02 14:55] HonzaKral commented on #21980
Thanks @javanna, this is great news!

[2017-03-02 15:41] cbuescher commented on #23450
Elastic reserves GitHub for bug reports and feature requests but provides a [Discourse forum](https://discuss.elastic.co) and [IRC channels](https://www.elastic.co/community) for general questions. Please open an issue there first if unsure about how to use a feature. To help reproduce your issue, it would also be helpful to provide a full reproduction including mappings and the sample data you us

[2017-03-02 15:41] #23450 closed

[2017-03-02 16:52] chennaraov opened #23461 "Unable to start the 3Node Elasticsearch Cluster named: Development"
![image](https://cloud.githubusercontent.com/assets/19313298/23517541/ae7053c6-ff3e-11e6-9990-242f272cc9fc.png)

**Elasticsearch version**:

**Plugins installed**: []

**JVM version**:

**OS version**:

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1.
 2.
 3.

**Provide logs (if relevant)**:

**Describe the feature**:

[2017-03-02 17:00] shubhamitc commented on #23429
Yes for all data nodes. With zen discovery set for 120 seconds.

[2017-03-02 17:04] jasontedor commented on #23429
Does this reproduce reliably? That is, every time you put the template and do a full-cluster restart, the template is no longer visible via the get template API? Can you provide output that supports this (put, restart, get)?

[2017-03-02 17:06] etay2000 commented on #23340
@cbuescher Sure enough there were shard failures and somehow I missed the IllegalArgumentException("'prefix' or 'regex' must be defined") on the stack, so your fix should definitely take care of it. Thanks for the quick response.

[2017-03-02 17:08] dadoonet commented on #23461
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

And don't paste images even on discuss. I saw you did.

[2017-03-02 17:08] #23461 closed

[2017-03-02 17:24] jan0sch commented on #23443
Thanks for the detailed answer. I actually never ran into a system where `env` was not in `/usr/bin` ;-)

Because of the limitations of `env` under linux I guess that path and argument issues cannot be circumvented which is sad. However it would be great to mention the fact that `bash` is assumed to be available under `/bin` in the readme or docs. Maybe together with the reasons stated here why it

[2017-03-02 17:28] jasontedor commented on #23429
Also, can you clarify which setting you're referring to here?

[2017-03-02 17:58] glycerine opened #23463 "feature request: a way to require index creation from template."
There should be a way to tell elastic search to not create an index without using a template for the mapping.

As we roll to a new index at the start of each day, I like and utilize the "automatic" index creation upon first write to a new index very useful.

However, and this may be subtle: I really, really don't want elasticsearch (ES) to be guessing about the types of fields. I always want it to

[2017-03-02 18:02] shubhamitc commented on #23429
This is conf for data node. .....

discovery.zen.minimum_master_nodes: 2
discovery.zen.ping.timeout: 120s
discovery.zen.ping.multicast.enabled: true
discovery.zen.ping.unicast.hosts: ["10.138.0.5","10.138.0.7","10.138.0.2","10.138.0.3","10.138.0.4"]
node.master: false
node.data: true
cluster.routing.allocation.disk.threshold_enabled: True
cluster.routing.allocation.disk.watermark.low: 30gb
cluster

[2017-03-02 18:16] jasontedor commented on #23463
@glycerine I think that #20640 would meet your requirements. In this case, you would remove the default template that matches "*" that would specify `auto_create_index` set to `true`, and then indices could only be created if they match a template pattern that has `auto_create_index` set to `true`. Do you agree with this? If so, I would like to close this feature request as a duplicate of #20640.

[2017-03-02 18:18] nmjacob commented on #23446
I am new to GitHub public projects, so if possible I would like to make this my first fix on the project. That way I can dip my toe in the water.

[2017-03-02 18:19] jasontedor commented on #23443
This is a good suggestion. I opened #23464.

[2017-03-02 18:30] jan0sch commented on #23443
Looks good. Shall I close this issue and my pull request?

[2017-03-02 18:35] jasontedor commented on #23443
Yes, I think so. Thank you for your understanding. :smile:

[2017-03-02 18:37] glycerine commented on #23463
Hi @jasontedor, thanks for pointing out #20640.

I think that the suggestion works... I'm just trying to piece it all together.

The docs are a little confusing because `auto_create_index` can apparently be either a bool or a string, depending on context. To avoid confusion, I highly recommend using *a new name* for the new setting that goes *inside* the template. i.e. avoid reusing `auto_create_i

[2017-03-02 18:37] #23443 closed

[2017-03-02 18:45] jasontedor commented on #23463
Duplicates #20640

[2017-03-02 18:45] #23463 closed

[2017-03-02 19:20] #3415 closed

[2017-03-02 19:43] markttech opened #23465 "Position of query property in request changes aggs results"
**Elasticsearch version**:
ElasticSearch 5.2.1

**Plugins installed**:
x-pack

**JVM version**:
java version "1.8.0_91"
Java(TM) SE Runtime Environment (build 1.8.0_91-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.91-b14, mixed mode)

**OS version**:
Windows Server 2012 R2 Standard

I am getting different results for aggs when the query property is before or after a term aggs that is using incl

[2017-03-02 20:12] erebus1 commented on #17116
I think you can use dis_max query of 2 function_score queries
https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-dis-max-query.html

[2017-03-02 20:13] erebus1 commented on #17116
But the question about timeline for query_score is really important.

[2017-03-02 20:34] PhaedrusTheGreek opened #23466 "ES fails to start when empty state file exists"
- Tested on ES 5.1.1
- Also related - https://github.com/elastic/elasticsearch/issues/13012

In more than one example, including the referenced Github issue, it seems that a disk failure (under RAID0 in both examples, not sure if the RAID is relevant or not) causes corruption (evidently on _other_ disks in `path.data`) where an empty state file is written.

In the case where that empty state file

[2017-03-02 20:51] jasontedor commented on #23466
The state file is corrupt. We definitely should not ignore it. It needs to be destroyed on this node and recovered from elsewhere.

[2017-03-02 21:07] djschny opened #23467 "Request to add ability to _simulate an existing document(s)"
**Describe the feature**:

With `_ingest` pipelines there is the ability to `_simulate` a pipeline where docs are sent up inline in the request. It would be convenient to also supply document id(s) of existing documents inside Elasticsearch to use for the simulation. We do this today for explain relevancy for example.

I find a lot of folks that are learning pipelines and trying to build them reac

[2017-03-02 21:25] rjernst opened #23468 "SLES image spews errors when starting in vagrant"
It appears we have issues with repositories in our SLES image.

Example run:
https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+packaging-tests/1177/console

Output we see:
[code]

[2017-03-02 22:42] junghoahnsc commented on #22671
We had the same issue with the transport 5.2.1. I tried to use the bridge, but got the same `java.lang.AbstractMethodError` error.

Is there any workaround on this?

[2017-03-02 23:37] jasontedor commented on #22671
I think that this is caused by version mismatches. I would suggest opening a topic on [forum](https://discuss.elastic.co), link to it from here, and I (or someone else from the community) will try to help. Please post as much detail as possible.

[2017-03-03 00:25] vupibi opened #23470 "Mapping with type keyword is still analyzed"
**Elasticsearch version**: 5.2.2

**Plugins installed**: [none]

**JVM version**:
[code]

**OS version**:
CentOS 7

**Description of the problem including expected versus actual behavior**:
Fields should not be analyzed, not working with type : keyword, I still find the record when searching parts of a string

**Steps to reproduce**:
Create New Index, all future message fields in this index shall

[2017-03-03 01:20] vupibi commented on #23470
Okay, I got it...
The query has to be in the following format:
[code]

[2017-03-03 01:20] #23470 closed

[2017-03-03 03:34] jasontedor opened #23473 "Painless lambda tests are failing on JDK 9 build 158"
Many of the Painless tests related to lambdas have started failing since upgrading the CI to JDK 9 build 158 with errors like:

[code]

[2017-03-03 03:39] jasontedor commented on #23473
I pushed commits to mute these tests on JDK 9:

master: 8e09eca9a60b425418bff62ea99eb2659c00d1bf
5.x: f437391e72bc35c15352265d86f3aa8c32bc1333
5.3: ec9c7985c4974e7d69d359a0537fa6cc9343910f

[2017-03-03 03:43] feiTian opened #23474 "Get different results when using term with the same args"
Hi,
I am trying to find out a way do multi-value exact search. But I met a very wired issue. It returns different results if the sequence of args is different.
I am using term to filter:
* {"filter":  {"term": {"ContentMap.gls": [79,194,121]}}}"
* result:
`{"jsonResponse": "{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":4,"max_score":1.0,"hits":[{"_inde

[2017-03-03 03:45] jasontedor commented on #23473
JDK 9 will [enter rampdown phase 2 on 2017-03-16](http://mail.openjdk.java.net/pipermail/jdk9-dev/2016-October/005092.html) (March 16, 2017); after that point, only show-stopping bugs will be fixed so we should try to understand the situation here as soon as possible in case there's an issue within JDK 9.

[2017-03-03 03:54] dadoonet commented on #23474
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2017-03-03 04:08] feiTian commented on #23474
https://discuss.elastic.co/t/get-different-results-when-using-term-with-the-same-args/77255/2

[2017-03-03 07:42] dadoonet commented on #23474
I misread your issue. Sorry.
I'm reopening.

[2017-03-03 08:04] nilabhsagar opened #23476 "Enriching context suggester to work with nested model"
The nested model presents great capability, however when it comes to context suggestion on nested model, presently there is no way to provide nested fields as context. Because of this limitation user has to manually construct and index context values. Also, To retain the hierarchical relation these context values need to be indexed as a separate type. This increases complexity and maintenance effo

[2017-03-03 10:41] rjernst commented on #23473
We understand what is going on: java made lambda factory less lenient (http://hg.openjdk.java.net/jdk9/jdk9/jdk/rev/4be3ef759ead). @jdconrad is working on a fix to add additional bridge methods to compensate when necessary.

[2017-03-03 11:38] nivrozen opened #23477 "Wrong sum aggregation result elastic 5.2"
**Elasticsearch version**:
5.2
**Plugins installed**:
[x-pack]

**JVM version**:
java version "1.8.0_65"
Java(TM) SE Runtime Environment (build 1.8.0_65-b17)
Java HotSpot(TM) 64-Bit Server VM (build 25.65-b01, mixed mode)

**OS version**:
CentOS Linux release 7.2.1511
**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:

I have the following query whic

[2017-03-03 13:13] eirc opened #23479 "Snapshoted indices data (disk space & more)"
**Describe the feature**:

What I really need is a way to tell how much disk space is used up by specific indices on snapshots.

Currently there is no way to get any statistics on the disk space used by snapshots except for directly querying the snapshot repository's filesystem. This is even more obscure on 5.0 where indices are not stored in folders with the index name but instead using an ID.

T

[2017-03-03 13:15] dadoonet commented on #23474
Closing as per answer on discuss by @ywelsch.

[2017-03-03 13:15] #23474 closed

[2017-03-03 14:18] nik9000 commented on #16314
I'm about half way through a large change that should separate the two somewhat. The goal is to provide a framework for further separation rather than accomplish all the separation that we want in one go.

[2017-03-03 14:49] dadoonet opened #23480 "Getting all snapshots with a secondary only azure repository takes a long time"
**Elasticsearch version**: 5.2.1
**Plugins installed**: `repository-azure`

I created an azure storage account with [Read-access geo-redundant storage (RA-GRS)](https://docs.microsoft.com/en-us/azure/storage/storage-redundancy#read-access-geo-redundant-storage).
Then I configure `elasticsearch.yml` with:

[code]

Then:

[code]

This takes less than a second.

[code]

This takes something like 5 mi

[2017-03-03 14:50] ajaybhatnagar opened #23481 "Dynamic Mapped index creation fails with cluster stats data."
ES-Version **5.1.1**:

Plugins **x-pack**: []

**JVM version**:   1.8.0_121-b13

**OS version**: 4.4.0-57-generic

**Description of the problem including expected versus actual behavior**:
If an index is created with dynamic mapping using the stats data collected   with command:
curl -XGET 'http://localhost:9200/_cluster/stats?human&pretty'
it fails with following error:
"root_cause" : [
{"type" :

[2017-03-03 15:08] neogeo commented on #2318
At the very least, the [documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-aliases.html#deleting) should be updated to mention this unexpected behavior. It looks like a lot of people find this out by  trial and error.

[2017-03-03 17:30] wboult opened #23482 "No inner hits returned when nested query inside dismax query (v5)"
**Elasticsearch version**:
5.2.1
**Plugins installed**: []
**JVM version**:
1.8
**OS version**:
NAME="Amazon Linux AMI"
VERSION="2016.09"
ID="amzn"
ID_LIKE="rhel fedora"
VERSION_ID="2016.09"
PRETTY_NAME="Amazon Linux AMI 2016.09"
ANSI_COLOR="0;33"
CPE_NAME="cpe:/o:amazon:linux:2016.09:ga"
HOME_URL="http://aws.amazon.com/amazon-linux-ami/"
Amazon Linux AMI release 2016.09

**Description of the prob

[2017-03-03 20:12] macks22 commented on #16551
+1

[2017-03-03 21:36] isapir opened #23484 "Windows service installer fails with ES_JAVA_OPTS Heap Size Settings"
**Elasticsearch version**: 5.2.2

**Plugins installed**: []

**JVM version**: 1.8u121

**OS version**: Windows 2008R2

**Description of the problem including expected versus actual behavior**:
Trying to set Java heap size via the Environment Variable `ES_JAVA_OPTS` fails with an error message "duplicate min heap size settings found"

The problem is that `%ES_HOME%\config\jvm.options` is read, incl

[2017-03-03 21:39] isapir commented on #23484
@jasontedor 👆

[2017-03-03 22:01] #23480 closed

[2017-03-03 22:02] dmitrygrig commented on #19987
Thanks cyrilcyril70! works like a charm!

BTW I have tried it out locally and found out that the problem occurs due to settings of transport host/tcp.port.
configuration can be reduced to
`transport.host: localhost
transport.tcp.port: 9300
http.port: 9200
network.host: 0.0.0.0`

[2017-03-04 07:15] peterleonardlie commented on #23446
Hi, I've changed the maximum chink size from 64MB to 256MB

[2017-03-04 07:33] bittusarkar commented on #23251
Thank you for the pointers @bleskes. We're running on VMs and have set `ES_HEAP_SIZE` to `14g` and `ES_HEAP_NEWSIZE` to `4g` on all data nodes. Do you suspect the value of `ES_HEAP_NEWSIZE` is too high?

[2017-03-04 07:42] dadoonet commented on #23446
Thanks @peterleonardlie for your PR but @nmjacob said first that he would like to contribute to the project.

So if you don't mind, I'd like that he starts the effort with our help.
Do you mind closing your PR and take another one like https://github.com/elastic/elasticsearch/issues/23448 to contribute?

Thanks!

[2017-03-04 08:10] phile314-fh opened #23486 "ES doesn't start when there are empty cgroup controller names in '/proc/self/cgroup'"
**Elasticsearch version**: 5.2.2

**Plugins installed**: []

**JVM version**: 8u122

**OS version**: Linux

**Description of the problem including expected versus actual behavior**:
The OS Probe Regex fails if there is a cgroup entry with no controller and crashes. Example ``/proc/self/cgroup`` (see last line):
<pre>
8:net_cls:/
7:devices:/user.slice
6:pids:/user.slice/user-1000.slice/session-3.sc

[2017-03-04 11:05] peterleonardlie commented on #23446
sure no problem! im sorry for starting it then, because i see nothing happened after a day :)

[2017-03-04 11:54] peterleonardlie commented on #23448
I would like to take try to fix this issue :)

[2017-03-04 11:59] dadoonet commented on #23448
All yours! ;)

[2017-03-04 12:12] peterleonardlie commented on #23448
hi @dadoonet I'm kinda new to this,
i know we have to change the dependencies in elasticsearch/plugins/repository-azure/build.gradle
what is the branch i have to use? master? or there is other branch?

[2017-03-04 12:53] dadoonet commented on #23448
Master. We do the backport if needed.

[2017-03-04 13:30] jasontedor commented on #23486
Thanks for the report @phile314-fh and sorry for the issue. I'll put together a fix soon. What Linux distribution are you using (including version, and kernel version)? Would you share the output of `/proc/cgroups` and `mount | grep cgroup`?

[2017-03-04 14:06] jpountz commented on #23477
This is the expected result. It puts documents into buckets and for each bucket sums up the values of the  `histogram_timedoc_count22` field. Elasticsearch does not know about the `histogram_time_distribution` sub objects, it indexes the document as a flat data-structure.

To achieve your goals, you would have to model your documents differently.

[2017-03-04 14:06] #23477 closed

[2017-03-04 14:28] jpountz commented on #23457
Could you try to get a heap dump when the memory is full?

[2017-03-05 02:07] tegyud opened #23487 "NPE when field index turned off with scaled_float type"
**Elasticsearch version**: 5.2.2
**Plugins installed**: []
**JVM version**: openjdk 1.8.0_121
**OS version**: Ubuntu 16.04

**Description of the problem**:
Turned off the indexing of one scaled_float field in my mapping and in Kibana the index pattern broke after refreshing the fields.
The result of it in Discover view are these errors: Saved "field" parameter is now invalid. Please select a new f

[2017-03-05 14:26] martijnvg commented on #23482
@wboult Thanks for reporting this. Inner hits are indeed not working when nesting it under `dis_max` query.

[2017-03-05 14:29] kunal642 commented on #22573
i would like to work on this enhancement starting today.

[2017-03-05 18:31] firstprayer commented on #23430
Interested in picking up this task.

@clintongormley Do you have any code pointer on where should I start? As a newbie I'm not very familiar with the whole architecture of ES

 ![newbie](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0THiET0wh-D4plYx6OvBwew2GYdBQpgDwPQfoiLkOcmRJ11MDhI0LF3tRxg)

[2017-03-05 18:40] firstprayer commented on #23363
What does "exposing" mean? My understanding is exposing them as those in https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-tokenizers.html, basically allowing users to specify these 2 as the tokenize for their documents, but I'm not sure - can you clarify?

Also - I'm very interested in taking up this one but I'm still new to ES. Any code pointer as starting point would be n

[2017-03-05 19:32] firstprayer opened #23488 "Allow multiple similar scores being returned"
Looking through the docs it seems there isn't a way to returning multiple similarity scores for retrieved documents so making the feature requests here (if this is supported please close this issue).

Basically what I want is, when doing the search, returning top-relevant documents based on BM25 score (the default strategy), but in the meantime, also compute other similarity scores for those docum

[2017-03-06 00:28] spati-java commented on #3495
Since the "not" is deprecated , you can use the must not .

POST /my_index/my_type/_search
{
    "filter": {
        "bool": {
            "must_not": [
               {
                   "nested": {
                      "path": "path_to_nested_doc",
                      "query": {
                          "match_all": {}
                      }
                   }
               }

[2017-03-06 00:57] firstprayer commented on #21802
Just did a little dive into the code - I feel like this change is not very easy, because the information of token comes from https://github.com/FasterXML/jackson-core/blob/master/src/main/java/com/fasterxml/jackson/core/JsonToken.java, from where it's already identified as String, not as Boolean, not to mention Boolean_Or_String, which is not defined in the json parser library.

 ![notsure](https:

[2017-03-06 01:14] firstprayer commented on #23487
Same issue can be reproduced with alpha 6.0 . Investigating based on 6.0 now.

 ![gogogo](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbkb7vLPaXroW9AddRdfu34XPEfIi_N2e18TCFYaE7Xt6W4dbt46pdbDo)

[2017-03-06 01:34] nmjacob commented on #23446
Forgive me for my ignorance, but I just submitted a pr to fix this. Do I need to link it to the issue in any way? Sorry about the delay getting the fix done.

[2017-03-06 07:24] phile314-fh commented on #23486
Kernel: Linux nixos 4.9.9 #1-NixOS SMP Thu Feb 9 07:08:40 UTC 2017 x86_64 GNU/Linux
systemd: 232
Distribution: NixOS 17.03

``/proc/cgroups``:
<pre>
#subsys_name	hierarchy	num_cgroups	enabled
cpuset	1	1	1
cpu	2	1	1
cpuacct	2	1	1
blkio	5	1	1
memory	3	1	1
devices	7	38	1
freezer	4	1	1
net_cls	8	1	1
pids	6	43	1
</pre>

``mount | grep cgroup``:
<pre>
tmpfs on /sys/fs/cgroup type tmpfs (ro,nosuid,nodev,

[2017-03-06 09:29] lemonlinger opened #23490 "Cannot delete watchers when using basic license"
I know that the watcher function cannot be used under the basic license.
Now I want to delete a watcher created when using trial license. However, I failed to do this.
Get the followed response from my elasticsearch host:
`{
  "error": {
    "root_cause": [
      {
        "type": "security_exception",
        "reason": "current license is non-compliant for [watcher]",
        "license.expired.fea

[2017-03-06 12:20] rkalhans commented on #20392
Hello,

I tested this in ES 2.4.4 and I can still see this issue.
Here is my query
[code]
**Highlighting working here**

![highitingworking](https://cloud.githubusercontent.com/assets/5341933/23609530/7e2dda2c-0294-11e7-9762-731b1523dc25.PNG)

**Highlighting not working here**

![notworking](https://cloud.githubusercontent.com/assets/5341933/23609531/80776a78-0294-11e7-9809-7a82a41c2b62.PNG)

**Se

[2017-03-06 12:51] rkalhans opened #23492 "Highlighting is not working with function score query and querystring with wild-card"
**Elasticsearch version**:**2.4.4**

**Plugins installed**: []

**JVM version**:**java-8**

**OS version**:**Windows**

**Description of the problem including expected versus actual behavior**:

**Highlighting working without function score query**
![highitingworking](https://cloud.githubusercontent.com/assets/5341933/23610593/0eb3474a-0299-11e7-8ef6-0851b0af1848.PNG)

**Highlight broken with func

[2017-03-06 13:33] kimegede commented on #21162
@s1monw I had the same issue, and the `plugin.path` did exist in my case, so I wasn't sure where the problem were.
Afterwards I uninstalled elasticsearch and removed config files & folders and installed it again.
Then it seemed to have some issues, with my previous data, which I could easily delete locally - so I did and restarted elasticsearch and that made it work.

[2017-03-06 15:17] akefallonitis opened #23494 "Elasticsearch 5.2.2 on low cpu memory optimization"
I installed elasticsearch 5.2.2 on arm raspberry pi3 and i have 100% all cpus. Except max memory , shards and rellocation is there any other settings to apply for low resources machines? Eg threads and max cpu cores or something else as optimization? Thanks in advanced for help

[2017-03-06 15:19] jasontedor commented on #23486
Okay, I wanted to ensure it was only because the cgroup version 2 hierarchy was mistakenly accounted for and that's exactly what is happening here. I opened #23493.

[2017-03-06 15:20] jasontedor commented on #23494
Elastic provides a [forum](https://discuss.elastic.co) for asking general questions and instead prefers to use GitHub only for verified bug reports and feature requests. There's an active community there that should be able to help get an answer to your question. As such, I hope you don't mind that I close this.

[2017-03-06 15:20] #23494 closed

[2017-03-06 16:08] dinilv opened #23495 "Getting Exception in Scripted Update"
**Elasticsearch version**:
5.2
**Plugins installed**: []

**JVM version**:

**OS version**:

**Description of the problem including expected versus actual behavior**:

**Steps to reproduce**:
 1. Trying to run an update with sripts on nested loop and getting illegal argument exception
 2.
 3.

**Provide logs (if relevant)**:

**Describe the feature**:

		script := elastic.NewScript("ctx._source.of

[2017-03-06 16:16] moodysalem commented on #23331
Could you make it a short term goal to pull out the model objects (e.g. SearchSourceBuilder, QueryBuilders) into their own maven module?

Right now the existing REST client, Jest, suggests [adding the transport module as a dependency](https://github.com/searchbox-io/Jest/tree/master/jest#searching-documents) to use these request objects/builders, which in my case adds 20mb to my otherwise <10mb bu

[2017-03-06 18:18] gkozyryatskyy opened #23496 "No source field in org.elasticsearch.search.suggest.completion.CompletionSuggestion.Entry.Option"
**Elasticsearch version**: 5.2.1
**Elasticsearch transport client version**: 5.2.1

**Description of the problem including expected versus actual behavior**:
Completion suggestion responses have a `_source` field (suggest.{name}.options._source)
Example:

[code]

But `org.elasticsearch.search.suggest.completion.CompletionSuggestion.Entry.Option` have no `source()` method or `source` field. How can

[2017-03-06 19:19] cbuescher commented on #23496
Elastic reserves GitHub for bug reports and feature requests. Please use the [Discourse forum](https://discuss.elastic.co) or [IRC channels](https://www.elastic.co/community) for general questions like this in the future. Regarding your question: try `option.getHit().getSource()` (or any other of the getSource*() methods)

[2017-03-06 19:19] #23496 closed

[2017-03-06 19:38] markttech commented on #23465
This was fixed in 5.2.2 according to my coworker who retested the issue for me.

"Removal of an undocumented syntax for include/exclude parameters in the terms aggregation broke certain aggregations in Kibana."

[2017-03-06 19:38] #23465 closed

[2017-03-06 19:55] gkozyryatskyy commented on #23496
@cbuescher Just thought there is no way to retrieve the source (then it would be a bug) and was confused with json\object structure. Thank you for your help.

[2017-03-06 22:12] #23486 closed

[2017-03-06 22:28] dakrone commented on #23467
Instead of adding a new endpoint, this could possibly reuse the existing `/_validate` endpoint, perhaps as `/_validate/ingest/{pipeline-id}` with a document.

[2017-03-06 22:41] dakrone commented on #23356
@jimczi I think this is resolved by your PR, is that correct?

[2017-03-06 22:47] jasontedor commented on #23468
Closed by 0a2aa0a8c4578ddee5c1e92cb67b1ad302c110d3

[2017-03-06 22:47] #23468 closed

[2017-03-07 00:01] ashitpupu commented on #17580
Is there any solution to this issue ?? I am encountering the same issue don't know how to proceed.
If any solution please suggest . Using ES 2.3.3 , error started to happen once I have updated my tokenizer to Ngram tokenizer.
Please let me know if any solution available.

[2017-03-07 05:15] tvernum commented on #23490
Elastic provides a [forum](https://discuss.elastic.co) for asking these sorts of questions and prefers to use GitHub only for verified bug reports and feature requests.

I'd suggest that you check the list of enhancements/bug fixes in the [X-Pack release notes](https://www.elastic.co/guide/en/x-pack/current/xpack-release-notes.html) and if that doesn't resolve your issue, ask again on [discuss](ht

[2017-03-07 05:15] #23490 closed

[2017-03-07 06:26] sss13579 commented on #17580
It has been fixed in version 2.4.2

[2017-03-07 07:33] dinilv commented on #23495
__Not an issue

[2017-03-07 07:33] #23495 closed

[2017-03-07 08:52] vanga commented on #23457
@randreucetti can you confirm if the node that is behaving this way is the client node? i.e the node to which you make requests?

I see a similar issue
https://discuss.elastic.co/t/heap-usage-of-client-node-is-continuously-increasing-as-i-run-queries/77032

[2017-03-07 08:56] vanga commented on #23457
Actually, in my case, it doesn't go past 75-80% mark, as the old GC is run, heap is reclaimed. Your issue may be different.
Looking at fielddata/request cache metrics might help I think.

[2017-03-07 09:21] speedplane commented on #23199
I just hit this error again, below is the output of `_cluster/allocation/explain?pretty`. It looks like I'm getting a `ShardLockObtainFailedException` error.

[code]

[2017-03-07 09:57] Uninen opened #23498 "Installation from deb fails on Ubuntu 16.04"
**Elasticsearch version**:

5.2.2

**Plugins installed**: []

[]

**JVM version**:

openjdk version "1.8.0_121"
OpenJDK Runtime Environment (build 1.8.0_121-8u121-b13-0ubuntu1.16.04.2-b13)
OpenJDK 64-Bit Server VM (build 25.121-b13, mixed mode)

**OS version**:

Ubuntu 16.04

**Description of the problem including expected versus actual behavior**:

Installation gives an error and while binaries a

[2017-03-07 11:54] tipuban commented on #21101
+1 to allowing default pipelines indices.
Ideally you would also be able to specify on what type of operation the pipeline would be run: insert-time, update or both.

[2017-03-07 12:04] cristimagda commented on #21101
+1 It would be very useful.

[2017-03-07 12:57] dadoonet commented on #23366
Upstream issue has been fixed. Thanks to @dakrone for the patch. It's planned for Lucene 6.5 and 7.0.

[2017-03-07 13:50] portante commented on #1873
@ywelsch, @clintongormley, is this issue going to be addressed for 2.4.x any time soon?  Is this issue a problem with 5.x?

[2017-03-07 13:58] jasontedor commented on #23498
As we test installation of the Debian package on Ubuntu 16.04 as part of our packaging tests, I think that this is something that is specific to your system rather than a bug in the packaging. I think their are culprits to check; in my mind SELinux would be the first culprit to check. You could also try installing the Debian package with the environment variable `ES_SKIP_SET_KERNEL_PARAMETERS` set

[2017-03-07 13:58] #23498 closed

[2017-03-07 15:22] lukas-vlcek commented on #1873
@portante I just tested with ES `v5.2.2` and I am able to replicate this issue.

[2017-03-07 17:16] abeyad commented on #23199
@speedplane it looks like the same issue as before, where resources on the shard were not cleared in time for the allocation to take place on the node after it rejoined the cluster.  It can be remedied with the same command which @ywelsch gave earlier:
[code]

But the larger issue to address is why you repeatedly run into the `ShardLockObtainFailedException`.  It likely signals some longer running

[2017-03-07 17:38] jimczi commented on #23356
Right, this issue was not close automatically because I used "relates" instead of "closes" in the commit message.
Thanks @dakrone

[2017-03-07 17:38] #23356 closed

[2017-03-07 17:47] vanga opened #23499 "Old GC pool is increasing continously with number of requests"
**Elasticsearch version**:
5.2.2
**Plugins installed**: [mapper-murmur3, ec2-discovery, s3-repository, x-pack]

**JVM version**:
openjdk version "1.8.0_121"

**OS version**:
Ubuntu 16.04
**Description of the problem including expected versus actual behavior**:
Heap usage is continuously increasing as I run queries with scripts, which is causing frequent old GCs. Old GC is clearing most of the heap

[2017-03-07 18:27] searchandanalytics opened #23501 "ES 2.4.0 shard initialization taking more time"
Hello Experts,

**Elasticsearch version**: 2.4.0

**Plugins installed**: [ KOPF, AWS-cloud . s3cmd]
**JVM version**: 1.8

**OS version**: Ubuntu

**Description of the problem including expected versus actual behavior**:
 New stage environment with 5 node (1 Master, 2 Master-data, 2 Data) have 3 indexes with total size around 600 MB. All node restarted after modification in yml file (added path.rep

[2017-03-07 18:29] bleskes commented on #23499
That query is quite complicated so I think it would helpful to try to reproduce with a smaller one. Can you double check it's not the terms agg (the size 10000 is obviously dangerous):

[code]

What happens if you run your script (`latestByTimeStamp__f7BedzrFUQ__test_meta__WMk4jA0bd24 `) as a single top level agg?

[2017-03-07 18:32] bleskes commented on #23501
@searchandanalytics we try to reserve github to issues and feature request. Can you please ask your question at our forums on discuss.elastic.co? if it turns out to be an issue we can come back here. I also suggest you give some more info like logs and the output of the `_recovery` API.

[2017-03-07 18:32] #23501 closed

[2017-03-07 18:33] martijnvg opened #23502 "Add `ignoreMissing` parameter to queries that fetch execute get requests?"
There are a number of queries (`geo_shape`, `percolator` etc.) that potentially use the get api to fetch data in order to run the query. If the document that they need to fetch is missing the entire search fails with an error. I think this is good default behaviour. However there are cases where one might want to ignore this and just ignore the query in question.

I think we should add `ignoreMiss

[2017-03-07 18:39] searchandanalytics commented on #23501
Okay. bleskes.
Just to update here.  _recovery returns blank response and nothing in logs but _tasks returns response as below..
CXveFzvHS-GMv-h-uf4RVA:2083" : {
          "node" : "CXveFzvHS-GMv-h-uf4RVA",
          "id" : 2083,
          "type" : "netty",
          "action" : "internal:discovery/zen/publish",
          "start_time_in_millis" : 1488870873680,
          "running_time_in_nanos" : 4

[2017-03-07 19:21] acarstoiu opened #23504 "Searching for children without parents"
**Elasticsearch version**: 2.4.3

Given a pair of parent and child entities, already populated within an index, I would like to obtain all child entities whose parent is missing (for whatever reasons, e.g. due to bugs). If I execute
[code]
I get all existing children. Hmm.. what if I submit this query:
[code]
I get **_again_ all existing children**. Regardless of how you interpret an empty `query`

[2017-03-07 21:31] wboult commented on #23366
Hi, I just noticed this issue too and found my way here. I'm looking at the [Lucene fix](https://issues.apache.org/jira/browse/LUCENE-7712 ) and it seems consistent with the Lucene implementation of [fuzziness for Query String](http://lucene.apache.org/core/6_4_2/queryparser/org/apache/lucene/queryparser/classic/package-summary.html#Fuzzy_Searches) which uses an edit distance of 2 by default.
Howe

[2017-03-07 22:44] nikpanos opened #23505 "GetResponse.toString method throws exception"
Elasticsearch version: 5.2.2
JVM version: 1.8
OS: Windows 10
I am able to reproduce the bug on all 5.2.x versions of client transport library.

I have a GetResponse object which i want to display in console by calling the toString method. It throws the following exception:
Error building toString out of XContent: com.fasterxml.jackson.core.JsonGenerationException: Can not start an object, expectin

[2017-03-07 22:59] astefan opened #23506 "Support for accessing Azure repositories through a proxy"
Consider adding support for accessing an Azure snapshot repository through a proxy. At the moment, the only closely related option is to use `https.proxyPort/Host` java options, which are ignored for this type of Azure access.

[2017-03-08 01:47] vanga commented on #23499
@bleskes that query results in about 110 terms. And, based on testing, removing the reduced script made a significant difference.
Do you still think it's because of the aggregation?

I will check this

[2017-03-08 03:20] seang-es opened #23507 "Update using index aliases"
I have a scenario where I create monthly indexes, the latest 12 month are referred by an alias (current_month).

We have a scenario where we may need to update certain documents.

We will know the _id value before-hand, and know the update field, but will not know in which monthly index the document is available.

Is there a way to update the document just by referring the alias (current_month).

[2017-03-08 04:30] dakrone commented on #23366
@wboult that sounds like a different (but good to handle!) issue, I think that might warrant a different Lucene issue (and a new patch)

[2017-03-08 04:55] dadoonet commented on #23506
We need first to implement #23448 so we will be able to do something like:

[code]

Which [has been added](https://github.com/Azure/azure-storage-java/commit/85ffeb46856f591a65e681a9065cc7a1a356f83c) since v4.2.0.

[2017-03-08 05:57] cbuescher commented on #23505
I can reproduce this, but it should only affect the 5.2.x releases and is already fixed in the next minor version (5.3). In the meantime you can use `org.elasticsearch.common.Strings.toString(getResponse, false)` as a temporary workaround. @javanna do you think there should be a fix on the 5.2 branch in case there is going to be a 5.2.3 release?

[2017-03-08 08:29] jasontedor commented on #23507
I do not think that we should allow this. An alias can point to multiple indices; what if the document ID matches a document in multiple indices behind the alias? It's too confusing to only allow it in situations where this is not the case so I'm against this feature.

[2017-03-08 08:30] jasontedor commented on #23507
Additionally, this is subject to time-of-check-time-of-use problems.

[2017-03-08 09:42] wboult commented on #23366
@dakrone I'm not very familiar with either codebase so might be wrong here but I think it might be elastic rather than Lucene which sets the fuzziness based on term length? I found this commit: https://github.com/elastic/elasticsearch/commit/3a13f54755f78f425a8cc672b5d879593063be7c which seems to  use [this function](https://github.com/elastic/elasticsearch/blob/7560101ec73331acb39a042bde6130e59e4

[2017-03-08 11:15] nomoa opened #23509 "MatchQuery and GraphTokenStreamFiniteStrings can generate too many token streams and causes OOM while parsing"
I'm still investigating the issue but a simple match query can cause the node to die in a gc spiral in certain conditions.
(Note this seems to affect 5.2.x but not 5.1.x)

the test case is here: https://gist.github.com/nomoa/96506d97dc582e79e6ff5c5511a3d702

It triggers the problem by creating an index with a shingle analyzer.
It issues a query with 84 unigrams with a 3grams shingle analyzer and a

[2017-03-08 13:09] vanga commented on #23499
I have tested the query with various sizes
100, 200, 500, 1000, 10000.

Except with 100, all other cases have caused the memory(old gc pool) to increase.

[2017-03-08 15:09] jimczi commented on #23509
@nomoa yes this is expected in 5.2 since we added the support for graph query in this version.

The benefit is that you can have multi-term synonyms like "new york" that must match "new" AND "york" even when occur is set to SHOULD. But I agree that the shingle filter with unigrams is problematic since it creates side paths at every position.
But I agree that we should detect this situation earlier

[2017-03-08 16:33] seme1 commented on #22912
There is another related issue I'm facing. Is it possible to save more than one suggestion and display only one based on a certain attribute I pass to the suggestion engine ?

For example, the author names may be written differently in different languages. I can have the author names saved in different languages within the suggester engine. Based on the current app interface language, I want the s

[2017-03-08 19:16] nknize commented on #21293
I'll update the code for this to show how this can be done in the aggregation. Below is a code snippet for computing the geohash cells for a shape. It can be done for quad tree as well for natural mercator matching.

[code]

I am a little concerned about the complexity inside the aggregation framework.

[2017-03-08 19:18] uschindler commented on #22912
I have a similar problem. The old suggester allowed to attach the "output" to the suggest input term. With the new one, you can no longer correlate the "input" term with the "output" in form of the "_source" document (you would need something like a "highlighter" to do this!). Of course, you can use different suggest fields in parallel (one for each language), but its then still hard to do the rig

[2017-03-08 19:20] uschindler commented on #22912
I would really like to keep the old completion suggester with a different field type (which is possible, otherwise ES could not read old indexes). And my plugin verifies it: I can still use the old suggester with a new field type "legacy_completion". HACK ALARM: I think I should publish it for download!

[2017-03-09 01:37] hassanalip commented on #21102
I am using Linux  x86_64 and I have installed the latest JDK:
echo $JAVA_HOME   --> /usr/java
java -version --> java version "1.6.0_131"

Elasticsearch rpm installed --> elasticsearch-5.2.2-1.noarch

I am still getting the error:
Starting elasticsearch: Exception in thread "main" java.lang.UnsupportedClassVersionError: org/elasticsearch/bootstrap/Elasticsearch : Unsupported major.minor version 52.

[2017-03-09 02:02] dadoonet commented on #21102
@hassanalip It can not work with java 6.

[2017-03-09 03:29] hassanalip commented on #21102
Thanks for pointing that out. I am still getting the same error when I installed Java 8 and modified the init.d/elastcisearch file to explicitly point to java 8. I am attaching the snippet from the start up script and the output that I get when I try to run Elasticsearch:
================= elasticsearch startup script============================
checkJava() {
    if [ -x "$JAVA_HOME/bin/java" ]; t

[2017-03-09 03:39] hassanalip commented on #21102
Thanks Dadoonet.
There were multiple java versions installed on the system and even when I had change the elasticsearch script to manually set the JAVA_HOME it was not picking up the correct one. I had to go into update-alternatives to pick the correct java version

[2017-03-09 04:40] dforste opened #23515 "Setting xpack.security.enabled=false does not stop the master from trying to authenticate with tribe node"
When running elasticsearch in docker per the documentation with xpack.security.enabled=false tribe nodes connect to the master and are immediately disconnected.

**Elasticsearch version**:
 Docker image: docker.elastic.co/elasticsearch/elasticsearch:5.2.2
**Plugins installed**: [x-pack]

**Description of the problem including expected versus actual behavior**:
Expected tribe node to be able to con

[2017-03-09 05:47] tonyjames3212 opened #23516 "How can I modify the 'index.max_result_window' again?"
**Elasticsearch version**:5.2.0

**JVM version**:8u121

**OS version**:CentOS6.5

**Description of the problem including expected versus actual behavior**:
I have changed the 'index.max_result_window' to 1,000,000 by this:
[code]
The response:
[code]
Actually, I donot need deep-scroll. So I try to modify the "index.max_result_window" to 10,000,000 and It returns:
[code]
But it is still 1,000,000:

[2017-03-09 07:05] lquerel commented on #15731
@jpountz what is the conclusion?

[2017-03-09 08:47] dadoonet commented on #19737
Should I close it or work on a PR against 6.0 branch?

[2017-03-09 09:53] randreucetti commented on #23457
Hi guys,

Sorry for the late response, after some digging the source of the issue was one of our scripts which wasn't parameterised. Leading to the issue mentioned here:

https://github.com/elastic/elasticsearch/issues/19396

[2017-03-09 09:53] #23457 closed

[2017-03-09 09:54] IanvsPoplicola commented on #22823
Hi @Mpdreamz I'm a newbie here and I'm thinking of making this my first contribution to elasticsearch! Where do you recommend me to start looking for a solution for this issue? Any advice is welcome!

[2017-03-09 09:54] IanvsPoplicola commented on #22768
Hi @javanna is core/src/main/java/org/elasticsearch/index/mapper/TextFieldMapper.java the only file that needs to be changed for this issue?

[2017-03-09 10:20] billscheidel opened #23519 "ElasticSearch 5.2.2 returning different query results than 5.1"
**Elasticsearch version**: 5.2.2

**Plugins installed**: None

**JVM version**:
java version "1.8.0_121"
Java(TM) SE Runtime Environment (build 1.8.0_121-b13)
Java HotSpot(TM) 64-Bit Server VM (build 25.121-b13, mixed mode)

**OS version**: Ubuntu 16.04 64-bit

**Description of the problem including expected versus actual behavior**:

I have a suite of automated tests that I've been running agains

[2017-03-09 11:17] fangqiao commented on #23505
Please do fix this ASAP. I have a production system that dump the getResponse  result as json string to  a custom REST client by relying on this toString method. It caused serious problem.

[2017-03-09 12:32] speedplane commented on #23199
Just happened again, this time within just a few days of the last failure. Tests caught it in production during business hours, so I had to just fix it. Right now (due to completely separate issues) I can't SSH into the servers (ridiculous I know), so I can't grab the logs. I suspect this will happen again, and I'll post whatever logs I can get, but if there are any work-arounds that you can think

[2017-03-09 13:11] mikerev commented on #17179
Elevating IAM permissions for delete rights resolved this issue for me.

[2017-03-09 15:18] jaymode commented on #23515
Adding `tribe.cluster1.xpack.security.enabled: false` should resolve this

[2017-03-09 16:41] dforste commented on #23515
@jaymode Thanks I will try that.

[2017-03-09 17:30] remram44 commented on #12018
I am running into this on Linux. I don't think it is right for elasticsearch to go through that much magic to determine if locking should work. At the very least, I'd expect it to at least *try* to lock rather than exiting with an error "Failed to obtain node lock" although the conditions are right.

[2017-03-09 18:26] DWilches commented on #15876
Same here. Without an alternative to exact cardinality, I have been implementing this as a `terms` aggregation and then counting the results. Of course, just for fields I know have relatively small cardinalities.

[2017-03-09 18:28] dakrone commented on #12018
@remram44 are you running this on linux with no virtualization? without an `/etc/fstab` file? Maybe you can give us more information about your setup.

[2017-03-09 18:50] jasontedor opened #23523 "Multi-search can stack overflow with large batches"
A multi-search request can stack overflow with large batches due to execute search being called recursively as responses are received.

[2017-03-09 18:50] jasontedor commented on #23523
I will work on a fix for this.

[2017-03-09 18:54] remram44 commented on #12018
I'm running from a chroot, so there is no entry in `/proc/mounts` for `/`. Adding some fstab with fake info gives out `ElasticsearchIllegalStateException[Failed to obtain node lock, is the following location writable?: [/var/lib/elasticsearch/elasticsearch]]`

[2017-03-09 18:55] remram44 commented on #12018
Moving the directory I chroot, creating an empty dir where it was and mounting the new location to the old with `mount -o bind`, I can get elasticsearch to start. Tell me again why you need elasticsearch's root to be its own filesystem? Surely if the rest of the world can lock files without it, elasticsearch can manage? Why add so much magic when it will only break things?

[2017-03-09 19:01] ebuildy commented on #20266
Is there any performance impact because of this?

[2017-03-09 19:10] dakrone commented on #20266
@ebuildy it is used to set the number of merge threads, it will default to 1 when not on SSD and 4 when on a SSD, but you can manually set this in `index.merge.scheduler.max_thread_count`

[2017-03-09 19:21] remram44 commented on #12018
[strace log](https://gist.github.com/remram44/1102e9b37f07c058e88e27cf36ff5c7e)

[2017-03-09 19:26] tvernum opened #23524 "Protection or diagnostics for stuck thread pool"
We ran into a situation where the generic thread pool appears to have been filled with tasks that were stuck (perhaps indefinitely).

We were able to submit new tasks (forever, the queue is unbounded) but they weren't ever going to run, and there was no easy way of diagnosing that problem (in code, or via logs)

At the very least something in the logs for "thread pool is overloaded and not progres

[2017-03-09 19:31] jasontedor commented on #23524
What version is this? How many cores did the machine have? What is the stack trace of the stuck tasks? Why is the output of `/_nodes/stats/thread_pool` not enough?

[2017-03-09 19:32] dforste commented on #23515
@jaymode That fixed things up thanks a bunch.

[2017-03-09 19:32] #23515 closed

[2017-03-09 19:37] tvernum commented on #23524
It's 5.2.2

Once we worked out that it was a threadpool issue we were able to diagnose and repair.
The place where we were spinning our wheels was working out that the problematic behaviour we was seeing was caused by thread tasks not executing.

[2017-03-09 20:27] jacktuck commented on #10746
Theres a lot of noise following an issue (I won't make more noise by linking) where deleted documents were not getting filtered out.

I have been having a similar issue where updates to payloads were not propagating and im thinking that is the same issue. Could someone let me know what the state of that is in the current suggester?

Are deletions taken into consideration?
Are updates to payloads t

[2017-03-09 20:47] jacktuck commented on #10746
Never mind found https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking_50_suggester.html

[2017-03-09 20:55] parisamir opened #23525 "Scripted field returns the wrong value from metricbeat"
**Elasticsearch version**: 5.0

**Plugins installed**: []

**JVM version**: 1.8

**OS version**: CentOS

**Description of the problem including expected versus actual behavior**:
The scripted field return wrong value.

**Steps to reproduce**:
 1.Have metricbeat running.
 2.Create a script field from the field "system.cpu.idle.pct" from teh management tab:
doc['system.cpu.idle.pct'].value
 3. Creat

[2017-03-09 21:37] parisamir commented on #23525
The strange fact is if I create my visualization over the "cpu stats" search, the answer is correct!

[2017-03-09 22:25] jpountz commented on #23525
I'm wondering this could be a bug with `getScriptValues` on scaled floats.

[2017-03-09 23:19] #23523 closed

[2017-03-09 23:26] jpountz commented on #23457
Thanks for bringing closure!

[2017-03-09 23:44] i-am-Nathan commented on #21978
Hello! Its been over a month can i still take up this issue and submit a PR?

[2017-03-10 02:32] FrankXia opened #23529 "Reading aggregation cache throw EOFException"
**Elasticsearch version**:
5.1.2

**Plugins installed**: []
Custom plugin for multi-buket aggregation

**JVM version**:
1.8.0_121

**OS version**:
MacOS 10.12.3

**Description of the problem including expected versus actual behavior**:
When aggregation cache is turned on ("size":0), the intermediate multi-bucket aggregation results are written to cache via API call writeTo(StreamOutput out) but wh

[2017-03-10 02:37] mikeurbach commented on #21293
we talked about this at elasticon, it would be an awesome feature that my team would use a lot!

[2017-03-10 02:43] FrankXia opened #23530 "Add APIs to support custom GeoPoint encodings and aggregation"
**Describe the feature**:

Please add an extensible mechanism/API to GeoPoint field mapper so that developers can add their own encodings with the latitude/longitude data and related API to aggregation framework so that those custom encodings could be used for multi-bucket aggregation.

1. The first part of the request is to make it possible for developers to add custom latitude/longitude based en

[2017-03-10 02:52] FrankXia opened #23531 "Polygon aggregation"
**Describe the feature**:

We are requesting a new type of aggregation that would aggregate GeoPoint/GeoShape docs from an index into a multi-bucket return based on a set of polygons from another index.

[2017-03-10 03:34] fernandozhu commented on #22821
Hello there, I'm happy to work on this issue.

[2017-03-10 04:10] dakrone commented on #22621
Hi @njlawton that sounds great, this is labeled as "adoptme" so feel free to tackle it!

[2017-03-10 05:04] silence-liu opened #23532 "I use docker-compose build a es cluster, how to connect it ?"
I used docker-compose build a es cluster and reference official documents。 link:https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html
I found that each of the docker-container Ip are automatically generated, and we are in the same network, we can't connect es cluster, I would like to ask this is because I configuration wrong?

docker-compose.yml 设置：
[code]
visit http://local:

[2017-03-10 05:15] dadoonet commented on #23532
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2017-03-10 05:15] #23532 closed

[2017-03-10 05:25] silence-liu commented on #23532
ok

[2017-03-10 07:27] ppf2 opened #23533 "Inconsistent date math support for reindexing api (source.index vs. dest.index)"
5.2

When running the reindex from remote api, if the source index name(s) are specified without encoding, it will complain about the /.  So for the source, it expects date math support index names to be URI encoded.

[code]

But in the dest section of the reindex from remote api, when specifying URI encoded index names with date math support, it will throw the exception (because it expects the no

[2017-03-10 09:11] zpzkit opened #23534 "why did same text get different _score?"
### _**

**Elasticsearch version*2.3.3*:

**Plugins installed**: [head,ik]

**JVM version*openjdk version "1.8.0_111"*:

**OS version*CentOS release 6.8 (Final)*:

+++++++++++++++++++++++++++++++++++++++++
my mapping：
"mappings": {
  "weixinMedia": {
  "_all": {
  "analyzer": "ik_max_word"
},
  "properties": {
  "mediaScore": {
  "type": "float"
},
  "weixinId": {
  "type": "string"
},
  "pi": {

[2017-03-10 10:18] lukas-vlcek opened #23535 "[doc] Font too tiny for long reading"
Hi,

I don't know if this is just on my side but the online documentation seems to be using quite tiny font face now. IMHO this is step back, especially for people with impaired vision.

Attaching screenshots to compare L&F _yesterday_ vs _today_.

Yesterday:

<img width="1148" alt="screen shot 2017-03-10 at 11 13 17" src="https://cloud.githubusercontent.com/assets/205174/23791344/da444b2a-0582-11

[2017-03-10 10:26] dadoonet commented on #23535
I don't see any difference on my side. Did you change your browser zoom settings to 90% by any chance ?

[2017-03-10 10:27] dadoonet commented on #23534
Please ask this question on discuss.elastic.co where we can give a better support.
This space is only for confirmed issues or feature requests which have been discussed on discuss.elastic.co.

Thanks!

[2017-03-10 10:27] #23534 closed

[2017-03-10 10:47] zpzkit commented on #23534
ok! Thank you for reminding me！

[2017-03-10 10:54] lukas-vlcek commented on #23535
@dadoonet You still see what I call "yesterday" view?
I did not change anything. I had couple of older browser tabs opened with "yesterday" view. After I hit reload the new version come up.

[2017-03-10 10:55] jeantil opened #23536 "multi_match phrase type query seems to ignore shingle filters"
Using the official elasticsearch docker image elasticsearch:5.2.2

Elasticsearch version: 5.2.2
Plugins installed: [] (no plugins installed)
JVM version :
[code]
OS version: MacOS sierra 10.12.2 (16C67)
[code]

**Description of the problem including expected versus actual behavior**:

When using a multi match query of type phrase it looks like query shingling is ignored and every shingle value is

[2017-03-10 11:02] lukas-vlcek commented on #23535
@dadoonet Above screenshots were taken from Chrome. I tried to open online doc in Safari now (which I normally don't use for ES online doc viewing) and I am getting similar tiny font face. So this is probably not result of misconfiguration of particular browser instance.

[2017-03-10 11:07] Vivek-Patil commented on #21872
@jasontedor @clintongormley
I am getting the same error while I am trying to get a document from ES 5.2.2

code snippet:
GetResponse getFields = client.prepareGet(index, esType.getType(), id).get();

Elastic search Client Library version: 5.2.2

Error building toString out of XContent: com.fasterxml.jackson.core.JsonGenerationException: Can not start an object, expecting field name (context: Objec

[2017-03-10 11:21] lukas-vlcek commented on #23535
It is strange, it seems as if `font-weight: 400;` is not applied and `font-weight: 300;` is used instead. I do not know... may be the data for font weight 400 were not loaded?

[2017-03-10 14:09] kika-deploy commented on #19868
same error......can not start cluster

[2017-03-10 16:01] dadoonet commented on #23535
Here is what I'm seeing today on Chrome

![image](https://cloud.githubusercontent.com/assets/274222/23802279/a777f978-0567-11e7-82c3-625d3880e2a4.png)

But as we are using a CDN AFAIK, may be there is some propagation issues?

FWIW I'm going to ping the content team to look at it.

[2017-03-10 16:53] cbuescher commented on #21872
@Vivek-Patil that is already tracked in #23505, and it is fixed in the next minor release. Should only happen on 5.2.x

[2017-03-10 17:06] GuillaumeCisco opened #23537 "search_after -> Failed to parse search_after value for field [__anonymous_date]."
**Elasticsearch version**: 5.2.2

**Plugins installed**: []

**JVM version**:

**OS version**: Linux

**Description of the problem including expected versus actual behavior**:

I was trying the `search_after` option for paginate large **sorted** dataset (>10000) but came across an error I can't explain.

I've got logs object in my elasticsearch storage with fiedls like `@timestamp`, `abs_timestamp

[2017-03-10 19:29] uschindler commented on #23209
This is no rwal limitation, it's only for display purposes. You misunderstood that! Scripts can be longer, of course. It is just that the stack trace would not contain the full painless script as source code where normal classes have the file name. This is just a limitation of the class file format, not arbitrary.

[2017-03-10 19:31] uschindler commented on #23209
Oh sorry, ignore that. It's not the limit in the class file generator.

[2017-03-10 21:21] uschindler commented on #23473
Hi, I have to try out, but the problematic part seems to be here: https://github.com/elastic/elasticsearch/blob/master/modules/lang-painless/src/main/java/org/elasticsearch/painless/FunctionRef.java#L194-L196

This only "fixes" the issue for the return type, but not the parameter types. So it looks like we need to wrap/box also the parameter types. Also we have to take care of the void type!

Ther

[2017-03-10 23:26] jpountz commented on #23530
What would be the benefits of using a different encoding?

[2017-03-10 23:42] jpountz commented on #23531
I think it would work today already if you run a `filters` aggregation against `geo_shape` filters? cc @nknize

[2017-03-10 23:57] jdconrad commented on #23473
@uschindler So, I may be on a different page here, but I believe when I tried the solution you're suggesting here it would no longer allow primitives to be widened, though the LambdaMetaFactory says this:

[code]

[2017-03-11 03:04] CuriousVini commented on #19987
Thanks @cyrilcyril70

[2017-03-11 04:54] egyptianbman commented on #21185
This memory limit **really** needs to be configurable. The limit that's currently in place makes remote reindexing a nightmare. I have one of two options:

Option 1:
Reindex all the indexes with a `size` of 1 to ensure I don't hit this limit. This will take an immense amount of time because of how slow it will be.

Option 2:
Run the reindex with size of 3000. If it fails, try again with 1000. If t

[2017-03-11 05:43] StefanGor commented on #22748
Hi there,
I am interested in picking this one up.
I am new to the project, but as far as I can tell, the only change needed is in [RestClearIndicesCacheAction.java](https://github.com/elastic/elasticsearch/blob/6265ef1c1ba1d308bcc28d00dccccac555e33b89/core/src/main/java/org/elasticsearch/rest/action/admin/indices/RestClearIndicesCacheAction.java) where `REQUEST_CACHE` would be renamed to `REQUEST`

[2017-03-11 14:38] uschindler commented on #23473
Hi,
in my testings with b159 yesterday, I can confirm, its not working as documented. So we should really open a bug! It would be horrible if this stays like this, as the whole Painless Lambdas stop working, unless we reimplement the whole stuff.

I think so. It also refuses to work to box/unbox under certain conditions. It was lkate yesterday, but we should write a bug report and add a test simil

[2017-03-11 14:43] uschindler commented on #23473
In addition the Oracle patch is buggy, see: http://hg.openjdk.java.net/jdk9/jdk9/jdk/rev/4be3ef759ead#l1.54

This line also prevents boxing/unboxing, and that is what I also discovered with your patch. It fails because int.class is not assignable to Integer.class and vice versa. So we have no chance to fix the whole thing at all. I discovered that in my tests yesterday.

[2017-03-11 14:52] uschindler commented on #23473
At least I can confirm: The preview build of Java 8 update 152 is not affected by this. But it is already one month old, so maybe it does not yet contain it!

[2017-03-11 16:05] tylerfontaine opened #23541 "Additional Bootstrap Check for node.max_local_storage_nodes"
**Describe the feature**:

Currently, we don't require a setting for node.max_local_storage_nodes, which defaults to 50, which would allow 50 instances to create sub-directories in a single data path.

In production, an errant script, or simply performing actions out of order could cause a second node to be started, which 1) has the same node name 2) creates this second directory under path.data

[2017-03-11 16:09] dadoonet commented on #23541
The default value is 1 AFAIK.

[2017-03-11 16:09] jasontedor commented on #23541
This part is not accurate, we changed `node.max_local_storage_nodes` in #19964 for 5.0.0 so that it defaults to one.

[2017-03-11 16:09] #23541 closed

[2017-03-11 16:14] tylerfontaine commented on #23541
++ thanks Sorry for noise :)

[2017-03-11 17:52] FrankXia commented on #23531
Yes, I am aware of the solution using geo_shapes as filters. However, the use cases we have are much more complicated and the number of polygons/geo_shapes could be easily over 10s of thousands and even millions.

[2017-03-11 17:59] FrankXia commented on #23530
To visualize geospatial data in a spatial reference system other than WGS84 with a regular grid such as square and hexagon.

[2017-03-11 18:16] uschindler commented on #23473
How about if we let LambdaMetaFactory check and do whatever it wants! Let's just adapt the stuff using asType() on our own. So maybe we just pass the exact signature to the metafactory. We know to which we should adapt and we just do it on our own? For the dynamic case that's easy (DefBootstrap), for the static call to the MetaFactory we have to adapt types in our generated bytecode.

[2017-03-11 19:40] jdconrad commented on #23473
@uschindler I would be very happy with your proposed solution here because it seems like we avoid future problems in LambdaMetaFactory if we do the adaptation on our own.

[2017-03-11 21:10] trevan opened #23546 "Allow marking an index as cold and moving its in-memory items to disk"
This is similar to #10869 but instead of closing/reopening indices, it would be nice to just have it flush its in-memory items to disk.  Looking at the output of /{index}/_segments?verbose=true shows a lot of BlockTreeItems, FST, and postings that are in-memory.  For a really old index, having the ability to reduce its in-memory footprint while still leaving it open would be beneficial.  Going thr

[2017-03-12 00:57] wyzssw commented on #22156
I resove this problem by modify plugin source

plugin-security.policy
[code]

HdfsBlobStore.java  remove
new ReflectPermission("suppressAccessChecks"),
                     new AuthPermission("modifyPrivateCredentials"), new SocketPermission("*", "connect")
[code]

[2017-03-12 01:32] #23185 closed

[2017-03-12 02:28] #23172 closed

[2017-03-12 07:01] CuriousVini commented on #19868
I am also getting the same error.

[2017-03-12 09:07] shunitben opened #23551 "Missing mapping for nested dynamic field results in error "failed to find nested object under path""
**Elasticsearch version**: 2.3.4

**Plugins installed**: none

**JVM version**: java version "1.8.0_65"

**OS version**: Mac OSX el capitan

**Description of the problem including expected versus actual behavior**:

We have items in our system, and each item can have translations. A translation may contain these fields: name, teaser, tags. We have a dynamic list of languages, so we map the transla

[2017-03-12 10:51] SvDvorak opened #23552 "Notconsole-tag evaluates as console"
While going through [getting started documentation](https://github.com/elastic/elasticsearch/blob/5.2/docs/reference/getting-started.asciidoc) I noticed a few issues relating to consoles with NOTCONSOLE-tags. It seems to evaluate as CONSOLE instead and where there is no PUT, POST, GET, etc in the console-text the copy link does nothing. [An example is the first curl call for getting elasticsearch]

[2017-03-12 11:20] hlu725 commented on #23504
Hi,guys. i'd like to fix this bug.
could u give me your test data which can show the bug
thank u

[2017-03-12 16:09] firstprayer commented on #23488
@ncdc @AndrewO @ph @matschaffer @deontologician can anyone with more permission take a look at this? It seems I can't even apply tag on this issue. Please let me know what you guys think of the value of this work - we find it useful, but maybe it can be implemented in a different and better way.

[2017-03-12 17:29] dakrone commented on #23552
@nik9000 I think this might be something you would be interested in.

[2017-03-12 17:41] rjernst commented on #17806
Groovy is removed in master, and this test has been refactored in 5.x.

[2017-03-12 17:41] #17806 closed

[2017-03-12 18:06] s1monw commented on #23546
While this sounds like an appealing idea there are quite a bit of caveats attached to it. Essentially what this request is about is to make opening an index reader in a lazy fashion once it's requested. Yet, if you take a step closer what that means is that we need to load the in-memory datastrucutres once the reader is accessed. Lets say you have 2k lazy indices in your cluster and you call `_sea

[2017-03-12 18:38] trevan commented on #23546
@s1monw, the problem is that the current way to deal with lots of cold indices is to close/open them.  So if I have a custom built auto-opener, then I can still have the issue where lots of indices are opened at the same time and run out of memory.  So I and anyone who would use this feature already have to deal with that case.  Anyone who would use this feature would have to deal with that issue

[2017-03-12 18:41] rjernst commented on #17377
CustomNodeAttributes was actually removed in #19348, which was 5.0.0-alpha5.

[2017-03-12 18:41] #17377 closed

[2017-03-12 18:58] johtani opened #23554 "No error when create index if there are nodes that have files and no files"
**Elasticsearch version**: 5.2.2

**Description of the problem including expected versus actual behavior**:

The situation is below:
* Using mapping_char filter with `mappings_path`, e.g. `fileA.txt`
* Elasticsearch has 2 nodes and a node has `fileA.txt` and another node does not have `fileA.txt`

Then, user can create an index with mapping_char filter if the master node gets the request and has `

[2017-03-12 19:52] cbuescher opened #23555 "CI: GeoHashGridAggregatorTests#testWithSeveralDocs fails reproducibly"
There are some occasional reproducible test failures of GeoHashGridAggregatorTests#testWithSeveralDocs like this one recently:

https://elasticsearch-ci.elastic.co/job/elastic+elasticsearch+master+periodic/2059/console

[code]

I started digging a little and my current suspicion is that if two randomly generated geo points in the same document fall into the same hash cell (more likely with low pre

[2017-03-12 20:44] jpountz commented on #21105
We had a long discussion about this issue yesterday. We want to be able to validate index templates at `PUT` time in all cases, yet template inheritance makes it hard. For instance if a root template is modified, all child templates would need to be validated again. Furthermore, clusters are expected to have a reasonable total number of templates, which means having some duplicate sections in mult

[2017-03-12 21:16] jjbursik opened #23557 "Java API: IndicesOptions.lenientExpandOpen() required index names to contain "*""
**Elasticsearch version**: 5.1.1

**Description of the problem including expected versus actual behavior**:
Using aliases to manage indices used for search, I'm unable to ignore closed indices without specifying a wildcard search char ("*") in the index name.  Here are my sample SearchRequestBuilders that works and doesn't work:

Works:
[code]

Doesn't work:
[code]

I would have expected that I do

[2017-03-12 22:08] lewischen1123 commented on #23554
Interested in picking up this task. i want to have a try thx

[2017-03-12 22:11] nik9000 opened #23558 "Reindex: support script fields"
Right now reindex doesn't do anything special with `script_fields`. It'd be nice if it crammed them into the document being reindexed. This'd make it convenient to generate new fields using doc values. It'd look like:

[code]

That'd create a new index, copying `foo` and adding the field `radish` field. The nice thing about the script for `radish` is that it is the same script as you'd use in `scr

[2017-03-12 22:19] njlawton commented on #23436
Hi I am new to the project. Could I try and tackle this?

[2017-03-12 22:20] nik9000 commented on #20130
I'm going to use https://github.com/elastic/elasticsearch/issues/23558 to track this one.

[2017-03-12 22:20] #20130 closed

[2017-03-12 22:23] dakrone commented on #23436
@njlawton sure! feel free to grab any issue tagged with "adoptme"

[2017-03-12 22:42] nik9000 opened #23560 "Reindex: push execution of sliced requests to data nodes if possible"
Reindex supports [`slice`](https://www.elastic.co/guide/en/elasticsearch/reference/current/docs-reindex.html#docs-reindex-automatic-slice) to parallelize it's process. If you pick the appropriate number of slices then it'd be possible to move execution of the entire slice from the coordinating node to the data node. This should save some network traffic.

[2017-03-12 22:46] mortonsykes commented on #18515
Hi all ,
I am new to ElasticSearch and I am interested in picking this one up.

[2017-03-12 22:49] lewischen1123 commented on #16671
i want to pick it up and have a try thx

[2017-03-12 23:12] s1monw commented on #23546
I disagree on this statement. Lemme explain, when you open / close an index that is and admin like operation that isn't executed by accident and it also won't apply wildcards. It's also executed by a privileged user (I hope) such that there is more control over this in general. Yet, if we allow this to be executed by `_search` or some index patterns that expand to those lazy indices can be done by

[2017-03-12 23:22] #23482 closed

[2017-03-12 23:29] AdityaJNair commented on #17853
Hey do you mind if we can have a go at this issue?

[2017-03-12 23:34] jasontedor commented on #17853
There's an open PR to address this issue.

[2017-03-12 23:51] nik9000 commented on #23552
Thanks. I'll see about u breaking this.

[2017-03-13 00:04] nik9000 commented on #18515
Sure! I'm not 100% sure this is a reindexing issue as much as it is an
indexing issue. But you can figure that out as you work on it.

On Sun, Mar 12, 2017, 3:46 PM mortonsykes <notifications@github.com> wrote:

[2017-03-13 00:10] i-am-Nathan commented on #23268
Hi can I give this one a shot if it is still there?

[2017-03-13 00:19] nik9000 commented on #22748
I think that sounds about right. Probably worth adding another rest test
and you'll have to fix the rest tests that use the deprecated parameter so
they don't fail.

On Fri, Mar 10, 2017, 9:43 PM Stefan Gorgiovski <notifications@github.com>
wrote:

[2017-03-13 00:28] rjernst commented on #12896
The plugin manager was completely rewritten since creating this issue. It still uses `new URL`, but only in the case that a URL is passed in (in which case the plugin id is not a builtin plugin or a maven identifier).  We need URL because we need to open a connection; URI only has information about the URI, but you still need to call toURL() to get something that can open a connection.

[2017-03-13 00:28] #12896 closed

[2017-03-13 00:31] rjernst commented on #13096
The static list of plugins has already been removed from the plugin installer a while ago, as well as from the build. The only remaining place is in the smoke tester, so there is one last cleanup needed for this issue.